Repository thirdweb-dev/js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thirdweb-dev/platform, @thirdweb-dev/devrel, @thirdweb-dev/product, @jnsdls, @joaquim-verges

.github/CODEOWNERS:

# Order is important; the last matching pattern takes the most precedence.

# Platform team owns everything by default

* @thirdweb-dev/platform

# Devrel owns all markdown files (README etc.)

*.md @thirdweb-dev/devrel
.changeset/

# Shared ownership of the react and react-core packages

packages/react/ @thirdweb-dev/product @thirdweb-dev/platform
packages/react-core/ @thirdweb-dev/product @thirdweb-dev/platform

# Shared ownership of the CLI

packages/cli/ @thirdweb-dev/product @thirdweb-dev/platform

# Chains is owned specifically by jonas for now

packages/chains/ @jnsdls

# .github folder + .changeset + turbo config is owned by joaquim and jonas for now

.github/ @jnsdls @joaquim-verges
.changeset/config.json @jnsdls @joaquim-verges
turbo.json @joaquim-verges @jnsdls

prep for email wallet headless
  packages/wallets/src/evm/connectors/email/index.ts
  packages/wallets/src/evm/connectors/email/types.ts
Owners: @thirdweb-dev/platform

feat: Add Token + Marketplace Details to Contract Overview (#880)
  constants/currencies.ts
  contract-ui/tabs/listings/components/listing-stats.tsx
  contract-ui/tabs/listings/page.tsx
  contract-ui/tabs/overview/components/MarketplaceDetails.tsx
  contract-ui/tabs/overview/components/NFTDetails.tsx
  contract-ui/tabs/overview/components/PermissionsTable.tsx
  contract-ui/tabs/overview/components/TokenDetails.tsx
  contract-ui/tabs/overview/page.tsx
  contract-ui/tabs/tokens/components/supply-layout.tsx
  contract-ui/utils.ts
Owners: @thirdweb-dev/platform

RPC support for email wallets
  packages/wallets/src/evm/connectors/device-wallet/index.ts
  packages/wallets/src/evm/connectors/email/index.ts
  packages/wallets/src/evm/connectors/email/types.ts
  packages/wallets/src/evm/wallets/email-wallet.ts
Owners: @thirdweb-dev/platform

auto-verify where possible (#896)
  components/cmd-k-search/index.tsx
  components/contract-components/contract-deploy-form/built-in-contract.tsx
  components/contract-components/contract-deploy-form/custom-contract.tsx
  contract-ui/components/solidity-inputs/helpers.ts
  contract-ui/components/solidity-inputs/index.tsx
  contract-ui/tabs/claim-conditions/components/snapshot-upload.tsx
  contract-ui/tabs/code/components/code-overview.tsx
  contract-ui/tabs/nfts/components/airdrop-upload.tsx
  contract-ui/tabs/nfts/components/mint-form.tsx
  contract-ui/tabs/sources/page.tsx
  lib/ens.ts
  middleware.ts
  pages/[profileAddress]/index.tsx
  pages/api/ens/[ens].ts
  pages/api/og/contract.tsx
Owners: @thirdweb-dev/platform

Add embed support for any evm (#895)
  components/configure-networks/Form/RemoveButton.tsx
  components/ipfs-upload/dropzone.tsx
  constants/rpc.ts
  contract-ui/tabs/embed/components/embed-setup.tsx
  pages/dashboard/storage.tsx
Owners: @thirdweb-dev/platform

Add optional parsing function
  packages/sdk/src/evm/common/transactions.ts
  packages/sdk/src/evm/core/classes/erc-721.ts
  packages/sdk/src/evm/core/classes/transactions.ts
  packages/sdk/src/evm/types/transactions.ts
Owners: @thirdweb-dev/platform

small fixes
  packages/sdk/src/evm/core/classes/contract-deployer.ts
  packages/sdk/test/evm/tiered-drop.test.ts
Owners: @thirdweb-dev/platform

Jonas/ftd 1409 (#897)
  components/contract-components/import-contract/index.tsx
  components/custom-contract/contract-header/contract-metadata.tsx
  components/custom-contract/contract-header/metadata-header.tsx
  pages/[profileAddress]/index.tsx
  pages/_app.tsx
Owners: @thirdweb-dev/platform

Fix failed to construct URL (#899)
  contract-ui/tabs/embed/components/embed-setup.tsx
Owners: @thirdweb-dev/platform

Export useGnosis hook from react
  .changeset/dull-cooks-develop.md
  packages/react/src/evm/index.ts
Owners: @thirdweb-dev/product, @thirdweb-dev/platform

wc v2 working without autoconnect
  package.json
  packages/chains/src/index.ts
  packages/react-core/package.json
  packages/react-core/src/core/constants/wc.ts
  packages/react-core/src/core/hooks/wallet-hooks.ts
  packages/react-core/src/core/providers/thirdweb-provider.tsx
  packages/react-core/src/core/providers/thirdweb-wallet-provider.tsx
  packages/react-core/src/index.ts
  packages/react-native/src/evm/index.ts
  packages/react-native/src/evm/providers/full.tsx
  packages/react-native/src/evm/providers/thirdweb-provider.tsx
  packages/react/src/wallet/ConnectWallet/ConnectWalletFlow.tsx
  packages/react/src/wallet/ConnectWallet/ConnectedWalletDetails.tsx
  packages/react/src/wallet/hooks/useInstalledWallets.ts
  packages/wallets/package.json
  packages/wallets/src/core/types/dAppMeta.ts
  packages/wallets/src/evm/connectors/wallet-connect/index.ts
  packages/wallets/src/evm/wallets/base.ts
  packages/wallets/src/evm/wallets/coinbase-wallet.ts
  packages/wallets/src/evm/wallets/wallet-connect.ts
  yarn.lock
Owners: @thirdweb-dev/platform, @jnsdls, @thirdweb-dev/product

cleanup
  packages/react-core/src/core/providers/thirdweb-wallet-provider.tsx
Owners: @thirdweb-dev/product, @thirdweb-dev/platform

react: add search in NetworkSelector
  packages/react/src/components/formElements.tsx
  packages/react/src/wallet/ConnectWallet/NetworkSelector.tsx
Owners: @thirdweb-dev/product, @thirdweb-dev/platform

Update all ERC721 with transaction pattern
  packages/sdk/src/evm/common/transactions.ts
  packages/sdk/src/evm/core/classes/drop-claim-conditions.ts
  packages/sdk/src/evm/core/classes/erc-721-batch-mintable.ts
  packages/sdk/src/evm/core/classes/erc-721-burnable.ts
  packages/sdk/src/evm/core/classes/erc-721-claimable-with-conditions.ts
  packages/sdk/src/evm/core/classes/erc-721-claimable.ts
  packages/sdk/src/evm/core/classes/erc-721-lazymintable.ts
  packages/sdk/src/evm/core/classes/erc-721-mintable.ts
  packages/sdk/src/evm/core/classes/erc-721-standard.ts
  packages/sdk/src/evm/core/classes/erc-721-with-quantity-signature-mintable.ts
  packages/sdk/src/evm/core/classes/erc-721.ts
  packages/sdk/src/evm/core/classes/transactions.ts
  packages/sdk/test/evm/custom.test.ts
Owners: @thirdweb-dev/platform

Add changeset
  .changeset/two-ducks-tell.md
  packages/sdk/src/evm/contracts/prebuilt-implementations/nft-collection.ts
  packages/sdk/src/evm/contracts/prebuilt-implementations/nft-drop.ts
Owners: @thirdweb-dev/platform

Update ERC20
  packages/sdk/src/evm/contracts/prebuilt-implementations/signature-drop.ts
  packages/sdk/src/evm/contracts/prebuilt-implementations/token-drop.ts
  packages/sdk/src/evm/contracts/prebuilt-implementations/token.ts
  packages/sdk/src/evm/core/classes/erc-20-batch-mintable.ts
  packages/sdk/src/evm/core/classes/erc-20-burnable.ts
  packages/sdk/src/evm/core/classes/erc-20-claimable-with-conditions.ts
  packages/sdk/src/evm/core/classes/erc-20-mintable.ts
  packages/sdk/src/evm/core/classes/erc-20-signature-mintable.ts
  packages/sdk/src/evm/core/classes/erc-20-standard.ts
  packages/sdk/src/evm/core/classes/erc-20.ts
Owners: @thirdweb-dev/platform

start making chains more maintainable
  packages/chains/chains/118.ts
  packages/chains/chains/5729.ts
  packages/chains/data/additional/1337.mjs
  packages/chains/data/overrides/1.mjs
  packages/chains/data/overrides/10.mjs
  packages/chains/data/overrides/137.mjs
  packages/chains/data/overrides/250.mjs
  packages/chains/data/overrides/4002.mjs
  packages/chains/data/overrides/420.mjs
  packages/chains/data/overrides/42161.mjs
  packages/chains/data/overrides/421613.mjs
  packages/chains/data/overrides/43113.mjs
  packages/chains/data/overrides/43114.mjs
  packages/chains/data/overrides/5.mjs
  packages/chains/data/overrides/56.mjs
  packages/chains/data/overrides/80001.mjs
  packages/chains/data/overrides/97.mjs
  packages/chains/overrides.json
  packages/chains/package.json
  packages/chains/plop-templates/add-chain.hbs
  packages/chains/plop-templates/chain-override.hbs
  packages/chains/plopfile.mjs
  packages/chains/scripts/generate-package.mjs
  packages/chains/src/index.ts
  packages/chains/src/types.ts
  yarn.lock
Owners: @jnsdls, @thirdweb-dev/platform

refactor: Release to Publish (#567)
  .changeset/afraid-planets-press.md
  packages/cli/README.md
  packages/cli/e2e/release.test.ts
  packages/cli/src/cli/index.ts
  packages/cli/src/common/processor.ts
  packages/cli/src/create/helpers/create-contract.ts
  packages/cli/src/helpers/generate-dashboard-url.ts
  packages/react-core/src/evm/types.ts
  packages/react/README.md
  packages/react/src/evm/components/ModelViewer.tsx
  packages/react/src/evm/components/NftMedia.tsx
  packages/sdk/src/evm/common/error.ts
  packages/sdk/src/evm/common/feature-detection.ts
  packages/sdk/src/evm/common/permit.ts
  packages/sdk/src/evm/constants/addresses.ts
  packages/sdk/src/evm/contracts/index.ts
  packages/sdk/src/evm/core/classes/contract-deployer.ts
  packages/sdk/src/evm/core/classes/contract-events.ts
  packages/sdk/src/evm/core/classes/contract-publisher.ts
  packages/sdk/src/evm/core/classes/delayed-reveal.ts
  packages/sdk/src/evm/core/classes/drop-erc1155-claim-conditions.ts
  packages/sdk/src/evm/core/classes/erc-721.ts
  packages/sdk/src/evm/core/sdk.ts
  packages/sdk/src/evm/schema/contracts/custom.ts
  packages/sdk/src/solana/index.ts
  packages/sdk/src/solana/server/index.ts
  packages/sdk/src/solana/utils/urls.ts
  packages/sdk/test/evm/snapshot.test.ts
  packages/sdk/test/evm/tiered-drop.test.ts
Owners: @thirdweb-dev/product, @thirdweb-dev/platform

enable replays for errors (#898)
  sentry.client.config.js
  sentry.edge.config.js
  sentry.server.config.js
Owners: @thirdweb-dev/platform

add chain overrides for gather chain
  packages/chains/README.md
  packages/chains/chains/192837465.ts
  packages/chains/chains/356256156.ts
  packages/chains/data/overrides/192837465.mjs
  packages/chains/data/overrides/356256156.mjs
  packages/chains/plop-templates/add-chain.hbs
Owners: @jnsdls

add changeset
  .changeset/early-goats-notice.md
Owners: none

Add tracking to storage page (#900)
  components/ipfs-upload/dropzone.tsx
Owners: @thirdweb-dev/platform

need repo token?
  .github/workflows/build-test-lint.yml
Owners: @jnsdls, @joaquim-verges

remove size option for now
  .github/workflows/build-test-lint.yml
Owners: @jnsdls, @joaquim-verges

update all dem readmes
  README.md
  packages/auth/README.md
  packages/chains/README.md
  packages/cli/README.md
  packages/pay/README.md
  packages/react-core/README.md
  packages/react-native-compat/README.md
  packages/react-native/README.md
  packages/react/README.md
  packages/sdk/README.md
  packages/storage/README.md
  packages/wallets/README.md
Owners: @thirdweb-dev/devrel, @jnsdls, @thirdweb-dev/product, @thirdweb-dev/platform

wallet connect v1
  packages/chains/chains/118.ts
  packages/chains/chains/5729.ts
  packages/react-core/src/core/types/wallet.ts
  packages/react-native/src/evm/providers/thirdweb-provider.tsx
  packages/react/src/wallet/ConnectWallet/ConnectWalletFlow.tsx
  packages/react/src/wallet/ConnectWallet/ConnectedWalletDetails.tsx
  packages/react/src/wallet/hooks/useInstalledWallets.ts
  packages/wallets/evm/connectors/wallet-connect-v1/package.json
  packages/wallets/evm/wallets/wallet-connect-v1/package.json
  packages/wallets/package.json
  packages/wallets/src/evm/connectors/wallet-connect-v1/index-dapp-provider.ts
  packages/wallets/src/evm/connectors/wallet-connect-v1/index-legacy-provider.ts
  packages/wallets/src/evm/connectors/wallet-connect-v1/index.ts
  packages/wallets/src/evm/connectors/wallet-connect-v1/provider.ts
  packages/wallets/src/evm/index.ts
  packages/wallets/src/evm/wallets/wallet-connect-v1.ts
  packages/wallets/src/evm/wallets/wallet-connect.ts
  packages/wallets/wallets/wallet-connect-v1/package.json
  yarn.lock
Owners: @jnsdls, @thirdweb-dev/product, @thirdweb-dev/platform

[sdk] add code cov
  .github/workflows/build-test-lint.yml
  package.json
  packages/sdk/.amman/accounts/PwDiXFxQsGra4sFFTT8r1QWRMd4vfumiWC1jfWNfdYT.json
  packages/sdk/.gitignore
  packages/sdk/package.json
  yarn.lock
Owners: @jnsdls, @joaquim-verges, @thirdweb-dev/platform

Add gasless support, remove TransactionTask, and add erc1155
  packages/sdk/src/evm/common/transactions.ts
  packages/sdk/src/evm/contracts/prebuilt-implementations/edition-drop.ts
  packages/sdk/src/evm/contracts/prebuilt-implementations/edition.ts
  packages/sdk/src/evm/core/classes/TransactionTask.ts
  packages/sdk/src/evm/core/classes/drop-claim-conditions.ts
  packages/sdk/src/evm/core/classes/drop-erc1155-claim-conditions.ts
  packages/sdk/src/evm/core/classes/erc-1155-batch-mintable.ts
  packages/sdk/src/evm/core/classes/erc-1155-burnable.ts
  packages/sdk/src/evm/core/classes/erc-1155-claimable-with-conditions.ts
  packages/sdk/src/evm/core/classes/erc-1155-claimable.ts
  packages/sdk/src/evm/core/classes/erc-1155-lazymintable.ts
  packages/sdk/src/evm/core/classes/erc-1155-mintable.ts
  packages/sdk/src/evm/core/classes/erc-1155-signature-mintable.ts
  packages/sdk/src/evm/core/classes/erc-1155-standard.ts
  packages/sdk/src/evm/core/classes/erc-1155.ts
  packages/sdk/src/evm/core/classes/erc-721-batch-mintable.ts
  packages/sdk/src/evm/core/classes/erc-721-lazymintable.ts
  packages/sdk/src/evm/core/classes/erc-721-mintable.ts
  packages/sdk/src/evm/core/classes/erc-721-with-quantity-signature-mintable.ts
  packages/sdk/src/evm/core/classes/erc-721.ts
  packages/sdk/src/evm/core/classes/index.ts
  packages/sdk/src/evm/core/classes/transactions.ts
  packages/sdk/src/evm/types/transactions.ts
Owners: @thirdweb-dev/platform

specify files and outputs
  .github/workflows/build-test-lint.yml
  packages/sdk/.gitignore
  packages/sdk/package.json
  turbo.json
Owners: @jnsdls, @joaquim-verges, @thirdweb-dev/platform

[sdk] add code cov (#615)
  .github/workflows/build-test-lint.yml
  package.json
  packages/sdk/.amman/accounts/PwDiXFxQsGra4sFFTT8r1QWRMd4vfumiWC1jfWNfdYT.json
  packages/sdk/.gitignore
  packages/sdk/package.json
  turbo.json
  yarn.lock
Owners: @jnsdls, @joaquim-verges, @thirdweb-dev/platform

Remove TransactionTask
  packages/sdk/src/evm/core/classes/drop-erc1155-claim-conditions.ts
Owners: @thirdweb-dev/platform

Fix function types and test cases
  packages/sdk/src/evm/common/transactions.ts
  packages/sdk/test/evm/custom.test.ts
  packages/sdk/test/evm/edition-drop-v2.test.ts
  packages/sdk/test/evm/nft-drop-v3.test.ts
  packages/sdk/test/evm/nft-drop-v4.test.ts
Owners: @thirdweb-dev/platform

Remove default type
  packages/sdk/src/evm/common/transactions.ts
Owners: @thirdweb-dev/platform

Handle custom currencies for any chain
  packages/chains/chains/118.ts
  packages/chains/chains/5729.ts
  packages/chains/src/index.ts
  packages/sdk/src/evm/constants/chains.ts
  packages/sdk/src/evm/constants/currency.ts
  packages/sdk/src/evm/core/sdk.ts
  packages/sdk/src/evm/schema/shared.ts
Owners: @jnsdls, @thirdweb-dev/platform

changeset
  .changeset/stale-poets-crash.md
  .changeset/tidy-maps-swim.md
Owners: none

update chains
  packages/chains/chains/5729.ts
  packages/chains/src/index.ts
Owners: @jnsdls

[SDK] Handle custom currencies for any chain (#616)
  .changeset/stale-poets-crash.md
  .changeset/tidy-maps-swim.md
  packages/chains/chains/5729.ts
  packages/chains/src/index.ts
  packages/sdk/src/evm/constants/chains.ts
  packages/sdk/src/evm/constants/currency.ts
  packages/sdk/src/evm/core/sdk.ts
  packages/sdk/src/evm/schema/shared.ts
Owners: @jnsdls, @thirdweb-dev/platform

fix unique chains in local storage and render client only (#902)
  contexts/configured-chains.tsx
Owners: @thirdweb-dev/platform

Connect to active chain, simplified coinbase connect
  packages/react-core/src/core/providers/thirdweb-wallet-provider.tsx
  packages/react/src/index.ts
  packages/react/src/wallet/ConnectWallet/ConnectWalletFlow.tsx
  packages/react/src/wallet/ConnectWallet/install-ui/InstallCoinbase.tsx
Owners: @thirdweb-dev/product, @thirdweb-dev/platform

base things (#893)
  package.json
  yarn.lock
Owners: @thirdweb-dev/platform
