Repository thirdweb-dev/js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools, @edwardysun, @jakubkrehel, @jnsdls, @joaquim-verges

fix useReadContract type hinting
  packages/thirdweb/src/contract/types.ts
  packages/thirdweb/src/extensions/types.ts
  packages/thirdweb/src/react/core/hooks/contract/useReadContract.ts
  packages/thirdweb/src/react/core/hooks/types.ts
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

fix: Adds 1271 signatures and force deployment function
  .changeset/polite-trains-kick.md
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[SDK] Feature: Adds `getAdminAccount` to ecosystem wallets and cleans up smart account creation (#5829)
  .changeset/afraid-mails-sip.md
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.test.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/index.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
  packages/thirdweb/src/wallets/smart/smart.test.ts
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[Dashboard] Dynamically fetch supported chains from Simplehash (#5866)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/api/nft/is-simplehash-supported/route.ts
  apps/dashboard/src/lib/wallet/nfts/simpleHash.ts
  apps/dashboard/src/lib/wallet/nfts/types.ts
  apps/dashboard/src/pages/api/wallet/nfts/[chainId].ts
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

[TOOL-2764] Dashboard: Fix published contract version selector with duplicate versions (#5893)
  apps/dashboard/src/components/contract-components/fetch-contracts-with-versions.ts
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

[TOOL-2764] Dashboard: Fix published contract version selector with duplicate versions (#5893)
  apps/dashboard/src/components/contract-components/fetch-contracts-with-versions.ts
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

Version Packages (#5838)
  .changeset/afraid-mails-sip.md
  .changeset/cyan-shrimps-battle.md
  .changeset/fair-planes-doubt.md
  .changeset/little-beds-dress.md
  .changeset/metal-mails-ring.md
  .changeset/pink-gorillas-try.md
  .changeset/yellow-experts-sparkle.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[TOOL-2925] Dashboard: Redirect to Nebula app if team has access instead of showing waitlist page (#5894)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

[TOOL-2927] Dashboard: Update team member settings page alert (#5895)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.tsx
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

[TOOL-2924] Catch error on fail-to-load metadata (#5892)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/reveal-button.tsx
  packages/thirdweb/src/extensions/erc721/lazyMinting/read/getBatchesToReveal.ts
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

Remove tw-components Checkbox CORE-419 (#5890)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/create-account-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/access-tokens/components/add-access-token-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/add-contract-subscription-button.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-lazy-mint.tsx
  apps/dashboard/src/tw-components/checkbox.tsx
  apps/dashboard/src/tw-components/index.ts
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

Add llms.txt file to insight docs (#5887)
  apps/portal/src/app/insight/agents-and-llms/llmstxt/page.mdx
  apps/portal/src/app/insight/sidebar.tsx
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

fix(sdk): ox cjs imports
  packages/thirdweb/src/utils/abi/decodeError.ts
  packages/thirdweb/src/utils/abi/decodeFunctionData.ts
  packages/thirdweb/src/utils/abi/decodeFunctionResult.ts
  packages/thirdweb/src/utils/hashing/hashMessage.ts
  packages/thirdweb/src/wallets/smart/presets/7579.ts
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

fix(sdk): smart account transactions on non-original chain
  packages/thirdweb/src/wallets/smart/index.ts
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[SDK] Feature: Adds `deploySmartAccount` and re-adds 1271 signatures (#5845)
  .changeset/polite-trains-kick.md
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/utils/abi/decodeError.ts
  packages/thirdweb/src/utils/abi/decodeFunctionData.ts
  packages/thirdweb/src/utils/abi/decodeFunctionResult.ts
  packages/thirdweb/src/utils/hashing/hashMessage.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
  packages/thirdweb/src/wallets/smart/presets/7579.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  pnpm-lock.yaml
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[TOOL-2917]: fix useReadContract type hinting (#5888)
  packages/thirdweb/src/contract/types.ts
  packages/thirdweb/src/extensions/types.ts
  packages/thirdweb/src/react/core/hooks/contract/useReadContract.ts
  packages/thirdweb/src/react/core/hooks/types.ts
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[Dashboard] Fix: Memory optimizations to reduce build failures (#5903)
  apps/dashboard/next.config.ts
  apps/dashboard/src/components/contract-components/contract-publish-form/abi-selector.tsx
  apps/dashboard/src/components/contract-components/published-contract/markdown-renderer.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsForm.tsx
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

[SDK] Feature: Basic EIP7702 Support (#5801)
  .changeset/clever-beds-knock.md
  packages/thirdweb/biome.json
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/src/exports/transaction.ts
  packages/thirdweb/src/gas/estimate-l1-fee.ts
  packages/thirdweb/src/transaction/actions/eip7702/authorization.test.ts
  packages/thirdweb/src/transaction/actions/eip7702/authorization.ts
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
  packages/thirdweb/src/transaction/actions/send-transaction.ts
  packages/thirdweb/src/transaction/actions/to-serializable-transaction.test.ts
  packages/thirdweb/src/transaction/actions/to-serializable-transaction.ts
  packages/thirdweb/src/transaction/prepare-transaction.test.ts
  packages/thirdweb/src/transaction/prepare-transaction.ts
  packages/thirdweb/src/transaction/serialize-transaction.test.ts
  packages/thirdweb/src/transaction/serialize-transaction.ts
  packages/thirdweb/src/utils/signatures/sign-message.test.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
  packages/thirdweb/src/wallets/private-key.test.ts
  packages/thirdweb/src/wallets/private-key.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  packages/thirdweb/test/globalSetup.ts
  packages/thirdweb/test/src/abis/wagmiToken.ts
  packages/thirdweb/test/src/chains.ts
  pnpm-lock.yaml
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

Version Packages (#5901)
  .changeset/clever-beds-knock.md
  .changeset/polite-trains-kick.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

fix(dashboard): remove double cache def
  apps/dashboard/next.config.ts
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

hotfix(dashboard): next config memory cache
  apps/dashboard/next.config.ts
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

[Dashboard] Fix: next config memory cache (#5906)
  apps/dashboard/next.config.ts
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

[TOOL-2976] Bump @radix-ui/react-dialog 1.1.4 - Fix pointer event issues after modal close (#5905)
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

redirect unlimited-wallets campaign to home (#5908)
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

Fix batch fetch util for marketplace-v3 (#5904)
  .changeset/pink-deers-fetch.md
  packages/thirdweb/src/extensions/marketplace/getAllInBatches.test.ts
  packages/thirdweb/src/extensions/marketplace/utils.ts
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[SDK]: add backend wallets for in app wallet (#5878)
  .changeset/popular-ravens-reflect.md
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.test.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/in-app/native/auth/index.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

Version Packages (#5909)
  .changeset/pink-deers-fetch.md
  .changeset/popular-ravens-reflect.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[TOOL-2990] Dashboard: Fix invalid form validation when updating custom chain (#5913)
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/components/configure-networks/ConfigureNetworkForm.tsx
  apps/dashboard/src/components/configure-networks/Form/NetworkIdInput.tsx
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

fix RPC pathname override behavior
  .changeset/odd-hats-give.md
  packages/thirdweb/src/chains/utils.test.ts
  packages/thirdweb/src/chains/utils.ts
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

update
  apps/portal/package.json
  apps/portal/src/components/Document/ApiEndpointComponent.tsx
  apps/portal/src/components/ui/badge.tsx
  apps/portal/src/components/ui/collapsible.tsx
  apps/portal/src/components/ui/select.tsx
  pnpm-lock.yaml
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

tested component
  apps/portal/src/app/nebula/api-reference/update-session/data.jsx
  apps/portal/src/app/nebula/api-reference/update-session/page.mdx
  apps/portal/src/components/Document/index.ts
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

added data
  apps/portal/src/app/nebula/api-reference/chat/data.jsx
  apps/portal/src/app/nebula/api-reference/chat/page.mdx
  apps/portal/src/app/nebula/api-reference/clear-session/data.jsx
  apps/portal/src/app/nebula/api-reference/clear-session/page.mdx
  apps/portal/src/app/nebula/api-reference/create-session/data.jsx
  apps/portal/src/app/nebula/api-reference/create-session/page.mdx
  apps/portal/src/app/nebula/api-reference/delete-session/data.jsx
  apps/portal/src/app/nebula/api-reference/delete-session/page.mdx
  apps/portal/src/app/nebula/api-reference/execute/data.jsx
  apps/portal/src/app/nebula/api-reference/execute/page.mdx
  apps/portal/src/app/nebula/api-reference/get-session/data.jsx
  apps/portal/src/app/nebula/api-reference/get-session/page.mdx
  apps/portal/src/app/nebula/api-reference/list-session/data.jsx
  apps/portal/src/app/nebula/api-reference/list-session/page.mdx
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

fix RPC pathname override behavior (#5915)
  .changeset/odd-hats-give.md
  packages/thirdweb/src/chains/utils.test.ts
  packages/thirdweb/src/chains/utils.ts
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[SDK] Refactor: More Viem to Ox migration (#5790)
  .changeset/hip-llamas-wash.md
  .github/workflows/auto-assign.yml
  packages/thirdweb/src/auth/is-erc6492-signature.ts
  packages/thirdweb/src/auth/parse-erc6492-signature.ts
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/auth/verify-signature.test.ts
  packages/thirdweb/src/auth/verify-signature.ts
  packages/thirdweb/src/auth/verify-typed-data.ts
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
  packages/thirdweb/src/contract/verification/constructor-params.ts
  packages/thirdweb/src/event/types.ts
  packages/thirdweb/src/exports/utils.ts
  packages/thirdweb/src/extensions/ens/resolve-l2-name.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc1155/write/mintTo.ts
  packages/thirdweb/src/extensions/erc1155/write/mintToBatch.ts
  packages/thirdweb/src/extensions/erc1155/write/sigMint.ts
  packages/thirdweb/src/extensions/modules/ClaimableERC1155/setClaimConditions.ts
  packages/thirdweb/src/extensions/modules/MintableERC1155/mintWithRole.ts
  packages/thirdweb/src/extensions/modules/MintableERC1155/mintWithSignature.ts
  packages/thirdweb/src/utils/abi/encodeAbiParameters.ts
  packages/thirdweb/src/utils/extensions/drops/convert-quantity.ts
  packages/thirdweb/src/utils/extensions/drops/get-multicall-set-claim-claim-conditon-transactions.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  pnpm-lock.yaml
Owners: @jnsdls, @joaquim-verges, @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

fix: PayEmbed purchase callback and insufficient funds display
  .changeset/fluffy-rings-kick.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[SDK] Fix: PayEmbed purchase callback and insufficient funds display (#5918)
  .changeset/fluffy-rings-kick.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

Version Packages (#5917)
  .changeset/fluffy-rings-kick.md
  .changeset/odd-hats-give.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[TOOL-2999] SDK: automatically sign message for SIWE in connect UI for Ecosystem wallets (#5914)
  .changeset/six-snails-reflect.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.tsx
Owners: @thirdweb-dev/core-platform, @thirdweb-dev/developer-tools

[TOOL-2995]: Fix Engine Contract Subscription UI issue with checkboxes (#5920)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/add-contract-subscription-button.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-lazy-mint.tsx
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

[TOOL-2896] Portal: Add Nebula API docs (#5916)
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/portal/mdx-components.tsx
  apps/portal/package.json
  apps/portal/src/app/nebula/api-reference/chat/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/chat/page.mdx
  apps/portal/src/app/nebula/api-reference/clear-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/clear-session/page.mdx
  apps/portal/src/app/nebula/api-reference/common.ts
  apps/portal/src/app/nebula/api-reference/create-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/create-session/page.mdx
  apps/portal/src/app/nebula/api-reference/delete-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/delete-session/page.mdx
  apps/portal/src/app/nebula/api-reference/execute/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/execute/page.mdx
  apps/portal/src/app/nebula/api-reference/get-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/get-session/page.mdx
  apps/portal/src/app/nebula/api-reference/list-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/list-session/page.mdx
  apps/portal/src/app/nebula/api-reference/update-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/update-session/page.mdx
  apps/portal/src/app/nebula/layout.tsx
  apps/portal/src/app/nebula/plugins/eliza/page.mdx
  apps/portal/src/app/nebula/plugins/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
  apps/portal/src/app/nebula/use-cases/page.mdx
  apps/portal/src/app/references/components/TDoc/Function.tsx
  apps/portal/src/app/references/components/TDoc/Summary.tsx
  apps/portal/src/components/Document/APIEndpointMeta/ApiEndpoint.tsx
  apps/portal/src/components/Document/APIEndpointMeta/RequestExample.tsx
  apps/portal/src/components/Document/Code.tsx
  apps/portal/src/components/Document/InlineCode.tsx
  apps/portal/src/components/Document/List.module.css
  apps/portal/src/components/Document/index.ts
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/ui/badge.tsx
  apps/portal/src/components/ui/select.tsx
  apps/portal/tailwind.config.ts
  pnpm-lock.yaml
Owners: @thirdweb-dev/developer-tools, @thirdweb-dev/core-platform, @jakubkrehel

.github/CODEOWNERS:

# Order is important; the last matching pattern takes the most precedence.

# default ownership group
@thirdweb-dev/developer-tools

# packages
packages/thirdweb/ @thirdweb-dev/core-platform @thirdweb-dev/developer-tools

## specific thirdweb pieces
packages/service-utils/ @thirdweb-dev/core-platform
packages/eslint-config-thirdweb/ @thirdweb-dev/core-platform @edwardysun
packages/tw-tsconfig/ @thirdweb-dev/core-platform @edwardysun

# apps
apps/ @thirdweb-dev/developer-tools @thirdweb-dev/core-platform @jakubkrehel

# .github folder + .changeset + turbo config is owned by jonas for now
scripts/ @jnsdls @joaquim-verges
.github/ @jnsdls @joaquim-verges
.changeset/config.json @jnsdls @joaquim-verges
turbo.json @jnsdls @joaquim-verges
.vscode/ @jnsdls @joaquim-verges
