Repository thirdweb-dev/js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jnsdls, @joaquim-verges, @MananTank, @gregfromstl, @arcoraven, @0xFirekeeper

[dashboard] Fix faucet filter in chainlist page (#3859)
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/page.tsx
Owners: @jnsdls, @MananTank

[dashboard] Fix faucet filter in chainlist page (#3859)
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/page.tsx
Owners: @jnsdls, @MananTank

Prebuilt UI: BuyDirectListingButton for Marketplace v3 (#3847)
  .changeset/honest-gorillas-count.md
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/transaction/transaction-button-utils.ts
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/BuyDirectListingButton/BuyDirectListingButton.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/BuyDirectListingButton/index.tsx
Owners: @joaquim-verges, @gregfromstl, @MananTank

fix(react): update social button styling and behavior logic (#3867)
  .changeset/fluffy-snails-build.md
  apps/playground-web/src/lib/constants.ts
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
Owners: @joaquim-verges, @gregfromstl, @MananTank

feat(thirdweb): enhance wallet-related TypeScript support (#123)
  .changeset/odd-colts-love.md
  packages/thirdweb/src/adapters/wallet-adapter.ts
  packages/thirdweb/src/exports/wallets.native.ts
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/react/web/ui/AutoConnect/AutoConnect.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/ecosystem/types.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Owners: @joaquim-verges, @gregfromstl, @MananTank

chore(thirdweb): better TSdocs + more exports (#3869)
  .changeset/odd-colts-love.md
  packages/thirdweb/src/adapters/wallet-adapter.ts
  packages/thirdweb/src/exports/wallets.native.ts
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/react/web/ui/AutoConnect/AutoConnect.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/ecosystem/types.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Owners: @joaquim-verges, @gregfromstl, @MananTank

Commit Release Artifacts [skip ci]
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/typedoc/documentation.json.gz
Owners: @MananTank, @jnsdls, @joaquim-verges, @gregfromstl

Version Packages (#3852)
  .changeset/calm-ghosts-smile.md
  .changeset/eighty-donuts-join.md
  .changeset/fluffy-snails-build.md
  .changeset/honest-gorillas-count.md
  .changeset/khaki-rocks-wave.md
  .changeset/mighty-zebras-try.md
  .changeset/odd-colts-love.md
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Owners: @MananTank, @jnsdls, @joaquim-verges, @gregfromstl

Update OG image for thirdweb.com/support (#3868)
  apps/dashboard/src/app/(dashboard)/support/opengraph-image.png
  apps/dashboard/src/app/(dashboard)/support/page.tsx
Owners: @jnsdls, @MananTank

Add a status page to engine dashboard (#3848)
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/chart.tsx
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/components/engine/contract-subscription/engine-contract-subscription.tsx
  apps/dashboard/src/components/engine/engine-navigation.tsx
  apps/dashboard/src/components/engine/system-metrics/components/ErrorRate.tsx
  apps/dashboard/src/components/engine/system-metrics/components/Healthcheck.tsx
  apps/dashboard/src/components/engine/system-metrics/components/StatusCodes.tsx
  apps/dashboard/src/components/engine/system-metrics/index.tsx
Owners: @jnsdls, @MananTank

.github/CODEOWNERS:

# Order is important; the last matching pattern takes the most precedence.

# default ownership group
- @jnsdls @joaquim-verges @MananTank @gregfromstl

# legacy packages

legacy_packages/auth/ @jnsdls
legacy_packages/chains/ @jnsdls
legacy_packages/cli/ @jnsdls
legacy_packages/contracts-js/ @jnsdls
legacy_packages/crypto/ @jnsdls
legacy_packages/generated-abis/ @jnsdls
legacy_packages/merkletree/ @jnsdls
legacy_packages/pay/ @jnsdls
legacy_packages/payments/ @jnsdls
legacy_packages/react/ @MananTank @jnsdls
legacy_packages/react-core/ @MananTank @jnsdls
legacy_packages/react-native/ @jnsdls
legacy_packages/react-native-compat/ @jnsdls
legacy_packages/sdk/ @joaquim-verges @jnsdls
legacy_packages/storage/ @jnsdls
legacy_packages/wallets/ @MananTank @jnsdls

# legacy e2e

legacy_e2e/ @jnsdls

# packages
packages/thirdweb/ @joaquim-verges @gregfromstl

## specific thirdweb pieces
packages/thirdweb/src/react/ @joaquim-verges @gregfromstl @MananTank
packages/thirdweb/src/reactive/ @joaquim-verges @gregfromstl @MananTank
packages/thirdweb/src/gas/ @joaquim-verges
packages/thirdweb/src/pay/ @joaquim-verges @gregfromstl @MananTank
packages/typedoc-gen/ @MananTank
packages/service-utils/ @arcoraven
packages/eslint-config-thirdweb/ @jnsdls
packages/tw-tsconfig/ @jnsdls
packages/unity-js-bridge/ @joaquim-verges @0xFirekeeper

# apps
apps/ @jnsdls
apps/dashboard/ @jnsdls @MananTank
apps/playground-web/ @joaquim-verges @gregfromstl
apps/wallet-ui/ @gregfromstl

# .github folder + .changeset + turbo config is owned by jonas for now
scripts/ @jnsdls
.github/ @jnsdls
.changeset/config.json @jnsdls
turbo.json @jnsdls
.vscode/ @jnsdls
