Repository thirdweb-dev/js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thirdweb-dev/platform, @thirdweb-dev/devrel, @thirdweb-dev/product, @jnsdls, @joaquim-verges

.github/CODEOWNERS:

# Order is important; the last matching pattern takes the most precedence.

# Platform team owns everything by default

* @thirdweb-dev/platform

# Devrel owns all markdown files (README etc.)

*.md @thirdweb-dev/devrel
.changeset/

# Shared ownership of the react and react-core packages

packages/react/ @thirdweb-dev/product @thirdweb-dev/platform
packages/react-core/ @thirdweb-dev/product @thirdweb-dev/platform

# Shared ownership of the CLI

packages/cli/ @thirdweb-dev/product @thirdweb-dev/platform

# Chains is owned specifically by jonas for now

packages/chains/ @jnsdls

# .github folder + .changeset + turbo config is owned by joaquim and jonas for now

.github/ @jnsdls @joaquim-verges
.changeset/config.json @jnsdls @joaquim-verges
turbo.json @joaquim-verges @jnsdls

wc v1 connector
  packages/wallets/package.json
  packages/wallets/src/evm/connectors/wallet-connect-v1/index-dapp-provider.ts
  packages/wallets/src/evm/connectors/wallet-connect-v1/index-legacy-provider.ts
  packages/wallets/src/evm/connectors/wallet-connect-v1/index.ts
  packages/wallets/src/evm/connectors/wallet-connect-v1/provider.ts
  packages/wallets/src/evm/wallets/wallet-connect-v1.ts
Owners: @thirdweb-dev/platform

implementations for utility plugins
  packages/contracts-js/package.json
  packages/sdk/src/evm/contracts/prebuilt-implementations/marketplacev3.ts
  packages/sdk/test/evm/before-setup.ts
  yarn.lock
Owners: @thirdweb-dev/platform

[chains] - add support for base goerli
  .changeset/kind-cats-add.md
  packages/chains/chains/1907.ts
  packages/chains/chains/1908.ts
  packages/chains/chains/5729.ts
  packages/chains/chains/84531.ts
  packages/chains/data/overrides/8453.mjs
  packages/chains/data/overrides/84531.mjs
  packages/chains/src/index.ts
Owners: @jnsdls

[chains] - add support for base goerli (#617)
  .changeset/kind-cats-add.md
  packages/chains/chains/1907.ts
  packages/chains/chains/1908.ts
  packages/chains/chains/5729.ts
  packages/chains/chains/84531.ts
  packages/chains/data/overrides/8453.mjs
  packages/chains/data/overrides/84531.mjs
  packages/chains/src/index.ts
Owners: @jnsdls

fix base goerli slug
  .changeset/red-actors-cough.md
  packages/chains/chains/84531.ts
  packages/chains/scripts/generate-package.mjs
  packages/chains/src/index.ts
  turbo.json
Owners: @jnsdls, @joaquim-verges

core: Wallet Connect v1, disconnect listener
  packages/react-core/src/core/providers/thirdweb-wallet-provider.tsx
  packages/react/src/index.ts
  packages/react/src/wallet/ConnectWallet/ConnectWalletFlow.tsx
  packages/react/src/wallet/ConnectWallet/ConnectedWalletDetails.tsx
  packages/react/src/wallet/ConnectWallet/icons/WalletConnectIcon.tsx
Owners: @thirdweb-dev/product, @thirdweb-dev/platform

fix base goerli slug (#619)
  .changeset/red-actors-cough.md
  packages/chains/chains/84531.ts
  packages/chains/scripts/generate-package.mjs
  packages/chains/src/index.ts
  turbo.json
Owners: @jnsdls, @joaquim-verges

new chains (#904)
  package.json
  pages/chain/[chainSlug].tsx
  yarn.lock
Owners: @thirdweb-dev/platform

Update
  packages/sdk/src/evm/constants/erc721-features.ts
  packages/sdk/src/evm/core/classes/erc-721-tiered-drop.ts
  packages/sdk/src/evm/core/classes/erc-721.ts
  packages/sdk/src/evm/schema/contracts/common/plugins.ts
  packages/sdk/src/evm/types/plugins.ts
  packages/sdk/test/evm/before-setup.ts
Owners: @thirdweb-dev/platform

ur a wizard harry (#905)
  @3rdweb-sdk/react/components/connect-wallet/index.tsx
  components/buttons/MismatchButton.tsx
  components/configure-networks/ConfigureNetworkModal.tsx
  pages/chain/[chainSlug].tsx
Owners: @thirdweb-dev/platform

adding patch for wc/legacy-provider
  package.json
  packages/react-core/src/core/providers/thirdweb-wallet-provider.tsx
  packages/react-native/src/evm/providers/thirdweb-provider.tsx
  packages/wallets/package.json
  packages/wallets/src/evm/connectors/wallet-connect/index.ts
  packages/wallets/src/evm/wallets/wallet-connect-v1.ts
  patches/@walletconnect+legacy-provider+2.0.0.patch
  patches/@walletconnect+legacy-types+2.0.0.patch
  yarn.lock
Owners: @thirdweb-dev/platform, @thirdweb-dev/product

Don't show modal if already accepted ToS (#907)
  components/FTUX/components/ContentContainer.tsx
Owners: @thirdweb-dev/platform

Add faucets from chainInfo to no funds popover (#906)
  @3rdweb-sdk/react/hooks/useWeb3.ts
  components/buttons/MismatchButton.tsx
  components/cmd-k-search/index.tsx
  components/layout/app-shell/index.tsx
  components/notices/InsufficientFunds.tsx
Owners: @thirdweb-dev/platform

Upate tiere drop
  packages/contracts-js/package.json
  packages/sdk/src/evm/common/feature-detection.ts
  packages/sdk/src/evm/constants/thirdweb-features.ts
  packages/sdk/src/evm/core/classes/erc-721-tiered-drop.ts
  packages/sdk/test/evm/before-setup.ts
  packages/sdk/test/evm/mock/MockStorage.ts
  packages/sdk/test/evm/tiered-drop.test.ts
  packages/sdk/test/evm/utils.ts
  yarn.lock
Owners: @thirdweb-dev/platform

fix: Contract Overview improvements (#908)
  contract-ui/tabs/overview/components/LatestEvents.tsx
  contract-ui/tabs/overview/components/MarketplaceDetails.tsx
  contract-ui/tabs/overview/components/NFTDetails.tsx
  contract-ui/tabs/overview/components/PermissionsTable.tsx
Owners: @thirdweb-dev/platform

logs
  packages/react-core/src/core/providers/thirdweb-wallet-provider.tsx
  packages/react-native/src/evm/providers/thirdweb-provider.tsx
  packages/wallets/src/evm/connectors/wallet-connect-v1/index.ts
  packages/wallets/src/evm/wallets/base.ts
  packages/wallets/src/evm/wallets/wallet-connect-v1.ts
Owners: @thirdweb-dev/product, @thirdweb-dev/platform

update plugin feature abi
  packages/sdk/src/evm/constants/thirdweb-features.ts
Owners: @thirdweb-dev/platform

Test cases passing
  packages/sdk/src/evm/core/classes/erc-721-tiered-drop.ts
  packages/sdk/test/evm/tiered-drop.test.ts
  packages/sdk/test/evm/utils.ts
Owners: @thirdweb-dev/platform

Update
  packages/storage/src/core/downloaders/mock-downloader.ts
Owners: @thirdweb-dev/platform
