Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

update UI
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/@/components/ui/CopyAddressButton.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageMetadataSetup.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageSidebarLinks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/claim-rewards/components/claim-rewards-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/components/claim-rewards-page.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/components/claim-rewards-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/utils/rewards.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/utils/unclaimed-fees.ts
Labels: dashboard

copy changes
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/components/claim-rewards-page.tsx
Labels: dashboard

Add `mcp` to team capabilities
  .changeset/free-boxes-lose.md
  apps/dashboard/src/@/storybook/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

Update contract
  packages/thirdweb/src/assets/constants.ts
Labels: packages, sdk

fix gasPrice for legacy chain 88/89
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages, sdk

minor change
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages, sdk

chore: accordion, rename, cleanup
  apps/dashboard/src/@/api/webhook-configs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/create-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/edit-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/topic-selector-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-configs-table.tsx
Labels: dashboard

chore: accordion, rename insight topic, test webhook endpoint (#7635)
  apps/dashboard/src/@/api/webhook-configs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/create-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/edit-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/topic-selector-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-configs-table.tsx
Labels: dashboard

update recent transfers table
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/RecentTransfers.tsx
Labels: dashboard

chore: use /search route for routes page
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/utils.ts
Labels: dashboard

chore: webhooks docs (#7604)
  apps/portal/src/app/page.tsx
  apps/portal/src/app/webhooks/layout.tsx
  apps/portal/src/app/webhooks/page.mdx
  apps/portal/src/app/webhooks/sidebar.tsx
  apps/portal/src/components/Document/metadata.ts
Labels: portal

Add etherlink chain (#7634)
  .changeset/early-shoes-tap.md
  packages/thirdweb/src/chains/chain-definitions/etherlink-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/etherlink.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

feat: adds gateway usage source
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/services.ts
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/mocks.ts
Labels: packages

Handle token balance retrieval failures (#7600)
  .changeset/fallback-native-balance.md
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, sdk

Chore: Use /search route for routes page (#7639)
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/utils.ts
Labels: dashboard

lint
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages, sdk

update creation UI
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-distribution.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-sale.tsx
Labels: dashboard

feat: hide the contract label if unknown
  .changeset/whole-bottles-wait.md
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
Labels: packages, sdk

[SDK] Feature: Hide the TransactionWidget contract label if unknown (#7642)
  .changeset/whole-bottles-wait.md
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
Labels: packages, sdk

feat: adds transaction functions
  packages/thirdweb/src/v2/client/init.ts
  packages/thirdweb/src/v2/transactions/get.ts
  packages/thirdweb/src/v2/transactions/list.ts
  packages/thirdweb/src/v2/transactions/send.ts
  packages/thirdweb/src/v2/transactions/types.ts
  packages/thirdweb/src/v2/types.ts
  packages/thirdweb/src/v2/wallets/index.ts
  packages/thirdweb/src/v2/wallets/login.test.ts
  packages/thirdweb/src/v2/wallets/otp.ts
Labels: packages, sdk

Add `mcp` to team capabilities (#7636)
  .changeset/free-boxes-lose.md
  apps/dashboard/src/@/storybook/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

Update entrypoint contract
  packages/thirdweb/src/assets/constants.ts
Labels: packages, sdk

[Connect] Add Ecosystem Wallet to sidebar and update documentation
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/EngineCloudChartCard/EngineCloudBarChartCardUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/layout.tsx
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/ecosystem/set-up/page.mdx
  apps/portal/src/app/connect/wallet/server/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/configure/page.mdx
  apps/portal/src/app/engine/v3/get-started/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-1.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-2.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-3.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-4.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-overview.png
  apps/portal/src/app/transactions/distribute-tokens/page.mdx
  apps/portal/src/app/transactions/layout.tsx
  apps/portal/src/app/transactions/monitor/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/session-keys/page.mdx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/app/transactions/sponsor/page.mdx
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-1.png
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-2.png
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-3.png
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-overview.png
  apps/portal/src/app/transactions/stripe-payments/page.mdx
  apps/portal/src/app/vault/get-started/page.mdx
  apps/portal/src/icons/index.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: dashboard, packages, sdk, portal

[Docs] Add Ecosystem Wallet to sidebar and update documentation (#7643)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/EngineCloudChartCard/EngineCloudBarChartCardUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/layout.tsx
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/ecosystem/set-up/page.mdx
  apps/portal/src/app/connect/wallet/server/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/configure/page.mdx
  apps/portal/src/app/engine/v3/get-started/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-1.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-2.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-3.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-4.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-overview.png
  apps/portal/src/app/transactions/distribute-tokens/page.mdx
  apps/portal/src/app/transactions/layout.tsx
  apps/portal/src/app/transactions/monitor/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/session-keys/page.mdx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/app/transactions/sponsor/page.mdx
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-1.png
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-2.png
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-3.png
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-overview.png
  apps/portal/src/app/transactions/stripe-payments/page.mdx
  apps/portal/src/app/vault/get-started/page.mdx
  apps/portal/src/icons/index.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: dashboard, packages, sdk, portal

moved 89/88 override to defaultGasOverride
  packages/thirdweb/src/gas/fee-data.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages, sdk

lint fix
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, sdk

[Dashboard] Replace SmartAccountCell with WalletAddress component
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  pnpm-lock.yaml
Labels: dashboard

refactor: update wallet paths
  apps/portal/redirects.mjs
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/wallets/account-abstraction/api/page.mdx
  apps/portal/src/app/wallets/account-abstraction/batching-transactions/page.mdx
  apps/portal/src/app/wallets/account-abstraction/erc-20-paymaster/page.mdx
  apps/portal/src/app/wallets/account-abstraction/factories/page.mdx
  apps/portal/src/app/wallets/account-abstraction/faq/page.mdx
  apps/portal/src/app/wallets/account-abstraction/gasless/biconomy/page.mdx
  apps/portal/src/app/wallets/account-abstraction/gasless/engine/page.mdx
  apps/portal/src/app/wallets/account-abstraction/gasless/openzeppelin/page.mdx
  apps/portal/src/app/wallets/account-abstraction/guides/react/page.mdx
  apps/portal/src/app/wallets/account-abstraction/guides/typescript/page.mdx
  apps/portal/src/app/wallets/account-abstraction/how-it-works/page.mdx
  apps/portal/src/app/wallets/account-abstraction/images/wallet.png
  apps/portal/src/app/wallets/account-abstraction/infrastructure/page.mdx
  apps/portal/src/app/wallets/account-abstraction/overview/page.mdx
  apps/portal/src/app/wallets/account-abstraction/permissions/page.mdx
  apps/portal/src/app/wallets/account-abstraction/sponsorship-rules/page.mdx
  apps/portal/src/app/wallets/account-abstraction/sponsorship-rules/sponsorship-rules.png
  apps/portal/src/app/wallets/assets/social-config.png
  apps/portal/src/app/wallets/create/page.mdx
  apps/portal/src/app/wallets/export-private-key/confirm-reveal.png
  apps/portal/src/app/wallets/export-private-key/export-key.png
  apps/portal/src/app/wallets/export-private-key/exported-key.png
  apps/portal/src/app/wallets/export-private-key/manage-wallet.png
  apps/portal/src/app/wallets/export-private-key/page.mdx
  apps/portal/src/app/wallets/get-users/page.mdx
  apps/portal/src/app/wallets/link-profiles/page.mdx
  apps/portal/src/app/wallets/pregenerate-wallets/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/app/wallets/sponsor-gas/page.mdx
Labels: portal

chore: delete more pages and fix text colors
  apps/dashboard/src/@/components/chat/CustomChats.tsx
  apps/nebula/src/@/components/blocks/MarkdownRenderer/markdown-renderer.tsx
  apps/nebula/src/app/(app)/components/Chats.tsx
  apps/portal/src/app/wallets/blockchain-api/page.mdx
  apps/portal/src/app/wallets/custom-auth/images/configuration-view.png
  apps/portal/src/app/wallets/custom-auth/images/custom-json-firebase.png
  apps/portal/src/app/wallets/custom-auth/images/customauth.png
  apps/portal/src/app/wallets/custom-auth/images/customauthdb.png
  apps/portal/src/app/wallets/custom-auth/images/customauthdb2.png
  apps/portal/src/app/wallets/custom-auth/images/ew-configuration-opt.png
  apps/portal/src/app/wallets/custom-auth/images/ew-configuration.png
  apps/portal/src/app/wallets/custom-auth/images/ew-create-key.png
  apps/portal/src/app/wallets/custom-auth/images/ew-custom-auth-config.png
  apps/portal/src/app/wallets/custom-auth/images/ew-custom-auth-flow.png
  apps/portal/src/app/wallets/custom-auth/images/jwk-creator-tool.png
  apps/portal/src/app/wallets/custom-auth/images/speedracer.png
  apps/portal/src/app/wallets/custom-auth/page.mdx
  apps/portal/src/app/wallets/in-app-wallet/custom-auth/custom-auth-server/page.mdx
  apps/portal/src/app/wallets/in-app-wallet/custom-auth/custom-jwt-auth-server/page.mdx
  apps/portal/src/app/wallets/in-app-wallet/custom-auth/firebase-auth/page.mdx
  apps/portal/src/app/wallets/in-app-wallet/custom-auth/overview/page.mdx
  apps/portal/src/app/wallets/users/page.mdx
  apps/portal/src/components/AI/chat.tsx
  apps/portal/src/components/Document/List.module.css
  apps/portal/src/components/Document/List.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
Labels: dashboard, portal

chore: more wallets cleanup
  apps/portal/src/app/wallets/auth/page.mdx
  apps/portal/src/app/wallets/in-app-wallet/guides/build-your-own-ui/page.mdx
  apps/portal/src/app/wallets/in-app-wallet/guides/connect-users/connect-wallet-hero.webp
  apps/portal/src/app/wallets/in-app-wallet/guides/connect-users/page.mdx
  apps/portal/src/app/wallets/in-app-wallet/guides/enable-gasless/connect-wallet-embedded-compact.png
  apps/portal/src/app/wallets/in-app-wallet/guides/enable-gasless/connect-wallet-smart-dropdown.png
  apps/portal/src/app/wallets/in-app-wallet/guides/enable-gasless/page.mdx
  apps/portal/src/app/wallets/in-app-wallet/guides/enable-gasless/smart-wallet.svg
  apps/portal/src/app/wallets/in-app-wallet/guides/interact-blockchain/page.mdx
  apps/portal/src/app/wallets/in-app-wallet/guides/interact-with-accounts/page.mdx
  apps/portal/src/app/wallets/in-app-wallet/images/embedded-wallet.svg
  apps/portal/src/app/wallets/in-app-wallet/images/unity.webp
  apps/portal/src/app/wallets/in-app-wallet/images/wallet.png
  apps/portal/src/app/wallets/link-profiles/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/sign-in/assets/ConnectEmbed-embedded.png
  apps/portal/src/app/wallets/sign-in/assets/Wide-dark.png
  apps/portal/src/app/wallets/sign-in/assets/compact-dark-social.png
  apps/portal/src/app/wallets/sign-in/assets/compact-dark.png
  apps/portal/src/app/wallets/sign-in/assets/connect-image-new.svg
  apps/portal/src/app/wallets/sign-in/assets/connect-playground.png
  apps/portal/src/app/wallets/sign-in/assets/connect-wallet-modal.png
  apps/portal/src/app/wallets/sign-in/assets/connect.png
  apps/portal/src/app/wallets/sign-in/assets/custom-modals.png
  apps/portal/src/app/wallets/sign-in/assets/custom-welcome.png
  apps/portal/src/app/wallets/sign-in/assets/narrow-wide.png
  apps/portal/src/app/wallets/sign-in/customization/page.mdx
  apps/portal/src/app/wallets/users/page.mdx
  apps/portal/src/app/wallets/users/social-config.png
Labels: portal

fix: header link coloring
  apps/portal/src/app/Header.tsx
Labels: portal

react: update hooks to use core transaction types
  packages/thirdweb/src/react/core/hooks/transaction/useSendAndConfirmTransaction.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendBatchTransaction.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
Labels: packages, sdk

add changeset
  .changeset/smooth-crabs-reply.md
Labels: none

Dashboard: Show upsell card on support page for free plan (#7648)
  apps/dashboard/src/@/components/blocks/upsell-wrapper.tsx
  apps/dashboard/src/@/components/chat/CustomChatButton.tsx
  apps/dashboard/src/@/components/chat/CustomChats.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/CreateSupportCase.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportHeader.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportTicketForm.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/create/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: dashboard

updates
  apps/dashboard/src/@/components/blocks/distribution-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-airdrop.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-distribution.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/components/claim-rewards-page.tsx
Labels: dashboard

add pricing strategy selector
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/utils/unclaimed-fees.ts
Labels: dashboard

distribute page ui updates
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/components/claim-rewards-page.tsx
Labels: dashboard

ui tweaks
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/components/claim-rewards-page.tsx
Labels: dashboard

docs: new payments guides
  apps/portal/redirects.mjs
  apps/portal/src/app/globals.css
  apps/portal/src/app/payments/custom-data/page.mdx
  apps/portal/src/app/payments/layout.tsx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/payments/routes/page.mdx
  apps/portal/src/app/payments/sell/page.mdx
  apps/portal/src/app/payments/send/page.mdx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/tokens/page.mdx
  apps/portal/src/app/payments/webhooks/page.mdx
  apps/portal/src/components/Document/PageFooter.tsx
  apps/portal/src/components/others/Feedback.tsx
  apps/portal/src/components/others/Sidebar.tsx
  apps/portal/src/components/others/TableOfContents.tsx
  apps/portal/src/components/ui/button.tsx
  apps/portal/src/components/ui/tabs.tsx
Labels: portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
