Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

fix line endings
  packages/thirdweb/src/contract/contract.ts
  packages/thirdweb/src/utils/address.ts
Labels: packages, sdk

move cross-spawn to dependencies
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

Expose social icons
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.tsx
Labels: packages, sdk

update
  packages/thirdweb/src/extensions/marketplace/direct-listings/direct-listings.test.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/write/createListing.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/write/updateListing.ts
  packages/thirdweb/src/extensions/marketplace/english-auctions/english-auctions.test.ts
  packages/thirdweb/src/extensions/marketplace/english-auctions/write/bidInAuction.ts
  packages/thirdweb/src/extensions/marketplace/english-auctions/write/createAuction.ts
  packages/thirdweb/src/extensions/marketplace/offers/offers.test.ts
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/ClaimButton/ClaimButton.test.tsx
  packages/thirdweb/src/rpc/actions/eth_getBlockByHash.test.ts
  packages/thirdweb/src/rpc/actions/eth_getTransactionByHash.test.ts
  packages/thirdweb/src/storage/upload.test.ts
  packages/thirdweb/src/transaction/actions/encode.test.ts
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.test.ts
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.ts
  packages/thirdweb/src/transaction/utils.test.ts
  packages/thirdweb/src/utils/extensions/resolve-currency-value.test.ts
  packages/thirdweb/src/utils/promise/p-limit.test.ts
  packages/thirdweb/src/wallets/coinbase/utils.test.ts
  packages/thirdweb/src/wallets/utils/chains.test.ts
  packages/thirdweb/src/wallets/utils/chains.ts
Labels: packages, sdk

update
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/claim-button.tsx
Labels: dashboard

update
  apps/portal/package.json
  apps/portal/src/components/Document/ApiEndpointComponent.tsx
  apps/portal/src/components/ui/badge.tsx
  apps/portal/src/components/ui/collapsible.tsx
  apps/portal/src/components/ui/select.tsx
  pnpm-lock.yaml
Labels: portal

feat: add backend wallets for ecosystem and in app wallet
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Labels: packages, sdk

chore: add changeset
  .changeset/popular-ravens-reflect.md
Labels: none

chore: update error message
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.ts
Labels: packages, sdk

update
  .changeset/little-beds-dress.md
  packages/thirdweb/src/react/core/hooks/connection/types.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnect.ts
Labels: packages, sdk

Add copyable schema for LLM usage
  apps/portal/src/app/insight/agents-and-llms/page.mdx
  apps/portal/src/app/insight/get-started/page.mdx
  apps/portal/src/app/insight/sidebar.tsx
Labels: portal

tested component
  apps/portal/src/app/nebula/api-reference/update-session/data.jsx
  apps/portal/src/app/nebula/api-reference/update-session/page.mdx
  apps/portal/src/components/Document/index.ts
Labels: portal

added data
  apps/portal/src/app/nebula/api-reference/chat/data.jsx
  apps/portal/src/app/nebula/api-reference/chat/page.mdx
  apps/portal/src/app/nebula/api-reference/clear-session/data.jsx
  apps/portal/src/app/nebula/api-reference/clear-session/page.mdx
  apps/portal/src/app/nebula/api-reference/create-session/data.jsx
  apps/portal/src/app/nebula/api-reference/create-session/page.mdx
  apps/portal/src/app/nebula/api-reference/delete-session/data.jsx
  apps/portal/src/app/nebula/api-reference/delete-session/page.mdx
  apps/portal/src/app/nebula/api-reference/execute/data.jsx
  apps/portal/src/app/nebula/api-reference/execute/page.mdx
  apps/portal/src/app/nebula/api-reference/get-session/data.jsx
  apps/portal/src/app/nebula/api-reference/get-session/page.mdx
  apps/portal/src/app/nebula/api-reference/list-session/data.jsx
  apps/portal/src/app/nebula/api-reference/list-session/page.mdx
Labels: portal

Update popular-ravens-reflect.md
  .changeset/popular-ravens-reflect.md
Labels: none

Update popular-ravens-reflect.md
  .changeset/popular-ravens-reflect.md
Labels: none

Update backend.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.ts
Labels: packages, sdk

docs
  packages/thirdweb/src/wallets/in-app/native/auth/index.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/index.ts
Labels: packages, sdk

Bump next from 15.1.0 to 15.1.3 (#5856)
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, portal, Ecosystem Portal

Update contract.ts
  packages/thirdweb/src/contract/contract.ts
Labels: packages, sdk

Update contract.ts
  packages/thirdweb/src/contract/contract.ts
Labels: packages, sdk

Expose social icons (#5876)
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.tsx
Labels: packages, sdk

[TOOL-2875] move cross-spawn to dependencies (#5875)
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

return address type for contractoptions (#5874)
  packages/thirdweb/src/contract/contract.ts
  packages/thirdweb/src/utils/address.ts
Labels: packages, sdk

[SDK] fix: clear inflightRequests after each batch RPC call (#5872)
  packages/thirdweb/src/rpc/rpc.ts
Labels: packages, sdk

TOOL-2831 - Update docs for showTestnetFaucet (#5868)
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
Labels: packages, sdk

[Dashboard] Trim whitespace at the end of the input value for claim form (#5860)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/claim-button.tsx
Labels: dashboard

[SDK] Fix: Undefined chain ID on eip1193 provider input (#5871)
  .changeset/yellow-experts-sparkle.md
  packages/thirdweb/src/adapters/eip1193/from-eip1193.test.ts
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

lint
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/insight/sidebar.tsx
Labels: portal

Add docs agents and llms docs for insight (#5881)
  apps/portal/src/app/insight/agents-and-llms/page.mdx
Labels: portal

[SDK] Feature: Adds `getAdminAccount` to ecosystem wallets and cleans up smart account creation (#5829)
  .changeset/afraid-mails-sip.md
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.test.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/index.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
  packages/thirdweb/src/wallets/smart/smart.test.ts
Labels: packages, sdk

removed axios
  apps/portal/src/app/nebula/api-reference/chat/data.jsx
  apps/portal/src/app/nebula/api-reference/create-session/data.jsx
  apps/portal/src/app/nebula/api-reference/execute/data.jsx
  apps/portal/src/app/nebula/api-reference/list-session/data.jsx
Labels: portal

Update apps/portal/src/app/contracts/build/base-contracts/erc-4337/account-factory/page.mdx
  apps/portal/src/app/contracts/build/base-contracts/erc-4337/account-factory/page.mdx
Labels: portal

Edit [DOCS]: Updated import. @thirdweb-dev/contracts and add _defaultAdmin (#5848)
  apps/portal/src/app/contracts/build/base-contracts/erc-4337/account-factory/page.mdx
Labels: portal

fix: add delay on flaky test
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: packages, sdk

[SDK] Fix: Undefined chain ID on eip1193 provider input (#5871)
  .changeset/yellow-experts-sparkle.md
  packages/thirdweb/src/adapters/eip1193/from-eip1193.test.ts
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

feat(sdk): add getAdminAccount to ecosystem wallets
  .changeset/afraid-mails-sip.md
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.test.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/index.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
  packages/thirdweb/src/wallets/smart/smart.test.ts
Labels: packages, sdk

[Dashboard] Fix: If only one time period has analytics events (#5886)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
Labels: dashboard

[SDK] onTimeout for useAutoConnect | TOOL-2673 (#5879)
  .changeset/little-beds-dress.md
  packages/thirdweb/src/react/core/hooks/connection/types.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnect.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnectCore.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
  packages/thirdweb/test/vitest.config.ts
Labels: packages, sdk

CORE-458 | Improve the function comment of the Explorer (#5861)
  apps/dashboard/src/components/contract-functions/contract-function-comment.tsx
  apps/dashboard/src/contract-ui/hooks/useContractFunctionComment.ts
  packages/thirdweb/src/contract/actions/compiler-metadata.ts
Labels: dashboard, packages, sdk

Add side nav link to ai docs in insight (#5885)
  apps/portal/src/app/insight/sidebar.tsx
Labels: portal
