Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Version Packages (#7445)
  .changeset/eleven-taxis-mix.md
  .changeset/huge-eggs-drop.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

fix: add unsupported token screen to transaction widget
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
Labels: playground, packages, sdk

fix: onramp webhook receiver address is optional
  .changeset/crazy-bushes-stick.md
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  packages/thirdweb/src/bridge/Webhook.ts
Labels: playground, packages, sdk

fix: payment links UI
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
Labels: dashboard

Feature: Add fallback when we cant fetch the token in new widgets (#7452)
  .changeset/crazy-bushes-stick.md
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/bridge/Webhook.ts
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
Labels: dashboard, playground, packages, sdk

update zod
  .changeset/fluffy-books-hammer.md
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, Ecosystem Portal

ui updates
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/SupportLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/CreateTicketForm.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCasesClient.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportTabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/TeamProjectsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/account/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/connect/AffectedAreaInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/connect/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/contracts/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/engine/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/other/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_AttachmentUploader.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_DescriptionInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_SelectInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_TeamSelection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_TelegramInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_TextInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_UnityInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/create/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: dashboard

self-serve infra deployment
  apps/dashboard/biome.json
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/UpsellBannerCard.tsx
  apps/dashboard/src/@/icons/ChainIcon.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/scale/[chain_id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/scale/deploy/_components/checkout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/scale/deploy/_components/order-summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/scale/deploy/_components/payment-frequency-selector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/scale/deploy/_components/service-selector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/scale/deploy/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/scale/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/scale/page.tsx
  apps/nebula/biome.json
  apps/playground-web/biome.json
  apps/portal/biome.json
  apps/wallet-ui/biome.json
  biome.json
  packages/engine/biome.json
  packages/insight/biome.json
  packages/nebula/biome.json
  packages/react-native-adapter/biome.json
  packages/service-utils/biome.json
  packages/thirdweb/biome.json
  packages/vault-sdk/biome.json
  packages/wagmi-adapter/biome.json
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[SDK] Update zod dependency to 3.25.67 (#7451)
  .changeset/fluffy-books-hammer.md
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, Ecosystem Portal

Version Packages (#7453)
  .changeset/crazy-bushes-stick.md
  .changeset/fluffy-books-hammer.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

removed next steps chainlist page (#7443)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/NextSteps.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/ClaimChainSection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/products.ts
Labels: dashboard

updated text support page (#7447)
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
Labels: dashboard

update SDK
  packages/engine/src/client/types.gen.ts
  packages/engine/src/configure.ts
  packages/engine/src/exports/thirdweb.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: packages, sdk

fix lint
  packages/thirdweb/src/exports/wallets/in-app.native.ts
  packages/thirdweb/src/extensions/erc7702/account/createSessionKey.ts
Labels: packages, sdk

[Docs] Project Rebrand (#7455)
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/connect/layout.tsx
  apps/portal/src/app/connect/page.mdx
  apps/portal/src/app/connect/wallet/faq/page.mdx
  apps/portal/src/app/connect/wallet/get-started/page.mdx
  apps/portal/src/app/connect/wallet/migrate-to-thirdweb/page.mdx
  apps/portal/src/app/engine/v2/sidebar.tsx
  apps/portal/src/app/engine/v3/configure-wallets/server-wallets/page.mdx
  apps/portal/src/app/engine/v3/configure-wallets/smart-server-wallet/page.mdx
  apps/portal/src/app/engine/v3/faq/page.mdx
  apps/portal/src/app/engine/v3/get-started/page.mdx
  apps/portal/src/app/engine/v3/layout.tsx
  apps/portal/src/app/engine/v3/migrate/page.mdx
  apps/portal/src/app/engine/v3/page.mdx
  apps/portal/src/app/engine/v3/sidebar.tsx
  apps/portal/src/app/engine/v3/troubleshoot/page.mdx
  apps/portal/src/app/engine/v3/typescript-sdk/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/pay/customization/connectbutton/page.mdx
  apps/portal/src/app/pay/customization/send-transaction/page.mdx
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/pay/fees/page.mdx
  apps/portal/src/app/pay/get-started/page.mdx
  apps/portal/src/app/pay/guides/cross-chain-swapping/page.mdx
  apps/portal/src/app/pay/guides/nft-checkout/page.mdx
  apps/portal/src/app/pay/guides/onramp-integration/page.mdx
  apps/portal/src/app/pay/guides/smart-accounts/page.mdx
  apps/portal/src/app/pay/layout.tsx
  apps/portal/src/app/pay/onramp-providers/page.mdx
  apps/portal/src/app/pay/page.mdx
  apps/portal/src/app/pay/sidebar.tsx
  apps/portal/src/app/pay/supported-chains/page.mdx
  apps/portal/src/app/pay/troubleshoot/page.mdx
  apps/portal/src/app/pay/webhooks/page.mdx
  pnpm-lock.yaml
Labels: portal

[TOOL-4867] Dashboard: Fix Coin asset page crash on "unlimited" maxClaimableSupply (#7457)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/supply-claimed-progress.stories.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/supply-claimed-progress.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.tsx
Labels: dashboard

[TOOL-4897] Dashboard: Add Contract creator badge in Coin and NFT asset page (#7458)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/getContractCreator.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractCreatorBadge.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.stories.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page-layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page.tsx
Labels: dashboard

[TOOL-4898] Dashboard: Replace PayEmbed with BuyWidget in asset page, add tracking (#7459)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/PayEmbedSection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/contract-analytics/contract-analytics.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
Labels: dashboard

fix: include AA props in default wallets
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/wallets/defaultWallets.ts
Labels: packages, sdk

changeset
  .changeset/fifty-turtles-sneeze.md
Labels: none

chore: change webhook back to object
  .changeset/mean-jars-cheat.md
  packages/service-utils/src/node/webhookProducer.ts
Labels: packages

feat: adds location to platform headers
  packages/thirdweb/src/utils/fetch.ts
Labels: packages, sdk

chore: change webhook back to object (#7461)
  .changeset/mean-jars-cheat.md
  packages/service-utils/src/node/webhookProducer.ts
Labels: packages

[TOOL-4899] Dashboard: fetch token icon from bridge api as fallback in coin asset page (#7460)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_utils/fetch-coin-info.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
Labels: dashboard

Fix: Exclude IAW when smart wallets are used (#7454)
  .changeset/fifty-turtles-sneeze.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/wallets/defaultWallets.ts
Labels: packages, sdk

[SDK] Add enableCard prop to control fiat payment visibility
  .changeset/dull-breads-start.md
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  pnpm-lock.yaml
Labels: packages, sdk

[SDK] Update enableCard prop to paymentMethods array
  .changeset/dull-breads-start.md
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

wts crlf
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/extensions/erc7702/account/createSessionKey.ts
  packages/thirdweb/src/extensions/erc7702/account/sessionkey.test.ts
  packages/thirdweb/src/extensions/erc7702/account/types.ts
Labels: packages, sdk

lint
  packages/engine/package.json
  packages/engine/src/configure.ts
  packages/engine/src/exports/thirdweb.ts
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
Labels: packages, sdk

[SDK] EIP-7702 Session Keys (#7432)
  .changeset/chatty-chairs-mate.md
  packages/thirdweb/src/exports/wallets/in-app.native.ts
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/extensions/erc7702/account/createSessionKey.ts
  packages/thirdweb/src/extensions/erc7702/account/sessionkey.test.ts
  packages/thirdweb/src/extensions/erc7702/account/types.ts
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
Labels: packages, sdk

fix url
  packages/engine/openapi-ts.config.ts
  packages/engine/src/client/client.gen.ts
  packages/engine/src/client/types.gen.ts
Labels: packages

cleanup
  packages/engine/package.json
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-gateway.test.ts
Labels: packages, sdk

changeset
  .changeset/heavy-banks-think.md
  .changeset/lovely-brooms-relax.md
Labels: none

Version Packages (#7463)
  .changeset/chatty-chairs-mate.md
  .changeset/fifty-turtles-sneeze.md
  .changeset/heavy-banks-think.md
  .changeset/lovely-brooms-relax.md
  .changeset/mean-jars-cheat.md
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

handle fiat only, add playground toggle
  apps/playground-web/src/app/connect/pay/components/CodeGen.tsx
  apps/playground-web/src/app/connect/pay/components/types.ts
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/app/connect/pay/embed/page.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: playground, packages, sdk

fix test
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.test.ts
Labels: packages, sdk

Rename "Onboard Users" to "User Wallets" and simplify wallet documentation
  apps/portal/knip.json
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/get-started/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/configure/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/external-wallets/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/get-started/page.mdx
  apps/portal/src/app/typescript/v5/getting-started/page.mdx
  apps/portal/src/app/typescript/v5/in-app-wallet/page.mdx
  apps/portal/src/app/typescript/v5/supported-wallets/page.mdx
  packages/thirdweb/src/wallets/in-app/core/authentication/guest.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: packages, sdk, portal

lint
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.test.ts
Labels: packages, sdk

[SDK] Add enableCard prop to control fiat payment visibility (#7465)
  .changeset/dull-breads-start.md
  apps/playground-web/src/app/connect/pay/components/CodeGen.tsx
  apps/playground-web/src/app/connect/pay/components/types.ts
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/app/connect/pay/embed/page.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.test.ts
  pnpm-lock.yaml
Labels: playground, packages, sdk

[Portal] simplify get started wallet documentation (#7466)
  apps/portal/knip.json
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/get-started/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/configure/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/external-wallets/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/get-started/page.mdx
  apps/portal/src/app/typescript/v5/getting-started/page.mdx
  apps/portal/src/app/typescript/v5/in-app-wallet/page.mdx
  apps/portal/src/app/typescript/v5/supported-wallets/page.mdx
  packages/thirdweb/src/wallets/in-app/core/authentication/guest.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: packages, sdk, portal
