Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, legacy_packages, packages, portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
legacy_packages:
  - changed-files:
    - any-glob-to-any-file: "legacy-packages/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"

fix more lint
  apps/dashboard/src/components/contract-components/hooks.ts
Labels: dashboard

Add Abstract testnet to ZK Sync chain checks (#3986)
  .changeset/nice-vans-juggle.md
  apps/dashboard/src/components/contract-components/hooks.ts
  legacy_packages/cli/src/cli/index.ts
  legacy_packages/sdk/src/evm/contracts/index.ts
  legacy_packages/wallets/src/evm/connectors/smart-wallet/utils.ts
  packages/thirdweb/src/chains/chain-definitions/abstract-testnet.ts
  packages/thirdweb/src/exports/chains.ts
  packages/thirdweb/src/wallets/smart/lib/utils.ts
Labels: dashboard, packages

encode function name in query params
  apps/dashboard/src/contract-ui/tabs/transactions/components/transactions-feed.tsx
Labels: dashboard

chore: remove console logs
  apps/dashboard/src/contract-ui/tabs/transactions/components/transactions-feed.tsx
Labels: dashboard

remove .d from type filename
  packages/thirdweb/src/chainsaw/endpoints/getBlock.ts
  packages/thirdweb/src/chainsaw/endpoints/getEvents.ts
  packages/thirdweb/src/chainsaw/endpoints/getLatestBlockNumber.ts
  packages/thirdweb/src/chainsaw/endpoints/getNFTsByCollection.ts
  packages/thirdweb/src/chainsaw/endpoints/getNFTsByOwner.ts
  packages/thirdweb/src/chainsaw/endpoints/getTransactions.ts
  packages/thirdweb/src/chainsaw/types.ts
Labels: packages

Update packages/thirdweb/src/chainsaw/urls.ts
  packages/thirdweb/src/chainsaw/urls.ts
Labels: packages

Update packages/thirdweb/src/chainsaw/urls.ts
  packages/thirdweb/src/chainsaw/urls.ts
Labels: packages

Update packages/thirdweb/src/chainsaw/urls.ts
  packages/thirdweb/src/chainsaw/urls.ts
Labels: packages

fix const to functions
  packages/thirdweb/src/chainsaw/urls.ts
Labels: packages

refactor const to function
  packages/thirdweb/src/chainsaw/formatter.ts
  packages/thirdweb/src/chainsaw/paging.ts
Labels: packages

rename paging function
  packages/thirdweb/src/chainsaw/endpoints/getEvents.ts
  packages/thirdweb/src/chainsaw/endpoints/getNFTsByCollection.ts
  packages/thirdweb/src/chainsaw/endpoints/getNFTsByOwner.ts
  packages/thirdweb/src/chainsaw/endpoints/getTransactions.ts
  packages/thirdweb/src/chainsaw/paging.ts
Labels: packages

fix imports
  packages/thirdweb/src/chainsaw/types.ts
Labels: packages

Sync Chain object changes to Connection manager and wallets from UI components (#3989)
  .changeset/silver-adults-sort.md
  packages/thirdweb/src/adapters/wallet-adapter.ts
  packages/thirdweb/src/chains/utils.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/reactive/store.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-wallet.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/ecosystem-core.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/manager/index.ts
  packages/thirdweb/src/wallets/native/create-wallet.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Labels: packages

allow useActiveWalletChain direct usage in dashboard (#3990)
  apps/dashboard/.eslintrc.js
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/add-chain-to-wallet.tsx
  apps/dashboard/src/components/app-layouts/provider-setup.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/index.tsx
  apps/dashboard/src/components/contract-components/hooks.ts
  apps/dashboard/src/components/contract-components/import-contract/modal.tsx
  apps/dashboard/src/components/onboarding/Steps.tsx
  apps/dashboard/src/components/wallets/PosthogIdentifier.tsx
  apps/dashboard/src/contract-ui/tabs/account/components/account-balance.tsx
  apps/dashboard/src/lib/v5-adapter.ts
Labels: dashboard

Added Fraxtal Testnet to the chain-defintions
  packages/thirdweb/src/chains/chain-definitions/fraxtal-testnet.ts
Labels: packages

Added Mode Testnet to the chain-definitions
  packages/thirdweb/src/chains/chain-definitions/mode-testnet.ts
Labels: packages

Create strange-jars-search.md
  .changeset/strange-jars-search.md
Labels: none

Added Fraxtal and Mode Testnets to the chain-definitions (#3996)
  .changeset/strange-jars-search.md
  packages/thirdweb/src/chains/chain-definitions/fraxtal-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/mode-testnet.ts
Labels: packages

[Chore] Unify import statements in chain definition files
  packages/thirdweb/src/chains/chain-definitions/fraxtal-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/mode-testnet.ts
Labels: packages

[Chore] Unify import statements in chain definition files (#3999)
  packages/thirdweb/src/chains/chain-definitions/fraxtal-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/mode-testnet.ts
Labels: packages

fix(ts): migrate serializeTransaction and universalSignatureValidatorByteCode to viem (#3997)
  .changeset/few-badgers-deny.md
  legacy_packages/crypto/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/auth/constants.ts
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/transaction/serialize-transaction.test.ts
  packages/thirdweb/src/transaction/serialize-transaction.ts
  pnpm-lock.yaml
Labels: packages

Update page.mdx
  apps/portal/src/app/dotnet/getting-started/page.mdx
Labels: portal

[dash] deploy form layout + various UI updates/fixes (#3994)
  apps/dashboard/src/@/components/blocks/BurgerMenuButton.tsx
  apps/dashboard/src/@/components/blocks/Sidebar.tsx
  apps/dashboard/src/@/components/ui/NavLink.tsx
  apps/dashboard/src/@/components/ui/checkbox.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/MobileMenu.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/chain-header.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/sidebar-content.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/components/color-mode/color-mode-toggle.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/layout/app-shell/index.tsx
  apps/dashboard/src/components/pages/publish.tsx
  apps/dashboard/src/pages/publish/[...paths].tsx
Labels: dashboard

Add Knowledge base widget to support page
  apps/dashboard/next.config.js
  apps/dashboard/src/app/(dashboard)/support/page.tsx
Labels: dashboard
