Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[Dashboard] Replace serverThirdwebClient with getUserThirdwebClient (#6990)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractFromParams.ts
Labels: dashboard

Dashboard: Contract pages cleanup (#6991)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractFromParams.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account-permissions/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/claim-conditions/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/code/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/events/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/explorer/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/published-by-ui.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/published-by.server.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/sources/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/page.tsx
Labels: dashboard

Dashboard: Fix team links in header on pages outside /team layout (#6981)
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectionUI.tsx
Labels: dashboard

updated titles/text
  apps/dashboard/framer-rewrites.js
  apps/portal/src/app/knowledge-base/get-started/page.mdx
  apps/portal/src/app/knowledge-base/page.mdx
Labels: dashboard, portal

[NEB-241] Nebula: /chat endpoint schema update related changes (#6982)
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/api/types.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaImage.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
Labels: dashboard

feat: adds token selector
  apps/dashboard/src/@/api/universal-bridge/constants.ts
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/TokenSelector.stories.tsx
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/hooks/tokens/tokens.ts
Labels: dashboard

feat: ens resolution
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/hooks/tokens/tokens.ts
Labels: dashboard

fix token fetching
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/hooks/tokens/tokens.ts
Labels: dashboard

fix lucide error
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-nft/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-token/page.tsx
Labels: dashboard

fix: empty states
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalPayVolume.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalVolumePieChart.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/common.tsx
Labels: dashboard

fix: replace Loader2 with RefreshCcw for lucide-react compatibility
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-nft/page.tsx
Labels: dashboard

feat: add title and image upload
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/hooks/tokens/tokens.ts
Labels: dashboard

fix: replace RefreshCcw with Loader2Icon for lucide-react compatibility
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-nft/page.tsx
Labels: dashboard

lint
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/@/constants/public-envs.ts
Labels: dashboard

Feature: Checkout link creation page (#6989)
  apps/dashboard/src/@/api/universal-bridge/constants.ts
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/TokenSelector.stories.tsx
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/app/checkout/components/client/Providers.client.tsx
  apps/dashboard/src/app/checkout/page.tsx
  apps/dashboard/src/hooks/tokens/tokens.ts
Labels: dashboard

fix: use Loader2Icon and make it work with lucide-react
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-nft/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-token/page.tsx
Labels: dashboard

[NEB-210] Nebula: Add image upload (#6995)
  apps/dashboard/src/@/components/ui/image-upload-button.tsx
  apps/dashboard/src/app/nebula-app/(app)/api/types.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/MessageActions.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaImage.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
Labels: dashboard

fix: auth method for checkout page api requests to ub service
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/app/checkout/page.tsx
  apps/dashboard/src/hooks/tokens/tokens.ts
Labels: dashboard

Fix: Auth method for checkout page api requests to ub service (#6996)
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/app/checkout/page.tsx
  apps/dashboard/src/hooks/tokens/tokens.ts
Labels: dashboard

Feature: Add client id to checkout form url (#6997)
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/app/checkout/page.tsx
Labels: dashboard

Feature: Migrate Universal Bridge Analytics (#6988)
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/@/constants/public-envs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
  apps/dashboard/src/components/analytics/area-chart.tsx
  apps/dashboard/src/components/analytics/custom-tooltip.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayAnalyticsFilter.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalPayVolume.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalVolumePieChart.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/common.tsx
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayNewCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayPurchases.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayVolume.ts
  apps/dashboard/src/lib/time.ts
  apps/dashboard/src/types/analytics.ts
  pnpm-lock.yaml
Labels: dashboard

fix: invalid client id override
  apps/dashboard/src/@/api/universal-bridge/developer.ts
Labels: dashboard

Only set secret key or client ID when not using auth token (#6994)
  packages/thirdweb/src/utils/fetch.ts
Labels: packages, sdk

Update page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-nft/page.tsx
Labels: dashboard

Update page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-token/page.tsx
Labels: dashboard

Update page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/page.tsx
Labels: dashboard

fix: add teamId to API calls for Universal Bridge
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/components/client/Providers.client.tsx
  apps/dashboard/src/app/pay/components/types.ts
  apps/dashboard/src/app/pay/error.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
Labels: dashboard

Update apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
Labels: dashboard

[Dashboard] Fix: Use x-client-id + x-team-id for all UB requests (#6999)
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/components/client/Providers.client.tsx
  apps/dashboard/src/app/pay/components/types.ts
  apps/dashboard/src/app/pay/error.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
Labels: dashboard

feat: disable testnets in payment link form
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
Labels: dashboard

fix: restore disableTestnets prop in payment link form
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: dashboard

fix: update checkout references to payment in PaymentLinkForm
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
Labels: dashboard

fix: UI improvements for payment form and analytics placement
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
Labels: dashboard

[Dashboard] Feature: Disable testnets in Payment Link form (#7000)
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: dashboard

Fix testnet filtering in NetworkSelectors
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
Labels: dashboard

Fix testnet filtering in NetworkSelectors (#7001)
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
Labels: dashboard

Handle tx with value on engineAccount
  .changeset/tough-rules-heal.md
  packages/thirdweb/src/wallets/engine/index.ts
Labels: packages, sdk

Add EIP-5792 wallet capabilities support
  .changeset/forty-seals-raise.md
  apps/playground-web/src/app/connect/account-abstraction/5792/page.tsx
  apps/playground-web/src/app/connect/account-abstraction/7702/page.tsx
  apps/playground-web/src/app/connect/account-abstraction/sponsor/page.tsx
  apps/playground-web/src/app/connect/in-app-wallet/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/account-abstraction/5792-get-capabilities.tsx
  apps/playground-web/src/components/account-abstraction/5792-send-calls.tsx
  apps/playground-web/src/components/account-abstraction/7702-smart-account.tsx
  packages/thirdweb/src/react/core/hooks/wallets/useCapabilities.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/wallets/eip5792/get-calls-status.test.ts
  packages/thirdweb/src/wallets/eip5792/get-calls-status.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.test.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.test.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.ts
  packages/thirdweb/src/wallets/eip5792/show-calls-status.ts
  packages/thirdweb/src/wallets/eip5792/types.ts
  packages/thirdweb/src/wallets/eip5792/wait-for-bundle.test.ts
  packages/thirdweb/src/wallets/eip5792/wait-for-bundle.ts
  packages/thirdweb/src/wallets/in-app/core/eip5972/in-app-wallet-calls.ts
  packages/thirdweb/src/wallets/in-app/core/eip5972/in-app-wallet-capabilities.ts
  packages/thirdweb/src/wallets/smart/lib/smart-wallet-capabilities.ts
Labels: playground, packages, sdk

[SDK] Handle tx with value on engineAccount (#7004)
  .changeset/tough-rules-heal.md
  packages/thirdweb/src/wallets/engine/index.ts
Labels: packages, sdk

Version Packages (#7006)
  .changeset/tough-rules-heal.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk
