Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

react: fix native `<ConnectEmbed />` component not auto-connecting
  .changeset/eighty-women-allow.md
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
Labels: packages, sdk

feat: more docs style improvements
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/components/Document/Heading.tsx
  apps/portal/src/components/Document/Paragraph.tsx
  apps/portal/src/components/Document/SDKCard.tsx
  apps/portal/src/components/Document/index.ts
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/TableOfContents.tsx
Labels: portal

lint
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/Document/Cards/ConnectCard.tsx
  apps/portal/src/components/Document/List.module.css
  apps/portal/src/components/Document/index.ts
  apps/portal/src/components/others/TableOfContents.tsx
Labels: portal

fix build
  apps/portal/src/components/others/Sidebar.tsx
Labels: portal

cleanup transactions sidebar and update llms.txt
  apps/portal/public/llms-full.txt
  apps/portal/public/llms.txt
  apps/portal/src/app/transactions/layout.tsx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
Labels: portal

fix core `sendBatchTransaction` types
  packages/thirdweb/src/transaction/actions/send-batch-transaction.ts
Labels: packages, sdk

[Dashboard] Show EOA server wallets by default (#7645)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  pnpm-lock.yaml
Labels: dashboard

standardize autoconnect between web/native
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
Labels: packages, sdk

lint
  packages/thirdweb/src/react/core/hooks/transaction/useSendAndConfirmTransaction.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendBatchTransaction.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
Labels: packages, sdk

[Engine] Update server wallet config types for EOA and EIP-7702 execution
  .changeset/large-hornets-scream.md
  .changeset/whole-ducks-cheat.md
  packages/engine/src/client/sdk.gen.ts
  packages/engine/src/client/types.gen.ts
  packages/thirdweb/src/engine/list-server-wallets.ts
  packages/thirdweb/src/engine/server-wallet.test.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: packages, sdk

cleanup transactions sidebar and update llms.txt
  apps/portal/public/llms-full.txt
  apps/portal/public/llms.txt
  apps/portal/src/app/transactions/layout.tsx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
Labels: portal

lint
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/payments/custom-data/page.mdx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/sell/page.mdx
  apps/portal/src/app/payments/send/page.mdx
  apps/portal/src/app/payments/webhooks/page.mdx
  apps/portal/src/components/Document/Cards/ConnectCard.tsx
  apps/portal/src/components/Document/List.module.css
  apps/portal/src/components/Document/index.ts
  apps/portal/src/components/others/TableOfContents.tsx
Labels: portal

fix build
  apps/portal/src/components/others/Sidebar.tsx
Labels: portal

chore: cleanup docs buttons
  apps/portal/src/app/page.tsx
Labels: portal

fix: adds missing redirects
  apps/portal/redirects.mjs
Labels: portal

chore: sidebar cleanup
  apps/portal/src/app/engine/v2/layout.tsx
  apps/portal/src/app/engine/v3/layout.tsx
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/react-native/v5/layout.tsx
  apps/portal/src/app/react-native/v5/page.mdx
  apps/portal/src/app/react/v5/layout.tsx
  apps/portal/src/app/react/v5/page.mdx
  apps/portal/src/app/typescript/v5/layout.tsx
  apps/portal/src/app/typescript/v5/page.mdx
  apps/portal/src/app/typescript/v5/sidebar.tsx
  apps/portal/src/app/unity/v5/layout.tsx
  apps/portal/src/app/unreal-engine/layout.tsx
  apps/portal/src/app/webhooks/layout.tsx
Labels: portal

fix build
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/payments/sell/page.mdx
Labels: portal

[Engine] Update server wallet config types for EOA and EIP-7702 execution (#7652)
  .changeset/large-hornets-scream.md
  .changeset/whole-ducks-cheat.md
  packages/engine/src/client/sdk.gen.ts
  packages/engine/src/client/types.gen.ts
  packages/thirdweb/src/engine/list-server-wallets.ts
  packages/thirdweb/src/engine/server-wallet.test.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: packages, sdk

[SDK] Fix: update hooks to use core transaction types (#7647)
  .changeset/smooth-crabs-reply.md
  packages/thirdweb/src/react/core/hooks/transaction/useSendAndConfirmTransaction.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendBatchTransaction.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/transaction/actions/send-batch-transaction.ts
Labels: packages, sdk

[SDK] Fix: fixes auto-connect on native `<ConnectEmbed />` component (#7650)
  .changeset/eighty-women-allow.md
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
Labels: packages, sdk

[Portal] Fix: update sidebar overflow behavior in DocLayout component
  apps/portal/src/components/Layouts/DocLayout.tsx
Labels: portal

[Portal] Update: Adjust icon sizes and improve sidebar styling in Header and DocLayout components
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/DocSearch.tsx
  apps/portal/src/components/others/theme/ThemeSwitcher.tsx
Labels: portal

[thirdweb] Fix TransactionWidget when wallet has enough currency
  .changeset/lucky-ravens-hope.md
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
Labels: playground, packages, sdk

[SDK] Fix TransactionWidget when wallet has enough currency (#7656)
  .changeset/lucky-ravens-hope.md
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
Labels: playground, packages, sdk

Version Packages (#7640)
  .changeset/early-shoes-tap.md
  .changeset/eighty-women-allow.md
  .changeset/fallback-native-balance.md
  .changeset/free-boxes-lose.md
  .changeset/large-hornets-scream.md
  .changeset/lucky-ravens-hope.md
  .changeset/smooth-crabs-reply.md
  .changeset/whole-bottles-wait.md
  .changeset/whole-ducks-cheat.md
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

only one file
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/overview/components/transactions-table.tsx
Labels: dashboard

only one file (#7659)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/overview/components/transactions-table.tsx
Labels: dashboard

Add final catch-all redirect for handling 404 errors in portal
  apps/portal/BROKEN_LINKS_SOLUTION.md
  apps/portal/redirects.mjs.backup.1753115584179
  apps/portal/scripts/add-404-redirects.ts
  apps/portal/scripts/add-final-catchall.ts
  apps/portal/scripts/check-broken-links.ts
  pnpm-lock.yaml
Labels: portal

Update portal label to TypeScript SDK (#7658)
  apps/dashboard/src/@/components/contracts/code-overview.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tools/transaction-simulator/components/TransactionSimulator.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/connect/index.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/EmptyState.tsx
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/contracts/explore/pre-built-contracts/account-factory/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-contracts/managed-account-factory/page.mdx
  apps/portal/src/app/engine/v2/features/relayers/page.mdx
  apps/portal/src/app/infrastructure/sidebar.tsx
  apps/portal/src/app/pay/guides/cross-chain-swapping/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/ui-components/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/how-to/interact-blockchain/page.mdx
  apps/portal/src/app/react/v5/rainbow-kit-migrate/page.mdx
  apps/portal/src/app/references/typescript/[version]/layout.tsx
  apps/portal/src/app/typescript/v5/connecting-wallets/page.mdx
  apps/portal/src/app/typescript/v5/wallets/page.mdx
  apps/portal/src/app/wallets/external-wallets/com.coinbase.wallet/page.tsx
  apps/portal/src/app/wallets/quickstart/page.mdx
  packages/react-native-adapter/README.md
Labels: dashboard, packages, portal

fixed playground import
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
Labels: playground

[TOOL-5083] Portal: Fix header on mobile viewport
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/DocSearch.tsx
  codecov.yml
Labels: portal

fixed playground import (#7660)
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
Labels: playground

[TOOL-5075] SDK: Fix various alignment issues in components (#7657)
  .changeset/sad-vans-wait.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/MenuButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ReceiveFunds.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/react/web/ui/components/text.tsx
  packages/thirdweb/src/react/web/wallets/shared/GetStartedScreen.tsx
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
Labels: packages, sdk

Adjust icon sizes in Header, DocSearch, and ThemeSwitcher components for consistency
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/others/DocSearch.tsx
  apps/portal/src/components/others/theme/ThemeSwitcher.tsx
Labels: portal

[React] Fix native token fallback when insight query fails
  .changeset/eighty-rings-think.md
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, sdk

[SDK] Fix native token fallback when insight query fails (#7666)
  .changeset/eighty-rings-think.md
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, sdk

[TOOL-5083] Portal: Fix header on mobile viewport (#7661)
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/DocSearch.tsx
  codecov.yml
Labels: portal

[PRO-249] Portal: Update OG images (#7664)
  apps/portal/package.json
  apps/portal/public/og/background-1.png
  apps/portal/public/og/icons/contract.svg
  apps/portal/src/app/api/og/route.tsx
  apps/portal/src/app/contracts/page.mdx
  apps/portal/src/app/payments/custom-data/page.mdx
  apps/portal/src/app/payments/layout.tsx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/payments/routes/page.mdx
  apps/portal/src/app/payments/sell/page.mdx
  apps/portal/src/app/payments/send/page.mdx
  apps/portal/src/app/payments/tokens/page.mdx
  apps/portal/src/app/payments/webhooks/page.mdx
  apps/portal/src/app/vault/layout.tsx
  apps/portal/src/app/vault/page.mdx
  apps/portal/src/components/Document/metadata.ts
Labels: portal

[Portal] Fix: update sidebar overflow behavior in DocLayout component
  apps/portal/src/components/Layouts/DocLayout.tsx
Labels: portal

lint
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/others/DocSearch.tsx
Labels: portal
