Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[SDK] Update implementations (#6162)
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: packages, sdk

fix: Fix usageV2 imports, allow sdk source
  .changeset/small-moons-behave.md
  packages/service-utils/package.json
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

types package
  packages/service-utils/package.json
  pnpm-lock.yaml
Labels: packages

pin version
  packages/service-utils/package.json
  pnpm-lock.yaml
Labels: packages

fix: Fix usageV2 imports, allow sdk source (#6164)
  .changeset/small-moons-behave.md
  packages/service-utils/package.json
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

[service-utils] Add kafka producer to emit raw messages
  .changeset/thirty-monkeys-promise.md
  packages/service-utils/src/node/kafka.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

remove init()
  packages/service-utils/src/node/kafka.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

[service-utils] Add kafka producer to emit raw messages (#6170)
  .changeset/thirty-monkeys-promise.md
  packages/service-utils/src/node/kafka.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

fix: kafka producer
  .changeset/lazy-files-act.md
  packages/service-utils/src/node/index.ts
Labels: packages

[service-utils] fix: export kafka producer (#6171)
  .changeset/lazy-files-act.md
  packages/service-utils/src/node/index.ts
Labels: packages

updated react pages to spanish crowdin pages
  apps/portal/src/app/connect/account-abstraction/permissions/page.mdx
  apps/portal/src/app/connect/in-app-wallet/guides/enable-gasless/page.mdx
  apps/portal/src/app/connect/wallet/overview/page.mdx
  apps/portal/src/app/contracts/build/get-started/page.mdx
  apps/portal/src/app/insight/get-started/page.mdx
  apps/portal/src/app/react-native/v5/getting-started/page.mdx
  apps/portal/src/app/react-native/v5/page.mdx
  apps/portal/src/app/react/v5/account-abstraction/get-started/page.mdx
  apps/portal/src/app/react/v5/account-abstraction/permissions/page.mdx
  apps/portal/src/app/react/v5/adapters/page.mdx
  apps/portal/src/app/react/v5/components/onchain/page.mdx
  apps/portal/src/app/react/v5/getting-started/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/enable-gasless/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/export-private-key/page.mdx
  apps/portal/src/app/react/v5/migrate/cheatsheet/page.mdx
  apps/portal/src/app/react/v5/migrate/contracts/page.mdx
  apps/portal/src/app/react/v5/migrate/ethers-adapter/page.mdx
  apps/portal/src/app/react/v5/migrate/installation/page.mdx
  apps/portal/src/app/react/v5/migrate/page.mdx
  apps/portal/src/app/react/v5/pay/transaction/page.mdx
  apps/portal/src/app/react/v5/rainbow-kit-migrate/page.mdx
  apps/portal/src/app/react/v5/reading-state/page.mdx
  apps/portal/src/app/react/v5/transactions/page.mdx
  apps/portal/src/app/typescript/v5/account-abstraction/permissions/page.mdx
  apps/portal/src/app/typescript/v5/adapters/page.mdx
  apps/portal/src/app/typescript/v5/contract/page.mdx
  apps/portal/src/app/typescript/v5/getting-started/page.mdx
  apps/portal/src/app/typescript/v5/migrate/page.mdx
  apps/portal/src/app/typescript/v5/page.mdx
  apps/portal/src/app/unity/v5/getting-started/page.mdx
  packages/thirdweb/src/react/web/ui/SiteEmbed.tsx
  packages/thirdweb/src/react/web/ui/SiteLink.tsx
Labels: packages, sdk, portal

fix: Tweak 404 page (#6173)
  apps/dashboard/src/components/not-found-page.tsx
Labels: dashboard

updated typescript mdx pages
  apps/portal/src/app/typescript/v5/auth/page.mdx
  apps/portal/src/app/typescript/v5/chain/page.mdx
  apps/portal/src/app/typescript/v5/client/page.mdx
  apps/portal/src/app/typescript/v5/in-app-wallet/page.mdx
  apps/portal/src/app/typescript/v5/transactions/prepare/page.mdx
  apps/portal/src/app/typescript/v5/transactions/read/page.mdx
  apps/portal/src/app/typescript/v5/transactions/send/page.mdx
  apps/portal/src/app/typescript/v5/wallets/page.mdx
Labels: portal

[Portal] Add video and update prompt guide (#6163)
  apps/portal/src/app/nebula/page.mdx
  apps/portal/src/app/nebula/prompt-guide/page.mdx
Labels: portal

[Dashboard] Feature: add universal-bridge framer page (#6176)
  apps/dashboard/framer-rewrites.js
Labels: dashboard

fix: remove pay framer page (#6178)
  apps/dashboard/framer-rewrites.js
Labels: dashboard

[TOOL-3318] Dashboard: Add Upload Account Avatar feature in account settings page (#6179)
  apps/dashboard/src/@/actions/updateAccount.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPage.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPageUI.stories.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPageUI.tsx
  apps/dashboard/src/app/components/Header/SecondaryNav/account-button.client.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaAccountButton.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/_components/sidebar/TeamSettingsSidebar.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/page.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamSelectionUI.tsx
Labels: dashboard

fix: remove pay framer page (#6178)
  apps/dashboard/framer-rewrites.js
Labels: dashboard

[Portal Documentation] Fix: Typo Fix (#6156)
  apps/portal/src/app/typescript/v5/getting-started/page.mdx
Labels: portal

feat: Add support for forcing legacy transactions in chain configuration
  packages/thirdweb/src/chains/types.ts
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, sdk

support general feeType on chain and prepareTransaction
  packages/thirdweb/src/chains/types.ts
  packages/thirdweb/src/gas/fee-data.ts
  packages/thirdweb/src/transaction/prepare-transaction.ts
Labels: packages, sdk

fixed import
  packages/thirdweb/src/chains/types.ts
Labels: packages, sdk

export interface
  packages/service-utils/src/node/kafka.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

changeset
  .changeset/quiet-goats-know.md
Labels: none

export retries
  packages/service-utils/src/node/kafka.ts
Labels: packages

increase default to 2k
  packages/service-utils/src/node/kafka.ts
Labels: packages

[service-utils] Expose more kafka configs, set max in-flight requests (#6181)
  .changeset/quiet-goats-know.md
  packages/service-utils/src/node/kafka.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

[SDK] fix: Skip swap approvals and use local gas prices
  .changeset/cuddly-wombats-boil.md
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/utils/commonTypes.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapStatusScreen.tsx
Labels: playground, packages, sdk

[SDK] fix: Skip swap approvals and use local gas prices (#6182)
  .changeset/cuddly-wombats-boil.md
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/utils/commonTypes.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapStatusScreen.tsx
Labels: playground, packages, sdk

add chain to hardcoded list
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, sdk

Version Packages (#6166)
  .changeset/cuddly-wombats-boil.md
  .changeset/lazy-files-act.md
  .changeset/quiet-goats-know.md
  .changeset/small-moons-behave.md
  .changeset/thirty-monkeys-promise.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

changeset
  .changeset/healthy-cups-refuse.md
  packages/service-utils/src/core/usageV2.ts
Labels: packages

[service-utils] Update list of usageV2 sources (#6183)
  .changeset/healthy-cups-refuse.md
  packages/service-utils/src/core/usageV2.ts
Labels: packages

[TOOL-3299] Playground: Update Sidebar, Minor improvements and fixes (#6174)
  apps/playground-web/package.json
  apps/playground-web/src/app/AppSidebar.tsx
  apps/playground-web/src/app/MobileHeader.tsx
  apps/playground-web/src/app/connect/sign-in/button/RightSection.tsx
  apps/playground-web/src/app/connect/sign-in/components/WalletsSelection.tsx
  apps/playground-web/src/app/globals.css
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/app/page.tsx
  apps/playground-web/src/components/ClientOnly.tsx
  apps/playground-web/src/components/code/code-example.tsx
  apps/playground-web/src/components/headless-ui/chain-examples.tsx
  apps/playground-web/src/components/headless-ui/chain-previews.tsx
  apps/playground-web/src/components/ui/CustomAccordion.tsx
  apps/playground-web/src/components/ui/Img.tsx
  apps/playground-web/src/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/playground-web/src/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/playground-web/src/components/ui/sidebar.tsx
  pnpm-lock.yaml
Labels: playground

[TOOL-3314] Playground: Fix Next.js errors in Headless UI example pages (#6175)
  apps/playground-web/src/components/headless-ui/account-examples.tsx
  apps/playground-web/src/components/headless-ui/account-previews.tsx
  apps/playground-web/src/components/headless-ui/nft-examples.tsx
  apps/playground-web/src/components/headless-ui/nft-previews.tsx
  apps/playground-web/src/components/headless-ui/token-examples.tsx
  apps/playground-web/src/components/headless-ui/token-previews.tsx
  apps/playground-web/src/components/headless-ui/wallet-examples.tsx
  apps/playground-web/src/components/headless-ui/wallet-previews.tsx
Labels: playground

[SDK] fix: Requery allowances on quote screen return
  .changeset/stupid-experts-shake.md
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/PostOnRampSwap.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: packages, sdk

[SDK] fix: Requery allowances on quote screen return (#6187)
  .changeset/stupid-experts-shake.md
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/PostOnRampSwap.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: packages, sdk

add redirect from /connect/pay to /connect/universal-bridge (#6189)
  apps/dashboard/redirects.js
Labels: dashboard

prefer explicit clientId over secretKey computation (#6188)
  .changeset/wicked-chairs-own.md
  packages/thirdweb/src/client/client.test.ts
  packages/thirdweb/src/client/client.ts
Labels: packages, sdk

[SDK] feat: Add provider selection to fiat onramp
  .changeset/silent-comics-carry.md
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/utils/commonTypes.ts
  packages/thirdweb/src/react/core/utils/storage.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/Providers.tsx
Labels: playground, packages, sdk
