Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

fix typos
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/portal/src/app/connect/wallet/security/page.mdx
  apps/portal/src/app/contracts/build/base-contracts/erc-4337/account/page.mdx
  apps/portal/src/app/contracts/build/base-contracts/erc-4337/managed-account/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/ecosystem-wallet/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/in-app-wallet/page.mdx
  apps/portal/src/app/react/v5/getting-started/page.mdx
  apps/portal/src/app/react/v5/page.mdx
  apps/portal/src/app/react/v5/rainbow-kit-migrate/page.mdx
  apps/portal/src/app/typescript/v5/contract/page.mdx
  apps/portal/src/app/unity/v5/wallets/ecosystem-wallet/page.mdx
  apps/portal/src/app/unity/v5/wallets/in-app-wallet/page.mdx
  packages/thirdweb/src/contract/verification/constructor-params.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
  packages/thirdweb/src/react/native/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Wallet/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Chain/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/symbol.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/name.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletConnectUI.tsx
  packages/thirdweb/src/storage/upload/mobile.ts
Labels: dashboard, packages, sdk, portal

fix build
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/tx/[id]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/vault/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/vault/components/rotate-admin-key.client.tsx
  packages/thirdweb/.size-limit.json
  packages/thirdweb/src/utils/domain.test.ts
Labels: dashboard, packages, sdk

[NEB-231] Show Image response in Nebula, minor refactor (#6964)
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/api/types.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/MessageActions.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaImage.tsx
Labels: dashboard

updated creation pages
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-nft/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-token/page.tsx
Labels: dashboard

Adding new Plume Chains
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/utils.ts
Labels: dashboard

Add webhooks feature to Insight dashboard
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/@/components/blocks/multi-select.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/InsightPageLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_components/BasicInfoStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_components/FilterDetailsStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_components/ReviewStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_components/StepIndicator.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_hooks/useAbiProcessing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_hooks/useTestWebhook.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_utils/abi-utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_utils/webhook-types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/webhooks-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/page.tsx
Labels: dashboard

a
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-nft/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/page.tsx
Labels: dashboard

Update page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-token/page.tsx
Labels: dashboard

Fix typos (#6970)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/portal/src/app/connect/wallet/security/page.mdx
  apps/portal/src/app/contracts/build/base-contracts/erc-4337/account/page.mdx
  apps/portal/src/app/contracts/build/base-contracts/erc-4337/managed-account/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/ecosystem-wallet/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/in-app-wallet/page.mdx
  apps/portal/src/app/react/v5/getting-started/page.mdx
  apps/portal/src/app/react/v5/page.mdx
  apps/portal/src/app/react/v5/rainbow-kit-migrate/page.mdx
  apps/portal/src/app/typescript/v5/contract/page.mdx
  apps/portal/src/app/unity/v5/wallets/ecosystem-wallet/page.mdx
  apps/portal/src/app/unity/v5/wallets/in-app-wallet/page.mdx
  packages/thirdweb/src/contract/verification/constructor-params.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
  packages/thirdweb/src/react/native/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Wallet/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Chain/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/symbol.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/name.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletConnectUI.tsx
  packages/thirdweb/src/storage/upload/mobile.ts
Labels: dashboard, packages, sdk, portal

[Dashboard]: Adding new assets forPlume chains (#6971)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/utils.ts
Labels: dashboard

[SDK] Fix hex value handling for smart wallet execution
  .changeset/short-feet-check.md
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/utils.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
Labels: packages, sdk

[SDK] Fix hex value handling for smart wallet execution (#6974)
  .changeset/short-feet-check.md
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/utils.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
Labels: packages, sdk

Version Packages (#6972)
  .changeset/big-cases-wish.md
  .changeset/short-feet-check.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/vault-sdk/CHANGELOG.md
  packages/vault-sdk/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Version Packages (#6975)
  .changeset/silent-areas-melt.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Dashboard] Add info alert about Engines moving to projects
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
Labels: dashboard

[Dashboard] Add info alert about Engines moving to projects (#6976)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
Labels: dashboard

Adding Migration Guide to portal
  apps/portal/src/app/connect/wallet/web3-onboard/migration-guide/page.mdx
  apps/portal/src/app/connect/wallet/web3-onboard/overview/page.mdx
Labels: portal

adding sidebar routing.
  apps/portal/src/app/connect/sidebar.tsx
Labels: portal

fixing Migration Guide routing
  apps/portal/src/app/connect/sidebar.tsx
Labels: portal

[Dashboard] Add Indonesia to SMS country select options
  apps/dashboard/src/components/embedded-wallets/Configure/sms-country-select/utils.ts
Labels: dashboard

[Dashboard] Add Indonesia to SMS country select options (#6978)
  apps/dashboard/src/components/embedded-wallets/Configure/sms-country-select/utils.ts
Labels: dashboard

Add improvements to asset creation pages
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-nft/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-token/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/import/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/page.tsx
Labels: dashboard

Update apps/portal/src/app/connect/wallet/web3-onboard/migration-guide/page.mdx
  apps/portal/src/app/connect/wallet/web3-onboard/migration-guide/page.mdx
Labels: portal

updated alert description in team overview dashboard page (#6979)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
Labels: dashboard

Force auth token usage for storage uploads
  packages/thirdweb/src/storage/upload/web-node.ts
  packages/thirdweb/src/utils/fetch.test.ts
  packages/thirdweb/src/utils/fetch.ts
Labels: packages, sdk

feature: migrate ub analytics
  apps/dashboard/package.json
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/components/analytics/area-chart.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalPayVolume.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalVolumePieChart.tsx
  apps/dashboard/src/types/analytics.ts
  pnpm-lock.yaml
Labels: dashboard

Adding Step, removing conclusion, turning into links.
  apps/portal/src/app/connect/wallet/web3-onboard/migration-guide/page.mdx
Labels: portal

Updated with Samina notes.
  apps/portal/src/app/connect/wallet/web3-onboard/migration-guide/page.mdx
Labels: portal

[Dashboard] Store Engine access token in localStorage during FTUX
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/vault/components/create-vault-account.client.tsx
Labels: dashboard

Force auth token usage for storage uploads (#6973)
  packages/thirdweb/src/storage/upload/web-node.ts
  packages/thirdweb/src/utils/fetch.test.ts
  packages/thirdweb/src/utils/fetch.ts
Labels: packages, sdk

[Dashboard] more robust engine cloud FTUX (#6980)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/vault/components/create-vault-account.client.tsx
Labels: dashboard

[Portal] Block native to thridweb guide (#6977)
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/web3-onboard/migration-guide/page.mdx
  apps/portal/src/app/connect/wallet/web3-onboard/overview/page.mdx
Labels: portal

Separate authToken from secretKey in ThirdwebClient
  apps/dashboard/src/@/constants/thirdweb.server.ts
  packages/thirdweb/src/client/client.test.ts
  packages/thirdweb/src/client/client.ts
  packages/thirdweb/src/utils/fetch.ts
Labels: dashboard, packages, sdk

Handle JWT auth method explicitly in service-utils
  .changeset/crazy-states-sleep.md
  apps/playground-web/package.json
  packages/service-utils/src/core/authorize/client.ts
  packages/service-utils/src/core/authorize/index.ts
  pnpm-lock.yaml
Labels: playground, packages

Handle JWT auth method explicitly in service-utils (#6984)
  .changeset/crazy-states-sleep.md
  apps/playground-web/package.json
  packages/service-utils/src/core/authorize/client.ts
  packages/service-utils/src/core/authorize/index.ts
  pnpm-lock.yaml
Labels: playground, packages

Version Packages (#6986)
  .changeset/crazy-states-sleep.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

[Auth] Replace mainnet with ANVIL_CHAIN in verifyTypedData tests (#6985)
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/auth/verify-typed-data.test.ts
  pnpm-lock.yaml
Labels: packages, sdk

feat: adds payments history
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayAnalyticsFilter.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalPayVolume.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalVolumePieChart.tsx
  apps/dashboard/src/lib/time.ts
Labels: dashboard

feat: checkout link creation page
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/app/checkout/components/client/Providers.client.tsx
  apps/dashboard/src/app/checkout/page.tsx
Labels: dashboard

[Dashboard] Replace serverThirdwebClient with getUserThirdwebClient
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractFromParams.ts
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
