Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Gi/portal knowledge base (#6993)
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/knowledge-base/assets/add-new-vercel.png
  apps/portal/src/app/knowledge-base/assets/context-filters.png
  apps/portal/src/app/knowledge-base/assets/create-project-vercel.png
  apps/portal/src/app/knowledge-base/assets/deploy-github.png
  apps/portal/src/app/knowledge-base/assets/deploy-vercel.png
  apps/portal/src/app/knowledge-base/assets/inspect-console.png
  apps/portal/src/app/knowledge-base/assets/keys.png
  apps/portal/src/app/knowledge-base/assets/new-project-github.png
  apps/portal/src/app/knowledge-base/assets/new-project-name-github.png
  apps/portal/src/app/knowledge-base/assets/new-project.png
  apps/portal/src/app/knowledge-base/assets/permissions-soulbound.png
  apps/portal/src/app/knowledge-base/assets/screenshot-console.png
  apps/portal/src/app/knowledge-base/assets/set-approval-forall.png
  apps/portal/src/app/knowledge-base/assets/soulbound-explorer.png
  apps/portal/src/app/knowledge-base/assets/streamed-response.png
  apps/portal/src/app/knowledge-base/assets/tab-console.png
  apps/portal/src/app/knowledge-base/assets/variables-vercel.png
  apps/portal/src/app/knowledge-base/get-started/page.mdx
  apps/portal/src/app/knowledge-base/how-to/console-error-sharing/page.mdx
  apps/portal/src/app/knowledge-base/how-to/creating-soulbound-nfts/page.mdx
  apps/portal/src/app/knowledge-base/how-to/deploy-mint-template/page.mdx
  apps/portal/src/app/knowledge-base/layout.tsx
  apps/portal/src/app/knowledge-base/onchain-common-errors/thirdweb-cli/device-link-error/page.mdx
  apps/portal/src/app/knowledge-base/page.mdx
  apps/portal/src/app/knowledge-base/sidebar.tsx
  apps/portal/src/app/knowledge-base/troubleshoot/contracts/airdrop-contract/page.mdx
  apps/portal/src/app/knowledge-base/troubleshoot/contracts/batch-upload/page.mdx
  apps/portal/src/app/knowledge-base/troubleshoot/contracts/embed-feature-not-found/page.mdx
  apps/portal/src/app/knowledge-base/troubleshoot/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/icons/products/ContractsIcon.tsx
Labels: portal

Update deploy config (#7111)
  apps/dashboard/src/constants/addresses.ts
Labels: dashboard

Version Packages (#7105)
  .changeset/ten-parrots-poke.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Dashboard] Add ecosystem logo upload functionality
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
Labels: dashboard

[Docs] Add Vault SDK documentation and guides (#7054)
  apps/portal/src/app/vault/sdk/api-reference/page.mdx
  apps/portal/src/app/vault/sdk/guides/access-tokens/page.mdx
  apps/portal/src/app/vault/sdk/guides/creating-eoas/page.mdx
  apps/portal/src/app/vault/sdk/guides/signing/page.mdx
  apps/portal/src/app/vault/sdk/installation/page.mdx
  apps/portal/src/app/vault/sdk/page.mdx
  apps/portal/src/app/vault/sidebar.tsx
Labels: portal

[Dashboard] Add ecosystem logo upload functionality (#7113)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
Labels: dashboard

changeset
  .changeset/slick-apes-do.md
Labels: none

[service-utils] Improve 403 error messages with team and project details
  .changeset/blue-mice-prove.md
  packages/service-utils/src/core/authorize/service.test.ts
  packages/service-utils/src/core/authorize/service.ts
Labels: packages

[Dashboard] Add ecosystem name editing functionality
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
Labels: dashboard

[Dashboard] Add ecosystem name editing functionality (#7115)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
Labels: dashboard

[service-utils] Improve 403 error messages with team and project details (#7114)
  .changeset/blue-mice-prove.md
  packages/service-utils/src/core/authorize/service.test.ts
  packages/service-utils/src/core/authorize/service.ts
Labels: packages

Remove unused account usage API and interface
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/getAccountUsage.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/page.tsx
Labels: dashboard

[SDK] Fix: Apply accentButtonText theme key to the Spinner inside of PayEmbed Buttons (#7110)
  .changeset/slick-apes-do.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
Labels: packages, sdk

[Docs] Chore: Remove Kado references (#7109)
  apps/portal/src/app/pay/testing-pay/page.mdx
Labels: portal

Remove unused account usage API and interface (#7117)
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/getAccountUsage.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/page.tsx
Labels: dashboard

Remove advancedEnabled field from Account interface
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/stories/stubs.ts
Labels: dashboard

Remove advancedEnabled field from Account interface (#7118)
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/stories/stubs.ts
Labels: dashboard

Add login functionality with multiple authentication methods
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/login.ts
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/src/login/README.md
  packages/thirdweb/src/login/client/index.ts
  packages/thirdweb/src/login/client/login.ts
  packages/thirdweb/src/login/index.ts
  packages/thirdweb/src/login/server/auth-handler.ts
  packages/thirdweb/src/login/server/index.ts
  packages/thirdweb/src/login/server/integrations/next-js.ts
  packages/thirdweb/src/login/server/integrations/node.ts
  packages/thirdweb/src/wallets/types.ts
  pnpm-lock.yaml
Labels: packages, sdk

Add Login component with Google authentication support
  apps/playground-web/src/app/connect/login/api/[...all]/route.ts
  apps/playground-web/src/app/connect/login/page.tsx
  apps/playground-web/src/app/engine/actions.ts
  apps/playground-web/src/components/login/basic-example.tsx
  apps/playground-web/src/lib/client.ts
  apps/playground-web/src/lib/constants.ts
  apps/playground-web/src/lib/server-wallet.ts
  packages/thirdweb/package.json
  packages/thirdweb/src/login/client/index.ts
  packages/thirdweb/src/login/client/login.ts
  packages/thirdweb/src/login/index.ts
Labels: playground, packages, sdk

Update auth-handler.ts
  packages/thirdweb/.size-limit.json
  packages/thirdweb/src/login/client/login.ts
  packages/thirdweb/src/login/server/auth-handler.ts
Labels: packages, sdk

fix build error
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.tsx
Labels: packages, sdk

[Dashboard] Add payment link UI and functionality
  apps/dashboard/src/@/api/universal-bridge/links.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/_components/TotalSponsoredCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/_components/TransactionsCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/constants.ts
  apps/dashboard/src/app/pay/page.tsx
  apps/dashboard/src/constants/urls.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Transfer.ts
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/pay/buyWithFiat/getPostOnRampQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/useSwapSupportedChains.ts
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: dashboard, packages, sdk

[Bridge] Improve error handling in PayEmbed
  .changeset/blue-comics-doubt.md
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/OnrampStatus.ts
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/Transfer.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/BridgeAction.ts
  packages/thirdweb/src/bridge/types/Errors.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayWIthCreditCard.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

[SDK] Improve error handling in PayEmbed (#7119)
  .changeset/blue-comics-doubt.md
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/OnrampStatus.ts
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/Transfer.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/BridgeAction.ts
  packages/thirdweb/src/bridge/types/Errors.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayWIthCreditCard.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/react/web/wallets/in-app/CountrySelector.tsx
Labels: packages, sdk

[Dashboard] Update PaymentLink type and handling
  apps/dashboard/src/@/api/universal-bridge/links.ts
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
Labels: dashboard

[Dashboard] Refactor PayPage client initialization and enhance OnRampScreen props
  apps/dashboard/src/app/pay/page.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
Labels: dashboard, packages, sdk

[Dashboard] Import server-only module in universal bridge links
  apps/dashboard/src/@/api/universal-bridge/links.ts
Labels: dashboard

changeset
  .changeset/tired-rice-kiss.md
Labels: none

[Dashboard] Feature: Setup payment link UI (#7121)
  .changeset/tired-rice-kiss.md
  apps/dashboard/src/@/api/universal-bridge/links.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/_components/TotalSponsoredCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/_components/TransactionsCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/constants.ts
  apps/dashboard/src/app/pay/page.tsx
  apps/dashboard/src/constants/urls.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Transfer.ts
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/pay/buyWithFiat/getPostOnRampQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/useSwapSupportedChains.ts
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: dashboard, packages, sdk

[SDK] fix avatar image detection on Node
  packages/thirdweb/src/utils/ens/avatar.ts
Labels: packages, sdk

chore: update endpoint to rotate secret key (#7122)
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/components/ProjectFTUX/SecretKeySection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/nebula/nebula-ftux.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/nebula/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
Labels: dashboard

[Dashboard] replace Chakra Box with shadcn
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimPriceInput.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimerSelection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account-permissions/components/account-signer.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/account-balance.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/accounts-count.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/events/events-feed.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/ContractPermissionsPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/ContractProposalsPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/metadata.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/primary-sale.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/royalties.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/ContractSplitPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/contract-subscriptions/components/contract-subscriptions-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/metrics/components/EngineSystemMetrics.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/custom-factory.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/index.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/landing-fieldset.tsx
  apps/dashboard/src/components/contract-components/published-contract/index.tsx
  apps/dashboard/src/components/contract-functions/contract-function.tsx
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/address-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/string-input.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
  apps/dashboard/src/tw-components/card.tsx
Labels: dashboard

chore: redirect /team to /team/~ to select a team (#7124)
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(app)/team/page.tsx
Labels: dashboard

Create shy-pigs-drive.md
  .changeset/shy-pigs-drive.md
Labels: none

Update list-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimPriceInput.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/deposit-native.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/webhooks/components/webhooks-table.tsx
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
  apps/dashboard/src/core-ui/batch-upload/lazy-mint-form/select-option.tsx
  apps/dashboard/src/tw-components/card.tsx
Labels: dashboard

feat: introduce supportedProviders option for fiat onramping
  .changeset/small-boxes-grow.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/Providers.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/utils.ts
Labels: packages, sdk

chore: add comment with an explainer
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayProviderSelection.tsx
Labels: packages, sdk

chore: rename util
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/Providers.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/utils.ts
Labels: packages, sdk

chore: update import path for FiatProvider type
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayProviderSelection.tsx
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
