Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[SDK] fix: Allow resending OTP on failures
  .changeset/silent-jobs-report.md
  packages/thirdweb/src/extensions/erc1155/drop1155.test.ts
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
  packages/thirdweb/src/transaction/actions/gasless/providers/engine.test.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/openzeppelin.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: packages, sdk

[SDK] fix: Allow resending OTP on failures (#6412)
  .changeset/silent-jobs-report.md
  packages/thirdweb/src/extensions/erc1155/drop1155.test.ts
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
  packages/thirdweb/src/transaction/actions/gasless/providers/engine.test.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/openzeppelin.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: packages, sdk

add /faucets to framer rewrites (#6414)
  apps/dashboard/framer-rewrites.js
Labels: dashboard

[TOOL-3606] playground: Remove Ethereum as default selected chain in insight playground (#6413)
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: playground

update engine API routes to include team slug (#6407)
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/import/EngineImportPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/components/EngineAlertsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/components/ManageEngineAlerts.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/components/RecentEngineAlerts.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/engine-configuration.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/system.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/metrics/components/EngineSystemMetrics.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineInstance.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineInstancePageMeta.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineInstances.ts
Labels: dashboard

[SDK] feat: Add transfer success callback and ecosystem partner ID
  .changeset/funny-eggs-hear.md
  apps/playground-web/src/components/in-app-wallet/ecosystem.tsx
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: playground, packages, sdk

[SDK] feat: Add transfer success callback (#6415)
  .changeset/funny-eggs-hear.md
  apps/playground-web/src/components/in-app-wallet/ecosystem.tsx
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: playground, packages, sdk

Version Packages (#6410)
  .changeset/funny-eggs-hear.md
  .changeset/short-breads-teach.md
  .changeset/silent-jobs-report.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[service-utils] Add pay as a usage source
  packages/service-utils/src/core/usageV2.ts
Labels: packages

changeset
  .changeset/slick-eyes-reply.md
Labels: none

[service-utils] Add pay as a usage source (#6416)
  .changeset/slick-eyes-reply.md
  packages/service-utils/src/core/usageV2.ts
Labels: packages

[TOOL-3610] Dashboard: Fix z-index issue with chakra modals and network selector
  apps/dashboard/src/@/styles/globals.css
Labels: dashboard

[TOOL-3610] Dashboard: Fix z-index issue with network selector on chakra modal (#6418)
  apps/dashboard/src/@/styles/globals.css
Labels: dashboard

Update .gitignore
  .gitignore
Labels: none

[Portal] Universal Bridge Docs (#6421)
  apps/portal/src/app/connect/pay/faqs/page.mdx
  apps/portal/src/app/connect/pay/get-started/page.mdx
  apps/portal/src/app/connect/pay/overview/page.mdx
  apps/portal/src/app/connect/pay/testing-pay/page.mdx
  apps/portal/src/app/connect/pay/webhooks/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
Labels: portal

update ecosystem API routes to include team slug (#6422)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/EcosystemPermissionsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/hooks/use-ecosystem.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/hooks/use-ecosystem-list.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/utils/fetchEcosystem.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/utils/fetchEcosystemList.ts
Labels: dashboard

PRO-71 [Portal] Deprecate Permissions + Account Factories Pages
  apps/portal/src/app/connect/account-abstraction/factories/_page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/contracts/build/extensions/general/Permissions/_page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
Labels: portal

[SDK] expose getUserOpHash utility function
  .changeset/proud-rockets-play.md
  packages/thirdweb/src/exports/wallets/smart.ts
  packages/thirdweb/src/wallets/in-app/core/actions/sign-message.enclave.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages, sdk

[SDK] expose getUserOpHash utility function (#6424)
  .changeset/proud-rockets-play.md
  packages/thirdweb/src/exports/wallets/smart.ts
  packages/thirdweb/src/wallets/in-app/core/actions/sign-message.enclave.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages, sdk

Version Packages (#6417)
  .changeset/proud-rockets-play.md
  .changeset/slick-eyes-reply.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Update page.mdx
  apps/portal/src/app/connect/account-abstraction/infrastructure/page.mdx
Labels: portal

Update page.mdx
  apps/portal/src/app/connect/account-abstraction/infrastructure/page.mdx
Labels: portal

chore: update mainnet AA message (#6427)
  apps/dashboard/src/components/settings/ApiKeys/Alerts.tsx
Labels: dashboard

chore: update mainnet AA message (#6427)
  apps/dashboard/src/components/settings/ApiKeys/Alerts.tsx
Labels: dashboard

Update page.mdx (#6425)
  apps/portal/src/app/connect/account-abstraction/infrastructure/page.mdx
Labels: portal

Fix lint
  apps/portal/src/app/connect/account-abstraction/factories/_page.mdx
  apps/portal/src/app/contracts/build/extensions/general/Permissions/_page.mdx
Labels: portal

[TOOL-3630] Dashboard: Add cancel subscriptions option in delete account flow (#6429)
  apps/dashboard/src/app/account/settings/AccountSettingsPage.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPageUI.stories.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPageUI.tsx
Labels: dashboard

[TOOL-3635] Dashboard: Fix AA factories page crash (#6428)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/factories/page.tsx
Labels: dashboard

[Portal] Renames (#6430)
  apps/portal/src/app/connect/pay/customization/connectbutton/page.mdx
  apps/portal/src/app/connect/pay/customization/payembed/page.mdx
  apps/portal/src/app/connect/pay/customization/send-transaction/page.mdx
  apps/portal/src/app/connect/pay/faqs/page.mdx
  apps/portal/src/app/connect/pay/fee-sharing/page.mdx
  apps/portal/src/app/connect/pay/get-started/page.mdx
  apps/portal/src/app/connect/pay/guides/accept-direct-payments/page.mdx
  apps/portal/src/app/connect/pay/guides/build-a-custom-experience/page.mdx
  apps/portal/src/app/connect/pay/onramp-providers/page.mdx
  apps/portal/src/app/connect/pay/overview/page.mdx
  apps/portal/src/app/connect/pay/supported-chains/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
Labels: portal

[SDK] feat: Allow custom storage for inApp and ecosystem wallets
  .changeset/gentle-books-begin.md
  packages/thirdweb/src/exports/storage.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/utils/usePreloadWalletProviders.ts
  packages/thirdweb/src/wallets/ecosystem/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
  packages/thirdweb/src/wallets/in-app/native/auth/passkeys.ts
  packages/thirdweb/src/wallets/in-app/native/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/native/in-app.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/passkeys.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/in-app/web/types.ts
Labels: packages, sdk

check devnets, cleanup
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/data-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  apps/dashboard/src/components/explore/contract-card/index.tsx
  apps/dashboard/src/data/explore.ts
Labels: dashboard

[SDK] feat: Allow custom storage for inApp and ecosystem wallets (#6432)
  .changeset/gentle-books-begin.md
  packages/thirdweb/src/exports/storage.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/utils/usePreloadWalletProviders.ts
  packages/thirdweb/src/wallets/ecosystem/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
  packages/thirdweb/src/wallets/in-app/native/auth/passkeys.ts
  packages/thirdweb/src/wallets/in-app/native/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/native/in-app.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/passkeys.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/in-app/web/types.ts
Labels: packages, sdk

pre-fill superchain bridge address
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/modular-contract-default-modules-fieldset.tsx
Labels: dashboard

Version Packages (#6433)
  .changeset/gentle-books-begin.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Interop module support (#6325)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/data-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/modular-contract-default-modules-fieldset.tsx
  apps/dashboard/src/components/explore/contract-card/index.tsx
  apps/dashboard/src/data/explore.ts
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
Labels: dashboard, packages, sdk

[SDK] test: Update smart wallet tests to use Arbitrum Sepolia (#6436)
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: packages, sdk

fix: onramp improvements
  .changeset/puny-breads-return.md
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/utils/promise/resolve-promised-value.ts
Labels: playground, packages, sdk

feat: adds quote refetch interval
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithCryptoQuote.ts
Labels: packages, sdk

fix: ts ignore
  packages/thirdweb/src/utils/promise/resolve-promised-value.ts
Labels: packages, sdk

fix
  apps/playground-web/src/components/pay/embed.tsx
Labels: playground

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
