Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[Changeset] Add nebula-app to ignore list and reorder config
  .changeset/config.json
Labels: none

[Changeset] Add nebula-app to ignore list and reorder config (#7402)
  .changeset/config.json
Labels: none

[Changeset] Remove thirdweb-login from ignore list
  .changeset/config.json
Labels: none

[Changeset] Remove thirdweb-login from ignore list (#7403)
  .changeset/config.json
Labels: none

Dashboard: Team Overview page UI improvements (#7400)
  apps/dashboard/src/@/components/pagination-buttons.stories.tsx
  apps/dashboard/src/@/components/pagination-buttons.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/_components/Changelog.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/_components/invite-team-members-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
Labels: dashboard

Fix lint errors (#7401)
  apps/portal/src/app/account/sidebar.tsx
  apps/portal/src/app/globals.css
Labels: portal

Version Packages (#7404)
  .changeset/dry-emus-exist.md
  .changeset/heavy-ghosts-nail.md
  .changeset/quick-foxes-raise.md
  .changeset/spicy-cooks-smoke.md
  .changeset/twelve-brooms-kneel.md
  .changeset/vast-tires-tickle.md
  .changeset/wide-books-ring.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Move Sentry config to instrumentation-client.ts
  apps/dashboard/sentry.client.config.ts
  apps/dashboard/src/instrumentation-client.ts
Labels: dashboard

[Dashboard] Replace Sentry Replay with PostHog integration
  apps/dashboard/src/instrumentation-client.ts
Labels: dashboard

Upgrade Biome from 2.0.0 to 2.0.4
  .github/workflows/CI.yml
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/engine/package.json
  packages/insight/package.json
  packages/nebula/package.json
  packages/react-native-adapter/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/vault-sdk/package.json
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Move Sentry config to instrumentation-client.ts (#7405)
  apps/dashboard/sentry.client.config.ts
  apps/dashboard/src/instrumentation-client.ts
Labels: dashboard

[Dashboard] Replace Sentry Replay with PostHog integration (#7406)
  apps/dashboard/src/instrumentation-client.ts
Labels: dashboard

[Dashboard] Replace Sentry Replay with PostHog integration (#7406)
  apps/dashboard/src/instrumentation-client.ts
Labels: dashboard

Upgrade Biome from 2.0.0 to 2.0.4
  .github/workflows/CI.yml
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/engine/package.json
  packages/insight/package.json
  packages/nebula/package.json
  packages/react-native-adapter/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/vault-sdk/package.json
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Upgrade Biome from 2.0.0 to 2.0.4 (#7407)
  .github/workflows/CI.yml
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/engine/package.json
  packages/insight/package.json
  packages/nebula/package.json
  packages/react-native-adapter/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/vault-sdk/package.json
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Fix comment for max claimable tokens test in drop721.test.ts (#7336)
  packages/thirdweb/src/extensions/erc721/drop721.test.ts
Labels: packages, sdk

Update page.mdx
  apps/portal/src/app/contracts/modular-contracts/get-started/create-module-contract/page.mdx
Labels: portal

fix: bug with no results on storage page (#7411)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/storage/your-files.tsx
Labels: dashboard

Dashboard: Remove unused files (#7409)
  apps/dashboard/public/assets/landingpage/contracts.png
  apps/dashboard/public/assets/og-image/contracts.png
  apps/dashboard/public/assets/og-image/engine.png
  apps/dashboard/public/assets/product-icons/contracts.png
  apps/dashboard/public/assets/product-icons/engine.png
  apps/dashboard/public/assets/product-icons/wallets.png
  apps/dashboard/public/assets/support/account.svg
  apps/dashboard/public/assets/support/contracts.png
  apps/dashboard/public/assets/support/engine.png
  apps/dashboard/public/assets/support/misc.svg
  apps/dashboard/public/assets/support/wallets.png
  apps/dashboard/src/components/homepage/category/categories.module.css
  apps/dashboard/src/components/partners/partner-logo.module.css
Labels: dashboard

Dashboard: Remove unused assets #2 (#7412)
  apps/dashboard/src/components/partners/logos/aavegotchi.png
  apps/dashboard/src/components/partners/logos/animoca.png
  apps/dashboard/src/components/partners/logos/avacloud.png
  apps/dashboard/src/components/partners/logos/aws.png
  apps/dashboard/src/components/partners/logos/coinbase.png
  apps/dashboard/src/components/partners/logos/coolcats.png
  apps/dashboard/src/components/partners/logos/gala_games.png
  apps/dashboard/src/components/partners/logos/infinigods.png
  apps/dashboard/src/components/partners/logos/layer3.png
  apps/dashboard/src/components/partners/logos/mcfarlane.png
  apps/dashboard/src/components/partners/logos/mirror.png
  apps/dashboard/src/components/partners/logos/myna.png
  apps/dashboard/src/components/partners/logos/nyfw.png
  apps/dashboard/src/components/partners/logos/paima.png
  apps/dashboard/src/components/partners/logos/paradigm.png
  apps/dashboard/src/components/partners/logos/pixels.png
  apps/dashboard/src/components/partners/logos/polygon.png
  apps/dashboard/src/components/partners/logos/rarible.png
  apps/dashboard/src/components/partners/logos/shopify.png
  apps/dashboard/src/components/partners/logos/torque.png
  apps/dashboard/src/components/partners/logos/treasure.png
  apps/dashboard/src/components/partners/logos/unlock.png
  apps/dashboard/src/components/partners/logos/xai.png
  apps/dashboard/src/components/partners/logos/ztx.png
  apps/dashboard/src/components/product-pages/homepage/blur.png
  apps/dashboard/src/components/product-pages/homepage/multi-chain/desktop-gray.svg
  apps/dashboard/src/components/product-pages/homepage/multi-chain/desktop.svg
  apps/dashboard/src/components/product-pages/homepage/multi-chain/mobile-gray.svg
  apps/dashboard/src/components/product-pages/homepage/multi-chain/mobile.svg
Labels: dashboard

Handle non-URLs for metadata images in payment widgets
  .changeset/fluffy-cows-swim.md
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/components/pay/direct-payment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/WithHeader.tsx
Labels: playground, packages, sdk

[SDK] Handle non-URLs for metadata images in payment widgets (#7413)
  .changeset/fluffy-cows-swim.md
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/components/pay/direct-payment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/WithHeader.tsx
Labels: playground, packages, sdk

Docs: Fix typos in modular contracts guide (#7408)
  apps/portal/src/app/contracts/modular-contracts/get-started/create-module-contract/page.mdx
Labels: portal

Add support for tuple types in ABI event and function signatures (#7415)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/abiUtils.ts
Labels: dashboard

Fix lint errors
  packages/thirdweb/biome.json
  packages/thirdweb/src/assets/bootstrap.ts
  packages/thirdweb/src/assets/bootstrapinfra.test.ts
  packages/thirdweb/src/assets/constants.ts
  packages/thirdweb/src/assets/create-token-by-impl-config.ts
  packages/thirdweb/src/assets/create-token.test.ts
  packages/thirdweb/src/assets/create-token.ts
  packages/thirdweb/src/assets/deploy-infra-proxy.ts
  packages/thirdweb/src/assets/distribute-token.test.ts
  packages/thirdweb/src/assets/distribute-token.ts
  packages/thirdweb/src/assets/get-entrypoint-erc20.ts
  packages/thirdweb/src/assets/get-erc20-asset-impl.ts
  packages/thirdweb/src/assets/index.ts
  packages/thirdweb/src/assets/token-utils.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/events/AssetCreated.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/events/ImplementationAdded.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/events/RewardLockerUpdated.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/events/RouterUpdated.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/read/getImplementation.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/read/getRewardLocker.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/read/getRouter.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/write/addImplementation.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/write/buyAsset.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/write/createAsset.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/write/createAssetById.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/write/createAssetByImplementationConfig.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/write/distributeAsset.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/write/initialize.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/write/listAsset.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/write/sellAsset.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/write/setRewardLocker.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetEntrypointERC20/write/setRouter.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetInfraDeployer/events/AssetInfraDeployed.ts
  packages/thirdweb/src/extensions/assets/__generated__/AssetInfraDeployer/write/deployInfraProxyDeterministic.ts
  packages/thirdweb/src/extensions/assets/__generated__/ERC20Asset/write/initialize.ts
  packages/thirdweb/src/extensions/assets/__generated__/FeeManager/write/initialize.ts
  packages/thirdweb/src/extensions/assets/__generated__/Router/write/initialize.ts
Labels: packages, sdk

update package.json
  packages/thirdweb/package.json
Labels: packages, sdk

remove export *
  packages/thirdweb/src/assets/index.ts
Labels: packages, sdk

[SDK] Update NATIVE_TOKEN_ADDRESS to checksummed address
  packages/thirdweb/src/constants/addresses.ts
Labels: packages, sdk

equality check
  packages/thirdweb/src/constants/addresses.ts
Labels: packages, sdk

remove export *
  packages/thirdweb/src/assets/index.ts
  packages/thirdweb/src/exports/assets.ts
Labels: packages, sdk

[TOOL-4689] Dashboard: Integrate ERC20Asset contract in token creation flow
  apps/dashboard/src/@/components/contract-components/tables/contract-table.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/@/hooks/project-contracts.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_common/step-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/collection-info/nft-collection-info-fieldset.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/_common/form.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-airdrop.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/token-info/token-info-fieldset.tsx
Labels: dashboard

Dashboard: group project sidebar links (#7417)
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
Labels: dashboard

Fix wallet row alignment in wide connect modal
  .changeset/slow-sites-call.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
Labels: packages, sdk

[TOOL-4858] Update Team Usage Overview page UI for free plan (#7423)
  apps/dashboard/src/@/components/blocks/upsell-wrapper.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/page.tsx
Labels: dashboard

[TOOL-4856] Engine Server wallets table UI adjustment, Fix Vault Portal Link (#7419)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
Labels: dashboard

feat: adds ub widget tracking
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/ErrorBanner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/UnsupportedTokenScreen.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/SuccessScreen.tsx
  packages/thirdweb/src/stories/Bridge/ErrorBanner.stories.tsx
  packages/thirdweb/src/stories/Bridge/SuccessScreen.stories.tsx
  packages/thirdweb/src/stories/Bridge/UnsupportedTokenScreen.stories.tsx
  packages/thirdweb/test/src/test-clients.js
  packages/thirdweb/test/src/test-clients.js.map
Labels: packages, sdk

chore: deprecate PayEmbed
  .changeset/wild-cases-ask.md
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

fix: PayEmbed success callback
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

Fix wallet row alignment in wide connect modal (#7425)
  .changeset/slow-sites-call.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
Labels: packages, sdk

chore: update docs
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/BuyFundsSection.tsx
  apps/portal/public/llms-full.txt
  apps/portal/src/app/pay/customization/payembed/page.mdx
  apps/portal/src/app/react/v5/adapters/page.mdx
  apps/portal/src/app/react/v5/pay/fund-wallets/page.mdx
  apps/portal/src/app/react/v5/pay/transaction/page.mdx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/tsdoc.json
Labels: dashboard, packages, sdk, portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
