Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

add icon metadata prop, apply in connect modal
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AllWalletsUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletSelectionUI.tsx
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
  packages/wagmi-adapter/src/connector.ts
Labels: packages, sdk

changeset
  .changeset/fuzzy-paws-fix.md
  .changeset/solid-numbers-return.md
Labels: none

[SDK] Fix: Add custom title & icon to wagmi connectors (#6858)
  .changeset/fuzzy-paws-fix.md
  .changeset/solid-numbers-return.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AllWalletsUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletSelectionUI.tsx
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
  packages/wagmi-adapter/src/connector.ts
Labels: packages, sdk

Version Packages (#6851)
  .changeset/fast-bushes-juggle.md
  .changeset/fuzzy-paws-fix.md
  .changeset/solid-numbers-return.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[RPC] Improve error message for failed requests
  packages/thirdweb/src/rpc/rpc.ts
  packages/thirdweb/test/globalSetup.ts
Labels: packages, sdk

[RPC] Improve error message for failed requests (#6872)
  packages/thirdweb/src/rpc/rpc.ts
  packages/thirdweb/test/globalSetup.ts
Labels: packages, sdk

Handle fixed size arrays in solidity inputs
  .changeset/grumpy-carpets-sniff.md
  apps/dashboard/src/contract-ui/components/solidity-inputs/helpers.ts
  apps/dashboard/src/contract-ui/components/solidity-inputs/index.tsx
  packages/thirdweb/src/utils/contract/parse-abi-params.ts
Labels: dashboard, packages, sdk

[SDK] Show injected wallet icon when available
  .changeset/tangy-bugs-feel.md
  packages/thirdweb/src/react/core/utils/wallet.ts
  packages/thirdweb/src/react/core/utils/walletIcon.ts
Labels: packages, sdk

[SDK] Handle fixed size arrays in solidity inputs (#6870)
  .changeset/grumpy-carpets-sniff.md
  apps/dashboard/src/contract-ui/components/solidity-inputs/helpers.ts
  apps/dashboard/src/contract-ui/components/solidity-inputs/index.tsx
  packages/thirdweb/src/utils/contract/parse-abi-params.ts
Labels: dashboard, packages, sdk

Fix module deployment (#6869)
  .changeset/fruity-suits-relax.md
  apps/dashboard/src/components/contract-components/fetchPublishedContractsFromDeploy.ts
  packages/thirdweb/src/contract/deployment/utils/bootstrap.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
Labels: dashboard, packages, sdk

[TOOL-4120] Dashboard: Improved team switching UX, switch to same subpage (#6876)
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamAndProjectSelectorPopoverButton.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectionUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectorMobileMenuButton.tsx
Labels: dashboard

[NEB-190] Set testnet flag on testnet pages in dashboard (#6875)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/api/session.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
Labels: dashboard

[TOOL-3337] Dashboard: Add Transactions pages in project layout
  apps/dashboard/src/@/lib/time.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/filter.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/getTransactionAnalyticsFilter.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/summary.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/explorer/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/components/analytics/date-range-selector.tsx
Labels: dashboard

add vault-sdk package
  apps/dashboard/package.json
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  package.json
  packages/vault-sdk/CHANGELOG.md
  packages/vault-sdk/README.md
  packages/vault-sdk/package.json
  packages/vault-sdk/src/exports/thirdweb.ts
  packages/vault-sdk/src/sdk.ts
  packages/vault-sdk/src/transaction-parser.ts
  packages/vault-sdk/src/transaction-types.ts
  packages/vault-sdk/src/types.ts
  packages/vault-sdk/tsconfig.base.json
  packages/vault-sdk/tsconfig.build.json
  packages/vault-sdk/tsconfig.json
  pnpm-lock.yaml
Labels: dashboard, packages

update API reference, and test-transaction
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/send-dummy-tx.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
Labels: dashboard

rename
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.tsx
Labels: dashboard

UI polish
  apps/dashboard/.env.example
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

fix build
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/send-dummy-tx.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/wallet-table/wallet-table-ui.client.tsx
Labels: dashboard

transaction chart
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/components/analytics/date-range-selector.tsx
Labels: dashboard

rename transactions tab to engine
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/filter.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/getTransactionAnalyticsFilter.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/summary.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/tx-table/types.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/explorer/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/key-management.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/rotate-admin-key.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/send-dummy-tx.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/wallet-table/types.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

add summary analytics
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/summary.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/page.tsx
Labels: dashboard

hide admin key section if no key present
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/key-management.tsx
Labels: dashboard

add test transaction component
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/rotate-admin-key.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

empty state
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/page.tsx
Labels: dashboard

lint
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/key-management.tsx
  packages/vault-sdk/src/sdk.ts
  packages/vault-sdk/src/transaction-parser.ts
Labels: dashboard, packages

added access token flow
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-access-token.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/key-management.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

add send transaction button
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-access-token.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/key-management.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/send-dummy-tx.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
Labels: dashboard

fix export for new vault SDK methods
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/list-access-tokens.client.tsx
  packages/vault-sdk/src/exports/thirdweb.ts
Labels: dashboard, packages

default sign structured policy + list real access tokens
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/list-access-tokens.client.tsx
Labels: dashboard

tooltips
  apps/dashboard/.env.example
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
Labels: dashboard

handle access keys
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/rotate-admin-key.client.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

add server wallet table
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/types.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

fix project update
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

updated vault-sdk
  packages/vault-sdk/package.json
  packages/vault-sdk/src/exports/thirdweb.ts
  packages/vault-sdk/src/sdk.ts
  packages/vault-sdk/src/types.ts
  pnpm-lock.yaml
Labels: packages

Merge branch 'tool-3337' of github.com:thirdweb-dev/js into tool-3337
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-table/types.ts
Labels: dashboard

add base server url
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/explorer/page.tsx
Labels: dashboard

update service utils types
  packages/service-utils/src/core/api.ts
Labels: packages

access token management
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/summary.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/server-wallets/components/list-access-tokens.client.tsx
Labels: dashboard

Vault Service Account init + Create Vault EOA
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  packages/vault-sdk/src/sdk.ts
Labels: dashboard, packages

uncomment conditional service account initialisation
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.client.tsx
Labels: dashboard
