Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Version Packages (#6111)
  .changeset/gentle-dancers-raise.md
  .changeset/pink-melons-relate.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[TOOL-3259] Dashboard: Fix Claimable Module UI crashing on for ERC20 token currency set in claim condition (#6114)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Claimable.tsx
Labels: dashboard

[TOOL-3268] Dashboard: Fix in-app wallet settings page form submit not working (#6115)
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
Labels: dashboard

skip factory entrypoint lookup for ZKsync chains
  .changeset/early-adults-travel.md
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

[Wagmi Adapter] Fix: use smart account chain in getProvider (#6117)
  .changeset/fair-trains-reply.md
  packages/wagmi-adapter/src/connector.ts
Labels: packages

tune kafkajs
  packages/service-utils/src/node/usageV2.ts
Labels: packages

changeset
  .changeset/young-cherries-beg.md
Labels: none

[service-utils] Expose broker settings for usageV2 (#6120)
  .changeset/young-cherries-beg.md
  packages/service-utils/src/node/usageV2.ts
Labels: packages

fix: Add LZ4 package
  apps/dashboard/package.json
  packages/service-utils/package.json
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: dashboard, packages

add optional compression
  packages/service-utils/src/node/usageV2.ts
Labels: packages

changeset
  .changeset/lucky-seahorses-wink.md
  apps/dashboard/package.json
Labels: dashboard

move codec to init
  packages/service-utils/src/node/usageV2.ts
Labels: packages

pnpm
  pnpm-lock.yaml
Labels: none

[service-utils] fix: Add LZ4 package for usageV2 compression (#6121)
  .changeset/lucky-seahorses-wink.md
  packages/service-utils/package.json
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

ESM
  packages/service-utils/src/node/usageV2.ts
Labels: packages

[service-utils] import LZ4 compression for usageV2 (#6123)
  packages/service-utils/src/node/usageV2.ts
Labels: packages

tw:login
  apps/login/.gitignore
  apps/login/README.md
  apps/login/eslint.config.mjs
  apps/login/next.config.ts
  apps/login/package.json
  apps/login/postcss.config.mjs
  apps/login/public/tw-login.js
  apps/login/src/app/api/request/route.salty
  apps/login/src/app/favicon.ico
  apps/login/src/app/globals.css
  apps/login/src/app/layout.tsx
  apps/login/src/app/page.tsx
  apps/login/src/app/providers.tsx
  apps/login/tailwind.config.ts
  apps/login/tsconfig.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: none

tw:login (#6122)
  apps/login/.gitignore
  apps/login/README.md
  apps/login/eslint.config.mjs
  apps/login/next.config.ts
  apps/login/package.json
  apps/login/postcss.config.mjs
  apps/login/public/tw-login.js
  apps/login/src/app/api/request/route.salty
  apps/login/src/app/favicon.ico
  apps/login/src/app/globals.css
  apps/login/src/app/layout.tsx
  apps/login/src/app/page.tsx
  apps/login/src/app/providers.tsx
  apps/login/tailwind.config.ts
  apps/login/tsconfig.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: none

add Suspense wrapper to root layout
  apps/login/src/app/layout.tsx
Labels: none

add Suspense wrapper to root layout (#6124)
  apps/login/src/app/layout.tsx
Labels: none

add thirdweb login client script
  apps/login/public/twl.js
  apps/login/public/twl.min.js
Labels: none

add thirdweb login client script (#6125)
  apps/login/public/twl.js
  apps/login/public/twl.min.js
Labels: none

fix arrow function in login script
  apps/login/public/twl.js
  apps/login/public/twl.min.js
Labels: none

fix arrow function in login script (#6126)
  apps/login/public/twl.js
  apps/login/public/twl.min.js
Labels: none

Revert "[service-utils] import LZ4 compression for usageV2 (#6123)"
  packages/service-utils/src/node/usageV2.ts
Labels: packages

[service-utils] CJS import for kafkajs-lz4
  packages/service-utils/src/node/usageV2.ts
Labels: packages

update login permissions UI and styling
  apps/login/src/app/layout.tsx
  apps/login/src/app/page.tsx
Labels: none

remove default
  packages/service-utils/src/node/usageV2.ts
Labels: packages

update login permissions UI and styling (#6128)
  apps/login/src/app/layout.tsx
  apps/login/src/app/page.tsx
Labels: none

[service-utils] CJS import for kafkajs-lz4 (#6127)
  packages/service-utils/src/node/usageV2.ts
Labels: packages

feat: add method name to the tx activity
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchRecentTransactions.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetRecentTransactions.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetTxActivity.ts
Labels: dashboard

switch kafka-lz4-lite
  packages/service-utils/package.json
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

Version Packages (#6118)
  .changeset/fair-trains-reply.md
  .changeset/lucky-seahorses-wink.md
  .changeset/young-cherries-beg.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages

Use low level lz4js library
  packages/service-utils/package.json
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

dev dep
  packages/service-utils/package.json
  pnpm-lock.yaml
Labels: packages

[service-utils] fix: use lz4js for usageV2 (#6130)
  packages/service-utils/package.json
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

feat: timeline overview wip
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TimelineOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
Labels: dashboard

[service-utils] switch to lz4 for compression lib
  .changeset/tall-masks-shop.md
Labels: none

[service-utils] switch to lz4 for compression lib (#6131)
  .changeset/tall-masks-shop.md
Labels: none

feat: add chart for wallet and tx count
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TimelineOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
Labels: dashboard
