Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[SDK] Show past transactions in transactions modal screen (#6607)
  .changeset/fruity-cooks-know.md
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  packages/thirdweb/src/react/core/hooks/contract/useWaitForReceipt.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletTransactionHistory.tsx
  packages/thirdweb/src/transaction/transaction-store.ts
  packages/thirdweb/src/utils/domain.test.ts
  packages/thirdweb/src/utils/domains.ts
Labels: playground, packages, sdk

[TOOL-3768] Dashboard: Move Nebula from team to project layout (#6608)
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/fetch-nebula-analytics.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-filter.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
Labels: dashboard

[TOOL-3766] Dashboard: Account Abstraction page updates (#6609)
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/TotalSponsoredCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTableUI.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/UsageCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AAFooterSection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/isOpChain.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/components/analytics/stat.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/InAppWalletUsersChartCard.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/Summary.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/AccountAbstractionSummary.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/SponsoredTransactionsChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/index.tsx
Labels: dashboard

Fixed some translation strings
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/ru.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/ru.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/ru.ts
Labels: packages, sdk

Remove custom config for Ronin (#6612)
  .changeset/stupid-rice-show.md
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
Labels: packages, sdk

feat(sdk): adds action field to Bridge transactions
  .changeset/curvy-paths-burn.md
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/types/Quote.ts
Labels: packages, sdk

Update packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Sell.ts
Labels: packages, sdk

Update packages/thirdweb/src/bridge/types/Quote.ts
  packages/thirdweb/src/bridge/types/Quote.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/bridge/types/Quote.ts
Labels: packages, sdk

feat: include client and chain in transactions
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/types/Quote.ts
Labels: packages, sdk

feat: enable using chain object with status
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/types/Quote.ts
Labels: packages, sdk

Version Packages (#6606)
  .changeset/cyan-kids-hide.md
  .changeset/fruity-cooks-know.md
  .changeset/stupid-rice-show.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

lint
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/bridge/Status.ts
Labels: packages, sdk

feat(dashboard): token symbol search
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/search.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
Labels: dashboard

[Dashboard] Feature: Token symbol search (#6617)
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/search.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
Labels: dashboard

[thirdweb] Handle entrypoint resolution inside createAndSignUserOp
  .changeset/eight-pants-help.md
  packages/thirdweb/src/wallets/smart/lib/userop.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: packages, sdk

[SDK] Handle entrypoint resolution inside createAndSignUserOp (#6615)
  .changeset/eight-pants-help.md
  packages/thirdweb/src/wallets/smart/lib/userop.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: packages, sdk

show transfer amounts with fees
  .changeset/purple-rice-bet.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/SwapDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: packages, sdk

[SDK] show transfer amounts with fees (#6618)
  .changeset/purple-rice-bet.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/SwapDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: packages, sdk

Version Packages (#6619)
  .changeset/eight-pants-help.md
  .changeset/purple-rice-bet.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Feature: Adds action field to Bridge transactions (#6613)
  .changeset/curvy-paths-burn.md
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/types/Quote.ts
Labels: packages, sdk

[TOOL-3762] Dashboard: Update In-app wallet analytics page (#6610)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/Summary.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/header.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/page.tsx
  apps/dashboard/src/components/analytics/stat.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/Summary.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/index.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/AccountAbstractionSummary.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/index.tsx
Labels: dashboard

lint
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/ru.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/getInjectedWalletLocale.test.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/ru.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/getSmartWalletLocale.test.ts
Labels: packages, sdk

[SDK] Feature: added ru_RU locale to thirdweb package (#6520)
  .changeset/silver-doors-change.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/ru.ts
  packages/thirdweb/src/react/web/ui/types.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/getInjectedWalletLocale.test.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/getInjectedWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/ru.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/ru.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/getSmartWalletLocale.test.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/getSmartWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/ru.ts
Labels: packages, sdk

Connect to current wallet chain when connecting other wallets in PayEmbed
  .changeset/funny-months-smell.md
  apps/dashboard/package.json
  apps/playground-web/package.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletSwitcherConnectionScreen.tsx
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk

Connect to current wallet chain when connecting other wallets in PayEmbed (#6621)
  .changeset/funny-months-smell.md
  apps/dashboard/package.json
  apps/playground-web/package.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletSwitcherConnectionScreen.tsx
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk

[TOOL-3765] Dashboard: Add Insight FTUX (#6614)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/WaitingForIntegrationCard/WaitingForIntegrationCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/blueprint-card.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/insight-ftux.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/page.tsx
Labels: dashboard

[TOOL-3763] Dashboard: Update Contracts page (#6611)
  apps/dashboard/src/app/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployViaCLIOrImportCard.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployedContractsPage.tsx
  apps/dashboard/src/app/account/contracts/_components/GetStartedWithContractsDeploy.tsx
  apps/dashboard/src/components/contract-components/tables/contract-table.tsx
Labels: dashboard

[TOOL-3764] Dashboard: Add Nebula FTUX (#6616)
  apps/dashboard/src/app/account/contracts/_components/DeployViaCLIOrImportCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/ClientIDSection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/IntegrateAPIKeyCodeTabs.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/WaitingForIntegrationCard/WaitingForIntegrationCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/insight-ftux.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/nebula-ftux.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
Labels: dashboard

Add /brand-kit to framer rewrites (#6624)
  apps/dashboard/framer-rewrites.js
Labels: dashboard

[SDK] Emit accountChanged event when smart wallets switch chains
  .changeset/good-corners-stare.md
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Labels: packages, sdk

[Portal] Universal Bridge .NET (#6625)
  apps/portal/src/app/dotnet/pay/buywithcrypto/page.mdx
  apps/portal/src/app/dotnet/pay/buywithfiat/page.mdx
  apps/portal/src/app/dotnet/pay/getbuyhistory/page.mdx
  apps/portal/src/app/dotnet/pay/getbuywithcryptoquote/page.mdx
  apps/portal/src/app/dotnet/pay/getbuywithcryptostatus/page.mdx
  apps/portal/src/app/dotnet/pay/getbuywithfiatcurrencies/page.mdx
  apps/portal/src/app/dotnet/pay/getbuywithfiatquote/page.mdx
  apps/portal/src/app/dotnet/pay/getbuywithfiatstatus/page.mdx
  apps/portal/src/app/dotnet/pay/quickstart/page.mdx
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/universal-bridge/quickstart/page.mdx
Labels: portal

Fix updateListing date handling in marketplace direct listings
  .changeset/new-spoons-lick.md
  packages/thirdweb/src/exports/extensions/erc721.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/direct-listings.test.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/write/updateListing.ts
Labels: packages, sdk

[SDK] Fix updateListing date handling in marketplace direct listings (#6628)
  .changeset/new-spoons-lick.md
  packages/thirdweb/src/exports/extensions/erc721.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/direct-listings.test.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/write/updateListing.ts
Labels: packages, sdk

[TOOL-3942] Playground: Fix slow dev server - generate insight sidebar links with script (#6631)
  apps/playground-web/package.json
  apps/playground-web/scripts/updateInsightBlueprints.ts
  apps/playground-web/scripts/utils.ts
  apps/playground-web/src/app/insight/insightBlueprints.ts
  apps/playground-web/src/app/insight/page.tsx
  apps/playground-web/src/app/insight/utils.ts
  apps/playground-web/src/app/navLinks.ts
Labels: playground

[SDK] Emit accountChanged event when smart wallets switch chains (#6626)
  .changeset/good-corners-stare.md
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Labels: packages, sdk

[TOOL-3909] Dashboard: Add footer links to project pages & header style adjustments (#6627)
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/@/components/blocks/app-footer.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployedContractsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/footer/FooterLinksSection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AAFooterSection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/footer.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/header.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/components/wallets/SupportedPlatformLink.tsx
  apps/portal/src/app/nebula/tools/python-sdk/installation/page.mdx
  apps/portal/src/app/react-native/v5/page.mdx
Labels: dashboard, portal

fix insight blueprints navigation (#6633)
  apps/playground-web/src/app/insight/insightBlueprints.ts
Labels: playground

Dashboard: Fix project settings page max-width (#6634)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/layout.tsx
Labels: dashboard

[TOOL-3946] Dashboard: Fix in-app wallet users chart timestamp incorrect ordering (#6635)
  apps/dashboard/src/components/embedded-wallets/Analytics/InAppWalletUsersChartCard.stories.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/InAppWalletUsersChartCard.tsx
Labels: dashboard
