Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

uncomment conditional service account initialisation
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.client.tsx
Labels: dashboard

fix(nebula-docs): updates broken-links on nebula sessions docs
  apps/portal/src/app/nebula/key-concepts/sessions/page.mdx
Labels: portal

transaction chart
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/components/analytics/date-range-selector.tsx
Labels: dashboard

empty state
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/page.tsx
Labels: dashboard

[Portal] Hotfix Unity sidebar link (#6688)
  apps/portal/src/app/unity/v5/sidebar.tsx
Labels: portal

Dashboard: Remove certain warning logs (#6681)
  .npmrc
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: dashboard

handle uninitialised service account state for analytics
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart.tsx
Labels: dashboard

[Portal] Fix: updates broken-links on nebula sessions docs (#6687)
  apps/portal/src/app/nebula/key-concepts/sessions/page.mdx
Labels: portal

Update utils.ts
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

[Dashboard] Fix : Adding COTI chain page details (#6689)
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/COTI_Banner.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/COTI_CTA.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

[SDK] Add smartAccountAddress to getUser result
  .changeset/five-buses-mix.md
  packages/thirdweb/src/wallets/in-app/core/users/getUser.ts
Labels: packages, sdk

[SDK] Add smartAccountAddress to getUser result (#6690)
  .changeset/five-buses-mix.md
  packages/thirdweb/src/wallets/in-app/core/users/getUser.ts
Labels: packages, sdk

update insight plaground routes
  apps/playground-web/scripts/utils.ts
  apps/playground-web/src/app/insight/insightBlueprints.ts
  apps/playground-web/src/app/insight/utils.ts
Labels: playground

Version Packages (#6691)
  .changeset/five-buses-mix.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

update insight plaground routes (#6692)
  apps/playground-web/scripts/utils.ts
  apps/playground-web/src/app/insight/insightBlueprints.ts
  apps/playground-web/src/app/insight/utils.ts
Labels: playground

[Pay] Add extra gas buffer for quote and transfer transactions
  .changeset/young-poets-do.md
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
Labels: packages, sdk

[Pay] Add extra gas buffer for quote and transfer transactions (#6693)
  .changeset/young-poets-do.md
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
Labels: packages, sdk

Version Packages (#6694)
  .changeset/young-poets-do.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Pay] Add feePayer option for direct_payment mode in PayEmbed
  .changeset/brave-wombats-smoke.md
  apps/playground-web/src/components/pay/direct-payment.tsx
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: playground, packages, sdk

[Pay] Add feePayer option for direct_payment mode in PayEmbed (#6695)
  .changeset/brave-wombats-smoke.md
  apps/playground-web/src/components/pay/direct-payment.tsx
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: playground, packages, sdk

Version Packages (#6696)
  .changeset/brave-wombats-smoke.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[TOOL-4057] Dashboard: Update Storage pinning card in team usage page
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/utils/number.ts
Labels: dashboard

[TOOL-4057] Dashboard: Update Storage pinning card in team usage page (#6697)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/utils/number.ts
Labels: dashboard

Fix getClaimConditions
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/hooks.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  packages/thirdweb/src/extensions/erc1155/drops/read/getClaimConditions.ts
Labels: dashboard, packages, sdk

Dashboard: Fix contract overpage page overflow when there are too many events in single tx (#6700)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/ContractOverviewPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/LatestEvents.tsx
Labels: dashboard

Fix getClaimConditions (#6701)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/hooks.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  packages/thirdweb/src/extensions/erc1155/drops/read/getClaimConditions.ts
Labels: dashboard, packages, sdk

Refactor rate limiting to use separate read/write Redis operations
  .changeset/brown-moles-peel.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
Labels: packages

Refactor rate limiting to use separate read/write Redis operations (#6702)
  .changeset/brown-moles-peel.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
Labels: packages

Version Packages (#6703)
  .changeset/brown-moles-peel.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

Fix incrBy to incrby in rate limit implementation
  .changeset/giant-humans-say.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
Labels: packages

Fix incrBy to incrby in rate limit implementation (#6704)
  .changeset/giant-humans-say.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
Labels: packages

Version Packages (#6705)
  .changeset/giant-humans-say.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

internal function to fetch events from insight
  packages/thirdweb/src/chains/types.ts
  packages/thirdweb/src/chains/utils.ts
  packages/thirdweb/src/event/actions/get-events.ts
Labels: packages, sdk

topic filter
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  packages/thirdweb/src/event/actions/get-events.ts
Labels: dashboard, packages, sdk

fix filter
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  packages/thirdweb/src/event/actions/get-events.ts
Labels: dashboard, packages, sdk

fix url
  packages/thirdweb/src/event/actions/get-events.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/event/actions/get-events.ts
Labels: packages, sdk

fix test
  packages/thirdweb/src/extensions/erc1155/customDrop1155.test.ts
Labels: packages, sdk

[Smart Wallet] Add retry logic to predictAccountAddress
  .changeset/slow-mice-grin.md
  packages/thirdweb/src/extensions/erc1155/customDrop1155.test.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
Labels: packages, sdk

[SDK] Add retry logic to predictAccountAddress (#6707)
  .changeset/slow-mice-grin.md
  packages/thirdweb/src/extensions/erc1155/customDrop1155.test.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
