Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[Portal] Remove unused import from sign-in methods page
  apps/portal/src/app/connect/wallet/sign-in-methods/configure/page.mdx
Labels: portal

[Portal] Remove unused import from sign-in methods page (#7499)
  apps/portal/src/app/connect/wallet/sign-in-methods/configure/page.mdx
Labels: portal

fix llm.txt generation
  apps/portal/public/llms-full.txt
  apps/portal/public/llms.txt
  apps/portal/src/app/references/components/TDoc/fetchDocs/fetchTypeScriptDoc.ts
Labels: portal

[Porta] fix llm.txt generation (#7500)
  apps/portal/public/llms-full.txt
  apps/portal/public/llms.txt
  apps/portal/src/app/references/components/TDoc/fetchDocs/fetchTypeScriptDoc.ts
Labels: portal

SDK: Restore border on embed components (#7487)
  .changeset/crazy-regions-send.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
Labels: packages, sdk

Added Somnia Testnet (#7474)
  .changeset/fresh-words-learn.md
  packages/thirdweb/src/chains/chain-definitions/somniaTestnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

erc721 template
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

feat(chains): add Core testnet and mainnet chains (#7486)
  .changeset/afraid-rats-open.md
  packages/thirdweb/src/chains/chain-definitions/core-mainnet.ts
  packages/thirdweb/src/chains/chain-definitions/core-testnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

[BuyWidget] Handle very large numbers in FundWallet component
  .changeset/legal-fans-enjoy.md
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/TokenAndChain.tsx
  packages/thirdweb/src/utils/format-number.test.ts
  packages/thirdweb/src/utils/formatNumber.ts
Labels: packages, sdk

[SDK] Handle very large numbers in BuyWidget component (#7503)
  .changeset/legal-fans-enjoy.md
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/TokenAndChain.tsx
  packages/thirdweb/src/utils/format-number.test.ts
  packages/thirdweb/src/utils/formatNumber.ts
Labels: packages, sdk

update
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/CreateTicketForm.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCasesClient.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: dashboard

fix
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: dashboard

fix
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: dashboard

small fix
  apps/dashboard/src/@/api/support.ts
Labels: dashboard

feat: webhooks list in dashboard
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/api/webhook-configs.ts
  apps/dashboard/src/@/api/webhook-metrics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/create-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/delete-webhook-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/edit-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/topic-selector-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-configs-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-metrics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/contracts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/use-webhook-metrics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
Labels: dashboard

detect and parse constructor
  packages/thirdweb/src/cli/commands/stylus/builder.ts
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

Pass purchaseData prop to payment components
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

Add type assertion for purchaseData prop in PayEmbed
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

changeset
  .changeset/short-foxes-decide.md
Labels: none

lint fix
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

Pass purchaseData prop to payment components (#7507)
  .changeset/short-foxes-decide.md
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

Version Packages (#7501)
  .changeset/afraid-rats-open.md
  .changeset/crazy-regions-send.md
  .changeset/fresh-words-learn.md
  .changeset/legal-fans-enjoy.md
  .changeset/short-foxes-decide.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

erc1155
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

Properly type purchaseData as Record<string, unknown>
  .changeset/orange-files-admire.md
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/OnrampStatus.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Transfer.ts
  packages/thirdweb/src/bridge/types/Status.ts
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
  packages/thirdweb/src/pay/types.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

[Dashboard] Rename RPC Edge to RPC and add redirect (#7509)
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: dashboard

Update import path in createSessionKey example
  packages/thirdweb/src/extensions/erc7702/account/createSessionKey.ts
Labels: packages, sdk

Properly type purchaseData as Record<string, unknown> (#7508)
  .changeset/orange-files-admire.md
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/OnrampStatus.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Transfer.ts
  packages/thirdweb/src/bridge/types/Status.ts
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
  packages/thirdweb/src/pay/types.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

Update import path in createSessionKey example (#7510)
  packages/thirdweb/src/extensions/erc7702/account/createSessionKey.ts
Labels: packages, sdk

airdrop erc20
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

Remove "starter" plan checks from team invitation logic (#7513)
  apps/dashboard/src/@/utils/pricing.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
Labels: dashboard

airdrop erc721
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

airdrop erc1155
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

add analytics to insight page (#7488)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/blueprint-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/InsightAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/InsightAnalyticsFilter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/RequestsByStatusGraph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/TopChainsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/TopEndpointsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/insight-ftux.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/page.tsx
Labels: dashboard

[TOOL-4908] Dashboard: Fix 'Owner only' claim condition phase type condition (#7506)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
Labels: dashboard

add rpc tab with analytics (#7489)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/RpcMethodBarChartCard/RpcMethodBarChartCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/RpcMethodBarChartCard/RpcMethodBarChartCardUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/InsightAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/components/MethodsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/components/RequestsGraph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/components/RpcAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/components/RpcAnalyticsFilter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/components/RpcFtux.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/page.tsx
Labels: dashboard

Dashboard: asset page header: hide zero-address, fix icon (#7514)
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_utils/fetch-coin-info.ts
  apps/nebula/src/@/components/blocks/wallet-address.tsx
Labels: dashboard

[TOOL-4951] Dashboard: Show Plan upsell on storage error in asset creation modal (#7512)
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/blocks/multi-step-status/multi-step-status.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_common/storage-error-upsell.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/launch/launch-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/page.tsx
Labels: dashboard

Deprecate pre-built modular contracts from explore and documentation
  apps/dashboard/src/app/(app)/(dashboard)/explore/data.ts
  apps/portal/src/app/contracts/explore/pre-built-modular/nft-collection/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/token/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
Labels: dashboard, portal

Add redirects for deprecated pre-built modular contract routes
  apps/portal/redirects.mjs
Labels: portal

Update Engine references to Transactions in header and documentation
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/dotnet/wallets/providers/engine-wallet/page.mdx
Labels: portal
