Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Dashboard: use BuyWidget instead of CheckoutWidget in TransactionButton (#7857)
  apps/dashboard/src/@/components/tx-button/MismatchButton.tsx
Labels: dashboard

Add manageWallet option to wallet details modal configuration
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
Labels: packages, sdk

Update default config (#7859)
  apps/dashboard/src/@/constants/addresses.ts
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/components/custom-contract.tsx
Labels: dashboard

Add tokendrop as fallback
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/@/hooks/project-contracts.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/_common/form.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/drop-erc20-token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-airdrop.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-distribution.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/components/claim-rewards-page.tsx
  packages/thirdweb/src/exports/tokens.ts
  packages/thirdweb/src/tokens/get-entrypoint-erc20.ts
Labels: dashboard, packages, sdk

reset token on chain change
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
Labels: dashboard

changes
  apps/dashboard/src/@/components/blocks/multi-step-status/multi-step-status.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/drop-erc20-token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
Labels: dashboard

Rename `/nebula` to `/ai` and add redirect
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: dashboard

Rename `/nebula` to `/ai` and add redirect (#7862)
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: dashboard

SDK: Fix PayEmbed not rendering anything when mode prop is not set (#7858)
  .changeset/cold-pigs-dress.md
  packages/thirdweb/src/react/web/ui/PayEmbed-disconnected.test.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.test.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/stories/PayEmbed.stories.ts
  packages/thirdweb/src/stories/PayEmbed.stories.tsx
Labels: packages, sdk

feat: swapping guide
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/AdvancedSection.client.tsx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/swap/page.mdx
Labels: dashboard, portal

Feature: swapping guide (#7864)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/AdvancedSection.client.tsx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/swap/page.mdx
Labels: dashboard, portal

feat: more payment page styling
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/AdvancedSection.client.tsx
  apps/dashboard/src/app/pay/[id]/page.tsx
Labels: dashboard

show description on mobile
  apps/dashboard/src/app/pay/[id]/page.tsx
Labels: dashboard

SDK, Dashboard: Fix error when airdropping decimal token amount in new token creation flow (#7866)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  packages/thirdweb/src/tokens/types.ts
Labels: dashboard, packages, sdk

lint
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/code/RenderCode.tsx
Labels: dashboard, portal

Make RPC optional in chain infrastructure checkout
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/_components/deploy-infrastructure-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/search-params.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/alerts/components/EngineDeleteAlertModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/delete-webhook-modal.tsx
Labels: dashboard

Make RPC optional in chain infrastructure checkout (#7867)
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/_components/deploy-infrastructure-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/search-params.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/alerts/components/EngineDeleteAlertModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/delete-webhook-modal.tsx
Labels: dashboard

[Dashboard] Feature: New payments page ui (#7848)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/AdvancedSection.client.tsx
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/code/RenderCode.tsx
Labels: dashboard, portal

[BLD-125] SDK: Fix missing props for details modal on useWalletDetailsModal hook (#7865)
  .changeset/swift-toes-build.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewAssets.tsx
  packages/thirdweb/src/stories/ConnectWallet/useWalletDetailsModal.stories.tsx
Labels: packages, sdk

fix: do NOT use next's image component
  apps/dashboard/src/app/pay/[id]/page.tsx
Labels: dashboard

[Dashboard] Fix: Do NOT use next's image component (#7869)
  apps/dashboard/src/app/pay/[id]/page.tsx
Labels: dashboard

Version Packages (#7863)
  .changeset/cold-pigs-dress.md
  .changeset/swift-toes-build.md
  .changeset/young-carrots-burn.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Dashboard: Fix NFT Collection creation error reported twice (#7868)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page.tsx
Labels: dashboard

feat: predictAddress token function
  .changeset/hot-showers-throw.md
  packages/thirdweb/src/exports/tokens.ts
  packages/thirdweb/src/tokens/predict-address.ts
Labels: packages, sdk

Feature: predictAddress token function (#7870)
  .changeset/hot-showers-throw.md
  packages/thirdweb/src/exports/tokens.ts
  packages/thirdweb/src/tokens/predict-address.ts
Labels: packages, sdk

Update Payments FAQ (#7845)
  apps/portal/src/app/payments/faq/page.mdx
Labels: portal

Version Packages (#7871)
  .changeset/hot-showers-throw.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

fix: updated createToken to just return a prepared tx
  packages/thirdweb/src/tokens/create-token.ts
  packages/thirdweb/src/tokens/types.ts
Labels: packages, sdk

feat: update create token to return a prepared tx
  .changeset/twenty-bees-sink.md
  packages/thirdweb/src/tokens/predict-address.ts
  packages/thirdweb/src/tokens/types.ts
Labels: packages, sdk

add new rating/feedback to support tab
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCaseDetails.tsx
Labels: dashboard

Always show Chain Infrastructure in sidebar regardless of subscriptions
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/TeamSidebarLayout.tsx
Labels: dashboard

Always show Chain Infrastructure in sidebar regardless of subscriptions (#7883)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/TeamSidebarLayout.tsx
Labels: dashboard

add supabase table and set up
  .vscode/settings.json
  apps/dashboard/FEEDBACK_FEATURE.md
  apps/dashboard/package.json
  apps/dashboard/public/robots.txt
  apps/dashboard/src/@/lib/supabase.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCaseDetails.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
  pnpm-lock.yaml
Labels: dashboard

chore: trigger deployment with env vars
  FEEDBACK_FEATURE.md
Labels: none

fix: update pnpm-lock.yaml for Supabase dependency
  pnpm-lock.yaml
Labels: none

feat: enhance error logging for production debugging
  apps/dashboard/src/@/lib/supabase.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

feat: improve feedback UX - hide form after submission and only show for closed tickets
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCaseDetails.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

add webhook id to test webhook (#7884)
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/useTestWebhook.ts
Labels: dashboard

[Dashboard] Filter out smart wallets from analytics and improve wallet stats display
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/InAppWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/Summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
Labels: dashboard

[Dashboard] improve wallet stats (#7880)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/InAppWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/Summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
Labels: dashboard
