Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[MNY-318] SDK: Remove tabs from token selection ui in SwapWidget (#8501)
  .changeset/rotten-loops-draw.md
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
Labels: packages, sdk

[SDK] Allow passing activeWallet to SwapWidget (#8504)
  .changeset/shaky-hoops-battle.md
  .vscode/settings.json
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/@/constants/urls.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet-details.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/hooks.ts
Labels: dashboard, packages, sdk

[SDK] Update token balances query to use client instead of clientId
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet-details.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/use-tokens.ts
Labels: dashboard, packages, sdk

[SDK] Update token balances query to use client instead of clientId (#8507)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet-details.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/use-tokens.ts
Labels: dashboard, packages, sdk

UI updates, Fix lint error
  apps/dashboard/public/assets/dedicated-relayer/monitoring-dark.png
  apps/dashboard/public/assets/dedicated-relayer/monitoring-light.png
  apps/dashboard/public/assets/dedicated-relayer/no-config-dark.png
  apps/dashboard/public/assets/dedicated-relayer/no-config-light.png
  apps/dashboard/public/assets/dedicated-relayer/server-wallet-dark.png
  apps/dashboard/public/assets/dedicated-relayer/server-wallet-light.png
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet-details.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/empty-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/index.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/pending-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/tier-selection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/types.ts
Labels: dashboard

Update API reference links in dashboard and portal
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/portal/src/app/contracts/sidebar.tsx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/app/wallets/server/send-transactions/page.mdx
Labels: dashboard, portal

Update API reference links in dashboard and portal (#8508)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/portal/src/app/contracts/sidebar.tsx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/app/wallets/server/send-transactions/page.mdx
Labels: dashboard, portal

Add AI privacy policy and terms to framer-rewrites.js
  apps/dashboard/framer-rewrites.js
Labels: dashboard

Add AI privacy policy and terms to framer-rewrites.js
  apps/dashboard/framer-rewrites.js
Labels: dashboard

[MNY-322] SDK: Update success message shown in SwapWidget component (#8509)
  .changeset/happy-dots-jam.md
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/SuccessScreen.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/stories/Bridge/SuccessScreen.stories.tsx
Labels: packages, sdk

Add Solana facilitator guide to docs
  apps/portal/src/app/x402/facilitator/solana/page.mdx
  apps/portal/src/app/x402/sidebar.tsx
Labels: portal

update sol caip2 supported
  apps/portal/src/app/x402/facilitator/solana/page.mdx
Labels: portal

just slugs
  apps/portal/src/app/x402/facilitator/solana/page.mdx
Labels: portal

Add Solana facilitator guide to docs (#8511)
  apps/portal/src/app/x402/facilitator/solana/page.mdx
  apps/portal/src/app/x402/sidebar.tsx
Labels: portal

Version Packages (#8503)
  .changeset/happy-dots-jam.md
  .changeset/rotten-loops-draw.md
  .changeset/shaky-hoops-battle.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[PRO-138] Dashboard: Update Project highlights card revenue tab (#8515)
  apps/dashboard/src/@/components/analytics/empty-chart-state.tsx
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/@/utils/number.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/_analytics/highlights-card-ui.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/_analytics/highlights-card-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/_analytics/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/_analytics/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet-details.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/BarChart.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/CombinedBarChartCard.tsx
Labels: dashboard

bal override path
  packages/thirdweb/src/wallets/utils/getWalletBalance.ts
Labels: packages, sdk

bal override path (#8516)
  packages/thirdweb/src/wallets/utils/getWalletBalance.ts
Labels: packages, sdk

Dashboard: Login page UI tweaks, remove phone login notice (#8524)
  apps/dashboard/src/app/login/LoginPage.tsx
Labels: dashboard

Refactor dedicated relayer to use new fleet analytics API
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/active-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/empty-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/index.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/page-client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/pending-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/lib/api.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/lib/hooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/types.ts
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

[WIP] Dedicated Relayer
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/active-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/empty-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/index.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/page-client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/pending-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/tier-selection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/lib/api.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/lib/hooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/types.ts
Labels: dashboard

UI updates, Fix lint error
  apps/dashboard/public/assets/dedicated-relayer/monitoring-dark.png
  apps/dashboard/public/assets/dedicated-relayer/monitoring-light.png
  apps/dashboard/public/assets/dedicated-relayer/no-config-dark.png
  apps/dashboard/public/assets/dedicated-relayer/no-config-light.png
  apps/dashboard/public/assets/dedicated-relayer/server-wallet-dark.png
  apps/dashboard/public/assets/dedicated-relayer/server-wallet-light.png
  apps/dashboard/src/@/types/billing.ts
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/utils/billing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/empty-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/index.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/page-client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/pending-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/tier-selection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/types.ts
Labels: dashboard

Refactor dedicated relayer setup and purchase flow
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/utils/billing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/empty-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/page-client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/pending-state.tsx
Labels: dashboard

Update feature descriptions in empty state component
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/empty-state.tsx
Labels: dashboard

[MNY-328] Dashboard: Add Bridge iframe page (#8525)
  apps/dashboard/.env.example
  apps/dashboard/next.config.ts
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/@/constants/public-envs.ts
  apps/dashboard/src/app/(app)/(dashboard)/tokens/page.tsx
  apps/dashboard/src/app/(app)/providers.tsx
  apps/dashboard/src/app/bridge/(general)/assets/chains.png
  apps/dashboard/src/app/bridge/(general)/assets/routes.png
  apps/dashboard/src/app/bridge/(general)/assets/tokens.png
  apps/dashboard/src/app/bridge/(general)/components/bridge-page.tsx
  apps/dashboard/src/app/bridge/(general)/components/client/Providers.client.tsx
  apps/dashboard/src/app/bridge/(general)/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/bridge/(general)/components/client/animated-numbers.tsx
  apps/dashboard/src/app/bridge/(general)/components/header.tsx
  apps/dashboard/src/app/bridge/(general)/data.ts
  apps/dashboard/src/app/bridge/(general)/exchange/[token-pair]/opengraph-image.png
  apps/dashboard/src/app/bridge/(general)/exchange/[token-pair]/page.tsx
  apps/dashboard/src/app/bridge/(general)/exchange/[token-pair]/slug-map.ts
  apps/dashboard/src/app/bridge/(general)/layout.tsx
  apps/dashboard/src/app/bridge/(general)/opengraph-image.png
  apps/dashboard/src/app/bridge/(general)/page.tsx
  apps/dashboard/src/app/bridge/components/client/Providers.client.tsx
  apps/dashboard/src/app/bridge/embed/layout.tsx
  apps/dashboard/src/app/bridge/embed/opengraph-image.png
  apps/dashboard/src/app/bridge/embed/page.tsx
Labels: dashboard

Add UTF-8 JSON string parsing support
  .changeset/major-bugs-worry.md
  packages/thirdweb/src/utils/base64/base64.ts
  packages/thirdweb/src/utils/contract/fetchContractMetadata.ts
  packages/thirdweb/src/utils/nft/fetch-token-metadata.test.ts
  packages/thirdweb/src/utils/nft/fetchTokenMetadata.ts
  packages/thirdweb/src/utils/utf8/utf8.test.ts
  packages/thirdweb/src/utils/utf8/utf8.ts
Labels: packages, sdk

Add UTF-8 JSON string parsing support
  .changeset/major-bugs-worry.md
  packages/thirdweb/src/utils/base64/base64.ts
  packages/thirdweb/src/utils/contract/fetchContractMetadata.ts
  packages/thirdweb/src/utils/nft/fetch-token-metadata.test.ts
  packages/thirdweb/src/utils/nft/fetchTokenMetadata.ts
  packages/thirdweb/src/utils/utf8/utf8.test.ts
  packages/thirdweb/src/utils/utf8/utf8.ts
Labels: packages, sdk

Add bridge widget iframe docs, update path, link to docs (#8528)
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/app/bridge/(general)/components/bridge-page.tsx
  apps/dashboard/src/app/bridge/(general)/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/bridge/(general)/components/client/badge-link.tsx
  apps/dashboard/src/app/bridge/(general)/components/header.tsx
  apps/dashboard/src/app/bridge/(general)/page.tsx
  apps/dashboard/src/app/bridge/widget/layout.tsx
  apps/dashboard/src/app/bridge/widget/opengraph-image.png
  apps/dashboard/src/app/bridge/widget/page.tsx
  apps/portal/redirects.mjs
  apps/portal/src/app/bridge/bridge-widget/bridge-widget-dark.png
  apps/portal/src/app/bridge/bridge-widget/bridge-widget-light.png
  apps/portal/src/app/bridge/bridge-widget/iframe/iframe-code-preview.tsx
  apps/portal/src/app/bridge/bridge-widget/iframe/page.mdx
  apps/portal/src/app/bridge/bridge-widget/page.mdx
  apps/portal/src/app/bridge/bridge-widget/react/page.mdx
  apps/portal/src/app/bridge/bridge-widget/script/page.mdx
  apps/portal/src/app/bridge/page.mdx
  apps/portal/src/app/bridge/sidebar.tsx
  apps/portal/src/app/bridge/swap/page.mdx
  apps/portal/src/components/others/Sidebar.tsx
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/ui/Bridge/bridge-widget/bridge-widget.tsx
Labels: dashboard, packages, sdk, portal

Fix bridge iframe config (#8529)
  apps/dashboard/.env.example
  apps/dashboard/next.config.ts
Labels: dashboard

Fix typo in "Create Project" button text
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/create-project/_components/create-project-form.tsx
Labels: dashboard

Fix typo in "Create Project" button text (#8530)
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/create-project/_components/create-project-form.tsx
Labels: dashboard

Final updates and gating
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/page-client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/pending-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/lib/hooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/page.tsx
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

Create some-mice-own.md
  .changeset/some-mice-own.md
Labels: none

[X402] Improve documentation for upto payment scheme
  apps/portal/src/app/x402/server/page.mdx
Labels: portal

Add fleet status polling and supported chains list
  apps/dashboard/src/app/(app)/(stripe)/utils/billing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/active-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/empty-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/page-client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/pending-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/tier-selection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/constants.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/lib/api.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/lib/hooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/page.tsx
Labels: dashboard

Add error toast for relayer purchase failure
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/empty-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/page-client.tsx
Labels: dashboard

Dedicated Relayer (#8479)
  .changeset/some-mice-own.md
  apps/dashboard/public/assets/dedicated-relayer/monitoring-dark.png
  apps/dashboard/public/assets/dedicated-relayer/monitoring-light.png
  apps/dashboard/public/assets/dedicated-relayer/no-config-dark.png
  apps/dashboard/public/assets/dedicated-relayer/no-config-light.png
  apps/dashboard/public/assets/dedicated-relayer/server-wallet-dark.png
  apps/dashboard/public/assets/dedicated-relayer/server-wallet-light.png
  apps/dashboard/src/@/types/billing.ts
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/utils/billing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/active-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/empty-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/page-client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/pending-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/tier-selection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/constants.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/lib/api.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/lib/hooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/types.ts
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

Version Packages (#8532)
  .changeset/some-mice-own.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

Improve relayer analytics
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/active-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/page-client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/page.tsx
Labels: dashboard

Remove executor column and handle null transaction fee
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/components/active-state.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/types.ts
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
