Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[Dashboard] Add coding standards and best practices documentation (#6901)
  .cursor/rules/dashboard.mdc
Labels: none

Update examplePrompts.ts (#6905)
  apps/dashboard/src/app/nebula-app/(app)/data/examplePrompts.ts
Labels: dashboard

[SDK] Improve PayEmbed funnel
  .changeset/rich-ducks-ask.md
  apps/playground-web/src/app/connect/sign-in/button/RightSection.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/analytics/track/pay.test.ts
  packages/thirdweb/src/analytics/track/pay.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/DirectPaymentModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
  pnpm-lock.yaml
Labels: playground, packages, sdk

[SDK] Update WalletConnect to v2.20.1 and improve PayEmbed funnel (#6906)
  .changeset/rich-ducks-ask.md
  apps/playground-web/src/app/connect/sign-in/button/RightSection.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/analytics/track/pay.test.ts
  packages/thirdweb/src/analytics/track/pay.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/DirectPaymentModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
  pnpm-lock.yaml
Labels: playground, packages, sdk

[SDK] Improve destination tokens error handling
  .changeset/flat-bears-try.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/useSwapSupportedChains.ts
Labels: packages, sdk

[SDK] Improve destination tokens error handling (#6910)
  .changeset/flat-bears-try.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/useSwapSupportedChains.ts
Labels: packages, sdk

Version Packages (#6908)
  .changeset/flat-bears-try.md
  .changeset/rich-ducks-ask.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[NEB_224] Dashboard: Update Banner to Nebula beta launch (#6911)
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
Labels: dashboard

[NEB-225] Fix Nebula new chat button link (#6912)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/hooks/useNewChatPageLink.ts
  apps/dashboard/src/app/nebula-app/(app)/stores.ts
Labels: dashboard

Nebula: Update Reasoning UI: show only latest presence in pending state (#6913)
  apps/dashboard/src/app/nebula-app/(app)/components/Reasoning/Reasoning.tsx
Labels: dashboard

[NEB-69] Nebula: Add UI for Swap and Approve transactions (#6898)
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Swap/SwapCards.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Swap/SwapCards.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Swap/common.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
Labels: dashboard

[SDK] Fix React Native exports
  .changeset/cold-melons-shave.md
  packages/thirdweb/package.json
Labels: packages, sdk

[SDK] Fix React Native exports (#6914)
  .changeset/cold-melons-shave.md
  packages/thirdweb/package.json
Labels: packages, sdk

Version Packages (#6915)
  .changeset/cold-melons-shave.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[TOOL-4336] Dashboard: Fix contracts on custom chains not shown in contracts table (#6916)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractFromParams.ts
  apps/dashboard/src/app/(app)/account/contracts/_components/getSortedDeployedContracts.tsx
  apps/dashboard/src/app/nebula-app/(app)/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/utils/getChainIds.ts
  apps/dashboard/src/app/nebula-app/login/page.tsx
  apps/dashboard/src/utils/fetchChainWithLocalOverrides.ts
Labels: dashboard

overview complete
  apps/portal/src/app/connect/pay/fees/page.mdx
  apps/portal/src/app/engine/features/backend-wallets/page.mdx
  apps/portal/src/app/engine/get-started/page.mdx
  apps/portal/src/app/engine/page.mdx
  apps/portal/src/app/engine/sidebar.tsx
Labels: portal

[SDK] Add ZERO_ADDRESS check to isNativeToken function
  .changeset/rude-peaches-juggle.md
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/nativeToken.ts
Labels: packages, sdk

[TOOL-4346] Dashboard: Show Project ID in project settings page (#6917)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
Labels: dashboard

[Dashboard] Add teamId to fee management API calls
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/settings/page.tsx
  apps/dashboard/src/components/pay/PayConfig.tsx
Labels: dashboard

[Dashboard] Add teamId to fee management API calls (#6919)
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/settings/page.tsx
  apps/dashboard/src/components/pay/PayConfig.tsx
Labels: dashboard

[SDK] Add ZERO_ADDRESS check to isNativeToken function (#6918)
  .changeset/rude-peaches-juggle.md
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/nativeToken.ts
Labels: packages, sdk

fix test
  packages/thirdweb/src/adapters/viem-legacy.test.ts
Labels: packages, sdk

Update dependencies in pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

Update dependencies in pnpm-lock.yaml (#6921)
  pnpm-lock.yaml
Labels: none

Implement asset creation flows with standardized components
  apps/dashboard/assets-implementation-summary.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-nft/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-token/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/page.tsx
Labels: dashboard

Update project files
  .gitignore
  apps/dashboard/assets-implementation-summary.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
Labels: dashboard

[SDK] Optimize token balance fetching with Insight API
  packages/thirdweb/src/insight/common.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.ts
Labels: packages, sdk

[SDK] Optimize token balance fetching with Insight API (#6923)
  packages/thirdweb/src/insight/common.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.ts
Labels: packages, sdk

[SDK] Optimize token query in PayEmbed with Insight
  .changeset/tricky-bags-wash.md
Labels: none

[Changeset] Optimize token query in PayEmbed with Insight (#6924)
  .changeset/tricky-bags-wash.md
Labels: none

add isRotated field to access token data
  packages/vault-sdk/src/types.ts
Labels: packages

fix type
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/tx-table/types.ts
Labels: dashboard

fix more types
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/lib/analytics.ts
Labels: dashboard

remove log
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/lib/vault.client.ts
Labels: dashboard

fix types
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/lib/analytics.ts
Labels: dashboard

cache SA, filter rotated access tokens
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/analytics-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/vault/components/list-access-tokens.client.tsx
Labels: dashboard

[SDK] force type 1 ronin+saigon
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, sdk

[NEB-229] Nebula: follow-up prompt improvements, preserve reasoning UI on error (#6925)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
Labels: dashboard

[TOOL-4354] Nebula: Configure erc20Value for swap prepared transaction (#6926)
  apps/dashboard/src/app/nebula-app/(app)/components/Swap/SwapCards.tsx
Labels: dashboard

[TOOL-4347] Dashboard: Use Nebula auth token for nebula floating chat (#6928)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/actions.ts
  apps/dashboard/src/app/nebula-app/login/NebulaConnectEmbedLogin.tsx
  apps/dashboard/src/app/nebula-app/login/auth-actions.ts
Labels: dashboard
