Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[SDK] ensure that the default spinner stroke color gets inherited from the parentnode (#7157)
  .changeset/fast-onions-obey.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/components/Spinner.tsx
Labels: packages, sdk

Feat: tokenAddress and amount bridge params (#7176)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/bridge/page.tsx
Labels: dashboard

[Dashboard] Add token request route to dashboard (#7112)
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/components/blocks/RouteDiscoveryCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/connect/universal-bridge/settings/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/components/pay/RouteDiscovery.tsx
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
Labels: dashboard

[Dashboard] Change "Network" label to "Select Testnet" in analytics test transaction form
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/analytics/send-test-tx.client.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
Labels: dashboard

chore: fix typos
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
  packages/thirdweb/src/utils/extensions/drops/process-override-list.ts
Labels: packages, sdk

[SDK] add hiddenWallets prop
  .changeset/hidden-wallets-prop.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectEmbedProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
Labels: packages, sdk

[Dashboard] add search filter for in-app wallet users
  apps/dashboard/src/components/embedded-wallets/Users/SearchInput.tsx
  apps/dashboard/src/components/embedded-wallets/Users/index.tsx
Labels: dashboard

[Dashboard] Change "Network" label to "Select Testnet" in analytics test transaction form (#7178)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/analytics/send-test-tx.client.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
Labels: dashboard

[SDK] fix hiddenWallets prop
  .changeset/hidden-wallets-prop.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectEmbedProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
Labels: packages, sdk

[Dashboard] add wallet user search (#7182)
  apps/dashboard/src/components/embedded-wallets/Users/SearchInput.tsx
  apps/dashboard/src/components/embedded-wallets/Users/index.tsx
Labels: dashboard

fix build
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
Labels: packages, sdk

[SDK] fix hiddenWallets prop (#7183)
  .changeset/hidden-wallets-prop.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectEmbedProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
Labels: packages, sdk

[Dashboard] migrate external links form (#7156)
  apps/dashboard/src/components/contract-components/contract-publish-form/external-links-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/external-links-input.tsx
Labels: dashboard

Add webhook API functions for insight dashboard (#7171)
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
Labels: dashboard

feat: enhance aggregate parameter input with multi-select presets (#7168)
  apps/playground-web/src/app/insight/[blueprint_slug]/aggregate-parameter-input.client.tsx
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: playground

feat: redesign aggregate parameter input with improved UI (#7179)
  apps/playground-web/src/app/insight/[blueprint_slug]/aggregate-parameter-input.client.tsx
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: playground

Add webhooks page to project dashboard (#7172)
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/RelativeTime.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/WebhooksTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
Labels: dashboard

Add webhook creation UI to dashboard (#7174)
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/BasicInfoStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/RelativeTime.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/ReviewStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/WebhooksTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/useAbiProcessing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/useTestWebhook.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/abiUtils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/webhookPayloadUtils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/webhookTypes.ts
Labels: dashboard

Add webhook testing functionality to dashboard (#7173)
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/WebhooksTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/useTestWebhook.ts
Labels: dashboard

feat: adds explicit country code to onramp params
  .changeset/clear-books-allow.md
  packages/thirdweb/src/bridge/Onramp.ts
Labels: packages, sdk

chore: fix typos (#7180)
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
  packages/thirdweb/src/utils/extensions/drops/process-override-list.ts
Labels: packages, sdk

[SDK] Feature: Adds explicit country param to onramps (#7185)
  .changeset/clear-books-allow.md
  packages/thirdweb/src/bridge/Onramp.ts
Labels: packages, sdk

Add scrollable overflow to webhook filter select dropdowns (#7186)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
Labels: dashboard

token owners endpoint in insight playground (#7184)
  apps/playground-web/src/app/insight/insightBlueprints.ts
Labels: playground

Temporarily remove webhooks sidebar link until scrolling issue is fixed (#7187)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
Labels: dashboard

fix: webhook docs tags
  packages/thirdweb/src/bridge/Webhook.ts
Labels: packages, sdk

Fix: Webhook docs tags (#7189)
  packages/thirdweb/src/bridge/Webhook.ts
Labels: packages, sdk

feat: remove Switch Network button
  .changeset/tricky-points-tease.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
Labels: packages, sdk

[SDK] Feature: Remove Switch Network button (#7191)
  .changeset/tricky-points-tease.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
Labels: packages, sdk

[Dashboard] replace chakra stats in accounts (#7188)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/accounts-count.tsx
Labels: dashboard

[Dashboard] Fix asset page link and improve token claim UX
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/ContractOverviewPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_hooks/useTokenPriceData.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_hooks/useTokenTransfers.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
Labels: dashboard

Stylus ERC20 template for CLI (#7192)
  packages/thirdweb/src/cli/commands/stylus/builder.ts
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

chore: annotate getBuyWithFiatQuote as deprecated
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
Labels: packages, sdk

chore: annotate getBuyWithFiatQuote as deprecated (#7198)
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
Labels: packages, sdk

fix: transfer purchase data
  .changeset/upset-views-show.md
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
Labels: packages, sdk

[Dashboard] Fix asset page link and improve token claim UX (#7193)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/ContractOverviewPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/Analytics.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/contract-analytics/contract-analytics.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_hooks/useTokenPriceData.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_hooks/useTokenTransfers.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
Labels: dashboard

Fix: Transfer purchase data (#7202)
  .changeset/upset-views-show.md
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
Labels: packages, sdk

docs: add docs on aggregates (#7201)
  apps/portal/src/app/insight/agents-and-llms/llmstxt/page.mdx
  apps/portal/src/app/insight/agents-and-llms/page.mdx
  apps/portal/src/app/insight/blueprints/page.mdx
  apps/portal/src/app/insight/faqs/page.mdx
  apps/portal/src/app/insight/get-started/page.mdx
  apps/portal/src/app/insight/page.mdx
  apps/portal/src/app/insight/use-cases/page.mdx
Labels: portal

Version Packages (#7164)
  .changeset/breezy-dodos-hunt.md
  .changeset/clear-books-allow.md
  .changeset/fast-onions-obey.md
  .changeset/five-sheep-crash.md
  .changeset/green-olives-unite.md
  .changeset/hidden-wallets-prop.md
  .changeset/tricky-points-tease.md
  .changeset/upset-views-show.md
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/insight/CHANGELOG.md
  packages/insight/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

🌉 Add React hook for Bridge API with multi-step route support
  .changeset/bridge-api-integration.md
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/bridge/useBuyPrepare.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
