Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Add Line, TikTok, and Epic Games OAuth support
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
Labels: portal

Version Packages (#8372)
  .changeset/salty-squids-repair.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Engine] Add from address to serializable transaction
  .changeset/clever-horses-turn.md
  .changeset/curvy-pillows-return.md
  packages/thirdweb/src/engine/server-wallet.ts
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/others/useInvalidateBalances.ts
Labels: packages, sdk

[SDK] Expose useInvalidateBalances() (#8373)
  .changeset/clever-horses-turn.md
  .changeset/curvy-pillows-return.md
  packages/thirdweb/src/engine/server-wallet.ts
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/others/useInvalidateBalances.ts
Labels: packages, sdk

Version Packages (#8374)
  .changeset/clever-horses-turn.md
  .changeset/curvy-pillows-return.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Change TransactionWidget fiat decimals to two (#8366)
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/formatTokenBalance.ts
Labels: packages, sdk

Add Epic Games as new auth provider (#8343)
  .changeset/beige-candles-happen.md
  apps/dashboard/src/@/api/team/ecosystems.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/InAppWalletUsersChartCard.stories.tsx
  apps/playground-web/src/app/wallets/sign-in/components/InAppWalletFormGroup.tsx
  apps/portal/src/components/Document/AuthList.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  packages/thirdweb/src/react/core/utils/walletIcon.test.ts
  packages/thirdweb/src/react/core/utils/walletIcon.ts
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/icons/svgs.ts
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/oauthSignIn.ts
  packages/thirdweb/src/stories/ConnectEmbed.stories.tsx
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Labels: dashboard, playground, packages, sdk, portal

Version Packages (#8375)
  .changeset/beige-candles-happen.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[X402] Remove hardcoded BigInt parameter from wrapFetchWithPayment
  apps/playground-web/src/app/payments/x402/components/X402RightSection.tsx
Labels: playground

[Playground] Remove hardcoded limit from wrapFetchWithPayment (#8376)
  apps/playground-web/src/app/payments/x402/components/X402RightSection.tsx
Labels: playground

[MNY-304] Move engine tx summary request to client side to fix page crash (#8379)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/filter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-chart/data.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics-summary.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
Labels: dashboard

[MNY-305] Dashboard: Checksum addresses in tx page (#8380)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/bridge-status.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/page.tsx
Labels: dashboard

[PRO-73] Portal: Update hero images (#8381)
  apps/portal/src/app/_images/docs-hero-dark.png
  apps/portal/src/app/_images/docs-hero-light.png
  apps/portal/src/app/page.tsx
Labels: portal

Deploy and install stylus modules
  packages/thirdweb/src/extensions/modules/common/installPublishedModule.ts
Labels: packages, sdk

changeset
  .changeset/sharp-files-cry.md
Labels: none

compatibility
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/ModuleForm.tsx
Labels: dashboard

enable stylus modular contracts in explore
  apps/dashboard/src/app/(app)/(dashboard)/explore/data.ts
Labels: dashboard

show in explore, beta
  apps/dashboard/src/app/(app)/(dashboard)/explore/data.ts
Labels: dashboard

cli templates for creating rust modules
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

Replace Celo Alfajores with Celo Sepolia Testnet
  .changeset/shaky-dragons-check.md
  packages/thirdweb/src/chains/chain-definitions/celo-alfajores-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/celo-sepolia-testnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

[SDK] Replace Celo Alfajores with Celo Sepolia Testnet (#8384)
  .changeset/shaky-dragons-check.md
  packages/thirdweb/src/chains/chain-definitions/celo-alfajores-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/celo-sepolia-testnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

Version Packages (#8385)
  .changeset/shaky-dragons-check.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Portal] Move x402 from payments to top-level section
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/bridge/custom-data/page.mdx
  apps/portal/src/app/bridge/fund/page.mdx
  apps/portal/src/app/bridge/page.mdx
  apps/portal/src/app/bridge/products/page.mdx
  apps/portal/src/app/bridge/sell/page.mdx
  apps/portal/src/app/bridge/send/page.mdx
  apps/portal/src/app/bridge/sidebar.tsx
  apps/portal/src/app/bridge/swap/page.mdx
  apps/portal/src/app/bridge/tokens/page.mdx
  apps/portal/src/app/bridge/transactions/page.mdx
  apps/portal/src/app/bridge/webhooks/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/x402/agents/page.mdx
  apps/portal/src/app/x402/client/page.mdx
  apps/portal/src/app/x402/facilitator/page.mdx
  apps/portal/src/app/x402/layout.tsx
  apps/portal/src/app/x402/page.mdx
  apps/portal/src/app/x402/server/page.mdx
  apps/portal/src/app/x402/server/x402-protocol-flow.png
  apps/portal/src/app/x402/sidebar.tsx
Labels: portal

[Portal] Move x402 from payments to top-level section (#8386)
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/bridge/custom-data/page.mdx
  apps/portal/src/app/bridge/fund/page.mdx
  apps/portal/src/app/bridge/page.mdx
  apps/portal/src/app/bridge/products/page.mdx
  apps/portal/src/app/bridge/sell/page.mdx
  apps/portal/src/app/bridge/send/page.mdx
  apps/portal/src/app/bridge/sidebar.tsx
  apps/portal/src/app/bridge/swap/page.mdx
  apps/portal/src/app/bridge/tokens/page.mdx
  apps/portal/src/app/bridge/transactions/page.mdx
  apps/portal/src/app/bridge/webhooks/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/x402/agents/page.mdx
  apps/portal/src/app/x402/client/page.mdx
  apps/portal/src/app/x402/facilitator/page.mdx
  apps/portal/src/app/x402/layout.tsx
  apps/portal/src/app/x402/page.mdx
  apps/portal/src/app/x402/server/page.mdx
  apps/portal/src/app/x402/server/x402-protocol-flow.png
  apps/portal/src/app/x402/sidebar.tsx
Labels: portal

fix dynamic contract tests
  packages/thirdweb/src/contract/deployment/deploy-dynamic.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/installPublishedExtension.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/uninstallExtension.test.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
Labels: packages, sdk

docs
  apps/portal/src/app/contracts/arbitrum-stylus/minting-modules/page.mdx
  apps/portal/src/app/contracts/arbitrum-stylus/zk-mint/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
Labels: portal

lint
  packages/thirdweb/src/contract/deployment/deploy-dynamic.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/installPublishedExtension.test.ts
Labels: packages, sdk

[MNY-303] Various UI/UX Improvements in Bridge components (#8388)
  .changeset/wild-steaks-agree.md
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/TokenAndChain.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/TokenBalanceRow.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/selected-token-button.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentOverview.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/TokenSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/PaymentReceipt.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/SuccessScreen.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-chain.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
  packages/thirdweb/src/react/web/ui/components/CopyIcon.tsx
  packages/thirdweb/src/react/web/ui/components/Spacer.tsx
Labels: packages, sdk

Stylus modules (#8383)
  .changeset/sharp-files-cry.md
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/ModuleForm.tsx
  apps/dashboard/src/app/(app)/(dashboard)/explore/data.ts
  apps/portal/src/app/contracts/arbitrum-stylus/minting-modules/page.mdx
  apps/portal/src/app/contracts/arbitrum-stylus/zk-mint/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
  packages/thirdweb/src/cli/commands/stylus/create.ts
  packages/thirdweb/src/contract/deployment/deploy-dynamic.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/installPublishedExtension.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/uninstallExtension.test.ts
  packages/thirdweb/src/extensions/modules/common/installPublishedModule.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
Labels: dashboard, packages, sdk, portal

Loosen peer dependency requirements for React Native
  .changeset/curvy-stars-unite.md
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

[SDK] Loosen peer dependency requirements for React Native (#8390)
  .changeset/curvy-stars-unite.md
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

Version Packages (#8389)
  .changeset/curvy-stars-unite.md
  .changeset/sharp-files-cry.md
  .changeset/wild-steaks-agree.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/react-native-adapter/CHANGELOG.md
  packages/react-native-adapter/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Dashboard] New Project > Wallets product grouping and subsections (#8359)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/components/blocks/full-width-sidebar-layout.tsx
  apps/dashboard/src/@/components/blocks/project-page/project-page.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/in-app-wallet-users-content.tsx
  apps/dashboard/src/@/components/misc/AnnouncementBanner.tsx
  apps/dashboard/src/@/constants/siwa-example-prompts.ts
  apps/dashboard/src/@/storybook/stubs.ts
  apps/dashboard/src/@/utils/pricing.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/Alerts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/factories/AccountFactories/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/settings/SponsorshipPolicies/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/account-abstraction/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/wallets/api/sms.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/key-management.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/InAppWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/configuration/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/sponsored-gas/configuration/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/sponsored-gas/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/sponsored-gas/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/api/sms.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/components/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/components/sms-country-select/country-selector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/components/sms-country-select/index.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/components/sms-country-select/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/page.tsx
Labels: dashboard

[Dashboard] Add x402 payments section and disallow robots
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/@/utils/number.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/ChartsSection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/MetricSwitcher.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/Summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/X402SettlementsByPayerChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/X402SettlementsByResourceChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/configuration/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/page.tsx
Labels: dashboard

[Dashboard] Add x402 payments section (#8394)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/@/utils/number.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/ChartsSection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/MetricSwitcher.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/Summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/X402SettlementsByPayerChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/X402SettlementsByResourceChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/configuration/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/page.tsx
Labels: dashboard

SDK: Add verify parameter in Bridge.Webhook.parse function (#8395)
  .changeset/mean-pants-beam.md
  packages/thirdweb/src/bridge/Webhook.test.ts
  packages/thirdweb/src/bridge/Webhook.ts
Labels: packages, sdk

Add callout for verifying webhook in dashboard and portal (#8396)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/webhooks/components/webhooks.client.tsx
  apps/portal/src/app/bridge/webhooks/page.mdx
Labels: dashboard, portal

[X402] Add chain analytics chart and empty state
  AGENTS.md
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/X402SettlementsByChainChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/components/X402EmptyState.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/page.tsx
Labels: dashboard

[Dashboard] Add x402 chain analytics chart and empty state (#8398)
  AGENTS.md
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/X402SettlementsByChainChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/components/X402EmptyState.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/page.tsx
Labels: dashboard

[Dashboard] Change default x402 metric from volume to payments
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/ChartsSection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/page.tsx
Labels: dashboard
