Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Portal: Fix widget component API reference links
  apps/portal/src/app/bridge/page.mdx
  apps/portal/src/app/payments/custom-data/page.mdx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/products/page.mdx
Labels: portal

feat: Add Solana transactions and wallets to dashboard
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/solana-tx-table/solana-tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/solana-tx-table/solana-tx-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/solana-tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/create-solana-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/wallet-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

Refactor: Improve Solana wallet data handling and typing
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/wallet-table/wallet-table-ui.client.tsx
Labels: dashboard

solana dashboard experience + SDK type fix
  .changeset/eleven-mangos-travel.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-solana-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/solana-tx-table/solana-tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/solana-tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/transactions-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/solana-utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/create-solana-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/solana-transaction-details-ui.tsx
  packages/vault-sdk/src/types.ts
Labels: dashboard, packages

lint + remove unused files
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/solana-tx-table/solana-tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/solana-tx-table/solana-tx-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/transactions-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/solana-utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/wallet-table/wallet-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/solana-transaction-details-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

better address
  apps/dashboard/src/@/components/blocks/solana-address.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/transactions-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/solana-utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/solana-transaction-details-ui.tsx
Labels: dashboard

remove unused method
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/lib/vault.client.ts
Labels: dashboard

Portal: Fix widget component API reference links (#8255)
  apps/portal/src/app/bridge/page.mdx
  apps/portal/src/app/payments/custom-data/page.mdx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/products/page.mdx
Labels: portal

Fix query cache for block explorers for raw chains
  .changeset/eight-zoos-invent.md
  packages/thirdweb/src/extensions/erc721/read/getNFTs.test.ts
  packages/thirdweb/src/react/core/hooks/others/useChainQuery.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletTransactionHistory.tsx
  packages/thirdweb/src/transaction/transaction-store.ts
Labels: packages, sdk

[SDK] Fix query cache for block explorers for raw chains (#8257)
  .changeset/eight-zoos-invent.md
  packages/thirdweb/src/extensions/erc721/read/getNFTs.test.ts
  packages/thirdweb/src/react/core/hooks/others/useChainQuery.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletTransactionHistory.tsx
  packages/thirdweb/src/transaction/transaction-store.ts
Labels: packages, sdk

Version Packages (#8258)
  .changeset/eight-zoos-invent.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

project access token migration
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-solana-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/transactions-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/create-solana-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/upgrade-solana-permissions.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
Labels: dashboard

[MNY-254] SDK: Preserve token and amount selection in BuyWidget when going back to initial screen
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
Labels: packages, sdk

remove duplicate eoa:read policy
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
Labels: dashboard

Add Solana transactions and wallets tables
  .changeset/eleven-mangos-travel.md
  apps/dashboard/src/@/components/blocks/solana-address.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-solana-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/solana-tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/transactions-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/solana-utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/create-solana-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/upgrade-solana-permissions.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/wallet-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/solana-transaction-details-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
  packages/vault-sdk/src/types.ts
Labels: dashboard, packages

Add Solana transactions and wallets tables (#8263)
  .changeset/eleven-mangos-travel.md
  apps/dashboard/src/@/components/blocks/solana-address.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-solana-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/solana-tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/transactions-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/solana-utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/create-solana-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/upgrade-solana-permissions.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/wallet-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/solana-transaction-details-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
  packages/vault-sdk/src/types.ts
Labels: dashboard, packages

[Docs] Update X402 agent example to use listDiscoveryResources instead of getWalletBalance
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/payments/x402/agents/page.mdx
Labels: portal

[Docs] Update X402 agent example to use listDiscoveryResources (#8265)
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/payments/x402/agents/page.mdx
Labels: portal

[MNY-250] Fix Save button not enabled after changing Royalty BPS in contract settings page (#8252)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/royalties.tsx
Labels: dashboard

[MNY-253] Dashboard: Add tracking for token row in /tokens page, SDK: BridgeWidget component
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tokens/components/tokens-table.tsx
  packages/thirdweb/src/react/web/ui/Bridge/bridge-widget/bridge-widget.tsx
Labels: dashboard, packages, sdk

[MNY-253] Dashboard: Add tracking for token row in /tokens page, SDK: BridgeWidget component (#8254)
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tokens/components/tokens-table.tsx
  packages/thirdweb/src/react/web/ui/Bridge/bridge-widget/bridge-widget.tsx
Labels: dashboard, packages, sdk

[MNY-256] SDK: Update onSuccess prop of BuyWidget, CheckoutWidget, SwapWidget, BridgeWidget components (#8259)
  .changeset/strong-buses-love.md
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/portal/src/app/bridge/bridge-widget-script/page.mdx
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/bridge-widget/bridge-widget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/script-exports/bridge-widget-script.tsx
Labels: dashboard, packages, sdk, portal

[MNY-254] SDK: Preserve token and amount selection in BuyWidget when going back to initial screen (#8260)
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
Labels: packages, sdk

[MNY-256] SDK: Update onSuccess prop of BuyWidget, CheckoutWidget, SwapWidget, BridgeWidget components (#8259)
  .changeset/strong-buses-love.md
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/portal/src/app/bridge/bridge-widget-script/page.mdx
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/bridge-widget/bridge-widget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/script-exports/bridge-widget-script.tsx
Labels: dashboard, packages, sdk, portal

[Docs] Rename listDiscoveryResources to listPayableServices in MCP tools
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/payments/x402/agents/page.mdx
Labels: portal

[Docs] Rename listDiscoveryResources to listPayableServices in MCP tools (#8268)
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/payments/x402/agents/page.mdx
Labels: portal

Fetch native currency from chain API when required
  .changeset/forty-donuts-happen.md
  packages/thirdweb/src/extensions/erc20/read/getCurrencyMetadata.test.ts
  packages/thirdweb/src/extensions/erc20/read/getCurrencyMetadata.ts
  packages/thirdweb/src/extensions/erc7702/account/sessionkey.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-integration.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: packages, sdk

Fetch native currency from chain API when required (#8267)
  .changeset/forty-donuts-happen.md
  packages/thirdweb/src/extensions/erc20/read/getCurrencyMetadata.test.ts
  packages/thirdweb/src/extensions/erc20/read/getCurrencyMetadata.ts
  packages/thirdweb/src/extensions/erc7702/account/sessionkey.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-integration.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: packages, sdk

Version Packages (#8264)
  .changeset/eleven-mangos-travel.md
  .changeset/forty-donuts-happen.md
  .changeset/strong-buses-love.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/vault-sdk/CHANGELOG.md
  packages/vault-sdk/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Dashboard: Remove playwright tests, checkly (#8269)
  apps/dashboard/checkly.config.ts
  apps/dashboard/package.json
  apps/dashboard/playwright.config.ts
  apps/dashboard/tests/README.md
  apps/dashboard/tests/chain-page.spec.ts
  apps/dashboard/tests/contract-page.spec.ts
  apps/dashboard/tests/homepage.spec.ts
  apps/dashboard/tests/publisher-page.spec.ts
  apps/dashboard/tests/setup.ts
  pnpm-lock.yaml
Labels: dashboard

[MNY-270] Remove in-app wallet options from bridge page connect modal (#8270)
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/@/components/connect-wallet/index.tsx
  apps/dashboard/src/@/constants/connect.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/PublicPageConnectButton.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/components/NebulaConnectButton.tsx
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/bridge/components/header.tsx
Labels: dashboard

[MNY-269] SDK: autofocus token search input when token selector modal opens in BuyWidget, SwapWidget and BridgeWidget (#8266)
  .changeset/happy-trees-doubt.md
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SearchInput.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/components/Modal.tsx
  packages/thirdweb/src/stories/Bridge/BridgeWidget/bridge-widget-script.stories.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SwapWidget.Prefill.stories.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SwapWidget.stories.tsx
  packages/thirdweb/src/stories/BuyWidget.stories.tsx
Labels: packages, sdk

Remove Chain Infrastructure section from team sidebar
  apps/dashboard/src/@/api/team/team-subscription.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/TeamSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
Labels: dashboard

Dashboard: Fix autoconnect in /bridge page (#8271)
  apps/dashboard/src/app/(app)/components/autoconnect.tsx
  apps/dashboard/src/app/bridge/components/client/Providers.client.tsx
Labels: dashboard

Remove Chain Infrastructure section from team sidebar (#8275)
  apps/dashboard/src/@/api/team/team-subscription.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/TeamSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
Labels: dashboard

[MNY-268] Bridge Status UI updates (#8273)
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/@/components/ui/CopyTextButton.tsx
  apps/dashboard/src/@/components/ui/link-with-copy-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/bridge-status.tsx
Labels: dashboard

[PRO-48] Dashboard: Bridge page UI updates (#8274)
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/blocks/faq-section.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tokens/components/header.tsx
  apps/dashboard/src/app/bridge/components/client/pill-link.tsx
  apps/dashboard/src/app/bridge/components/header.tsx
  apps/dashboard/src/app/bridge/page.tsx
Labels: dashboard

[MNY-252] Dashboard: Update WalletAddress component UI
  apps/dashboard/src/@/components/blocks/wallet-address.stories.tsx
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  packages/thirdweb/src/react/core/social/useSocialProfiles.ts
Labels: dashboard, packages, sdk

[MNY-274] Dashboard: Generate swap token pages for popular tokens (#8278)
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/BuyFundsSection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/bridge/components/bridge-page.tsx
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/bridge/constants.ts
  apps/dashboard/src/app/bridge/exchange/[token-pair]/opengraph-image.png
  apps/dashboard/src/app/bridge/exchange/[token-pair]/page.tsx
  apps/dashboard/src/app/bridge/exchange/[token-pair]/slug-map.ts
  apps/dashboard/src/app/bridge/page.tsx
Labels: dashboard

[MNY-275] Surface the error from bridge API in SwapWidget UI (#8277)
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk
