Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Dashboard: Reset last-used-* cookies on login page (#7005)
  apps/dashboard/src/app/(app)/login/LoginPage.tsx
  apps/dashboard/src/lib/cookie.ts
Labels: dashboard

fix: trend badge formatting
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/common.tsx
Labels: dashboard

[Dashboard] Fix: Display latest value in PayNewCustomers component (#7002)
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
Labels: dashboard

Fix: Trend badge formatting (#7007)
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/common.tsx
Labels: dashboard

fix: payment link copy on ios
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
  packages/thirdweb/src/extensions/erc20/read/getCurrencyMetadata.ts
Labels: dashboard, packages, sdk

Update apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
Labels: dashboard

[Dashboard] Fix: Copying payment link on iOS (#7008)
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
  packages/thirdweb/src/extensions/erc20/read/getCurrencyMetadata.ts
Labels: dashboard, packages, sdk

[Thirdweb] Fix: Automatically trigger login for connected wallets when auth is required
  .changeset/every-sides-invent.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
Labels: packages, sdk

fix: only trigger SIWE auto sign in for IAW
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
Labels: packages, sdk

feat: auto-login when connecting via url
  packages/thirdweb/src/react/core/hooks/connection/ConnectEmbedProps.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/is-in-app-signer.ts
Labels: packages, sdk

fix: include full useSiweAuth return value
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
Labels: packages, sdk

lint
  apps/playground-web/src/components/auth/auth-button.tsx
  packages/thirdweb/src/react/core/hooks/connection/ConnectEmbedProps.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
Labels: playground, packages, sdk

[SDK] Fix: Automatically trigger login for connected wallets whe… (#7009)
  .changeset/every-sides-invent.md
  apps/playground-web/src/components/auth/auth-button.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/is-in-app-signer.ts
Labels: playground, packages, sdk

fix: auto-login on autoconnect of IAW in all cases
  .changeset/little-cities-help.md
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
Labels: packages, sdk

Fix: Auto-signin to autoconnect for all cases (#7011)
  .changeset/little-cities-help.md
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
Labels: packages, sdk

fix: catch siwe doLogin
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
Labels: packages, sdk

Fix: Catch siwe doLogin errors (#7012)
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
Labels: packages, sdk

Version Packages (#7010)
  .changeset/every-sides-invent.md
  .changeset/little-cities-help.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

postfix slash to engine url
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/_utils/getEngineInstance.ts
Labels: dashboard

postfix slash to engine url (#7013)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/_utils/getEngineInstance.ts
Labels: dashboard

Add EIP-5792 wallet capabilities support
  .changeset/forty-seals-raise.md
  apps/playground-web/package.json
  apps/playground-web/src/app/connect/account-abstraction/5792/page.tsx
  apps/playground-web/src/app/connect/account-abstraction/7702/page.tsx
  apps/playground-web/src/app/connect/account-abstraction/sponsor/page.tsx
  apps/playground-web/src/app/connect/in-app-wallet/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/account-abstraction/5792-get-capabilities.tsx
  apps/playground-web/src/components/account-abstraction/5792-send-calls.tsx
  apps/playground-web/src/components/account-abstraction/7702-smart-account.tsx
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/exports/wallets/eip5792.ts
  packages/thirdweb/src/react/core/hooks/wallets/useCallsStatus.ts
  packages/thirdweb/src/react/core/hooks/wallets/useCapabilities.ts
  packages/thirdweb/src/react/core/hooks/wallets/useSendAndConfirmCalls.ts
  packages/thirdweb/src/react/core/hooks/wallets/useWaitForCallsReceipt.ts
  packages/thirdweb/src/react/core/providers/thirdweb-provider.tsx
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/wallets/eip5792/get-calls-status.test.ts
  packages/thirdweb/src/wallets/eip5792/get-calls-status.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.test.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.ts
  packages/thirdweb/src/wallets/eip5792/send-and-confirm-calls.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.test.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.ts
  packages/thirdweb/src/wallets/eip5792/show-calls-status.test.ts
  packages/thirdweb/src/wallets/eip5792/show-calls-status.ts
  packages/thirdweb/src/wallets/eip5792/types.ts
  packages/thirdweb/src/wallets/eip5792/wait-for-calls-receipt.test.ts
  packages/thirdweb/src/wallets/eip5792/wait-for-calls-receipt.ts
  packages/thirdweb/src/wallets/in-app/core/eip5972/in-app-wallet-calls.ts
  packages/thirdweb/src/wallets/in-app/core/eip5972/in-app-wallet-capabilities.ts
  packages/thirdweb/src/wallets/smart/lib/smart-wallet-capabilities.ts
Labels: playground, packages, sdk

[SDK] Improve EIP-5792 wallet capabilities support (#7003)
  .changeset/forty-seals-raise.md
  apps/playground-web/package.json
  apps/playground-web/src/app/connect/account-abstraction/5792/page.tsx
  apps/playground-web/src/app/connect/account-abstraction/7702/page.tsx
  apps/playground-web/src/app/connect/account-abstraction/sponsor/page.tsx
  apps/playground-web/src/app/connect/in-app-wallet/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/account-abstraction/5792-get-capabilities.tsx
  apps/playground-web/src/components/account-abstraction/5792-send-calls.tsx
  apps/playground-web/src/components/account-abstraction/7702-smart-account.tsx
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/exports/wallets/eip5792.ts
  packages/thirdweb/src/react/core/hooks/wallets/useCallsStatus.ts
  packages/thirdweb/src/react/core/hooks/wallets/useCapabilities.ts
  packages/thirdweb/src/react/core/hooks/wallets/useSendAndConfirmCalls.ts
  packages/thirdweb/src/react/core/hooks/wallets/useWaitForCallsReceipt.ts
  packages/thirdweb/src/react/core/providers/thirdweb-provider.tsx
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/wallets/eip5792/get-calls-status.test.ts
  packages/thirdweb/src/wallets/eip5792/get-calls-status.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.test.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.ts
  packages/thirdweb/src/wallets/eip5792/send-and-confirm-calls.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.test.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.ts
  packages/thirdweb/src/wallets/eip5792/show-calls-status.test.ts
  packages/thirdweb/src/wallets/eip5792/show-calls-status.ts
  packages/thirdweb/src/wallets/eip5792/types.ts
  packages/thirdweb/src/wallets/eip5792/wait-for-calls-receipt.test.ts
  packages/thirdweb/src/wallets/eip5792/wait-for-calls-receipt.ts
  packages/thirdweb/src/wallets/in-app/core/eip5972/in-app-wallet-calls.ts
  packages/thirdweb/src/wallets/in-app/core/eip5972/in-app-wallet-capabilities.ts
  packages/thirdweb/src/wallets/smart/lib/smart-wallet-capabilities.ts
Labels: playground, packages, sdk

Version Packages (#7014)
  .changeset/forty-seals-raise.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Expose inMemoryStorage for inAppWallet backend usage
  .changeset/loud-points-count.md
  packages/thirdweb/src/exports/storage.ts
  packages/thirdweb/src/utils/storage/inMemoryStorage.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-backend.test.ts
Labels: packages, sdk

Nebula: Fix User Image message type (#7018)
  apps/dashboard/src/app/nebula-app/(app)/api/types.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaImage.tsx
Labels: dashboard

[NEB-245] Limit image format types for upload (#7019)
  apps/dashboard/src/@/components/ui/image-upload-button.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
Labels: dashboard

[NEB-247] Show error event in chat UI (#7022)
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
Labels: dashboard

[NEB-246] Nebula: handle aborted session with no messages (#7025)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/hooks/useSessionsWithLocalOverrides.ts
Labels: dashboard

[NEB-238] Show ENS name in selected account badge (#7024)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
Labels: dashboard

[NEB-239] Fix chain search not working properly for chain name starting with number (#7023)
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/ConfigureCustomChain.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/single-network-selector.tsx
Labels: dashboard

[SDK] Expose inMemoryStorage for inAppWallet backend usage (#7016)
  .changeset/loud-points-count.md
  packages/thirdweb/src/exports/storage.ts
  packages/thirdweb/src/utils/storage/inMemoryStorage.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-backend.test.ts
Labels: packages, sdk

[Portal] .NET `ThirdwebBridge` Onramping & `InAppWallet` 7702 Account Abstraction (#7017)
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/universal-bridge/quickstart/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/signauthorization/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/account-abstraction/page.mdx
  apps/portal/src/app/unity/v5/wallets/account-abstraction/page.mdx
Labels: portal

Add contract availability documentation to ERC methods
  packages/thirdweb/src/extensions/erc1155/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc1155/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc1155/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc1155/write/lazyMint.ts
  packages/thirdweb/src/extensions/erc1155/write/mintAdditionalSupplyTo.ts
  packages/thirdweb/src/extensions/erc1155/write/mintAdditionalSupplyToBatch.ts
  packages/thirdweb/src/extensions/erc1155/write/mintTo.ts
  packages/thirdweb/src/extensions/erc1155/write/mintToBatch.ts
  packages/thirdweb/src/extensions/erc1155/write/sigMint.ts
  packages/thirdweb/src/extensions/erc1155/write/updateTokenURI.ts
  packages/thirdweb/src/extensions/erc20/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc20/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc20/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc20/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc20/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc20/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc20/write/mintTo.ts
  packages/thirdweb/src/extensions/erc20/write/sigMint.ts
  packages/thirdweb/src/extensions/erc721/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc721/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc721/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc721/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc721/drops/write/claimToBatch.ts
  packages/thirdweb/src/extensions/erc721/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc721/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/createDelayedRevealBatch.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/reveal.ts
  packages/thirdweb/src/extensions/erc721/write/lazyMint.ts
  packages/thirdweb/src/extensions/erc721/write/mintTo.ts
  packages/thirdweb/src/extensions/erc721/write/sigMint.ts
  packages/thirdweb/src/extensions/erc721/write/updateTokenURI.ts
Labels: packages, sdk

Add contract availability documentation to ERC methods (#7033)
  packages/thirdweb/src/extensions/erc1155/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc1155/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc1155/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc1155/write/lazyMint.ts
  packages/thirdweb/src/extensions/erc1155/write/mintAdditionalSupplyTo.ts
  packages/thirdweb/src/extensions/erc1155/write/mintAdditionalSupplyToBatch.ts
  packages/thirdweb/src/extensions/erc1155/write/mintTo.ts
  packages/thirdweb/src/extensions/erc1155/write/mintToBatch.ts
  packages/thirdweb/src/extensions/erc1155/write/sigMint.ts
  packages/thirdweb/src/extensions/erc1155/write/updateTokenURI.ts
  packages/thirdweb/src/extensions/erc20/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc20/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc20/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc20/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc20/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc20/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc20/write/mintTo.ts
  packages/thirdweb/src/extensions/erc20/write/sigMint.ts
  packages/thirdweb/src/extensions/erc721/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc721/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc721/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc721/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc721/drops/write/claimToBatch.ts
  packages/thirdweb/src/extensions/erc721/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc721/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/createDelayedRevealBatch.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/reveal.ts
  packages/thirdweb/src/extensions/erc721/write/lazyMint.ts
  packages/thirdweb/src/extensions/erc721/write/mintTo.ts
  packages/thirdweb/src/extensions/erc721/write/sigMint.ts
  packages/thirdweb/src/extensions/erc721/write/updateTokenURI.ts
Labels: packages, sdk

Preload wallet balances on pay embed
  .changeset/sour-flies-post.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.tsx
Labels: packages, sdk

[SDK] Preload wallet balances on pay embed (#7034)
  .changeset/sour-flies-post.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.tsx
Labels: packages, sdk

Add Engine v2 to v3 migration guide
  apps/portal/src/app/engine/v3/migrate/page.mdx
  apps/portal/src/app/engine/v3/sidebar.tsx
Labels: portal

[Docs] Add Engine v2 to v3 migration guide (#7036)
  apps/portal/src/app/engine/v3/migrate/page.mdx
  apps/portal/src/app/engine/v3/sidebar.tsx
Labels: portal

[Dashboard]Adding zkCandy + Onyx chain updates (#7035)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/onyxBanner.png
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/onyxCTA.png
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/zkCandyBanner.jpg
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/utils.ts
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
