Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

fix test
  packages/thirdweb/src/pay/convert/fiatToCrypto.test.ts
Labels: packages, sdk

tsdoc
  packages/thirdweb/src/bridge/Onramp.ts
Labels: packages, sdk

fix test
  packages/thirdweb/src/pay/convert/cryptoToFiat.test.ts
Labels: packages, sdk

Add Bridge.Onramp functions + port old functions (#7076)
  .changeset/tidy-seas-sing.md
  apps/portal/src/app/pay/customization/payembed/page.mdx
  apps/portal/src/app/pay/customization/send-transaction/page.mdx
  apps/portal/src/app/pay/testing-pay/page.mdx
  packages/thirdweb/src/bridge/Onramp.test.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/OnrampStatus.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/BridgeAction.ts
  packages/thirdweb/src/bridge/types/Quote.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/bridge/types/Token.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.test.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.test.ts
  packages/thirdweb/src/pay/utils/commonTypes.ts
  packages/thirdweb/src/pay/utils/definitions.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatStatus.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/TransactionsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatTxDetailsTable.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/PostOnRampSwap.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/PostOnRampSwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/FiatDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/SwapDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/TxDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/statusMeta.test.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/statusMeta.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/useBuyTransactionsToShow.ts
Labels: packages, sdk, portal

feat: allow filtering sms country codes
  .changeset/limited-country-dropdown.md
  packages/thirdweb/src/react/web/wallets/in-app/CountrySelector.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.test.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/wallets/ecosystem/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
Labels: packages, sdk

UI polish + auto refresh
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/en.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useBuyTxStates.ts
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: packages, sdk

Add AGENTS.md with guidelines for AI copilots
  AGENTS.md
Labels: none

Add AGENTS.md with guidelines (#7093)
  AGENTS.md
Labels: none

fixing code snippets
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/components/try-it-out.tsx
Labels: dashboard

changing import line for readability
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/components/try-it-out.tsx
Labels: dashboard

adding space on the import
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/components/try-it-out.tsx
Labels: dashboard

Update page.mdx
  apps/portal/src/app/nebula/mcp-server/integrations/mcp-clients/page.mdx
Labels: portal

fixing code snippets (#7094)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/components/try-it-out.tsx
Labels: dashboard

Update page.mdx for thirdweb-mcp (#7096)
  apps/portal/src/app/nebula/mcp-server/integrations/mcp-clients/page.mdx
Labels: portal

changeset
  .changeset/sharp-symbols-unite.md
  apps/portal/src/app/pay/guides/build-a-custom-experience/page.mdx
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
Labels: packages, sdk, portal

[Docs] Fixed broken links (#7091)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/portal/src/app/engine/v2/get-started/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/pay/sidebar.tsx
Labels: dashboard, portal

fix: bridge jsdoc to not mention ox
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.ts
Labels: dashboard, packages, sdk

[Dashboard] Adding EDU Chain custom info + assets (#7095)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/EDUBanner.jpeg
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/EDUCTA.png
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/utils.ts
Labels: dashboard

Fix: Bridge jsdoc to not mention ox (#7097)
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.ts
Labels: dashboard, packages, sdk

[SDK] Fix stray keccak256 reference (#7089)
  packages/thirdweb/src/extensions/ens/resolve-l2-name.ts
Labels: packages, sdk

comments
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
Labels: packages, sdk

add utm
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
Labels: packages, sdk

update dependencies
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/knip.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/engine/package.json
  packages/insight/package.json
  packages/service-utils/package.json
  packages/thirdweb/knip.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

update dependencies (#7098)
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/knip.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/engine/package.json
  packages/insight/package.json
  packages/service-utils/package.json
  packages/thirdweb/knip.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

add playground example
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: playground, packages, sdk

improvements
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/ExecutingScreen.tsx
Labels: playground, packages, sdk

build
  apps/playground-web/src/components/pay/transaction-button.tsx
Labels: playground

replace chain with chain_id in insight playground (#7099)
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/playground-web/src/app/insight/page.tsx
  apps/playground-web/src/app/insight/utils.ts
Labels: playground

show deprecation in playground UI (#7100)
  apps/playground-web/src/app/insight/[blueprint_slug]/page.tsx
  apps/playground-web/src/app/insight/insightBlueprints.ts
  apps/playground-web/src/app/insight/page.tsx
  apps/playground-web/src/app/insight/utils.ts
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/ui/sidebar.tsx
Labels: playground

[SDK] Always show pay modal even on non-supported UB chains (#7092)
  .changeset/sharp-symbols-unite.md
  apps/playground-web/src/components/pay/transaction-button.tsx
  apps/portal/src/app/pay/guides/build-a-custom-experience/page.mdx
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/core/utils/wallet.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/en.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useBuyTxStates.ts
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/ExecutingScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: playground, packages, sdk, portal

[SDK] Fix stray keccak256 reference (#7089)
  packages/thirdweb/src/extensions/ens/resolve-l2-name.ts
Labels: packages, sdk

show block gas limit on the chain page (#7101)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/live-stats.tsx
Labels: dashboard

Update apps/portal/src/app/vault/sdk/installation/page.mdx
  apps/portal/src/app/vault/sdk/installation/page.mdx
Labels: portal

Rename "Secret Key" to "Webhook Secret" for consistency (#7102)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
Labels: dashboard

Version Packages (#7079)
  .changeset/open-readers-do.md
  .changeset/sharp-symbols-unite.md
  .changeset/stale-yaks-bathe.md
  .changeset/tidy-seas-sing.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Fix SIWE auth forcing unnecessary chain switch
  .changeset/ten-parrots-poke.md
  packages/thirdweb/src/react/core/hooks/auth/useSiweAuth.ts
Labels: packages, sdk

Update page.mdx
  apps/portal/src/app/vault/sdk/guides/access-tokens/page.mdx
Labels: portal

[SDK] Fix SIWE auth forcing unnecessary chain switch (#7104)
  .changeset/ten-parrots-poke.md
  packages/thirdweb/src/react/core/hooks/auth/useSiweAuth.ts
Labels: packages, sdk

chore: remove kado references from the docs
  apps/portal/src/app/pay/testing-pay/page.mdx
Labels: portal

fix: apply different theme key
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
Labels: packages, sdk
