Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

portal: OpenApiEndpoint UI tweaks
  apps/portal/src/app/wallets/get-users/page.mdx
  apps/portal/src/components/Document/APIEndpointMeta/ApiEndpoint.tsx
  apps/portal/src/components/Document/APIEndpointMeta/DynamicRequestExample.tsx
  apps/portal/src/components/Document/APIEndpointMeta/OpenApiEndpoint.tsx
  apps/portal/src/components/Document/APIEndpointMeta/RequestExample.tsx
Labels: portal

portal: Update SDK Reference breadcrumbs UI
  apps/portal/src/app/references/components/TDoc/PageLayout.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/Sidebar.tsx
Labels: portal

top padding correction on sidebar
  apps/portal/src/components/Layouts/DocLayout.tsx
Labels: portal

fix formatting
  apps/portal/src/components/Document/APIEndpointMeta/OpenApiEndpoint.tsx
Labels: portal

[SDK] Fix SiteLink hash fragment being stripped on target site
  packages/thirdweb/src/react/web/ui/SiteLink.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
Labels: packages, sdk

portal: Update SDK Reference breadcrumbs UI (#8662)
  apps/portal/src/app/references/components/TDoc/PageLayout.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/Sidebar.tsx
Labels: portal

portal: OpenApiEndpoint card UI tweaks (#8661)
  apps/portal/src/app/wallets/get-users/page.mdx
  apps/portal/src/components/Document/APIEndpointMeta/ApiEndpoint.tsx
  apps/portal/src/components/Document/APIEndpointMeta/DynamicRequestExample.tsx
  apps/portal/src/components/Document/APIEndpointMeta/OpenApiEndpoint.tsx
  apps/portal/src/components/Document/APIEndpointMeta/RequestExample.tsx
Labels: portal

[SDK] Fix SiteLink and SiteEmbed stripping URL hash fragments (#8663)
  packages/thirdweb/src/react/web/ui/SiteLink.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
Labels: packages, sdk

changeset
  .changeset/honest-trains-behave.md
Labels: none

changeset (#8664)
  .changeset/honest-trains-behave.md
Labels: none

Version Packages (#8665)
  .changeset/honest-trains-behave.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

portal: Fix sidebar spacing on top
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/Sidebar.tsx
Labels: portal

moonpay integration with url redirect
  apps/playground-web/src/lib/client.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/utils/commonTypes.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuotesForProviders.ts
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/types.ts
Labels: playground, packages, sdk

[Dashboard] feat: add partner logo upload to ecosystem partner forms
  apps/dashboard/src/@/api/team/ecosystems.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/partner-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/constants.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-add-partner.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-update-partner.ts
Labels: dashboard

[Dashboard] fix: improve partner logo handling with removal support and validation
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/partner-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/constants.ts
Labels: dashboard

[Dashboard] fix: hide drag-and-drop when logo exists, add pencil to change
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/partner-form.client.tsx
Labels: dashboard

Feat/partner logo branding (#8668)
  apps/dashboard/src/@/api/team/ecosystems.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/partner-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/constants.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-add-partner.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-update-partner.ts
Labels: dashboard

portal: Fix sidebar spacing on top (#8666)
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/Sidebar.tsx
Labels: portal

[SDK] Fix Safe wallet WalletConnect connection on Berachain
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, sdk

[SDK] Fix Safe wallet WalletConnect connection on Berachain (#8670)
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, sdk

changeset / fmt
  .changeset/old-donkeys-send.md
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/Sidebar.tsx
Labels: portal

changeset / fmt (#8671)
  .changeset/old-donkeys-send.md
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/Sidebar.tsx
Labels: portal

Version Packages (#8672)
  .changeset/old-donkeys-send.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Add name and picture fields to Profile type for Apple Sign In compliance
  .changeset/apple-profile-name-picture.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkedProfilesScreen.tsx
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
Labels: packages, sdk

[SDK] Add requireApproval option to useConnectModalOptions
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
Labels: packages, sdk

[SDK] Add changeset for requireApproval option in useConnectModal
  .changeset/connect-modal-require-approval.md
Labels: none

Rename page.mdx to page.md
  apps/portal/src/app/x402/server/page.md
Labels: portal

Address PR review feedback: trim whitespace, integrate picture field, add JSDoc, add tests
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkedProfilesScreen.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkedProfilesScreen.tsx
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
Labels: packages, sdk

[SDK] Add screen prop to useWalletDetailsModal for direct navigation to export screen
  .changeset/wallet-details-export-screen.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
Labels: packages, sdk

Sei chain description (#8651)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/utils.ts
Labels: dashboard

[SDK] Update changeset to patch version
  .changeset/wallet-details-export-screen.md
Labels: none

Wallet details export screen (#8698)
  .changeset/wallet-details-export-screen.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
Labels: packages, sdk

[CLI] Deprecate `create`
  .changeset/deprecate-create-command.md
  packages/thirdweb/src/cli/bin.ts
Labels: packages, sdk

[CLI] Deprecate `create` (#8700)
  .changeset/deprecate-create-command.md
  packages/thirdweb/src/cli/bin.ts
Labels: packages, sdk

Version Packages (#8699)
  .changeset/deprecate-create-command.md
  .changeset/wallet-details-export-screen.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

send server wallet txn for native transfer fix (#8701)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet-details.tsx
Labels: dashboard

[SDK] Add hiddenOnrampProviders prop to BuyWidget and BridgeWidget
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuotesForProviders.ts
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/bridge-widget/bridge-widget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.test.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
Labels: packages, sdk

[SDK] Remove temporary test file
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.test.tsx
Labels: packages, sdk

Strip URL scheme from login domain
  .changeset/hot-donkeys-itch.md
  packages/thirdweb/src/auth/core/create-login-message.test.ts
  packages/thirdweb/src/auth/core/create-login-message.ts
  packages/thirdweb/src/auth/core/generate-login-payload.test.ts
  packages/thirdweb/src/auth/core/generate-login-payload.ts
  packages/thirdweb/src/auth/core/verify-login-payload.test.ts
  packages/thirdweb/src/auth/core/verify-login-payload.ts
Labels: packages, sdk

Extract stripUrlScheme and normalize SIWE domain
  .changeset/hot-donkeys-itch.md
  packages/thirdweb/src/auth/core/create-login-message.test.ts
  packages/thirdweb/src/auth/core/create-login-message.ts
  packages/thirdweb/src/auth/core/generate-login-payload.ts
  packages/thirdweb/src/auth/core/strip-url-scheme.test.ts
  packages/thirdweb/src/auth/core/strip-url-scheme.ts
  packages/thirdweb/src/auth/core/verify-login-payload.test.ts
  packages/thirdweb/src/auth/core/verify-login-payload.ts
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
