Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Handle null metadata in ERC721 and ERC1155 getNFT functions
  packages/thirdweb/src/extensions/erc1155/read/getNFT.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
Labels: packages, sdk

Handle null metadata in ERC721 and ERC1155 getNFT functions (#8312)
  packages/thirdweb/src/extensions/erc1155/read/getNFT.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
Labels: packages, sdk

[X402] Fix network comparison in decodePaymentRequest
  .changeset/plain-maps-draw.md
  packages/thirdweb/src/x402/common.ts
Labels: packages, sdk

[X402] Fix network comparison in decodePaymentRequest (#8313)
  .changeset/plain-maps-draw.md
  packages/thirdweb/src/x402/common.ts
Labels: packages, sdk

Version Packages (#8303)
  .changeset/fine-bobcats-rhyme.md
  .changeset/good-regions-dig.md
  .changeset/plain-maps-draw.md
  .changeset/weak-guests-fry.md
  .changeset/wise-actors-attack.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[X402] Enhance compatibility with third party x402 libs
  .changeset/all-dolls-rest.md
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
Labels: packages, sdk

[SDK] Enhance compatibility with third party x402 libs (#8314)
  .changeset/all-dolls-rest.md
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
Labels: packages, sdk

Version Packages (#8315)
  .changeset/all-dolls-rest.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Update x402 default payment validity window
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/sign.ts
Labels: packages, sdk

Create good-ducks-eat.md
  .changeset/good-ducks-eat.md
Labels: none

Dashboard: /pay/<id> page UI improvements, SDK: CheckoutWidget minor UI tweaks (#8310)
  .changeset/curly-crews-sleep.md
  apps/dashboard/public/assets/pay/general-pay.png
  apps/dashboard/src/@/utils/sdk-component-theme.ts
  apps/dashboard/src/app/pay/[id]/header.tsx
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
  packages/thirdweb/src/react/web/ui/Bridge/DirectPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/WithHeader.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/formatTokenBalance.ts
Labels: dashboard, packages, sdk

Update x402 default payment validity window (#8317)
  .changeset/good-ducks-eat.md
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/sign.ts
Labels: packages, sdk

[thirdweb] Update x402 dependency and export additional types
  .changeset/tricky-coats-kick.md
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/x402.ts
  pnpm-lock.yaml
Labels: packages, sdk

[SDK] Update x402 dependency and export additional types (#8319)
  .changeset/tricky-coats-kick.md
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/x402.ts
  pnpm-lock.yaml
Labels: packages, sdk

Version Packages (#8318)
  .changeset/curly-crews-sleep.md
  .changeset/good-ducks-eat.md
  .changeset/tricky-coats-kick.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

add arc testnet to chains package
  .changeset/hip-spoons-go.md
  packages/thirdweb/src/chains/chain-definitions/arc-testnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

SDK: Fix Safe wallet connection issues with WalletConnect (#8327)
  .changeset/early-spoons-say.md
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, sdk

Dashboard: Update faucet amount for arc testnet (#8326)
  apps/dashboard/src/@/utils/faucet.ts
Labels: dashboard

Dashboard: Use monotone curve type for AreaChart to avoid clipping (#8329)
  apps/dashboard/src/@/components/analytics/empty-chart-state.tsx
  apps/dashboard/src/@/components/blocks/charts/area-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/metrics/components/ErrorRate.tsx
Labels: dashboard

[Paywall] Support string price format when tokenAddress is not provided
  apps/playground-web/src/app/api/paywall/route.ts
Labels: playground

add arc testnet to chains package (#8325)
  .changeset/hip-spoons-go.md
  packages/thirdweb/src/chains/chain-definitions/arc-testnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

[Paywall] Support string price format when tokenAddress is not provided (#8330)
  apps/playground-web/src/app/api/paywall/route.ts
Labels: playground

[X402] Simplify FacilitatorNetworkSchema to accept any string
  .changeset/five-plums-kiss.md
  packages/thirdweb/src/x402/schemas.ts
Labels: packages, sdk

[X402] Simplify FacilitatorNetworkSchema to accept any string (#8331)
  .changeset/five-plums-kiss.md
  packages/thirdweb/src/x402/schemas.ts
Labels: packages, sdk

Version Packages (#8328)
  .changeset/early-spoons-say.md
  .changeset/five-plums-kiss.md
  .changeset/hip-spoons-go.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

setup @thirdweb-dev/nexus package
  packages/nexus/biome.json
  packages/nexus/knip.json
  packages/nexus/package.json
  packages/nexus/scripts/version.mjs
  packages/nexus/src/exports/nexus.ts
  packages/nexus/src/version.ts
  packages/nexus/tsconfig.base.json
  packages/nexus/tsconfig.build.json
  packages/nexus/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: packages

initial port of `thirdweb/x402` into `@thirdweb-dev/nexus`
  .changeset/witty-spies-know.md
  packages/nexus/package.json
  packages/nexus/scripts/version.mjs
  packages/nexus/src/common.ts
  packages/nexus/src/encode.ts
  packages/nexus/src/exports/nexus.ts
  packages/nexus/src/facilitator.ts
  packages/nexus/src/fetchWithPayment.ts
  packages/nexus/src/schemas.ts
  packages/nexus/src/settle-payment.ts
  packages/nexus/src/sign.ts
  packages/nexus/src/types.ts
  packages/nexus/src/verify-payment.ts
  packages/nexus/src/version.ts
  packages/thirdweb/src/exports/contract.ts
  packages/thirdweb/src/exports/extensions/erc20.ts
  pnpm-lock.yaml
Labels: packages, sdk

Update implementations (#8334)
  .changeset/hot-pets-tie.md
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: packages, sdk

update to use nexus keys instead
  packages/nexus/package.json
  packages/nexus/src/common.ts
  packages/nexus/src/exports/nexus.ts
  packages/nexus/src/facilitator.ts
  packages/nexus/src/fetchWithPayment.ts
  packages/nexus/src/schemas.ts
  packages/nexus/src/settle-payment.ts
  packages/nexus/src/sign.ts
  packages/nexus/src/types.ts
  packages/nexus/src/utils.ts
  packages/nexus/src/verify-payment.ts
  pnpm-lock.yaml
Labels: packages

setup @thirdweb-dev/nexus package
  .changeset/neat-squids-go.md
  .changeset/witty-spies-know.md
  .github/workflows/CI.yml
  packages/nexus/.size-limit.json
  packages/nexus/biome.json
  packages/nexus/knip.json
  packages/nexus/package.json
  packages/nexus/src/common.ts
  packages/nexus/src/encode.ts
  packages/nexus/src/exports/nexus.ts
  packages/nexus/src/facilitator.ts
  packages/nexus/src/schemas.ts
  packages/nexus/src/settle-payment.ts
  packages/nexus/src/types.ts
  packages/nexus/src/utils.ts
  packages/nexus/src/verify-payment.ts
  packages/nexus/tsconfig.base.json
  packages/nexus/tsconfig.build.json
  packages/nexus/tsconfig.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/src/exports/contract.ts
  packages/thirdweb/src/exports/extensions/erc20.ts
  pnpm-lock.yaml
  turbo.json
Labels: packages, sdk

setup @thirdweb-dev/nexus package (#8332)
  .changeset/neat-squids-go.md
  .changeset/witty-spies-know.md
  .github/workflows/CI.yml
  packages/nexus/.size-limit.json
  packages/nexus/biome.json
  packages/nexus/knip.json
  packages/nexus/package.json
  packages/nexus/src/common.ts
  packages/nexus/src/encode.ts
  packages/nexus/src/exports/nexus.ts
  packages/nexus/src/facilitator.ts
  packages/nexus/src/schemas.ts
  packages/nexus/src/settle-payment.ts
  packages/nexus/src/types.ts
  packages/nexus/src/utils.ts
  packages/nexus/src/verify-payment.ts
  packages/nexus/tsconfig.base.json
  packages/nexus/tsconfig.build.json
  packages/nexus/tsconfig.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/src/exports/contract.ts
  packages/thirdweb/src/exports/extensions/erc20.ts
  pnpm-lock.yaml
  turbo.json
Labels: packages, sdk

[SDK] Fix: move `@storybook/react` package to be a dev dependency (#8306)
  .changeset/rich-cities-sniff.md
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

Add Solana wallet balance endpoint and UI integration
  .changeset/quiet-streets-lie.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/getSolanaBalance.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
  packages/api/src/client/sdk.gen.ts
  packages/api/src/client/types.gen.ts
Labels: dashboard, packages

Version Packages (#8336)
  .changeset/hot-pets-tie.md
  .changeset/neat-squids-go.md
  .changeset/rich-cities-sniff.md
  .changeset/witty-spies-know.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/nexus/CHANGELOG.md
  packages/nexus/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Add chainId parameter to fetchSolanaBalance
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/getSolanaBalance.ts
Labels: dashboard

Add Solana network selection to wallets table
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/create-solana-wallet.client.tsx
Labels: dashboard

Add Solana wallet balance endpoint and UI integration (#8338)
  .changeset/quiet-streets-lie.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/getSolanaBalance.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/create-solana-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
  packages/api/src/client/sdk.gen.ts
  packages/api/src/client/types.gen.ts
Labels: dashboard, packages

Version Packages (#8339)
  .changeset/quiet-streets-lie.md
  packages/api/CHANGELOG.md
  packages/api/package.json
Labels: packages

[MNY-298] SDK: Remove Bridge.routes, Update Docs (#8335)
  .changeset/rotten-apes-sing.md
  apps/portal/src/app/bridge/routes/page.mdx
  apps/portal/src/app/bridge/sell/page.mdx
  apps/portal/src/app/bridge/sidebar.tsx
  apps/portal/src/app/bridge/swap/page.mdx
  apps/portal/src/app/bridge/tokens/page.mdx
  apps/portal/src/app/payments/send/page.mdx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/webhooks/page.mdx
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/core/hooks/useBridgeRoutes.test.ts
  packages/thirdweb/src/react/core/hooks/useBridgeRoutes.ts
Labels: packages, sdk, portal

Add successUrl support to payment page (#8341)
  apps/dashboard/src/app/pay/page.tsx
  packages/nexus-fetch/.size-limit.json
  packages/nexus-fetch/biome.json
  packages/nexus-fetch/knip.json
  packages/nexus-fetch/package.json
  packages/nexus-fetch/src/exports/nexus-fetch.ts
  packages/nexus-fetch/src/fetch.ts
  packages/nexus-fetch/testing/test.html
  packages/nexus-fetch/tsconfig.base.json
  packages/nexus-fetch/tsconfig.build.json
  packages/nexus-fetch/tsconfig.json
  pnpm-lock.yaml
Labels: dashboard, packages
