Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Update page.mdx
  apps/portal/src/app/contracts/deploy/deploy-contract/page.mdx
Labels: portal

[Docs] Improve Unity Build Instructions (#6287)
  apps/portal/src/app/connect/blockchain-api/page.mdx
  apps/portal/src/app/unity/v5/build-instructions/page.mdx
Labels: portal

fix: update storage timeout
  packages/thirdweb/src/storage/upload/mobile.ts
  packages/thirdweb/src/storage/upload/web-node.ts
Labels: packages, sdk

changeset
  .changeset/twelve-walls-teach.md
Labels: none

[TOOL-3470] Playground: Fix eslint image warnings (#6297)
  apps/playground-web/src/components/engine/airdrop/TransactionResults.tsx
  apps/playground-web/src/components/engine/minting/TransactionResults.tsx
  apps/playground-web/src/components/engine/minting/erc1155-mint-to.tsx
Labels: playground

[TOOL-3419] Nebula: Add hardcoded reply for Nebula Capabilities (#6298)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/data/examplePrompts.ts
  apps/dashboard/src/components/contract-components/published-contract/markdown-renderer.tsx
  apps/portal/src/components/others/Sidebar.tsx
Labels: dashboard, portal

Update page.mdx
  apps/portal/src/app/contracts/modular-contracts/overview/page.mdx
Labels: portal

Update page.mdx (#6302)
  apps/portal/src/app/contracts/modular-contracts/overview/page.mdx
Labels: portal

[TOOL-3485] Dashboard: Improve USD currency formatting (#6304)
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalVolumePieChart.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/storyUtils.ts
  apps/dashboard/src/lib/format-utils.ts
  apps/dashboard/src/utils/number.ts
Labels: dashboard

[TOOL-3483] Dashboard: Fix Nebula subdomain rewrite for Vercel preview links (#6303)
  apps/dashboard/src/middleware.ts
Labels: dashboard

[TOOL-3488] Dashboard: Add disclaimer for starter plan about verification hold on pricing card (#6308)
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
Labels: dashboard

[TOOL-3473] Add Team Member invites (#6301)
  apps/dashboard/src/@/actions/acceptInvite.ts
  apps/dashboard/src/@/actions/sendTeamInvite.ts
  apps/dashboard/src/@/api/team-invites.ts
  apps/dashboard/src/@/api/team-members.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/@/components/ui/background-patterns.tsx
  apps/dashboard/src/app/join/team/[team_slug]/[invite_id]/JoinTeamPage.stories.tsx
  apps/dashboard/src/app/join/team/[team_slug]/[invite_id]/JoinTeamPage.tsx
  apps/dashboard/src/app/join/team/[team_slug]/[invite_id]/page.tsx
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/onboarding/on-boarding-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/GeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/ManageInvitesSection.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/ManageInvitesSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/_common.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/page.tsx
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
Labels: dashboard

[TOOL-3493] Dashboard: Fix search in team members page, minor ui tweaks (#6309)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/_components/sidebar/TeamSettingsSidebar.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/ManageInvitesSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/ManageMembersSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/_common.tsx
Labels: dashboard

add Turnstile captcha to login flow (#6310)
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/auth-actions.ts
Labels: dashboard

enable team invites for starter and growth plans (#6312)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
Labels: dashboard

only validate Turnstile captcha on Vercel environments (#6314)
  apps/dashboard/src/app/login/auth-actions.ts
  apps/dashboard/src/lib/vercel-utils.ts
Labels: dashboard

[TOOL-3497] Dashboard: Add Linked Wallets page in account layout, minor UI tweaks in account layout (#6313)
  apps/dashboard/src/@/api/linked-wallets.ts
  apps/dashboard/src/app/account/devices/AccountDevicesPage.tsx
  apps/dashboard/src/app/account/devices/page.tsx
  apps/dashboard/src/app/account/layout.tsx
  apps/dashboard/src/app/account/overview/AccountTeamsUI.tsx
  apps/dashboard/src/app/account/page.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPage.tsx
  apps/dashboard/src/app/account/wallets/LinkWalletUI.tsx
  apps/dashboard/src/app/account/wallets/LinkWalletsUI.stories.tsx
  apps/dashboard/src/app/account/wallets/page.tsx
Labels: dashboard

improve Turnstile captcha error messages (#6315)
  apps/dashboard/src/app/login/auth-actions.ts
Labels: dashboard

[TOOL-3496] Dashboard: Ecosystem pages UI improvements (#6311)
  apps/dashboard/src/@/components/blocks/skeletons/GenericLoadingPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/EcosystemCreatePage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/components/client/create-ecosystem-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/components/pricing-card.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/page.tsx
  apps/dashboard/src/data/analytics/fetch-api-server.ts
  apps/dashboard/src/utils/error.ts
Labels: dashboard

add siwe option for headless use connect for react
  apps/playground-web/src/app/connect/sign-in/headless/page.tsx
  apps/playground-web/src/components/sign-in/modal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
Labels: playground, packages, sdk

feat: routes page
  apps/dashboard/.env.example
  apps/dashboard/src/@/components/ui/CopyTextButton.tsx
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/pagination.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/search.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/type.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/view.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/add-token-button.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/opengraph-image.png
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/types/route.ts
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
  apps/dashboard/tests/chain-page.spec.ts
  apps/dashboard/tests/contract-page.spec.ts
  apps/dashboard/tests/homepage.spec.ts
  apps/dashboard/tests/publisher-page.spec.ts
  apps/dashboard/tests/setup.ts
Labels: dashboard

fix: token backgrounds
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
Labels: dashboard

fix: build error
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
Labels: dashboard

fix: use const native address
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
Labels: dashboard

fix build
  apps/dashboard/src/app/(dashboard)/(bridge)/types/route.ts
Labels: dashboard

undo copy text button change
  apps/dashboard/src/@/components/ui/CopyTextButton.tsx
Labels: dashboard

fix: lint
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
Labels: dashboard

fix: lint
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
Labels: dashboard

fix: lint
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/add-token-button.tsx
Labels: dashboard

nebula minor docs changes
  apps/portal/src/app/insight/page.mdx
  apps/portal/src/app/nebula/faqs/page.mdx
  apps/portal/src/app/nebula/page.mdx
Labels: portal

removed extra blank lines
  apps/portal/src/app/nebula/faqs/page.mdx
Labels: portal

Update rpc.ts
  packages/thirdweb/src/rpc/rpc.ts
Labels: packages, sdk

Update iframe-wallet.ts
  packages/thirdweb/src/wallets/in-app/web/lib/iframe-wallet.ts
Labels: packages, sdk

Update ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
Labels: packages, sdk

[TOOL-3476] Dashboard: Add Transfer Project in Project settings page (#6316)
  apps/dashboard/src/@/api/team-members.ts
  apps/dashboard/src/@/components/blocks/DangerSettingCard.tsx
  apps/dashboard/src/app/account/overview/AccountTeamsUI.tsx
  apps/dashboard/src/app/account/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/page.tsx
Labels: dashboard

added insight playground
  apps/portal/src/app/insight/sidebar.tsx
Labels: portal

add changeset
  .changeset/tasty-pumpkins-relax.md
Labels: none

Update page.mdx
  apps/portal/src/app/contracts/build/extensions/general/PlatformFee/page.mdx
Labels: portal

[Portal] Minor docs updates for Nebula (#6320)
  apps/portal/src/app/insight/page.mdx
  apps/portal/src/app/insight/sidebar.tsx
  apps/portal/src/app/nebula/faqs/page.mdx
  apps/portal/src/app/nebula/page.mdx
Labels: portal

fix build
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
