Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

recreate get started
  apps/portal/src/app/engine/get-started/page.mdx
Labels: portal

[SDK] Feature: Add maxSteps to bridge quote functions (#6953)
  .changeset/forty-states-shake.md
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Sell.ts
Labels: packages, sdk

fixed broken pages
  apps/portal/src/app/engine-v3/faq/page.mdx
  apps/portal/src/app/engine-v3/get-started/page.mdx
  apps/portal/src/app/engine-v3/sidebar.tsx
  apps/portal/src/app/engine-v3/troubleshoot/page.mdx
Labels: portal

feat: adds sortBy to Bridge.routes
  .changeset/ninety-snails-smash.md
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
Labels: packages, sdk

[SDK] Feature: Adds sortBy to Bridge.routes (#6955)
  .changeset/ninety-snails-smash.md
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
Labels: packages, sdk

feat: adds Bridge.chains function
  .changeset/free-lemons-find.md
  packages/thirdweb/src/bridge/Chains.test.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/Chain.ts
Labels: packages, sdk

Feature: Checkout page (#6954)
  apps/dashboard/redirects.js
  apps/dashboard/src/app/checkout/components/client/CheckoutEmbed.client.tsx
  apps/dashboard/src/app/checkout/components/client/Providers.client.tsx
  apps/dashboard/src/app/checkout/layout.tsx
  apps/dashboard/src/app/checkout/page.tsx
  apps/dashboard/src/constants/urls.ts
Labels: dashboard

Feature: Adds chains function (#6956)
  .changeset/free-lemons-find.md
  packages/thirdweb/src/bridge/Chains.test.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/Chain.ts
Labels: packages, sdk

fix: hide common extension name
  apps/portal/src/app/references/components/TDoc/Function.tsx
Labels: portal

fix: hide common extension name (#6957)
  apps/portal/src/app/references/components/TDoc/Function.tsx
Labels: portal

Version Packages (#6949)
  .changeset/forty-states-shake.md
  .changeset/free-lemons-find.md
  .changeset/icy-points-wish.md
  .changeset/ninety-snails-smash.md
  .changeset/odd-rooms-sleep.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

update code snippet
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/components/try-it-out.tsx
Labels: dashboard

[Checkout] Add theme support and improve client configuration
  apps/dashboard/src/app/checkout/components/client/CheckoutEmbed.client.tsx
  apps/dashboard/src/app/checkout/components/client/ThemeHandler.client.tsx
  apps/dashboard/src/app/checkout/components/types.ts
  apps/dashboard/src/app/checkout/layout.tsx
  apps/dashboard/src/app/checkout/page.tsx
Labels: dashboard

[Checkout] Add theme support and improve client configuration (#6958)
  apps/dashboard/src/app/checkout/components/client/CheckoutEmbed.client.tsx
  apps/dashboard/src/app/checkout/components/client/ThemeHandler.client.tsx
  apps/dashboard/src/app/checkout/components/types.ts
  apps/dashboard/src/app/checkout/layout.tsx
  apps/dashboard/src/app/checkout/page.tsx
Labels: dashboard

[Checkout] Enhance redirect handling for different payment types
  apps/dashboard/src/app/checkout/components/client/CheckoutEmbed.client.tsx
Labels: dashboard

separate admin key / access token flow in FTUX
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/vault/components/list-access-tokens.client.tsx
  packages/thirdweb/src/engine/server-wallet.test.ts
Labels: dashboard, packages, sdk

chore: support engine core and webhook usage events
  packages/service-utils/src/core/usageV2.ts
Labels: packages

changeset
  .changeset/whole-women-divide.md
Labels: none

fixed icon lint errors
  apps/portal/src/app/connect/pay/overview/page.mdx
  apps/portal/src/app/engine-v3/page.mdx
  apps/portal/src/app/engine-v3/sidebar.tsx
  apps/portal/src/app/engine/page.mdx
  apps/portal/src/app/engine/sidebar.tsx
  apps/portal/src/app/vault/sidebar.tsx
Labels: portal

Update apps/portal/src/app/vault/page.mdx
  apps/portal/src/app/vault/page.mdx
Labels: portal

lucide-icon change
  apps/portal/src/app/nebula/page.mdx
Labels: portal

lint errors
  apps/portal/src/app/contracts/page.mdx
  apps/portal/src/app/insight/page.mdx
  apps/portal/src/app/vault/page.mdx
Labels: portal

updated creation flow
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-token/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/import/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/page.tsx
Labels: dashboard

fix: checkout error boundary
  apps/dashboard/src/app/checkout/error.tsx
  apps/dashboard/src/app/checkout/layout.tsx
  apps/dashboard/src/app/checkout/page.tsx
Labels: dashboard

setup network selector
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-nft/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-token/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/import/page.tsx
Labels: dashboard

[SDK] Fix MetaMask deeplink parsing
  .changeset/angry-hats-start.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/DeepLinkConnectUI.tsx
Labels: packages, sdk

Fix: Adds checkout error boundary (#6962)
  apps/dashboard/src/app/checkout/components/client/CheckoutEmbed.client.tsx
  apps/dashboard/src/app/checkout/components/client/ThemeHandler.client.tsx
  apps/dashboard/src/app/checkout/error.tsx
  apps/dashboard/src/app/checkout/layout.tsx
  apps/dashboard/src/app/checkout/page.tsx
Labels: dashboard

Auto-populate recipient addresses with connected wallet in token creation
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-token/page.tsx
Labels: dashboard

update creation pages
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create-nft/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/import/page.tsx
Labels: dashboard

chore: Support Engine Core and Webhook usage events (#6960)
  .changeset/whole-women-divide.md
  packages/service-utils/src/core/usageV2.ts
Labels: packages

Nebula: Context selection updates (#6961)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
Labels: dashboard

[SDK] Fix MetaMask deeplink parsing (#6963)
  .changeset/angry-hats-start.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/DeepLinkConnectUI.tsx
Labels: packages, sdk

[NEB-237] Fix Nebula OG Image (#6965)
  apps/dashboard/src/middleware.ts
Labels: dashboard

Version Packages (#6966)
  .changeset/angry-hats-start.md
  .changeset/whole-women-divide.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[PayEmbed] Always connect to destination chain if available
  .changeset/violet-areas-jump.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, sdk

[Checkout] Enhance redirect handling for different payment types (#6959)
  apps/dashboard/src/app/checkout/components/client/CheckoutEmbed.client.tsx
Labels: dashboard

[PayEmbed] Always connect to destination chain if available (#6967)
  .changeset/violet-areas-jump.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, sdk

[SDK] Handle Hedera native currency decimals for smart wallet calls
  .changeset/chubby-aliens-film.md
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
Labels: packages, sdk

[SDK] Handle Hedera native currency decimals for smart wallet calls (#6969)
  .changeset/chubby-aliens-film.md
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
Labels: packages, sdk

Version Packages (#6968)
  .changeset/chubby-aliens-film.md
  .changeset/violet-areas-jump.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
