Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Version Packages (#7149)
  .changeset/webhook-verification.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Improve quote error handling (#7147)
  .changeset/tall-walls-juggle.md
  packages/thirdweb/src/bridge/types/Errors.ts
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

[Portal] Redesign header with improved mobile menu layout
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/others/DocSearch.tsx
Labels: portal

[Dashboard] migrate solidity inputs to shadcn (#7148)
  apps/dashboard/src/contract-ui/components/solidity-inputs/bool-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/bytes-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/int-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/string-input.tsx
Labels: dashboard

[SDK] Fix: Webhook Schema (#7151)
  .changeset/purple-wasps-sort.md
  packages/thirdweb/src/bridge/Webhook.test.ts
  packages/thirdweb/src/bridge/Webhook.ts
Labels: packages, sdk

Version Packages (#7150)
  .changeset/purple-wasps-sort.md
  .changeset/tall-walls-juggle.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Portal] Redesign header with improved mobile menu layout (#7138)
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/others/DocSearch.tsx
Labels: portal

[Portal] Add AI chat functionality with markdown support
  apps/dashboard/package.json
  apps/portal/package.json
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/chat/page.tsx
  apps/portal/src/app/globals.css
  apps/portal/src/app/references/components/TDoc/PageLayout.tsx
  apps/portal/src/app/references/components/TDoc/Summary.tsx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/references/typescript/[version]/[[...slug]]/page.tsx
  apps/portal/src/components/AI/api.ts
  apps/portal/src/components/AI/chat.tsx
  apps/portal/src/components/Document/Code.tsx
  apps/portal/src/components/code/CodeBlockContainer.tsx
  apps/portal/src/components/code/RenderCode.tsx
  apps/portal/src/components/code/code.client.tsx
  apps/portal/src/components/code/getCodeHtml.tsx
  apps/portal/src/components/code/plaintext-code.tsx
  apps/portal/src/components/markdown/MarkdownRenderer.tsx
  apps/portal/src/components/others/DocSearch.tsx
  apps/portal/src/components/ui/CopyButton.tsx
  apps/portal/src/components/ui/LoadingDots.tsx
  apps/portal/src/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/portal/src/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/portal/src/components/ui/inline-code.tsx
  apps/portal/src/components/ui/table.tsx
  apps/portal/src/components/ui/textarea.tsx
  apps/portal/src/components/ui/tooltip.tsx
  apps/portal/src/hooks/useClipboard.ts
  apps/portal/src/lib/useIsomorphicLayoutEffect.ts
  pnpm-lock.yaml
Labels: dashboard, portal

[Portal] Add AI chat functionality with markdown support (#7139)
  apps/dashboard/package.json
  apps/portal/package.json
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/chat/page.tsx
  apps/portal/src/app/globals.css
  apps/portal/src/app/references/components/TDoc/PageLayout.tsx
  apps/portal/src/app/references/components/TDoc/Summary.tsx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/references/typescript/[version]/[[...slug]]/page.tsx
  apps/portal/src/components/AI/api.ts
  apps/portal/src/components/AI/chat.tsx
  apps/portal/src/components/Document/Code.tsx
  apps/portal/src/components/code/CodeBlockContainer.tsx
  apps/portal/src/components/code/RenderCode.tsx
  apps/portal/src/components/code/code.client.tsx
  apps/portal/src/components/code/getCodeHtml.tsx
  apps/portal/src/components/code/plaintext-code.tsx
  apps/portal/src/components/markdown/MarkdownRenderer.tsx
  apps/portal/src/components/others/DocSearch.tsx
  apps/portal/src/components/ui/CopyButton.tsx
  apps/portal/src/components/ui/LoadingDots.tsx
  apps/portal/src/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/portal/src/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/portal/src/components/ui/inline-code.tsx
  apps/portal/src/components/ui/table.tsx
  apps/portal/src/components/ui/textarea.tsx
  apps/portal/src/components/ui/tooltip.tsx
  apps/portal/src/hooks/useClipboard.ts
  apps/portal/src/lib/useIsomorphicLayoutEffect.ts
  pnpm-lock.yaml
Labels: dashboard, portal

fix portal build
  apps/portal/public/llms-full.txt
  apps/portal/public/llms.txt
  apps/portal/src/app/references/components/TDoc/Summary.tsx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/references/components/TDoc/utils/uniqueSlugger.ts
  apps/portal/src/app/references/typescript/[version]/[[...slug]]/page.tsx
Labels: portal

[Portal] fix portal build (#7154)
  apps/portal/public/llms-full.txt
  apps/portal/public/llms.txt
  apps/portal/src/app/references/components/TDoc/Summary.tsx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/references/components/TDoc/utils/uniqueSlugger.ts
  apps/portal/src/app/references/typescript/[version]/[[...slug]]/page.tsx
Labels: portal

[Dashboard] replace Chakra Box with shadcn
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimPriceInput.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimerSelection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account-permissions/components/account-signer.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/account-balance.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/accounts-count.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/events/events-feed.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/ContractPermissionsPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/ContractProposalsPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/metadata.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/primary-sale.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/royalties.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/ContractSplitPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/contract-subscriptions/components/contract-subscriptions-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/metrics/components/EngineSystemMetrics.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/custom-factory.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/index.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/landing-fieldset.tsx
  apps/dashboard/src/components/contract-components/published-contract/index.tsx
  apps/dashboard/src/components/contract-functions/contract-function.tsx
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
  apps/dashboard/src/tw-components/card.tsx
Labels: dashboard

Update list-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimPriceInput.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/deposit-native.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/webhooks/components/webhooks-table.tsx
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
  apps/dashboard/src/core-ui/batch-upload/lazy-mint-form/select-option.tsx
  apps/dashboard/src/tw-components/card.tsx
Labels: dashboard

feat: add aggregate parameter input with presets (#7146)
  apps/playground-web/src/app/insight/[blueprint_slug]/aggregate-parameter-input.client.tsx
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: playground

nebula: initial ui for agents/tasks
  apps/dashboard/src/app/nebula-app/(app)/agents/create/create-agent-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/agents/create/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/agents/nebula-agents-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/agents/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/settings/nebula-settings-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/settings/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/tasks/nebula-tasks-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/tasks/page.tsx
Labels: dashboard

fix: ensure that the default spinner stroke color gets inherited from the parent node
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/components/Spinner.tsx
Labels: packages, sdk

chore: restore variant switching
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
Labels: packages, sdk

[Insight] Make clientId optional and improve error handling
  .changeset/breezy-dodos-hunt.md
  .changeset/five-sheep-crash.md
  .changeset/green-olives-unite.md
  packages/engine/src/configure.ts
  packages/insight/src/configure.ts
  packages/thirdweb/src/extensions/erc721/drops/write/updateMetadata.test.ts
  packages/thirdweb/src/extensions/erc721/drops/write/updateMetadata.ts
  packages/thirdweb/src/wallets/in-app/core/actions/get-enclave-user-status.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/guest.ts
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.test.ts
Labels: packages, sdk

[Insight] Make clientId optional and improve error handling (#7158)
  .changeset/breezy-dodos-hunt.md
  .changeset/five-sheep-crash.md
  .changeset/green-olives-unite.md
  packages/engine/src/configure.ts
  packages/insight/src/configure.ts
  packages/thirdweb/src/extensions/erc721/drops/write/updateMetadata.test.ts
  packages/thirdweb/src/extensions/erc721/drops/write/updateMetadata.ts
  packages/thirdweb/src/wallets/in-app/core/actions/get-enclave-user-status.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/guest.ts
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.test.ts
Labels: packages, sdk

Implement Universal Bridge components and layout for enhanced user experience
  apps/dashboard/src/app/bridge/components/client/Providers.client.tsx
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/bridge/constants.ts
  apps/dashboard/src/app/bridge/layout.tsx
  apps/dashboard/src/app/bridge/page.tsx
Labels: dashboard

Enhance error handling in confirmation screens for insufficient funds
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: packages, sdk

[Dashboard] Refactor: Bridge UI Cleanup and Fixes (#7165)
  apps/dashboard/src/app/bridge/components/client/Providers.client.tsx
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/bridge/constants.ts
  apps/dashboard/src/app/bridge/layout.tsx
  apps/dashboard/src/app/bridge/page.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: dashboard, packages, sdk

[Wallet] Move 7702 batch transaction test to integration tests
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-integration.test.ts
Labels: packages, sdk

[Wallet] Move 7702 batch transaction test to integration tests (#7166)
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-integration.test.ts
Labels: packages, sdk

chore: apply changeset
  .changeset/fast-onions-obey.md
Labels: none

[Bridge] Add Onramp extension to sidebar and typedoc
  apps/portal/src/app/typescript/v5/sidebar.tsx
  packages/thirdweb/scripts/typedoc.mjs
Labels: packages, sdk, portal

[Docs] Add Onramp extension to sidebar and typedoc (#7167)
  apps/portal/src/app/typescript/v5/sidebar.tsx
  packages/thirdweb/scripts/typedoc.mjs
Labels: packages, sdk, portal

refactor: improve aggregate parameter input with MultiSelect
  apps/playground-web/src/app/insight/[blueprint_slug]/aggregate-parameter-input.client.tsx
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: playground

feat: enhance aggregate parameter input with multi-select presets
  apps/playground-web/src/app/insight/[blueprint_slug]/aggregate-parameter-input.client.tsx
Labels: playground

fix: trim badge values
  apps/playground-web/src/app/insight/[blueprint_slug]/aggregate-parameter-input.client.tsx
Labels: playground

feat: enhance aggregate parameter input with multi-select presets
  apps/playground-web/src/app/insight/[blueprint_slug]/aggregate-parameter-input.client.tsx
Labels: playground

refactor: improve aggregate parameter input with MultiSelect
  apps/playground-web/src/app/insight/[blueprint_slug]/aggregate-parameter-input.client.tsx
Labels: playground

fix: trim badge values
  apps/playground-web/src/app/insight/[blueprint_slug]/aggregate-parameter-input.client.tsx
Labels: playground

new tokens route (#7170)
  apps/playground-web/src/app/insight/insightBlueprints.ts
Labels: playground

feat: adds token and amount query params to bridge page
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/bridge/page.tsx
Labels: dashboard

fix: webhook table alignment
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/connect/universal-bridge/webhooks/components/webhooks.client.tsx
Labels: dashboard

[Dashboard] consolidate solution page rewrites with dynamic slug
  apps/dashboard/framer-rewrites.js
Labels: dashboard

Update apps/dashboard/src/app/bridge/page.tsx
  apps/dashboard/src/app/bridge/page.tsx
Labels: dashboard

[Dashboard] consolidate solution page rewrites with dynamic slug (#7175)
  apps/dashboard/framer-rewrites.js
Labels: dashboard

refactor: enhance type safety for token metadata in BridgePage
  apps/dashboard/src/app/bridge/page.tsx
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
