Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

fix var name
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/ContractSettingsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/page.tsx
Labels: dashboard

fix build
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/ContractSettingsPage.client.tsx
Labels: dashboard

AWS KMS Wallet POC
  packages/aws-kms-wallet/README.md
  packages/aws-kms-wallet/package.json
  packages/aws-kms-wallet/src/index.ts
  packages/aws-kms-wallet/src/utils/chain.ts
  packages/aws-kms-wallet/tsconfig.build.json
Labels: packages

blogpost link
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
Labels: dashboard

[Dashboard] Deploy config updates (#6159)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/ContractSettingsPage.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/ContractSettingsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/page.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  apps/dashboard/src/components/contract-functions/contract-function.tsx
  apps/dashboard/src/constants/addresses.ts
Labels: dashboard

Update page.mdx
  apps/portal/src/app/connect/pay/testing-pay/page.mdx
Labels: portal

[SDK] fix: Disable amount editing for non-wallet funding modes
  .changeset/real-timers-rhyme.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, sdk

[SDK] feat: Add verifyClaim export and canClaim function (#6234)
  .changeset/orange-ravens-remain.md
  packages/thirdweb/scripts/generate/abis/erc1155/DropERC1155.json
  packages/thirdweb/scripts/generate/abis/erc20/DropERC20.json
  packages/thirdweb/src/exports/extensions/erc1155.ts
  packages/thirdweb/src/exports/extensions/erc20.ts
  packages/thirdweb/src/exports/extensions/erc721.ts
  packages/thirdweb/src/extensions/erc1155/__generated__/DropERC1155/read/verifyClaim.ts
  packages/thirdweb/src/extensions/erc1155/drop1155.test.ts
  packages/thirdweb/src/extensions/erc1155/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc20/__generated__/DropERC20/read/verifyClaim.ts
  packages/thirdweb/src/extensions/erc20/drop20.test.ts
  packages/thirdweb/src/extensions/erc20/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc721/__generated__/DropERC721/read/verifyClaim.ts
  packages/thirdweb/src/extensions/erc721/drop721.test.ts
  packages/thirdweb/src/extensions/erc721/drops/read/canClaim.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
  packages/thirdweb/src/transaction/actions/gasless/providers/engine.test.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/openzeppelin.test.ts
  packages/thirdweb/src/transaction/extract-error.ts
Labels: packages, sdk

[SDK] fix: Disable amount editing for non-wallet funding modes (#6236)
  .changeset/real-timers-rhyme.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, sdk

[SDK] fix: Polish PayEmbed UI and balance display
  .changeset/kind-pets-mate.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/WalletSelectorButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PaymentSelectionScreen.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

[SDK] fix: Polish PayEmbed UI and balance display (#6237)
  .changeset/kind-pets-mate.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/WalletSelectorButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PaymentSelectionScreen.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

Update page.mdx (#6235)
  apps/portal/src/app/connect/pay/testing-pay/page.mdx
Labels: portal

Version Packages (#6208)
  .changeset/breezy-balloons-ring.md
  .changeset/cool-pumpkins-punch.md
  .changeset/dull-lamps-share.md
  .changeset/fresh-weeks-deliver.md
  .changeset/good-carpets-dream.md
  .changeset/hungry-books-jump.md
  .changeset/kind-pets-mate.md
  .changeset/many-cameras-cover.md
  .changeset/metal-crabs-beg.md
  .changeset/orange-ravens-remain.md
  .changeset/real-timers-rhyme.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[TOOL-3396] Dashboard: Fix inputMode for OTP input, Use text instead of default numeric (#6238)
  apps/dashboard/src/app/account/settings/AccountSettingsPageUI.tsx
  apps/dashboard/src/app/login/onboarding/ConfirmEmail.tsx
Labels: dashboard

[TOOL-3398] Dashboard: Fix DialogOverlay and DialogContent missing default shadcn z-index (#6239)
  apps/dashboard/src/@/components/ui/dialog.tsx
Labels: dashboard

[SDK] fix: Hide dollar values for wallet balances
  .changeset/gentle-boats-grin.md
  packages/thirdweb/src/extensions/erc1155/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc20/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc721/drops/read/canClaim.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/WalletSelectorButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/BuyTokenInput.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
Labels: packages, sdk

[SDK] fix: show token + dollar values for wallet balances (#6240)
  .changeset/gentle-boats-grin.md
  packages/thirdweb/src/extensions/erc1155/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc20/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc721/drops/read/canClaim.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/WalletSelectorButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/BuyTokenInput.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
Labels: packages, sdk

Version Packages (#6241)
  .changeset/gentle-boats-grin.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

fix: fix fiat value to 2 decimals
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
Labels: packages, sdk

changeset
  .changeset/tender-frogs-change.md
Labels: none

Update page.mdx
  apps/portal/src/app/connect/account-abstraction/erc-20-paymaster/page.mdx
Labels: portal

[SDK] fix: Prevent popup when using auth redirect mode
  .changeset/gold-meals-prove.md
  apps/playground-web/src/app/connect/in-app-wallet/page.tsx
  apps/playground-web/src/components/in-app-wallet/custom-login-form.tsx
  packages/thirdweb/src/wallets/in-app/core/interfaces/connector.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/oauth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: playground, packages, sdk

[SDK] fix: Prevent popup when using auth redirect mode (#6246)
  .changeset/gold-meals-prove.md
  apps/playground-web/src/app/connect/in-app-wallet/page.tsx
  apps/playground-web/src/components/in-app-wallet/custom-login-form.tsx
  packages/thirdweb/src/wallets/in-app/core/interfaces/connector.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/oauth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: playground, packages, sdk

Version Packages (#6247)
  .changeset/gold-meals-prove.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

add projectId parameter to pay analytics components
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/webhooks/page.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalPayVolume.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalVolumePieChart.tsx
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayNewCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayPurchases.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayVolume.ts
Labels: dashboard

add projectId parameter to pay analytics components (#6245)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/webhooks/page.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalPayVolume.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalVolumePieChart.tsx
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayNewCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayPurchases.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayVolume.ts
Labels: dashboard

[TOOL-3415] Dashboard: Fix Explore page header showing logged out state (#6250)
  apps/dashboard/src/app/(dashboard)/explore/[category]/page.tsx
  apps/dashboard/src/app/(dashboard)/explore/page.tsx
Labels: dashboard

Update page.mdx
  apps/portal/src/app/connect/wallet/overview/page.mdx
Labels: portal

[NEB-95] Dashboard: Nebula Analytics UI updates (#6248)
  apps/dashboard/src/@/components/blocks/charts/area-chart.tsx
  apps/dashboard/src/@/components/blocks/charts/bar-chart.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/Analytics.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-ui.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-ui.tsx
Labels: dashboard

[NEB-95] Dashboard: Fix Nebula analytics crash, add missing use client directive (#6252)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-ui.tsx
Labels: dashboard

[TOOL-3243] Dashboard: Add redirect for support old engine import link (#6254)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/page.tsx
Labels: dashboard

[Portal] Docs: Get Users Docs (#6255)
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/get-users/page.mdx
  apps/portal/src/app/connect/wallet/pregenerate-wallets/page.mdx
Labels: portal

fetch gas sponsored chains from API instead of hardcoding
  apps/dashboard/src/@/api/chain.ts
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/app/login/auth-actions.ts
Labels: dashboard

fetch gas sponsored chains from API instead of hardcoding (#6256)
  apps/dashboard/src/@/api/chain.ts
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/app/login/auth-actions.ts
Labels: dashboard

Handle single unnamed param (#6242)
  packages/thirdweb/src/utils/abi/normalizeFunctionParams.test.ts
  packages/thirdweb/src/utils/abi/normalizeFunctionParams.ts
Labels: packages, sdk

new PayEmbed UI for selecting tokens
  .changeset/pink-guests-agree.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/WalletSelectorButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useUISelectionStates.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/BuyTokenInput.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PayWithCrypto.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PaymentSelectionScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/react/web/ui/components/token/TokenRow.tsx
Labels: packages, sdk

Update billing management text
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
Labels: dashboard

removed discord cta
  .github/contributing.md
  README.md
  apps/dashboard/src/@/components/blocks/app-footer.tsx
  apps/dashboard/src/app/(dashboard)/support/page.tsx
  apps/dashboard/src/components/footer/socialLinks.tsx
  packages/thirdweb/README.md
Labels: dashboard, packages, sdk

add teamId parameter to webhook endpoints
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/webhooks/components/webhooks.client.tsx
Labels: dashboard

add teamId parameter to webhook endpoints (#6260)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/webhooks/components/webhooks.client.tsx
Labels: dashboard
