Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[Portal] Fix: update sidebar overflow behavior in DocLayout component (#7653)
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/DocSearch.tsx
Labels: portal

Portal: homepage UI improvements
  apps/portal/src/app/page.tsx
Labels: portal

format redirects.mjs
  apps/portal/redirects.mjs
Labels: portal

Portal: homepage UI improvements (#7667)
  apps/portal/src/app/page.tsx
Labels: portal

Version Packages (#7662)
  .changeset/eighty-rings-think.md
  .changeset/sad-vans-wait.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

fix: remove /connect wildcard redirects
  apps/portal/redirects.mjs
Labels: portal

Add external wallet search and display in user management
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/AdvancedSearchInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/SearchResults.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/searchUsers.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/types.ts
Labels: dashboard

[Docs] Add frontend/backend tabs for transaction sending examples
  apps/portal/src/app/transactions/page.mdx
Labels: portal

chore: update link styles
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/bundler/layout.tsx
  apps/portal/src/app/bundler/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/payments/send/page.mdx
  apps/portal/src/components/Document/DocLink.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
Labels: portal

feat: adds payments faq
  apps/portal/src/app/payments/faq/page.mdx
Labels: portal

[Docs] Add frontend/backend tabs for transaction sending examples (#7670)
  apps/portal/src/app/transactions/page.mdx
Labels: portal

lint
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/SearchResults.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/types.ts
Labels: dashboard

lint
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/index.tsx
Labels: dashboard

fix: broken links
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/wallets/faq/page.mdx
  apps/portal/src/app/wallets/link-profiles/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/components/others/Sidebar.tsx
  packages/thirdweb/scripts/typedoc.mjs
  packages/thirdweb/src/bridge/Webhook.ts
  pnpm-lock.yaml
Labels: packages, sdk, portal

Add external wallet filter and display (#7669)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/AdvancedSearchInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/SearchResults.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/searchUsers.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/types.ts
Labels: dashboard

fix: broken styles
  apps/portal/src/app/globals.css
  apps/portal/src/app/payments/custom-data/page.mdx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/components/Document/PageFooter.tsx
  apps/portal/src/components/others/Sidebar.tsx
  apps/portal/src/components/ui/tabs.tsx
Labels: portal

lint
  apps/portal/src/app/bundler/layout.tsx
Labels: portal

[Portal] Fix: Test Jam Feedback (#7677)
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/bundler/layout.tsx
  apps/portal/src/app/bundler/page.mdx
  apps/portal/src/app/globals.css
  apps/portal/src/app/page.tsx
  apps/portal/src/app/payments/custom-data/page.mdx
  apps/portal/src/app/payments/faq/page.mdx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/payments/send/page.mdx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/wallets/faq/page.mdx
  apps/portal/src/app/wallets/link-profiles/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/components/Document/DocLink.tsx
  apps/portal/src/components/Document/PageFooter.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/Sidebar.tsx
  apps/portal/src/components/ui/tabs.tsx
  packages/thirdweb/scripts/typedoc.mjs
  packages/thirdweb/src/bridge/Webhook.ts
  pnpm-lock.yaml
Labels: packages, sdk, portal

update
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/hooks/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/ui-components/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/components/others/DocSearch.tsx
Labels: portal

[Docs] Update redirects for wallets and payments paths
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/account/api-keys/page.mdx
  apps/portal/src/app/infrastructure/sidebar.tsx
  apps/portal/src/app/layout.tsx
  apps/portal/src/app/nebula/get-started/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/payments/faq/page.mdx
  apps/portal/src/app/react/v5/components/ConnectButton/page.mdx
  apps/portal/src/app/react/v5/components/ConnectEmbed/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/hooks/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/ui-components/page.mdx
  apps/portal/src/app/react/v5/migrate/installation/page.mdx
  apps/portal/src/app/react/v5/sidebar.tsx
  apps/portal/src/app/transactions/distribute-tokens/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/session-keys/page.mdx
  apps/portal/src/app/transactions/stripe-payments/page.mdx
  apps/portal/src/app/typescript/v5/connecting-wallets/page.mdx
  apps/portal/src/app/typescript/v5/wallets/page.mdx
  apps/portal/src/app/wallets/auth/deploying-to-production/page.mdx
  apps/portal/src/app/wallets/auth/page.mdx
  apps/portal/src/app/wallets/external-wallets/[walletId]/page.tsx
  apps/portal/src/app/wallets/external-wallets/com.coinbase.wallet/page.tsx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/pregenerate-wallets/page.mdx
  apps/portal/src/app/wallets/security/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/app/wallets/users/page.mdx
  apps/portal/src/components/others/AllSupportedWallets.tsx
  apps/portal/src/components/others/DocSearch.tsx
  apps/portal/src/components/ui/tabs.tsx
Labels: portal

feat: optional transaction ID in bridge status
  .changeset/four-trams-fetch.md
  packages/thirdweb/src/bridge/Status.ts
Labels: packages, sdk

[Docs] Update redirects for wallets and payments paths (#7680)
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/account/api-keys/page.mdx
  apps/portal/src/app/infrastructure/sidebar.tsx
  apps/portal/src/app/layout.tsx
  apps/portal/src/app/nebula/get-started/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/payments/faq/page.mdx
  apps/portal/src/app/react/v5/components/ConnectButton/page.mdx
  apps/portal/src/app/react/v5/components/ConnectEmbed/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/hooks/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/ui-components/page.mdx
  apps/portal/src/app/react/v5/migrate/installation/page.mdx
  apps/portal/src/app/react/v5/sidebar.tsx
  apps/portal/src/app/transactions/distribute-tokens/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/session-keys/page.mdx
  apps/portal/src/app/transactions/stripe-payments/page.mdx
  apps/portal/src/app/typescript/v5/connecting-wallets/page.mdx
  apps/portal/src/app/typescript/v5/wallets/page.mdx
  apps/portal/src/app/wallets/auth/deploying-to-production/page.mdx
  apps/portal/src/app/wallets/auth/page.mdx
  apps/portal/src/app/wallets/external-wallets/[walletId]/page.tsx
  apps/portal/src/app/wallets/external-wallets/com.coinbase.wallet/page.tsx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/pregenerate-wallets/page.mdx
  apps/portal/src/app/wallets/security/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/app/wallets/users/page.mdx
  apps/portal/src/components/others/AllSupportedWallets.tsx
  apps/portal/src/components/others/DocSearch.tsx
  apps/portal/src/components/ui/tabs.tsx
Labels: portal

[SDK] Feature: Adds optional `transactionId` parameter to `Bridge.status` (#7681)
  .changeset/four-trams-fetch.md
  packages/thirdweb/src/bridge/Status.ts
Labels: packages, sdk

Expose getAuthToken from inApp and ecosystem wallets
  .changeset/brown-ends-strive.md
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
  packages/thirdweb/src/wallets/in-app/native/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/native/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-gateway.test.ts
  pnpm-lock.yaml
Labels: packages, sdk

[SDK] Expose getAuthToken from inApp and ecosystem wallets (#7683)
  .changeset/brown-ends-strive.md
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
  packages/thirdweb/src/wallets/in-app/native/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/native/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-gateway.test.ts
  pnpm-lock.yaml
Labels: packages, sdk

Init API wrapper package
  .changeset/great-flowers-boil.md
  packages/api/README.md
  packages/api/biome.json
  packages/api/openapi-ts.config.ts
  packages/api/package.json
  packages/api/src/client/client.gen.ts
  packages/api/src/client/client/client.ts
  packages/api/src/client/client/index.ts
  packages/api/src/client/client/types.ts
  packages/api/src/client/client/utils.ts
  packages/api/src/client/core/auth.ts
  packages/api/src/client/core/bodySerializer.ts
  packages/api/src/client/core/params.ts
  packages/api/src/client/core/pathSerializer.ts
  packages/api/src/client/core/types.ts
  packages/api/src/client/index.ts
  packages/api/src/client/sdk.gen.ts
  packages/api/src/client/types.gen.ts
  packages/api/src/configure.ts
  packages/api/src/exports/thirdweb.ts
  packages/api/tsconfig.base.json
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  pnpm-lock.yaml
Labels: packages

[API] Init API wrapper package (#7684)
  .changeset/great-flowers-boil.md
  packages/api/README.md
  packages/api/biome.json
  packages/api/openapi-ts.config.ts
  packages/api/package.json
  packages/api/src/client/client.gen.ts
  packages/api/src/client/client/client.ts
  packages/api/src/client/client/index.ts
  packages/api/src/client/client/types.ts
  packages/api/src/client/client/utils.ts
  packages/api/src/client/core/auth.ts
  packages/api/src/client/core/bodySerializer.ts
  packages/api/src/client/core/params.ts
  packages/api/src/client/core/pathSerializer.ts
  packages/api/src/client/core/types.ts
  packages/api/src/client/index.ts
  packages/api/src/client/sdk.gen.ts
  packages/api/src/client/types.gen.ts
  packages/api/src/configure.ts
  packages/api/src/exports/thirdweb.ts
  packages/api/tsconfig.base.json
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  pnpm-lock.yaml
Labels: packages

[Dashboard] Replace modular contracts with Arbitrum Stylus contracts in explore page
  apps/dashboard/src/app/(app)/(dashboard)/explore/data.ts
  apps/portal/redirects.mjs
Labels: dashboard, portal

[Dashboard] Replace modular contracts with Arbitrum Stylus contracts in explore page (#7685)
  apps/dashboard/src/app/(app)/(dashboard)/explore/data.ts
  apps/portal/redirects.mjs
Labels: dashboard, portal

Fix knip lint
  packages/thirdweb/src/tokens/constants.ts
Labels: packages, sdk

Fix /tokens exports
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/tokens.ts
Labels: packages, sdk

update imports
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageMetadataSetup.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/components/claim-rewards-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/utils/rewards.ts
Labels: dashboard

export claimReward
  packages/thirdweb/src/exports/tokens.ts
Labels: packages, sdk

fixed SEO issues from ahrefs
  apps/portal/src/app/chat/page.tsx
  apps/portal/src/app/cli/build/page.mdx
  apps/portal/src/app/cli/create/page.mdx
  apps/portal/src/app/cli/generate/page.mdx
  apps/portal/src/app/cli/install/page.mdx
  apps/portal/src/app/cli/login/page.mdx
  apps/portal/src/app/cli/logout/page.mdx
  apps/portal/src/app/cli/page.mdx
  apps/portal/src/app/cli/upload/page.mdx
  apps/portal/src/app/payments/sell/page.mdx
  apps/portal/src/app/payments/send/page.mdx
  apps/portal/src/app/wallets/faq/page.mdx
  apps/portal/src/app/webhooks/page.mdx
Labels: portal

Update apps/portal/src/app/wallets/faq/page.mdx
  apps/portal/src/app/wallets/faq/page.mdx
Labels: portal

fixed imports
  apps/portal/src/app/cli/build/page.mdx
  apps/portal/src/app/cli/create/page.mdx
  apps/portal/src/app/cli/generate/page.mdx
  apps/portal/src/app/cli/install/page.mdx
  apps/portal/src/app/cli/login/page.mdx
  apps/portal/src/app/cli/logout/page.mdx
  apps/portal/src/app/cli/upload/page.mdx
Labels: portal

fixed more imports
  apps/portal/src/app/cli/generate/page.mdx
  apps/portal/src/app/cli/logout/page.mdx
  apps/portal/src/app/wallets/faq/page.mdx
Labels: portal

token salt guard
  packages/thirdweb/src/exports/tokens.ts
  packages/thirdweb/src/tokens/create-token.ts
  packages/thirdweb/src/tokens/token-utils.test.ts
  packages/thirdweb/src/tokens/token-utils.ts
Labels: packages, sdk

show 2 steps for airdrop
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
Labels: dashboard

wip: use ub for quote fetching
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/TokenSelection.tsx
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
