Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

chore: hide unused contracts tab
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
Labels: dashboard

chore: update date text for tx activity rows
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
Labels: dashboard

Vt hackweek wallet analysis cleanup (#6091)
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchERC20Tokens.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchTxActivity.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetTxActivity.ts
Labels: dashboard

pass team instead of project to rateLimit
  .changeset/large-beds-move.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
  packages/service-utils/src/index.ts
Labels: packages

pass team instead of project to rateLimit (#6092)
  .changeset/large-beds-move.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
  packages/service-utils/src/index.ts
Labels: packages

Version Packages (#6094)
  .changeset/large-beds-move.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

fix(wagmi-adapter): fallback to user specified smart account chain
  packages/wagmi-adapter/src/connector.ts
Labels: packages

changeset
  .changeset/thick-vans-do.md
Labels: none

fix changeset
  .changeset/thick-vans-do.md
Labels: none

lint
  packages/wagmi-adapter/src/connector.ts
Labels: packages

fix(wagmi-adapter): fallback to user specified smart account chain
  .changeset/thick-vans-do.md
  packages/wagmi-adapter/src/connector.ts
Labels: packages

Pass team instead of project to rate limit (#6101)
  .changeset/large-beds-move.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
  packages/service-utils/src/index.ts
  packages/service-utils/src/mocks.ts
Labels: packages

Open ai docs (#6102)
  apps/portal/src/app/nebula/plugins/openAI/page.mdx
  apps/portal/src/app/nebula/plugins/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
Labels: portal

Saminacodes patch 1 (#6103)
  apps/portal/src/app/nebula/faqs/page.mdx
Labels: portal

[Wagmi Adapter] Fix: Fallback to smart account chain in autoconnect (#6100)
  .changeset/thick-vans-do.md
  packages/wagmi-adapter/src/connector.ts
Labels: packages

more nebula
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchERC20Tokens.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchRecentTransactions.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/NebulaInterface.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TokenHoldings.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetERC20Tokens.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetRecentTransactions.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetTxActivity.ts
Labels: dashboard

[TOOL-3260] SDK: Fix Pay Modal logging react-query error when opened
  .changeset/gentle-dancers-raise.md
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: packages, sdk

Version Packages (#6097)
  .changeset/large-beds-move.md
  .changeset/thick-vans-do.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages

fix: use server for Insight calls
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchRecentTransactions.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetTxActivity.ts
Labels: dashboard

refactor: remove logs
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchRecentTransactions.ts
Labels: dashboard

address gh comment
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: packages, sdk

feat: pagination for tokens
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TokenHoldings.tsx
Labels: dashboard

[SDK] feat: Optional wallet activation during connection
  .changeset/thirty-cheetahs-matter.md
  apps/portal/src/app/nebula/plugins/openai/page.mdx
  packages/thirdweb/src/react/core/account/provider.tsx
  packages/thirdweb/src/react/core/utils/walletname.ts
  packages/thirdweb/src/wallets/manager/index.ts
Labels: packages, sdk, portal

[SDK] feat: Optional wallet activation during connection (#6105)
  .changeset/thirty-cheetahs-matter.md
  apps/portal/src/app/nebula/plugins/openai/page.mdx
  packages/thirdweb/src/react/core/account/provider.tsx
  packages/thirdweb/src/react/core/utils/walletname.ts
  packages/thirdweb/src/wallets/manager/index.ts
Labels: packages, sdk, portal

update dependencies
  .changeset/itchy-mails-brake.md
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

update dependencies (#6106)
  .changeset/itchy-mails-brake.md
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Version Packages (#6107)
  .changeset/itchy-mails-brake.md
  .changeset/thirty-cheetahs-matter.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

docs(deploys): fix deployContract imports
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
Labels: packages, sdk

fix: enable Nebula back
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
Labels: dashboard

add asChild prop to UI components
  .changeset/funny-taxis-grow.md
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/react/web/ui/SiteLink.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/address.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/avatar.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Chain/icon.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Chain/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/description.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/icon.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/symbol.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/name.tsx
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[Portal] Fix: deployContract doc imports (#6108)
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
Labels: packages, sdk

[TOOL-3260] SDK: Fix Pay Modal logging react-query error when opened (#6104)
  .changeset/gentle-dancers-raise.md
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: packages, sdk

updated pages to new crowdin pages
  apps/portal/src/app/connect/page.mdx
  apps/portal/src/app/dotnet/contracts/create/page.mdx
  apps/portal/src/app/dotnet/contracts/prepare/page.mdx
  apps/portal/src/app/dotnet/contracts/read/page.mdx
  apps/portal/src/app/dotnet/pay/buywithcrypto/page.mdx
  apps/portal/src/app/dotnet/pay/buywithfiat/page.mdx
  apps/portal/src/app/dotnet/pay/getbuyhistory/page.mdx
  apps/portal/src/app/dotnet/pay/getbuywithcryptoquote/page.mdx
  apps/portal/src/app/dotnet/pay/getbuywithcryptostatus/page.mdx
  apps/portal/src/app/dotnet/pay/getbuywithfiatcurrencies/page.mdx
  apps/portal/src/app/dotnet/pay/getbuywithfiatquote/page.mdx
  apps/portal/src/app/dotnet/pay/getbuywithfiatstatus/page.mdx
  apps/portal/src/app/dotnet/pay/quickstart/page.mdx
  apps/portal/src/app/dotnet/transactions/create/page.mdx
  apps/portal/src/app/dotnet/transactions/instance/page.mdx
  apps/portal/src/app/dotnet/transactions/static/page.mdx
  apps/portal/src/app/dotnet/utils/page.mdx
  apps/portal/src/app/nebula/page.mdx
  apps/portal/src/app/react-native/v5/differences/page.mdx
  apps/portal/src/app/react-native/v5/getting-started/page.mdx
  apps/portal/src/app/react-native/v5/troubleshooting/page.mdx
  apps/portal/src/app/react/v5/auth/page.mdx
  apps/portal/src/app/react/v5/components/account/page.mdx
  apps/portal/src/app/react/v5/linking/page.mdx
  apps/portal/src/app/react/v5/social/page.mdx
  apps/portal/src/app/typescript/v5/page.mdx
Labels: portal

wip
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchRecentTransactions.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/NebulaInterface.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TimelineOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
Labels: dashboard

[Dashboard] Fix: Remove learn more button (#6109)
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
Labels: dashboard

chore: change to per-product usageV2 topic
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

topic name
  packages/service-utils/src/node/usageV2.ts
Labels: packages

changeset
  .changeset/pink-melons-relate.md
Labels: none

relative paths
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

chore: change to per-product usageV2 topic (#6113)
  .changeset/pink-melons-relate.md
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
