Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

feat: add webhook producer to service-utils
  .changeset/slimy-tigers-trade.md
  packages/service-utils/package.json
  packages/service-utils/src/node/index.ts
  packages/service-utils/src/node/usageV2.ts
  packages/service-utils/src/node/webhookProducer.ts
  pnpm-lock.yaml
Labels: packages

feat: add webhook producer to service-utils (#7439)
  .changeset/slimy-tigers-trade.md
  packages/service-utils/package.json
  packages/service-utils/src/node/index.ts
  packages/service-utils/src/node/usageV2.ts
  packages/service-utils/src/node/webhookProducer.ts
  pnpm-lock.yaml
Labels: packages

added basic structure ui for support tab
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/SupportLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportTabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/TeamProjectsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: dashboard

support in dashboard
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/SupportLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCasesClient.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportTabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/TeamProjectsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: dashboard

fix: test size limit.
  packages/nebula/src/client/client.gen.ts
  packages/thirdweb/.size-limit.json
Labels: packages, sdk

fix: update nebula SDK with latest changes.
  packages/nebula/src/client/client.gen.ts
  packages/nebula/src/client/client/client.ts
  packages/nebula/src/client/client/index.ts
  packages/nebula/src/client/client/types.ts
  packages/nebula/src/client/client/utils.ts
  packages/nebula/src/client/types.gen.ts
Labels: packages

fix: lint.
  packages/nebula/src/client/client/client.ts
  packages/nebula/src/client/client/index.ts
  packages/nebula/src/client/client/types.ts
  packages/nebula/src/client/client/utils.ts
Labels: packages

fix: typo on a field in webhook event helper
  .changeset/itchy-pandas-punch.md
  packages/service-utils/src/node/webhookProducer.ts
Labels: packages

fix: typo on a field in webhook event helper (#7440)
  .changeset/itchy-pandas-punch.md
  packages/service-utils/src/node/webhookProducer.ts
Labels: packages

address review
  packages/thirdweb/src/exports/extensions/erc7702.ts
  packages/thirdweb/src/exports/wallets/in-app.native.ts
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/extensions/erc7702/account/createSessionKey.ts
  packages/thirdweb/src/extensions/erc7702/account/types.ts
Labels: packages, sdk

export enums, update test to use them
  packages/thirdweb/src/exports/wallets/in-app.native.ts
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/extensions/erc7702/account/sessionkey.test.ts
Labels: packages, sdk

chore: remove onrampTokenAddress set to ETH
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
Labels: packages, sdk

fix: onramp step label
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
Labels: packages, sdk

fix: onramp transactions missing chain and client
  packages/thirdweb/src/bridge/Onramp.ts
Labels: packages, sdk

fix: slight delay after fee and approvals for rpc catch up
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, sdk

changeset
  .changeset/old-bats-love.md
Labels: none

lint
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, sdk

lockfile
  pnpm-lock.yaml
Labels: none

fix: error message when no onramp quotes exist
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
Labels: packages, sdk

feat: cleanup step preview ui
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
Labels: packages, sdk

[SDK] Chore: Remove onrampTokenAddress set to ETH (#7441)
  .changeset/old-bats-love.md
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
Labels: packages, sdk

SDK codegen + signature options
  packages/engine/package.json
  packages/engine/src/client/client/client.ts
  packages/engine/src/client/core/types.ts
  packages/engine/src/client/types.gen.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: packages, sdk

fix: include destination tokens in chain labels
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
Labels: packages, sdk

fix: increase delay after transactions in step executor
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, sdk

[SDK] Fix: Chain name label (#7442)
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
Labels: packages, sdk

lockfile
  pnpm-lock.yaml
Labels: none

ui fixes, re-enable tests, stringify error
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
  packages/thirdweb/src/engine/server-wallet.test.ts
  packages/thirdweb/src/engine/wait-for-tx-hash.ts
Labels: dashboard, packages, sdk

add unthread customer id
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: dashboard

Version Packages (#7433)
  .changeset/itchy-pandas-punch.md
  .changeset/little-items-allow.md
  .changeset/old-bats-love.md
  .changeset/rude-bags-say.md
  .changeset/slimy-tigers-trade.md
  .changeset/wild-cases-ask.md
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/insight/CHANGELOG.md
  packages/insight/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

chore: webhook payload must be an array
  .changeset/huge-eggs-drop.md
  packages/service-utils/src/node/webhookProducer.ts
Labels: packages

chore: webhook payload must be an array (#7444)
  .changeset/huge-eggs-drop.md
  packages/service-utils/src/node/webhookProducer.ts
Labels: packages

[Portal] EIP-7702 Session Key Docs (.NET) (#7448)
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/wallets/actions/createsessionkey7702/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/getcallpolicies7702/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/getsessionexpiration7702/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/getsessionstate7702/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/gettransferpolicies7702/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/signerhaspermissions7702/page.mdx
Labels: portal

fix: include correct client in payment link UI
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: dashboard

Fix: Include correct client in payment link UI (#7449)
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: dashboard

use entrypoint version
  packages/thirdweb/src/engine/server-wallet.test.ts
Labels: packages, sdk

0.76 hey-api
  packages/engine/package.json
  packages/engine/src/client/client/client.ts
  packages/engine/src/client/core/types.ts
  packages/engine/src/client/types.gen.ts
  pnpm-lock.yaml
Labels: packages

lint
  packages/thirdweb/src/engine/server-wallet.test.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: packages, sdk

update biome schema
  apps/dashboard/biome.json
  apps/nebula/biome.json
  apps/playground-web/biome.json
  apps/portal/biome.json
  apps/wallet-ui/biome.json
  biome.json
  packages/engine/biome.json
  packages/insight/biome.json
  packages/nebula/biome.json
  packages/react-native-adapter/biome.json
  packages/service-utils/biome.json
  packages/thirdweb/biome.json
  packages/vault-sdk/biome.json
  packages/wagmi-adapter/biome.json
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

review
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
  packages/thirdweb/src/engine/server-wallet.ts
Labels: dashboard, packages, sdk

Feature: Adds onramp webhook schema to sdk (#7450)
  .changeset/eleven-taxis-mix.md
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/bridge/Webhook.test.ts
  packages/thirdweb/src/bridge/Webhook.ts
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
