Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[SDK] feat: Add transaction tracking for smart wallets (#6020)
  .changeset/light-poets-tie.md
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

Version Packages (#6018)
  .changeset/fuzzy-ants-laugh.md
  .changeset/khaki-singers-leave.md
  .changeset/light-poets-tie.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

fix: Don't hash cache key
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/core/authorize/utils.ts
Labels: packages

Update page.mdx
  apps/portal/src/app/unity/v5/wallets/private-key/page.mdx
Labels: portal

fix: support calling login on the backend
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/iframe-auth.ts
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/IframeCommunicator.ts
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/InAppWalletIframeCommunicator.ts
Labels: packages, sdk

chore: add changeset
  .changeset/two-trees-tease.md
Labels: none

[TOOL-3173] Portal: Update hero iamge, OG image on landing page (#6017)
  apps/portal/src/app/_images/docs-hero-dark.png
  apps/portal/src/app/_images/docs-hero-light.png
  apps/portal/src/app/_images/docs-hero.png
  apps/portal/src/app/globals.css
  apps/portal/src/app/layout.tsx
  apps/portal/src/app/opengraph-image.png
  apps/portal/src/app/page.tsx
Labels: portal

feat: Add transaction analytics and tracking
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/TransactionsCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/app/team/components/Analytics/PieChartCard.tsx
  apps/dashboard/src/data/analytics/fetch-analytics.ts
  apps/dashboard/src/types/analytics.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: dashboard, packages, sdk

[Dashboard] feat: Add transaction analytics and tracking (#6019)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/TransactionsCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/app/team/components/Analytics/PieChartCard.tsx
  apps/dashboard/src/data/analytics/fetch-analytics.ts
  apps/dashboard/src/types/analytics.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: dashboard, packages, sdk

changeset
  .changeset/rotten-vans-sleep.md
Labels: none

[service-utils] fix: Don't hash cache key (#6023)
  .changeset/rotten-vans-sleep.md
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/core/authorize/utils.ts
Labels: packages

Chore: Remove Jakub from CODEOWNERS (#6029)
  .github/CODEOWNERS
Labels: none

[Dashboard] fix: Improve error logging for analytics API failures
  apps/dashboard/src/@/api/analytics.ts
Labels: dashboard

[Dashboard] fix: Improve error logging for analytics API failures (#6033)
  apps/dashboard/src/@/api/analytics.ts
Labels: dashboard

[Dashboard] fix: Add error reason to analytics API error logs
  apps/dashboard/src/@/api/analytics.ts
Labels: dashboard

[Dashboard] fix: Add error reason to analytics API error logs (#6034)
  apps/dashboard/src/@/api/analytics.ts
Labels: dashboard

[SDK] Fix: Opt out of 1559 on lumia mainnet (#6032)
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, sdk

[TOOL-3123] Dashboard: Order projects by total wallets (#6026)
  apps/dashboard/src/@/api/projects.ts
  apps/dashboard/src/@/components/ui/CopyTextButton.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/components/dashboard/Changelog.tsx
Labels: dashboard

[TOOL-3120] Redirect to last visited team page if authenticated (#6028)
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/team/components/last-visited-page/SaveLastVisitedPage.tsx
  apps/dashboard/src/app/team/components/last-visited-page/consts.ts
  apps/dashboard/src/lib/cookie.ts
  apps/dashboard/src/middleware.ts
  apps/dashboard/src/stores/SyncStoreToCookies.tsx
Labels: dashboard

[TOOL-3082] Dashboard: Replace NetworkSelectorButton with SingleNetworkSelector where switching chain in wallet is not required (#6031)
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/components/contract-components/import-contract/modal.tsx
Labels: dashboard

[TOOL-2964] Dashboard: Fix crash on unix time converter page for invalid unix time, UI improvements (#6036)
  apps/dashboard/src/app/(dashboard)/tools/components/tabs.tsx
  apps/dashboard/src/app/(dashboard)/tools/layout.tsx
  apps/dashboard/src/app/(dashboard)/tools/unixtime-converter/components/UnixTimeConverter.tsx
  apps/dashboard/src/app/(dashboard)/tools/unixtime-converter/page.tsx
Labels: dashboard

[Dashboard] perf: Optimize chain and contract data processing
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/TransactionsCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/TransactionCharts.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/index.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/types/analytics.ts
Labels: dashboard

[Dashboard] perf: Optimize chain and contract data processing (#6035)
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/TransactionsCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/TransactionCharts.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/index.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/types/analytics.ts
Labels: dashboard

pr comments
  packages/service-utils/package.json
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

test: add iframe test
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/IframeCommunicator.test.tsx
Labels: packages, sdk

fix: lint error
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/IframeCommunicator.test.tsx
Labels: packages, sdk

[TOOL-3124] Dashboard: paginate projects, sort by Montly active users (#6027)
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
Labels: dashboard

[SDK] fix: Improve smart wallet signature verification
  .changeset/kind-beers-fold.md
  apps/playground-web/src/components/account-abstraction/sponsored-tx-zksync.tsx
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
Labels: playground, packages, sdk

[SDK] fix: Improve WalletConnect mobile connection handling
  .changeset/nervous-frogs-pay.md
  apps/playground-web/src/components/sign-in/hooks.tsx
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: playground, packages, sdk

[Portal] fix: Update useAutoConnect hook reference link
  apps/portal/src/app/react/v5/connecting-wallets/hooks/page.mdx
Labels: portal

[Dashboard] fix: Use formatted ABI for contract function calls
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
Labels: dashboard

[TOOL-3220] Dashboard: Reset Project pagination on filter change, SDK: Fix WalletProvider JSDoc (#6041)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/provider.tsx
Labels: dashboard, packages, sdk

add product_version
  packages/service-utils/src/node/usageV2.ts
Labels: packages

[Dashboard] fix: Use formatted ABI for contract function calls (#6044)
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
Labels: dashboard

[Portal] fix: Update useAutoConnect hook reference link (#6043)
  apps/portal/src/app/react/v5/connecting-wallets/hooks/page.mdx
Labels: portal

[SDK] fix: Improve WalletConnect mobile connection handling (#6042)
  .changeset/nervous-frogs-pay.md
  apps/playground-web/src/components/sign-in/hooks.tsx
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: playground, packages, sdk

[SDK] fix: Improve smart wallet signature verification (#6040)
  .changeset/kind-beers-fold.md
  apps/playground-web/src/components/account-abstraction/sponsored-tx-zksync.tsx
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
Labels: playground, packages, sdk

Winston/tool 3161 cannot create backend wallets using latest version (#6025)
  .changeset/two-trees-tease.md
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/iframe-auth.ts
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/IframeCommunicator.test.tsx
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/IframeCommunicator.ts
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/InAppWalletIframeCommunicator.ts
Labels: packages, sdk

[service-utils] feat: Add usageV2 support (#6021)
  .changeset/neat-ads-build.md
  packages/service-utils/package.json
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

[SDK] fix: Simplify in-app wallet logout flow
  .changeset/blue-rivers-own.md
  packages/thirdweb/src/wallets/in-app/web/lib/auth/iframe-auth.ts
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
