Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

docs(portal): fix syntax and compilation errors in v5 guide snippets
  apps/portal/src/app/typescript/v5/auth/page.mdx
  apps/portal/src/app/typescript/v5/getting-started/page.mdx
Labels: portal

feat(playground): add Token Price Tracker page with live market data
  apps/playground-web/src/app/data/pages-metadata.ts
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/app/tokens/price-tracker/page.tsx
  apps/playground-web/src/components/token-price/token-price-tracker.tsx
Labels: playground

allow managed rotation as an option
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

rev
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

allow managed rotation as an option (#8862)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

fix(auth): fail closed on unparseable SIWE Not Before / Expiration
  packages/thirdweb/src/auth/core/verify-login-payload.test.ts
  packages/thirdweb/src/auth/core/verify-login-payload.ts
Labels: packages, sdk

fix: address CodeRabbit review feedback
  apps/playground-web/src/app/tokens/price-tracker/page.tsx
  apps/playground-web/src/components/token-price/token-price-tracker.tsx
Labels: playground

[SDK] fix: implement removeListener on EIP1193 provider adapter
  .changeset/eip1193-remove-listener-noop.md
  packages/thirdweb/src/adapters/eip1193/to-eip1193.test.ts
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
Labels: packages, sdk

[SDK] test: cover duplicate on() registration for EIP1193 removeListener
  packages/thirdweb/src/adapters/eip1193/to-eip1193.test.ts
Labels: packages, sdk

[SDK] Verify redirect state before AutoConnect consumes URL auth material
  .changeset/autoconnect-redirect-state.md
  packages/thirdweb/src/wallets/connection/autoConnectCore.test.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/getLoginPath.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/oauth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/redirect-state.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/auth/redirect-state.ts
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
Labels: packages, sdk

[Dashboard] Fix biome format drift in rotate-admin-key button
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[SDK] Track redirect states as a bounded set; lazy-load the validator
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/redirect-state.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/auth/redirect-state.ts
Labels: packages, sdk

[SDK] Keep redirect-state validator as a static import
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
Labels: packages, sdk

[SDK] Store each pending redirect state under its own key
  packages/thirdweb/src/wallets/in-app/web/lib/auth/redirect-state.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/auth/redirect-state.ts
Labels: packages, sdk

[SDK] Disable zkSync tests (no longer officially supported)
  packages/thirdweb/src/contract/deployment/utils/bootstrap.test.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.test.ts
  packages/thirdweb/test/vitest.config.ts
Labels: packages, sdk

[SDK] Cover redirect-state edge cases and readUrlToken opt-out
  packages/thirdweb/src/wallets/connection/autoConnectCore.test.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/getLoginPath.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/redirect-state.test.tsx
Labels: packages, sdk

[SDK] Verify redirect state before AutoConnect consumes URL auth material (#8887)
  .changeset/autoconnect-redirect-state.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
  packages/thirdweb/src/contract/deployment/utils/bootstrap.test.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.test.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.test.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/getLoginPath.test.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/getLoginPath.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/oauth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/redirect-state.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/auth/redirect-state.ts
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
  packages/thirdweb/test/vitest.config.ts
Labels: dashboard, packages, sdk

Add changeset for SIWE fail-closed fix
  .changeset/siwe-fail-closed-invalid-dates.md
Labels: none

Format verify-login-payload files
  packages/thirdweb/src/auth/core/verify-login-payload.test.ts
Labels: packages, sdk

[SDK] Fix: EIP1193.toProvider() removeListener is now functional (#8886)
  .changeset/eip1193-remove-listener-noop.md
  packages/thirdweb/src/adapters/eip1193/to-eip1193.test.ts
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
Labels: packages, sdk

docs(portal): fix syntax and compilation errors in v5 guide snippets (#8878)
  apps/portal/src/app/typescript/v5/auth/page.mdx
  apps/portal/src/app/typescript/v5/getting-started/page.mdx
Labels: portal

fix(auth): fail closed on unparseable SIWE Not Before / Expiration (#8875)
  .changeset/siwe-fail-closed-invalid-dates.md
  packages/thirdweb/src/auth/core/verify-login-payload.test.ts
  packages/thirdweb/src/auth/core/verify-login-payload.ts
Labels: packages, sdk

Align Next.js sibling deps to next@15.5.21
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, portal, Ecosystem Portal

[Repo] Align Next.js sibling deps to next 15.5.21 (#8891)
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, portal, Ecosystem Portal

Revert Next.js family to 15.3.8 (15.5 broke app builds)
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, portal, Ecosystem Portal

Restore all dependency files to known-good #8887 state
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Pin Next.js to 15.3.8 and force @noble/hashes to v1
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, portal, Ecosystem Portal

Force undici to 6.28.0 to keep the security bump
  package.json
  pnpm-lock.yaml
Labels: none

[Repo] Fix app builds: pin Next.js 15.3.8, override @noble/hashes (#8893)
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, portal, Ecosystem Portal

Version Packages (#8888)
  .changeset/autoconnect-redirect-state.md
  .changeset/eip1193-remove-listener-noop.md
  .changeset/fix-injected-wallet-transient-disconnect.md
  .changeset/siwe-fail-closed-invalid-dates.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] fix: route in-app wallet OTP login through getClientFetch
  .changeset/fix-otp-getclientfetch-bundle-id.md
  packages/thirdweb/src/wallets/in-app/web/lib/auth/otp.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/otp.ts
Labels: packages, sdk

fix(auth): fail closed on non-finite JWT nbf and exp
  packages/thirdweb/src/auth/core/verify-jwt.test.ts
  packages/thirdweb/src/auth/core/verify-jwt.ts
Labels: packages, sdk

chore(changeset): patch thirdweb for JWT nbf/exp fail-closed
  .changeset/jwt-fail-closed-exp-nbf.md
Labels: none

[SDK] Fix Universal Bridge onramp reporting success when it did not complete
  .changeset/onramp-success-guard.md
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, sdk

[SDK] Fail fast on an incomplete onramp before follow-up transactions
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, sdk

fix(wagmi-adapter): parse stored active chain as JSON in getProvider
  .changeset/olive-moons-repeat.md
  packages/wagmi-adapter/src/connector.ts
Labels: packages

[SDK] Test onramp completion guards in useStepExecutor
  packages/thirdweb/src/react/core/hooks/useStepExecutor.test.tsx
Labels: packages, sdk

[SDK] Type-check onramp test fixture; assert no false success on retry
  packages/thirdweb/src/react/core/hooks/useStepExecutor.test.tsx
Labels: packages, sdk

[SDK] Recover a failed onramp with a fresh session on retry
  .changeset/onramp-success-guard.md
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.test.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
Labels: packages, sdk

[SDK] Fix onramp false-success and recover failed onramps on retry (#8906)
  .changeset/onramp-success-guard.md
  packages/thirdweb/src/react/core/hooks/useStepExecutor.test.tsx
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.test.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
