Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

feat: webhooks list in dashboard (#7505)
  apps/dashboard/.env.example
  apps/dashboard/package.json
  apps/dashboard/src/@/analytics/posthog-server.ts
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/api/webhook-configs.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookAnalyticsCharts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookAnalyticsFilter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookAnalyticsServer.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhooksAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/create-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/delete-webhook-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/edit-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/topic-selector-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-configs-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-metrics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/contracts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
  pnpm-lock.yaml
Labels: dashboard

Add MinimalAccount ABI and update createSessionKey with explicit ABI
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/abi.ts
  packages/thirdweb/src/extensions/erc7702/account/createSessionKey.ts
Labels: packages, sdk

remove unused stuff
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/_common/form.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-sale.tsx
Labels: dashboard

Add support check for createSessionKey method in ERC7702 extension
  packages/thirdweb/src/extensions/erc7702/account/createSessionKey.ts
Labels: packages, sdk

added changeset
  .changeset/dirty-candies-shop.md
Labels: none

[Dashboard] Improve user filtering functionality (#7572)
  apps/dashboard/src/@/hooks/useEmbeddedWallets.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/users/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/AdvancedSearchInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/SearchInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/SearchResults.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/searchUsers.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/types.ts
Labels: dashboard

[thirdweb/server-wallet] fix `address` used for simulation for ERC4337 (#7581)
  .changeset/dirty-candies-shop.md
  packages/thirdweb/src/engine/server-wallet.test.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: packages, sdk

addressed comments
  apps/portal/redirects.mjs
  apps/portal/src/app/contracts/sidebar.tsx
Labels: portal

Version Packages (#7584)
  .changeset/dirty-candies-shop.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Dashboard: Fix theme for BuyWidget in chain page (#7583)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/BuyFundsSection.tsx
Labels: dashboard

Fix inapp wallets showing up in all wallets list
  .changeset/tangy-otters-invite.md
  packages/thirdweb/src/react/native/ui/connect/ExternalWalletsList.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AllWalletsUI.tsx
Labels: packages, sdk

Migrate portal /engine routes to /transactions with comprehensive redirects
  CHANGES_SUMMARY.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/layout.tsx
  apps/playground-web/src/app/engine/_hooks/useEngineTxStatus.ts
  apps/playground-web/src/app/engine/actions.ts
  apps/playground-web/src/app/engine/airdrop/_components/airdrop-card.tsx
  apps/playground-web/src/app/engine/airdrop/_components/airdrop-code.tsx
  apps/playground-web/src/app/engine/airdrop/_components/airdrop-preview.tsx
  apps/playground-web/src/app/engine/airdrop/constants.ts
  apps/playground-web/src/app/engine/airdrop/page.tsx
  apps/playground-web/src/app/engine/minting/_components/mint-code.tsx
  apps/playground-web/src/app/engine/minting/_components/mint-preview.tsx
  apps/playground-web/src/app/engine/minting/constants.ts
  apps/playground-web/src/app/engine/minting/page.tsx
  apps/playground-web/src/app/engine/types.ts
  apps/playground-web/src/app/engine/webhooks/_components/webhooks-preview.tsx
  apps/playground-web/src/app/engine/webhooks/constants.ts
  apps/playground-web/src/app/engine/webhooks/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/transactions/v2/sidebar.tsx
  apps/portal/src/app/transactions/v3/sidebar.tsx
  packages/thirdweb/src/react/core/hooks/transaction/useSendAndConfirmTransaction.ts
  packages/thirdweb/src/react/native/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/index.tsx
  packages/thirdweb/src/transaction/actions/send-and-confirm-transaction.ts
  packages/thirdweb/src/transaction/actions/send-transaction.ts
Labels: dashboard, playground, packages, sdk, portal

[SDK] Fix inapp wallets showing up in all wallets list (#7586)
  .changeset/tangy-otters-invite.md
  packages/thirdweb/src/react/native/ui/connect/ExternalWalletsList.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AllWalletsUI.tsx
Labels: packages, sdk

Dashboard: Fix webhooks posthog feature flag conditional rendering (#7585)
  apps/dashboard/src/@/analytics/posthog-server.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/loading.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/contracts/loading.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/loading.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/universal-bridge/loading.tsx
Labels: dashboard

testing
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/quick-start/page.mdx
  apps/portal/src/app/payments/sidebar.tsx
Labels: portal

[TOOL-5021] SDK: Fix theme in ConnectButton Details Modal Buy screen
  .changeset/ten-places-feel.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/stories/ConnectButton/themes.stories.tsx
Labels: packages, sdk

[Engine] Replace vault access token with project secret key for authentication
  .changeset/icy-islands-dress.md
  .changeset/loud-mails-peel.md
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/@/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/SecretKeySection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/key-management.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/page.tsx
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/encryption.ts
  packages/service-utils/src/index.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: dashboard, packages, sdk

[Dashboard] Replace vault access token with project secret key for authentication (#7570)
  .changeset/icy-islands-dress.md
  .changeset/loud-mails-peel.md
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/@/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/SecretKeySection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/key-management.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/page.tsx
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/encryption.ts
  packages/service-utils/src/index.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: dashboard, packages, sdk

Version Packages (#7588)
  .changeset/icy-islands-dress.md
  .changeset/loud-mails-peel.md
  .changeset/tangy-otters-invite.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Dashboard] use BuyWidget on /bridge (#7590)
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
Labels: dashboard

[Dashboard] Add error handling and refactor vault account rotation
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/@/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[Dashboard] Add error handling and refactor vault account rotation (#7592)
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/@/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

fix: only require missing token amount for transactions
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
Labels: packages, sdk

changeset
  .changeset/few-moments-add.md
Labels: none

lint
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
Labels: packages, sdk

chore: move user balance query out of transaction details hook
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
Labels: packages, sdk

fix: user balance with native token
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
Labels: packages, sdk

fix: requested changes
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
Labels: packages, sdk

[SDK] Fix: only require missing token amount for transaction widget (#7591)
  .changeset/few-moments-add.md
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
Labels: packages, sdk

support-in-dashboard v1
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/SupportLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportAIChatCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCasesClient.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportTabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/account/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/connect/AffectedAreaInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/connect/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/contracts/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/engine/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/other/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/payments/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/tokens-marketplace/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_DescriptionInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_SelectInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_TextInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_UnityInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: dashboard

lint fixes
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/TeamSidebarLayout.tsx
Labels: dashboard

chore: redirect /universal-bridge -> /payments
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: dashboard

chore: redirect /universal-bridge -> /payments (#7593)
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: dashboard

Dashboard: Fix erc20 asset page crash when number of tokens claimed is a fraction (#7597)
  apps/dashboard/src/@/icons/brand-icons/DiscordIcon.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/supply-claimed-progress.stories.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/supply-claimed-progress.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-edition-drop/buy-edition-drop.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-nft-drop/buy-nft-drop-ui.client.tsx
Labels: dashboard

[TOOL-5021] SDK: Fix theme in ConnectButton Details Modal Buy screen (#7589)
  .changeset/ten-places-feel.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/stories/ConnectButton/themes.stories.tsx
Labels: packages, sdk

Improve token fetching with fallback to native balance retrieval
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, sdk

fix: adds fallback to BuyWidget when native ETH isn't supported
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
Labels: packages, sdk

Add fallback for usePaymentMethods hook on getOwnedTokens failure
  .changeset/fallback-native-balance.md
Labels: none

lint
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, sdk

[TOOL-4959] Dashboard: Asset page UI improvements (#7599)
  apps/dashboard/src/@/components/blocks/charts/area-chart.tsx
  apps/dashboard/src/@/components/ui/CopyAddressButton.tsx
  apps/dashboard/src/@/components/ui/background-patterns.tsx
  apps/dashboard/src/@/components/ui/card.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/PageHeader.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_apis/token-price-data.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractCreatorBadge.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/PriceChart.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/RecentTransfers.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/contract-analytics/contract-analytics.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_hooks/useTokenPriceData.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_utils/fetch-coin-info.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page-layout.tsx
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
