Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Dashboard: Various UI tweaks in project pages (#7905)
  apps/dashboard/src/@/components/blocks/project-page/header/link-group.tsx
  apps/dashboard/src/@/components/blocks/project-page/project-page-footer.tsx
  apps/dashboard/src/@/components/blocks/project-page/project-page-header.tsx
  apps/dashboard/src/@/components/blocks/project-page/project-page.tsx
  apps/dashboard/src/app/(app)/account/contracts/_components/DeployViaCLIOrImportCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/import-contract-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/_components.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/import/import-engine-dialog.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/components/RpcAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/cards.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/contracts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/payments/page.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/EmptyStateCard.tsx
Labels: dashboard

Dashboard: Chain Infra pages UI improvements (#7906)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/[chain_id]/_components/service-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/[chain_id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/[chain_id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/_components/deploy-infrastructure-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/layout.tsx
Labels: dashboard

feat: add support ticket feedback with CSAT integration
  apps/dashboard/package.json
  apps/dashboard/src/@/lib/supabase.ts
  apps/dashboard/src/app/(app)/components/Header/SecondaryNav/SecondaryNav.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCaseDetails.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

fix: update pnpm-lock.yaml after removing Supabase dependency
  pnpm-lock.yaml
Labels: none

fix: gate CSAT 404 fallback to non-production environments
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

[BLD-143] Dashboard: Fix distribute funds in split contract (#7907)
  apps/dashboard/src/@/hooks/useSplit.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/components/distribute-button.tsx
Labels: dashboard

Dashboard: Create Payment link dialog fixes/ui tweaks (#7908)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/CreatePaymentLinkButton.client.tsx
Labels: dashboard

fix: improve environment detection for CSAT 404 fallback
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

feat: add support ticket feedback with CSAT integration
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

fix: use API_SERVER_SECRET for CSAT endpoint following codebase standards
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

fix: revert environment variable change to restore Vercel deployment
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

fix: ensure support feedback follows codebase standards
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

fix: revert to original working environment variable pattern
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

Dashboard: Fix project links footer not sticked to the bottom on short pages (#7909)
  apps/dashboard/src/@/components/blocks/project-page/project-page.tsx
Labels: dashboard

[SDK] Add Hashkey chain configuration
  packages/thirdweb/src/chains/chain-definitions/hashkey-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/hashkey.ts
Labels: packages, sdk

[AI] Rename Chat API to Blockchain LLM and add transaction execution docs
  apps/playground-web/src/app/ai/api/chat.ts
  apps/playground-web/src/app/ai/api/types.ts
  apps/playground-web/src/app/ai/chat/page.tsx
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/ai/chat/execution/page.mdx
  apps/portal/src/app/ai/chat/page.mdx
  apps/portal/src/app/ai/chat/streaming/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  apps/portal/src/app/page.tsx
Labels: playground, portal

[Docs] Rename Chat API to Blockchain LLM and add transaction execution docs (#7904)
  apps/playground-web/src/app/ai/api/chat.ts
  apps/playground-web/src/app/ai/api/types.ts
  apps/playground-web/src/app/ai/chat/page.tsx
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/ai/chat/execution/page.mdx
  apps/portal/src/app/ai/chat/page.mdx
  apps/portal/src/app/ai/chat/streaming/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  apps/portal/src/app/page.tsx
Labels: playground, portal

feat: integrate SIWA API for support ticket feedback
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCaseDetails.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

fix: resolve server action import and environment variable issues
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCaseDetails.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
  pnpm-lock.yaml
Labels: dashboard

Implement dynamic delegation contract fetching for minimal account
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
Labels: packages, sdk

Refactor delegation contract fetching with withCache utility
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
Labels: packages, sdk

Dashboard: Update Project header style (#7920)
  apps/dashboard/src/@/components/blocks/project-page/header/link-group.tsx
  apps/dashboard/src/@/components/blocks/project-page/project-page-header.tsx
  apps/dashboard/src/@/components/contracts/import-contract/modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/import-contract-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/import/import-engine-dialog.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/cards.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/contracts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/payments/page.tsx
Labels: dashboard

Add reason code type to team capabilities response
  .changeset/fuzzy-bars-wish.md
  apps/dashboard/src/@/storybook/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

Always show Engine in sidebar regardless of instances
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
Labels: dashboard

Add reason code type to team capabilities response (#7921)
  .changeset/fuzzy-bars-wish.md
  apps/dashboard/src/@/storybook/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

Always show Engine in sidebar regardless of instances (#7929)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
Labels: dashboard

Dashboard: Fix token not added to UB on launch success (#7931)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
Labels: dashboard

fix: remove in-app wallet connection option on payment page
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
Labels: dashboard

[Dashboard]: Fix: Remove in-app wallet connection option on payment page (#7934)
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
Labels: dashboard

packages/ui: Add storybook, Add Badge, Input (#7923)
  apps/dashboard/src/@/components/ui/badge.tsx
  apps/dashboard/src/@/components/ui/input.tsx
  apps/playground-web/src/components/ui/badge.tsx
  apps/playground-web/src/components/ui/input.tsx
  apps/portal/knip.json
  apps/portal/src/components/ui/badge.tsx
  apps/portal/src/components/ui/input.tsx
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/package.json
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/button.stories.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/storybook/utils.tsx
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, portal

packages/ui: Add scroll-shadow (#7924)
  apps/dashboard/src/@/components/blocks/error-fallbacks/unexpect-value-error-message.tsx
  apps/dashboard/src/@/components/blocks/multi-select.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/@/components/chat/CustomChats.tsx
  apps/dashboard/src/@/components/cmd-k-search/index.tsx
  apps/dashboard/src/@/components/misc/configure-networks/ConfigureNetworkForm.tsx
  apps/dashboard/src/@/components/ui/ScrollShadow.tsx
  apps/dashboard/src/@/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/dashboard/src/@/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/dashboard/src/@/components/ui/code/CodeBlockContainer.tsx
  apps/dashboard/src/@/components/ui/table.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/events/events-feed.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/InstalledModulesTable.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/token-viewer/token-viewer.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayCustomersTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.client.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/ProjectSelectorUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectionUI.tsx
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/playground-web/src/app/wallets/sign-in/components/ColorFormGroup.tsx
  apps/playground-web/src/app/wallets/sign-in/components/WalletsSelection.tsx
  apps/playground-web/src/components/blocks/multi-select.tsx
  apps/playground-web/src/components/code/RenderCode.tsx
  apps/playground-web/src/components/ui/ScrollShadow.tsx
  apps/playground-web/src/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/playground-web/src/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/playground-web/src/components/ui/select-with-search.tsx
  apps/playground-web/src/components/ui/table.tsx
  apps/portal/src/components/AI/chat.tsx
  apps/portal/src/components/Document/Code.tsx
  apps/portal/src/components/Document/Table.tsx
  apps/portal/src/components/code/CodeBlockContainer.tsx
  apps/portal/src/components/code/RenderCode.tsx
  apps/portal/src/components/ui/ScrollShadow.tsx
  apps/portal/src/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/portal/src/components/ui/table.tsx
  apps/portal/src/lib/useIsomorphicLayoutEffect.ts
  packages/ui/src/components/scroll-shadow.tsx
Labels: dashboard, playground, packages, portal

packages/ui: Add breadcrumb, tooltip, table (#7926)
  apps/dashboard/knip.json
  apps/dashboard/src/@/components/ui/breadcrumb.tsx
  apps/dashboard/src/@/components/ui/table.tsx
  apps/dashboard/src/@/components/ui/tooltip.tsx
  apps/playground-web/knip.json
  apps/playground-web/src/components/ui/breadcrumb.tsx
  apps/playground-web/src/components/ui/table.tsx
  apps/playground-web/src/components/ui/tooltip.tsx
  apps/portal/knip.json
  apps/portal/src/components/ui/table.tsx
  apps/portal/src/components/ui/tooltip.tsx
  packages/ui/package.json
  packages/ui/src/components/breadcrumb.tsx
  packages/ui/src/components/table.stories.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/components/tooltip.tsx
  pnpm-lock.yaml
Labels: dashboard, playground, packages, portal

packages/ui: Add markdown-renderer (#7928)
  apps/dashboard/knip.json
  apps/dashboard/src/@/components/blocks/markdown-renderer.tsx
  apps/dashboard/src/@/components/chat/CustomChats.tsx
  apps/dashboard/src/@/components/ui/UnderlineLink.tsx
  apps/playground-web/knip.json
  apps/playground-web/src/components/ui/markdown-renderer.tsx
  apps/portal/knip.json
  apps/portal/src/components/code/code.client.tsx
  apps/portal/src/components/code/plaintext-code.tsx
  apps/portal/src/components/markdown/MarkdownRenderer.tsx
  apps/portal/src/components/ui/underline-link.tsx
  packages/ui/package.json
  packages/ui/src/components/UnderlineLink.tsx
  packages/ui/src/components/code/inline-code.tsx
  packages/ui/src/components/markdown-renderer.stories.tsx
  packages/ui/src/components/markdown-renderer.tsx
  pnpm-lock.yaml
Labels: dashboard, playground, packages, portal

feat: update payment success copy on payment page
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/SuccessScreen.tsx
  packages/thirdweb/src/stories/Bridge/SuccessScreen.stories.tsx
Labels: packages, sdk

chore: adds rainbow wallet to pay page
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
Labels: dashboard

feat: allow using the checkout widget without a wallet connected
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/DirectPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
Labels: packages, sdk

changeset
  .changeset/eager-loops-fold.md
Labels: none

lint
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
Labels: packages, sdk

changeset
  .changeset/cuddly-results-play.md
Labels: none

chore: update copy
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
Labels: packages, sdk
