Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Version Packages (#8908)
  .changeset/onramp-success-guard.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[service-utils] Scope service-key auth cache by teamId; drop timestampless cache entries
  .changeset/spicy-donuts-argue.md
  packages/service-utils/src/core/authorize/index.ts
Labels: packages

[service-utils] Do not cache service-key auth without a tenant selector
  packages/service-utils/src/core/authorize/index.ts
Labels: packages

[service-utils] Scope service-key auth cache by teamId; drop timestampless cache entries (#8912)
  .changeset/spicy-donuts-argue.md
  packages/service-utils/src/core/authorize/index.ts
Labels: packages

Version Packages (#8913)
  .changeset/spicy-donuts-argue.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

Add BravoCryptoCoin contract and update content
  apps/portal/src/app/tokens/page.mdx
Labels: portal

[Service Utils] authorize origin/bundle allowlists as a union
  .changeset/allowlist-union.md
  packages/service-utils/src/core/authorize/client.test.ts
  packages/service-utils/src/core/authorize/client.ts
Labels: packages

[Dashboard] route vault operations through api-server
  apps/dashboard/src/@/actions/project-wallet/list-server-wallets.ts
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/@/actions/vault.ts
  apps/dashboard/src/@/lib/server/project-wallet.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet-details.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/server-wallets.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/create-solana-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/wallets/page.tsx
Labels: dashboard

[Dashboard] Route vault operations through api-server (#8916)
  apps/dashboard/src/@/actions/project-wallet/list-server-wallets.ts
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/@/actions/vault.ts
  apps/dashboard/src/@/lib/server/project-wallet.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet-details.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/server-wallets.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/create-solana-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/wallets/page.tsx
Labels: dashboard

[Dashboard] Close the unlock dialog on Enter and accept className
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[Dashboard] Close the unlock dialog on Enter and accept className (#8917)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[Dashboard] Create vault service accounts through api-server
  apps/dashboard/src/@/actions/vault.ts
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/create-project/_components/create-project-form.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/wallets/vault-recovery-card.client.tsx
Labels: dashboard

[Dashboard] Create vault service accounts through api-server (#8918)
  apps/dashboard/src/@/actions/vault.ts
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/create-project/_components/create-project-form.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/wallets/vault-recovery-card.client.tsx
Labels: dashboard

[Dashboard] Send the vault rotation mode when rotating an admin key
  apps/dashboard/src/@/actions/vault.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[Dashboard] Remove the Solana access-token upgrade path
  apps/dashboard/.env.example
  apps/dashboard/knip.json
  apps/dashboard/package.json
  apps/dashboard/src/@/constants/public-envs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/upgrade-solana-permissions.client.tsx
  pnpm-lock.yaml
Labels: dashboard

[Dashboard] Derive the rotation mode from the checkbox
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[Dashboard] Send the vault rotation mode when rotating an admin key (#8919)
  apps/dashboard/src/@/actions/vault.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[Dashboard] Remove the Solana access-token upgrade path (#8920)
  apps/dashboard/.env.example
  apps/dashboard/knip.json
  apps/dashboard/package.json
  apps/dashboard/src/@/constants/public-envs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/upgrade-solana-permissions.client.tsx
  pnpm-lock.yaml
Labels: dashboard

[Dashboard] Guard the vault rotation dialog against losing new keys
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[Dashboard] Require the new keys to be captured before confirming
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[Dashboard] Guard the vault rotation dialog against losing new keys (#8921)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[Dashboard] Point AI requests at the gateway
  apps/dashboard/src/@/constants/public-envs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/api/chat.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/api/fetchWithAuthToken.ts
Labels: dashboard

[Dashboard] Fix formatting on main
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[Dashboard] Point AI requests at the gateway (#8922)
  apps/dashboard/src/@/constants/public-envs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/api/chat.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/api/fetchWithAuthToken.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[Portal] Restore Ask AI
  apps/portal/src/components/AI/api.ts
  apps/portal/src/components/AI/chat.tsx
Labels: portal

[Portal] Show a message when throttled, and key the cap consistently
  apps/portal/src/components/AI/api.ts
Labels: portal

[Portal] Restore Ask AI (#8923)
  apps/portal/src/components/AI/api.ts
  apps/portal/src/components/AI/chat.tsx
Labels: portal

Create Pajo
  apps/portal/src/app/wallets/session-keys/Pajo
Labels: portal

chore(dashboard): move chain SEO fetch to seo-pages.thirdweb.xyz
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/apis/chain-seo.ts
Labels: dashboard

chore(dashboard): don't cache transient chain-seo failures
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/apis/chain-seo.ts
Labels: dashboard

chore(dashboard): move chain SEO fetch to seo-pages.thirdweb.xyz
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/apis/chain-seo.ts
Labels: dashboard

fix: stop swallowing token lookup errors in useTokenQuery
  .changeset/token-query-error-swallow.md
  packages/thirdweb/src/react/web/ui/Bridge/common/token-query.test.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/token-query.ts
Labels: packages, sdk

[SDK] Skip flaky tests
  packages/thirdweb/src/contract/actions/resolve-abi.test.ts
  packages/thirdweb/src/extensions/airdrop/write/airdropERC721WithSignature.test.ts
  packages/thirdweb/src/extensions/erc1155/drop1155.test.ts
  packages/thirdweb/src/extensions/erc1155/write/sigMint1155.test.ts
  packages/thirdweb/src/extensions/erc20/drop20.test.ts
  packages/thirdweb/src/extensions/erc721/write/sigMint721.test.ts
  packages/thirdweb/src/extensions/modules/ClaimableERC1155/claimableERC1155.test.ts
  packages/thirdweb/src/extensions/modules/ClaimableERC20/claimableERC20.test.ts
  packages/thirdweb/src/extensions/modules/ClaimableERC721/claimableERC721.test.ts
  packages/thirdweb/src/extensions/prebuilts/process-ref-deployments.test.ts
Labels: packages, sdk

[SDK] Accept x402 v2 payment requirements that specify amount
  .changeset/x402-v2-amount.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/components/X402EmptyState.tsx
  apps/playground-web/src/app/x402/components/X402RightSection.tsx
  apps/portal/src/app/x402/server/page.mdx
  packages/thirdweb/src/react/core/hooks/x402/useFetchWithPaymentCore.ts
  packages/thirdweb/src/react/native/hooks/x402/useFetchWithPayment.ts
  packages/thirdweb/src/react/web/hooks/x402/useFetchWithPayment.tsx
  packages/thirdweb/src/react/web/ui/x402/PaymentErrorModal.tsx
  packages/thirdweb/src/x402/encode.ts
  packages/thirdweb/src/x402/fetchWithPayment.test.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/schemas.test.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/sign.ts
Labels: dashboard, playground, packages, sdk, portal

[SDK] Update insight client
  .changeset/bright-owls-sing.md
  packages/insight/src/client/client.gen.ts
  packages/insight/src/client/sdk.gen.ts
  packages/insight/src/client/types.gen.ts
  packages/thirdweb/src/insight/get-nfts.ts
Labels: packages, sdk

[SDK] Update API client
  .changeset/calm-rivers-glow.md
  apps/dashboard/src/@/hooks/useEmbeddedWallets.ts
  packages/api/src/client/sdk.gen.ts
  packages/api/src/client/types.gen.ts
Labels: dashboard, packages

[SDK] Update toml
  .changeset/quiet-pans-rest.md
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

[Repo] Update test and build tooling
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/wagmi-demo/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dashboard, packages, sdk

[Repo] Update dependencies
  package.json
  pnpm-lock.yaml
Labels: none

[Repo] Update Next.js
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/portal/redirects.mjs
  apps/wallet-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, portal, Ecosystem Portal
