Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Version Packages (#8202)
  .changeset/eleven-kings-fix.md
  .changeset/rich-pens-hug.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/ai-sdk-provider/CHANGELOG.md
  packages/ai-sdk-provider/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Portal: Add missing redirects for bridge pages (#8201)
  apps/portal/redirects.mjs
Labels: portal

Project Wallet (Default Server Wallet)
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/@/lib/project-wallet.ts
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/create-project/_components/create-project-form.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/create-server-wallet.client.tsx
Labels: dashboard

Add project wallet integration to payments UI
  apps/dashboard/src/@/lib/server/project-wallet.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/CreatePaymentLinkButton.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/PaymentLinksTable.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/payments/PayConfig.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/payments/page.tsx
Labels: dashboard

Add project wallet controls with send/receive actions
  apps/dashboard/src/@/actions/project-wallet/send-tokens.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
Labels: dashboard

Remove positive number validation for amount field
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
Labels: dashboard

Refactor send tokens action to use thirdweb API
  apps/dashboard/src/@/actions/project-wallet/send-tokens.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
Labels: dashboard

sorry
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
Labels: dashboard

[Docs] Add ERC-7702 Smart EOA session keys documentation
  apps/portal/src/app/wallets/session-keys/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
Labels: portal

[Docs] Add ERC-7702 Smart EOA session keys documentation (#8214)
  apps/portal/src/app/wallets/session-keys/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
Labels: portal

Refactor ProjectFTUX to accept wallet prop and update usage
  apps/dashboard/src/@/components/misc/AnnouncementBanner.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
Labels: dashboard

fmt
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
Labels: dashboard

Remove unused projectId prop from SendProjectWalletModal
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
Labels: dashboard

fmt
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
Labels: dashboard

[Dashboard] Add engineCloud to ActiveStatus and reduce revalidation time to 30 seconds
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
Labels: dashboard

[Dashboard] Add engineCloud to ActiveStatus and reduce revalidation time to 30 seconds (#8216)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
Labels: dashboard

SDK: Show error in BuyWidget and SwapWidget UI if fetching token details fails (#8215)
  .changeset/rare-buckets-fly.md
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/selected-token-button.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk

save address in project services, set as default from server wallets table
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/@/lib/server/project-wallet.ts
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/create-project/_components/create-project-form.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

CR
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
Labels: dashboard

Add ability to change default project server wallet
  apps/dashboard/src/@/actions/project-wallet/list-server-wallets.ts
  apps/dashboard/src/@/lib/server/project-wallet.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
Labels: dashboard

Project Wallet (Default Server Wallet) (#8212)
  apps/dashboard/src/@/actions/project-wallet/list-server-wallets.ts
  apps/dashboard/src/@/actions/project-wallet/send-tokens.ts
  apps/dashboard/src/@/components/misc/AnnouncementBanner.tsx
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/@/lib/project-wallet.ts
  apps/dashboard/src/@/lib/server/project-wallet.ts
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/create-project/_components/create-project-form.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/CreatePaymentLinkButton.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/PaymentLinksTable.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/payments/PayConfig.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

[thirdweb] Export missing x402 types
  .changeset/fluffy-cooks-kiss.md
  .changeset/warm-jokes-vanish.md
  apps/portal/src/app/wallets/session-keys/page.mdx
  packages/engine/src/client/types.gen.ts
  packages/thirdweb/src/engine/server-wallet.ts
  packages/thirdweb/src/exports/x402.ts
Labels: packages, sdk, portal

[SDK] Export missing x402 types (#8218)
  .changeset/fluffy-cooks-kiss.md
  .changeset/warm-jokes-vanish.md
  apps/portal/src/app/wallets/session-keys/page.mdx
  packages/engine/src/client/types.gen.ts
  packages/thirdweb/src/engine/server-wallet.ts
  packages/thirdweb/src/exports/x402.ts
Labels: packages, sdk, portal

Version Packages (#8217)
  .changeset/fluffy-cooks-kiss.md
  .changeset/rare-buckets-fly.md
  .changeset/warm-jokes-vanish.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Refactor project wallet setup and controls UI
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletSetup.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
Labels: dashboard

Add missing ERC7702 exports for documentation
  packages/thirdweb/src/exports/extensions/erc7702.ts
Labels: packages, sdk

Refactor project wallet setup and controls UI (#8220)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletSetup.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
Labels: dashboard

Refactor ProjectFTUX API key integration section
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/IntegrateAPIKeyCodeTabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
Labels: dashboard

Remove IntegrateAPIKeyCodeTabs component
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/IntegrateAPIKeyCodeTabs.tsx
Labels: dashboard

Refactor ProjectFTUX component for consistent formatting
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
Labels: dashboard

fmt
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
Labels: dashboard

Refactor ProjectFTUX API key integration section (#8225)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/IntegrateAPIKeyCodeTabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
Labels: dashboard

[BLD-395] Dashboard: Show error UI when parsing CSV fails (#8223)
  apps/dashboard/src/@/hooks/useCsvUpload.ts
Labels: dashboard

[MNY-246] Dashboard: Add Buy button in tokens table, update supported tokens count (#8222)
  apps/dashboard/src/app/(app)/(dashboard)/tokens/components/tokens-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tokens/page.tsx
  apps/dashboard/src/app/bridge/page.tsx
Labels: dashboard

Export ERC7702 MinimalAccount helpers and events
  packages/thirdweb/src/exports/wallets/in-app.native.ts
  packages/thirdweb/src/exports/wallets/in-app.ts
Labels: packages, sdk

Export ERC7702 MinimalAccount helpers and events (#8227)
  packages/thirdweb/src/exports/wallets/in-app.native.ts
  packages/thirdweb/src/exports/wallets/in-app.ts
Labels: packages, sdk

Changeset for a0c45cb25dc34ff795c363f5406beadf9622e22c
  .changeset/public-mails-nail.md
Labels: none

Changeset for a0c45cb25dc34ff795c363f5406beadf9622e22c (#8228)
  .changeset/public-mails-nail.md
Labels: none

Version Packages (#8229)
  .changeset/public-mails-nail.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[x402] Add recipientAddress to payment request and replace deprecated payTo
  .changeset/loud-apples-poke.md
  .changeset/lucky-meals-join.md
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/types.ts
Labels: packages, sdk
