Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

fix: update refetch interval
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithCryptoQuote.ts
Labels: packages, sdk

fix
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
Labels: packages, sdk

fix: onramp improvements (#6437)
  .changeset/puny-breads-return.md
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithCryptoQuote.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
Labels: packages, sdk

Version Packages (#6435)
  .changeset/chilly-trams-wash.md
  .changeset/puny-breads-return.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Improve .NET/Unity Documentation (#6438)
  apps/portal/src/app/dotnet/insight/quickstart/page.mdx
  apps/portal/src/app/dotnet/nebula/quickstart/page.mdx
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/utils/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/engine-wallet/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/private-key/page.mdx
  apps/portal/src/app/unity/v5/sidebar.tsx
Labels: portal

feat: adds otp cooldown timer
  .changeset/deep-shirts-worry.md
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
Labels: packages, sdk

Feature: Adds OTP cooldown timer (#6439)
  .changeset/deep-shirts-worry.md
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
Labels: packages, sdk

[TOOL-3640] Dashboard: Add sponsored transactions table in team usage page (#6434)
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/@/components/blocks/ExportToCSVButton.tsx
  apps/dashboard/src/@/components/blocks/Img.tsx
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTable.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTableUI.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTableUI.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/index.tsx
Labels: dashboard

[TOOL-3639] Dashboard: Pay > Universal Bridge renaming (#6431)
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/header.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  packages/service-utils/src/core/services.ts
Labels: dashboard, packages

Create codeql.yml
  .github/workflows/codeql.yml
Labels: none

Create RPC
  .github/workflows/RPC
Labels: none

Create Transaction.yml
  .github/workflows/Transaction.yml
Labels: none

Update and rename RPC to mychain.js
  .github/workflows/mychain.js
Labels: none

added account docs
  apps/portal/src/app/account/account-info/page.mdx
  apps/portal/src/app/account/api-keys/assets/smart-wallet-api-key.png
  apps/portal/src/app/account/api-keys/create/page.mdx
  apps/portal/src/app/account/api-keys/edit-services/page.mdx
  apps/portal/src/app/account/api-keys/faq/page.mdx
  apps/portal/src/app/account/api-keys/page.mdx
  apps/portal/src/app/account/billing/account-info/page.mdx
  apps/portal/src/app/account/billing/credits/assets/credits-page.png
  apps/portal/src/app/account/billing/credits/assets/team-settings.png
  apps/portal/src/app/account/billing/credits/opimg1.png
  apps/portal/src/app/account/billing/credits/opimg2.png
  apps/portal/src/app/account/billing/credits/page.mdx
  apps/portal/src/app/account/billing/manage-billing/page.mdx
  apps/portal/src/app/account/billing/manage-team/assets/manage-team.png
  apps/portal/src/app/account/billing/manage-team/page.mdx
  apps/portal/src/app/account/billing/view-usage/page.mdx
  apps/portal/src/app/account/create-account/assets/allowed-domains.png
  apps/portal/src/app/account/create-account/assets/invite-team.png
  apps/portal/src/app/account/create-account/assets/login-screen.png
  apps/portal/src/app/account/create-account/assets/secret-key.png
  apps/portal/src/app/account/create-account/assets/setup-team.png
  apps/portal/src/app/account/create-account/page.mdx
  apps/portal/src/app/account/faq/page.mdx
  apps/portal/src/app/account/link-accounts/assets/link-account-confirm.png
  apps/portal/src/app/account/link-accounts/assets/link-account.png
  apps/portal/src/app/account/link-accounts/assets/linked-account-dash.png
  apps/portal/src/app/account/link-accounts/assets/my-account-tab.png
  apps/portal/src/app/account/link-accounts/page.mdx
  apps/portal/src/app/account/sidebar.tsx
Labels: portal

added API key docs
  apps/portal/src/app/account/api-keys/access/assets/access-restrictions.png
  apps/portal/src/app/account/api-keys/access/page.mdx
  apps/portal/src/app/account/api-keys/assets/all-services.png
  apps/portal/src/app/account/api-keys/assets/project-overview.png
  apps/portal/src/app/account/api-keys/assets/select-edit.png
  apps/portal/src/app/account/api-keys/delete/assets/delete-project.png
  apps/portal/src/app/account/api-keys/delete/page.mdx
  apps/portal/src/app/account/api-keys/edit-services/assets/enabled-services.png
  apps/portal/src/app/account/api-keys/edit-services/page.mdx
  apps/portal/src/app/account/billing/manage-team/page.mdx
  apps/portal/src/app/account/create-account/page.mdx
  apps/portal/src/app/account/faq/page.mdx
Labels: portal

Version Packages (#6440)
  .changeset/deep-shirts-worry.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

BREAKING: Removes 3D model support on MediaRenderer
  .changeset/slow-mails-ring.md
  packages/thirdweb/package.json
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.tsx
  packages/thirdweb/src/react/web/ui/MediaRenderer/ModelViewer.tsx
  pnpm-lock.yaml
Labels: packages, sdk

chore: improved error hint
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.tsx
Labels: packages, sdk

lint
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.tsx
Labels: packages, sdk

BREAKING: Removes 3D model support on MediaRenderer (#6443)
  .changeset/slow-mails-ring.md
  packages/thirdweb/package.json
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.tsx
  packages/thirdweb/src/react/web/ui/MediaRenderer/ModelViewer.tsx
  pnpm-lock.yaml
Labels: packages, sdk

Version Packages (#6445)
  .changeset/slow-mails-ring.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Dashboard] Feature: update dashboard routes page to handle more routes (#6446)
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/opengraph-image.png
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/types/route.ts
Labels: dashboard

[Portal] Account Docs (#6442)
  apps/portal/src/app/account/account-info/page.mdx
  apps/portal/src/app/account/api-keys/access/assets/access-restrictions.png
  apps/portal/src/app/account/api-keys/access/page.mdx
  apps/portal/src/app/account/api-keys/assets/all-services.png
  apps/portal/src/app/account/api-keys/assets/project-overview.png
  apps/portal/src/app/account/api-keys/assets/select-edit.png
  apps/portal/src/app/account/api-keys/assets/smart-wallet-api-key.png
  apps/portal/src/app/account/api-keys/create/page.mdx
  apps/portal/src/app/account/api-keys/delete/assets/delete-project.png
  apps/portal/src/app/account/api-keys/delete/page.mdx
  apps/portal/src/app/account/api-keys/edit-services/assets/enabled-services.png
  apps/portal/src/app/account/api-keys/edit-services/page.mdx
  apps/portal/src/app/account/api-keys/faq/page.mdx
  apps/portal/src/app/account/api-keys/page.mdx
  apps/portal/src/app/account/billing/account-info/page.mdx
  apps/portal/src/app/account/billing/credits/assets/credits-page.png
  apps/portal/src/app/account/billing/credits/assets/team-settings.png
  apps/portal/src/app/account/billing/credits/opimg1.png
  apps/portal/src/app/account/billing/credits/opimg2.png
  apps/portal/src/app/account/billing/credits/page.mdx
  apps/portal/src/app/account/billing/manage-billing/page.mdx
  apps/portal/src/app/account/billing/manage-team/assets/manage-team.png
  apps/portal/src/app/account/billing/manage-team/page.mdx
  apps/portal/src/app/account/billing/view-usage/page.mdx
  apps/portal/src/app/account/create-account/assets/allowed-domains.png
  apps/portal/src/app/account/create-account/assets/invite-team.png
  apps/portal/src/app/account/create-account/assets/login-screen.png
  apps/portal/src/app/account/create-account/assets/secret-key.png
  apps/portal/src/app/account/create-account/assets/setup-team.png
  apps/portal/src/app/account/create-account/page.mdx
  apps/portal/src/app/account/faq/page.mdx
  apps/portal/src/app/account/link-accounts/assets/link-account-confirm.png
  apps/portal/src/app/account/link-accounts/assets/link-account.png
  apps/portal/src/app/account/link-accounts/assets/linked-account-dash.png
  apps/portal/src/app/account/link-accounts/assets/my-account-tab.png
  apps/portal/src/app/account/link-accounts/page.mdx
  apps/portal/src/app/account/sidebar.tsx
Labels: portal

[SDK] fix: Handle authorizationList tx prop in ethers5 adapter
  .changeset/true-actors-agree.md
  packages/thirdweb/src/adapters/ethers5.test.ts
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/adapters/ethers6.test.ts
Labels: packages, sdk

[SDK] fix: Handle authorizationList tx prop in ethers5 adapter (#6447)
  .changeset/true-actors-agree.md
  packages/thirdweb/src/adapters/ethers5.test.ts
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/adapters/ethers6.test.ts
Labels: packages, sdk

[SDK] fix: EIP1193 provider value filtering in transactions
  .changeset/small-taxis-jog.md
  packages/thirdweb/src/adapters/eip1193/to-eip1193.test.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
Labels: packages, sdk

[SDK] fix: EIP1193 provider value filtering in transactions (#6449)
  .changeset/small-taxis-jog.md
  packages/thirdweb/src/adapters/eip1193/to-eip1193.test.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
Labels: packages, sdk

[SDK] test: Add factory address to smart wallet test
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: packages, sdk

[SDK] test: Add factory address to smart wallet test (#6450)
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: packages, sdk

Version Packages (#6448)
  .changeset/small-taxis-jog.md
  .changeset/true-actors-agree.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Fix lock file diff
  pnpm-lock.yaml
Labels: none

Fix pnpm lock file diff
  pnpm-lock.yaml
Labels: none

Fix hydration issues, update caching logic
  .gitignore
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  pnpm-lock.yaml
Labels: dashboard

reduce diff
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
Labels: dashboard

remove cached chains if context filter is passed empty chain ids array
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
Labels: dashboard

wrap local storage writes in try catch
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
Labels: dashboard

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Add newline to README.md with GPG signing
  README.md
Labels: none
