Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Add text input option to airdrop setup (#7238)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/distribution/token-airdrop.tsx
  apps/dashboard/src/hooks/useCsvUpload.ts
Labels: dashboard

feat: add comprehensive insufficient funds error tracking across SDK with helper functions, transaction execution/preparation tracking, and comprehensive test coverage
  packages/thirdweb/src/analytics/track/helpers.test.ts
  packages/thirdweb/src/analytics/track/helpers.ts
  packages/thirdweb/src/analytics/track/transaction.test.ts
  packages/thirdweb/src/analytics/track/transaction.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
  packages/thirdweb/src/transaction/actions/simulate.ts
  packages/thirdweb/src/transaction/extract-error.ts
  packages/thirdweb/src/wallets/injected/index.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

[SDK] Feature: Track insufficient funds error across SDK (#7256)
  packages/thirdweb/src/analytics/track/helpers.test.ts
  packages/thirdweb/src/analytics/track/helpers.ts
  packages/thirdweb/src/analytics/track/transaction.test.ts
  packages/thirdweb/src/analytics/track/transaction.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
  packages/thirdweb/src/transaction/actions/simulate.ts
  packages/thirdweb/src/transaction/extract-error.ts
  packages/thirdweb/src/wallets/injected/index.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

[Connect] Add Bundler API reference documentation
  apps/portal/src/app/connect/account-abstraction/api/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/page.tsx
Labels: portal

[Docs] Add Bundler API reference documentation (#7257)
  apps/portal/src/app/connect/account-abstraction/api/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/page.tsx
Labels: portal

[Dashboard] Add support for Sophon mainnet
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

[Dashboard] Add support for Sophon mainnet (#7258)
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

[Dashboard] move onramp countries page
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/onramp/countries/components/client/provider.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/onramp/countries/components/server/countries-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/onramp/countries/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/types/onramp-country.ts
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/utils.ts
Labels: dashboard

[TOOL-4645] Dashboard: Improve Project overview page loading performance (#7261)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/EngineCloudChartCard/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/RpcMethodBarChartCard/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/Transactions/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/components/analytics/empty-chart-state.tsx
Labels: dashboard

Enhance payment documentation: Update feature cards and add SDK modules section
  apps/portal/src/app/pay/page.mdx
Labels: portal

[SDK] Force legacy for Plume 98866
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, sdk

Update payment documentation: Revise sidebar links and enhance installation guide
  apps/portal/src/app/pay/get-started/page.mdx
  apps/portal/src/app/pay/sidebar.tsx
Labels: portal

[SDK] Force legacy for Plume 98866 (#7263)
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, sdk

Refactor payment documentation: Update sidebar links and remove outdated guides
  apps/portal/src/app/pay/guides/accept-direct-payments/page.mdx
  apps/portal/src/app/pay/guides/build-a-custom-experience/page.mdx
  apps/portal/src/app/pay/guides/cross-chain-swapping/page.mdx
  apps/portal/src/app/pay/guides/smart-accounts/page.mdx
  apps/portal/src/app/pay/sidebar.tsx
Labels: portal

Update payment documentation: Revise sidebar and add onramp integration guide
  apps/portal/src/app/pay/guides/onramp-integration/page.mdx
  apps/portal/src/app/pay/sidebar.tsx
  apps/portal/src/app/pay/testing-pay/page.mdx
Labels: portal

Update sidebar links in payment documentation: Rename "Swap Smart Accounts" to "Swap with Smart Accounts" and add new "NFT Checkout" guide for improved user navigation.
  apps/portal/src/app/pay/guides/nft-checkout/page.mdx
  apps/portal/src/app/pay/sidebar.tsx
Labels: portal

Update payment documentation: Modify sidebar link for Universal Bridge and enhance NFT checkout guide with new imports for improved functionality.
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/connect/universal-bridge/layout.tsx
  apps/portal/src/app/pay/guides/nft-checkout/page.mdx
Labels: dashboard, portal

Fix NFT checkout guide: Add missing closing tags for Step components to ensure proper rendering in documentation.
  apps/portal/src/app/pay/guides/nft-checkout/page.mdx
Labels: portal

Feature: Update UB Docs for latest SDK and Guides (#7265)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/connect/universal-bridge/layout.tsx
  apps/portal/src/app/pay/get-started/page.mdx
  apps/portal/src/app/pay/guides/accept-direct-payments/page.mdx
  apps/portal/src/app/pay/guides/build-a-custom-experience/page.mdx
  apps/portal/src/app/pay/guides/cross-chain-swapping/page.mdx
  apps/portal/src/app/pay/guides/nft-checkout/page.mdx
  apps/portal/src/app/pay/guides/onramp-integration/page.mdx
  apps/portal/src/app/pay/guides/smart-accounts/page.mdx
  apps/portal/src/app/pay/page.mdx
  apps/portal/src/app/pay/sidebar.tsx
  apps/portal/src/app/pay/testing-pay/page.mdx
Labels: dashboard, portal

[TOOL-4670] Dashboard: Update Managed Engine CTA, UI tweaks (#7266)
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/overview/engine-instances-table.tsx
Labels: dashboard

[TOOL-4667] Dashboard: Various improvements in ERC20 asset creation flow (#7264)
  apps/dashboard/src/@/components/blocks/multi-step-status/multi-step-status.stories.tsx
  apps/dashboard/src/@/components/blocks/multi-step-status/multi-step-status.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/cards.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/distribution/token-distribution.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token-info-fieldset.tsx
  apps/dashboard/src/components/contract-components/tables/cells.tsx
  apps/dashboard/src/components/contract-components/tables/contract-table.tsx
  apps/dashboard/src/utils/errorParser.tsx
Labels: dashboard

[TOOL-4651] Dashboard: Show error on invalid token distribution in ERC20 asset creation form (#7260)
  apps/dashboard/src/@/components/blocks/distribution-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/create-token-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/distribution/token-distribution.tsx
Labels: dashboard

[TOOL-4642] Fix useTxNotifications errors not shown in project contract pages (#7259)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/layout.tsx
Labels: dashboard

[SDK] Support EIP7702 execution for ecosystem wallets
  .changeset/small-moons-add.md
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/EcosystemPermissionsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/auth-options-section.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/types.ts
  apps/playground-web/src/components/in-app-wallet/ecosystem.tsx
  packages/thirdweb/src/wallets/ecosystem/get-ecosystem-wallet-auth-options.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
Labels: dashboard, playground, packages, sdk

[TOOL-4673] Dashboard: Enable posthog session recording for nebula app (#7267)
  apps/dashboard/src/app/(app)/layout.tsx
  apps/dashboard/src/app/bridge/components/client/Providers.client.tsx
  apps/dashboard/src/app/bridge/layout.tsx
  apps/dashboard/src/app/nebula-app/layout.tsx
  apps/dashboard/src/app/pay/components/client/Providers.client.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/lib/posthog/Posthog.tsx
Labels: dashboard

[Dashboard] Add crypto top-up functionality for account credits
  apps/dashboard/src/@/actions/stripe-actions.ts
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/utils/billing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/credit-balance-section.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: dashboard

[Dashboard] Add crypto top-up functionality for account credits (#7239)
  apps/dashboard/src/@/actions/stripe-actions.ts
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/utils/billing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/credit-balance-section.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: dashboard

[Dashboard] Fix Stripe balance calculation in getStripeBalance function
  apps/dashboard/src/@/actions/stripe-actions.ts
Labels: dashboard

[Dashboard] Fix Stripe balance calculation in getStripeBalance function (#7269)
  apps/dashboard/src/@/actions/stripe-actions.ts
Labels: dashboard

[Dashboard] Add crypto payment option for invoices
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/utils/billing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/credit-balance-section.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/invoices/components/billing-history.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/invoices/page.tsx
Labels: dashboard

[Dashboard] Add crypto payment option for invoices (#7270)
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/utils/billing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/credit-balance-section.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/invoices/components/billing-history.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/invoices/page.tsx
Labels: dashboard

[SDK] Support EIP7702 execution for ecosystem wallets (#7268)
  .changeset/small-moons-add.md
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/EcosystemPermissionsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/auth-options-section.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/types.ts
  apps/playground-web/src/components/in-app-wallet/ecosystem.tsx
  packages/thirdweb/src/wallets/ecosystem/get-ecosystem-wallet-auth-options.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
Labels: dashboard, playground, packages, sdk

Version Packages (#7245)
  .changeset/shaky-seals-cheer.md
  .changeset/small-moons-add.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Dashboard] Fix peak rate date formatting with error handling
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/rpc/page.tsx
Labels: dashboard

[Dashboard] Fix peak rate date formatting with error handling (#7271)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/rpc/page.tsx
Labels: dashboard

refactor: account for fee action
  packages/thirdweb/src/bridge/types/BridgeAction.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, sdk

Dashboard: Poll for active claim condition before continuing with minting in coin launch (#7273)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/create-token-page-impl.tsx
Labels: dashboard

fix: disable start transaction button on autostart
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

[Dashboard] Restrict billing actions to team owners only (#7274)
  apps/dashboard/src/@/components/billing.tsx
  apps/dashboard/src/@/components/ui/button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/credit-balance-section.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/invoices/components/billing-history.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/invoices/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/layout.tsx
  apps/dashboard/src/components/analytics/empty-chart-state.tsx
  apps/dashboard/src/components/settings/Account/Billing/CancelPlanModal/CancelPlanModal.tsx
  apps/dashboard/src/components/settings/Account/Billing/renew-subscription/renew-subscription-button.tsx
Labels: dashboard

fix: respect updated amount
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/core/utils/persist.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/DirectPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/stories/Bridge/DirectPayment.stories.tsx
  packages/thirdweb/src/stories/Bridge/FundWallet.stories.tsx
Labels: packages, sdk
