Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

lint
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/app/connect/pay/embed/page.tsx
  apps/playground-web/src/components/pay/direct-payment.tsx
  apps/playground-web/src/components/pay/embed.tsx
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuotesForProviders.ts
  packages/thirdweb/src/react/core/hooks/useBridgeError.ts
  packages/thirdweb/src/react/core/hooks/useBridgeQuote.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/core/utils/persist.ts
  packages/thirdweb/src/react/native/adapters/WindowAdapter.ts
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/ErrorBanner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/TokenSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/PaymentReceipt.tsx
  packages/thirdweb/src/stories/Bridge/fixtures.ts
Labels: playground, packages, sdk

[Dashboard] Rename getMemberById to getMemberByAccountId and add onboarding banner
  apps/dashboard/src/@/api/team-members.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(app)/account/page.tsx
  apps/dashboard/src/app/(app)/components/TeamPlanBadge.tsx
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/(app)/login/onboarding/isOnboardingRequired.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/invoices/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
Labels: dashboard

[Docs] UB (#7333)
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/pay/troubleshoot/page.mdx
Labels: portal

[Dashboard] Rename getMemberById to getMemberByAccountId and add onboarding banner (#7334)
  apps/dashboard/src/@/api/team-members.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(app)/account/page.tsx
  apps/dashboard/src/app/(app)/components/TeamPlanBadge.tsx
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/(app)/login/onboarding/isOnboardingRequired.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/invoices/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
Labels: dashboard

Update implementations (#7335)
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: packages, sdk

feat: agents v2 hooks.
  apps/dashboard/package.json
  apps/dashboard/src/app/nebula-app/(app)/agents/create/create-agent-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/agents/nebula-agents-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/hooks/agents/useAgents.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/agents/useCreateAgent.ts
  pnpm-lock.yaml
Labels: dashboard

Update drop721.test.ts
  packages/thirdweb/src/extensions/erc721/drop721.test.ts
Labels: packages, sdk

feat: removed worldcoin provider.
  apps/dashboard/package.json
  apps/dashboard/src/app/nebula-app/(app)/_worldcoin/minikit-provider.tsx
  apps/dashboard/src/app/nebula-app/providers.tsx
  pnpm-lock.yaml
Labels: dashboard

feat: removed .well-known public folder.
  apps/dashboard/public/.well-known/apple-developer-merchantid-domain-association
Labels: dashboard

fix: remove commented log.
  apps/dashboard/src/middleware.ts
Labels: dashboard

[Nebula] Feature: Farcaster Mini App (#7330)
  apps/dashboard/.env.example
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/dashboard/public/.well-known/apple-app-site-association
  apps/dashboard/public/.well-known/apple-developer-merchantid-domain-association
  apps/dashboard/public/.well-known/assetlinks.json
  apps/dashboard/public/assets/nebula/frame/ask-nebula-pfp.png
  apps/dashboard/public/assets/nebula/frame/ask-nebula-pfp.svg
  apps/dashboard/public/assets/nebula/frame/farcaster-logo.svg
  apps/dashboard/public/assets/nebula/frame/frame.png
  apps/dashboard/public/assets/nebula/frame/hero.svg
  apps/dashboard/public/assets/nebula/frame/icon.png
  apps/dashboard/public/assets/nebula/frame/icon.svg
  apps/dashboard/public/assets/nebula/frame/og.svg
  apps/dashboard/public/assets/nebula/frame/screenshot.svg
  apps/dashboard/public/assets/nebula/frame/splash.png
  apps/dashboard/public/assets/nebula/frame/splash.svg
  apps/dashboard/public/assets/nebula/frame/thirdweb-logo.png
  apps/dashboard/public/assets/nebula/frame/user-logo.svg
  apps/dashboard/src/app/.well-known/apple-app-site-association.json/route.ts
  apps/dashboard/src/app/.well-known/apple-developer-merchantid-domain-association/route.ts
  apps/dashboard/src/app/.well-known/assetlinks.json/route.ts
  apps/dashboard/src/app/.well-known/farcaster.json/route.ts
  apps/dashboard/src/app/nebula-app/(app)/_farcaster/miniapp-provider.tsx
  apps/dashboard/src/app/nebula-app/layout.tsx
  apps/dashboard/src/app/nebula-app/providers.tsx
  apps/dashboard/src/middleware.ts
  pnpm-lock.yaml
Labels: dashboard

fix: fixed security headers.
  apps/dashboard/next.config.ts
Labels: dashboard

fix: fixed security headers.
  apps/dashboard/next.config.ts
Labels: dashboard

fix: update playground bridge form
  apps/playground-web/src/app/connect/pay/components/CodeGen.tsx
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
Labels: playground, packages, sdk

[Dashboard] Add Google Tag Manager and PostHog to CSP script sources
  apps/dashboard/next.config.ts
Labels: dashboard

[Dashboard] Add Google Tag Manager and PostHog to CSP script sources (#7338)
  apps/dashboard/next.config.ts
Labels: dashboard

feat: clarify webhook disclaimer
  apps/portal/src/app/pay/webhooks/page.mdx
Labels: portal

chore: update team/account docs for team management
  apps/portal/src/app/account/billing/manage-team/page.mdx
  apps/portal/src/app/account/page.mdx
  apps/portal/src/app/account/sidebar.tsx
  apps/portal/src/app/account/teams/assets/manage-team.png
  apps/portal/src/app/account/teams/manage-team-members/page.mdx
  apps/portal/src/app/account/teams/manage-teams/page.mdx
Labels: portal

chore: update team/account docs for team management (#7341)
  apps/portal/src/app/account/billing/manage-team/page.mdx
  apps/portal/src/app/account/page.mdx
  apps/portal/src/app/account/sidebar.tsx
  apps/portal/src/app/account/teams/assets/manage-team.png
  apps/portal/src/app/account/teams/manage-team-members/page.mdx
  apps/portal/src/app/account/teams/manage-teams/page.mdx
Labels: portal

Update page.mdx
  apps/portal/src/app/pay/page.mdx
Labels: portal

tests
  packages/thirdweb/src/react/core/hooks/useStepExecutor.test.ts
Labels: packages, sdk

Feature: clarify webhook disclaimer (#7339)
  apps/portal/src/app/pay/webhooks/page.mdx
Labels: portal

lint
  apps/dashboard/src/stories/utils.tsx
  packages/thirdweb/knip.json
  packages/thirdweb/package.json
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuotesForProviders.ts
  packages/thirdweb/src/react/core/hooks/useBridgeError.ts
  packages/thirdweb/src/react/core/hooks/useBridgeQuote.ts
  packages/thirdweb/src/react/core/hooks/useBridgeRoutes.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.test.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnectCore.test.tsx
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/core/utils/persist.ts
  packages/thirdweb/src/react/native/adapters/WindowAdapter.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/ErrorBanner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/TokenAndChain.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/TokenSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/PaymentReceipt.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
  packages/thirdweb/src/stories/Bridge/BridgeOrchestrator.stories.tsx
  packages/thirdweb/src/stories/Bridge/DirectPayment.stories.tsx
  packages/thirdweb/src/stories/Bridge/ErrorBanner.stories.tsx
  packages/thirdweb/src/stories/Bridge/FundWallet.stories.tsx
  packages/thirdweb/src/stories/Bridge/PaymentDetails.stories.tsx
  packages/thirdweb/src/stories/Bridge/PaymentSelection.stories.tsx
  packages/thirdweb/src/stories/Bridge/StepRunner.stories.tsx
  packages/thirdweb/src/stories/Bridge/SuccessScreen.stories.tsx
  packages/thirdweb/src/stories/Bridge/TransactionPayment.stories.tsx
  packages/thirdweb/src/stories/Bridge/fixtures.ts
  packages/thirdweb/src/stories/TokenBalanceRow.stories.tsx
  packages/thirdweb/src/stories/utils.tsx
  packages/thirdweb/src/wallets/connection/autoConnectCore.test.ts
  pnpm-lock.yaml
Labels: dashboard, packages, sdk

lint
  packages/thirdweb/package.json
Labels: packages, sdk

lint
  apps/dashboard/src/stories/utils.tsx
Labels: dashboard

install
  pnpm-lock.yaml
Labels: none

fix build
  .changeset/icy-eyes-show.md
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/PayModal.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

feat: add UI hooks ~ fix: AI package.
  apps/dashboard/src/app/nebula-app/(app)/agents/nebula-agents-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/hooks/agents/useAgent.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/agents/useAgents.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/agents/useCreateAgent.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/agents/useDeleteAgent.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/agents/useUpdateAgent.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/conversations/useConversation.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/conversations/useConversations.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/conversations/useCreateConversation.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/conversations/useDeleteConversation.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/conversations/useUpdateConversation.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/messages/useCreateMessage.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/messages/useUpdateMessage.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/tools/useAgentTool.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/tools/useCreateAgentTool.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/tools/useDeleteAgentTool.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/tools/useUpdateAgentTool.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/triggers/useAgentTrigger.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/triggers/useCreateAgentTrigger.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/triggers/useDeleteAgentTrigger.ts
  apps/dashboard/src/app/nebula-app/(app)/hooks/triggers/useUpdateAgentTrigger.ts
  packages/ai/src/configure.ts
  packages/ai/src/exports/thirdweb.ts
Labels: dashboard, packages

feat: update pages.
  apps/dashboard/src/app/nebula-app/(app)/agents/create/create-agent-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/agents/create/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/agents/nebula-agents-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/agents/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/hooks/agents/useAgents.ts
Labels: dashboard

feat: sort packages.
  apps/dashboard/package.json
  apps/dashboard/src/app/nebula-app/(app)/agents/nebula-agents-page.tsx
Labels: dashboard

[TOOL-4802] NFT Asset Page (#7332)
  .changeset/red-cooks-juggle.md
  apps/dashboard/src/@/components/Responsive.tsx
  apps/dashboard/src/@/components/blocks/media-renderer.tsx
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/@/components/pagination-buttons.tsx
  apps/dashboard/src/@/constants/server-envs.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/newPublicPage.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/shared-nfts-token-page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/shared-nfts-page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/PageHeader.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/supply-claimed-progress.stories.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/supply-claimed-progress.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/token-price.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.stories.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/client-utils.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/format.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page-layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-edition-drop/buy-edition-drop.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-nft-drop/buy-nft-drop-card.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-nft-drop/buy-nft-drop-card.server.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-nft-drop/buy-nft-drop-ui.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-nft-drop/buy-nft-drop-ui.stories.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-nft-drop/buy-nft-drop.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/nfts-grid.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/tabs.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/token-viewer/token-viewer.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/utils.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/shared-layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/shared-overview-page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/components/uri-based-deploy.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/cards.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/nft/_common/tracking.ts
  apps/dashboard/src/components/contract-components/contract-deploy-form/add-to-project-card.stories.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/add-to-project-card.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  packages/thirdweb/src/utils/nft/parseNft.ts
Labels: dashboard, packages, sdk

[TOOL-4821] Improve Team members search (#7346)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/members/ManageMembersSection.tsx
Labels: dashboard

[TOOL-4819] Dashboard: Load all engine backend wallets, add pagination in table (#7347)
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/overview/components/engine-overview.tsx
Labels: dashboard

lint
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

nit: remove @buyCrypto tag
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
Labels: packages, sdk

chore: adds changeset
  .changeset/calm-suits-stare.md
Labels: none

fix: Remove AI tasks lists
  packages/thirdweb/src/react/PRODUCT.md
  packages/thirdweb/src/react/TASK_LIST.md
  packages/thirdweb/src/react/TECH_SPEC.md
Labels: packages, sdk

fix: storybook versions
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

lint
  apps/playground-web/src/app/connect/pay/components/CodeGen.tsx
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
Labels: playground

remove storybook-dependant tests
  packages/thirdweb/src/react/core/hooks/useStepExecutor.test.ts
Labels: packages, sdk
