Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

feat: create/delete teams (#7293)
  apps/dashboard/src/@/actions/createTeam.ts
  apps/dashboard/src/@/actions/deleteTeam.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(app)/account/components/AccountHeader.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/(app)/account/overview/AccountTeamsUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/general/GeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamAndProjectSelectorPopoverButton.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectionUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectorMobileMenuButton.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/app/(app)/team/~/[[...paths]]/page.tsx
Labels: dashboard

feat: update decimals.
  apps/dashboard/src/app/nebula-app/(app)/components/Swap/SwapCards.tsx
  apps/dashboard/src/app/nebula-app/_utils/tokensUtils.ts
Labels: dashboard

feat: update with neynar and farcaster.json
  apps/dashboard/package.json
  apps/dashboard/public/.well-known/farcaster.json
  apps/dashboard/public/assets/nebula/frame/ask-nebula-pfp.png
  apps/dashboard/public/assets/nebula/frame/ask-nebula-pfp.svg
  apps/dashboard/public/assets/nebula/frame/farcaster-logo.svg
  apps/dashboard/public/assets/nebula/frame/frame.png
  apps/dashboard/public/assets/nebula/frame/hero.svg
  apps/dashboard/public/assets/nebula/frame/icon.png
  apps/dashboard/public/assets/nebula/frame/icon.svg
  apps/dashboard/public/assets/nebula/frame/og.svg
  apps/dashboard/public/assets/nebula/frame/screenshot.svg
  apps/dashboard/public/assets/nebula/frame/splash.png
  apps/dashboard/public/assets/nebula/frame/splash.svg
  apps/dashboard/public/assets/nebula/frame/thirdweb-logo.png
  apps/dashboard/public/assets/nebula/frame/user-logo.svg
  apps/dashboard/src/app/nebula-app/_farcaster/miniapp-context.tsx
  apps/dashboard/src/app/nebula-app/layout.tsx
  apps/dashboard/src/app/nebula-app/providers.tsx
  pnpm-lock.yaml
Labels: dashboard

feat: working mini app login.
  apps/dashboard/next.config.ts
  apps/dashboard/public/.well-known/apple-app-site-association
  apps/dashboard/public/.well-known/assetlinks.json
  apps/dashboard/public/.well-known/farcaster.json
  apps/dashboard/src/app/.well-known/apple-app-site-association.json/route.ts
  apps/dashboard/src/app/.well-known/apple-developer-merchantid-domain-association/route.ts
  apps/dashboard/src/app/.well-known/assetlinks.json/route.ts
  apps/dashboard/src/app/.well-known/farcaster.json/route.ts
  apps/dashboard/src/app/nebula-app/(app)/_farcaster/miniapp-provider.tsx
  apps/dashboard/src/app/nebula-app/(app)/page.tsx
  apps/dashboard/src/app/nebula-app/_farcaster/warpcast.ts
  apps/dashboard/src/app/nebula-app/layout.tsx
  apps/dashboard/src/app/nebula-app/providers.tsx
  apps/dashboard/src/middleware.ts
Labels: dashboard

[Dashboard] Improve error handling in billing checkout process (#7318)
  apps/dashboard/src/app/(app)/(stripe)/_components/StripeRedirectErrorPage.tsx
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/utils/billing.ts
Labels: dashboard

[Docs] Update Broken Link (#7319)
  apps/portal/src/app/pay/faqs/page.mdx
Labels: portal

docs: add webhooks section to agents and LLMs documentation (#7317)
  apps/portal/src/app/insight/agents-and-llms/llmstxt/page.mdx
  apps/portal/src/app/insight/agents-and-llms/page.mdx
  apps/portal/src/app/insight/webhooks/filtering/page.mdx
Labels: portal

refactor: refresh quote on step runner
  packages/thirdweb/src/react/core/hooks/useBridgeQuote.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/core/utils/persist.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/TokenSelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
  packages/thirdweb/src/stories/Bridge/StepRunner.stories.tsx
  packages/thirdweb/src/stories/Bridge/fixtures.ts
Labels: packages, sdk

fix: include erc20 value in docs
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
Labels: packages, sdk

[Dashboard] Update URL rewrites for grants and superchain pages
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/portal/src/app/account/billing/credits/page.mdx
Labels: dashboard, portal

[Dashboard] Update URL rewrites for grants and superchain pages (#7320)
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/portal/src/app/account/billing/credits/page.mdx
Labels: dashboard, portal

feat: add basic worldcoin setup.
  apps/dashboard/package.json
  apps/dashboard/src/app/nebula-app/(app)/_worldcoin/minikit-provider.tsx
  apps/dashboard/src/app/nebula-app/providers.tsx
  pnpm-lock.yaml
Labels: dashboard

Update Status.test.ts
  packages/thirdweb/src/bridge/Status.test.ts
Labels: packages, sdk

Update upload.ts
  packages/thirdweb/src/storage/upload.ts
Labels: packages, sdk

[Dashboard] Add 7-day free trial for Growth plan (#7322)
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/utils/pricing.tsx
Labels: dashboard

feat: adds BuyEmbed
  apps/playground-web/src/app/connect/pay/fund-wallet/page.tsx
  apps/playground-web/src/components/universal-bridge/buy.tsx
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
  packages/thirdweb/src/stories/Bridge/BridgeOrchestrator.stories.tsx
Labels: playground, packages, sdk

feat: CheckoutWidget component
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/components/pay/direct-payment.tsx
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
Labels: playground, packages, sdk

[Dashboard] Add plan selection step to team onboarding flow
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/select-plan/_components/plan-selector.tsx
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/select-plan/page.tsx
  apps/dashboard/src/app/(app)/login/onboarding/onboarding-layout.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/team-onboarding.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
Labels: dashboard

feat: TransactionWidget
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/connect/universal-bridge/layout.tsx
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/app/connect/pay/components/types.ts
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/app/connect/pay/embed/page.tsx
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/pay/direct-payment.tsx
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
Labels: dashboard, playground, packages, sdk

[Dashboard] Add plan selection step to team onboarding flow (#7324)
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/select-plan/_components/plan-selector.tsx
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/select-plan/page.tsx
  apps/dashboard/src/app/(app)/login/onboarding/onboarding-layout.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/team-onboarding.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
Labels: dashboard

[Dashboard] Add self-service dedicated engine deployment option
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/EngineFooterCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/_components.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/overview/engine-instances-table.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/page.tsx
Labels: dashboard

[Dashboard] Add self-service dedicated engine deployment option (#7325)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/EngineFooterCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/_components.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/overview/engine-instances-table.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/page.tsx
Labels: dashboard

update dependencies
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/engine/package.json
  packages/insight/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/vault-sdk/package.json
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Fix typos in comments and test descriptions (#7323)
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/storage/upload.ts
Labels: packages, sdk

update dependencies (#7326)
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/engine/package.json
  packages/insight/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/vault-sdk/package.json
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

update deps 2
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

update deps 2 (#7328)
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Enable React Compiler across all Next.js apps
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/login/next.config.ts
  apps/login/package.json
  apps/playground-web/next.config.mjs
  apps/playground-web/package.json
  apps/portal/next.config.mjs
  apps/portal/package.json
  apps/wallet-ui/next.config.mjs
  apps/wallet-ui/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, portal, Ecosystem Portal

docs: fix typos in doc string (#7301)
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
Labels: packages, sdk

feat: start adding types.
  packages/thirdweb/src/ai/api/index.ts
  packages/thirdweb/src/ai/api/types/index.ts
Labels: packages, sdk

fix: polishing for release.
  apps/dashboard/package.json
  apps/dashboard/src/app/nebula-app/(app)/page.tsx
  pnpm-lock.yaml
Labels: dashboard

feat: add new env variables in env.example file
  apps/dashboard/.env.example
Labels: dashboard

feat: add hey-api code generation.
  package.json
  packages/ai/CHANGELOG.md
  packages/ai/README.md
  packages/ai/biome.json
  packages/ai/openapi-ts.config.ts
  packages/ai/package.json
  packages/ai/src/client/client.gen.ts
  packages/ai/src/client/index.ts
  packages/ai/src/client/sdk.gen.ts
  packages/ai/src/client/types.gen.ts
  packages/ai/src/configure.ts
  packages/ai/src/exports/thirdweb.ts
  packages/ai/tsconfig.base.json
  packages/ai/tsconfig.build.json
  packages/ai/tsconfig.json
  packages/thirdweb/src/ai/api/index.ts
  packages/thirdweb/src/ai/api/types/index.ts
Labels: packages, sdk

feat: update with new api spec.
  packages/ai/README.md
  packages/ai/package.json
  packages/ai/src/client/sdk.gen.ts
  packages/ai/src/client/types.gen.ts
  packages/ai/src/configure.ts
  packages/ai/src/exports/thirdweb.ts
  pnpm-lock.yaml
Labels: packages

feat: removed unused export.
  apps/dashboard/src/app/nebula-app/(app)/_farcaster/miniapp-provider.tsx
Labels: dashboard

Update resolveName.ts
  packages/thirdweb/src/extensions/unstoppable-domains/read/resolveName.ts
Labels: packages, sdk

Update claimToBatch.ts
  packages/thirdweb/src/extensions/erc721/drops/write/claimToBatch.ts
Labels: packages, sdk

feat: add deprecated in old methods.
  packages/thirdweb/src/ai/chat.ts
  packages/thirdweb/src/ai/execute.ts
Labels: packages, sdk

Fix Typographical Errors in Documentation and Comments (#7331)
  packages/thirdweb/src/extensions/erc721/drops/write/claimToBatch.ts
  packages/thirdweb/src/extensions/unstoppable-domains/read/resolveName.ts
Labels: packages, sdk

lint
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/useBridgeQuote.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnectCore.test.tsx
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/core/utils/persist.ts
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/TokenAndChain.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/stories/Bridge/BridgeOrchestrator.stories.tsx
  packages/thirdweb/src/stories/Bridge/DirectPayment.stories.tsx
  packages/thirdweb/src/stories/Bridge/ErrorBanner.stories.tsx
  packages/thirdweb/src/stories/Bridge/FundWallet.stories.tsx
  packages/thirdweb/src/stories/Bridge/PaymentDetails.stories.tsx
  packages/thirdweb/src/stories/Bridge/PaymentSelection.stories.tsx
  packages/thirdweb/src/stories/Bridge/StepRunner.stories.tsx
  packages/thirdweb/src/stories/Bridge/SuccessScreen.stories.tsx
  packages/thirdweb/src/stories/Bridge/TransactionPayment.stories.tsx
  packages/thirdweb/src/stories/Bridge/fixtures.ts
  packages/thirdweb/src/stories/TokenBalanceRow.stories.tsx
  packages/thirdweb/src/stories/utils.tsx
  packages/thirdweb/src/wallets/connection/autoConnectCore.test.ts
Labels: playground, packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
