Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

add pastDue to valid billing statuses (#6338)
  .changeset/wise-boxes-fail.md
  apps/dashboard/knip.json
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/layout.tsx
  apps/dashboard/src/app/team/components/TeamHeader/getValidTeamPlan.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/portal/knip.json
  packages/service-utils/src/core/api.ts
  packages/thirdweb/src/auth/verify-typed-data.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-modular.test.ts
Labels: dashboard, packages, sdk, portal

[TOOL-3526] Dashboard: Add billing status alert banners
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/BillingAlertBanner.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/BillingAlertBanners.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/BillingAlertBannersUI.tsx
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
Labels: dashboard

[TOOL-3526] Dashboard: Add billing status alert banners (#6341)
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/BillingAlertBanner.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/BillingAlertBanners.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/BillingAlertBannersUI.tsx
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
Labels: dashboard

[TOOL-3528] Dasboard: Fix in-app users CSV downloads empty file (#6342)
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEmbeddedWallets.ts
  apps/dashboard/src/components/embedded-wallets/Users/index.tsx
  apps/dashboard/src/components/shared/TWTable.tsx
Labels: dashboard

update dependencies
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/login/package.json
  apps/login/src/lib/keys.ts
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Handle token by index
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/table.tsx
  packages/thirdweb/src/extensions/erc721/read/getNFT.ts
Labels: dashboard, packages, sdk

move detection to dashboard
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/ContractNFTPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/table.tsx
  packages/thirdweb/src/exports/extensions/erc721.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
Labels: dashboard, packages, sdk

fix comment
  packages/thirdweb/src/extensions/erc721/read/getNFT.ts
Labels: packages, sdk

update dependencies (#6340)
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/login/package.json
  apps/login/src/lib/keys.ts
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[TOOL-3515] Handle token by index (#6344)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/ContractNFTPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/table.tsx
  packages/thirdweb/src/exports/extensions/erc721.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
Labels: dashboard, packages, sdk

[service-utils] switch to @confluentinc/kafka-javascript
  .changeset/pink-states-tell.md
  packages/service-utils/package.json
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/kafka.ts
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

override servers
  packages/service-utils/src/node/kafka.ts
Labels: packages

[service-utils] switch to @confluentinc/kafka-javascript (#6345)
  .changeset/pink-states-tell.md
  packages/service-utils/package.json
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/kafka.ts
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

[service-utils] fix usageV2 caller
  .changeset/social-icons-mix.md
  packages/service-utils/src/node/usageV2.ts
Labels: packages

require url for cf workers too
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

fix type
  packages/service-utils/src/node/usageV2.ts
Labels: packages

[service-utils] fix usageV2 caller (#6346)
  .changeset/social-icons-mix.md
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

update config
  apps/login/src/api/login/config.ts
  apps/login/src/components/login-form.tsx
Labels: none

[Login] update config (#6347)
  apps/login/src/api/login/config.ts
  apps/login/src/components/login-form.tsx
Labels: none

remove export (lint error)
  packages/thirdweb/src/transaction/prepare-transaction.ts
Labels: packages, sdk

fallback to legacy if no baseBlockFee in last block
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, sdk

fix: analytics query typo
  apps/dashboard/src/@/api/analytics.ts
Labels: dashboard

fix: analytics query typo (#6349)
  apps/dashboard/src/@/api/analytics.ts
Labels: dashboard

monad-faucet-growth+-only
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/api/testnet-faucet/can-claim/CanClaimResponseType.ts
  apps/dashboard/src/app/api/testnet-faucet/can-claim/route.ts
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
Labels: dashboard

fix explorer functions
  apps/dashboard/src/components/contract-functions/contract-function.tsx
Labels: dashboard

monad-faucet-starter+-only (#6351)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/api/testnet-faucet/can-claim/CanClaimResponseType.ts
  apps/dashboard/src/app/api/testnet-faucet/can-claim/route.ts
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
Labels: dashboard

[Dashboard] Fix explorer functions (#6352)
  apps/dashboard/src/components/contract-functions/contract-function.tsx
Labels: dashboard

add funding.json for op retro program
  funding.json
Labels: none

lint
  .vscode/settings.json
  funding.json
  package-lock.json
  package.json
Labels: none

lint
  .vscode/settings.json
  package.json
Labels: none

add funding.json for op retro program
  funding.json
Labels: none

add funding.json for op retro program (#6355)
  funding.json
Labels: none

[SDK] Feature: Add support for forcing legacy transactions in chain configuration (#6180)
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/chains/types.ts
  packages/thirdweb/src/gas/fee-data.ts
  packages/thirdweb/src/transaction/actions/to-serializable-transaction.ts
  packages/thirdweb/src/transaction/prepare-transaction.ts
Labels: packages, sdk

use shouldUpdateSessionKey in login flow
  apps/login/src/api/login/config.ts
  apps/login/src/components/login-form.tsx
Labels: none

use shouldUpdateSessionKey in login flow (#6348)
  apps/login/src/api/login/config.ts
  apps/login/src/components/login-form.tsx
Labels: none

[thirdweb] fix: Update contract ABI caching strategy
  .changeset/thick-bees-deny.md
  .github/workflows/CI.yml
  packages/thirdweb/src/contract/actions/resolve-abi.ts
Labels: packages, sdk

allow forcing deploy/skip_deploy behaviour
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages, sdk

fix: remove /storage redirect
  apps/dashboard/redirects.js
  apps/portal/redirects.mjs
Labels: dashboard, portal

fix: remove /storage redirect (#6362)
  apps/dashboard/redirects.js
  apps/portal/redirects.mjs
Labels: dashboard, portal

[TOOL-3508] Dashboard: Engine general Page UI improvements, update engine instance header layout (#6324)
  apps/dashboard/src/@/components/ui/input.tsx
  apps/dashboard/src/@/components/ui/tracked-link.tsx
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/_components.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/create/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/create/tier-card.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/import/EngineImportPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/import/EngineImportPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/import/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-instances-table.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/_components/version.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/wallet-credentials-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.stories.tsx
  apps/dashboard/src/app/team/components/HeaderLoggedOut/HeaderLoggedOut.tsx
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
