Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

feat: add redirects in payments docs
  apps/portal/src/app/payments/sidebar.tsx
Labels: portal

[Portal] Feature: Bridge page (#7998)
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/bridge/faq/page.mdx
  apps/portal/src/app/bridge/fees/assets/fee-dash.png
  apps/portal/src/app/bridge/fees/page.mdx
  apps/portal/src/app/bridge/layout.tsx
  apps/portal/src/app/bridge/onramp-providers/page.mdx
  apps/portal/src/app/bridge/page.mdx
  apps/portal/src/app/bridge/routes/page.mdx
  apps/portal/src/app/bridge/sell/page.mdx
  apps/portal/src/app/bridge/sidebar.tsx
  apps/portal/src/app/bridge/swap/page.mdx
  apps/portal/src/app/bridge/tokens/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/icons/products/PaymentsIcon.tsx
Labels: portal

fix: insights events group_by
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-event-breakdown.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-events.ts
Labels: dashboard

[Dashboard] Update insight events API to use chain_id instead of deprecated chain param
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-event-breakdown.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-events.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/total-contract-events.ts
Labels: dashboard

[Dashboard] Update analytics API integration and add error logging
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/isAnalyticsSupportedForChain.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-event-breakdown.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-events.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/total-contract-events.ts
Labels: dashboard

[Dashboard] Update analytics API integration and add error logging (#8001)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/isAnalyticsSupportedForChain.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-event-breakdown.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-events.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/total-contract-events.ts
Labels: dashboard

feat: move insight page to APIs dropdown (#7991)
  apps/portal/src/app/Header.tsx
Labels: portal

polygon amoy gasstation update (#8004)
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, sdk

move over some utility read only endpoints to API
  .gitignore
  biome.json
  packages/thirdweb/biome.json
  packages/thirdweb/package.json
  packages/thirdweb/src/extensions/common/read/getContractMetadata.test.ts
  packages/thirdweb/src/extensions/common/read/getContractMetadata.ts
  packages/thirdweb/src/wallets/utils/getTokenBalance.test.ts
  packages/thirdweb/src/wallets/utils/getTokenBalance.ts
  packages/thirdweb/src/wallets/utils/getWalletBalance.test.ts
  packages/thirdweb/src/wallets/utils/getWalletBalance.ts
  pnpm-lock.yaml
Labels: packages, sdk

fix polygon amoy gasstation url (#8007)
  .changeset/huge-bees-tan.md
Labels: none

JS: pin transitive deps with overrides
  package.json
  pnpm-lock.yaml
Labels: none

Dashboard: Add Bridge in framer paths (#8006)
  apps/dashboard/framer-rewrites.js
Labels: dashboard

[BLD-271] Portal: Change Header nav link order (#8013)
  apps/portal/src/app/Header.tsx
Labels: portal

add changeset
  .changeset/cold-spiders-open.md
Labels: none

re-run generate wallets
  packages/thirdweb/src/wallets/__generated__/getWalletInfo.ts
  packages/thirdweb/src/wallets/__generated__/wallet-ids.ts
  packages/thirdweb/src/wallets/__generated__/wallet-infos.ts
  packages/thirdweb/src/wallets/__generated__/wallet/com.binance.wallet/index.ts
  packages/thirdweb/src/wallets/__generated__/wallet/io.kgen/image.ts
  packages/thirdweb/src/wallets/__generated__/wallet/io.kgen/index.ts
Labels: packages, sdk

[BLD-259] Playground, Portal: Add revalidation for API Reference page (#8022)
  apps/playground-web/src/app/reference/page.tsx
  apps/portal/src/app/reference/page.tsx
Labels: playground, portal

[MNY-163] Portal: Fix broken links in payments sidebar (#8021)
  apps/portal/src/app/bridge/sidebar.tsx
  apps/portal/src/app/payments/sidebar.tsx
Labels: portal

Version Packages (#8008)
  .changeset/cold-spiders-open.md
  .changeset/huge-bees-tan.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Dashboard] Update analytics API integration and improve number formatting
  apps/dashboard/src/@/lib/search.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-events.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-function-breakdown.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-transactions.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-wallet-analytics.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/total-contract-events.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/total-contract-transactions.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/total-unique-wallets.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/components/TransactionsSection/TransactionsSection.tsx
Labels: dashboard

[Dashboard] Update analytics API integration and improve number formatting (#8023)
  apps/dashboard/src/@/lib/search.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-events.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-function-breakdown.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-transactions.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-wallet-analytics.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/total-contract-events.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/total-contract-transactions.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/total-unique-wallets.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/components/TransactionsSection/TransactionsSection.tsx
Labels: dashboard

[BLD-277] Fix Server Wallets balance fetching for custom chains (#8026)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/useAbiProcessing.ts
Labels: dashboard

[SDK] Feature: added chain definitions for apechain and curtis
  packages/thirdweb/src/chains/chain-definitions/apechain.ts
  packages/thirdweb/src/chains/chain-definitions/curtis.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

Add signAuthorization support to 1193 provider
  .changeset/eighty-taxis-own.md
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

[SDK] Add signAuthorization support to 1193 provider (#8029)
  .changeset/eighty-taxis-own.md
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

Version Packages (#8030)
  .changeset/eighty-taxis-own.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[BLD-247] Add propagation time in domain restrictions in project settings page (#8025)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
Labels: dashboard

[Playground-Web] Feature: Added Glyph Wallet
  apps/playground-web/package.json
  apps/playground-web/src/app/wallets/sign-in/button/RightSection.tsx
  apps/playground-web/src/components/styled-connect-button.tsx
  apps/playground-web/src/components/styled-connect-embed.tsx
  pnpm-lock.yaml
Labels: playground

Update ecosystem.ts
  packages/thirdweb/src/wallets/in-app/native/ecosystem.ts
Labels: packages, sdk

Update rpc.ts
  packages/thirdweb/src/rpc/rpc.ts
Labels: packages, sdk

Update useContractEvents.ts
  packages/thirdweb/src/react/core/hooks/contract/useContractEvents.ts
Labels: packages, sdk

Update useWaitForReceipt.ts
  packages/thirdweb/src/react/core/hooks/contract/useWaitForReceipt.ts
Labels: packages, sdk

[SDK] Feature: Handle Glyph Wallet in the CreateWallet function such that it works at all places
  apps/playground-web/package.json
  apps/playground-web/src/app/wallets/sign-in/button/RightSection.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/glyph/constants.ts
  packages/thirdweb/src/wallets/glyph/glyph-wallet.ts
  packages/thirdweb/src/wallets/native/create-wallet.ts
  pnpm-lock.yaml
Labels: playground, packages, sdk

generate changeset
  .changeset/six-zebras-move.md
Labels: none

[SDK] Feature: Export Glyph Wallet Connectors. Some Refactoring and AI Feedback Resolution.
  .changeset/six-zebras-move.md
  packages/thirdweb/package.json
  packages/thirdweb/src/chains/chain-definitions/apechain.ts
  packages/thirdweb/src/chains/chain-definitions/curtis.ts
  packages/thirdweb/src/exports/wallets/glyph.ts
  packages/thirdweb/src/wallets/glyph/constants.ts
  packages/thirdweb/src/wallets/glyph/glyph-wallet.ts
  pnpm-lock.yaml
Labels: packages, sdk

[SDK] Pass through authorizationList for injected providers
  .changeset/twelve-ducks-beg.md
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

[SDK] Pass through authorizationList for injected providers (#8036)
  .changeset/twelve-ducks-beg.md
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

Version Packages (#8037)
  .changeset/twelve-ducks-beg.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Fix/feedback api endpoints (#8024)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCaseDetails.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

Support full MetaMask disconnection on wallet disconnect
  .changeset/petite-lizards-create.md
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

[SDK] Support full MetaMask disconnection on wallet disconnect (#8039)
  .changeset/petite-lizards-create.md
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
