Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[Dashboard] Add team ID to ecosystem API requests (#6659)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/add-partner/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/EcosystemPermissionsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/integration-permissions-toggle.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/auth-options-section.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/ecosystem-partners-section.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/integration-permissions-section.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/partners-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/fetchPartnerDetails.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/fetchPartners.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-add-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-delete-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-update-ecosystem.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-update-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/partners/[partner_id]/edit/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/hooks/use-partners.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/page.tsx
Labels: dashboard

update
  apps/dashboard/package.json
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/add-contract-subscription-button.tsx
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

update dependencies (#6658)
  apps/dashboard/package.json
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/add-contract-subscription-button.tsx
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Dashboard: Remove chakra usage from contract analytics page, style tweaks (#6661)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.tsx
  apps/dashboard/src/global.css
Labels: dashboard

Dashboard: Migrate contract overview page components to tailwind/shadcn (#6662)
  apps/dashboard/src/@/components/blocks/charts/area-chart.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/NFTCards.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/supply-cards.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/ContractOverviewPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/Analytics.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/BuildYourApp.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/LatestEvents.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/LatestEvents.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/NFTDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/PermissionsTable.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/PermissionsTable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/TokenDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/listing-stats.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/stat-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/ContractTokensPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/supply-layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/supply.tsx
  apps/dashboard/src/components/product-pages/common/nav/data.ts
  apps/dashboard/src/components/product-pages/common/nav/types.ts
  apps/dashboard/src/tw-components/link.tsx
  apps/dashboard/src/tw-components/nft-media.tsx
Labels: dashboard

Update README.md
  README.md
Labels: none

Create SECURITY.md3
  SECURITY.md3
Labels: none

Dashboard: Contract page style adjustments, fixes, reduce chakra usage (#6664)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/ContractDirectListingsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/ContractEnglishAuctionsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/primary-dashboard-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/ContractNFTPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/supply-cards.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/ContractOverviewPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/NFTDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/stat-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/supply.tsx
  apps/dashboard/src/tw-components/nft-media.tsx
Labels: dashboard

Dashboard: Update NFT token details page styles, reduce chakra usage (#6665)
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/metadata-header.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/nft-property.tsx
Labels: dashboard

Dashboard: Update contracts page header: render on top of sidebar (#6666)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/contract-page-layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/metadata-header.tsx
Labels: dashboard

[TOOL-3969] Dashboard: Update Plans, Add cancel plan, and other related UI updates (#6674)
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/@/lib/billing.ts
  apps/dashboard/src/app/components/TeamPlanBadge.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/InviteTeamMembers.stories.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/credits/SettingsCreditsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsForm.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsModal.tsx
  apps/dashboard/src/components/onboarding/PlanCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/BillingPricing.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/CancelPlanModal/CancelPlanModal.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/dashboard/src/stories/stubs.ts
  apps/dashboard/src/utils/pricing.tsx
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

Dashboard: Update pricing cards, style tweaks (#6675)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/CancelPlanModal/CancelPlanModal.tsx
  apps/dashboard/src/utils/pricing.tsx
Labels: dashboard

[Dashboard] Contracts sources page: migrate from chakra to tailwind+shadcn (#6676)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/sources/ContractSourcesPage.tsx
  apps/dashboard/src/components/contract-components/shared/sources-accordion.tsx
  apps/dashboard/src/components/contract-components/shared/sources-panel.tsx
Labels: dashboard

[Dashboard] Migrate missing extension overlay from chakra to tailwind css (#6677)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/detected-state.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/metadata.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/primary-sale.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/royalties.tsx
Labels: dashboard

update insight playground routes (#6680)
  apps/playground-web/src/app/insight/insightBlueprints.ts
Labels: playground

Fix flaky ETH price test (#6682)
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.test.ts
Labels: packages, sdk

update dependencies
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

update dependencies (#6678)
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

get events from insight
  packages/thirdweb/src/event/actions/get-events.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/event/actions/get-events.ts
Labels: packages, sdk

[TOOL-4029] Dashboard: Remove create engine page, Various UI udpates in engine instances page (#6684)
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/EngineFooterCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/_components.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/create/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/create/tier-card.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-instances-table.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineInstance.ts
  apps/dashboard/src/components/settings/Account/Billing/CancelPlanModal/CancelPlanModal.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/constants/pro.ts
Labels: dashboard

[TOOL-4028] Dashboard: Limit team name to 32 chars (#6685)
  apps/dashboard/src/app/login/onboarding/team-onboarding/TeamInfoForm.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
Labels: dashboard

Update deploy config (#6667)
  apps/dashboard/src/app/(dashboard)/contracts/deploy/[compiler_uri]/page.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/publish-based-deploy.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/uri-based-deploy.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/constants/fee-config.ts
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: dashboard, packages, sdk

[SDK] Pass through desired chain when signing in with wallet for ecosystems
  .changeset/orange-suns-attack.md
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/WalletAuth.tsx
Labels: packages, sdk

[SDK] Pass through desired chain when signing in with wallet for ecosystems (#6686)
  .changeset/orange-suns-attack.md
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/WalletAuth.tsx
Labels: packages, sdk

Version Packages (#6656)
  .changeset/blue-geese-refuse.md
  .changeset/orange-suns-attack.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[TOOL-3337] Dashboard: Add Transactions pages in project layout
  apps/dashboard/src/@/lib/time.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/filter.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/getTransactionAnalyticsFilter.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/summary.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/explorer/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/components/analytics/date-range-selector.tsx
Labels: dashboard

Vault Service Account init + Create Vault EOA
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  packages/vault-sdk/src/sdk.ts
Labels: dashboard, packages

update service utils types
  packages/service-utils/src/core/api.ts
Labels: packages

add vault-sdk package
  apps/dashboard/package.json
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  package.json
  packages/vault-sdk/CHANGELOG.md
  packages/vault-sdk/README.md
  packages/vault-sdk/package.json
  packages/vault-sdk/src/exports/thirdweb.ts
  packages/vault-sdk/src/sdk.ts
  packages/vault-sdk/src/transaction-parser.ts
  packages/vault-sdk/src/transaction-types.ts
  packages/vault-sdk/src/types.ts
  packages/vault-sdk/tsconfig.base.json
  packages/vault-sdk/tsconfig.build.json
  packages/vault-sdk/tsconfig.json
  pnpm-lock.yaml
Labels: dashboard, packages

UI polish
  apps/dashboard/.env.example
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

add server wallet table
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/types.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

add send transaction button
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-access-token.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/key-management.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/send-dummy-tx.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
Labels: dashboard

fix project update
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

rename
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.tsx
Labels: dashboard

added access token flow
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-access-token.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/key-management.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

tooltips
  apps/dashboard/.env.example
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
Labels: dashboard

tabIndex
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/send-dummy-tx.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
Labels: dashboard

hide admin key section if no key present
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/key-management.tsx
Labels: dashboard

transaction querying
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/page.tsx
Labels: dashboard
