Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Update page.mdx
  apps/portal/src/app/connect/wallet/ecosystem/faq/page.mdx
Labels: portal

Update page.mdx (#7204)
  apps/portal/src/app/connect/wallet/ecosystem/faq/page.mdx
Labels: portal

[Experiment] Remove clientId from serverThirdwebClient
  apps/dashboard/src/@/components/ui/decimal-input.tsx
  apps/dashboard/src/@/constants/thirdweb-client.client.ts
  apps/dashboard/src/@/constants/thirdweb-client.server.ts
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/RecentTransfers.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/distribution/token-sale.tsx
Labels: dashboard

Re-enable webhooks sidebar link in project dashboard
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/webhookPayloadUtils.ts
Labels: dashboard

Fix webhook dropdown scrolling by wrapping content in scrollable div
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
Labels: dashboard

Re-enable webhooks sidebar link in project dashboard (#7196)
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/webhookPayloadUtils.ts
Labels: dashboard

[Engine] Add search transactions and batch transaction support
  .changeset/engine-enhancements.md
  .changeset/stupid-adults-flow.md
  packages/engine/src/client/sdk.gen.ts
  packages/engine/src/client/types.gen.ts
  packages/thirdweb/src/bridge/Chains.test.ts
  packages/thirdweb/src/engine/create-server-wallet.ts
  packages/thirdweb/src/engine/get-status.ts
  packages/thirdweb/src/engine/index.ts
  packages/thirdweb/src/engine/list-server-wallets.ts
  packages/thirdweb/src/engine/search-transactions.ts
  packages/thirdweb/src/engine/server-wallet.test.ts
  packages/thirdweb/src/engine/server-wallet.ts
  packages/thirdweb/src/engine/wait-for-tx-hash.ts
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.test.ts
  packages/thirdweb/src/extensions/erc20/drop20.test.ts
  packages/thirdweb/src/insight/get-nfts.ts
Labels: packages, sdk

Fix requests to thirdwebstorage-dev.com not set with secret-key (#7205)
  packages/thirdweb/src/utils/fetch.ts
Labels: packages, sdk

[SDK] Engine search transactions and batch transaction support (#7190)
  .changeset/engine-enhancements.md
  .changeset/stupid-adults-flow.md
  packages/engine/src/client/sdk.gen.ts
  packages/engine/src/client/types.gen.ts
  packages/thirdweb/src/bridge/Chains.test.ts
  packages/thirdweb/src/engine/create-server-wallet.ts
  packages/thirdweb/src/engine/get-status.ts
  packages/thirdweb/src/engine/index.ts
  packages/thirdweb/src/engine/list-server-wallets.ts
  packages/thirdweb/src/engine/search-transactions.ts
  packages/thirdweb/src/engine/server-wallet.test.ts
  packages/thirdweb/src/engine/server-wallet.ts
  packages/thirdweb/src/engine/wait-for-tx-hash.ts
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.test.ts
  packages/thirdweb/src/extensions/erc20/drop20.test.ts
  packages/thirdweb/src/insight/get-nfts.ts
Labels: packages, sdk

Version Packages (#7207)
  .changeset/engine-enhancements.md
  .changeset/stupid-adults-flow.md
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

feat: tool-4633 Use new quote type
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/EstimatedTimeAndFees.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/SwapDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapStatusScreen.tsx
Labels: packages, sdk

[Dashboard] migrate SelectOption to shadcn (#7194)
  apps/dashboard/src/core-ui/batch-upload/lazy-mint-form/select-option.tsx
Labels: dashboard

[Dashboard] update pricing plans and UI components
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/@/lib/billing.ts
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/_components.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/utils/pricing.tsx
Labels: dashboard

Add account deletion support when unlinking profiles
  .changeset/account-deletion-unlink.md
  packages/thirdweb/src/react/native/hooks/wallets/useUnlinkProfile.test.tsx
  packages/thirdweb/src/react/native/hooks/wallets/useUnlinkProfile.ts
  packages/thirdweb/src/react/web/hooks/wallets/useUnlinkProfile.test.tsx
  packages/thirdweb/src/react/web/hooks/wallets/useUnlinkProfile.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/linkAccount.test.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/linkAccount.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/core/interfaces/connector.ts
  packages/thirdweb/src/wallets/in-app/native/auth/index.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: packages, sdk

[service-utils] Add platform, SMS, and pay capabilities to TeamCapabilities type
  .changeset/little-pillows-divide.md
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.stories.tsx
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

[SDK] Add account deletion support when unlinking profiles (#7211)
  .changeset/account-deletion-unlink.md
  packages/thirdweb/src/react/native/hooks/wallets/useUnlinkProfile.test.tsx
  packages/thirdweb/src/react/native/hooks/wallets/useUnlinkProfile.ts
  packages/thirdweb/src/react/web/hooks/wallets/useUnlinkProfile.test.tsx
  packages/thirdweb/src/react/web/hooks/wallets/useUnlinkProfile.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/linkAccount.test.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/linkAccount.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/core/interfaces/connector.ts
  packages/thirdweb/src/wallets/in-app/native/auth/index.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: packages, sdk

Add support for chain filtering in webhook creation (#7209)
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/WebhooksTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
Labels: dashboard

Replace custom Select component with native select in webhook filter UI
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
Labels: dashboard

Dashboard: Various Asset page updates (#7212)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/RecentTransfers.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/tracking.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
Labels: dashboard

Version Packages (#7214)
  .changeset/account-deletion-unlink.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Dashboard] update pricing plans and UI components (#7208)
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/@/lib/billing.ts
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/_components.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/utils/pricing.tsx
Labels: dashboard

[Dashboard] add empty state for Pay analytics (#7206)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/components/ui/code/code.server.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayEmbedFTUX.tsx
  packages/thirdweb/src/bridge/Buy.ts
Labels: dashboard, packages, sdk

[Dashboard] Unhide Engine Cloud service (#7215)
  .changeset/lucky-jobs-relate.md
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
  packages/service-utils/src/core/services.ts
Labels: dashboard, packages

[Dashboard] migrate op credits form to shadcn
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsForm.tsx
Labels: dashboard

[thirdweb] Update dev script to use nodenext module format
  packages/thirdweb/package.json
Labels: packages, sdk

[service-utils] Add platform, SMS, and pay capabilities to TeamCapabilities type (#7210)
  .changeset/little-pillows-divide.md
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.stories.tsx
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

[thirdweb] Update dev script to use nodenext module format (#7218)
  packages/thirdweb/package.json
Labels: packages, sdk

chore: remove Team from confirmEmail response (#7200)
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(app)/login/onboarding/VerifyEmail/VerifyEmail.stories.tsx
  apps/dashboard/src/app/(app)/login/onboarding/VerifyEmail/VerifyEmail.tsx
  apps/dashboard/src/app/(app)/login/onboarding/account-onboarding-ui.tsx
Labels: dashboard

Replace Select with Popover in webhook signature selection UI (#7219)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
Labels: dashboard

feat: add Engine Cloud analytics to project overview (#7195)
  .gitignore
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/EngineCloudChartCard/EngineCloudBarChartCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/EngineCloudChartCard/EngineCloudBarChartCardUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/EngineCloudChartCard/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/types/analytics.ts
Labels: dashboard

Update token price APIs to query from insight directly
  .changeset/fuzzy-walls-allow.md
  .changeset/petite-falcons-ring.md
  packages/engine/CHANGELOG.md
  packages/insight/src/client/sdk.gen.ts
  packages/insight/src/client/types.gen.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.test.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.test.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.ts
  packages/thirdweb/src/pay/utils/definitions.ts
Labels: packages, sdk

[SDK] Update token price APIs to query from insight directly (#7220)
  .changeset/fuzzy-walls-allow.md
  .changeset/petite-falcons-ring.md
  packages/engine/CHANGELOG.md
  packages/insight/src/client/sdk.gen.ts
  packages/insight/src/client/types.gen.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.test.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.test.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.ts
  packages/thirdweb/src/pay/utils/definitions.ts
Labels: packages, sdk

siwa updates and new article (#7197)
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatContent.tsx
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/knowledge-base/sidebar.tsx
  apps/portal/src/app/knowledge-base/troubleshoot/contracts/erc20-transfer-allowance/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/components/AI/api.ts
  apps/portal/src/components/AI/chat.tsx
  apps/portal/src/icons/siwa-icon.png
Labels: dashboard, portal

Update ChatBar.tsx to allow for copy/paste and drag/drop file uploads (#7153)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
Labels: dashboard

Enhance PayPageEmbed component to include purchaseData prop for improved payment link handling
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
Labels: dashboard

Update apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
Labels: dashboard

Refactor purchaseData type in PayPageEmbed and webhook schema for improved type safety
  apps/dashboard/src/@/api/universal-bridge/links.ts
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  packages/thirdweb/src/bridge/Webhook.ts
Labels: dashboard, packages, sdk

changeset
  .changeset/dirty-cougars-teach.md
Labels: none

fix tests
  packages/thirdweb/src/bridge/Webhook.test.ts
Labels: packages, sdk

fix build
  apps/dashboard/src/app/pay/page.tsx
Labels: dashboard
