Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[SDK] Add service key functionality for API requests
  .changeset/legal-pots-boil.md
  packages/thirdweb/src/exports/utils.ts
  packages/thirdweb/src/utils/domains.ts
  packages/thirdweb/src/utils/fetch.ts
Labels: packages, sdk

[SDK] Add service key functionality for API requests (#6819)
  .changeset/legal-pots-boil.md
  packages/thirdweb/src/exports/utils.ts
  packages/thirdweb/src/utils/domains.ts
  packages/thirdweb/src/utils/fetch.ts
Labels: packages, sdk

remove pack from explore
  apps/dashboard/src/data/explore.ts
Labels: dashboard

Remove Pack from explore (#6781)
  apps/dashboard/src/data/explore.ts
Labels: dashboard

[thirdweb] Increase ESM bundle size limit to 55 kB
  packages/thirdweb/.size-limit.json
Labels: packages, sdk

Update dependencies and add atomicRequired option to sendCalls (#6786)
  packages/insight/package.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.test.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.ts
  packages/thirdweb/src/wallets/eip5792/types.ts
  pnpm-lock.yaml
Labels: packages, sdk

Deprecate pack (#6823)
  .changeset/fluffy-bars-crash.md
  packages/thirdweb/src/extensions/pack/createNewPack.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-pack.ts
Labels: packages, sdk

Deprecate pack (#6823)
  .changeset/fluffy-bars-crash.md
  packages/thirdweb/src/extensions/pack/createNewPack.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-pack.ts
Labels: packages, sdk

Custom factory addr for Chiliz mainnet
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
Labels: packages, sdk

changeset
  .changeset/whole-planets-heal.md
Labels: none

Dashboard: Fix login infinite loop on certain wallets (#6825)
  apps/dashboard/src/app/(app)/components/EnsureValidConnectedWalletLogin/EnsureValidConnectedWalletLoginClient.tsx
Labels: dashboard

Dashboard: Fix login infinite loop on certain wallets (#6825)
  apps/dashboard/src/app/(app)/components/EnsureValidConnectedWalletLogin/EnsureValidConnectedWalletLoginClient.tsx
Labels: dashboard

Custom factory addr for Chiliz mainnet (#6824)
  .changeset/whole-planets-heal.md
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
Labels: packages, sdk

Dashboard: transfer tab disabled for owner of nft (#6827)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/useNftDrawerTabs.tsx
Labels: dashboard

Add support for additional languages in Framer rewrites (#6828)
  apps/dashboard/next.config.ts
Labels: dashboard

Add plan cancellation and re-subscription functionality
  apps/dashboard/src/@/actions/billing.ts
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/CancelPlanModal/CancelPlanModal.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/components/settings/Account/Billing/renew-subscription/renew-subscription-button.tsx
  apps/dashboard/src/stories/stubs.ts
  apps/dashboard/src/utils/try-catch.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

[TOOL-4248] Dashboard: Fix explore category page not showing contract cards (#6829)
  apps/dashboard/src/app/(app)/(dashboard)/explore/[category]/page.tsx
Labels: dashboard

lint
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useActivity.ts
Labels: dashboard

[SDK] Optimize multi-event querying with indexer
  .changeset/great-chairs-find.md
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useActivity.ts
  packages/thirdweb/src/event/actions/get-events.ts
  packages/thirdweb/src/event/actions/watch-events.ts
Labels: dashboard, packages, sdk

Update useActivity.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useActivity.ts
Labels: dashboard

Add plan cancellation and re-subscription functionality (#6826)
  apps/dashboard/src/@/actions/billing.ts
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/CancelPlanModal/CancelPlanModal.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/components/settings/Account/Billing/renew-subscription/renew-subscription-button.tsx
  apps/dashboard/src/stories/stubs.ts
  apps/dashboard/src/utils/try-catch.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

fix nft address casing
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc721/read/getOwnedNFTs.test.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/wallets/smart/lib/paymaster.ts
Labels: packages, sdk

[SDK] Feature: Update sdk bridge functions with new schema (#6830)
  .changeset/fluffy-pigs-drive.md
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/types/Quote.ts
  packages/thirdweb/src/bridge/types/Status.ts
Labels: packages, sdk

[SDK] Optimize multi-event querying with indexer (#6822)
  .changeset/great-chairs-find.md
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useActivity.ts
  packages/thirdweb/src/event/actions/get-events.ts
  packages/thirdweb/src/event/actions/watch-events.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc721/read/getOwnedNFTs.test.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/wallets/smart/lib/paymaster.ts
Labels: dashboard, packages, sdk

Version Packages (#6820)
  .changeset/fluffy-bars-crash.md
  .changeset/fluffy-pigs-drive.md
  .changeset/great-chairs-find.md
  .changeset/legal-pots-boil.md
  .changeset/whole-planets-heal.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Lazy import native dependencies in React Native
  .changeset/quiet-bats-tickle.md
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
Labels: packages, sdk

[SDK] Lazy import native dependencies in React Native (#6832)
  .changeset/quiet-bats-tickle.md
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
Labels: packages, sdk

Version Packages (#6833)
  .changeset/quiet-bats-tickle.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[NEB-189] Nebula: Minor UI tweaks (#6831)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
Labels: dashboard

[SDK] Always checksum Account.address
  .changeset/shiny-pants-shout.md
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/adapters/ethers6.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/wallets/private-key.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, sdk

[SDK] Always checksum Account.address (#6834)
  .changeset/shiny-pants-shout.md
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/adapters/ethers6.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/wallets/private-key.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, sdk

[NEB-189] Nebula: Minor UI tweaks (#6831)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
Labels: dashboard

chore: Add support CRUD endpoints
  apps/dashboard/src/app/(dashboard)/support/add-message-to-ticket/components/add-message-to-ticket.action.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
  apps/dashboard/src/app/(dashboard)/support/get-ticket/components/get-ticket.action.ts
  apps/dashboard/src/app/(dashboard)/support/list-tickets/components/list-tickets.action.ts
  apps/dashboard/src/app/(dashboard)/support/update-ticket/components/update-ticket.action.ts
  apps/dashboard/src/lib/unthread/get-conversation.ts
Labels: dashboard

remove test account
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

remove service utils chagne
  packages/service-utils/src/core/api.ts
Labels: packages

chore: Add unthreadCustomerId to TeamResponse (#6837)
  .changeset/itchy-carrots-greet.md
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

[TOOL-4277] Dashboard: Update gated features (#6838)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/account-abstraction/settings/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/in-app-wallets/settings/page.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/InAppWalletSettingsUI.stories.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.tsx
  apps/dashboard/src/components/settings/Account/Billing/planToTierRecord.ts
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
Labels: dashboard

Nebula: Use Nebula project keys (#6839)
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaConnectButton.tsx
  apps/dashboard/src/app/nebula-app/(app)/utils/nebulaThirdwebClient.ts
  apps/dashboard/src/app/nebula-app/login/auth-actions.ts
Labels: dashboard

update insight playground nav
  apps/playground-web/src/app/insight/insightBlueprints.ts
Labels: playground

Add webhooks capability to insight team capabilities
  .changeset/smooth-ghosts-rhyme.md
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages
