Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[Dashboard] Fix date handling in analytics components
  apps/dashboard/src/@/components/analytics/date-range-selector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/index.tsx
Labels: dashboard

[Dashboard] Fix date handling in analytics components (#7885)
  apps/dashboard/src/@/components/analytics/date-range-selector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/index.tsx
Labels: dashboard

fix: #7886
  packages/thirdweb/src/chains/chain-definitions/mode.ts
Labels: packages, sdk

Create calm-glasses-build.md
  .changeset/calm-glasses-build.md
Labels: none

fix: #7886 (#7887)
  .changeset/calm-glasses-build.md
  packages/thirdweb/src/chains/chain-definitions/mode.ts
Labels: packages, sdk

Version Packages (#7889)
  .changeset/calm-glasses-build.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

feat: add ticket ID mapping to feedback system - associate feedback with specific support tickets
  apps/dashboard/FEEDBACK_FEATURE.md
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCaseDetails.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

Update settings.json
  .vscode/settings.json
Labels: none

Update robots.txt
  apps/dashboard/public/robots.txt
Labels: dashboard

Delete FEEDBACK_FEATURE.md
  FEEDBACK_FEATURE.md
Labels: none

changes to ai/mcp page to add buttons for downloading
  apps/portal/src/app/ai/mcp/page.mdx
Labels: portal

removed extra comma in vscode and windsurf json
  apps/portal/src/app/ai/mcp/page.mdx
Labels: portal

Created prepareCreateToken
  packages/thirdweb/src/exports/tokens.ts
  packages/thirdweb/src/tokens/create-token.ts
  packages/thirdweb/src/tokens/predict-address.ts
  packages/thirdweb/src/tokens/types.ts
Labels: packages, sdk

[SDK] Feature: `prepareCreateToken` returns prepared transaction (#7872)
  .changeset/twenty-bees-sink.md
  packages/thirdweb/src/exports/tokens.ts
  packages/thirdweb/src/tokens/create-token.ts
  packages/thirdweb/src/tokens/predict-address.ts
Labels: packages, sdk

refactor: clean up feedback API for production - remove debug logs and optimize code
  apps/dashboard/src/@/lib/supabase.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

Version Packages (#7891)
  .changeset/twenty-bees-sink.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

perf: optimize feedback handler with useCallback and fix formatting
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCaseDetails.tsx
Labels: dashboard

feat: adds paired address for expedited token route finding
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_apis/create-token-on-bridge.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
Labels: dashboard

[Dashboard] Feature: Adds paired address for expedited token route finding (#7892)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_apis/create-token-on-bridge.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
Labels: dashboard

Remove RecentPaymentsSection and reduce payment history page size
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
Labels: dashboard

Remove RecentPaymentsSection and reduce payment history page size (#7893)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
Labels: dashboard

Remove "dedicated" from Engine URLs
  apps/dashboard/src/@/hooks/useEngine.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/configuration/components/engine-wallet-config.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/metrics/components/EngineSystemMetrics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/overview/components/create-backend-wallet-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/overview/components/import-backend-wallet-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/_utils/getEngineInstancePageMeta.ts
Labels: dashboard

Remove "dedicated" from Engine URLs (#7894)
  apps/dashboard/src/@/hooks/useEngine.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/configuration/components/engine-wallet-config.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/metrics/components/EngineSystemMetrics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/overview/components/create-backend-wallet-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/overview/components/import-backend-wallet-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/_utils/getEngineInstancePageMeta.ts
Labels: dashboard

fixed name of mcp in vs code case
  apps/portal/src/app/ai/mcp/page.mdx
Labels: portal

code rabbit fixes
  apps/portal/src/app/ai/mcp/page.mdx
Labels: portal

Remove "dedicated" from engine URLs
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/_components.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/import/import-engine-dialog.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/_components/EnginePageLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/_components/EnsureEnginePermission.tsx
Labels: dashboard

Remove "dedicated" from engine URLs (#7897)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/_components.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/import/import-engine-dialog.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/_components/EnginePageLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/_components/EnsureEnginePermission.tsx
Labels: dashboard

Portal Feature: changes to ai/mcp page to add buttons for downloading (#7890)
  apps/portal/src/app/ai/mcp/page.mdx
Labels: portal

[MNY-115] Dashboard: Fix token creation flow not working for custom chains (#7896)
  apps/dashboard/src/@/hooks/chains/v5-adapter.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/launch/launch-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
Labels: dashboard

[BLD-166] Dashboard: Show Manage Contract button if user has used dashboard (#7898)
  apps/dashboard/src/@/constants/cookie.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.stories.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page-layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page.tsx
  apps/dashboard/src/app/(app)/team/components/last-visited-page/SaveLastVisitedPage.tsx
Labels: dashboard

Clarify authentication flows in wallet API docs (#7899)
  apps/portal/src/app/wallets/page.mdx
Labels: portal

Rename "Payment Links" to "Payments" in UI text
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/PaymentLinksTable.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
Labels: dashboard

Rename "Payment Links" to "Payments" in UI text (#7900)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/PaymentLinksTable.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
Labels: dashboard

Refactor profile types and add utility functions for profile access
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkedProfilesScreen.tsx
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/core/users/getUser.ts
Labels: packages, sdk

Add AI analytics page with token usage chart and summary stats
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/AiTokenUsageChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/Summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
Labels: dashboard

Update API domain from thirdweb-dev.com to thirdweb.com
  apps/portal/src/app/ai/chat/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  packages/api/src/client/types.gen.ts
Labels: packages, portal

[Docs] Update API domains (#7903)
  apps/portal/src/app/ai/chat/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  packages/api/src/client/types.gen.ts
Labels: packages, portal

fixes
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/AiTokenUsageChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/Summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/page.tsx
Labels: dashboard

Add ai usage section to dashboard (#7902)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/AiTokenUsageChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/Summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
Labels: dashboard

[AI] Rename Chat API to Blockchain LLM and add transaction execution docs
  apps/playground-web/src/app/ai/chat/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/ai/chat/execution/page.mdx
  apps/portal/src/app/ai/chat/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  apps/portal/src/app/page.tsx
Labels: playground, portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
