Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[SDK] Feature: Add Bridge.Transfer module
  packages/thirdweb/src/bridge/Transfer.test.ts
  packages/thirdweb/src/bridge/Transfer.ts
Labels: packages, sdk

changeset
  .changeset/stale-yaks-bathe.md
Labels: none

[Docs] Stylus dev workflow (#7060)
  apps/portal/src/app/contracts/build/stylus/assets/stylus-deploy-page.png
  apps/portal/src/app/contracts/build/stylus/assets/stylus-publish-page.png
  apps/portal/src/app/contracts/build/stylus/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
Labels: portal

Update contributing.md
  .github/contributing.md
Labels: none

[SDK] Update Routes endpoint for transaction pay modal
  packages/thirdweb/src/pay/utils/definitions.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/useSwapSupportedChains.ts
Labels: packages, sdk

changeset
  .changeset/open-readers-do.md
Labels: none

lint
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
Labels: packages, sdk

[Vault] default to engine-cloud vault proxy (#7058)
  .changeset/all-bears-visit.md
  packages/vault-sdk/src/sdk.ts
Labels: packages

chore: use configured bridge domain
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/constants/urls.ts
  apps/login/src/lib/dev-mode.ts
  apps/login/src/lib/urls.ts
  apps/playground-web/src/lib/client.ts
  packages/thirdweb/src/bridge/constants.ts
  packages/thirdweb/src/utils/domains.ts
Labels: dashboard, playground, packages, sdk

max limit, domains
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/Transfer.ts
  packages/thirdweb/src/bridge/constants.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/useSwapSupportedChains.ts
Labels: packages, sdk

add icon, duration
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/useSwapSupportedChains.ts
Labels: packages, sdk

fix approval, minimal status adapter
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/ExecutingScreen.tsx
Labels: packages, sdk

[Docs] Engine (#7057)
  apps/portal/src/app/engine/v3/faq/page.mdx
Labels: portal

[DOCS] fix link in contributing.md (#7063)
  .github/contributing.md
Labels: none

[Engine] Add FAILED status to execution result and update error handling
  .changeset/grumpy-areas-help.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/tx/[id]/transaction-details-ui.tsx
  apps/playground-web/package.json
  apps/playground-web/src/app/engine/_hooks/useEngineTxStatus.ts
  apps/playground-web/src/app/engine/actions.ts
  apps/playground-web/src/app/engine/airdrop/_components/airdrop-code.tsx
  apps/playground-web/src/app/engine/airdrop/_components/airdrop-preview.tsx
  apps/playground-web/src/app/engine/airdrop/constants.ts
  apps/playground-web/src/app/engine/minting/_components/mint-code.tsx
  apps/playground-web/src/app/engine/minting/_components/mint-preview.tsx
  apps/playground-web/src/app/engine/minting/constants.ts
  apps/playground-web/src/app/engine/minting/page.tsx
  apps/playground-web/src/app/engine/webhooks/_components/webhooks-preview.tsx
  packages/thirdweb/src/engine/get-status.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk

[Engine] Add chain ID 13337 to test transaction options
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
Labels: dashboard

[Dashboard] Use testnet chains from useAllChainsData instead of hardcoded list
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
Labels: dashboard

[Dashboard] Use testnet chains from useAllChainsData instead of hardcoded list (#7067)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
Labels: dashboard

[Engine] Add FAILED status to execution result and update error handling (#7065)
  .changeset/grumpy-areas-help.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/tx/[id]/transaction-details-ui.tsx
  apps/playground-web/package.json
  apps/playground-web/src/app/engine/_hooks/useEngineTxStatus.ts
  apps/playground-web/src/app/engine/actions.ts
  apps/playground-web/src/app/engine/airdrop/_components/airdrop-code.tsx
  apps/playground-web/src/app/engine/airdrop/_components/airdrop-preview.tsx
  apps/playground-web/src/app/engine/airdrop/constants.ts
  apps/playground-web/src/app/engine/minting/_components/mint-code.tsx
  apps/playground-web/src/app/engine/minting/_components/mint-preview.tsx
  apps/playground-web/src/app/engine/minting/constants.ts
  apps/playground-web/src/app/engine/minting/page.tsx
  apps/playground-web/src/app/engine/webhooks/_components/webhooks-preview.tsx
  packages/thirdweb/src/engine/get-status.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk

[Engine] Add all testnets to test transaction options (#7066)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
Labels: dashboard

[Docs] Engine Update (#7052)
  apps/portal/src/app/engine/v3/page.mdx
Labels: portal

[SDK] Fix buyWithCrypto false not respected when returning from quote
  .changeset/rich-peaches-cheer.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, sdk

[Dashboard] Add pagination to server wallets page
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

[SDK] Fix buyWithCrypto false not respected when returning from quote (#7069)
  .changeset/rich-peaches-cheer.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, sdk

[Dashboard] Add pagination to server wallets page (#7070)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

Version Packages (#7042)
  .changeset/all-bears-visit.md
  .changeset/grumpy-areas-help.md
  .changeset/rich-peaches-cheer.md
  .changeset/shiny-olives-pay.md
  .changeset/six-dryers-sing.md
  .changeset/stale-pets-say.md
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/vault-sdk/CHANGELOG.md
  packages/vault-sdk/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Update package READMEs with correct naming and documentation links
  packages/engine/README.md
  packages/insight/README.md
  packages/vault-sdk/README.md
Labels: packages

[SDK] Update package READMEs with correct naming and documentation links (#7071)
  packages/engine/README.md
  packages/insight/README.md
  packages/vault-sdk/README.md
Labels: packages

Add webhooks feature to Insight dashboard
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/@/components/blocks/multi-select.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/InsightPageLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_components/BasicInfoStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_components/FilterDetailsStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_components/ReviewStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_components/StepIndicator.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_hooks/useAbiProcessing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_hooks/useTestWebhook.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_utils/abi-utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/_utils/webhook-types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/components/webhooks-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/insight/webhooks/page.tsx
Labels: dashboard

refactor: update import for Transfer module in getTransfer.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
Labels: packages, sdk

Prioritize JWT over service API keys in authentication
  .changeset/shaky-eels-shine.md
  packages/service-utils/.gitignore
  packages/service-utils/package.json
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/get-auth-headers.test.ts
  packages/service-utils/src/core/get-auth-headers.ts
  pnpm-lock.yaml
Labels: packages

update dependencies
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/knip.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/engine/package.json
  packages/insight/package.json
  packages/service-utils/package.json
  packages/thirdweb/knip.json
  packages/thirdweb/package.json
  packages/vault-sdk/package.json
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Prioritize JWT over service API keys in authentication (#7020)
  .changeset/shaky-eels-shine.md
  packages/service-utils/.gitignore
  packages/service-utils/package.json
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/get-auth-headers.test.ts
  packages/service-utils/src/core/get-auth-headers.ts
  pnpm-lock.yaml
Labels: packages

chore: Update Accelerate features list (#7053)
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/utils/pricing.tsx
Labels: dashboard

Version Packages (#7073)
  .changeset/shaky-eels-shine.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

[Dashboard] Remove taint for THIRDWEB_ENGINE_URL
  apps/dashboard/src/@/constants/server-envs.ts
Labels: dashboard

[Dashboard] Remove taint for THIRDWEB_ENGINE_URL (#7074)
  apps/dashboard/src/@/constants/server-envs.ts
Labels: dashboard

[Docs] Engine (#7057)
  apps/portal/src/app/engine/v3/faq/page.mdx
Labels: portal

[DOCS] fix link in contributing.md (#7063)
  .github/contributing.md
Labels: none

[Docs] Engine Update (#7052)
  apps/portal/src/app/engine/v3/page.mdx
Labels: portal
