Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

fix: correct event type matching for red dot color
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

feat: sort activity logs chronologically (oldest first)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Refactor activity log entry UI with improved event type styling
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Checkpoint before follow-up message
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Fix indentation in transaction details error handling logic
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Refactor event type colors to use Badge component with variants
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Refactor activity log rendering with explicit sorting and rendering logic
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Refactor activity log sorting to use insertion sort algorithm
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Checkpoint before follow-up message
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Remove timestamp from activity log entry item
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

revert robots.txt change
  apps/dashboard/public/robots.txt
Labels: dashboard

Add activity log section to transaction page (#7529)
  apps/dashboard/src/@/components/contract-components/shared/contract-id-image.tsx
  apps/dashboard/src/@/constants/thirdweb-client.server.ts
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractFromParams.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/chain-icon.tsx
  apps/dashboard/src/app/(app)/(dashboard)/profile/[addressOrEns]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/[version]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/utils/publishedContractOGImageTemplate.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/page.tsx
  apps/dashboard/src/app/(app)/project-showcase/[slug]/page.tsx
  apps/dashboard/src/app/(app)/project-showcase/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
  apps/dashboard/src/app/bridge/constants.ts
  apps/dashboard/src/app/pay/constants.ts
Labels: dashboard

Add decoded transaction parameters with tab view in transaction details
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/decoded-transaction-params.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

[Dashboard] Add server-wallet signAuthorization capability to wallet access token
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
Labels: dashboard

Refactor transaction decoding to server-side with improved error handling
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/decoded-transaction-params.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Fix transaction data decoding to correctly handle function arguments
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
Labels: dashboard

feat: webhook analytics tab
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/api/webhook-metrics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/actions/get-webhook-summary.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookAnalyticsCharts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookAnalyticsFilter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookAnalyticsServer.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhooksAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/use-webhook-metrics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
Labels: dashboard

Version Packages (#7511)
  .changeset/orange-files-admire.md
  .changeset/ten-forks-battle.md
  .changeset/three-parts-rush.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Update branding from Engine Cloud to Transactions (#7516)
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/dotnet/wallets/providers/engine-wallet/page.mdx
Labels: portal

Replace JSON.stringify with thirdweb stringify for better serialization
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Add switch to raw view when transaction decoding fails
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Support multiple transaction parameter decoding in transaction details
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Update WalletConnect dependencies to latest versions
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

Update WalletConnect dependencies and package configurations
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/wallet-connect/types.ts
  pnpm-lock.yaml
Labels: packages, sdk

Switch from EthereumProvider to UniversalProvider in WalletConnect
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  packages/thirdweb/src/wallets/wallet-connect/types.ts
  pnpm-lock.yaml
Labels: packages, sdk

cleanup
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Refactor error parsing with type guards and improved type safety
  apps/dashboard/src/@/utils/errorParser.tsx
  apps/nebula/src/@/utils/parse-error.tsx
Labels: dashboard

cleanup
  apps/playground-web/src/app/connect/sign-in/button/RightSection.tsx
  apps/playground-web/src/components/styled-connect-button.tsx
  apps/playground-web/src/components/styled-connect-embed.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: playground, packages, sdk

working state
  apps/playground-web/src/components/styled-connect-embed.tsx
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/native/create-wallet.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: playground, packages, sdk

layout
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

clickable contract
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

cleanup
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

cleanup
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, sdk

Respect feePayer property in Payment widgets
  .changeset/angry-dragons-smash.md
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

Enhance transaction details with decoded tab (#7531)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

[SDK] Respect feePayer property in Payment widgets (#7533)
  .changeset/angry-dragons-smash.md
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, sdk

changeset
  .changeset/chatty-candles-jog.md
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  packages/thirdweb/src/wallets/wallet-connect/types.ts
Labels: packages, sdk

query
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
Labels: packages, sdk

Version Packages (#7534)
  .changeset/angry-dragons-smash.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
