Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Move success URL handling from PayPage to StyledBuyWidget component
  apps/dashboard/src/app/pay/landing/styled-buy-widget.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: dashboard

Move success URL handling from PayPage to StyledBuyWidget component (#8342)
  apps/dashboard/src/app/pay/landing/styled-buy-widget.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: dashboard

Add Epic Games as new auth provider
  apps/dashboard/src/@/api/team/ecosystems.ts
  apps/dashboard/src/@/icons/brand-icons/EpicIcon.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/InAppWalletUsersChartCard.stories.tsx
  apps/playground-web/src/app/wallets/sign-in/components/InAppWalletFormGroup.tsx
  apps/portal/src/components/Document/AuthList.tsx
  packages/thirdweb/src/react/core/utils/walletIcon.test.ts
  packages/thirdweb/src/react/core/utils/walletIcon.ts
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/icons/svgs.ts
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/oauthSignIn.ts
  packages/thirdweb/src/stories/ConnectEmbed.stories.tsx
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Labels: dashboard, playground, packages, sdk, portal

Create beige-candles-happen.md
  .changeset/beige-candles-happen.md
Labels: none

Delete EpicIcon.tsx
  apps/dashboard/src/@/icons/brand-icons/EpicIcon.tsx
Labels: dashboard

[X402] Refactor payment processing to use facilitator.accepts
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/sign.ts
  packages/thirdweb/src/x402/types.ts
Labels: packages, sdk

[SDK] Refactor payment processing to use facilitator.accepts (#8344)
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/sign.ts
  packages/thirdweb/src/x402/types.ts
Labels: packages, sdk

[X402] Update flows to use remote /accepts endpoint
  .changeset/smart-sheep-doubt.md
Labels: none

[SDK] Update x402 flows to use remote /accepts endpoint (#8345)
  .changeset/smart-sheep-doubt.md
Labels: none

Version Packages (#8340)
  .changeset/rotten-apes-sing.md
  .changeset/smart-sheep-doubt.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Dashboard] Fix active users aggregation in project highlights card
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
Labels: dashboard

[Dashboard] Fix active users aggregation in project highlights card (#8346)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
Labels: dashboard

docs: typo fixes
  apps/portal/public/llms-full.txt
  apps/portal/src/app/wallets/link-profiles/page.mdx
  apps/portal/src/app/webhooks/page.mdx
  packages/vault-sdk/README.md
  scripts/hotlink/hotlink-init.mjs
Labels: packages, portal

[thirdweb] Fix hiddenWallets prop not applying to all wallets screen
  .changeset/dark-ravens-end.md
  packages/thirdweb/src/event/actions/get-events.test.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AllWalletsUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
Labels: packages, sdk

[SDK] Fix hiddenWallets prop not applying to all wallets screen (#8354)
  .changeset/dark-ravens-end.md
  packages/thirdweb/src/event/actions/get-events.test.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AllWalletsUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
Labels: packages, sdk

Version Packages (#8355)
  .changeset/dark-ravens-end.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

update implementations
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: packages, sdk

fix deployment for zk
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
Labels: packages, sdk

changeset
  .changeset/open-icons-start.md
Labels: none

Update implementations, fix deployment (#8356)
  .changeset/open-icons-start.md
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
Labels: packages, sdk

[X402] Add support for extra metadata in payment requests
  .changeset/four-ghosts-tickle.md
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/types.ts
Labels: packages, sdk

[SDK] Add support for extra metadata in x402 payment requests (#8358)
  .changeset/four-ghosts-tickle.md
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/types.ts
Labels: packages, sdk

Version Packages (#8357)
  .changeset/four-ghosts-tickle.md
  .changeset/open-icons-start.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Move x402 route from /payments/x402 to /x402
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: dashboard

Move x402 route from /payments/x402 to /x402 (#8360)
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: dashboard

[SDK] Enhance isMobile() detection with additional mobile signals
  .changeset/smooth-worlds-carry.md
  packages/thirdweb/src/contract/deployment/deploy-dynamic.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/installPublishedExtension.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/uninstallExtension.test.ts
  packages/thirdweb/src/utils/web/isMobile.ts
Labels: packages, sdk

[SDK] Enhance isMobile() detection with additional mobile signals (#8361)
  .changeset/smooth-worlds-carry.md
  packages/thirdweb/src/contract/deployment/deploy-dynamic.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/installPublishedExtension.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/uninstallExtension.test.ts
  packages/thirdweb/src/utils/web/isMobile.ts
Labels: packages, sdk

Version Packages (#8362)
  .changeset/smooth-worlds-carry.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[MNY-295] Fix BuyWidget autoconnect not working when receiverAddress prop is set (#8363)
  .changeset/bumpy-shoes-flow.md
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/stories/BuyWidget.stories.tsx
Labels: packages, sdk

Allow custom chain for SIWE authentication
  .changeset/loose-moose-draw.md
  apps/playground-web/package.json
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  pnpm-lock.yaml
Labels: playground, packages, sdk

[SDK] Allow custom chain for SIWE authentication (#8365)
  .changeset/loose-moose-draw.md
  apps/playground-web/package.json
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  pnpm-lock.yaml
Labels: playground, packages, sdk

Version Packages (#8364)
  .changeset/bumpy-shoes-flow.md
  .changeset/loose-moose-draw.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Dashboard: Update faucet amount for injective testnet (#8368)
  apps/dashboard/src/@/utils/faucet.ts
Labels: dashboard

Update vault documentation text and faq (#8367)
  apps/portal/src/app/vault/faqs/page.mdx
  apps/portal/src/app/vault/layout.tsx
  apps/portal/src/app/vault/page.mdx
Labels: portal

[SDK] Make maxAmount optional in wrapFetchWithPayment
  .changeset/famous-owls-lick.md
  packages/thirdweb/src/x402/encode.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/schemas.ts
Labels: packages, sdk

[SDK] Make maxAmount optional in wrapFetchWithPayment (#8369)
  .changeset/famous-owls-lick.md
  packages/thirdweb/src/x402/encode.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/schemas.ts
Labels: packages, sdk

Version Packages (#8370)
  .changeset/famous-owls-lick.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Refactor Solana sign transaction API for flexible inputs
  .changeset/salty-squids-repair.md
  packages/engine/src/client/sdk.gen.ts
  packages/engine/src/client/types.gen.ts
Labels: packages

fix typo
  .changeset/salty-squids-repair.md
Labels: none

Refactor Solana sign transaction API for flexible inputs (#8371)
  .changeset/salty-squids-repair.md
  packages/engine/src/client/sdk.gen.ts
  packages/engine/src/client/types.gen.ts
Labels: packages
