Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Version Packages (#6709)
  .changeset/slow-mice-grin.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Don't retry on user connection rejection in EIP1193 connector
  .changeset/tall-terms-slide.md
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

[SDK] Don't retry on user connection rejection in EIP1193 connector (#6712)
  .changeset/tall-terms-slide.md
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

fix: tool-4077 Error message cleanup on UB embed
  .changeset/moody-pants-play.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/Stepper.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ErrorText.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

[Dashboard] Feature: Improve chainlist bridge copy (#6714)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/BuyFundsSection.tsx
Labels: dashboard

lint
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: packages, sdk

[SDK] Fix: Error message cleanup on UB embed (#6716)
  .changeset/moody-pants-play.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/Stepper.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ErrorText.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

[Dashboard] Add partner-based analytics for ecosystem wallet usage
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/types/analytics.ts
Labels: dashboard

[Dashboard] Add partner-based analytics for ecosystem wallet usage (#6717)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/types/analytics.ts
Labels: dashboard

Version Packages (#6715)
  .changeset/moody-pants-play.md
  .changeset/tall-terms-slide.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Add billing warning and open invoice filtering (#6718)
  apps/dashboard/src/@/actions/stripe-actions.ts
  apps/dashboard/src/@/components/billing.tsx
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/invoices/components/billing-filter.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/invoices/components/billing-history.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/invoices/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/invoices/search-params.ts
  apps/dashboard/src/components/settings/Account/Billing/CancelPlanModal/CancelPlanModal.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
Labels: dashboard

Add RPC usage chart to dashboard (#6719)
  apps/dashboard/src/@/api/usage/rpc.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/page.tsx
Labels: dashboard

cleanup, test
  packages/thirdweb/src/event/actions/get-events.test.ts
  packages/thirdweb/src/event/actions/get-events.ts
Labels: packages, sdk

changeset
  .changeset/ready-tigers-pump.md
Labels: none

feat: bridge UI
  apps/dashboard/src/app/(dashboard)/(bridge)/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/bridge/page.tsx
Labels: dashboard

[Dashboard] Feature: bridge UI (#6727)
  apps/dashboard/src/app/(dashboard)/(bridge)/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/bridge/page.tsx
Labels: dashboard

Fix dynamic contract publish
  packages/thirdweb/scripts/generate/abis/dynamic-contracts/IExtensionManager.json
  packages/thirdweb/src/extensions/dynamic-contracts/__generated__/IExtensionManager/write/getAllExtensions.ts
  packages/thirdweb/src/extensions/thirdweb/write/publish.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/extensions/thirdweb/write/publish.ts
Labels: packages, sdk

correct function type
  packages/thirdweb/scripts/generate/abis/dynamic-contracts/IExtensionManager.json
  packages/thirdweb/src/extensions/dynamic-contracts/__generated__/IExtensionManager/read/getAllExtensions.ts
  packages/thirdweb/src/extensions/thirdweb/write/publish.ts
Labels: packages, sdk

chore: Update rate limit to sliding window (10s) (#6730)
  .changeset/open-ends-melt.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
Labels: packages

use insight client + fixes + tests
  packages/thirdweb/src/event/actions/get-events.test.ts
  packages/thirdweb/src/event/actions/get-events.ts
  packages/thirdweb/src/insight/get-events.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/insight/get-tokens.ts
  packages/thirdweb/src/insight/get-transactions.ts
  packages/thirdweb/src/insight/index.ts
Labels: packages, sdk

Fix dynamic contract publish (#6729)
  packages/thirdweb/scripts/generate/abis/dynamic-contracts/IExtensionManager.json
  packages/thirdweb/src/extensions/dynamic-contracts/__generated__/IExtensionManager/read/getAllExtensions.ts
  packages/thirdweb/src/extensions/thirdweb/write/publish.ts
Labels: packages, sdk

changeset
  .changeset/ready-tigers-pump.md
Labels: none

size
  packages/thirdweb/.size-limit.json
Labels: packages, sdk

Get events from insight (#6683)
  .changeset/ready-tigers-pump.md
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  packages/thirdweb/.size-limit.json
  packages/thirdweb/src/chains/types.ts
  packages/thirdweb/src/chains/utils.ts
  packages/thirdweb/src/event/actions/get-events.test.ts
  packages/thirdweb/src/event/actions/get-events.ts
  packages/thirdweb/src/insight/get-events.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/insight/get-tokens.ts
  packages/thirdweb/src/insight/get-transactions.ts
  packages/thirdweb/src/insight/index.ts
Labels: dashboard, packages, sdk

fix: improve Pay error message parsing
  .changeset/tired-windows-clean.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SendFunds.tsx
Labels: packages, sdk

[SDK] Fix: Improve PayEmbed error message parsing (#6732)
  .changeset/tired-windows-clean.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SendFunds.tsx
Labels: packages, sdk

[NEB-168] Nebula: Improve Execute Transaction Card UI (#6731)
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/metadata-header.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/single-network-selector.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/contract-subscriptions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/relayers/components/relayers-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTableUI.tsx
  apps/dashboard/src/components/cmd-k-search/index.tsx
  apps/dashboard/src/components/configure-networks/ConfigureNetworkForm.tsx
  apps/dashboard/src/components/contract-components/tables/contract-table.tsx
  apps/dashboard/src/components/icons/ChainIcon.tsx
  apps/dashboard/src/components/selects/CustomChainRenderer.tsx
  apps/dashboard/src/components/selects/NetworkSelectDropdown.tsx
  apps/dashboard/src/components/selects/NetworkSelectorButton.tsx
  apps/dashboard/src/components/settings/Account/Billing/CreditsItem.tsx
Labels: dashboard

Add RPC usage dashboard with rate limit monitoring (#6733)
  apps/dashboard/src/@/api/usage/rpc.ts
  apps/dashboard/src/@/components/blocks/charts/area-chart.tsx
  apps/dashboard/src/@/components/ui/chart.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/components/count-graph.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/components/rate-graph.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/page.tsx
Labels: dashboard

Improve error messages for failed HTTP requests
  .changeset/yummy-toys-hug.md
  apps/wallet-ui/src/lib/assets/erc721.ts
  apps/wallet-ui/src/lib/chains.ts
  packages/thirdweb/src/pay/buyWithCrypto/getHistory.ts
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/pay/buyWithFiat/getHistory.ts
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
  packages/thirdweb/src/pay/getBuyHistory.ts
  packages/thirdweb/src/rpc/fetch-rpc.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/biconomy.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/openzeppelin.ts
Labels: packages, sdk, Ecosystem Portal

[SDK] Improve error messages for failed HTTP requests (#6734)
  .changeset/yummy-toys-hug.md
  apps/wallet-ui/src/lib/assets/erc721.ts
  apps/wallet-ui/src/lib/chains.ts
  packages/thirdweb/src/pay/buyWithCrypto/getHistory.ts
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/pay/buyWithFiat/getHistory.ts
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
  packages/thirdweb/src/pay/getBuyHistory.ts
  packages/thirdweb/src/rpc/fetch-rpc.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/biconomy.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/openzeppelin.ts
Labels: packages, sdk, Ecosystem Portal

Add support for starter, accelerate, and scale tiers (#6735)
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
Labels: dashboard

Fix RPC usage graphs and improve rate limit visualization (#6737)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/components/count-graph.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/components/rate-graph.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/page.tsx
Labels: dashboard

[NEB-123] Nebula: Allow setting context with search params (#6736)
  .npmrc
  apps/dashboard/src/app/nebula-app/(app)/chat/[session_id]/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/chat/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/page.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
  apps/dashboard/src/app/nebula-app/login/page.tsx
  apps/dashboard/src/middleware.ts
Labels: dashboard

Nebula: Do not override chains set from search params (#6738)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
Labels: dashboard

Remove nebula waitlist check
  apps/dashboard/src/app/nebula-app/(app)/layout.tsx
Labels: dashboard

[Dashboard] Feature : Adding Next Steps guide into chain pages (#6743)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/NextSteps.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
Labels: dashboard

Portal: Use next-themes for theme management instead of custom code (#6739)
  apps/portal/package.json
  apps/portal/src/app/globals.css
  apps/portal/src/app/layout.tsx
  apps/portal/src/components/others/theme/ThemeSwitcher.tsx
  apps/portal/src/components/others/theme/theme.tsx
  apps/portal/src/components/ui/skeleton.tsx
  pnpm-lock.yaml
Labels: portal

Dashboard: Remove reo.dev from CSP script-src in next.config (#6740)
  apps/dashboard/next.config.ts
Labels: dashboard

Nebula: Fix chat session randomly showing empty state after first prompt (#6744)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
