Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[MNY-252] Dashboard: Update WalletAddress component UI (#8276)
  apps/dashboard/src/@/components/blocks/wallet-address.stories.tsx
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  packages/thirdweb/src/react/core/social/useSocialProfiles.ts
Labels: dashboard, packages, sdk

Resolve TokenIcon automatically when available
  .changeset/sharp-bats-pump.md
  .changeset/shy-pillows-turn.md
  apps/playground-web/src/components/headless-ui/token-examples.tsx
  apps/playground-web/src/components/headless-ui/token-previews.tsx
  packages/api/src/client/sdk.gen.ts
  packages/api/src/client/types.gen.ts
  packages/thirdweb/src/react/web/ui/prebuilt/Token/icon.tsx
Labels: playground, packages, sdk

Resolve TokenIcon automatically when available (#8279)
  .changeset/sharp-bats-pump.md
  .changeset/shy-pillows-turn.md
  apps/playground-web/src/components/headless-ui/token-examples.tsx
  apps/playground-web/src/components/headless-ui/token-previews.tsx
  packages/api/src/client/sdk.gen.ts
  packages/api/src/client/types.gen.ts
  packages/thirdweb/src/react/web/ui/prebuilt/Token/icon.tsx
Labels: playground, packages, sdk

Version Packages (#8272)
  .changeset/happy-trees-doubt.md
  .changeset/sharp-bats-pump.md
  .changeset/shy-pillows-turn.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

SDK: Fix process not defined error in Vite (#8280)
  .changeset/small-taxes-heal.md
  packages/thirdweb/src/utils/any-evm/zksync/constants.ts
Labels: packages, sdk

[Dashboard] Add nexus to framer-rewrites.js (#8287)
  apps/dashboard/framer-rewrites.js
Labels: dashboard

Add force-dynamic to Stripe-related pages
  apps/dashboard/src/app/(app)/(stripe)/cancel-plan/[team_id]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/manage-billing/[team_slug]/page.tsx
Labels: dashboard

Add force-dynamic to Stripe-related pages (#8288)
  apps/dashboard/src/app/(app)/(stripe)/cancel-plan/[team_id]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/manage-billing/[team_slug]/page.tsx
Labels: dashboard

[Dashboard] Add nexus to framer-rewrites.js (#8287)
  apps/dashboard/framer-rewrites.js
Labels: dashboard

Add userId support across wallet APIs and UI
  .changeset/breezy-heads-crash.md
  apps/dashboard/src/@/components/in-app-wallet-users-content/AdvancedSearchInput.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/SearchResults.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/in-app-wallet-users-content.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/searchUsers.ts
  apps/dashboard/src/@/components/in-app-wallet-users-content/types.ts
  apps/dashboard/src/@/hooks/useEmbeddedWallets.ts
  packages/api/src/client/sdk.gen.ts
  packages/api/src/client/types.gen.ts
Labels: dashboard, packages

Refactor user email display in wallet users table
  apps/dashboard/src/@/components/in-app-wallet-users-content/SearchResults.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/in-app-wallet-users-content.tsx
Labels: dashboard

Change getContractMetadata() return type from any to unknown
  .changeset/witty-plums-read.md
  apps/dashboard/src/@/api/universal-bridge/token-list.ts
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/hooks/useDashboardContractMetadata.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/hooks.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/token-viewer/token-viewer.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/metadata.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/page.tsx
  packages/service-utils/src/core/get-auth-headers.ts
  packages/thirdweb/src/exports/utils.ts
  packages/thirdweb/src/extensions/airdrop/write/saveSnapshot.ts
  packages/thirdweb/src/extensions/common/read/getContractMetadata.ts
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/ClaimButton/index.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/CreateDirectListingButton/index.tsx
  packages/thirdweb/src/utils/contract/fetchContractMetadata.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc1155.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc20.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc721.ts
  packages/thirdweb/src/utils/extensions/drops/get-claim-params.ts
  packages/thirdweb/src/utils/extensions/drops/get-multicall-set-claim-claim-conditon-transactions.ts
  packages/thirdweb/src/utils/type-guard.test.ts
  packages/thirdweb/src/utils/type-guards.ts
Labels: dashboard, packages, sdk

[Dashboard] Add userId support across wallet APIs and UI (#8290)
  .changeset/breezy-heads-crash.md
  apps/dashboard/src/@/components/in-app-wallet-users-content/AdvancedSearchInput.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/SearchResults.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/in-app-wallet-users-content.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/searchUsers.ts
  apps/dashboard/src/@/components/in-app-wallet-users-content/types.ts
  apps/dashboard/src/@/hooks/useEmbeddedWallets.ts
  packages/api/src/client/sdk.gen.ts
  packages/api/src/client/types.gen.ts
Labels: dashboard, packages

Change getContractMetadata() return type from any to unknown (#8289)
  .changeset/witty-plums-read.md
  apps/dashboard/src/@/api/universal-bridge/token-list.ts
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/hooks/useDashboardContractMetadata.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/hooks.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/token-viewer/token-viewer.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/metadata.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/page.tsx
  packages/service-utils/src/core/get-auth-headers.ts
  packages/thirdweb/src/exports/utils.ts
  packages/thirdweb/src/extensions/airdrop/write/saveSnapshot.ts
  packages/thirdweb/src/extensions/common/read/getContractMetadata.ts
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/ClaimButton/index.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/CreateDirectListingButton/index.tsx
  packages/thirdweb/src/utils/contract/fetchContractMetadata.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc1155.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc20.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc721.ts
  packages/thirdweb/src/utils/extensions/drops/get-claim-params.ts
  packages/thirdweb/src/utils/extensions/drops/get-multicall-set-claim-claim-conditon-transactions.ts
  packages/thirdweb/src/utils/type-guard.test.ts
  packages/thirdweb/src/utils/type-guards.ts
Labels: dashboard, packages, sdk

Version Packages (#8281)
  .changeset/breezy-heads-crash.md
  .changeset/small-taxes-heal.md
  .changeset/witty-plums-read.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[BLD-389] Dashboard: Project Wallet section UI improvements and refactor (#8291)
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletControls.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectWalletSetup.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet-details.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/components/server-wallets-table.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/solana-wallets/components/create-solana-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
Labels: dashboard

[Docs] Add guide for using ConnectButton with wagmi application
  apps/portal/src/app/wallets/adapters/page.mdx
Labels: portal

[PRO-72] Portal: Update hero subtext (#8292)
  apps/portal/src/app/page.tsx
Labels: portal

[MNY-257] Dashboard: Add query params in bridge page to configure token selection (#8293)
  apps/dashboard/src/app/bridge/page.tsx
Labels: dashboard

[MNY-285] Dashboard: Bridge page UI updates (#8295)
  apps/dashboard/package.json
  apps/dashboard/src/app/(app)/(dashboard)/tokens/page.tsx
  apps/dashboard/src/app/bridge/assets/chains.png
  apps/dashboard/src/app/bridge/assets/routes.png
  apps/dashboard/src/app/bridge/assets/tokens.png
  apps/dashboard/src/app/bridge/components/bridge-page.tsx
  apps/dashboard/src/app/bridge/components/client/animated-numbers.tsx
  apps/dashboard/src/app/bridge/data.ts
  apps/dashboard/src/app/bridge/exchange/[token-pair]/page.tsx
  apps/dashboard/src/app/bridge/page.tsx
  pnpm-lock.yaml
Labels: dashboard

react-native: fix Send Funds screen not allowing decimal amounts
  .changeset/clear-seals-kneel.md
  packages/thirdweb/src/react/native/ui/connect/SendScreen.tsx
Labels: packages, sdk

[MNY-286] SDK: Do not require connecting wallet in BuyWidget if receiverAddress is set (#8296)
  .changeset/light-signs-send.md
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
Labels: packages, sdk

[MNY-243] Update /pay page to render BuyWidget (#8297)
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/components/types.ts
  apps/dashboard/src/app/pay/landing/header.tsx
  apps/dashboard/src/app/pay/landing/styled-buy-widget.tsx
  apps/dashboard/src/app/pay/landing/wallets.ts
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: dashboard

[MNY-286] SDK: Do not require connecting wallet in BuyWidget if receiverAddress is set (#8296)
  .changeset/light-signs-send.md
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
Labels: packages, sdk

[MNY-243] Update /pay page to render BuyWidget (#8297)
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/components/types.ts
  apps/dashboard/src/app/pay/landing/header.tsx
  apps/dashboard/src/app/pay/landing/styled-buy-widget.tsx
  apps/dashboard/src/app/pay/landing/wallets.ts
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: dashboard

Add EIP-5792 support for wallet_sendCalls and wallet_getCallsStatus
  .changeset/smooth-ads-bathe.md
  apps/wagmi-demo/src/App.tsx
  apps/wagmi-demo/src/wagmi.ts
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
  packages/thirdweb/src/wallets/in-app/core/eip5792/in-app-wallet-calls.ts
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

Update airdrop tokens reference link (#8197)
  apps/playground-web/src/app/transactions/airdrop-tokens/page.tsx
  apps/playground-web/src/app/transactions/mint-tokens/page.tsx
Labels: playground

[Docs] Add guide for using ConnectButton with wagmi application (#8294)
  apps/portal/src/app/wallets/adapters/page.mdx
Labels: portal

[SDK] Add EIP-5792 support for EIP1193.toProvider() (#8298)
  .changeset/smooth-ads-bathe.md
  apps/wagmi-demo/src/App.tsx
  apps/wagmi-demo/src/wagmi.ts
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
  packages/thirdweb/src/wallets/in-app/core/eip5792/in-app-wallet-calls.ts
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

[SDK] Fix: update React Native Send Funds screen to allow decimal amounts (#8299)
  .changeset/clear-seals-kneel.md
  packages/thirdweb/src/react/native/ui/connect/SendScreen.tsx
Labels: packages, sdk

Version Packages (#8300)
  .changeset/clear-seals-kneel.md
  .changeset/light-signs-send.md
  .changeset/smooth-ads-bathe.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Update factory (#8301)
  .changeset/weak-guests-fry.md
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
Labels: packages, sdk

[MNY-237] SDK: Update theme colors, minor UI tweaks (#8305)
  .changeset/wise-actors-attack.md
  packages/thirdweb/src/react/core/design-system/index.ts
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/TokenSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ReceiveFunds.tsx
  packages/thirdweb/src/react/web/ui/components/modalElements.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectingScreen.tsx
  packages/thirdweb/src/stories/theme.stories.tsx
Labels: packages, sdk

Dashboard: Fix horizontal overflow in /bridge page (#8302)
  apps/dashboard/src/app/bridge/components/bridge-page.tsx
Labels: dashboard

[MNY-289] SDK: Fix token selection UI loading state when wallet is connected to a chain that is not supported by tw bridge (#8304)
  .changeset/fine-bobcats-rhyme.md
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
Labels: packages, sdk

move `@storybook/react` package to be a dev dependency
  .changeset/rich-cities-sniff.md
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

[Playground] Use production API URL instead of localhost
  apps/playground-web/src/app/api/paywall/route.ts
Labels: playground

[Playground] Use production API URL (#8307)
  apps/playground-web/src/app/api/paywall/route.ts
Labels: playground

Filter out null-ish values from ERC721 and ERC1155 getNFTs() arrays
  .changeset/good-regions-dig.md
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
Labels: packages, sdk

Filter out null-ish values from ERC721 and ERC1155 getNFTs() arrays (#8311)
  .changeset/good-regions-dig.md
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
