Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[SDK] Fix: Upload storage timeout (#6300)
  .changeset/twelve-walls-teach.md
  packages/thirdweb/src/storage/upload/mobile.ts
  packages/thirdweb/src/storage/upload/web-node.ts
Labels: packages, sdk

interop module support
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/data-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  apps/dashboard/src/data/explore.ts
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
Labels: dashboard, packages, sdk

clean up
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/data-table.tsx
Labels: dashboard

update explore page
  apps/dashboard/src/data/explore.ts
Labels: dashboard

lint
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/data-table.tsx
Labels: dashboard

Update billing management text (#6258)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
Labels: dashboard

fix: typos in documentation files (#6321)
  packages/thirdweb/src/rpc/rpc.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/lib/iframe-wallet.ts
Labels: packages, sdk

migrate analytics endpoints from v1 to v2
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/index.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/fetch-nebula-analytics.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/data/analytics/fetch-analytics.ts
  apps/dashboard/src/data/analytics/wallets/ecosystem.ts
  apps/dashboard/src/types/analytics.ts
  turbo.json
Labels: dashboard

migrate analytics endpoints from v1 to v2 (#6326)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/index.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/fetch-nebula-analytics.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/data/analytics/fetch-analytics.ts
  apps/dashboard/src/data/analytics/wallets/ecosystem.ts
  apps/dashboard/src/types/analytics.ts
  turbo.json
Labels: dashboard

[SDK] feat: Enhance fiat onramp with multi-step flow and currency support
  .changeset/shaggy-flowers-argue.md
  apps/playground-web/src/app/connect/pay/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/isSwapRequiredPostOnramp.ts
  packages/thirdweb/src/pay/convert/type.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatStatus.ts
  packages/thirdweb/src/react/core/hooks/wallets/useSendToken.ts
  packages/thirdweb/src/react/core/providers/invalidateWalletBalance.ts
  packages/thirdweb/src/react/core/utils/account.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/currencies/JPYIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayWIthCreditCard.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/CurrencySelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatTxDetailsTable.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/currencies.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useUISelectionStates.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/StepConnector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapSummary.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
Labels: playground, packages, sdk

[SDK] feat: Enhance fiat onramp with multi-step flow and currency support (#6323)
  .changeset/shaggy-flowers-argue.md
  apps/playground-web/src/app/connect/pay/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/isSwapRequiredPostOnramp.ts
  packages/thirdweb/src/pay/convert/type.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatStatus.ts
  packages/thirdweb/src/react/core/hooks/wallets/useSendToken.ts
  packages/thirdweb/src/react/core/providers/invalidateWalletBalance.ts
  packages/thirdweb/src/react/core/utils/account.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/currencies/JPYIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayWIthCreditCard.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/CurrencySelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatTxDetailsTable.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/currencies.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useUISelectionStates.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/StepConnector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapSummary.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
Labels: playground, packages, sdk

migrate user op analytics to server components
  apps/dashboard/package.json
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/api/chain.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chain-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/app/providers.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/search-params.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/index.tsx
  pnpm-lock.yaml
Labels: dashboard

chore: allow passing teamId to service-utils auth
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/core/types.ts
  packages/service-utils/src/node/index.ts
Labels: packages

add changeset
  .changeset/cuddly-plants-wait.md
Labels: none

migrate user op analytics to server components (#6328)
  apps/dashboard/package.json
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/api/chain.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chain-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/app/providers.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/search-params.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/index.tsx
  pnpm-lock.yaml
Labels: dashboard

chore: allow passing teamId to service-utils auth (#6329)
  .changeset/cuddly-plants-wait.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/core/types.ts
  packages/service-utils/src/node/index.ts
Labels: packages

migrate analytics params from clientId/accountId to teamId/projectId
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/index.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/header.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/index.tsx
  apps/dashboard/src/data/analytics/fetch-analytics.ts
  apps/dashboard/src/data/analytics/wallets/ecosystem.ts
  apps/dashboard/src/data/analytics/wallets/in-app.ts
  apps/dashboard/src/types/analytics.ts
Labels: dashboard

migrate analytics params from clientId/accountId to teamId/projectId (#6331)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/index.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/header.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/index.tsx
  apps/dashboard/src/data/analytics/fetch-analytics.ts
  apps/dashboard/src/data/analytics/wallets/ecosystem.ts
  apps/dashboard/src/data/analytics/wallets/in-app.ts
  apps/dashboard/src/types/analytics.ts
Labels: dashboard

removed discord cta (#6259)
  .github/contributing.md
  README.md
  apps/dashboard/src/@/components/blocks/app-footer.tsx
  apps/dashboard/src/app/(dashboard)/support/page.tsx
  apps/dashboard/src/components/footer/socialLinks.tsx
  packages/thirdweb/README.md
Labels: dashboard, packages, sdk

Update billing management text (#6258)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
Labels: dashboard

Feature: Routes page (#6318)
  apps/dashboard/.env.example
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/pagination.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/search.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/type.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/view.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/opengraph-image.png
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/types/route.ts
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
  apps/dashboard/tests/chain-page.spec.ts
  apps/dashboard/tests/contract-page.spec.ts
  apps/dashboard/tests/homepage.spec.ts
  apps/dashboard/tests/publisher-page.spec.ts
  apps/dashboard/tests/setup.ts
Labels: dashboard

lint
  apps/dashboard/src/components/icons/brand-icons/DiscordIcon.tsx
Labels: dashboard

Feature: Routes page (#6318)
  apps/dashboard/.env.example
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/pagination.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/search.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/type.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/view.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/opengraph-image.png
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/types/route.ts
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
  apps/dashboard/src/components/icons/brand-icons/DiscordIcon.tsx
  apps/dashboard/tests/chain-page.spec.ts
  apps/dashboard/tests/contract-page.spec.ts
  apps/dashboard/tests/homepage.spec.ts
  apps/dashboard/tests/publisher-page.spec.ts
  apps/dashboard/tests/setup.ts
Labels: dashboard

[thirdweb] fix: Force pre-EIP1559 transactions on Homeverse chains
  .changeset/violet-planets-remember.md
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/login/src/api/login/config.ts
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/gas/fee-data.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/currencies.test.tsx
  packages/thirdweb/src/transaction/actions/estimate-gas-cost.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: dashboard, packages, sdk

[SDK] fix: Force pre-EIP1559 transactions on Homeverse chains (#6332)
  .changeset/violet-planets-remember.md
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/login/src/api/login/config.ts
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/gas/fee-data.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/currencies.test.tsx
  packages/thirdweb/src/transaction/actions/estimate-gas-cost.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: dashboard, packages, sdk

fix: routes page bridge api auth
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
Labels: dashboard

use user auth token
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
Labels: dashboard

lint
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
Labels: dashboard

[Dashboard] Fix: Use Secret Key to Fetch Routes on Server (#6333)
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
Labels: dashboard

update playground
  apps/playground-web/src/app/connect/auth/page.tsx
  apps/playground-web/src/app/connect/sign-in/headless/page.tsx
  apps/playground-web/src/components/auth/auth-hook.tsx
  apps/playground-web/src/components/auth/basic-auth-hook.tsx
Labels: playground

[thirdweb] fix: Remove icon property check in currency tests
  .changeset/shaggy-flowers-argue.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/currencies.test.tsx
Labels: packages, sdk

[SDK] Feature: Add SiweOptions for useConnectModal (#6317)
  .changeset/tasty-pumpkins-relax.md
  apps/playground-web/src/app/connect/auth/page.tsx
  apps/playground-web/src/components/auth/auth-hook.tsx
  apps/playground-web/src/components/auth/basic-auth-hook.tsx
  apps/playground-web/src/components/sign-in/modal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
Labels: playground, packages, sdk

[thirdweb] fix: Remove icon property check in currency tests (#6334)
  .changeset/shaggy-flowers-argue.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/currencies.test.tsx
Labels: packages, sdk

[thirdweb] feat: Add activeWallet prop to PayEmbed
  .changeset/fifty-pandas-trade.md
  apps/playground-web/src/app/connect/auth/page.tsx
  apps/playground-web/src/components/auth/auth-hook.tsx
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: playground, packages, sdk

[thirdweb] feat: Add activeWallet prop to PayEmbed (#6335)
  .changeset/fifty-pandas-trade.md
  apps/playground-web/src/app/connect/auth/page.tsx
  apps/playground-web/src/components/auth/auth-hook.tsx
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: playground, packages, sdk

Version Packages (#6294)
  .changeset/cuddly-plants-wait.md
  .changeset/fifty-pandas-trade.md
  .changeset/funny-dragons-thank.md
  .changeset/shaggy-flowers-argue.md
  .changeset/tasty-pumpkins-relax.md
  .changeset/twelve-walls-teach.md
  .changeset/violet-planets-remember.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[TOOL-3508] Dashboard: Engine general Page UI improvements, update engine instance header layout (#6324)
  apps/dashboard/src/@/components/ui/input.tsx
  apps/dashboard/src/@/components/ui/tracked-link.tsx
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/_components.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/create/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/create/tier-card.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/import/EngineImportPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/import/EngineImportPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/import/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-instances-table.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/_components/version.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/wallet-credentials-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.stories.tsx
  apps/dashboard/src/app/team/components/HeaderLoggedOut/HeaderLoggedOut.tsx
Labels: dashboard

temp2
  apps/dashboard/.storybook/preview.tsx
  apps/dashboard/next-env.d.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/login/onboarding/LinkWalletPrompt/LinkWalletPrompt.stories.tsx
  apps/dashboard/src/app/login/onboarding/LinkWalletPrompt/LinkWalletPrompt.tsx
  apps/dashboard/src/app/login/onboarding/LoginOrSignup/LoginOrSignup.stories.tsx
  apps/dashboard/src/app/login/onboarding/LoginOrSignup/LoginOrSignup.tsx
  apps/dashboard/src/app/login/onboarding/VerifyEmail/VerifyEmail.stories.tsx
  apps/dashboard/src/app/login/onboarding/on-boarding-ui.tsx
  apps/dashboard/src/app/login/onboarding/onboarding-layout.tsx
Labels: dashboard

add pastDue to valid billing statuses
  .changeset/wise-boxes-fail.md
  apps/dashboard/knip.json
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/layout.tsx
  apps/dashboard/src/app/team/components/TeamHeader/getValidTeamPlan.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/portal/knip.json
  packages/service-utils/src/core/api.ts
  packages/thirdweb/src/auth/verify-typed-data.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-modular.test.ts
Labels: dashboard, packages, sdk, portal

[TOOL-3528] Dasboard: Fix in-app users CSV downloads empty file
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEmbeddedWallets.ts
  apps/dashboard/src/components/embedded-wallets/Users/index.tsx
  apps/dashboard/src/components/shared/TWTable.tsx
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
