Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[SDK] feat: Add provider selection to fiat onramp (#6190)
  .changeset/silent-comics-carry.md
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/utils/commonTypes.ts
  packages/thirdweb/src/react/core/utils/storage.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/Providers.tsx
Labels: playground, packages, sdk

add treasure and treasure topaz
  packages/thirdweb/src/chains/chain-definitions/treasure.ts
  packages/thirdweb/src/chains/chain-definitions/treasureTopaz.ts
  packages/thirdweb/src/exports/chains.ts
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
Labels: packages, sdk

[SDK] feat: Add editable token amount input to buy screen
  .changeset/nine-seahorses-judge.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

[SDK] feat: Add editable token amount input to buy screen (#6192)
  .changeset/nine-seahorses-judge.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

[SDK] feat: Add fiat value display to buy token input
  .changeset/nice-seas-march.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/BuyTokenInput.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/nativeToken.ts
  packages/thirdweb/src/react/web/ui/components/text.tsx
Labels: packages, sdk

remove duplicate
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
Labels: packages, sdk

[SDK] feat: Add fiat value display to buy token input (#6193)
  .changeset/nice-seas-march.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/BuyTokenInput.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/nativeToken.ts
  packages/thirdweb/src/react/web/ui/components/text.tsx
Labels: packages, sdk

[SDK] feat: Add session keys to smart wallet options
  .changeset/tender-dolls-tan.md
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  packages/thirdweb/src/wallets/smart/types.ts
Labels: packages, sdk

[SDK] feat: Add session keys to smart wallet options (#6194)
  .changeset/tender-dolls-tan.md
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  packages/thirdweb/src/wallets/smart/types.ts
Labels: packages, sdk

remove duplicate
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
Labels: packages, sdk

[TOOL-3298] Playground: Add Insight playground (#6185)
  apps/playground-web/package.json
  apps/playground-web/public/insight-hero.avif
  apps/playground-web/src/app/AppSidebar.tsx
  apps/playground-web/src/app/MobileHeader.tsx
  apps/playground-web/src/app/globals.css
  apps/playground-web/src/app/hooks/chains.ts
  apps/playground-web/src/app/hooks/useShowMore.ts
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/playground-web/src/app/insight/[blueprint_slug]/page.tsx
  apps/playground-web/src/app/insight/layout.tsx
  apps/playground-web/src/app/insight/page.tsx
  apps/playground-web/src/app/insight/utils.ts
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/blocks/APIHeader.tsx
  apps/playground-web/src/components/blocks/ChainIcon.tsx
  apps/playground-web/src/components/blocks/NetworkSelectors.tsx
  apps/playground-web/src/components/blocks/select-with-search.tsx
  apps/playground-web/src/components/code/RenderCode.tsx
  apps/playground-web/src/components/code/code.client.tsx
  apps/playground-web/src/components/code/getCodeHtml.tsx
  apps/playground-web/src/components/ui/Anchor.tsx
  apps/playground-web/src/components/ui/CustomAccordion.tsx
  apps/playground-web/src/components/ui/Img.tsx
  apps/playground-web/src/components/ui/Spinner/Spinner.module.css
  apps/playground-web/src/components/ui/Spinner/Spinner.tsx
  apps/playground-web/src/components/ui/alert.tsx
  apps/playground-web/src/components/ui/badge.tsx
  apps/playground-web/src/components/ui/breadcrumb.tsx
  apps/playground-web/src/components/ui/button.tsx
  apps/playground-web/src/components/ui/form.tsx
  apps/playground-web/src/components/ui/select.tsx
  apps/playground-web/src/components/ui/sidebar.tsx
  apps/playground-web/src/components/ui/table.tsx
  apps/playground-web/src/components/ui/tooltip.tsx
  apps/playground-web/src/lib/env.ts
  apps/playground-web/tailwind.config.ts
  pnpm-lock.yaml
Labels: playground

Check bytecode prefix
  packages/thirdweb/src/contract/deployment/zksync/zkDeployContract.ts
Labels: packages, sdk

ignore codecov
  codecov.yml
Labels: none

ignore
  codecov.yml
Labels: none

ignore
  codecov.yml
Labels: none

correct ignore path
  codecov.yml
Labels: none

fix body parser code for webhook
  apps/portal/src/app/engine/features/webhooks/page.mdx
Labels: portal

correct ignore path
  codecov.yml
Labels: none

check ignore path
  codecov.yml
Labels: none

try more ignore patterns
  codecov.yml
Labels: none

[SDK] Check bytecode prefix (#6196)
  codecov.yml
  packages/thirdweb/src/contract/deployment/zksync/zkDeployContract.ts
Labels: packages, sdk

feat: allowedToCreateChains in TeamResponse (#6172)
  .changeset/chatty-geese-burn.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: packages

[TOOL-3328] Dashboard: Show error message in toast on Email submission fail in onboaridng flow (#6186)
  apps/dashboard/src/app/login/onboarding/AccountForm.tsx
Labels: dashboard

[TOOL-3346] Portal: Add Nebula icon support in dynamic OG image generation (#6199)
  apps/portal/public/og/icons/nebula.svg
  apps/portal/src/app/nebula/layout.tsx
  apps/portal/src/components/Document/metadata.ts
Labels: portal

Docs up to .NET 2.17.1 / Unity 5.17.1 (#6200)
  apps/portal/src/app/dotnet/client/page.mdx
  apps/portal/src/app/dotnet/nebula/quickstart/page.mdx
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/wallets/providers/ecosystem-wallet/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/in-app-wallet/page.mdx
  apps/portal/src/app/unity/v5/sidebar.tsx
  apps/portal/src/app/unity/v5/thirdwebmanager/page.mdx
  apps/portal/src/app/unity/v5/thirdwebmanager/thirdwebmanager_misc.png
  apps/portal/src/app/unity/v5/thirdwebmanager/thirdwebmanager_preferences.png
  apps/portal/src/app/unity/v5/wallets/ecosystem-wallet/page.mdx
  apps/portal/src/app/unity/v5/wallets/in-app-wallet/page.mdx
Labels: portal

Version Packages (#6184)
  .changeset/chatty-geese-burn.md
  .changeset/healthy-cups-refuse.md
  .changeset/nice-seas-march.md
  .changeset/nine-seahorses-judge.md
  .changeset/silent-comics-carry.md
  .changeset/stupid-experts-shake.md
  .changeset/tender-dolls-tan.md
  .changeset/wicked-chairs-own.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Update coinbase/wallet-sdk
  .changeset/gold-cobras-switch.md
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

[SDK] chore: Update coinbase/wallet-sdk (#6204)
  .changeset/gold-cobras-switch.md
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

chore: Export usageV2 sources array
  packages/service-utils/src/core/usageV2.ts
Labels: packages

chore: Export sources array for usageV2
  .changeset/short-insects-fry.md
Labels: none

undo
  .changeset/healthy-cups-refuse.md
  packages/service-utils/src/core/usageV2.ts
Labels: packages

chore: Export sources array (#6206)
  .changeset/short-insects-fry.md
  packages/service-utils/src/core/usageV2.ts
Labels: packages

Version Packages (#6205)
  .changeset/gold-cobras-switch.md
  .changeset/short-insects-fry.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[service-utils] chore: Enable client-side usageV2 reporting
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

[service-utils] unauthed UsageV2 route
  .changeset/metal-crabs-beg.md
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

[service-utils] Allow sending client-side usageV2 events (#6207)
  .changeset/metal-crabs-beg.md
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

[dashboard-engine] updates for circle and wallet credentials (#6202)
  apps/dashboard/src/@3rdweb-sdk/react/cache-keys.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/_components/EnginePageLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/circle-config.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/engine-wallet-config.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/create-backend-wallet-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/create-wallet-credential-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/credential-form.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/credential-type-fields/circle.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/edit-wallet-credential-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/types.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/wallet-credentials-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/wallet-credentials.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/page.tsx
  apps/dashboard/src/lib/engine.ts
  apps/portal/src/app/engine/features/backend-wallets/page.mdx
  apps/portal/src/app/engine/features/wallet-credentials/page.mdx
  apps/portal/src/app/engine/sidebar.tsx
Labels: dashboard, portal

[SDK] feat: Batch approvals and swaps for smart wallets
  .changeset/dull-lamps-share.md
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/SwapDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/useBuyTransactionsToShow.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/pendingSwapTx.ts
Labels: packages, sdk

[SDK] feat: Batch approvals and swaps for smart wallets (#6209)
  .changeset/dull-lamps-share.md
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/SwapDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/useBuyTransactionsToShow.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/pendingSwapTx.ts
Labels: packages, sdk

add changeset
  .changeset/many-cameras-cover.md
Labels: none

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
