Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[Dashboard] Feature: Update payment success copy on payment page (#7936)
  .changeset/cuddly-results-play.md
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/SuccessScreen.tsx
  packages/thirdweb/src/stories/Bridge/SuccessScreen.stories.tsx
Labels: dashboard, packages, sdk

[SDK] Feature: Allow proceeding past first checkout widget page with no wallet (#7937)
  .changeset/eager-loops-fold.md
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/DirectPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
Labels: packages, sdk

Dashboard: Fix WalletAddress ens image size (#7935)
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/RecentTransfers.tsx
Labels: dashboard

[MNY-11] Dashboard: Add ERC20 token selector for starting price in token creation flow (#7933)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/_common/form.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/utils/calculate-tick.ts
Labels: dashboard

feat: add ability to exclude token prices from Bridge.tokens
  .changeset/ripe-teeth-fold.md
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/Token.test.ts
  packages/thirdweb/src/bridge/Token.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/bridge/types/Token.ts
  packages/thirdweb/src/pay/convert/get-token.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/DirectPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/stories/Bridge/fixtures.ts
Labels: packages, sdk

[MNY-128] Dashboard: UI tweaks in token creation flow (#7939)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_common/step-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/launch/launch-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-distribution.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
Labels: dashboard

[MNY-127] Dashboard: Remove unnecessary server action for fetching token list (#7940)
  apps/dashboard/src/@/api/universal-bridge/token-list.ts
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/api/universal-bridge/types.ts
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/@/hooks/tokens.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/CreatePaymentLinkButton.client.tsx
Labels: dashboard

Handle already connected wallets in 1193 provider
  .changeset/many-pants-tease.md
  .changeset/tricky-onions-jam.md
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/knip.json
  apps/playground-web/package.json
  apps/playground-web/src/app/ai/ai-sdk/components/chat-container.tsx
  apps/playground-web/src/app/ai/ai-sdk/page.tsx
  apps/playground-web/src/app/api/chat/route.ts
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/code/code-example.tsx
  apps/playground-web/src/components/conversation.tsx
  apps/playground-web/src/components/loader.tsx
  apps/playground-web/src/components/message.tsx
  apps/playground-web/src/components/prompt-input.tsx
  apps/playground-web/src/components/reasoning.tsx
  apps/playground-web/src/components/response.tsx
  apps/playground-web/src/components/ui/avatar.tsx
  apps/portal/package.json
  apps/portal/src/app/ai/chat/ai-sdk/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  package.json
  packages/ai-sdk-provider/README.md
  packages/ai-sdk-provider/biome.json
  packages/ai-sdk-provider/package.json
  packages/ai-sdk-provider/src/exports/thirdweb.ts
  packages/ai-sdk-provider/src/provider.ts
  packages/ai-sdk-provider/src/tools.ts
  packages/ai-sdk-provider/src/types.ts
  packages/ai-sdk-provider/tsconfig.base.json
  packages/ai-sdk-provider/tsconfig.build.json
  packages/ai-sdk-provider/tsconfig.json
  packages/thirdweb/src/adapters/eip1193/to-eip1193.test.ts
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal

[Package] @thirdweb-dev/ai-sdk-provider (#7922)
  .changeset/many-pants-tease.md
  .changeset/tricky-onions-jam.md
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/knip.json
  apps/playground-web/package.json
  apps/playground-web/src/app/ai/ai-sdk/components/chat-container.tsx
  apps/playground-web/src/app/ai/ai-sdk/page.tsx
  apps/playground-web/src/app/api/chat/route.ts
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/code/code-example.tsx
  apps/playground-web/src/components/conversation.tsx
  apps/playground-web/src/components/loader.tsx
  apps/playground-web/src/components/message.tsx
  apps/playground-web/src/components/prompt-input.tsx
  apps/playground-web/src/components/reasoning.tsx
  apps/playground-web/src/components/response.tsx
  apps/playground-web/src/components/ui/avatar.tsx
  apps/portal/package.json
  apps/portal/src/app/ai/chat/ai-sdk/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  package.json
  packages/ai-sdk-provider/README.md
  packages/ai-sdk-provider/biome.json
  packages/ai-sdk-provider/package.json
  packages/ai-sdk-provider/src/exports/thirdweb.ts
  packages/ai-sdk-provider/src/provider.ts
  packages/ai-sdk-provider/src/tools.ts
  packages/ai-sdk-provider/src/types.ts
  packages/ai-sdk-provider/tsconfig.base.json
  packages/ai-sdk-provider/tsconfig.build.json
  packages/ai-sdk-provider/tsconfig.json
  packages/thirdweb/src/adapters/eip1193/to-eip1193.test.ts
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal

Version Packages (#7932)
  .changeset/cuddly-results-play.md
  .changeset/eager-loops-fold.md
  .changeset/fuzzy-bars-wish.md
  .changeset/many-pants-tease.md
  .changeset/tricky-onions-jam.md
  packages/ai-sdk-provider/CHANGELOG.md
  packages/ai-sdk-provider/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Feature: add ability to exclude token prices from Bridge.tokens (#7942)
  .changeset/ripe-teeth-fold.md
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/Token.test.ts
  packages/thirdweb/src/bridge/Token.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/bridge/types/Token.ts
  packages/thirdweb/src/pay/convert/get-token.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/DirectPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/stories/Bridge/fixtures.ts
Labels: packages, sdk

Version Packages (#7943)
  .changeset/ripe-teeth-fold.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[AI SDK Provider] Fix type inference for tools
  .changeset/cool-jeans-end.md
  apps/portal/src/app/ai/chat/ai-sdk/page.mdx
  apps/portal/src/app/ai/chat/page.mdx
  packages/ai-sdk-provider/src/tools.ts
Labels: packages, portal

[AI SDK Provider] Fix type inference for tools (#7944)
  .changeset/cool-jeans-end.md
  apps/portal/src/app/ai/chat/ai-sdk/page.mdx
  apps/portal/src/app/ai/chat/page.mdx
  packages/ai-sdk-provider/src/tools.ts
Labels: packages, portal

Version Packages (#7945)
  .changeset/cool-jeans-end.md
  packages/ai-sdk-provider/CHANGELOG.md
  packages/ai-sdk-provider/package.json
Labels: packages

Update Contracts FAQ (#7930)
  apps/portal/src/app/contracts/faqs/page.mdx
Labels: portal

feat: add support siwa feedback system for closed support tickets (#7916)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCaseDetails.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/apis/feedback.ts
Labels: dashboard

[MNY-131] Add Pay Modal integration in useSendAndConfirmTransaction hook (#7946)
  .changeset/pretty-geese-win.md
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendAndConfirmTransaction.tsx
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/BuyDirectListingButton/index.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/ClaimButton/index.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/CreateDirectListingButton/index.tsx
Labels: packages, sdk

Dashboard: Remove OP Sponsored badge in Chain selector (#7948)
  apps/dashboard/src/@/components/misc/CustomChainRenderer.tsx
  apps/dashboard/src/@/constants/chains.ts
Labels: dashboard

Refactor minimal account and session key tests
  packages/thirdweb/src/extensions/erc7702/account/sessionkey.test.ts
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
Labels: packages, sdk

Dashboard: Hide cross-chain tab on non-modular contract pages
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/contract-page-layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageSidebarLinks.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/shared-cross-chain-page.tsx
Labels: dashboard

Regenerate MinimalAccount ABI
  packages/thirdweb/scripts/generate/abis/erc7702/MinimalAccount.json
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/events/SessionCreated.ts
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/events/ValueReceived.ts
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/read/eip712Domain.ts
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/read/getCallPoliciesForSigner.ts
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/read/getSessionExpirationForSigner.ts
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/read/getSessionStateForSigner.ts
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/read/getTransferPoliciesForSigner.ts
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/read/isWildcardSigner.ts
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/write/createSessionWithSig.ts
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/write/execute.ts
  packages/thirdweb/src/extensions/erc7702/__generated__/MinimalAccount/write/executeWithSig.ts
Labels: packages, sdk

Update session key event assertions in test
  packages/thirdweb/src/extensions/erc7702/account/sessionkey.test.ts
Labels: packages, sdk

Update test to check 'user' instead of 'to' in log args
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-integration.test.ts
Labels: packages, sdk

Fix test to check correct event argument name
  packages/thirdweb/src/extensions/erc7702/account/sessionkey.test.ts
Labels: packages, sdk

Dashboard: Fix footer not sticked to bottom on short contracts page (#7951)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/contract-page-layout.tsx
Labels: dashboard

Version Packages (#7949)
  .changeset/pretty-geese-win.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[AI SDK Provider] Auto handle session ids
  .changeset/pink-hands-find.md
  apps/playground-web/src/app/ai/ai-sdk/components/chat-container.tsx
  apps/playground-web/src/app/ai/ai-sdk/page.tsx
  apps/playground-web/src/app/api/chat/route.ts
  apps/portal/src/app/ai/chat/ai-sdk/page.mdx
  packages/ai-sdk-provider/src/provider.ts
Labels: playground, packages, portal

[AI SDK Provider] Auto handle session ids (#7956)
  .changeset/pink-hands-find.md
  apps/playground-web/src/app/ai/ai-sdk/components/chat-container.tsx
  apps/playground-web/src/app/ai/ai-sdk/page.tsx
  apps/playground-web/src/app/api/chat/route.ts
  apps/portal/src/app/ai/chat/ai-sdk/page.mdx
  packages/ai-sdk-provider/src/provider.ts
Labels: playground, packages, portal

Version Packages (#7957)
  .changeset/pink-hands-find.md
  packages/ai-sdk-provider/CHANGELOG.md
  packages/ai-sdk-provider/package.json
Labels: packages

added guide
  apps/portal/src/app/ai/chat/migrate-from-nebula/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
Labels: portal

Update apps/portal/src/app/ai/chat/migrate-from-nebula/page.mdx
  apps/portal/src/app/ai/chat/migrate-from-nebula/page.mdx
Labels: portal

Update apps/portal/src/app/ai/chat/migrate-from-nebula/page.mdx
  apps/portal/src/app/ai/chat/migrate-from-nebula/page.mdx
Labels: portal

Update apps/portal/src/app/ai/chat/migrate-from-nebula/page.mdx
  apps/portal/src/app/ai/chat/migrate-from-nebula/page.mdx
Labels: portal

Update apps/portal/src/app/ai/chat/migrate-from-nebula/page.mdx
  apps/portal/src/app/ai/chat/migrate-from-nebula/page.mdx
Labels: portal

docs: fix broken link
  apps/portal/src/app/tokens/explore/pre-built-modular/token/page.mdx
Labels: portal

Update apps/portal/src/app/ai/chat/migrate-from-nebula/page.mdx
  apps/portal/src/app/ai/chat/migrate-from-nebula/page.mdx
Labels: portal

docs: Fix Typos in docs
  apps/portal/src/app/typescript/v5/extensions/examples/transfering-tokens/page.mdx
  apps/portal/src/app/typescript/v5/extensions/use/page.mdx
  apps/portal/src/app/typescript/v5/migrate/page.mdx
Labels: portal

Update apps/portal/src/app/tokens/explore/pre-built-modular/token/page.mdx
  apps/portal/src/app/tokens/explore/pre-built-modular/token/page.mdx
Labels: portal

Refactor AI types and move definitions to types.ts
  apps/playground-web/src/app/ai/api/chat.ts
  apps/playground-web/src/app/ai/api/types.ts
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
Labels: playground
