Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[NEB-179] Nebula: Update context UI when context event type is received (#6770)
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/components/contract-components/published-contract/markdown-renderer.tsx
Labels: dashboard

updating to only users
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
Labels: dashboard

updated top cta in playground (#6774)
  apps/playground-web/src/components/blocks/APIHeader.tsx
Labels: playground

[TOOL-4176] Dashboard: Add tracking to nebula floating chat (#6777)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
Labels: dashboard

Dashboard: Fix Nebula card link in project FTUX (#6776)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/ProjectFTUX.tsx
Labels: dashboard

[Dashboard] Add webhook version support to Universal Bridge
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/components/pay/PayConfig.tsx
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
Labels: dashboard

feat: upgrade nextjs-toploader from 1.6.12 to 3.8.16 (#135)
  apps/portal/package.json
Labels: portal

feat: upgrade shiki from 1.27.0 to 3.2.1 (#133)
  apps/portal/package.json
Labels: portal

fix: upgrade flexsearch from 0.7.43 to 0.8.143 (#134)
  apps/portal/package.json
Labels: portal

Dashboard: Fix table row not clickable in safari because of sticky thead (#6783)
  apps/dashboard/src/@/components/ui/table.tsx
  apps/playground-web/src/components/ui/table.tsx
Labels: dashboard, playground

[TOOL-4208] Dashboard: Transfer tab improvements/fixes (#6784)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/TokenIdPage.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/transfer-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/useNftDrawerTabs.tsx
Labels: dashboard

fix: update bridge tests
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/utils/domains.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Status.ts
Labels: packages, sdk

[SDK] Fix: update bridge tests (#6785)
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/utils/domains.ts
Labels: packages, sdk

jonas/core-825-update-dependencies
  .changeset/ripe-parks-heal.md
  apps/dashboard/package.json
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/portal/src/components/Document/index.ts
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

jonas/core-825-update-dependencies (#6782)
  .changeset/ripe-parks-heal.md
  apps/dashboard/package.json
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/portal/src/components/Document/index.ts
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Add engineCloud plan capability to service-utils
  .changeset/lovely-peas-behave.md
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

[SDK] Fix loading state in PayEmbed source tokens
  .changeset/tender-parrots-stare.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
Labels: packages, sdk

feat: update webhook urls for UB
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
Labels: dashboard

[Dashboard] Add webhook version support to Universal Bridge
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/components/pay/PayConfig.tsx
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
Labels: dashboard

feat: update webhook urls for UB
  apps/dashboard/src/@/api/universal-bridge/webhooks.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
Labels: dashboard

fix: version select
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
Labels: dashboard

feat: generate secret key in UI
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
Labels: dashboard

[SDK] Fix loading state in PayEmbed source tokens (#6778)
  .changeset/tender-parrots-stare.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
Labels: packages, sdk

lint
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
Labels: dashboard

new api for updating developer fees
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/page.tsx
  apps/dashboard/src/components/pay/PayConfig.tsx
Labels: dashboard

lint
  apps/dashboard/src/@/api/universal-bridge/developer.ts
Labels: dashboard

handle bps
  apps/dashboard/src/components/pay/PayConfig.tsx
Labels: dashboard

[Dashboard] Add webhook version support to Universal Bridge (#6779)
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/page.tsx
  apps/dashboard/src/components/pay/PayConfig.tsx
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
Labels: dashboard

Add engineCloud plan capability to service-utils (#6793)
  .changeset/lovely-peas-behave.md
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

[TOOL-4228] Dashboard: Add file upload for in-app wallet branding form tool-4228 (#6811)
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
Labels: dashboard

[TOOL-4225] Dashboard: Show feedback on cancel transaction button click tool-4225 (#6812)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transaction-timeline.tsx
Labels: dashboard

[TOOL-4230] Dashboard: Remove add coupon UI from team billing page (#6813)
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/CouponsUI.tsx
Labels: dashboard

Update dependencies and add atomicRequired option to sendCalls
  packages/insight/package.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.test.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.ts
  packages/thirdweb/src/wallets/eip5792/types.ts
  pnpm-lock.yaml
Labels: packages, sdk

Expose rateLimitSlidingWindow strategy for low-level usage
  .changeset/tall-llamas-dress.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
  packages/service-utils/src/core/rateLimit/strategies/shared.ts
  packages/service-utils/src/core/rateLimit/strategies/sliding-window.ts
  packages/service-utils/src/index.ts
Labels: packages

Expose rateLimitSlidingWindow strategy for low-level usage (#6815)
  .changeset/tall-llamas-dress.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
  packages/service-utils/src/core/rateLimit/strategies/shared.ts
  packages/service-utils/src/core/rateLimit/strategies/sliding-window.ts
  packages/service-utils/src/index.ts
Labels: packages

[UI] Remove minHeight constraint from TokenSelectorScreen
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
Labels: packages, sdk

[SDK] Remove minHeight constraint from TokenSelectorScreen (#6817)
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
Labels: packages, sdk

Update team plan pricing (#6818)
  apps/dashboard/src/utils/pricing.tsx
Labels: dashboard

Version Packages (#6787)
  .changeset/lovely-peas-behave.md
  .changeset/ripe-parks-heal.md
  .changeset/tall-llamas-dress.md
  .changeset/tender-parrots-stare.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
