Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Refactor vault token creation and retry logic
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
Labels: dashboard

Improve withRetry validation and add secret key check
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
Labels: dashboard

Preserve wallet address on vault credential rotation (#8618)
  apps/dashboard/src/@/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/wallets/vault-recovery-card.client.tsx
Labels: dashboard

Add self-managed vault recovery option for lost secret key
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/wallets/vault-recovery-card.client.tsx
Labels: dashboard

Add self-managed vault recovery option for lost secret key (#8619)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/wallets/vault-recovery-card.client.tsx
Labels: dashboard

Add Your tokens tab
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SelectChainButton.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-chain.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/types.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/use-tokens.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/WalletDotIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Details/WalletManagerScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletSwitcherConnectionScreen.tsx
  packages/thirdweb/src/react/web/ui/components/DynamicHeight.tsx
  packages/thirdweb/src/react/web/ui/components/Modal.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SelectChain.stories.tsx
Labels: packages, sdk

[MNY-356] Add tokenEditable and amountEditable props on BuyWidget (#8621)
  .changeset/dirty-breads-swim.md
  apps/dashboard/src/app/bridge/buy-widget/BuyWidgetEmbed.client.tsx
  apps/dashboard/src/app/bridge/buy-widget/page.tsx
  apps/playground-web/src/app/bridge/buy-widget/BuyPlayground.tsx
  apps/playground-web/src/app/bridge/checkout-widget/CheckoutPlayground.tsx
  apps/playground-web/src/app/bridge/components/CodeGen.tsx
  apps/playground-web/src/app/bridge/components/LeftSection.tsx
  apps/playground-web/src/app/bridge/components/RightSection.tsx
  apps/playground-web/src/app/bridge/components/buildBuyIframeUrl.ts
  apps/playground-web/src/app/bridge/components/types.ts
  apps/playground-web/src/app/bridge/transaction-widget/TransactionPlayground.tsx
  apps/portal/src/app/bridge/buy-widget/iframe/page.mdx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/selected-token-button.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/stories/BuyWidget.stories.tsx
Labels: dashboard, playground, packages, sdk, portal

changeset, error msg
  .changeset/social-ads-arrive.md
  packages/thirdweb/src/x402/fetchWithPayment.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/x402/fetchWithPayment.test.ts
Labels: packages, sdk

[SDK] Fix: Parse x402 payment header (#8617)
  .changeset/social-ads-arrive.md
  packages/thirdweb/src/x402/encode.ts
  packages/thirdweb/src/x402/fetchWithPayment.test.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
Labels: packages, sdk

support x402 v2 headers
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/fetchWithPayment.test.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/headers.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/types.ts
  packages/thirdweb/src/x402/verify-payment.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/x402/headers.ts
  packages/thirdweb/src/x402/types.ts
Labels: packages, sdk

changeset
  .changeset/eight-pants-drum.md
Labels: none

[MNY-233] Add Last Used badge in Connect UI
  .changeset/three-fans-flow.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/storage.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletTypeRowButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletConnectReceiverScreen.tsx
  packages/thirdweb/src/react/web/ui/components/badge.tsx
  packages/thirdweb/src/react/web/utils/sortWallets.ts
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.test.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/stories/ConnectButton/others.stories.tsx
  packages/thirdweb/src/wallets/manager/index.ts
Labels: packages, sdk

[MNY-233] SDK: Add Last Used badge in Connect UI (#8631)
  .changeset/three-fans-flow.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/storage.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletTypeRowButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletConnectReceiverScreen.tsx
  packages/thirdweb/src/react/web/ui/components/badge.tsx
  packages/thirdweb/src/react/web/utils/sortWallets.ts
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.test.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/stories/ConnectButton/others.stories.tsx
  packages/thirdweb/src/wallets/manager/index.ts
Labels: packages, sdk

fixes
  apps/playground-web/src/app/api/paywall/route.ts
  apps/portal/src/app/x402/facilitator/page.mdx
  apps/portal/src/app/x402/page.mdx
  apps/portal/src/app/x402/server/page.mdx
  packages/nexus/src/settle-payment.ts
  packages/nexus/src/verify-payment.ts
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/encode.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/types.ts
Labels: playground, packages, sdk, portal

support x402 v2 headers (#8623)
  .changeset/eight-pants-drum.md
  apps/playground-web/src/app/api/paywall/route.ts
  apps/portal/src/app/x402/facilitator/page.mdx
  apps/portal/src/app/x402/page.mdx
  apps/portal/src/app/x402/server/page.mdx
  packages/nexus/src/settle-payment.ts
  packages/nexus/src/verify-payment.ts
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/encode.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/fetchWithPayment.test.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/headers.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/types.ts
  packages/thirdweb/src/x402/verify-payment.ts
Labels: playground, packages, sdk, portal

Version Packages (#8622)
  .changeset/dirty-breads-swim.md
  .changeset/dry-wasps-love.md
  .changeset/eager-loops-obey.md
  .changeset/easy-teams-agree.md
  .changeset/eight-pants-drum.md
  .changeset/etherlink-shadownet-chain.md
  .changeset/heavy-clowns-stay.md
  .changeset/ninety-trains-tell.md
  .changeset/plain-maps-care.md
  .changeset/short-wasps-show.md
  .changeset/sixty-clubs-fix.md
  .changeset/social-ads-arrive.md
  .changeset/three-fans-flow.md
  .changeset/two-pandas-knock.md
  .changeset/violet-needles-fly.md
  .changeset/yummy-squids-rush.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

add receiver address for swap and buy widget
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/bridge-widget/bridge-widget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-chain.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk

Add fallback for gas fee estimation in zkSync
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.test.ts
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.ts
Labels: packages, sdk

Create spotty-experts-rest.md
  .changeset/spotty-experts-rest.md
Labels: none

Update send-eip712-transaction.test.ts
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.test.ts
Labels: packages, sdk

Add fallback for gas fee estimation in zkSync (#8637)
  .changeset/spotty-experts-rest.md
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.test.ts
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.ts
Labels: packages, sdk

Version Packages (#8638)
  .changeset/spotty-experts-rest.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Fix getCallStatus via EIP1193 provider
  .changeset/yummy-sloths-live.md
  apps/wagmi-demo/src/App.tsx
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/wallets/in-app/core/eip5792/in-app-wallet-calls.ts
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/injected/index.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

Fix getCallStatus via EIP1193 provider (#8639)
  .changeset/yummy-sloths-live.md
  apps/wagmi-demo/src/App.tsx
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/wallets/in-app/core/eip5792/in-app-wallet-calls.ts
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/injected/index.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

Version Packages (#8640)
  .changeset/yummy-sloths-live.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Add support for base-org/account SDK
  .changeset/add-base-account-sdk.md
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/wallets/base-account/base-account-wallet.ts
  packages/thirdweb/src/wallets/base-account/base-account-web.test.ts
  packages/thirdweb/src/wallets/base-account/base-account-web.ts
  packages/thirdweb/src/wallets/constants.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/wallet-types.ts
  pnpm-lock.yaml
Labels: packages, sdk

docs: add Node.js and pnpm setup tip
  README.md
Labels: none

[SDK] Add support for base-org/account SDK
  .changeset/add-base-account-sdk.md
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/wallets/base-account/base-account-wallet.ts
  packages/thirdweb/src/wallets/base-account/base-account-web.test.ts
  packages/thirdweb/src/wallets/base-account/base-account-web.ts
  packages/thirdweb/src/wallets/constants.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/wallet-types.ts
  pnpm-lock.yaml
Labels: packages, sdk

Support linking accounts with redirect mode
  .changeset/eleven-boxes-type.md
  apps/playground-web/src/components/in-app-wallet/profiles.tsx
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/react/web/hooks/wallets/useLinkProfile.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/getLoginPath.ts
  packages/thirdweb/src/wallets/in-app/core/interfaces/connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/oauth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: playground, packages, sdk

fix test
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
Labels: packages, sdk

Support linking accounts with redirect mode (#8643)
  .changeset/eleven-boxes-type.md
  apps/playground-web/src/components/in-app-wallet/profiles.tsx
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/react/web/hooks/wallets/useLinkProfile.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/getLoginPath.ts
  packages/thirdweb/src/wallets/in-app/core/interfaces/connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/oauth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: playground, packages, sdk

Version Packages (#8644)
  .changeset/add-base-account-sdk.md
  .changeset/eleven-boxes-type.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

fix
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk

lint fix
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk

portal: landing page ui improvements
  apps/portal/src/app/page.tsx
  apps/portal/src/components/AI/chat-button.tsx
Labels: portal

increase bottom padding
  apps/portal/src/app/page.tsx
Labels: portal

[Dashboard] Add Sei chain description for chain ID 1329
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/utils.ts
Labels: dashboard

portal: landing page ui improvements (#8647)
  apps/portal/src/app/page.tsx
  apps/portal/src/components/AI/chat-button.tsx
Labels: portal
