Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[SDK] fix: Simplify in-app wallet logout flow (#6046)
  .changeset/blue-rivers-own.md
  packages/thirdweb/src/wallets/in-app/web/lib/auth/iframe-auth.ts
Labels: packages, sdk

Version Packages (#6030)
  .changeset/blue-rivers-own.md
  .changeset/kind-beers-fold.md
  .changeset/neat-ads-build.md
  .changeset/nervous-frogs-pay.md
  .changeset/rotten-vans-sleep.md
  .changeset/two-trees-tease.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[service-utils] Export UsageV2 helpers
  .changeset/friendly-lamps-think.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/node/index.ts
Labels: packages

noop
  .changeset/friendly-lamps-think.md
Labels: none

[service-utils] Export UsageV2 helpers (#6047)
  .changeset/friendly-lamps-think.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/node/index.ts
Labels: packages

[service-utils] Pass project ID to usage2
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/index.ts
Labels: packages

[service-utils] usage_v2 accepts a project_id field (#6049)
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/index.ts
Labels: packages

[service-utils] Replace client_id with project_id in usage_v2
  .changeset/short-carrots-smile.md
  packages/service-utils/src/node/usageV2.ts
Labels: packages

[service-utils] Replace client_id with project_id in usage_v2 (#6050)
  .changeset/short-carrots-smile.md
  packages/service-utils/src/node/usageV2.ts
Labels: packages

updated homepage
  apps/portal/src/app/page.tsx
Labels: portal

updated titles and terms fixes
  apps/portal/src/app/connect/account-abstraction/sponsorship-rules/page.mdx
  apps/portal/src/app/connect/pay/faqs/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/guest/page.mdx
  apps/portal/src/app/nebula/page.mdx
Labels: portal

fix ArticleIconCard
  apps/portal/src/app/connect/wallet/overview/page.mdx
Labels: portal

feat(ecosystems): add flag for skipping default ecosystem info fetch
  .changeset/neat-poems-impress.md
  packages/thirdweb/src/wallets/ecosystem/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
Labels: packages, sdk

insight update to spanish
  apps/portal/src/app/insight/agents-and-llms/llmstxt/page.mdx
  apps/portal/src/app/insight/agents-and-llms/page.mdx
  apps/portal/src/app/insight/blueprints/page.mdx
  apps/portal/src/app/insight/get-started/page.mdx
  apps/portal/src/app/insight/page.mdx
  apps/portal/src/app/insight/supported-chains/page.mdx
  apps/portal/src/app/insight/use-cases/page.mdx
Labels: portal

Update page.mdx
  apps/portal/src/app/contracts/modular-contracts/get-started/create-module-contract/page.mdx
Labels: portal

Update page.mdx
  apps/portal/src/app/contracts/modular-contracts/get-started/create-module-contract/page.mdx
Labels: portal

[Experiment] Chart fetching strategies
  apps/dashboard/package.json
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/ChartUI.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/date.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/delays.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/fetchTestData.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/getRange.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/pageProcessing.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/cache-client/client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/cache-client/contexts.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/cache-client/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/cache-client/server.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/client-persist/idb-persister.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/client-persist/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/client/_page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/rsc-cache/client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/rsc-cache/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/rsc-cache/responsive.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/rsc-cache/server.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/server/client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/server/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/server/server.tsx
  apps/dashboard/src/components/analytics/date-range-selector.tsx
  pnpm-lock.yaml
Labels: dashboard

[SDK] chore: Increase CJS bundle size limit to 130kb
  packages/thirdweb/.size-limit.json
Labels: packages, sdk

Version Packages (#6048)
  .changeset/friendly-lamps-think.md
  .changeset/short-carrots-smile.md
  .changeset/violet-tables-travel.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] chore: Increase CJS bundle size limit to 130kb (#6058)
  packages/thirdweb/.size-limit.json
Labels: packages, sdk

[TOOL-3231] Show View Project Link after creating a project in Modal (#6055)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/embed/embed-setup.tsx
  apps/dashboard/src/app/account/components/AccountHeader.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/app/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/CreateApiKeyModal.stories.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
Labels: dashboard

[Experiment] Chart fetching strategies
  apps/dashboard/package.json
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/ChartUI.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/date.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/delays.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/fetchTestData.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/getCachedFetchTestData.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/getRange.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/_common/pageProcessing.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/cache-client/client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/cache-client/contexts.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/cache-client/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/cache-client/server.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/client-persist/idb-persister.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/client-persist/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/client/_page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/responsive-rsc/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/responsive-rsc/range-selector.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/server/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/test/server/range-selector.tsx
  apps/dashboard/src/components/analytics/date-range-selector.tsx
  pnpm-lock.yaml
Labels: dashboard

[TOOL-3238] Fix Engine backend wallet balances not updating on chain change (#6059)
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/utils.ts
Labels: dashboard

[NEB-77] Nebula: Various UI updates (#6060)
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/app/nebula-app/(app)/chat/history/ChatHistoryPage.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
Labels: dashboard

[TOOL-3241] Fix previous account shown after logging out in onboarding flow (#6061)
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/onboarding/General.tsx
  apps/dashboard/src/app/login/onboarding/on-boarding-ui.client.tsx
Labels: dashboard

[SDK] fix: Respect chain param in in-app wallet connection
  .changeset/kind-starfishes-sell.md
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
Labels: packages, sdk

[SDK] fix: Respect chain param in in-app wallet connection (#6068)
  .changeset/kind-starfishes-sell.md
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
Labels: packages, sdk

Version Packages (#6069)
  .changeset/kind-starfishes-sell.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] fix: Update ecosystem name and admin wallet handling
  apps/playground-web/src/components/in-app-wallet/ecosystem.tsx
  packages/thirdweb/src/react/core/hooks/wallets/useAdminWallet.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ManageWalletScreen.tsx
Labels: playground, packages, sdk

[SDK] fix: Update ecosystem name and admin wallet handling (#6071)
  apps/playground-web/src/components/in-app-wallet/ecosystem.tsx
  packages/thirdweb/src/react/core/hooks/wallets/useAdminWallet.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ManageWalletScreen.tsx
Labels: playground, packages, sdk

[SDK] fix: Show link profiles for ecosystem smart wallets
  .changeset/big-actors-brake.md
Labels: none

[SDK] fix: Show link profiles for ecosystem smart wallets (#6072)
  .changeset/big-actors-brake.md
Labels: none

Version Packages (#6073)
  .changeset/big-actors-brake.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] fix: Account linking for ecosystem smart wallets
  .changeset/new-maps-enjoy.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkProfileScreen.tsx
Labels: packages, sdk

[SDK] fix: Account linking for ecosystem smart wallets (#6074)
  .changeset/new-maps-enjoy.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkProfileScreen.tsx
Labels: packages, sdk

Version Packages (#6075)
  .changeset/new-maps-enjoy.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

remove growth trial eligibility (#6070)
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

remove growth trial eligibility (#6070)
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

chore: Update PR template format
  .github/pull_request_template.md
Labels: none

chore: Update PR template format (#6077)
  .github/pull_request_template.md
Labels: none
