Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[service-utils]H elper to call client usageV2 reporting endpoint
  .changeset/breezy-balloons-ring.md
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

[service-utils]H elper to call client usageV2 reporting endpoint (#6212)
  .changeset/breezy-balloons-ring.md
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

[service-utils] Omit team_id for client usageV2 events
  .changeset/fresh-weeks-deliver.md
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/service-utils/src/core/usageV2.ts
Labels: packages

[service-utils] Omit team_id for client usageV2 events (#6213)
  .changeset/fresh-weeks-deliver.md
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/service-utils/src/core/usageV2.ts
Labels: packages

format quotes
  packages/thirdweb/src/chains/chain-definitions/treasure.ts
  packages/thirdweb/src/chains/chain-definitions/treasureTopaz.ts
Labels: packages, sdk

[TOOL-3368] Dashboard: Improve page load perf of explore page and other few others (#6214)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/getModuleInstalledParams.ts
  apps/dashboard/src/app/(dashboard)/contracts/publish/[publish_uri]/page.tsx
  apps/dashboard/src/app/(dashboard)/explore/[category]/page.tsx
  apps/dashboard/src/app/(dashboard)/explore/page.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/layout.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/opengraph-image.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/utils/getPublishedContractsWithPublisherMapping.ts
  apps/dashboard/src/components/contract-components/fetch-contracts-with-versions.ts
  apps/dashboard/src/components/explore/contract-card/index.tsx
Labels: dashboard

[TOOL-3366] Dashboard: Contract Deployment UI improvements, Reduce Chakra Usage (#6211)
  apps/dashboard/src/@/components/blocks/FormFieldSetup.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/primary-sale.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/royalties.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/contract-actions-deploy.client.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/contract-actions-published.client.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/contract-info.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/publish-based-deploy.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/version-selector.tsx
  apps/dashboard/src/app/(landing)/ThemeProvider.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/common.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/contract-metadata-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/modular-contract-default-modules-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/param.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/primary-sale-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/royalty-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/sequential-token-id-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/split-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/trusted-forwarders-fieldset.tsx
  apps/dashboard/src/components/contract-components/published-contract/index.tsx
  apps/dashboard/src/components/contract-components/publisher/publisher-header.tsx
  apps/dashboard/src/components/inputs/BasisPointsInput.tsx
  apps/dashboard/src/components/selects/NetworkSelectorButton.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/address-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/bytes-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/index.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/int-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/raw-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/string-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/tuple-input.tsx
Labels: dashboard

Update helpers.ts
  packages/thirdweb/src/storage/upload/helpers.ts
Labels: packages, sdk

[service-utils] fix auth cache for cf workers
  .changeset/hungry-books-jump.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/authorize/index.ts
Labels: packages

[service-utils] fix auth cache for cf workers (#6219)
  .changeset/hungry-books-jump.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/authorize/index.ts
Labels: packages

[Portal] Nebula documentation update (#6201)
  apps/portal/src/app/nebula/api-reference/chat/page.mdx
  apps/portal/src/app/nebula/api-reference/page.mdx
  apps/portal/src/app/nebula/assets/streamed-response.png
  apps/portal/src/app/nebula/faqs/page.mdx
  apps/portal/src/app/nebula/get-started/page.mdx
  apps/portal/src/app/nebula/key-concepts/chat-execute/page.mdx
  apps/portal/src/app/nebula/key-concepts/context-filters/page.mdx
  apps/portal/src/app/nebula/key-concepts/execute-configuration/page.mdx
  apps/portal/src/app/nebula/key-concepts/response-handling/page.mdx
  apps/portal/src/app/nebula/key-concepts/sessions/page.mdx
  apps/portal/src/app/nebula/page.mdx
  apps/portal/src/app/nebula/plugins/eliza/page.mdx
  apps/portal/src/app/nebula/plugins/openai/page.mdx
  apps/portal/src/app/nebula/plugins/page.mdx
  apps/portal/src/app/nebula/prompt-guide/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
Labels: portal

[Experiment] unstable_cache: Teams and Projects
  apps/dashboard/src/@/actions/confirmEmail.ts
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/@/actions/updateAccount.ts
  apps/dashboard/src/@/actions/validLogin.ts
  apps/dashboard/src/@/api/projects.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/@/constants/cacheTags.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
  apps/dashboard/src/app/account/settings/getAccount.ts
  apps/dashboard/src/app/api/auth/ensure-login/route.ts
  apps/dashboard/src/app/api/auth/get-auth-token/route.ts
  apps/dashboard/src/app/api/lib/getAPIKeys.ts
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
  apps/dashboard/src/app/login/auth-actions.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/updateTeam.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/getAccountUsage.ts
  apps/dashboard/src/stories/stubs.ts
Labels: dashboard

[TOOL-3376] Dashboard: Fix 404 on publish contract page (#6221)
  apps/dashboard/src/app/(dashboard)/contracts/publish/[publish_uri]/page.tsx
Labels: dashboard

[Portal] Cosmetic Changes (#6218)
  apps/portal/src/app/_images/supported-chains.png
  apps/portal/src/app/connect/page.mdx
  apps/portal/src/app/contracts/deploy/overview/page.mdx
  apps/portal/src/app/contracts/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
  apps/portal/src/app/insight/faqs/page.mdx
  apps/portal/src/app/insight/page.mdx
  apps/portal/src/app/insight/sidebar.tsx
  apps/portal/src/app/insight/supported-chains/page.mdx
  apps/portal/src/app/insight/troubleshoot/page.mdx
  apps/portal/src/app/nebula/assets/context-filters.png
  apps/portal/src/app/nebula/page.mdx
  apps/portal/src/app/nebula/troubleshoot/page.mdx
Labels: portal

fix: typos in documentation files (#6215)
  packages/thirdweb/src/storage/upload/helpers.ts
Labels: packages, sdk

Docs remove legacy enc key arg (#6220)
  apps/portal/src/app/unity/v5/wallets/in-app-wallet/page.mdx
Labels: portal

[Dashboard] Feature: Adding custom chain info to Hemi Sepolia (#6154)
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/HemiBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/HemiCTA.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

[TOOL-3377] Portal: Remove v4 SDK links, setup missing redirects (#6222)
  apps/dashboard/src/app/(landing)/in-app-wallets/page.tsx
  apps/dashboard/src/contract-ui/tabs/code/components/code-overview.tsx
  apps/portal/redirects.mjs
  apps/portal/src/app/cli/login/page.mdx
  apps/portal/src/app/connect/account-abstraction/how-it-works/page.mdx
  apps/portal/src/app/engine/features/backend-wallets/page.mdx
  apps/portal/src/app/glossary/smart-wallet/page.mdx
Labels: dashboard, portal

[SDK] feat: Add session key update handling and expose utility
  .changeset/good-carpets-dream.md
  packages/thirdweb/src/exports/extensions/erc4337.ts
  packages/thirdweb/src/extensions/erc4337/account/addSessionKey.ts
  packages/thirdweb/src/extensions/erc4337/account/permissions.test.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

[NEB-92] Dashboard: Add Nebula Analytics dashboard (#6198)
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/DatePickerWithRange.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/fetch-nebula-analytics.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-filter.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-ui.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/utils.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/tabs.tsx
  apps/dashboard/src/components/analytics/date-range-selector.tsx
  apps/dashboard/src/lib/time.ts
  pnpm-lock.yaml
Labels: dashboard

[TOOL-3379] Dashboard: Add team selector in support form (#6227)
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.client.tsx
  apps/dashboard/src/app/(dashboard)/support/create-ticket/page.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_SelectInput.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_TeamSelection.tsx
Labels: dashboard

update bps
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
Labels: dashboard

placeholder address
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
Labels: dashboard

update copy, filter functions
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/primary-sale-fieldset.tsx
  apps/dashboard/src/components/contract-functions/contract-function.tsx
Labels: dashboard

[SDK] fix: Disable quote retries and show fiat values
  .changeset/cool-pumpkins-punch.md
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithCryptoQuote.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuote.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
Labels: packages, sdk

Update page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/hooks/page.mdx
Labels: portal

[SDK] feat: Add session key update handling and expose utility (#6217)
  .changeset/good-carpets-dream.md
  packages/thirdweb/src/exports/extensions/erc4337.ts
  packages/thirdweb/src/extensions/erc4337/account/addSessionKey.ts
  packages/thirdweb/src/extensions/erc4337/account/permissions.test.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

[TOOL-3377] Portal: Remove v4 SDK links, setup missing redirects (#6222)
  apps/dashboard/src/app/(landing)/in-app-wallets/page.tsx
  apps/dashboard/src/contract-ui/tabs/code/components/code-overview.tsx
  apps/portal/redirects.mjs
  apps/portal/src/app/cli/login/page.mdx
  apps/portal/src/app/connect/account-abstraction/how-it-works/page.mdx
  apps/portal/src/app/engine/features/backend-wallets/page.mdx
  apps/portal/src/app/glossary/smart-wallet/page.mdx
Labels: dashboard, portal

Docs remove legacy enc key arg (#6220)
  apps/portal/src/app/unity/v5/wallets/in-app-wallet/page.mdx
Labels: portal

[SDK] fix: Disable quote retries and show fiat values (#6210)
  .changeset/cool-pumpkins-punch.md
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithCryptoQuote.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuote.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
Labels: packages, sdk

[SDK] Feature: add treasure and treasure topaz (#6191)
  .changeset/many-cameras-cover.md
  packages/thirdweb/src/chains/chain-definitions/treasure.ts
  packages/thirdweb/src/chains/chain-definitions/treasureTopaz.ts
  packages/thirdweb/src/exports/chains.ts
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
Labels: packages, sdk

use supportPlan instead of billingPlan for support tickets
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
  apps/dashboard/src/stories/stubs.ts
Labels: dashboard

use supportPlan instead of billingPlan for support tickets (#6228)
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
  apps/dashboard/src/stories/stubs.ts
Labels: dashboard

[SDK/Dashboard/Portal] Feature/Fix: fix typo in docs (#6229)
  apps/portal/src/app/react/v5/connecting-wallets/hooks/page.mdx
Labels: portal

default recipient addr
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
Labels: dashboard

catch cache puts
  packages/service-utils/src/cf-worker/index.ts
Labels: packages

create changeset
  .changeset/gorgeous-rules-protect.md
Labels: none

update log to warn
  packages/service-utils/src/cf-worker/index.ts
Labels: packages

display fee info in a separate block
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/primary-sale-fieldset.tsx
Labels: dashboard

disable settings for new deployments
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/ContractSettingsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/page.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/constants/addresses.ts
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
