Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

cleanup
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, sdk

[SDK] Update walletconnect provider to universal (#7532)
  .changeset/chatty-candles-jog.md
  apps/playground-web/src/app/connect/sign-in/button/RightSection.tsx
  apps/playground-web/src/components/styled-connect-button.tsx
  apps/playground-web/src/components/styled-connect-embed.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/native/create-wallet.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  packages/thirdweb/src/wallets/wallet-connect/types.ts
  pnpm-lock.yaml
Labels: playground, packages, sdk

Version Packages (#7535)
  .changeset/chatty-candles-jog.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Fix smart account options validation for non-EIP4337 execution modes
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
Labels: dashboard

[Dashboard] Fix smart account options validation for non-EIP4337 execution modes (#7537)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
Labels: dashboard

Optimize payment token fetching in payment widgets
  .changeset/happy-pans-sneeze.md
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/chains/types.ts
  packages/thirdweb/src/chains/utils.ts
  packages/thirdweb/src/insight/common.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, sdk

Add session keys guide to Engine V3 documentation
  apps/portal/src/app/engine/v3/guides/session-keys/page.mdx
  apps/portal/src/app/engine/v3/sidebar.tsx
Labels: portal

[SDK] Optimize payment token fetching in payment widgets (#7536)
  .changeset/happy-pans-sneeze.md
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/chains/types.ts
  packages/thirdweb/src/chains/utils.ts
  packages/thirdweb/src/insight/common.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, sdk

cleanup
  apps/portal/src/app/engine/v3/guides/session-keys/page.mdx
  apps/portal/src/app/engine/v3/sidebar.tsx
Labels: portal

lint
  apps/portal/src/app/engine/v3/guides/session-keys/page.mdx
Labels: portal

Version Packages (#7539)
  .changeset/happy-pans-sneeze.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Create session key guide and update sidebar (#7538)
  apps/portal/src/app/engine/v3/guides/session-keys/page.mdx
  apps/portal/src/app/engine/v3/sidebar.tsx
Labels: portal

feat: add T-Rex testnet chain
  .changeset/blue-planets-give.md
  packages/thirdweb/src/chains/chain-definitions/t-rex-testnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

fix
  packages/thirdweb/src/chains/chain-definitions/t-rex-testnet.ts
Labels: packages, sdk

[TOOL-4986] Dashboard: Fix ERC20 asset page crash (#7541)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/getContractCreator.tsx
Labels: dashboard

Fix lint
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
Labels: dashboard

wallets page completed
  apps/portal/src/app/connect/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/pay/page.mdx
Labels: portal

Add validation for webhook addresses and improve form schema
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/webhookTypes.ts
Labels: dashboard

[Docs] Wallets Overview (#7543)
  apps/portal/src/app/connect/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/pay/page.mdx
Labels: portal

Use new BuyWidget in wallet details modal
  .changeset/dirty-bananas-fall.md
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/MenuButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ReceiveFunds.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/react/web/ui/components/text.tsx
  packages/thirdweb/src/react/web/wallets/shared/GetStartedScreen.tsx
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
Labels: packages, sdk

[SDK] Respect fee payer in token payment selection quotes
  .changeset/good-papers-give.md
  packages/thirdweb/src/react/core/hooks/useBridgeQuote.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/TokenSelection.tsx
Labels: packages, sdk

finished redirects
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/create/EcosystemCreatePage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/create/components/client/create-ecosystem-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/AAFooterSection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/factories/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/universal-bridge/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/_components/footer.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/_components/header.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/settings/components/index.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/EmptyState.tsx
  apps/portal/src/app/infrastructure/sidebar.tsx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/wallets/auth/page.mdx
  apps/portal/src/app/wallets/wallet/overview/page.mdx
  apps/portal/src/app/wallets/wallet/sign-in-methods/configure/page.mdx
  apps/portal/src/components/others/DocSearch.tsx
Labels: dashboard, portal

Remove Nebula references and related files from documentation
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/dotnet/nebula/quickstart/page.mdx
  apps/portal/src/app/knowledge-base/troubleshoot/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/icons/index.ts
  apps/portal/src/icons/products/NebulaIcon.tsx
  apps/portal/src/icons/sidebar/NebulaSideIcon.tsx
Labels: portal

[SDK] Respect fee payer in token payment selection quotes (#7556)
  .changeset/good-papers-give.md
  packages/thirdweb/src/react/core/hooks/useBridgeQuote.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/TokenSelection.tsx
Labels: packages, sdk

feat: add T-Rex testnet chain (#7540)
  .changeset/blue-planets-give.md
  packages/thirdweb/src/chains/chain-definitions/t-rex-testnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

Version Packages (#7555)
  .changeset/blue-planets-give.md
  .changeset/dirty-bananas-fall.md
  .changeset/good-papers-give.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Remove API endpoint documentation components
  apps/portal/src/components/Document/APIEndpointMeta/ApiEndpoint.tsx
  apps/portal/src/components/Document/APIEndpointMeta/RequestExample.tsx
Labels: portal

Add Engine user transactions example to playground
  apps/playground-web/package.json
  apps/playground-web/src/app/engine/users/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/account-abstraction/gateway.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-gateway.test.ts
  pnpm-lock.yaml
Labels: playground, packages, sdk

feat: webhook analytics tab
  apps/dashboard/.storybook/main.ts
  apps/dashboard/.storybook/preview.tsx
  apps/dashboard/public/assets/examples/example.json
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/api/webhook-configs.ts
  apps/dashboard/src/@/api/webhook-metrics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/actions/get-webhook-summary.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookAnalyticsCharts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookAnalyticsFilter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookAnalyticsServer.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookLatencyChart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookLatencyChartUI.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookLatencyChartUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookStatusChart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookStatusChartUI.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhookStatusChartUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/components/WebhooksAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/use-webhook-metrics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
Labels: dashboard

Remove unused @radix-ui/react-select dependency
  apps/portal/package.json
  pnpm-lock.yaml
Labels: portal

Update package.json
  apps/portal/package.json
Labels: portal

learning things
  apps/portal/package.json
  pnpm-lock.yaml
Labels: portal

Remove deprecated deployPackContract documentation and references
  apps/portal/public/llms-full.txt
  apps/portal/public/llms.txt
  apps/portal/redirects.mjs
Labels: portal

Remove pack contract documentation and update redirects
  apps/portal/redirects.mjs
  apps/portal/src/app/contracts/explore/pre-built-contracts/pack/page.mdx
  apps/portal/src/app/contracts/faq/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
Labels: portal

Make contract webhook addresses mandatory (#7544)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/webhookTypes.ts
Labels: dashboard

[TOOL-4972] Dashboard: Add field to configure admins in NFT asset creation (#7542)
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_common/admin-addresses-fieldset.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_common/schema.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/_common/form.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/collection-info/nft-collection-info-fieldset.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/launch/launch-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/upload-nfts/single-upload/single-upload-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
Labels: dashboard

[SDK] Remove page and set up redirect (#7565)
  apps/portal/public/llms-full.txt
  apps/portal/public/llms.txt
  apps/portal/redirects.mjs
  apps/portal/src/app/contracts/explore/pre-built-contracts/pack/page.mdx
  apps/portal/src/app/contracts/faq/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
Labels: portal

[TOOL-4987] SDK: Restore CSS resets, remove biome rules for sorting attributes and properties
  .changeset/hip-tips-grow.md
  biome.json
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/MenuButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ReceiveFunds.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/react/web/ui/components/text.tsx
  packages/thirdweb/src/react/web/wallets/shared/GetStartedScreen.tsx
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
Labels: packages, sdk

[TOOL-4987] SDK: Restore CSS resets, remove biome rules for sorting attributes and properties (#7567)
  .changeset/hip-tips-grow.md
  biome.json
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/MenuButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ReceiveFunds.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/react/web/ui/components/text.tsx
  packages/thirdweb/src/react/web/wallets/shared/GetStartedScreen.tsx
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
Labels: packages, sdk
