Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[Vault] default to engine-cloud vault proxy (#7058)
  .changeset/all-bears-visit.md
  packages/vault-sdk/src/sdk.ts
Labels: packages

[Docs] Stylus dev workflow (#7060)
  apps/portal/src/app/contracts/build/stylus/assets/stylus-deploy-page.png
  apps/portal/src/app/contracts/build/stylus/assets/stylus-publish-page.png
  apps/portal/src/app/contracts/build/stylus/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
Labels: portal

[Engine] Add all testnets to test transaction options (#7066)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
Labels: dashboard

[Engine] Add FAILED status to execution result and update error handling (#7065)
  .changeset/grumpy-areas-help.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/tx/[id]/transaction-details-ui.tsx
  apps/playground-web/package.json
  apps/playground-web/src/app/engine/_hooks/useEngineTxStatus.ts
  apps/playground-web/src/app/engine/actions.ts
  apps/playground-web/src/app/engine/airdrop/_components/airdrop-code.tsx
  apps/playground-web/src/app/engine/airdrop/_components/airdrop-preview.tsx
  apps/playground-web/src/app/engine/airdrop/constants.ts
  apps/playground-web/src/app/engine/minting/_components/mint-code.tsx
  apps/playground-web/src/app/engine/minting/_components/mint-preview.tsx
  apps/playground-web/src/app/engine/minting/constants.ts
  apps/playground-web/src/app/engine/minting/page.tsx
  apps/playground-web/src/app/engine/webhooks/_components/webhooks-preview.tsx
  packages/thirdweb/src/engine/get-status.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk

[SDK] Fix buyWithCrypto false not respected when returning from quote (#7069)
  .changeset/rich-peaches-cheer.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, sdk

update status endpoint
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/bridge/types/Status.ts
  packages/thirdweb/src/bridge/types/Token.ts
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
Labels: packages, sdk

[Dashboard] Add pagination to server wallets page (#7070)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

chore: Update Accelerate features list (#7053)
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/utils/pricing.tsx
Labels: dashboard

[Dashboard] Remove taint for THIRDWEB_ENGINE_URL (#7074)
  apps/dashboard/src/@/constants/server-envs.ts
Labels: dashboard

[SDK] Update package READMEs with correct naming and documentation links (#7071)
  packages/engine/README.md
  packages/insight/README.md
  packages/vault-sdk/README.md
Labels: packages

Version Packages (#7073)
  .changeset/shaky-eels-shine.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

Version Packages (#7042)
  .changeset/all-bears-visit.md
  .changeset/grumpy-areas-help.md
  .changeset/rich-peaches-cheer.md
  .changeset/shiny-olives-pay.md
  .changeset/six-dryers-sing.md
  .changeset/stale-pets-say.md
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/vault-sdk/CHANGELOG.md
  packages/vault-sdk/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Prioritize JWT over service API keys in authentication (#7020)
  .changeset/shaky-eels-shine.md
  packages/service-utils/.gitignore
  packages/service-utils/package.json
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/get-auth-headers.test.ts
  packages/service-utils/src/core/get-auth-headers.ts
  pnpm-lock.yaml
Labels: packages

fix 0 balance issue
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.tsx
Labels: packages, sdk

lint
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/pay/utils/definitions.ts
Labels: packages, sdk

fix
  packages/thirdweb/.size-limit.json
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/utils/domain.test.ts
Labels: packages, sdk

fix test
  packages/thirdweb/src/extensions/prebuilts/deploy-modular-core.test.ts
Labels: packages, sdk

remove tx history, show 0 fees for now
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/TransactionsScreen.tsx
Labels: packages, sdk

onramp endpoint wrapper
  packages/thirdweb/src/bridge/Onramp.test.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/OnrampStatus.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/BridgeAction.ts
  packages/thirdweb/src/bridge/types/Quote.ts
  packages/thirdweb/src/bridge/types/Token.ts
Labels: packages, sdk

status
  packages/thirdweb/src/bridge/OnrampStatus.ts
Labels: packages, sdk

export
  packages/thirdweb/src/bridge/Onramp.ts
Labels: packages, sdk

adapt buyWithFiat legacy function
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/types/Quote.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/BuyTxHistory.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/BuyTxHistoryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/useBuyTransactionsToShow.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/pendingSwapTx.ts
Labels: packages, sdk

[SDK] Expose getInstalledWallets() utility
  .changeset/great-jeans-relax.md
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-modular-core.test.ts
  packages/thirdweb/src/wallets/injected/mipdStore.ts
Labels: packages, sdk

[SDK] Expose getInstalledWallets() utility (#7077)
  .changeset/great-jeans-relax.md
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-modular-core.test.ts
  packages/thirdweb/src/wallets/injected/mipdStore.ts
Labels: packages, sdk

Version Packages (#7078)
  .changeset/great-jeans-relax.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Refactor: Update Pay Functions to use UB (#7064)
  .changeset/open-readers-do.md
  .changeset/stale-yaks-bathe.md
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/constants/urls.ts
  apps/login/src/lib/dev-mode.ts
  apps/login/src/lib/urls.ts
  apps/playground-web/src/lib/client.ts
  packages/thirdweb/.size-limit.json
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/Transfer.test.ts
  packages/thirdweb/src/bridge/Transfer.ts
  packages/thirdweb/src/bridge/constants.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/bridge/types/Status.ts
  packages/thirdweb/src/bridge/types/Token.ts
  packages/thirdweb/src/pay/buyWithCrypto/commonTypes.ts
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/pay/utils/definitions.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/TransactionsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/BuyTxHistory.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/BuyTxHistoryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/useBuyTransactionsToShow.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/pendingSwapTx.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/useSwapSupportedChains.ts
  packages/thirdweb/src/react/web/ui/TransactionButton/ExecutingScreen.tsx
  packages/thirdweb/src/utils/any-evm/zksync/constants.ts
  packages/thirdweb/src/utils/domain.test.ts
  packages/thirdweb/src/utils/domains.ts
Labels: dashboard, playground, packages, sdk

[Docs] UB Migration & Other Small Things (#7075)
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/insight/sidebar.tsx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/pay/assets/avax-to-usd.png
  apps/portal/src/app/pay/assets/buy-with-crypto.png
  apps/portal/src/app/pay/assets/bwc.png
  apps/portal/src/app/pay/assets/bwf.png
  apps/portal/src/app/pay/assets/direct-payments-flow.png
  apps/portal/src/app/pay/assets/get-started-embed.png
  apps/portal/src/app/pay/assets/get-started-send.png
  apps/portal/src/app/pay/assets/pay-api-key.png
  apps/portal/src/app/pay/assets/pay-modal.png
  apps/portal/src/app/pay/assets/pay-overview.png
  apps/portal/src/app/pay/assets/pay-settings.png
  apps/portal/src/app/pay/customization/connectbutton/page.mdx
  apps/portal/src/app/pay/customization/payembed/page.mdx
  apps/portal/src/app/pay/customization/send-transaction/page.mdx
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/pay/fees/assets/fee-dash.png
  apps/portal/src/app/pay/fees/page.mdx
  apps/portal/src/app/pay/get-started/page.mdx
  apps/portal/src/app/pay/guides/accept-direct-payments/page.mdx
  apps/portal/src/app/pay/guides/build-a-custom-experience/page.mdx
  apps/portal/src/app/pay/guides/cross-chain-swapping/page.mdx
  apps/portal/src/app/pay/layout.tsx
  apps/portal/src/app/pay/onramp-providers/page.mdx
  apps/portal/src/app/pay/page.mdx
  apps/portal/src/app/pay/sidebar.tsx
  apps/portal/src/app/pay/supported-chains/page.mdx
  apps/portal/src/app/pay/testing-pay/page.mdx
  apps/portal/src/app/pay/webhooks/page.mdx
  apps/portal/src/components/Document/PageFooter.tsx
Labels: portal

remove kado, fixes
  apps/portal/src/app/pay/customization/payembed/page.mdx
  apps/portal/src/app/pay/customization/send-transaction/page.mdx
  apps/portal/src/app/pay/testing-pay/page.mdx
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/utils/commonTypes.ts
  packages/thirdweb/src/pay/utils/definitions.ts
Labels: packages, sdk, portal

state cleanup
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatStatus.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/TransactionsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/PostOnRampSwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/FiatDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/TxDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/statusMeta.ts
Labels: packages, sdk

update status legacy function
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
Labels: packages, sdk

changeset
  .changeset/tidy-seas-sing.md
Labels: none

lint
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
  packages/thirdweb/src/pay/utils/definitions.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatTxDetailsTable.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/PostOnRampSwap.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/SwapDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/useBuyTransactionsToShow.ts
Labels: packages, sdk

remove test
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/statusMeta.test.ts
Labels: packages, sdk

fix exports
  packages/thirdweb/src/bridge/index.ts
Labels: packages, sdk

export type
  packages/thirdweb/src/bridge/index.ts
Labels: packages, sdk

more export
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/Route.ts
Labels: packages, sdk

[Docs] Update Engine Pricing (#7080)
  apps/portal/src/app/engine/v3/faq/page.mdx
Labels: portal

comments
  .changeset/tidy-seas-sing.md
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
Labels: packages, sdk

init new deposit modal flow
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/core/utils/wallet.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
