Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[BLD-28] Dashboard: Fix error style in contract explorer (#7763)
  apps/dashboard/src/@/components/contracts/functions/interactive-abi-function.tsx
Labels: dashboard

[BLD-26] Portal: AI Chat UI improvements (#7764)
  apps/portal/package.json
  apps/portal/src/app/chat/page.tsx
  apps/portal/src/app/layout.tsx
  apps/portal/src/components/AI/chat.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  apps/portal/src/components/Document/Breadcrumb.tsx
  apps/portal/src/components/Document/Code.tsx
  apps/portal/src/components/Document/Table.tsx
  apps/portal/src/components/code/CodeBlockContainer.tsx
  apps/portal/src/components/code/RenderCode.tsx
  apps/portal/src/components/markdown/MarkdownRenderer.tsx
  apps/portal/src/components/others/ScrollShadow/ScrollShadow.module.css
  apps/portal/src/components/others/ScrollShadow/ScrollShadow.tsx
  apps/portal/src/components/ui/sonner.tsx
  apps/portal/src/components/ui/table.tsx
  apps/portal/src/components/ui/text-shimmer.tsx
  apps/portal/src/components/ui/underline-link.tsx
  apps/portal/src/icons/thirdweb.tsx
  apps/portal/tailwind.config.ts
  pnpm-lock.yaml
Labels: portal

Portal: Move Chat UI in floating widget (#7765)
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/chat/page.tsx
  apps/portal/src/app/page.tsx
  apps/portal/src/components/AI/chat-button.tsx
  apps/portal/src/components/AI/chat.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
Labels: portal

fix `useContractEvents` persisting previous data when filters change
  .changeset/witty-ducks-lie.md
  packages/thirdweb/src/react/core/hooks/contract/useContractEvents.ts
Labels: packages, sdk

Fix decodeFunction and decodeError functions
  .changeset/tangy-ghosts-joke.md
  packages/thirdweb/src/utils/abi/decodeError.ts
  packages/thirdweb/src/utils/abi/decodeFunctionData.test.ts
  packages/thirdweb/src/utils/abi/decodeFunctionData.ts
  packages/thirdweb/src/utils/abi/decodeFunctionResult.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/utils/abi/decodeError.ts
  packages/thirdweb/src/utils/abi/decodeFunctionData.test.ts
  packages/thirdweb/src/utils/abi/decodeFunctionData.ts
  packages/thirdweb/src/utils/abi/decodeFunctionResult.ts
Labels: packages, sdk

chore: update payments empty state link to the payment links page
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
Labels: dashboard

chore: adds payment link tracking
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
Labels: dashboard

Chore: Payment links tracking (#7769)
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
Labels: dashboard

fix: bridge token examples
  packages/thirdweb/src/bridge/Token.ts
Labels: packages, sdk

Fix: Bridge Token Examples (#7771)
  packages/thirdweb/src/bridge/Token.ts
Labels: packages, sdk

[WalletConnect] Add deep linking support for transaction signing
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, sdk

[SDK] Add WalletConnect deep linking support (#7772)
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, sdk

[SDK] Fix decodeFunction and decodeError functions (#7767)
  .changeset/tangy-ghosts-joke.md
  packages/thirdweb/src/utils/abi/decodeError.ts
  packages/thirdweb/src/utils/abi/decodeFunctionData.test.ts
  packages/thirdweb/src/utils/abi/decodeFunctionData.ts
  packages/thirdweb/src/utils/abi/decodeFunctionResult.ts
Labels: packages, sdk

[SDK] Fix `useContractEvents` persisting previous data when filters change (#7766)
  .changeset/witty-ducks-lie.md
  packages/thirdweb/src/react/core/hooks/contract/useContractEvents.ts
Labels: packages, sdk

[SDK] Handle mobile deeplinks for WalletConnect transactions
  .changeset/cold-files-sleep.md
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.test.tsx
Labels: packages, sdk

[SDK] Handle mobile deeplinks for WalletConnect transactions (#7775)
  .changeset/cold-files-sleep.md
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.test.tsx
Labels: packages, sdk

Version Packages (#7773)
  .changeset/cold-files-sleep.md
  .changeset/tangy-ghosts-joke.md
  .changeset/witty-ducks-lie.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Dashboard: Remove Moralis, Alchemy API usage, Split UI improvements, Fix thirdweb/insight import (#7774)
  .changeset/thin-days-add.md
  apps/dashboard/.env.example
  apps/dashboard/src/@/actions/getBalancesFromMoralis.ts
  apps/dashboard/src/@/actions/getWalletNFTs.ts
  apps/dashboard/src/@/constants/server-envs.ts
  apps/dashboard/src/@/hooks/useSplit.ts
  apps/dashboard/src/@/hooks/useWalletNFTs.ts
  apps/dashboard/src/@/lib/wallet/nfts/alchemy.ts
  apps/dashboard/src/@/lib/wallet/nfts/isAlchemySupported.ts
  apps/dashboard/src/@/lib/wallet/nfts/isMoralisSupported.ts
  apps/dashboard/src/@/lib/wallet/nfts/moralis.ts
  apps/dashboard/src/@/lib/wallet/nfts/tokenUri.ts
  apps/dashboard/src/@/lib/wallet/nfts/types.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/NFTCards.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/account-balance.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/nfts-owned.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/NFTDetails.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/ContractSplitPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/components/distribute-button.tsx
  packages/thirdweb/package.json
Labels: dashboard, packages, sdk

chore: fix typos
  apps/portal/src/app/tokens/page.mdx
  apps/portal/src/app/typescript/v5/ecosystem-wallet/page.mdx
  apps/portal/src/app/typescript/v5/extensions/examples/lens-protocol/page.mdx
Labels: portal

Preserve custom URL params when removing thirdweb authentication params
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
Labels: packages, sdk

fix: respect supported tokens in payment widgets
  apps/playground-web/src/components/ui/TokenSelector.tsx
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
Labels: playground, packages, sdk

[SDK] Fix: Respect supported tokens in payment widgets (#7780)
  apps/playground-web/src/components/ui/TokenSelector.tsx
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
Labels: playground, packages, sdk

[MNY-61] Dashboard: Tokens and Payments tracking updates (#7781)
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/@/hooks/useEffectOnce.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/asset-page-view.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page-layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/CreatePaymentLinkButton.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/cards.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/team-onboarding.tsx
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
Labels: dashboard

Dashboard: Remove unused envs from .env.example and turbo config (#7779)
  apps/dashboard/.env.example
  turbo.json
Labels: dashboard

chore: fix typos in docs (#7777)
  apps/portal/src/app/tokens/page.mdx
  apps/portal/src/app/typescript/v5/ecosystem-wallet/page.mdx
  apps/portal/src/app/typescript/v5/extensions/examples/lens-protocol/page.mdx
Labels: portal

Dashboard: Fix Payment link buy completion tracking (#7783)
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
Labels: dashboard

[MNY-62] Dashboard: Add CheckoutWidget in server wallets & backend wallets table. server wallets UI improvements (#7782)
  apps/dashboard/package.json
  apps/dashboard/src/@/components/blocks/fund-wallets-modal/fund-wallets-modal.stories.tsx
  apps/dashboard/src/@/components/blocks/fund-wallets-modal/index.tsx
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/@/components/ui/switch.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/IntegrateAPIKeyCodeTabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/PaymentLinksTable.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  pnpm-lock.yaml
Labels: dashboard

Playground: Improved sidebar search params suspense fallback, Fix ConnectEmbed width on mobile (#7784)
  apps/playground-web/src/app/wallets/sign-in/button/RightSection.tsx
  apps/playground-web/src/app/wallets/sign-in/embed/page.tsx
  apps/playground-web/src/components/blocks/APIHeader.tsx
  apps/playground-web/src/components/blocks/full-path-suspense.tsx
  apps/playground-web/src/components/blocks/full-width-sidebar-layout.tsx
  apps/playground-web/src/components/styled-connect-embed.tsx
  apps/playground-web/src/components/ui/NavLink.tsx
Labels: playground

export `useSiweAuth` for React Native
  .changeset/short-icons-care.md
  packages/thirdweb/src/exports/react.native.ts
Labels: packages, sdk

[SDK] Feat: export `useSiweAuth` for React Native (#7785)
  .changeset/short-icons-care.md
  packages/thirdweb/src/exports/react.native.ts
Labels: packages, sdk

added wallets seo, fixed faqs, added deployment guides (#7786)
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/contracts/faqs/page.mdx
  apps/portal/src/app/contracts/modular-contracts/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
  apps/portal/src/app/contracts/troubleshoot/page.mdx
  apps/portal/src/app/payments/faq/page.mdx
  apps/portal/src/app/tokens/assets/token_deployment.png
  apps/portal/src/app/tokens/deploy-erc1155/page.mdx
  apps/portal/src/app/tokens/deploy-erc20/assets/configure_coin.png
  apps/portal/src/app/tokens/deploy-erc20/assets/distribute_coin.png
  apps/portal/src/app/tokens/deploy-erc20/page.mdx
  apps/portal/src/app/tokens/deploy-erc721/assets/create_nft.png
  apps/portal/src/app/tokens/deploy-erc721/assets/sale_recipients.png
  apps/portal/src/app/tokens/deploy-erc721/assets/upload_NFTs.png
  apps/portal/src/app/tokens/deploy-erc721/page.mdx
  apps/portal/src/app/tokens/faq/page.mdx
  apps/portal/src/app/tokens/list-tokens/page.mdx
  apps/portal/src/app/tokens/sidebar.tsx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/app/wallets/auth/page.mdx
  apps/portal/src/app/wallets/custom-auth/page.mdx
  apps/portal/src/app/wallets/ecosystem/integrating-partners/page.mdx
  apps/portal/src/app/wallets/ecosystem/set-up/page.mdx
  apps/portal/src/app/wallets/export-private-key/page.mdx
  apps/portal/src/app/wallets/external-wallets/page.mdx
  apps/portal/src/app/wallets/faq/page.mdx
  apps/portal/src/app/wallets/get-users/page.mdx
  apps/portal/src/app/wallets/link-profiles/page.mdx
  apps/portal/src/app/wallets/pregenerate-wallets/page.mdx
  apps/portal/src/app/wallets/security/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/app/wallets/sponsor-gas/page.mdx
  apps/portal/src/app/wallets/users/page.mdx
Labels: portal

Dashboard: dedicated engine header UI tweak on mobile, Tab component tweaks (#7787)
  apps/dashboard/src/@/components/batch-upload/batch-lazy-mint.tsx
  apps/dashboard/src/@/components/blocks/code/code-segment.client.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/factory-fieldset.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/landing-fieldset.tsx
  apps/dashboard/src/@/components/contracts/code-overview.tsx
  apps/dashboard/src/@/components/contracts/functions/contract-function.tsx
  apps/dashboard/src/@/components/ui/DatePickerWithRange.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/token-viewer/token-viewer.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/IntegrateAPIKeyCodeTabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/WaitingForIntegrationCard/WaitingForIntegrationCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/access-tokens/components/engine-access-tokens.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/configuration/components/engine-wallet-config.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/BuyWidgetFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/upload-nfts/upload-nfts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Add transaction hash to max wait time error
  .changeset/odd-fans-tickle.md
  packages/thirdweb/src/transaction/actions/wait-for-tx-receipt.test.ts
  packages/thirdweb/src/transaction/actions/wait-for-tx-receipt.ts
Labels: packages, sdk

[SDK] Add transaction hash to max wait time error (#7789)
  .changeset/odd-fans-tickle.md
  packages/thirdweb/src/transaction/actions/wait-for-tx-receipt.test.ts
  packages/thirdweb/src/transaction/actions/wait-for-tx-receipt.ts
Labels: packages, sdk

Add posthog.com and framer.com to CSP
  apps/dashboard/next.config.ts
Labels: dashboard

Add posthog.com and framer.com to CSP (#7797)
  apps/dashboard/next.config.ts
Labels: dashboard

Dashboard: enforce absolute imports for '@' folder (#7796)
  apps/dashboard/.eslintrc.js
Labels: dashboard

Rename "Archive" section to "Advanced" and make non-collapsible
  apps/portal/src/app/transactions/sidebar.tsx
Labels: portal

Rename archive to advanced sidebar (#7798)
  apps/portal/src/app/transactions/sidebar.tsx
Labels: portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
