Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

update plan selection copy and tracking
  apps/dashboard/src/app/login/onboarding/ChoosePlan.tsx
Labels: dashboard

update plan selection copy and tracking (#6078)
  apps/dashboard/src/app/login/onboarding/ChoosePlan.tsx
Labels: dashboard

[SDK] fix: Auto-connection of in-app wallets in React Native
  .changeset/soft-camels-beg.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ManageWalletScreen.tsx
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
Labels: packages, sdk

modified get started guide
  apps/portal/src/app/nebula/get-started/page.mdx
Labels: portal

added comment
  apps/portal/src/app/nebula/get-started/page.mdx
Labels: portal

add import
  apps/portal/src/app/nebula/get-started/page.mdx
Labels: portal

Nebula docs (#6080)
  apps/portal/src/app/nebula/get-started/page.mdx
Labels: portal

update dependencies
  .changeset/ninety-maps-sparkle.md
  .changeset/tasty-berries-ring.md
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/tools/unixtime-converter/components/UnixTimeConverter.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  apps/wallet-ui/src/lib/auth.ts
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ManageWalletScreen.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/utils.ts
  packages/thirdweb/src/react/web/ui/prebuilt/Token/name.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/symbol.test.tsx
  packages/thirdweb/src/wallets/smart/smart-wallet-modular.test.ts
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Expose Account and Wallet components in React Native
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/account/provider.test.tsx
  packages/thirdweb/src/react/core/account/provider.tsx
  packages/thirdweb/src/react/core/utils/account.ts
  packages/thirdweb/src/react/core/utils/walletIcon.ts
  packages/thirdweb/src/react/core/utils/walletname.ts
  packages/thirdweb/src/react/core/wallet/provider.test.tsx
  packages/thirdweb/src/react/core/wallet/provider.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/address.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/avatar.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/blobbie.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/name.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Wallet/icon.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Wallet/name.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Blobbie.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/address.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/avatar.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/blobbie.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/name.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/name.test.tsx
  packages/thirdweb/src/utils/shortenLargeNumber.ts
Labels: packages, sdk

update dependencies (#6079)
  .changeset/ninety-maps-sparkle.md
  .changeset/tasty-berries-ring.md
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/tools/unixtime-converter/components/UnixTimeConverter.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  apps/wallet-ui/src/lib/auth.ts
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ManageWalletScreen.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/utils.ts
  packages/thirdweb/src/react/web/ui/prebuilt/Token/name.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/symbol.test.tsx
  packages/thirdweb/src/wallets/smart/smart-wallet-modular.test.ts
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

add billingPlanVersion to TeamResponse
  .changeset/friendly-trainers-taste.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: packages

unreal docs updated spanish
  apps/portal/src/app/dotnet/client/page.mdx
  apps/portal/src/app/dotnet/getting-started/page.mdx
  apps/portal/src/app/dotnet/godot/page.mdx
  apps/portal/src/app/dotnet/maui/page.mdx
  apps/portal/src/app/dotnet/page.mdx
  apps/portal/src/app/dotnet/storage/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/in-app-wallet/page.mdx
  apps/portal/src/app/unity/v5/build-instructions/page.mdx
  apps/portal/src/app/unity/v5/contracts/page.mdx
  apps/portal/src/app/unity/v5/getting-started/page.mdx
  apps/portal/src/app/unity/v5/migration-guide/page.mdx
  apps/portal/src/app/unity/v5/page.mdx
  apps/portal/src/app/unity/v5/thirdwebmanager/page.mdx
  apps/portal/src/app/unity/v5/wallets/account-abstraction/page.mdx
  apps/portal/src/app/unity/v5/wallets/ecosystem-wallet/page.mdx
  apps/portal/src/app/unity/v5/wallets/in-app-wallet/page.mdx
  apps/portal/src/app/unity/v5/wallets/metamask/page.mdx
  apps/portal/src/app/unity/v5/wallets/private-key/page.mdx
  apps/portal/src/app/unity/v5/wallets/walletconnect/page.mdx
  apps/portal/src/app/unreal-engine/blueprints/engine/page.mdx
  apps/portal/src/app/unreal-engine/blueprints/in-app-wallet/page.mdx
  apps/portal/src/app/unreal-engine/blueprints/page.mdx
  apps/portal/src/app/unreal-engine/blueprints/smart-wallet/page.mdx
  apps/portal/src/app/unreal-engine/blueprints/utilities/page.mdx
  apps/portal/src/app/unreal-engine/cpp/common/page.mdx
  apps/portal/src/app/unreal-engine/cpp/runtime-settings/page.mdx
  apps/portal/src/app/unreal-engine/cpp/thirdweb-utils/page.mdx
  apps/portal/src/app/unreal-engine/cpp/thirdweb/page.mdx
  apps/portal/src/app/unreal-engine/cpp/wallet-handles/page.mdx
  apps/portal/src/app/unreal-engine/getting-started/page.mdx
  apps/portal/src/app/unreal-engine/page.mdx
Labels: portal

Update page.mdx
  apps/portal/src/app/nebula/faqs/page.mdx
Labels: portal

[SDK] fix: Auto-connection of in-app wallets in React Native (#6076)
  .changeset/soft-camels-beg.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ManageWalletScreen.tsx
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
Labels: packages, sdk

fix: Use API key for in-app wallet analytics
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/page.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/index.tsx
Labels: dashboard

[Dashboard] fix: Use API key for in-app wallet analytics (#6086)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/page.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/index.tsx
Labels: dashboard

[TOOL-3251] Dashboard: Add Rotate Secret Key feature in Project Settings page (#6087)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPageForTeams.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/page.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
Labels: dashboard

[TOOL-3251] Dashboard: Add Rotate Secret Key feature in Project Settings page (#6087)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPageForTeams.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/page.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
Labels: dashboard

Expose Account and Wallet components in React Native
  .changeset/tough-dogs-enjoy.md
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/account/provider.test.tsx
  packages/thirdweb/src/react/core/account/provider.tsx
  packages/thirdweb/src/react/core/utils/account.ts
  packages/thirdweb/src/react/core/utils/walletIcon.ts
  packages/thirdweb/src/react/core/utils/walletname.ts
  packages/thirdweb/src/react/core/wallet/provider.test.tsx
  packages/thirdweb/src/react/core/wallet/provider.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/address.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/avatar.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/blobbie.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/name.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Wallet/icon.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Wallet/name.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Blobbie.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/address.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/avatar.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/blobbie.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/name.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/name.test.tsx
  packages/thirdweb/src/utils/shortenLargeNumber.ts
Labels: packages, sdk

wip
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchERC20Tokens.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchNFTs.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/BalanceOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/NFTCard.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TokenHoldings.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/getBalance.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetERC20Tokens.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetNFTs.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/page.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/utils/mockData.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
  pnpm-lock.yaml
Labels: dashboard, packages, sdk

[SDK] feat: Expose Account and Wallet components in React Native (#6082)
  .changeset/tough-dogs-enjoy.md
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/account/provider.test.tsx
  packages/thirdweb/src/react/core/account/provider.tsx
  packages/thirdweb/src/react/core/utils/account.ts
  packages/thirdweb/src/react/core/utils/walletIcon.ts
  packages/thirdweb/src/react/core/utils/walletname.ts
  packages/thirdweb/src/react/core/wallet/provider.test.tsx
  packages/thirdweb/src/react/core/wallet/provider.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/address.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/avatar.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/blobbie.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Account/name.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Wallet/icon.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Wallet/name.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Blobbie.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/address.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/avatar.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/blobbie.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/name.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/name.test.tsx
  packages/thirdweb/src/utils/shortenLargeNumber.ts
Labels: packages, sdk

[Portal] Fix: Added Nebula FAQ (#6085)
  apps/portal/src/app/nebula/faqs/page.mdx
Labels: portal

Version Packages (#6083)
  .changeset/ninety-maps-sparkle.md
  .changeset/soft-camels-beg.md
  .changeset/tasty-berries-ring.md
  .changeset/tough-dogs-enjoy.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

wip: use insights to fetch wallet activity
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchActivity.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetActivity.ts
Labels: dashboard

added openai docs
  apps/portal/src/app/nebula/plugins/openAI/page.mdx
  apps/portal/src/app/nebula/plugins/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
Labels: portal

add billingPlanVersion to TeamResponse (#6084)
  .changeset/friendly-trainers-taste.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: packages

Version Packages (#6089)
  .changeset/friendly-trainers-taste.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

added changes
  apps/portal/src/app/nebula/plugins/openAI/page.mdx
Labels: portal

fixed indent
  apps/portal/src/app/nebula/plugins/openAI/page.mdx
Labels: portal

fixed headers
  apps/portal/src/app/nebula/plugins/openAI/page.mdx
Labels: portal

removed git line
  apps/portal/src/app/nebula/plugins/openAI/page.mdx
Labels: portal

feat: fetch outgoing transactions
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchTxActivity.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetActivity.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetTxActivity.ts
Labels: dashboard

feat: pages for activity
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
Labels: dashboard

feat: add incoming txs
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchTxActivity.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetTxActivity.ts
Labels: dashboard

refactor: linting and formatting
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchNFTs.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchTxActivity.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TokenHoldings.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/getBalance.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetTxActivity.ts
  pnpm-lock.yaml
Labels: dashboard

wallet txns activity (#6090)
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchNFTs.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchTxActivity.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TokenHoldings.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/getBalance.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetTxActivity.ts
  pnpm-lock.yaml
Labels: dashboard

Add .circleci/config.yml
  .circleci/config.yml
Labels: none

nebula interface
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/createNebulaSession.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchERC20Tokens.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchNFTs.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/sendNebulaMessage.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/BalanceOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/NFTCard.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/NebulaInterface.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TokenHoldings.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletProfile.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/getBalance.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetERC20Tokens.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetNFTs.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/page.tsx
Labels: dashboard

wip
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetTxActivity.ts
Labels: dashboard

fix: activity and balance component cleanup
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchERC20Tokens.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchTxActivity.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useGetTxActivity.ts
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
