Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

feat: create/delete teams
  apps/dashboard/src/@/actions/createTeam.ts
  apps/dashboard/src/@/actions/deleteTeam.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(app)/account/components/AccountHeader.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/(app)/account/overview/AccountTeamsUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/general/GeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamAndProjectSelectorPopoverButton.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectionUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectorMobileMenuButton.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/team-header-logged-in.client.tsx
Labels: dashboard

update useSendTransaction to use new widget
  apps/playground-web/src/app/connect/pay/components/types.ts
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/DirectPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/WithHeader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentOverview.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/PaymentReceipt.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: playground, packages, sdk

transaction execution
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/SuccessScreen.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/ExecutingScreen.tsx
  packages/thirdweb/src/stories/Bridge/SuccessScreen.stories.tsx
Labels: packages, sdk

incorporate post buy transaction in the state machine
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/PaymentReceipt.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/ExecutingScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
  packages/thirdweb/src/stories/Bridge/SuccessScreen.stories.tsx
  packages/thirdweb/src/stories/Bridge/fixtures.ts
Labels: packages, sdk

update payment state machine tests
  packages/thirdweb/src/react/core/machines/paymentMachine.test.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
Labels: packages, sdk

playground build
  apps/playground-web/src/app/connect/pay/embed/page.tsx
Labels: playground

docs: update webhook parameter filtering types and add example
  apps/portal/src/app/insight/webhooks/filtering/page.mdx
Labels: portal

fix: make contract and to addresses optional in webhook form
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/webhookTypes.ts
Labels: dashboard

feat: enable forcing onramp chain
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
Labels: packages, sdk

changeset
  .changeset/hungry-lions-boil.md
Labels: none

feat: add SIWA feedback functionality to dashboard chat (#7272)
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChats.tsx
Labels: dashboard

[SDK] Feature: preferred chan id pay embed (#7296)
  .changeset/hungry-lions-boil.md
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
Labels: packages, sdk

Version Packages (#7297)
  .changeset/hungry-lions-boil.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

refactor: rename quickOptions to presetOptions for consistency across components
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/stories/Bridge/BridgeOrchestrator.stories.tsx
Labels: packages, sdk

feat: adds onramp logos
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
Labels: packages, sdk

feat: show quotes for onramp providers
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/utils/commonTypes.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuotesForProviders.ts
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
Labels: packages, sdk

[Dashboard] Add staff mode for viewing teams without membership (#7299)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.tsx
Labels: dashboard

Nebula: Add Move funds page (#7298)
  apps/dashboard/src/@/components/ui/decimal-input.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageLayout.tsx
  apps/dashboard/src/app/nebula-app/move-funds/connect-button.tsx
  apps/dashboard/src/app/nebula-app/move-funds/move-funds.tsx
  apps/dashboard/src/app/nebula-app/move-funds/page.tsx
  apps/dashboard/src/app/nebula-app/providers.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
  apps/dashboard/src/middleware.ts
Labels: dashboard

[Dashboard] Add audit log feature for Scale plan teams
  apps/dashboard/src/@/api/audit-log.ts
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/@/components/blocks/upsell-wrapper.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/types/chain.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/_components/entry.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/_components/list.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/search-params.ts
Labels: dashboard

[Dashboard] Add audit log feature for Scale plan teams (#7300)
  apps/dashboard/src/@/api/audit-log.ts
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/@/components/blocks/upsell-wrapper.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/types/chain.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/_components/entry.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/_components/list.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/search-params.ts
Labels: dashboard

docs: add doc string
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
Labels: packages, sdk

feat: support default values for phone and email on web
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
Labels: packages, sdk

refactor: add more specific type
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
Labels: packages, sdk

feat: support object auth option with default value
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
Labels: packages, sdk

docs: fix typos in doc string
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
Labels: packages, sdk

chore: pass allowImpersonation flag to /v2/keys/use
  .changeset/whole-ends-like.md
  packages/service-utils/src/core/api.ts
Labels: packages

Update api.ts
  packages/service-utils/src/core/api.ts
Labels: packages

chore: pass allowImpersonation flag to /v2/keys/use (#7303)
  .changeset/whole-ends-like.md
  packages/service-utils/src/core/api.ts
Labels: packages

chore: optional serviceApiKey
  .changeset/good-swans-bet.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/get-auth-headers.test.ts
  packages/service-utils/src/core/get-auth-headers.ts
Labels: packages

feat: create share chat dialog.
  apps/dashboard/src/app/nebula-app/(app)/api/session.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebarLink.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ShareChatDialog.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ShareChatDialog.tsx
Labels: dashboard

fix: remove unused allowShare.
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
Labels: dashboard

chore: pass authToken to analytics query
  apps/dashboard/src/@/api/analytics.ts
Labels: dashboard

chore: pass authToken to analytics query (#7306)
  apps/dashboard/src/@/api/analytics.ts
Labels: dashboard

feat: updated transaction cards with more info.
  apps/dashboard/src/app/nebula-app/(app)/components/Swap/SwapCards.tsx
  apps/dashboard/src/app/nebula-app/_utils/constants.ts
  apps/dashboard/src/app/nebula-app/_utils/tokensUtils.ts
Labels: dashboard

docs: update webhook parameter filtering types and add example (#7295)
  apps/portal/src/app/insight/webhooks/filtering/page.mdx
Labels: portal

fix: make contract and to addresses optional in webhook form (#7294)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/webhookTypes.ts
Labels: dashboard

Nebula: Improved toasts in move funds page (#7307)
  apps/dashboard/src/app/nebula-app/move-funds/move-funds.tsx
Labels: dashboard

feat: start farcaster frames v2 support.
  apps/dashboard/package.json
  apps/dashboard/src/app/nebula-app/_farcaster/miniapp-context.tsx
  apps/dashboard/src/app/nebula-app/_farcaster/warpcast.ts
  apps/dashboard/src/app/nebula-app/providers.tsx
  pnpm-lock.yaml
Labels: dashboard

[Dashboard] Add notifications system with unread tracking (#7302)
  apps/dashboard/package.json
  apps/dashboard/src/@/api/notifications.ts
  apps/dashboard/src/@/components/blocks/notifications/notification-button.tsx
  apps/dashboard/src/@/components/blocks/notifications/notification-entry.tsx
  apps/dashboard/src/@/components/blocks/notifications/notification-list.tsx
  apps/dashboard/src/@/components/blocks/notifications/state/manager.ts
  apps/dashboard/src/@/components/ui/drawer.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeader.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/(app)/components/Header/SecondaryNav/SecondaryNav.tsx
  apps/dashboard/src/app/(app)/team/components/NotificationButton/NotificationButton.stories.tsx
  apps/dashboard/src/app/(app)/team/components/NotificationButton/NotificationButton.tsx
  apps/dashboard/src/app/(app)/team/components/NotificationButton/fetch-notifications.ts
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/team-header-logged-in.client.tsx
  pnpm-lock.yaml
Labels: dashboard

[Dashboard] Sort usage categories by total amount in descending order (#7314)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/page.tsx
Labels: dashboard
