Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

feat: add chart for wallet and tx count (#6134)
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TimelineOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/WalletDashboard.tsx
Labels: dashboard

crypto icons
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TokenHoldings.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/hooks/useResolveAddress.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/page.tsx
Labels: dashboard

token changes
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/actions/fetchNFTs.ts
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TokenHoldings.tsx
Labels: dashboard

10
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
Labels: dashboard

precision
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/ActivityOverview.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/NebulaInterface.tsx
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/TokenHoldings.tsx
Labels: dashboard

add knip dependency to login app
  apps/login/knip.json
  apps/login/package.json
  pnpm-lock.yaml
Labels: none

add knip dependency to login app (#6135)
  apps/login/knip.json
  apps/login/package.json
  pnpm-lock.yaml
Labels: none

add JWT signing and redirect for login flow
  apps/login/next.config.ts
  apps/login/package.json
  apps/login/public/logo.svg
  apps/login/public/twl.js
  apps/login/public/twl.min.js
  apps/login/src/app/api/request/route.salty
  apps/login/src/app/api/user/route.ts
  apps/login/src/app/authorization/jwt.ts
  apps/login/src/app/components/LoginPageInner.tsx
  apps/login/src/app/page.tsx
  apps/login/test/script-test.html
  pnpm-lock.yaml
Labels: none

add JWT signing and redirect for login flow (#6129)
  apps/login/next.config.ts
  apps/login/package.json
  apps/login/public/logo.svg
  apps/login/public/twl.js
  apps/login/public/twl.min.js
  apps/login/src/app/api/request/route.salty
  apps/login/src/app/api/user/route.ts
  apps/login/src/app/authorization/jwt.ts
  apps/login/src/app/components/LoginPageInner.tsx
  apps/login/src/app/page.tsx
  apps/login/test/script-test.html
  pnpm-lock.yaml
Labels: none

remove deprecated NFT embed functionality (#6136)
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageSidebarLinks.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/embed/EmbedSetup.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/embed/embed-setup.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/embed/page.tsx
Labels: dashboard

[SDK] Fix: Switch underlying admin wallet with ecosystem smart account (#6119)
  .changeset/metal-icons-end.md
  packages/thirdweb/src/wallets/eip5792/get-capabilities.ts
  packages/thirdweb/src/wallets/manager/connection-manager.test.ts
  packages/thirdweb/src/wallets/manager/index.ts
  packages/thirdweb/src/wallets/smart/get-smart-wallet-config.test.ts
  packages/thirdweb/src/wallets/smart/get-smart-wallet-config.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/is-smart-wallet.test.ts
  packages/thirdweb/src/wallets/smart/is-smart-wallet.ts
  packages/thirdweb/src/wallets/smart/lib/smart-wallet-capabilities.ts
  pnpm-lock.yaml
Labels: packages, sdk

update dependencies
  .changeset/cuddly-pumas-wink.md
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[service-utils] ESM imports for compression
  packages/service-utils/src/node/usageV2.ts
Labels: packages

changeset
  .changeset/friendly-candles-walk.md
Labels: none

[service-utils] ESM imports for compression (#6139)
  .changeset/friendly-candles-walk.md
  packages/service-utils/src/node/usageV2.ts
Labels: packages

update dependencies (#6137)
  .changeset/cuddly-pumas-wink.md
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

update login script URL to HTTPS
  apps/login/test/script-test.html
Labels: none

update login script URL to HTTPS (#6138)
  apps/login/test/script-test.html
Labels: none

optimize zksync check position
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

[SDK] Fix: skip factory entrypoint lookup for ZKsync chains (#6116)
  .changeset/early-adults-travel.md
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, sdk

fix: usageV2 API endpoint
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

fix: usageV2 API endpoint (#6140)
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

Update addresses (#6141)
  packages/service-utils/package.json
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: packages, sdk

[TOOL-3276] SDK: Fix JSDoc comments of download function (#6133)
  packages/thirdweb/src/storage/download.ts
Labels: packages, sdk

Create nextjs.yml
  .github/workflows/nextjs.yml
Labels: none

fix spelling mobile.ts
  packages/thirdweb/src/storage/upload/mobile.ts
Labels: packages, sdk

fix spelling get-required-transactions.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
Labels: packages, sdk

[SDK] Update implementation addr extraction logic (#6093)
  .changeset/thick-kangaroos-smoke.md
  packages/thirdweb/src/utils/bytecode/extractMinimalProxyImplementationAddress.test.ts
  packages/thirdweb/src/utils/bytecode/extractMinimalProxyImplementationAddress.ts
Labels: packages, sdk

[TOOL-3286] Dashboard: Add Feedback button on header, Add more links in mobile burger menu (#6145)
  apps/dashboard/src/app/components/Header/SecondaryNav/SecondaryNav.tsx
  apps/dashboard/src/app/components/MobileBurgerMenuButton.tsx
  apps/dashboard/src/app/login/LoginPage.tsx
Labels: dashboard

[TOOL-3055] Dashboard: Add Refresh Balances button for engine backend wallets (#6153)
  apps/dashboard/src/@3rdweb-sdk/react/cache-keys.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
Labels: dashboard

[TOOL-3216] Dashboard: Add Faucet Refill, Fix toast colors on light mode (#6147)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/components/sdk-component-theme.ts
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/providers.tsx
Labels: dashboard

Version Packages (#6132)
  .changeset/cuddly-pumas-wink.md
  .changeset/early-adults-travel.md
  .changeset/friendly-candles-walk.md
  .changeset/metal-icons-end.md
  .changeset/tall-masks-shop.md
  .changeset/thick-kangaroos-smoke.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Fix typo on getting started docs
  apps/portal/src/app/typescript/v5/getting-started/page.mdx
Labels: portal

Update examplePrompts.ts
  apps/dashboard/src/app/nebula-app/(app)/data/examplePrompts.ts
Labels: dashboard

Deploy config updates
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/ContractSettingsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
Labels: dashboard

[NEB-87] Dashboard, Docs - Use updated Nebula API (#6157)
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/api/session.ts
  apps/dashboard/src/app/nebula-app/(app)/api/types.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.tsx
  apps/portal/src/app/nebula/api-reference/chat/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/common.ts
  apps/portal/src/app/nebula/api-reference/create-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/execute/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/page.mdx
  apps/portal/src/app/nebula/api-reference/update-session/EndpointMetadata.tsx
  apps/portal/src/components/Document/APIEndpointMeta/ApiEndpoint.tsx
Labels: dashboard, portal

[NEB-76] Dashboard: Add Nebula service in chainlist, Update all product icons, links (#6158)
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chain-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chainlist-row.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/client/star-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/ConnectSDKIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/ContractIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/EngineIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/InsightIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/PayIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/RPCIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/SmartAccountIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/(dashboard)/(chain)/types/chain.ts
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/utils/publishedContractOGImageTemplate.tsx
  apps/dashboard/src/app/nebula-app/(app)/icons/NebulaIcon.tsx
Labels: dashboard

update Plausible analytics configuration
  apps/dashboard/next.config.ts
  apps/dashboard/redirects.js
Labels: dashboard

feat: bubble suggestion wip
  apps/dashboard/src/app/(dashboard)/hackweek/[chain_id]/[address]/components/NebulaInterface.tsx
Labels: dashboard

move account abstraction page to connect directory (#6161)
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(landing)/account-abstraction/page.tsx
  apps/dashboard/src/components/landing-pages/showcase-image.tsx
Labels: dashboard
