Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[Repo] Update build dependencies
  apps/dashboard/package.json
  package.json
  pnpm-lock.yaml
Labels: dashboard

[Repo] Update dependencies
  package.json
  pnpm-lock.yaml
Labels: none

[Repo] Update Scalar
  apps/playground-web/package.json
  apps/playground-web/src/components/blocks/scalar-api/ScalarClient.tsx
  apps/portal/package.json
  apps/portal/src/app/reference/ScalarClient.tsx
  apps/portal/src/app/reference/scalar.css
  package.json
  pnpm-lock.yaml
Labels: playground, portal

[Dashboard] Update Sentry
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: dashboard

[Repo] Cleanup
  apps/dashboard/src/@/actions/billing.ts
  apps/dashboard/src/@/actions/team/acceptInvite.ts
  apps/dashboard/src/@/actions/team/deleteTeam.ts
  apps/dashboard/src/@/actions/team/sendTeamInvite.ts
  apps/dashboard/src/@/api/project/projects.ts
  apps/dashboard/src/@/api/team/audit-log.ts
  apps/dashboard/src/@/api/team/dedicated-support.ts
  apps/dashboard/src/@/api/team/verified-domain.ts
  apps/dashboard/src/app/(app)/api/testnet-faucet/claim/route.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/create/actions/create-ecosystem.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/general/updateTeam.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/api/fetchWithAuthToken.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/api/session.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/chat/history/ChatHistoryPage.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
  apps/nebula/src/app/(app)/chat/history/ChatHistoryPage.stories.tsx
  apps/wallet-ui/src/lib/chains.ts
Labels: dashboard, Ecosystem Portal

[Repo] Update dependencies
  package.json
  pnpm-lock.yaml
Labels: none

[Dashboard] Add ApeChain to dedicated relayer chains
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/constants.ts
Labels: dashboard

[SDK] Fix: refresh stale io.rabby wallet registry entry
  .changeset/rabby-mobile-registry.md
  packages/thirdweb/src/wallets/__generated__/wallet-ids.ts
  packages/thirdweb/src/wallets/__generated__/wallet-infos.ts
  packages/thirdweb/src/wallets/__generated__/wallet/io.rabby/index.ts
Labels: packages, sdk

[SDK] Fix: keep the WalletConnect QR overlay clickable and unstacked
  .changeset/qr-overlay-pointer-events.md
  packages/thirdweb/src/wallets/wallet-connect/qr-overlay.test.ts
  packages/thirdweb/src/wallets/wallet-connect/qr-overlay.ts
Labels: packages, sdk

[SDK] Fix: iterate the overlay NodeList without DOM.Iterable
  packages/thirdweb/src/wallets/wallet-connect/qr-overlay.ts
Labels: packages, sdk

[Dashboard] add Arc Mainnet to the dedicated-relayer chain list
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/constants.ts
Labels: dashboard

[Dashboard] add Arc Mainnet to the dedicated-relayer chain list (#8980)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/dedicated-relayer/constants.ts
Labels: dashboard

[Dashboard] Server wallet error handling
  apps/dashboard/src/@/actions/vault-actions.ts
  apps/dashboard/src/@/actions/vault.ts
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/create-project/_components/create-project-form.tsx
Labels: dashboard

[Dashboard] Server wallet error handling (#8982)
  apps/dashboard/src/@/actions/vault-actions.ts
  apps/dashboard/src/@/actions/vault.ts
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/create-project/_components/create-project-form.tsx
Labels: dashboard

[Dashboard] Show vault account creation errors
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/create-vault-account.client.tsx
Labels: dashboard

[Dashboard] Show vault account creation errors (#8989)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/create-vault-account.client.tsx
Labels: dashboard

[Dashboard] Accept team invites for existing members
  apps/dashboard/src/@/api/team/team-invites.ts
  apps/dashboard/src/app/(app)/join/team/[team_slug]/[invite_id]/page.tsx
Labels: dashboard

[Dashboard] Accept team invites for existing members
  apps/dashboard/src/@/api/team/team-invites.ts
Labels: dashboard

[Dashboard] Accept team invites for existing members (#8990)
  apps/dashboard/src/@/api/team/team-invites.ts
  apps/dashboard/src/app/(app)/join/team/[team_slug]/[invite_id]/page.tsx
Labels: dashboard

[SDK] Destroy replaced QR overlays and consolidate changesets
  .changeset/qr-overlay-pointer-events.md
  .changeset/rabby-mobile-registry.md
  .changeset/rabby-qr-overlay.md
  packages/thirdweb/src/wallets/wallet-connect/qr-overlay.test.ts
  packages/thirdweb/src/wallets/wallet-connect/qr-overlay.ts
Labels: packages, sdk

[SDK] Detect mobile without the viewport width
  .changeset/ismobile-narrow-viewport.md
  packages/thirdweb/src/utils/web/isMobile.test.ts
  packages/thirdweb/src/utils/web/isMobile.ts
Labels: packages, sdk

[SDK] Detect mobile without the viewport width (#8991)
  .changeset/ismobile-narrow-viewport.md
  packages/thirdweb/src/utils/web/isMobile.test.ts
  packages/thirdweb/src/utils/web/isMobile.ts
Labels: packages, sdk

[SDK] Fix Rabby mobile connections and the WalletConnect QR overlay (#8969)
  .changeset/rabby-qr-overlay.md
  packages/thirdweb/src/wallets/__generated__/wallet-ids.ts
  packages/thirdweb/src/wallets/__generated__/wallet-infos.ts
  packages/thirdweb/src/wallets/__generated__/wallet/io.rabby/index.ts
  packages/thirdweb/src/wallets/wallet-connect/qr-overlay.test.ts
  packages/thirdweb/src/wallets/wallet-connect/qr-overlay.ts
Labels: packages, sdk

Version Packages (#8992)
  .changeset/ismobile-narrow-viewport.md
  .changeset/rabby-qr-overlay.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Render the WalletConnect QR in the connect modal
  .changeset/fallback-inmodal-qr.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AnyWalletConnectUI.tsx
Labels: packages, sdk

[SDK] Render the WalletConnect QR in the connect modal (#8995)
  .changeset/fallback-inmodal-qr.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AnyWalletConnectUI.tsx
Labels: packages, sdk

Version Packages (#8994)
  .changeset/fallback-inmodal-qr.md
  .changeset/olive-moons-search.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Dashboard] Add revoke sessions to user wallets configuration
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/api/revoke-sessions.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/components/revoke-sessions-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/page.tsx
Labels: dashboard

Handle fetch failure
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/api/revoke-sessions.ts
Labels: dashboard

[Dashboard] Add revoke sessions to user wallets configuration (#8996)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/api/revoke-sessions.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/components/revoke-sessions-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/page.tsx
Labels: dashboard

[Dashboard] Send the secret key digest when revoking user wallet sessions
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/api/revoke-sessions.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/components/revoke-sessions-card.tsx
Labels: dashboard

Compare the API host by origin
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/api/revoke-sessions.ts
Labels: dashboard

[Dashboard] Send the secret key digest when revoking user wallet sessions (#8997)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/api/revoke-sessions.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/configuration/components/revoke-sessions-card.tsx
Labels: dashboard

[Dashboard] Chain integration request form
  apps/dashboard/src/@/actions/chain-integration-request.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/chainlist/components/server/add-chain-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/chainlist/request/chain-integration-request-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/chainlist/request/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/page.tsx
Labels: dashboard

[Dashboard] Chain integration request form (#9004)
  apps/dashboard/src/@/actions/chain-integration-request.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/chainlist/components/server/add-chain-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/chainlist/request/chain-integration-request-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/chainlist/request/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/page.tsx
Labels: dashboard

[Dashboard] Point Starter upsells to Growth
  apps/dashboard/src/@/components/blocks/GatedSwitch.tsx
  apps/dashboard/src/@/components/blocks/upsell-wrapper.tsx
  apps/dashboard/src/@/constants/planToTierRecord.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_common/storage-error-upsell.tsx
Labels: dashboard

[Dashboard] Point Starter upsells to Growth (#9005)
  apps/dashboard/src/@/components/blocks/GatedSwitch.tsx
  apps/dashboard/src/@/components/blocks/upsell-wrapper.tsx
  apps/dashboard/src/@/constants/planToTierRecord.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_common/storage-error-upsell.tsx
Labels: dashboard

[Dashboard] Fix lint
  apps/dashboard/src/@/actions/chain-integration-request.ts
Labels: dashboard

[Dashboard] Fix lint (#9006)
  apps/dashboard/src/@/actions/chain-integration-request.ts
Labels: dashboard

[Portal] Update server wallet gas premium to 2.5%
  apps/portal/src/app/engine/v3/faq/page.mdx
Labels: portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
