Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[SDK] Add x402 recipientAddress to payment request and replace deprecated payTo (#8226)
  .changeset/loud-apples-poke.md
  .changeset/lucky-meals-join.md
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/types.ts
Labels: packages, sdk

[Playground] Add payTo parameter to X402 payment API
  apps/playground-web/src/app/api/paywall/route.ts
  apps/playground-web/src/app/payments/x402/components/X402LeftSection.tsx
Labels: playground

[Playground] Add payTo parameter to X402 payment API (#8231)
  apps/playground-web/src/app/api/paywall/route.ts
  apps/playground-web/src/app/payments/x402/components/X402LeftSection.tsx
Labels: playground

Version Packages (#8230)
  .changeset/loud-apples-poke.md
  .changeset/lucky-meals-join.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[BLD-396] Dashboard: Fix changing tabs in /nfts/<id> page shows full page loading indicator (#8224)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
Labels: dashboard

end to end tests
  packages/vault-sdk/package.json
  packages/vault-sdk/src/sdk.ts
  packages/vault-sdk/src/types.ts
  packages/vault-sdk/test-solana.ts
  packages/vault-sdk/tests/.env.example
  packages/vault-sdk/tests/solana.test.ts
  packages/vault-sdk/vitest.config.ts
  pnpm-lock.yaml
Labels: packages

solana access token permissions testing
  packages/vault-sdk/tests/solana.test.ts
Labels: packages

[MNY-239] Payments webhooks updates
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/CreatePaymentLinkButton.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/PaymentLinksTable.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/payments/PayConfig.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/payments/[id]/WebhookSendsUI.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/payments/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/payments/[id]/webhook-sends.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/payments/page.tsx
Labels: dashboard

[MNY-242] Dashboard: Remove animated background from bridge page
  apps/dashboard/package.json
  apps/dashboard/src/@/components/DarkVeil.tsx
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/app/bridge/components/BridgeVeil.tsx
  apps/dashboard/src/app/bridge/components/header.tsx
  apps/dashboard/src/app/bridge/page.tsx
  pnpm-lock.yaml
Labels: dashboard

[MNY-249] Dashboard: /<chain>/tx/<tx-hash> page UI improvements
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/page.tsx
Labels: dashboard

jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Labels: none

stylus zk projects
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

updated SDK for revised access control
  packages/vault-sdk/biome.json
  packages/vault-sdk/src/sdk.ts
  packages/vault-sdk/src/types.ts
  packages/vault-sdk/tests/solana.test.ts
Labels: packages

changeset
  .changeset/solid-hotels-play.md
Labels: none

add .env loading
  packages/vault-sdk/package.json
  packages/vault-sdk/tests/env-setup.ts
  packages/vault-sdk/vitest.config.ts
  pnpm-lock.yaml
Labels: packages

remove tsx dependency and add changeset
  .changeset/soft-cameras-lay.md
  packages/vault-sdk/package.json
Labels: packages

relative file loading
  packages/vault-sdk/tests/env-setup.ts
Labels: packages

remove misleading comments
  packages/vault-sdk/tests/solana.test.ts
Labels: packages

update lockfile
  pnpm-lock.yaml
Labels: none

skip vault tests on CI
  packages/vault-sdk/package.json
  packages/vault-sdk/tests/env-setup.ts
Labels: packages

[Vault SDK] Add Solana operations support (#8168)
  .changeset/soft-cameras-lay.md
  packages/vault-sdk/biome.json
  packages/vault-sdk/package.json
  packages/vault-sdk/src/exports/thirdweb.ts
  packages/vault-sdk/src/sdk.ts
  packages/vault-sdk/src/types.ts
  packages/vault-sdk/tests/.env.example
  packages/vault-sdk/tests/env-setup.ts
  packages/vault-sdk/tests/solana.test.ts
  packages/vault-sdk/vitest.config.ts
  pnpm-lock.yaml
Labels: packages

Version Packages (#8237)
  .changeset/soft-cameras-lay.md
  packages/vault-sdk/CHANGELOG.md
  packages/vault-sdk/package.json
Labels: packages

update for solana methods
  packages/engine/src/client/sdk.gen.ts
  packages/engine/src/client/types.gen.ts
Labels: packages

add changeset
  .changeset/small-mails-joke.md
Labels: none

add solana policies
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
Labels: dashboard

Engine SDK updates (#8238)
  .changeset/small-mails-joke.md
  packages/engine/src/client/sdk.gen.ts
  packages/engine/src/client/types.gen.ts
Labels: packages

Version Packages (#8240)
  .changeset/small-mails-joke.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Stylus CLI updates (#8235)
  .changeset/solid-hotels-play.md
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

Playground: Fix build error
  apps/playground-web/src/app/api/paywall/route.ts
Labels: playground

SDK: Fix getNFT tests, Playground: Fix build (#8242)
  apps/playground-web/src/app/api/chat/route.ts
  apps/playground-web/src/app/api/paywall/route.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.test.ts
Labels: playground, packages, sdk

Dashboard: Add block_timestamp_from param to useTokenTransfers (#8121)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_hooks/useTokenTransfers.ts
Labels: dashboard

[MNY-249] Dashboard: /<chain>/tx/<tx-hash> page UI improvements (#8234)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/page.tsx
Labels: dashboard

[MNY-240] Dashboard: Show bridge status info on transaction page if available (#8241)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/bridge-status.stories.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/bridge-status.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/tabs.tsx
Labels: dashboard

[MNY-239] Dashboard: Show webhook sends for Bridge webhooks (#8213)
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/CreatePaymentLinkButton.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/PaymentLinksTable.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/payments/PayConfig.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/payments/[id]/WebhookSendsUI.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/payments/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/payments/[id]/webhook-sends.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/payments/page.tsx
Labels: dashboard

[MNY-242] Dashboard: Remove animated background from bridge page (#8219)
  apps/dashboard/package.json
  apps/dashboard/src/@/components/DarkVeil.tsx
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/app/bridge/components/BridgeVeil.tsx
  apps/dashboard/src/app/bridge/components/header.tsx
  apps/dashboard/src/app/bridge/page.tsx
  pnpm-lock.yaml
Labels: dashboard

[dashboard] add solana policies to vault access token (#8239)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
Labels: dashboard

Dashboard: Show Purchase data in bridge tx page, add tx status card in project>bridge page (#8251)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/bridge-status.stories.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/bridge-status.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/tx/[txHash]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/RouteDiscovery.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/RouteDiscoveryCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/view-tx-status.tsx
Labels: dashboard

Fix Coinbase wallet transaction desktop popup for mobile QR login
  .changeset/sixty-bobcats-add.md
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
Labels: packages, sdk

[SDK] Fix Coinbase wallet transaction desktop popup for mobile QR login (#8253)
  .changeset/sixty-bobcats-add.md
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
Labels: packages, sdk

Version Packages (#8243)
  .changeset/sixty-bobcats-add.md
  .changeset/solid-hotels-play.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk
