Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

reduce diff: common extensions
  packages/thirdweb/src/extensions/common/__generated__/IClaimConditionsSinglePhase/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/common/__generated__/IContractMetadata/write/setContractURI.ts
  packages/thirdweb/src/extensions/common/__generated__/IMulticall/write/multicall.ts
  packages/thirdweb/src/extensions/common/__generated__/IOwnable/events/OwnerUpdated.ts
  packages/thirdweb/src/extensions/common/__generated__/IOwnable/write/setOwner.ts
  packages/thirdweb/src/extensions/common/__generated__/IPlatformFee/events/PlatformFeeInfoUpdated.ts
  packages/thirdweb/src/extensions/common/__generated__/IPlatformFee/write/setPlatformFeeInfo.ts
  packages/thirdweb/src/extensions/common/__generated__/IPrimarySale/events/PrimarySaleRecipientUpdated.ts
  packages/thirdweb/src/extensions/common/__generated__/IPrimarySale/write/setPrimarySaleRecipient.ts
  packages/thirdweb/src/extensions/common/__generated__/IRoyalty/events/DefaultRoyalty.ts
  packages/thirdweb/src/extensions/common/__generated__/IRoyalty/events/RoyaltyForToken.ts
  packages/thirdweb/src/extensions/common/__generated__/IRoyalty/read/getRoyaltyInfoForToken.ts
  packages/thirdweb/src/extensions/common/__generated__/IRoyalty/read/royaltyInfo.ts
  packages/thirdweb/src/extensions/common/__generated__/IRoyalty/read/supportsInterface.ts
  packages/thirdweb/src/extensions/common/__generated__/IRoyalty/write/setDefaultRoyaltyInfo.ts
  packages/thirdweb/src/extensions/common/__generated__/IRoyalty/write/setRoyaltyInfoForToken.ts
  packages/thirdweb/src/extensions/common/__generated__/IRoyaltyPayments/events/RoyaltyEngineUpdated.ts
  packages/thirdweb/src/extensions/common/__generated__/IRoyaltyPayments/read/supportsInterface.ts
  packages/thirdweb/src/extensions/common/__generated__/IRoyaltyPayments/write/getRoyalty.ts
  packages/thirdweb/src/extensions/common/__generated__/IRoyaltyPayments/write/setRoyaltyEngine.ts
Labels: packages, sdk

mvp
  apps/playground-web/src/app/ai/api/chat.ts
  apps/playground-web/src/app/ai/api/fetchWithAuthToken.ts
  apps/playground-web/src/app/ai/api/session.ts
  apps/playground-web/src/app/ai/api/types.ts
  apps/playground-web/src/app/ai/chat/page.tsx
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
  apps/playground-web/src/app/ai/components/NebulaIcon.tsx
  apps/playground-web/src/app/ai/components/resolveSchemeWithErrorHandler.ts
  apps/playground-web/src/app/ai/data/examplePrompts.ts
  apps/playground-web/src/app/ai/stores.ts
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/ui/dialog.tsx
  apps/playground-web/src/components/ui/inline-code.tsx
  apps/playground-web/src/components/ui/markdown-renderer.tsx
Labels: playground

fix import
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/page.tsx
Labels: dashboard

playground
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
  apps/portal/src/app/ai/sidebar.tsx
Labels: playground, portal

[Portal] Improve responsive layout for request example header (#7841)
  apps/portal/src/components/Document/APIEndpointMeta/RequestExample.tsx
Labels: portal

lint
  apps/playground-web/package.json
  apps/portal/src/app/ai/sidebar.tsx
  pnpm-lock.yaml
Labels: playground, portal

lint
  apps/playground-web/package.json
  apps/playground-web/src/app/ai/api/chat.ts
  apps/playground-web/src/app/ai/api/fetchWithAuthToken.ts
  apps/playground-web/src/app/ai/api/session.ts
  apps/playground-web/src/app/ai/api/types.ts
  apps/playground-web/src/app/ai/chat/page.tsx
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
  apps/playground-web/src/app/ai/stores.ts
  pnpm-lock.yaml
Labels: playground

get deployed entrypoint
  packages/thirdweb/src/tokens/constants.ts
  packages/thirdweb/src/tokens/get-entrypoint-erc20.ts
Labels: packages, sdk

constants
  packages/thirdweb/src/tokens/constants.ts
Labels: packages, sdk

[SDK] Fix: Process undefined checks in vite (#7844)
  .changeset/fine-zoos-own.md
  packages/thirdweb/src/utils/process.ts
Labels: packages, sdk

Update page.mdx
  apps/portal/src/app/payments/faq/page.mdx
Labels: portal

Version Packages (#7826)
  .changeset/fine-zoos-own.md
  .changeset/shaky-candles-rule.md
  .changeset/slick-cups-joke.md
  .changeset/warm-ways-decide.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Update apps/portal/src/app/payments/faq/page.mdx
  apps/portal/src/app/payments/faq/page.mdx
Labels: portal

deps
  apps/playground-web/package.json
  pnpm-lock.yaml
Labels: playground

[BLD-80] Dashboard: in-app wallet settings page UI improvements (#7843)
  apps/dashboard/src/@/components/ui/DynamicHeight.tsx
  apps/dashboard/src/@/components/ui/checkbox.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/settings/components/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/settings/components/sms-country-select/country-selector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/settings/components/sms-country-select/utils.ts
Labels: dashboard

[Playground] ai chat demo (#7833)
  apps/playground-web/package.json
  apps/playground-web/src/app/ai/api/chat.ts
  apps/playground-web/src/app/ai/api/types.ts
  apps/playground-web/src/app/ai/chat/page.tsx
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
  apps/playground-web/src/app/ai/components/resolveSchemeWithErrorHandler.ts
  apps/playground-web/src/app/ai/data/examplePrompts.ts
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/ui/dialog.tsx
  apps/playground-web/src/components/ui/inline-code.tsx
  apps/playground-web/src/components/ui/markdown-renderer.tsx
  apps/portal/src/app/ai/sidebar.tsx
  pnpm-lock.yaml
Labels: playground, portal

[BLD-108] Dashboard: Update Claim conditions UI to handle very large snapshots (#7846)
  apps/dashboard/package.json
  apps/dashboard/src/@/hooks/useCsvUpload.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimerSelection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/phase.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/snapshot-upload.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-upload.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-airdrop.tsx
  pnpm-lock.yaml
Labels: dashboard

feat: new payments page ui
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: dashboard

Dashboard: Add fallback to native token balance on contract/split page when insight is not supported (#7847)
  apps/dashboard/src/@/hooks/useSplit.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/ContractSplitPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/components/distribute-button.tsx
Labels: dashboard

[React Native] Fix onDisconnect callback not being invoked
  .changeset/many-tips-fail.md
  packages/thirdweb/src/react/native/ui/connect/ConnectedModal.tsx
Labels: packages, sdk

[SDK] Fix onDisconnect callback not being invoked in React Native (#7850)
  .changeset/many-tips-fail.md
  packages/thirdweb/src/react/native/ui/connect/ConnectedModal.tsx
Labels: packages, sdk

Version Packages (#7851)
  .changeset/many-tips-fail.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[AI] Replace disclaimer with integration guide link in chat footer
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
Labels: playground

[Playground] integration guide link in chat ai footer (#7852)
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
Labels: playground

Fix typescript errors in imports and exports
  packages/thirdweb/src/exports/tokens.ts
  packages/thirdweb/src/tokens/get-entrypoint-erc20.ts
Labels: packages, sdk

update lock file
  pnpm-lock.yaml
Labels: none

fix package build
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, sdk

fix lint warning
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/utils/rewards.ts
Labels: dashboard

update deploy url
  packages/thirdweb/src/tokens/constants.ts
Labels: packages, sdk

Dashboard: Fix Active Users calculation in team and project analytics charts (#7854)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
Labels: dashboard

update constants
  packages/thirdweb/src/tokens/constants.ts
Labels: packages, sdk

fix pkg.json
  packages/thirdweb/package.json
Labels: packages, sdk

Playground: Fix theme toggle UI when sidebar is collapsed (#7853)
  apps/playground-web/src/components/ThemeToggle.tsx
  apps/playground-web/src/components/blocks/full-width-sidebar-layout.tsx
  apps/playground-web/src/components/ui/sidebar.tsx
Labels: playground

create by id
  packages/thirdweb/src/tokens/create-token.ts
Labels: packages, sdk

Fix cache key
  packages/thirdweb/src/tokens/get-entrypoint-erc20.ts
Labels: packages, sdk

update
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/page.tsx
Labels: dashboard

debug crash
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/page.tsx
Labels: dashboard

test
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/page.tsx
Labels: dashboard

fix
  apps/dashboard/src/@/contexts/error-handler.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/page.tsx
Labels: dashboard

Dashboard: Fix No Funds PayEmbed in TransactionButton (#7856)
  apps/dashboard/src/@/components/tx-button/MismatchButton.tsx
  apps/dashboard/src/@/components/ui/DynamicHeight.tsx
Labels: dashboard
