Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[Dashboard] Add server-wallet signAuthorization capability to wallet access token (#7530)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
Labels: dashboard

Version Packages (#7594)
  .changeset/few-moments-add.md
  .changeset/ten-places-feel.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

fix: localhost ub domains
  apps/playground-web/src/hooks/useTokensData.ts
Labels: playground

Update SDK reference text in converter tool pages
  apps/dashboard/src/app/(app)/(dashboard)/tools/hex-converter/components/HexConverter.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tools/keccak256-converter/components/Keccak256Converter.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tools/wei-converter/components/WeiConverter.tsx
Labels: dashboard

Update converter SDK reference (#7603)
  apps/dashboard/src/app/(app)/(dashboard)/tools/hex-converter/components/HexConverter.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tools/keccak256-converter/components/Keccak256Converter.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tools/wei-converter/components/WeiConverter.tsx
Labels: dashboard

Add next page button with dynamic navigation in documentation layout
  apps/portal/src/components/Document/AutoNextPageButton.tsx
  apps/portal/src/components/Document/NextPageButton.tsx
  apps/portal/src/components/Document/PageFooter.tsx
  apps/portal/src/components/Document/utils/getNextPageFromSidebar.ts
  apps/portal/src/components/Layouts/DocLayout.tsx
Labels: portal

chore: add webhook secret to table, fix api error
  apps/dashboard/src/@/api/webhook-configs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-configs-table.tsx
Labels: dashboard

chore: add webhook secret to table, fix api error (#7606)
  apps/dashboard/src/@/api/webhook-configs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-configs-table.tsx
Labels: dashboard

support-in-dashboard v1
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/SupportLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportAIChatCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCasesClient.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportTabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/account/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/connect/AffectedAreaInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/connect/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/contracts/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/engine/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/other/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/payments/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/tokens-marketplace/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_DescriptionInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_SelectInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_TextInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/shared/SupportForm_UnityInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: dashboard

lint fixes
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/TeamSidebarLayout.tsx
Labels: dashboard

updates based on feedback
  apps/dashboard/src/@/components/chat/CustomChatButton.tsx
  apps/dashboard/src/@/components/chat/CustomChatContent.tsx
  apps/dashboard/src/@/components/chat/CustomChats.tsx
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
  apps/dashboard/src/app/(app)/components/Header/SecondaryNav/SecondaryNav.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCasesClient.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportTicketForm.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
Labels: dashboard

fix playground payments widget (#7607)
  apps/playground-web/src/app/connect/pay/components/CodeGen.tsx
Labels: playground

[SDK] Fix: Adds BuyWidget fallback when native isn't supported (#7601)
  apps/playground-web/src/hooks/useTokensData.ts
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
Labels: playground, packages, sdk

lint
  apps/portal/src/components/Document/AutoNextPageButton.tsx
  apps/portal/src/components/Document/NextPageButton.tsx
  apps/portal/src/components/Document/PageFooter.tsx
  apps/portal/src/components/Document/utils/getNextPageFromSidebar.ts
Labels: portal

[Portal] Add next button to inner page footers (#7605)
  apps/portal/src/components/Document/AutoNextPageButton.tsx
  apps/portal/src/components/Document/NextPageButton.tsx
  apps/portal/src/components/Document/PageFooter.tsx
  apps/portal/src/components/Document/utils/getNextPageFromSidebar.ts
  apps/portal/src/components/Layouts/DocLayout.tsx
Labels: portal

Update error response URL for project settings (#7613)
  .changeset/ninety-heads-work.md
  packages/service-utils/src/core/authorize/client.test.ts
  packages/service-utils/src/core/authorize/client.ts
  packages/service-utils/src/core/authorize/service.ts
Labels: packages

Update nebula rateLimit type to include perSecond and perMinute (#7614)
  .changeset/loud-clocks-begin.md
  apps/dashboard/src/@/storybook/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

Update ABI and deployment
  packages/thirdweb/scripts/generate/abis/assets/ERC20AssetEntrypoint.json
  packages/thirdweb/scripts/generate/abis/assets/RewardLocker.json
  packages/thirdweb/src/assets/constants.ts
  packages/thirdweb/src/extensions/assets/__generated__/ERC20AssetEntrypoint/events/AssetRewardClaimed.ts
  packages/thirdweb/src/extensions/assets/__generated__/ERC20AssetEntrypoint/read/getReward.ts
  packages/thirdweb/src/extensions/assets/__generated__/ERC20AssetEntrypoint/write/claimReward.ts
  packages/thirdweb/src/extensions/assets/__generated__/RewardLocker/events/RewardCollected.ts
  packages/thirdweb/src/extensions/assets/__generated__/RewardLocker/write/collectReward.ts
  packages/thirdweb/src/extensions/assets/__generated__/RewardLocker/write/lockPosition.ts
Labels: packages, sdk

Fix knip lint
  packages/thirdweb/src/assets/constants.ts
  packages/thirdweb/src/exports/assets.ts
Labels: packages, sdk

fix build
  packages/thirdweb/src/assets/constants.ts
Labels: packages, sdk

[portal] add new support article (#7595)
  apps/portal/src/app/knowledge-base/assets/base-uri.png
  apps/portal/src/app/knowledge-base/assets/download-ipfs.png
  apps/portal/src/app/knowledge-base/assets/import-ipfs.png
  apps/portal/src/app/knowledge-base/assets/search.png
  apps/portal/src/app/knowledge-base/assets/storage.png
  apps/portal/src/app/knowledge-base/assets/token-uri.png
  apps/portal/src/app/knowledge-base/assets/update-batch.png
  apps/portal/src/app/knowledge-base/sidebar.tsx
  apps/portal/src/app/knowledge-base/troubleshoot/contracts/update-nft-metadata/page.mdx
Labels: portal

chore: update UB jsdocs to include types
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/Transfer.ts
Labels: packages, sdk, portal

export getReward, run format
  packages/thirdweb/src/assets/create-token-by-impl-config.ts
  packages/thirdweb/src/assets/get-entrypoint-erc20.ts
  packages/thirdweb/src/assets/types.ts
  packages/thirdweb/src/exports/assets.ts
Labels: packages, sdk

Chore: Update UB jsdocs to include types (#7629)
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/Transfer.ts
Labels: packages, sdk, portal

[TOOL-5046] Fix Team not found error on token creation with gas sponsorship enabled
  apps/dashboard/src/@/constants/thirdweb-client.client.ts
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/page.tsx
  packages/thirdweb/src/client/client.ts
  packages/thirdweb/src/utils/fetch.ts
Labels: dashboard, packages, sdk

Display webhook secret in dashboard (#7610)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/WebhooksTable.tsx
Labels: dashboard

[TOOL-5047] Dashboard: Fix client object missing teamId on contract publish page (#7628)
  apps/dashboard/src/app/(app)/(dashboard)/contracts/publish/[publish_uri]/page.tsx
Labels: dashboard

add claim rewards page
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageMetadata.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageMetadataSetup.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageSidebarLinks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/claim-rewards/components/claim-rewards-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/claim-rewards/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/claim-rewards/utils/rewards.ts
  packages/thirdweb/src/exports/assets.ts
Labels: dashboard, packages, sdk

Update page.mdx
  apps/portal/src/app/react-native/v5/differences/page.mdx
Labels: portal

[Docs] Update page.mdx (#7632)
  apps/portal/src/app/react-native/v5/differences/page.mdx
Labels: portal

chore: /token and /vault landing pages
  apps/dashboard/framer-rewrites.js
Labels: dashboard

chore: /token and /vault landing pages (#7633)
  apps/dashboard/framer-rewrites.js
Labels: dashboard

add insight filter selection to webhook creation and update (#7598)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/create-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/edit-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/topic-selector-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-configs-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/useAbiProcessing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
Labels: dashboard

show contract webhooks as deprecated
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/BasicInfoStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/ReviewStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/WebhooksTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/contract-webhooks/contract-webhooks-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/useTestWebhook.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/webhookPayloadUtils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/webhookTypes.ts
Labels: dashboard

load amounts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/claim-rewards/components/claim-rewards-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/claim-rewards/utils/unclaimed-fees.ts
Labels: dashboard

Dashboard, Portal, Playground: Rename leftover usage of 'Universal Bridge' to 'Payments' in UI (#7611)
  apps/dashboard/src/@/components/misc/AnnouncementBanner.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/bridge/page.tsx
  apps/playground-web/src/app/connect/pay/backend/layout.tsx
  apps/playground-web/src/app/connect/pay/backend/page.tsx
  apps/playground-web/src/app/connect/pay/backend/reference/page.tsx
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/app/connect/pay/fund-wallet/page.tsx
  apps/playground-web/src/app/connect/pay/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/account/create-account/page.mdx
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/universal-bridge/quickstart/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/unity/v5/sidebar.tsx
  packages/service-utils/src/core/services.ts
Labels: dashboard, playground, packages, portal

Version Packages (#7616)
  .changeset/loud-clocks-begin.md
  .changeset/ninety-heads-work.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

update
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/claim-rewards/components/claim-rewards-page.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/claim-rewards/components/claim-rewards-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/claim-rewards/page.tsx
Labels: dashboard

Dashboard: Temporarily remove gas sponsorship option in token creation (#7631)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/launch/launch-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
Labels: dashboard

Update addresses
  packages/thirdweb/src/assets/constants.ts
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
