Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

lint
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, sdk

fix tests
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnectCore.test.tsx
  packages/thirdweb/src/wallets/connection/autoConnectCore.test.ts
Labels: packages, sdk

fix dashboard build
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/PayModal.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

Version Packages (#7304)
  .changeset/better-owls-flash.md
  .changeset/calm-suits-stare.md
  .changeset/red-cooks-juggle.md
  .changeset/whole-ends-like.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

replace article link
  apps/dashboard/redirects.js
  packages/thirdweb/src/cli/bin.ts
Labels: dashboard, packages, sdk

[TOOL-4689] Dashboard: Integrate ERC20Asset contract in token creation flow
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/@/constants/server-envs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/_common/step-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/nft/collection-info/nft-collection-info-fieldset.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/nft/create-nft-page-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/_common/form.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/_common/tracking.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/create-token-page.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/distribution/token-airdrop.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/distribution/token-distribution.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/token-info/token-info-fieldset.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/hooks/project-contracts.ts
  apps/dashboard/src/components/contract-components/tables/contract-table.tsx
Labels: dashboard

Add Empty Nebula project shell
  apps/nebula/next-env.d.ts
  apps/nebula/package.json
  apps/nebula/src/app/layout.tsx
  apps/nebula/src/app/page.tsx
  apps/nebula/tsconfig.json
  pnpm-lock.yaml
Labels: none

Add Empty Nebula project shell (#7357)
  apps/nebula/next-env.d.ts
  apps/nebula/package.json
  apps/nebula/src/app/layout.tsx
  apps/nebula/src/app/page.tsx
  apps/nebula/tsconfig.json
  pnpm-lock.yaml
Labels: none

Replace CLI login article link (#7355)
  apps/dashboard/redirects.js
  packages/thirdweb/src/cli/bin.ts
Labels: dashboard, packages, sdk

Fix z-index issue in NFT asset page
  apps/dashboard/src/@/components/blocks/media-renderer.tsx
Labels: dashboard

fix: throw error if amount and gas is more than balance
  .changeset/weak-papayas-occur.md
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/react/core/hooks/useBridgeError.test.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.test.ts
  packages/thirdweb/src/react/core/hooks/wallets/useSendToken.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.test.ts
  packages/thirdweb/src/react/web/adapters/adapters.test.ts
  packages/thirdweb/src/wallets/utils/getWalletBalance.ts
Labels: packages, sdk

Fix: Throw error if amount and gas is more than balance (#7358)
  .changeset/weak-papayas-occur.md
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/react/core/hooks/useBridgeError.test.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.test.ts
  packages/thirdweb/src/react/core/hooks/wallets/useSendToken.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.test.ts
  packages/thirdweb/src/react/web/adapters/adapters.test.ts
  packages/thirdweb/src/wallets/utils/getWalletBalance.ts
Labels: packages, sdk

fix: stringify bigint erc20Value in useTransactionDetails
  .changeset/fluffy-paws-slide.md
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
Labels: playground, packages, sdk

fix: remove incorrect disableOnramp documentation
  packages/thirdweb/src/react/core/hooks/useBridgeError.test.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.test.ts
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
Labels: packages, sdk

Fix z-index issue in NFT asset page (#7359)
  apps/dashboard/src/@/components/blocks/media-renderer.tsx
Labels: dashboard

[SDK] Fix: stringify bigint erc20Value in useTransactionDetails (#7360)
  .changeset/fluffy-paws-slide.md
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
Labels: playground, packages, sdk

[Dashboard] Update rewrites and redirects for Connect to Build migration
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: dashboard

[Dashboard] Update rewrites and redirects for Connect to Build migration (#7362)
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: dashboard

fix: add new types.
  packages/ai/src/client/types.gen.ts
Labels: packages

feat: add basic agent page to retrieve data.
  apps/dashboard/src/app/nebula-app/(app)/agents/[agentId]/agent-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/agents/[agentId]/loading.tsx
  apps/dashboard/src/app/nebula-app/(app)/agents/[agentId]/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/agents/create/create-agent-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/agents/nebula-agents-page.tsx
  apps/dashboard/src/app/nebula-app/(app)/hooks/agents/useAgent.ts
Labels: dashboard

[TOOL-4634] Update disabled faucet button label
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
Labels: dashboard

[PRO-199] Playground sidebar changes
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/app/navLinks.ts
Labels: playground

Add SignatureSelector component for custom signature input in webhooks (#7370)
  apps/dashboard/src/@/components/blocks/SignatureSelector.tsx
  apps/dashboard/src/@/components/blocks/multi-select.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/FilterDetailsStep.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/utils/webhookPayloadUtils.ts
Labels: dashboard

Version Packages (#7361)
  .changeset/fluffy-paws-slide.md
  .changeset/weak-papayas-occur.md
  apps/nebula/CHANGELOG.md
  apps/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

fix: ub playground input field and payment receipt chains
  .changeset/twelve-brooms-kneel.md
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/PaymentReceipt.tsx
Labels: playground, packages, sdk

Fix: Bridge Playground Chain Input Form (#7371)
  .changeset/twelve-brooms-kneel.md
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/PaymentReceipt.tsx
Labels: playground, packages, sdk

insight playground - allow array items to be single item (#7373)
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: playground

fix: fallback insight owned tokens request to mainnet
  packages/thirdweb/src/insight/get-tokens.ts
Labels: packages, sdk

[PRO-199] Playground sidebar changes (#7369)
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/app/navLinks.ts
Labels: playground

insight playground - allow array items to be single item (#7373)
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: playground

posthog migration: part 1
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/dashboard/src/app/(app)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/bridge/components/client/Providers.client.tsx
  apps/dashboard/src/app/pay/components/client/Providers.client.tsx
  apps/dashboard/src/components/wallets/PosthogIdentifier.tsx
  apps/dashboard/src/components/wallets/PosthogIdentifierServer.tsx
  apps/dashboard/src/hooks/analytics/useTrack.ts
  apps/dashboard/src/instrumentation-client.ts
  apps/dashboard/src/lib/posthog/Posthog.tsx
  apps/dashboard/src/lib/posthog/PosthogHeadSetup.tsx
  apps/dashboard/src/lib/posthog/PosthogPageView.tsx
  apps/dashboard/src/utils/errorParser.tsx
  apps/nebula/.env.example
  apps/nebula/next.config.ts
  apps/nebula/package.json
  apps/nebula/src/instrumentation-client.ts
  apps/playground-web/next.config.mjs
  apps/playground-web/package.json
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/instrumentation-client.ts
  apps/playground-web/src/lib/posthog/Posthog.tsx
  apps/playground-web/src/lib/posthog/PosthogHeadSetup.tsx
  apps/playground-web/src/lib/posthog/PosthogPageView.tsx
  apps/portal/next.config.mjs
  apps/portal/package.json
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/layout.tsx
  apps/portal/src/components/code/RenderCode.tsx
  apps/portal/src/components/others/Feedback.tsx
  apps/portal/src/instrumentation-client.ts
  apps/portal/src/lib/env.ts
  apps/portal/src/lib/posthog/Posthog.tsx
  apps/portal/src/lib/posthog/PosthogHeadSetup.tsx
  apps/portal/src/lib/posthog/PosthogPageView.tsx
  apps/wallet-ui/next.config.mjs
  pnpm-lock.yaml
Labels: dashboard, playground, portal, Ecosystem Portal

posthog migration part 2
  apps/dashboard/.eslintrc.js
  apps/dashboard/src/@/analytics/hooks/identify-account.ts
  apps/dashboard/src/@/analytics/hooks/identify-team.ts
  apps/dashboard/src/@/analytics/reset.ts
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeader.tsx
  apps/dashboard/src/app/(app)/account/settings/AccountSettingsPage.tsx
  apps/dashboard/src/app/(app)/login/LoginPage.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/instrumentation-client.ts
Labels: dashboard

posthog migration: part 4
  .cursor/rules/dashboard.mdc
  AGENTS.md
  apps/dashboard/src/@/analytics/README.md
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/select-plan/_components/plan-selector.tsx
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/select-plan/page.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.stories.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/team-onboarding.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/utils/errorParser.tsx
  apps/portal/.eslintignore
  apps/portal/src/analytics/README.md
  apps/portal/src/analytics/report.ts
  apps/portal/src/components/others/Feedback.tsx
Labels: dashboard, portal

Fix: Fallback insight owned tokens request to mainnet (#7375)
  packages/thirdweb/src/insight/get-tokens.ts
Labels: packages, sdk

[DO NOT MERGE] - posthog migration part 6
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-edition-drop/buy-edition-drop.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-nft-drop/buy-nft-drop.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/cards.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/nft/create-nft-page-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/nft/create-nft-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/nft/launch/launch-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token/launch/launch-token.tsx
  apps/dashboard/src/components/contract-components/import-contract/modal.tsx
Labels: dashboard

posthog migration: part 2 (#7364)
  apps/dashboard/.eslintrc.js
  apps/dashboard/src/@/analytics/hooks/identify-account.ts
  apps/dashboard/src/@/analytics/hooks/identify-team.ts
  apps/dashboard/src/@/analytics/reset.ts
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeader.tsx
  apps/dashboard/src/app/(app)/account/settings/AccountSettingsPage.tsx
  apps/dashboard/src/app/(app)/login/LoginPage.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/instrumentation-client.ts
Labels: dashboard

posthog migration: part 1 (#7363)
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/dashboard/src/app/(app)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/bridge/components/client/Providers.client.tsx
  apps/dashboard/src/app/pay/components/client/Providers.client.tsx
  apps/dashboard/src/components/wallets/PosthogIdentifier.tsx
  apps/dashboard/src/components/wallets/PosthogIdentifierServer.tsx
  apps/dashboard/src/hooks/analytics/useTrack.ts
  apps/dashboard/src/instrumentation-client.ts
  apps/dashboard/src/lib/posthog/Posthog.tsx
  apps/dashboard/src/lib/posthog/PosthogHeadSetup.tsx
  apps/dashboard/src/lib/posthog/PosthogPageView.tsx
  apps/dashboard/src/utils/errorParser.tsx
  apps/nebula/.env.example
  apps/nebula/next.config.ts
  apps/nebula/package.json
  apps/nebula/src/instrumentation-client.ts
  apps/playground-web/next.config.mjs
  apps/playground-web/package.json
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/instrumentation-client.ts
  apps/playground-web/src/lib/posthog/Posthog.tsx
  apps/playground-web/src/lib/posthog/PosthogHeadSetup.tsx
  apps/playground-web/src/lib/posthog/PosthogPageView.tsx
  apps/portal/next.config.mjs
  apps/portal/package.json
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/layout.tsx
  apps/portal/src/components/code/RenderCode.tsx
  apps/portal/src/components/others/Feedback.tsx
  apps/portal/src/instrumentation-client.ts
  apps/portal/src/lib/env.ts
  apps/portal/src/lib/posthog/Posthog.tsx
  apps/portal/src/lib/posthog/PosthogHeadSetup.tsx
  apps/portal/src/lib/posthog/PosthogPageView.tsx
  apps/wallet-ui/next.config.mjs
  pnpm-lock.yaml
Labels: dashboard, playground, portal, Ecosystem Portal

posthog migration: part 4 (#7366)
  .cursor/rules/dashboard.mdc
  AGENTS.md
  apps/dashboard/src/@/analytics/README.md
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/select-plan/_components/plan-selector.tsx
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/select-plan/page.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.stories.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/team-onboarding.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/utils/errorParser.tsx
  apps/portal/.eslintignore
  apps/portal/src/analytics/README.md
  apps/portal/src/analytics/report.ts
  apps/portal/src/components/others/Feedback.tsx
Labels: dashboard, portal

[Dashboard] Add chain, publisher, and contract data to deploy failure analytics
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
Labels: dashboard

[Dashboard] Add chain, publisher, and contract data to deploy failure analytics (#7376)
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
