Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Fix: Update commit email to match GPG key email
  README.md
Labels: none

Update page.mdx
  apps/portal/src/app/nebula/prompt-guide/page.mdx
Labels: portal

Update page.mdx
  apps/portal/src/app/nebula/prompt-guide/page.mdx
Labels: portal

Supported Chain Updates
  apps/portal/src/app/connect/account-abstraction/infrastructure/page.mdx
Labels: portal

Replacing Imports
  apps/portal/src/app/connect/account-abstraction/infrastructure/page.mdx
Labels: portal

Compute addresses with ref contracts (#5699)
  .changeset/fresh-gorillas-sip.md
  packages/thirdweb/src/extensions/prebuilts/compute-ref-deployments.ts
  packages/thirdweb/src/extensions/prebuilts/process-ref-deployments.test.ts
  packages/thirdweb/src/utils/any-evm/compute-published-contract-deploy-info.ts
Labels: packages, sdk

[TOOL-3673] Dashboard: change Turnstile widget appearance on missing turnstile token (#6453)
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/auth-actions.ts
Labels: dashboard

[TOOL-3681] Portal: Fix code identation in reference pages (#6461)
  apps/portal/src/components/Document/Code.tsx
  packages/thirdweb/src/react/core/utils/wallet.ts
Labels: packages, sdk, portal

[NEB-113] Save context chains in local storage (#6452)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
Labels: dashboard

[TOOL-3683] Dashboard: show FTUX in team overview page when no projects are created
  apps/dashboard/src/app/account/components/AccountHeader.tsx
  apps/dashboard/src/app/get-started/team/[team_slug]/create-project/page.tsx
  apps/dashboard/src/app/login/onboarding/create-project-onboarding/CreateProjectPage.stories.tsx
  apps/dashboard/src/app/login/onboarding/create-project-onboarding/CreateProjectPageUI.tsx
  apps/dashboard/src/app/login/onboarding/create-project-onboarding/create-project-page.tsx
  apps/dashboard/src/app/login/onboarding/onboarding-layout.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/team-onboarding.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsTable.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsTable.tsx
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
Labels: dashboard

update nebula examplePrompts.ts
  apps/dashboard/src/app/nebula-app/(app)/data/examplePrompts.ts
Labels: dashboard

[TOOL-3687] Add Universal Buy/Sell bridge functions
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/src/exports/universal.ts
  packages/thirdweb/src/universal/Buy.test.ts
  packages/thirdweb/src/universal/Buy.ts
  packages/thirdweb/src/universal/Sell.test.ts
  packages/thirdweb/src/universal/Sell.ts
  packages/thirdweb/src/universal/constants.ts
  packages/thirdweb/src/universal/index.ts
  packages/thirdweb/src/universal/types/Quote.ts
Labels: packages, sdk

[TOOL-3687] Add Universal Routes and Status bridge functions
  packages/thirdweb/src/exports/universal.ts
  packages/thirdweb/src/universal/Buy.ts
  packages/thirdweb/src/universal/Routes.test.ts
  packages/thirdweb/src/universal/Routes.ts
  packages/thirdweb/src/universal/Sell.ts
  packages/thirdweb/src/universal/Status.test.ts
  packages/thirdweb/src/universal/Status.ts
  packages/thirdweb/src/universal/index.ts
  packages/thirdweb/src/universal/types/Route.ts
  packages/thirdweb/src/universal/types/Status.ts
Labels: packages, sdk

lint
  packages/thirdweb/src/universal/Buy.test.ts
  packages/thirdweb/src/universal/Buy.ts
  packages/thirdweb/src/universal/Routes.ts
  packages/thirdweb/src/universal/Sell.test.ts
  packages/thirdweb/src/universal/Sell.ts
  packages/thirdweb/src/universal/types/Status.ts
Labels: packages, sdk

add copy invite link feature to team invites (#6463)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/ManageInvitesSection.tsx
Labels: dashboard

Fix cross chain tab event queries (#6465)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
Labels: dashboard

[Portal] Fix: Updating AA supported chains (#6459)
  apps/portal/src/app/connect/account-abstraction/infrastructure/page.mdx
Labels: portal

Portal: Fix knip lint error - Delete AAChainList (#6468)
  apps/portal/src/components/Document/AAChainList.tsx
  apps/portal/src/components/Document/index.ts
Labels: portal

Update packages/thirdweb/src/universal/Sell.ts
  packages/thirdweb/src/universal/Sell.ts
Labels: packages, sdk

Update packages/thirdweb/src/universal/types/Quote.ts
  packages/thirdweb/src/universal/types/Quote.ts
Labels: packages, sdk

Update packages/thirdweb/src/universal/Status.ts
  packages/thirdweb/src/universal/Status.ts
Labels: packages, sdk

refactor: rename 'universal' to 'bridge' module
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/constants.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/Quote.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/bridge/types/Status.ts
  packages/thirdweb/src/exports/bridge.ts
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/src/exports/universal.ts
  packages/thirdweb/src/universal/Routes.test.ts
  packages/thirdweb/src/universal/Status.test.ts
  packages/thirdweb/src/universal/constants.ts
Labels: packages, sdk

changeset and lint
  .changeset/clear-olives-know.md
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/constants.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/Quote.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/bridge/types/Status.ts
  packages/thirdweb/src/exports/bridge.ts
Labels: packages, sdk

Update packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Sell.ts
Labels: packages, sdk

fix tests
  packages/thirdweb/src/bridge/Status.test.ts
Labels: packages, sdk

Update packages/thirdweb/src/bridge/types/Quote.ts
  packages/thirdweb/src/bridge/types/Quote.ts
Labels: packages, sdk

docs(react/getting-started): Fix typo
  apps/portal/src/app/react/v5/getting-started/page.mdx
Labels: portal

Update apps/portal/src/app/react/v5/getting-started/page.mdx
  apps/portal/src/app/react/v5/getting-started/page.mdx
Labels: portal

[TOOL-3684] Dashboard: Add FTUX in project overview page (#6466)
  apps/dashboard/.storybook/main.ts
  apps/dashboard/src/@/components/blocks/code-segment.client.tsx
  apps/dashboard/src/@/components/ui/DatePickerWithRange.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/account/contracts/_components/GetStartedWithContractsDeploy.tsx
  apps/dashboard/src/app/login/onboarding/LoginOrSignup/LoginOrSignup.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/team-onboarding.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/engine-wallet-config.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/IntegrateAPIKeyCodeTabs.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/ProjectFTUX.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/SecretKeySection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-ui.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/components/Analytics/AnalyticsHeader.stories.tsx
  apps/dashboard/src/app/team/components/Analytics/AnalyticsHeader.tsx
  apps/dashboard/src/app/team/components/NotificationButton/NotificationButton.tsx
Labels: dashboard

[Docs] Fix: Typo in react/getting-started guide (#6470)
  apps/portal/src/app/react/v5/getting-started/page.mdx
Labels: portal

.NET Docs - Synchronous EngineWallet.Create (#6469)
  apps/portal/src/app/dotnet/wallets/providers/engine-wallet/page.mdx
Labels: portal

Removing OP and Gas Sponsored
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

update dependencies
  .changeset/thin-lines-cover.md
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

update dependencies (#6471)
  .changeset/thin-lines-cover.md
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[TOOL-3691] Dashbaord: Keep project settings submit button always enabled (#6467)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
Labels: dashboard

Remove linkBox prop to fix Safari compatibility issues
  apps/dashboard/src/@/components/ui/table.stories.tsx
  apps/dashboard/src/@/components/ui/table.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chainlist-row.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/components/PublishedContractTable.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/partners-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/components/contract-components/contract-table/index.tsx
  apps/dashboard/src/components/contract-components/tables/cells.tsx
  apps/dashboard/src/components/contract-components/tables/contract-table.tsx
  apps/dashboard/src/components/shared/TWTable.tsx
Labels: dashboard

code snippets for use case examples
  apps/portal/src/app/insight/use-cases/page.mdx
Labels: portal

[Dashboard] feat: Add access control and server verifier to partner configuration
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/constants.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-add-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-update-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/hooks/use-partners.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/types.ts
Labels: dashboard

[Dashboard] feat: Add access control and server verifier to partner configuration (#6473)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/constants.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-add-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-update-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/hooks/use-partners.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/types.ts
Labels: dashboard

updated description of using session keys with Engine
  apps/portal/src/app/engine/features/account-abstraction/page.mdx
Labels: portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
