Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[Dashboard] Update transaction status endpoint path (#8166)
  apps/dashboard/src/@/hooks/useEngine.ts
Labels: dashboard

add initial solana methods
  packages/vault-sdk/package.json
  packages/vault-sdk/src/exports/thirdweb.ts
  packages/vault-sdk/src/sdk.ts
  packages/vault-sdk/src/types.ts
  packages/vault-sdk/test-solana.ts
  pnpm-lock.yaml
Labels: packages

Update dependencies, improve wagmi adapter
  .changeset/grumpy-toes-switch.md
  .changeset/quiet-gifts-lead.md
  apps/wagmi-demo/.env.example
  apps/wagmi-demo/.gitignore
  apps/wagmi-demo/.npmrc
  apps/wagmi-demo/README.md
  apps/wagmi-demo/biome.json
  apps/wagmi-demo/index.html
  apps/wagmi-demo/package.json
  apps/wagmi-demo/src/App.tsx
  apps/wagmi-demo/src/index.css
  apps/wagmi-demo/src/main.tsx
  apps/wagmi-demo/src/vite-env.d.ts
  apps/wagmi-demo/src/wagmi.ts
  apps/wagmi-demo/tsconfig.base.json
  apps/wagmi-demo/tsconfig.json
  apps/wagmi-demo/vite.config.ts
  package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem.ts
  packages/thirdweb/src/event/actions/get-events.ts
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
  packages/wagmi-adapter/package.json
  packages/wagmi-adapter/src/connector.ts
  packages/wagmi-adapter/src/exports/thirdweb.ts
  pnpm-lock.yaml
Labels: packages, sdk

[Multi] Update dependencies, improve wagmi adapter (#8167)
  .changeset/grumpy-toes-switch.md
  .changeset/quiet-gifts-lead.md
  apps/wagmi-demo/.env.example
  apps/wagmi-demo/.gitignore
  apps/wagmi-demo/.npmrc
  apps/wagmi-demo/README.md
  apps/wagmi-demo/biome.json
  apps/wagmi-demo/index.html
  apps/wagmi-demo/package.json
  apps/wagmi-demo/src/App.tsx
  apps/wagmi-demo/src/index.css
  apps/wagmi-demo/src/main.tsx
  apps/wagmi-demo/src/vite-env.d.ts
  apps/wagmi-demo/src/wagmi.ts
  apps/wagmi-demo/tsconfig.base.json
  apps/wagmi-demo/tsconfig.json
  apps/wagmi-demo/vite.config.ts
  package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem.ts
  packages/thirdweb/src/event/actions/get-events.ts
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
  packages/wagmi-adapter/package.json
  packages/wagmi-adapter/src/connector.ts
  packages/wagmi-adapter/src/exports/thirdweb.ts
  pnpm-lock.yaml
Labels: packages, sdk

Version Packages (#8170)
  .changeset/grumpy-toes-switch.md
  .changeset/quiet-gifts-lead.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Docs] Simplify x402 documentation and rename "Facilitator API" to "Facilitator"
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/settings/SponsorshipPolicies/index.tsx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/x402/client/page.mdx
  apps/portal/src/app/payments/x402/facilitator/page.mdx
  apps/portal/src/app/payments/x402/page.mdx
  apps/portal/src/app/transactions/policies/page.mdx
  apps/portal/src/app/transactions/sidebar.tsx
Labels: dashboard, portal

[Docs] Simplify x402 documentation (#8173)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/settings/SponsorshipPolicies/index.tsx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/x402/client/page.mdx
  apps/portal/src/app/payments/x402/facilitator/page.mdx
  apps/portal/src/app/payments/x402/page.mdx
  apps/portal/src/app/transactions/policies/page.mdx
  apps/portal/src/app/transactions/sidebar.tsx
Labels: dashboard, portal

[Dashboard] Redesign wallet UI with rounded elements and improved layout
  apps/dashboard/src/@/components/in-app-wallet-users-content/AdvancedSearchInput.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/in-app-wallet-users-content.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
Labels: dashboard

[Dashboard] Move server wallet sections to wallets tab (#8174)
  apps/dashboard/src/@/components/in-app-wallet-users-content/AdvancedSearchInput.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/in-app-wallet-users-content.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
Labels: dashboard

Fix invoice status logic and refactor billing components
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/billing/invoices/components/billing-history.tsx
Labels: dashboard

Fix invoice status logic and refactor billing components (#8175)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/billing/invoices/components/billing-history.tsx
Labels: dashboard

Update typedoc
  .github/workflows/typedoc.yml
Labels: none

[X402] Remove payTo parameter and simplify facilitator implementation
  .github/workflows/auto-assign.yml
  apps/playground-web/src/app/payments/x402/components/X402LeftSection.tsx
  apps/playground-web/src/middleware.ts
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/sign.ts
  packages/thirdweb/src/x402/types.ts
  packages/thirdweb/src/x402/verify-payment.ts
Labels: playground, packages, sdk

[SDK] Deprecate payTo parameter and simplify facilitator implementation (#8177)
  .github/workflows/auto-assign.yml
  apps/playground-web/src/app/payments/x402/components/X402LeftSection.tsx
  apps/playground-web/src/middleware.ts
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/sign.ts
  packages/thirdweb/src/x402/types.ts
  packages/thirdweb/src/x402/verify-payment.ts
Labels: playground, packages, sdk

Add Google Click ID tracking to Stripe checkout
  apps/dashboard/src/@/actions/stripe-actions.ts
  apps/dashboard/src/middleware.ts
Labels: dashboard

Add Google Click ID tracking to Stripe checkout (#8180)
  apps/dashboard/src/@/actions/stripe-actions.ts
  apps/dashboard/src/middleware.ts
Labels: dashboard

[MNY-192] SDK: BuyWidget Improvements (#8181)
  .changeset/slow-crews-thank.md
  apps/playground-web/src/app/payments/commerce/CheckoutPlayground.tsx
  apps/playground-web/src/app/payments/components/CodeGen.tsx
  apps/playground-web/src/app/payments/components/LeftSection.tsx
  apps/playground-web/src/app/payments/components/RightSection.tsx
  apps/playground-web/src/app/payments/components/types.ts
  apps/playground-web/src/app/payments/fund-wallet/BuyPlayground.tsx
  apps/playground-web/src/app/payments/transactions/TransactionPlayground.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/bridge-widget/bridge-widget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/WithHeader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/active-wallet-details.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/decimal-input.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/selected-token-button.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/token-balance.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/token-query.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/formatTokenBalance.ts
  packages/thirdweb/src/react/web/ui/components/CopyIcon.tsx
  packages/thirdweb/src/script-exports/bridge-widget-script.tsx
  packages/thirdweb/src/script-exports/readme.md
  packages/thirdweb/src/stories/BuyWidget.stories.tsx
Labels: playground, packages, sdk

Version Packages (#8182)
  .changeset/slow-crews-thank.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[thirdweb] Fix waitUntil facilitator parameter not being respected
  .changeset/ten-donuts-fail.md
  .github/workflows/auto-assign.yml
  apps/playground-web/src/app/api/paywall/route.ts
  apps/playground-web/src/middleware.ts
  packages/thirdweb/src/x402/facilitator.ts
Labels: playground, packages, sdk

[SDK] Fix waitUntil facilitator parameter not being respected (#8184)
  .changeset/ten-donuts-fail.md
  .github/workflows/auto-assign.yml
  apps/playground-web/src/app/api/paywall/route.ts
  apps/playground-web/src/middleware.ts
  packages/thirdweb/src/x402/facilitator.ts
Labels: playground, packages, sdk

Version Packages (#8185)
  .changeset/ten-donuts-fail.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Docs] Add MCP tool filtering, agent examples, and available tools list
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/x402/agents/page.mdx
Labels: portal

[Docs] Add MCP tool filtering, agent examples, and available tools list (#8188)
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/x402/agents/page.mdx
Labels: portal

[Docs] Update MCP tool filtering to use comma-separated list
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/payments/x402/agents/page.mdx
Labels: portal

[Docs] Update MCP tool filtering to use comma-separated list (#8189)
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/payments/x402/agents/page.mdx
Labels: portal

[Docs] Add metadata to x402 documentation pages
  apps/portal/src/app/payments/x402/agents/page.mdx
  apps/portal/src/app/payments/x402/client/page.mdx
  apps/portal/src/app/payments/x402/facilitator/page.mdx
  apps/portal/src/app/payments/x402/page.mdx
  apps/portal/src/app/payments/x402/server/page.mdx
Labels: portal

[Docs] Add metadata to x402 documentation pages (#8190)
  apps/portal/src/app/payments/x402/agents/page.mdx
  apps/portal/src/app/payments/x402/client/page.mdx
  apps/portal/src/app/payments/x402/facilitator/page.mdx
  apps/portal/src/app/payments/x402/page.mdx
  apps/portal/src/app/payments/x402/server/page.mdx
Labels: portal

Fix: Update airdrop-tokens docs link to engine.thirdweb.com
  apps/playground-web/src/app/transactions/airdrop-tokens/page.tsx
Labels: playground

Fix: Update docs link for mint tokens page
  apps/playground-web/src/app/transactions/mint-tokens/page.tsx
Labels: playground

[MNY-236] Portal: Update BridgeWidget script docs to reflect new typescript type (#8200)
  apps/portal/src/app/bridge/bridge-widget-script/page.mdx
Labels: portal

[MNY-211] Dashboard: Add chainId and is_tesnet properties in reported events (#8198)
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/BuyFundsSection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/chain-pageview.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/asset-page-view.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page-layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-edition-drop/buy-edition-drop.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-nft-drop/buy-nft-drop.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/components/custom-contract.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/launch/launch-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
Labels: dashboard

[MNY-231] SDK: Fix TransactionWidget not updating on currency prop change after initial render (#8192)
  .changeset/rich-pens-hug.md
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentOverview.tsx
Labels: packages, sdk

[MNY-203] Dashboard: ERC20 token page title, metadata and OG updates (#8194)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/shared-layout.tsx
Labels: dashboard

[MNY-235] Dashboard: Fix payment page theme issues (#8199)
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: dashboard

[PRO-25] Dashboard: Update bridge page header to show supported tokens, chains and routes count (#8195)
  apps/dashboard/src/app/(app)/(dashboard)/tokens/page.tsx
Labels: dashboard

[PRO-27] Dashboard: copy changes in bridge page (#8191)
  apps/dashboard/src/app/bridge/page.tsx
Labels: dashboard

[MNY-202] Dashboard: Update resource links in project > bridge page (#8196)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/page.tsx
Labels: dashboard

[MNY-232] SDK: Fix ExecutingTxScreen missing back button in TransactionWidget (#8193)
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/ExecutingScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: packages, sdk

[AI-SDK] Add default in-memory session store with custom store option
  .changeset/eleven-kings-fix.md
  apps/playground-web/src/app/ai/ai-sdk/components/chat-container.tsx
  packages/ai-sdk-provider/src/exports/thirdweb.ts
  packages/ai-sdk-provider/src/provider.ts
  packages/ai-sdk-provider/src/types.ts
Labels: playground, packages

[AI-SDK-provider] Add default in-memory session store with custom store option (#8211)
  .changeset/eleven-kings-fix.md
  apps/playground-web/src/app/ai/ai-sdk/components/chat-container.tsx
  packages/ai-sdk-provider/src/exports/thirdweb.ts
  packages/ai-sdk-provider/src/provider.ts
  packages/ai-sdk-provider/src/types.ts
Labels: playground, packages
