Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

use cf types
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

set client ID if passed in
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

chore: forward origin header to usage tracker (#6384)
  .changeset/rich-planes-drive.md
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

fix: relative path import for usageV2
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

fix: relative path import for usageV2 (#6385)
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

[thirdweb] fix: Handle comma decimal input in PayEmbed
  .changeset/mean-animals-eat.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/BuyTokenInput.tsx
Labels: packages, sdk

[service-utils] fix: crash if Kafka connects more than once
  .changeset/gentle-readers-bet.md
  packages/service-utils/src/node/kafka.ts
Labels: packages

[service-utils] fix: crash if Kafka connects more than once (#6387)
  .changeset/gentle-readers-bet.md
  packages/service-utils/src/node/kafka.ts
Labels: packages

[service-utils] fix: build error on kafka disconnect()
  packages/service-utils/src/node/kafka.ts
Labels: packages

[service-utils] fix: build error on kafka disconnect() (#6388)
  packages/service-utils/src/node/kafka.ts
Labels: packages

[TOOL-3572] Dashboard:Fix theming issue in engine pages
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/layout.tsx
Labels: dashboard

[TOOL-3572] Dashboard:Fix theming issue in engine pages (#6389)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/layout.tsx
Labels: dashboard

[SDK] fix: Handle comma decimal input in PayEmbed (#6386)
  .changeset/mean-animals-eat.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/BuyTokenInput.tsx
Labels: packages, sdk

[SDK] Fix: add gpt protocol to legacy tx chains (#6390)
  .changeset/every-bees-exist.md
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, sdk

Version Packages (#6383)
  .changeset/brown-onions-tickle.md
  .changeset/every-bees-exist.md
  .changeset/gentle-readers-bet.md
  .changeset/mean-animals-eat.md
  .changeset/rich-planes-drive.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

playground: fix pay example imports
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
Labels: playground

fix typo
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
Labels: playground

[TOOL-3581] Dashboard: Fix project overview page crashing because of ContractDistributionCard (#6392)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/TransactionCharts.tsx
Labels: dashboard

[TOOL-3575] Dashboard: Fix /home link 404 after upgrading to nextjs 15.2 (#6393)
  apps/dashboard/next.config.ts
  apps/dashboard/src/app/components/MobileBurgerMenuButton.tsx
Labels: dashboard

[TOOL-3584] Dashboad: Move turnstile widget above connect embed in login page (#6394)
  apps/dashboard/src/app/login/LoginPage.tsx
Labels: dashboard

[TOOl-3587] Dashboard: Add in-app-wallet login mode (#6400)
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
Labels: dashboard

remove secretHash from rotate key response
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.stories.tsx
  packages/thirdweb/src/utils/bytecode/resolveImplementation.test.ts
Labels: dashboard, packages, sdk

remove secretHash from rotate key response (#6401)
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.stories.tsx
  packages/thirdweb/src/utils/bytecode/resolveImplementation.test.ts
Labels: dashboard, packages, sdk

skip smart wallet tests without TW_SECRET_KEY
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-modular.test.ts
Labels: packages, sdk

skip smart wallet tests without TW_SECRET_KEY (#6403)
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-modular.test.ts
Labels: packages, sdk

Update deploy configs (#6299)
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  apps/dashboard/src/components/contract-functions/contract-function.tsx
  apps/dashboard/src/constants/addresses.ts
Labels: dashboard

updated dependencies
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/utils/promise/resolve-promised-value.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

cached chain IDs in Nebula Playground
  .gitignore
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  pnpm-lock.yaml
Labels: dashboard

playground: fix pay example imports (#6391)
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
Labels: playground

Update implementations (#6405)
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: packages, sdk

[TOOl-3590] Dashboard: Remove unused components and stories (#6406)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/ConnectAnalyticsDashboardUI.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/ConnectAnalyticsDashboard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/storyUtils.ts
  apps/dashboard/src/components/settings/Account/Billing/CouponCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/share-free-wallets-modal.client.tsx
  apps/dashboard/src/components/settings/Account/Billing/share-free-wallets-modal.stories.tsx
  apps/dashboard/src/lib/format-utils.ts
Labels: dashboard

updated dependencies (#6404)
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/utils/promise/resolve-promised-value.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[SDK] feat: Add zkSync chain ID 555272
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
Labels: packages, sdk

[SDK] feat: update zksync chain checks (#6408)
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
Labels: packages, sdk

[service-utils] remove unneeded cf worker imports
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

undo change
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

shallow copy headers without importing cf worker
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

[service-utils] remove unneeded cf worker imports (#6409)
  .changeset/short-breads-teach.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

[TOOL-3598] Dashboard: Add error message in create ecosystem form for image size
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/components/client/create-ecosystem-form.client.tsx
Labels: dashboard

[TOOL-3598] Dashboard: Add error message in create ecosystem form for image size (#6411)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/components/client/create-ecosystem-form.client.tsx
Labels: dashboard
