Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

refactor: move /universal-bridge to /payments
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayAnalyticsFilter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayCustomersTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayEmbedFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayNewCustomers.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/Payouts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/TotalPayVolume.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/TotalVolumePieChart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/code-examples.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/common.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/time.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/settings/PayConfig.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/settings/RouteDiscovery.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/settings/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/webhooks/loading.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/webhooks/page.tsx
Labels: dashboard

feat: payments overview page
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/BuyWidgetFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
Labels: dashboard

Version Packages (#7682)
  .changeset/brown-ends-strive.md
  .changeset/four-trams-fetch.md
  .changeset/great-flowers-boil.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Optimize 4337 signature performance
  .changeset/thirty-eels-decide.md
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: packages, sdk

[SDK] Optimize 4337 signature performance (#7693)
  .changeset/thirty-eels-decide.md
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: packages, sdk

Version Packages (#7694)
  .changeset/thirty-eels-decide.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

update chain selectors
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-distribution.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/token-info/token-info-fieldset.tsx
Labels: dashboard

padding fix
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-sale.tsx
Labels: dashboard

[Portal] Fix: Broken /connect Links (#7679)
  README.md
  apps/portal/public/llms.txt
  apps/portal/redirects.mjs
  apps/portal/src/app/account/api-keys/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/authenticate/page.mdx
  apps/portal/src/app/engine/v2/configure-wallets/server-wallet/page.mdx
  apps/portal/src/app/engine/v2/features/relayers/page.mdx
  apps/portal/src/app/engine/v2/troubleshooting/page.mdx
  apps/portal/src/app/layout.tsx
  apps/portal/src/app/nebula/get-started/page.mdx
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/pay/guides/smart-accounts/page.mdx
  apps/portal/src/app/pay/onramp-providers/page.mdx
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/react/v5/account-abstraction/get-started/page.mdx
  apps/portal/src/app/react/v5/components/ConnectButton/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/ui-components/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/enable-gasless/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/get-started/page.mdx
  apps/portal/src/app/react/v5/migrate/installation/page.mdx
  apps/portal/src/app/react/v5/rainbow-kit-migrate/page.mdx
  apps/portal/src/app/tokens/build/base-contracts/erc-4337/page.mdx
  apps/portal/src/app/tokens/explore/pre-built-contracts/account-factory/page.mdx
  apps/portal/src/app/tokens/explore/pre-built-contracts/managed-account-factory/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/session-keys/page.mdx
  apps/portal/src/app/typescript/v5/account-abstraction/get-started/page.mdx
  apps/portal/src/components/others/DocSearch.tsx
  packages/thirdweb/CHANGELOG.md
Labels: packages, sdk, portal

fixup! refactor: move /universal-bridge to /payments
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/TopChainsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/TopEndpointsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/FeatureCard.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/settings/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/components/MethodsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/universal-bridge/page.tsx
Labels: dashboard

Feature: New Payments Overview Page (#7691)
  apps/dashboard/redirects.js
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/TopChainsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/TopEndpointsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/BuyWidgetFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/FeatureCard.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayAnalyticsFilter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayCustomersTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayNewCustomers.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/Payouts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/TotalPayVolume.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/TotalVolumePieChart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/code-examples.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/common.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/time.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/settings/PayConfig.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/settings/RouteDiscovery.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/settings/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/webhooks/loading.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/webhooks/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/components/MethodsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/universal-bridge/page.tsx
Labels: dashboard

Dashboard: Migrate Batch Upload NFTs from chakra to tailwind, UI improvements (#7689)
  apps/dashboard/public/assets/examples/example-with-ipfs.csv
  apps/dashboard/public/assets/examples/example-with-maps.csv
  apps/dashboard/public/assets/examples/example.csv
  apps/dashboard/src/@/components/batch-upload/batch-lazy-mint.tsx
  apps/dashboard/src/@/components/batch-upload/batch-table.tsx
  apps/dashboard/src/@/components/batch-upload/lazy-mint-form/select-option.tsx
  apps/dashboard/src/@/components/batch-upload/upload-step.tsx
  apps/dashboard/src/@/components/blocks/FileInput.tsx
  apps/dashboard/src/@/components/blocks/file-preview.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/batch-lazy-mint-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_common/download-file-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/launch/launch-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/upload-nfts/batch-upload/batch-upload-nfts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
Labels: dashboard

UI tweaks
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_common/SocialUrls.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-airdrop.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-distribution.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/token-info/token-info-fieldset.tsx
Labels: dashboard

Dashboard: Migrate Various forms in contract pages from chakra to tailwind (#7690)
  apps/dashboard/src/@/components/contracts/properties.shared.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/update-metadata-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/mint-form.tsx
Labels: dashboard

Add custom amount input to credit balance section
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/billing/components/credit-balance-section.client.tsx
Labels: dashboard

Add custom amount input to credit balance section (#7697)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/billing/components/credit-balance-section.client.tsx
Labels: dashboard

Add pagination, search, and loading state to AllSupportedWallets component
  apps/portal/src/components/others/AllSupportedWallets.tsx
Labels: portal

Add `gateway` to possible usage sources
  .changeset/tasty-ducks-say.md
  packages/service-utils/src/core/usageV2.ts
Labels: packages

Add `gateway` to possible usage sources (#7700)
  .changeset/tasty-ducks-say.md
  packages/service-utils/src/core/usageV2.ts
Labels: packages

Version Packages (#7701)
  .changeset/tasty-ducks-say.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

feat: new payments overview ui
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/AdvancedSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/FeatureCard.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
Labels: dashboard

[Dashboard] Feature: New Payments Overview UI (#7702)
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/AdvancedSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/FeatureCard.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
Labels: dashboard

feat: cleanup tables and remove badges
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentsTableRow.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/format.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/webhooks.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/loading.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/page.tsx
Labels: dashboard

[Docs] Update API endpoints and add frontend/backend examples
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/ai/layout.tsx
  apps/portal/src/app/ai/llm-txt/page.mdx
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/contracts/events/page.mdx
  apps/portal/src/app/contracts/extensions/page.tsx
  apps/portal/src/app/contracts/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
  apps/portal/src/app/contracts/transactions/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/payments/fees/assets/fee-dash.png
  apps/portal/src/app/payments/fees/page.mdx
  apps/portal/src/app/payments/fund/page.mdx
  apps/portal/src/app/payments/onramp-providers/page.mdx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/transactions/page.mdx
  apps/portal/src/app/tokens/page.mdx
  apps/portal/src/app/transactions/distribute-tokens/page.mdx
  apps/portal/src/app/transactions/monitor/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/session-keys/page.mdx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/app/transactions/sponsor/page.mdx
  apps/portal/src/app/wallets/get-users/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  apps/portal/src/components/others/Sidebar.tsx
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
Labels: packages, sdk, portal

[SDK] Fix ecosystem wallet connection with default chains
  .changeset/slimy-pigs-rest.md
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Labels: packages, sdk

Dashboard: Migrate /tokens contract page from chakra to tailwind (#7695)
  apps/dashboard/src/@/components/batch-upload/upload-step.tsx
  apps/dashboard/src/@/components/blocks/code/downloadable-code.tsx
  apps/dashboard/src/@/components/blocks/download-file-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/airdrop-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/ContractTokensPage.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/ContractTokensPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-csv-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-upload.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/burn-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/claim-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/mint-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/transfer-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/shared-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/upload-nfts/batch-upload/batch-upload-instructions.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-airdrop.tsx
Labels: dashboard

Dashboard: Migrate Explorer components from chakra to tailwind (#7707)
  apps/dashboard/src/@/components/blocks/FormFieldSetup.tsx
  apps/dashboard/src/@/components/blocks/code/code-segment.client.tsx
  apps/dashboard/src/@/components/contracts/functions/contract-function-comment.tsx
  apps/dashboard/src/@/components/contracts/functions/contract-function.tsx
  apps/dashboard/src/@/components/contracts/functions/contract-functions.tsx
  apps/dashboard/src/@/components/contracts/functions/interactive-abi-function.tsx
  apps/dashboard/src/@/components/contracts/published-contract/index.tsx
  apps/dashboard/src/@/components/solidity-inputs/bool-input.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/explorer/ContractExplorerPage.tsx
Labels: dashboard

Dashboard: Migrate Published contract > code tab from chakra to tailwind (#7704)
  apps/dashboard/src/@/components/blocks/code/code-segment.client.tsx
  apps/dashboard/src/@/components/contracts/code-overview.tsx
Labels: dashboard

[SDK] Fix ecosystem wallet connection with default chains (#7708)
  .changeset/slimy-pigs-rest.md
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Labels: packages, sdk

[Docs] Update API endpoints and add frontend/backend examples (#7692)
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/ai/layout.tsx
  apps/portal/src/app/ai/llm-txt/page.mdx
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/contracts/events/page.mdx
  apps/portal/src/app/contracts/extensions/page.tsx
  apps/portal/src/app/contracts/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
  apps/portal/src/app/contracts/transactions/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/payments/fees/assets/fee-dash.png
  apps/portal/src/app/payments/fees/page.mdx
  apps/portal/src/app/payments/fund/page.mdx
  apps/portal/src/app/payments/onramp-providers/page.mdx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/transactions/page.mdx
  apps/portal/src/app/tokens/page.mdx
  apps/portal/src/app/transactions/distribute-tokens/page.mdx
  apps/portal/src/app/transactions/monitor/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/session-keys/page.mdx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/app/transactions/sponsor/page.mdx
  apps/portal/src/app/wallets/get-users/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  apps/portal/src/components/others/Sidebar.tsx
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
Labels: packages, sdk, portal

Update inishg
  .changeset/cyan-facts-smell.md
  .changeset/tidy-dogs-try.md
  packages/insight/biome.json
  packages/insight/openapi-ts.config.ts
  packages/insight/package.json
  packages/insight/src/client/client.gen.ts
  packages/insight/src/client/client/client.ts
  packages/insight/src/client/client/index.ts
  packages/insight/src/client/client/types.ts
  packages/insight/src/client/client/utils.ts
  packages/insight/src/client/core/auth.ts
  packages/insight/src/client/core/bodySerializer.ts
  packages/insight/src/client/core/params.ts
  packages/insight/src/client/core/pathSerializer.ts
  packages/insight/src/client/core/types.ts
  packages/insight/src/client/sdk.gen.ts
  packages/insight/src/client/types.gen.ts
  packages/insight/src/configure.ts
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getOwnedNFTs.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/insight/get-tokens.ts
Labels: packages, sdk

fixes
  apps/portal/src/components/others/AllSupportedWallets.tsx
Labels: portal

fix
  apps/portal/src/components/others/AllSupportedWallets.tsx
Labels: portal

[Docs] Add search and pagination to wallet list (#7703)
  apps/portal/src/components/others/AllSupportedWallets.tsx
Labels: portal

Fix showQrModal option not respected on desktop web
  .changeset/social-dogs-bet.md
  apps/dashboard/package.json
  apps/playground-web/src/app/wallets/sign-in/headless/page.tsx
  apps/playground-web/src/components/sign-in/hooks.tsx
  apps/playground-web/src/components/sign-in/modal.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/react/core/hooks/wallets/useConnect.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/wallet-connect/qr-overlay.ts
  packages/thirdweb/src/wallets/wallet-connect/types.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal

[SDK] Fix showQrModal option not respected on desktop web (#7711)
  .changeset/social-dogs-bet.md
  apps/dashboard/package.json
  apps/playground-web/src/app/wallets/sign-in/headless/page.tsx
  apps/playground-web/src/components/sign-in/hooks.tsx
  apps/playground-web/src/components/sign-in/modal.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/react/core/hooks/wallets/useConnect.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/wallet-connect/qr-overlay.ts
  packages/thirdweb/src/wallets/wallet-connect/types.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal

Version Packages (#7709)
  .changeset/slimy-pigs-rest.md
  .changeset/social-dogs-bet.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Dashboard: Update outdated Portal links, Portal redirect cleanup (#7699)
  apps/dashboard/src/@/components/contracts/code-overview.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/create/EcosystemCreatePage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/create/components/client/create-ecosystem-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/AAFooterSection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/factories/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/settings/PayConfig.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/_components/footer.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/_components/header.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/settings/components/index.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/EmptyState.tsx
  apps/dashboard/src/app/bridge/page.tsx
  apps/portal/redirects.mjs
Labels: dashboard, portal

Dashboard: Migrate contract deployment UI from chakra to tailwind (#7712)
  apps/dashboard/src/@/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/@/components/contract-components/contract-deploy-form/modular-contract-default-modules-fieldset.tsx
  apps/dashboard/src/@/components/solidity-inputs/button.tsx
  apps/dashboard/src/chakra/button.tsx
Labels: dashboard

Dashboard: Migrate publish contract components from chakra to tailwind (#7713)
  apps/dashboard/package.json
  apps/dashboard/src/@/components/contract-components/contract-publish-form/abi-selector.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/contract-params-fieldset.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/custom-factory.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/default-factory.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/external-links-fieldset.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/external-links-input.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/factory-fieldset.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/impl-params-fieldset.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/index.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/landing-fieldset.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/networks-fieldset.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/ref-contract-impl-input/ref-input-impl-fieldset.tsx
  pnpm-lock.yaml
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
