Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

chore: Add jittered retry on auth call (#6524)
  packages/service-utils/src/core/api.ts
Labels: packages

refactor(portal): update wallet types introduction with improved formatting and content
  apps/portal/src/app/connect/wallet/get-started/page.mdx
Labels: portal

final revisions to wallet get started
  apps/portal/src/app/connect/wallet/get-started/page.mdx
Labels: portal

quick get started docs fixes per Jem's revisions (#6525)
  apps/portal/src/app/connect/wallet/get-started/page.mdx
Labels: portal

Update @mobile-wallet-protocol/client to 1.0.0
  .changeset/evil-cases-read.md
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/coinbase/coinbase-mobile.ts
  pnpm-lock.yaml
Labels: packages, sdk

[Service-Utils] feat: Add engine-cloud service definition
  .changeset/sour-adults-open.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/services.ts
Labels: packages

[SDK] Update @mobile-wallet-protocol/client to 1.0.0 (#6527)
  .changeset/evil-cases-read.md
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/coinbase/coinbase-mobile.ts
  pnpm-lock.yaml
Labels: packages, sdk

[Service-Utils] feat: Add engine-cloud service definition (#6526)
  .changeset/sour-adults-open.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/services.ts
Labels: packages

Version Packages (#6528)
  .changeset/evil-cases-read.md
  .changeset/sour-adults-open.md
  packages/react-native-adapter/CHANGELOG.md
  packages/react-native-adapter/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Revert "[Service-Utils] feat: Add engine-cloud service definition (#6526)"
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/services.ts
Labels: packages

[Dashboard] Disable engineCloud service by default
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
Labels: dashboard

Reapply "[Service-Utils] feat: Add engine-cloud service definition (#6526)"
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/services.ts
Labels: dashboard, packages

[Dashboard] Disable engineCloud service by default (#6530)
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
Labels: dashboard

Handle default extensions (#6497)
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  packages/thirdweb/src/contract/deployment/deploy-dynamic.test.ts
  packages/thirdweb/src/contract/deployment/utils/bootstrap.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-marketplace.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.test.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
Labels: dashboard, packages, sdk

initial draft
  apps/portal/src/app/nebula/mcp-server/get-started/page.mdx
  apps/portal/src/app/nebula/mcp-server/integrations/claude-desktop/page.mdx
  apps/portal/src/app/nebula/mcp-server/integrations/mcp-clients/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
  apps/portal/src/app/nebula/tools/page.mdx
  apps/portal/src/app/nebula/tools/python-sdk/page.mdx
  apps/portal/src/app/page.tsx
Labels: portal

[Playground] Refactor Universal Bridge sidebar links and update order
  apps/playground-web/src/app/navLinks.ts
Labels: playground

[TOOL-3757] Dashboard: Prefill last used project in contract deployment page (#6534)
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/SaveLastUsedProject.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
Labels: dashboard

[TOOL-3682] Dashboard: Change deploy contract status for in-app wallet (#6533)
  apps/dashboard/src/components/contract-components/contract-deploy-form/deploy-context-modal.tsx
Labels: dashboard

Reapply "[Service-Utils] feat: Add engine-cloud service definition (#6526)"
  apps/playground-web/public/ub.png
  apps/playground-web/src/app/connect/pay/backend/layout.tsx
  apps/playground-web/src/app/connect/pay/backend/page.tsx
  apps/playground-web/src/app/connect/pay/backend/reference/page.tsx
  apps/playground-web/src/app/connect/pay/backend/utils.ts
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/playground-web/src/app/insight/[blueprint_slug]/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/lib/client.ts
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/services.ts
  packages/thirdweb/scripts/typedoc.mjs
  packages/thirdweb/src/extensions/thirdweb/write/publish.ts
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: playground, packages, sdk, portal

[Playground] Refactor Universal Bridge sidebar links and update order (#6543)
  apps/playground-web/public/ub.png
  apps/playground-web/src/app/connect/pay/backend/layout.tsx
  apps/playground-web/src/app/connect/pay/backend/page.tsx
  apps/playground-web/src/app/connect/pay/backend/reference/page.tsx
  apps/playground-web/src/app/connect/pay/backend/utils.ts
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/playground-web/src/app/insight/[blueprint_slug]/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/lib/client.ts
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  packages/thirdweb/scripts/typedoc.mjs
  packages/thirdweb/src/extensions/thirdweb/write/publish.ts
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: playground, packages, sdk, portal

[Bridge] Skip tests without TW_SECRET_KEY environment variable
  .changeset/ready-bobcats-tan.md
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Status.test.ts
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: packages, sdk

[Bridge] Skip tests without TW_SECRET_KEY environment variable (#6545)
  .changeset/ready-bobcats-tan.md
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Status.test.ts
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: packages, sdk

[Portal] AI updated docs (#6536)
  apps/portal/src/app/nebula/mcp-server/get-started/page.mdx
  apps/portal/src/app/nebula/mcp-server/integrations/claude-desktop/page.mdx
  apps/portal/src/app/nebula/mcp-server/integrations/mcp-clients/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
  apps/portal/src/app/nebula/tools/page.mdx
  apps/portal/src/app/nebula/tools/python-sdk/page.mdx
  apps/portal/src/app/page.tsx
Labels: portal

Update README.md
  README.md
Labels: none

Portal: Fix lint error (#6552)
  apps/portal/src/app/nebula/sidebar.tsx
Labels: portal

fixed broken links (#6553)
  apps/portal/src/app/nebula/faqs/page.mdx
  apps/portal/src/app/nebula/mcp-server/integrations/claude-desktop/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
  apps/portal/src/app/nebula/tools/python-sdk/installation/page.mdx
Labels: portal

[TOOL-3786] Portal: Improve llms.txt, llms-full.txt (#6532)
  apps/portal/src/app/api/search/extraction/index.ts
  apps/portal/src/app/connect/account-abstraction/batching-transactions/page.mdx
  apps/portal/src/app/connect/page.mdx
  apps/portal/src/app/react/v5/account-abstraction/batching-transactions/page.mdx
  apps/portal/src/app/typescript/v5/account-abstraction/batching-transactions/page.mdx
Labels: portal

[TOOL-3689] Dashboard: Keep switch in disabled state if field value is empty in Sponsorship rules form (#6535)
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
Labels: dashboard

[TOOL-3735] Fix minor typos (#6531)
  apps/dashboard/src/components/pay/PayConfig.tsx
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/app/connect/sign-in/embed/page.tsx
  apps/playground-web/src/app/connect/sign-in/headless/page.tsx
Labels: dashboard, playground

[SDK] Functions to manage extensions on a dynamic contract (#6550)
  .changeset/puny-planes-study.md
  packages/thirdweb/scripts/generate/abis/dynamic-contracts/IExtensionManager.json
  packages/thirdweb/src/exports/extensions/dynamic-contracts.ts
  packages/thirdweb/src/extensions/dynamic-contracts/__generated__/IExtensionManager/write/addExtension.ts
  packages/thirdweb/src/extensions/dynamic-contracts/__generated__/IExtensionManager/write/removeExtension.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/installPublishedExtension.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/installPublishedExtension.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/uninstallExtension.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/uninstallExtension.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
Labels: packages, sdk

[Playground] Rename "Fund Wallet" to "Buy Crypto" across pay components
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/app/connect/pay/fund-wallet/page.tsx
  apps/playground-web/src/app/navLinks.ts
Labels: playground

[Playground] Rename "Fund Wallet" to "Buy Crypto" across pay components (#6555)
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/app/connect/pay/fund-wallet/page.tsx
  apps/playground-web/src/app/navLinks.ts
Labels: playground

chore: make req optional when calling usage from cloudflare
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

chore: make req optional when calling usage from cloudflare (#6556)
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

chore: changset for make req optional when calling usage from cloudflare
  .changeset/eager-parents-drive.md
Labels: none

chore: changset for make req optional when calling usage from cloudflare (#6557)
  .changeset/eager-parents-drive.md
Labels: none

[Portal] Redesign documentation homepage with SDK cards and product icons
  apps/portal/src/app/page.tsx
  apps/portal/src/components/Document/SDKCard.tsx
  apps/portal/src/icons/products/BridgeIcon.tsx
  apps/portal/src/icons/products/ConnectIcon.tsx
  apps/portal/src/icons/products/ContractsIcon.tsx
  apps/portal/src/icons/products/EngineIcon.tsx
  apps/portal/src/icons/products/InsightIcon.tsx
  apps/portal/src/icons/products/NebulaIcon.tsx
  apps/portal/src/icons/products/PlaygroundIcon.tsx
Labels: portal

[Portal] Redesign documentation homepage with SDK cards and product icons (#6558)
  apps/portal/src/app/page.tsx
  apps/portal/src/components/Document/SDKCard.tsx
  apps/portal/src/icons/products/BridgeIcon.tsx
  apps/portal/src/icons/products/ConnectIcon.tsx
  apps/portal/src/icons/products/ContractsIcon.tsx
  apps/portal/src/icons/products/EngineIcon.tsx
  apps/portal/src/icons/products/InsightIcon.tsx
  apps/portal/src/icons/products/NebulaIcon.tsx
  apps/portal/src/icons/products/PlaygroundIcon.tsx
Labels: portal

[TypeDoc] Remove Gist update from workflow
  .github/workflows/typedoc.yml
Labels: none

[TypeDoc] Remove Gist update from workflow (#6559)
  .github/workflows/typedoc.yml
Labels: none

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
