Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

fix: upgrade @coinbase/wallet-sdk from 4.3.0 to 4.3.2 (#138)
  packages/thirdweb/package.json
Labels: packages, sdk

fix: apps/playground-web/package.json to reduce vulnerabilities (#148)
  apps/playground-web/package.json
Labels: playground

cleanup
  .gitignore
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/key-management.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

[NEB-219] Nebula: Update theming (#6885)
  apps/dashboard/src/@/components/blocks/multi-select.tsx
  apps/dashboard/src/@/components/ui/button.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/icons/NebulaIcon.tsx
  apps/dashboard/src/app/nebula-app/layout.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
  apps/dashboard/src/app/nebula-app/nebula-global.css
  apps/dashboard/src/components/ClientOnly/ClientOnly.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/global.css
  apps/dashboard/tailwind.config.js
Labels: dashboard

[NEB-206] Nebula: UI element position tweaks in chat textarea (#6886)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

FTUX
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/analytics/analytics-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/analytics/summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/key-management.tsx
  apps/dashboard/src/components/dashboard/StepsCard.tsx
Labels: dashboard

lint
  packages/vault-sdk/package.json
  pnpm-lock.yaml
Labels: packages

misc
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/server-wallets/components/try-it-out.tsx
Labels: dashboard

fix: apps/portal/package.json to reduce vulnerabilities (#150)
  apps/portal/package.json
Labels: portal

fix: apps/wallet-ui/package.json to reduce vulnerabilities (#149)
  apps/wallet-ui/package.json
Labels: Ecosystem Portal

show access token for FTUX flow
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/create-vault-account.client.tsx
Labels: dashboard

Nebula: Add radial gradient on top (#6888)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
Labels: dashboard

Portal: Commit llms txt files, add logs in postbuild scripts (#6890)
  apps/portal/.gitignore
  apps/portal/public/llms-full.txt
  apps/portal/public/llms.txt
  apps/portal/scripts/extractLLMData.ts
  apps/portal/scripts/extractSearchData.ts
Labels: portal

[PayEmbed] Change "pay with a debit card" to "pay with card"
  .changeset/crazy-bees-report.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

[SDK] Change "pay with a debit card" to "pay with card" (#6891)
  .changeset/crazy-bees-report.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

Version Packages (#6873)
  .changeset/crazy-bees-report.md
  .changeset/fruity-suits-relax.md
  .changeset/grumpy-carpets-sniff.md
  .changeset/tangy-bugs-feel.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

banner update
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/engine/(general)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/analytics/ftux.client.tsx
Labels: dashboard

addressed feedback
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/explorer/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

polish
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/rotate-admin-key.client.tsx
Labels: dashboard

polish
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/server-wallets/wallet-table/wallet-table-ui.client.tsx
Labels: dashboard

render full chain in network selector
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
Labels: dashboard

lint
  apps/dashboard/knip.json
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/engine/(general)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/vault/components/key-management.tsx
Labels: dashboard

fix build
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/access-tokens/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/admins/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/alerts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/configuration/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/contract-subscriptions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/explorer/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/metrics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/relayers/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/wallet-credentials/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/webhooks/page.tsx
Labels: dashboard

[TOOL-4294] Nebula: Improved Thinking message UI (#6889)
  apps/dashboard/src/@/components/ui/text-shimmer.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Reasoning/Reasoning.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Reasoning/Reasoning.tsx
  apps/dashboard/src/app/nebula-app/nebula-global.css
  apps/dashboard/tailwind.config.js
Labels: dashboard

remove otp from insight docs (#6896)
  apps/portal/src/app/insight/webhooks/managing-webhooks/page.mdx
Labels: portal

Nebula: Set Beta badge in sidebar (#6897)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
Labels: dashboard

Nebula: Fix nebula auto connect (#6899)
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaConnectButton.tsx
Labels: dashboard

feat: upgrade @typescript-eslint/parser from 7.14.1 to 8.29.1 (#153)
  apps/wallet-ui/package.json
Labels: Ecosystem Portal

feat: upgrade tailwindcss from 3.4.17 to 4.1.3 (#154)
  apps/wallet-ui/package.json
Labels: Ecosystem Portal

fix links
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/analytics-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/wallet-table/wallet-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/tx/[id]/page.tsx
Labels: dashboard

basic tx detail UI
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

lint
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

[Dashboard] Add coding standards and best practices documentation
  .cursor/rules/dashboard.mdc
Labels: none

Create tender-tigers-smash.md (#157)
  .changeset/tender-tigers-smash.md
Labels: none

Create late-pugs-stare.md (#158)
  .changeset/late-pugs-stare.md
Labels: none

Create nextjs.yml (#160)
  .github/workflows/nextjs.yml
Labels: none

Create tough-buckets-know.md (#161)
  .changeset/tough-buckets-know.md
Labels: none

Update examplePrompts.ts
  apps/dashboard/src/app/nebula-app/(app)/data/examplePrompts.ts
Labels: dashboard

Create fluffy-rats-jog.md
  .changeset/fluffy-rats-jog.md
Labels: none

Create static.yml
  .github/workflows/static.yml
Labels: none
