Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[TOOL-3950] Dashboard: link to /explore page for contracts card on chain page (#6637)
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/products.ts
Labels: dashboard

Dashboard: Fix timestamp ordering in various charts, migrate them to use ThirdwebBarChart (#6636)
  apps/dashboard/src/@/components/blocks/charts/bar-chart.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/InAppWalletUsersChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/SponsoredTransactionsChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.stories.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/storyUtils.ts
Labels: dashboard

Version Packages (#6620)
  .changeset/curvy-paths-burn.md
  .changeset/funny-months-smell.md
  .changeset/good-corners-stare.md
  .changeset/new-spoons-lick.md
  .changeset/silver-doors-change.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Update Next.js to 15.2.4 and other dependencies
  .changeset/eager-buttons-shave.md
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Update Next.js to 15.2.4 and other dependencies (#6632)
  .changeset/eager-buttons-shave.md
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[TOOL-3337] Dashboard: Add Transactions pages in project layout
  apps/dashboard/src/@/lib/time.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/filter.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/getTransactionAnalyticsFilter.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/summary.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/explorer/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/components/analytics/date-range-selector.tsx
Labels: dashboard

Fix ethers6 provider override and update ZKSYNC_PUBLISHED_PRIVATE_KEY
  .changeset/solid-aliens-eat.md
  packages/thirdweb/src/adapters/ethers6.ts
  packages/thirdweb/src/utils/any-evm/zksync/constants.ts
Labels: packages, sdk

[SDK] Fix ethers6 provider override (#6640)
  .changeset/solid-aliens-eat.md
  packages/thirdweb/src/adapters/ethers6.ts
  packages/thirdweb/src/utils/any-evm/zksync/constants.ts
Labels: packages, sdk

Version Packages (#6638)
  .changeset/eager-buttons-shave.md
  .changeset/solid-aliens-eat.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Add team capabilities to service-utils
  .changeset/loose-comics-serve.md
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

Update deploy config
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  packages/thirdweb/src/extensions/prebuilts/deploy-marketplace.ts
Labels: dashboard, packages, sdk

changeset
  .changeset/chilly-bats-cheat.md
Labels: none

fix
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
Labels: dashboard

fix disable condition
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
Labels: dashboard

Update deploy config (#6643)
  .changeset/chilly-bats-cheat.md
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  packages/thirdweb/src/extensions/prebuilts/deploy-marketplace.ts
Labels: dashboard, packages, sdk

add storage totalFileSizeBytesLimit
  packages/service-utils/src/core/api.ts
Labels: packages

add to stub
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

Add team capabilities to service-utils (#6641)
  .changeset/loose-comics-serve.md
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/mocks.ts
Labels: dashboard, packages

Adding Banners
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/COTI_Banner.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/COTI_CTA.jpg
Labels: dashboard

Update utils.ts
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

export monadTestnet from thirdweb/chains
  packages/thirdweb/src/chains/chain-definitions/monad-testnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

Update utils.ts
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

[SDK] Feature: Export monadTestnet from thirdweb/chains (#6645)
  packages/thirdweb/src/chains/chain-definitions/monad-testnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

Fix newline at end of monad-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/monad-testnet.ts
Labels: packages, sdk

Fix newline at end of monad-testnet.ts (#6646)
  packages/thirdweb/src/chains/chain-definitions/monad-testnet.ts
Labels: packages, sdk

Version Packages (#6644)
  .changeset/chilly-bats-cheat.md
  .changeset/loose-comics-serve.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Dashboard: Fix sitemap.xml and other files on public folder not loading (#6647)
  apps/dashboard/src/middleware.ts
Labels: dashboard

[TOOL-3876] Dashboard: Merge Framer sitemap.xml to dashboard sitemap.xml (#6648)
  apps/dashboard/knip.json
  apps/dashboard/next-sitemap.config.js
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: dashboard

[TOOL-3954] Dashboard: Add tracking in contracts page (#6651)
  apps/dashboard/src/app/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployViaCLIOrImportCard.tsx
Labels: dashboard

[TOOL-3564] Playground: Select multiple chains in insight playground (#6652)
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/playground-web/src/components/blocks/NetworkSelectors.tsx
  apps/playground-web/src/components/blocks/multi-select.tsx
  apps/playground-web/src/lib/useShowMore.ts
Labels: playground

Ub docs 2 (#6653)
  apps/portal/src/app/connect/pay/faqs/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/react/v5/pay/fund-wallets/page.mdx
  apps/portal/src/app/react/v5/pay/transaction/page.mdx
  packages/thirdweb/CHANGELOG.md
Labels: packages, sdk, portal

Insight Playground: Show error when no chains selected (#6654)
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: playground

[SDK/Dashboard] fix: ERC1155 single phase claim conditions (#6655)
  .changeset/blue-geese-refuse.md
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/hooks.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/reset-claim-eligibility.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/claim-conditions/ClaimConditions.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/claim-conditions/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/useNftDrawerTabs.tsx
  packages/thirdweb/scripts/generate/abis/erc1155/IDropSinglePhase1155.json
  packages/thirdweb/src/exports/extensions/erc1155.ts
  packages/thirdweb/src/extensions/erc1155/__generated__/IDropSinglePhase1155/read/claimCondition.ts
  packages/thirdweb/src/extensions/erc1155/customDrop1155.test.ts
  packages/thirdweb/src/extensions/erc1155/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc1155/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/utils/extensions/drops/get-claim-params.ts
Labels: dashboard, packages, sdk

docs(account-abstraction): Add missing import
  apps/portal/src/app/react/v5/account-abstraction/get-started/page.mdx
Labels: portal

[Docs] Fix: Add missing import (#6657)
  apps/portal/src/app/react/v5/account-abstraction/get-started/page.mdx
Labels: portal

update
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Add team ID to ecosystem API requests
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/add-partner/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/EcosystemPermissionsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/integration-permissions-toggle.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/auth-options-section.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/ecosystem-partners-section.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/integration-permissions-section.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/partners-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/fetchPartnerDetails.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/fetchPartners.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-add-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-delete-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-update-ecosystem.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-update-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/partners/[partner_id]/edit/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/hooks/use-partners.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/page.tsx
Labels: dashboard

Dashboard: Team invoices page style tweaks (#6660)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/invoices/components/billing-history.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/invoices/page.tsx
Labels: dashboard

Dashboard: Remove chakra usage from contract analytics page, style tweaks
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.tsx
  apps/dashboard/src/global.css
Labels: dashboard

Dashboard: Migrate contract overview page components to tailwind/shadcn #1
  apps/dashboard/src/@/components/blocks/charts/area-chart.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/NFTCards.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/supply-cards.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/ContractOverviewPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/Analytics.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/BuildYourApp.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/LatestEvents.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/LatestEvents.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/NFTDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/PermissionsTable.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/PermissionsTable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/TokenDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/listing-stats.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/stat-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/ContractTokensPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/supply-layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/supply.tsx
  apps/dashboard/src/components/product-pages/common/nav/data.ts
  apps/dashboard/src/components/product-pages/common/nav/types.ts
  apps/dashboard/src/tw-components/link.tsx
  apps/dashboard/src/tw-components/nft-media.tsx
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
