Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Version Packages (#8433)
  .changeset/sweet-lights-help.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Dashboard] Add x402 fee configuration and disable robots.txt indexing
  .changeset/tidy-paws-feel.md
  apps/dashboard/src/@/api/x402/config.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/configuration/X402FeeConfig.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/configuration/page.tsx
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

[Dashboard] Add x402 fee configuration (#8434)
  .changeset/tidy-paws-feel.md
  apps/dashboard/src/@/api/x402/config.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/configuration/X402FeeConfig.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/configuration/page.tsx
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

[PRO-120] Dashboard: Update Explore page (#8437)
  apps/dashboard/src/@/components/contracts/contract-card/contract-card.tsx
  apps/dashboard/src/app/(app)/(dashboard)/explore/[category]/opengraph-image.png
  apps/dashboard/src/app/(app)/(dashboard)/explore/[category]/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/explore/components/contract-row/index.tsx
  apps/dashboard/src/app/(app)/(dashboard)/explore/components/token-cards.tsx
  apps/dashboard/src/app/(app)/(dashboard)/explore/components/upsells/deploy-your-own.tsx
  apps/dashboard/src/app/(app)/(dashboard)/explore/components/upsells/publish-submit.tsx
  apps/dashboard/src/app/(app)/(dashboard)/explore/data.ts
  apps/dashboard/src/app/(app)/(dashboard)/explore/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/explore/tokens-section.tsx
Labels: dashboard

[PRO-121] Dashboard: show all token contracts in tokens tab, conditionally show contracts tab in sidebar (#8436)
  apps/dashboard/package.json
  apps/dashboard/src/@/actions/revalidate.ts
  apps/dashboard/src/@/api/project/cache-tag.ts
  apps/dashboard/src/@/api/project/getSortedDeployedContracts.tsx
  apps/dashboard/src/@/components/contract-components/tables/contract-table.stories.tsx
  apps/dashboard/src/@/components/contract-components/tables/contract-table.tsx
  apps/dashboard/src/@/components/contracts/import-contract/modal.tsx
  apps/dashboard/src/@/utils/supportedERCs.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageMetadataSetup.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getEmbedTypeToShow.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/newPublicPage.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/shared-layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/factories/AccountFactories/your-factories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/DeployViaCLIOrImportCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/DeployedContractsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/import-contract-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/cards.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/page.tsx
  pnpm-lock.yaml
Labels: dashboard

[PRO-106] Dashboard: Update Bridge stats (#8430)
  apps/dashboard/src/app/bridge/components/bridge-page.tsx
  apps/dashboard/src/app/bridge/data.ts
Labels: dashboard

Link to team billing page in faucet button on free plan (#8429)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
Labels: dashboard

Dashboard: Add Indexer service filter in chainlist (#8439)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/products.ts
Labels: dashboard

Dashboard: Update payment links (#8440)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
Labels: dashboard

General doc improvements + gaming sdk snippets (#8441)
  apps/portal/src/app/page.tsx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/app/wallets/auth/page.mdx
  apps/portal/src/app/wallets/custom-auth/page.mdx
  apps/portal/src/app/wallets/ecosystem/set-up/page.mdx
  apps/portal/src/app/wallets/link-profiles/page.mdx
  apps/portal/src/app/wallets/monitor/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/app/wallets/server/send-transactions/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/app/wallets/sponsor-gas/page.mdx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
Labels: portal

General doc improvements + gaming sdk snippets (#8441)
  apps/portal/src/app/page.tsx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/app/wallets/auth/page.mdx
  apps/portal/src/app/wallets/custom-auth/page.mdx
  apps/portal/src/app/wallets/ecosystem/set-up/page.mdx
  apps/portal/src/app/wallets/link-profiles/page.mdx
  apps/portal/src/app/wallets/monitor/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/app/wallets/server/send-transactions/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/app/wallets/sponsor-gas/page.mdx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
Labels: portal

Add gas metrics chart to account abstraction analytics
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/AccountAbstractionAnalytics/GasMetricsChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/aa-analytics.tsx
Labels: dashboard

Unify sponsored transactions into GasMetricsChartCard
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/AccountAbstractionAnalytics/GasMetricsChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/aa-analytics.tsx
Labels: dashboard

storybook fix
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/AccountAbstractionAnalytics/storyUtils.ts
Labels: dashboard

Add gas metrics chart to account abstraction analytics (#8442)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/AccountAbstractionAnalytics/GasMetricsChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/AccountAbstractionAnalytics/storyUtils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/aa-analytics.tsx
Labels: dashboard

[SDK] Add fundWalletLink prop to x402 responses
  .changeset/real-bugs-boil.md
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/types.ts
  packages/thirdweb/src/x402/verify-payment.ts
Labels: packages, sdk

[SDK] Add fundWalletLink prop to x402 responses (#8443)
  .changeset/real-bugs-boil.md
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/types.ts
  packages/thirdweb/src/x402/verify-payment.ts
Labels: packages, sdk

Version Packages (#8435)
  .changeset/real-bugs-boil.md
  .changeset/tidy-paws-feel.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Port gas sponsorship analytics to Team usage tab (#8445)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/account-abstraction/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/AccountAbstractionAnalytics/AccountAbstractionSummary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/aa-analytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/sponsored-gas/page.tsx
Labels: dashboard

[SDK] Add useFetchWithPayment React hook for x402 payment handling
  .changeset/wet-maps-play.md
  apps/playground-web/src/app/x402/components/X402RightSection.tsx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/wallets/server/send-transactions/page.mdx
  apps/portal/src/app/x402/client/page.mdx
  apps/portal/src/app/x402/page.mdx
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/x402/useFetchWithPaymentCore.ts
  packages/thirdweb/src/react/native/hooks/x402/useFetchWithPayment.ts
  packages/thirdweb/src/react/web/hooks/x402/useFetchWithPayment.tsx
  packages/thirdweb/src/react/web/ui/components/basic.tsx
  packages/thirdweb/src/react/web/ui/x402/PaymentErrorModal.tsx
  packages/thirdweb/src/react/web/ui/x402/SignInRequiredModal.tsx
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/verify-payment.ts
  packages/thirdweb/tsdoc.json
Labels: playground, packages, sdk, portal

[SDK] Add useFetchWithPayment React hook for x402 payment handling (#8444)
  .changeset/wet-maps-play.md
  apps/playground-web/src/app/x402/components/X402RightSection.tsx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/wallets/server/send-transactions/page.mdx
  apps/portal/src/app/x402/client/page.mdx
  apps/portal/src/app/x402/page.mdx
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/x402/useFetchWithPaymentCore.ts
  packages/thirdweb/src/react/native/hooks/x402/useFetchWithPayment.ts
  packages/thirdweb/src/react/web/hooks/x402/useFetchWithPayment.tsx
  packages/thirdweb/src/react/web/ui/components/basic.tsx
  packages/thirdweb/src/react/web/ui/x402/PaymentErrorModal.tsx
  packages/thirdweb/src/react/web/ui/x402/SignInRequiredModal.tsx
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/verify-payment.ts
  packages/thirdweb/tsdoc.json
Labels: playground, packages, sdk, portal

[Wallet] Skip chain switching for Coinbase Wallet if already on correct chain
  .changeset/vast-nails-wash.md
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
Labels: packages, sdk

[SDK] Skip chain switching for Coinbase Wallet if already on correct chain (#8453)
  .changeset/vast-nails-wash.md
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
Labels: packages, sdk

Version Packages (#8452)
  .changeset/vast-nails-wash.md
  .changeset/wet-maps-play.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Add payment scheme and improve type documentation for x402
  .changeset/chilly-taxis-search.md
  apps/portal/src/app/x402/page.mdx
  apps/portal/src/app/x402/server/page.mdx
  apps/portal/src/components/Document/Cards/GithubTemplateCard.tsx
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/types.ts
  packages/thirdweb/src/x402/verify-payment.ts
Labels: packages, sdk, portal

[SDK] Add payment scheme and improve type documentation for x402 (#8457)
  .changeset/chilly-taxis-search.md
  apps/portal/src/app/x402/page.mdx
  apps/portal/src/app/x402/server/page.mdx
  apps/portal/src/components/Document/Cards/GithubTemplateCard.tsx
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/types.ts
  packages/thirdweb/src/x402/verify-payment.ts
Labels: packages, sdk, portal

[x402] Fix AI model response handling in server example
  apps/portal/src/app/x402/server/page.mdx
Labels: portal

Version Packages (#8458)
  .changeset/chilly-taxis-search.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Add daily revalidation to TypeScript pages (#8456)
  apps/portal/src/app/contracts/extensions/page.tsx
  apps/portal/src/app/contracts/layout.tsx
  apps/portal/src/app/react/v5/[...slug]/page.tsx
  apps/portal/src/app/react/v5/layout.tsx
  apps/portal/src/app/references/typescript/[version]/[[...slug]]/page.tsx
  apps/portal/src/app/typescript/v5/[...slug]/page.tsx
  apps/portal/src/app/typescript/v5/layout.tsx
Labels: portal

Add daily revalidation to TypeScript pages (#8456)
  apps/portal/src/app/contracts/extensions/page.tsx
  apps/portal/src/app/contracts/layout.tsx
  apps/portal/src/app/react/v5/[...slug]/page.tsx
  apps/portal/src/app/react/v5/layout.tsx
  apps/portal/src/app/references/typescript/[version]/[[...slug]]/page.tsx
  apps/portal/src/app/typescript/v5/[...slug]/page.tsx
  apps/portal/src/app/typescript/v5/layout.tsx
Labels: portal

[PRO-127] Dashboard: Move user wallets table to separate tab
  apps/dashboard/src/@/components/in-app-wallet-users-content/user-wallets-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/users/page.tsx
Labels: dashboard

[PRO-129] Dashboard: Remove AA analytics from project overview
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/_components/TotalSponsoredCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
Labels: dashboard

[Docs] Fix AI model response handling in server example (#8459)
  apps/portal/src/app/x402/server/page.mdx
Labels: portal

[SDK] Add Monad chain definition
  .changeset/angry-monkeys-dress.md
  .changeset/moody-camels-hear.md
  packages/thirdweb/src/chains/chain-definitions/monad.ts
  packages/thirdweb/src/exports/chains.ts
  packages/thirdweb/src/react/core/hooks/others/useInvalidateBalances.ts
  packages/thirdweb/src/react/core/hooks/x402/useFetchWithPaymentCore.ts
  packages/thirdweb/src/react/web/hooks/x402/useFetchWithPayment.tsx
  packages/thirdweb/src/react/web/ui/x402/SignInRequiredModal.tsx
Labels: packages, sdk

[SDK] Add Monad chain definition (#8465)
  .changeset/angry-monkeys-dress.md
  .changeset/moody-camels-hear.md
  packages/thirdweb/src/chains/chain-definitions/monad.ts
  packages/thirdweb/src/exports/chains.ts
  packages/thirdweb/src/react/core/hooks/others/useInvalidateBalances.ts
  packages/thirdweb/src/react/core/hooks/x402/useFetchWithPaymentCore.ts
  packages/thirdweb/src/react/web/hooks/x402/useFetchWithPayment.tsx
  packages/thirdweb/src/react/web/ui/x402/SignInRequiredModal.tsx
Labels: packages, sdk

Version Packages (#8466)
  .changeset/angry-monkeys-dress.md
  .changeset/moody-camels-hear.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[PRO-130] Move RPC methods chart from project overview to RPC tab (#8462)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/RpcMethodBarChartCard/RpcMethodBarChartCardUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/rpc/components/MethodsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/rpc/components/RequestsGraph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/rpc/components/RpcAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
Labels: dashboard

[PRO-129] Dashboard: Remove AA analytics from project overview (#8463)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/total-sponsored.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/sponsored-gas/configuration/page.tsx
Labels: dashboard

[PRO-127] Dashboard: Move user wallets table to separate tab (#8460)
  apps/dashboard/src/@/components/in-app-wallet-users-content/user-wallets-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/user-wallets/users/page.tsx
Labels: dashboard

[PRO-137] Add indexer and RPC charts in project overview page (#8464)
  apps/dashboard/src/@/components/blocks/charts/area-chart.tsx
  apps/dashboard/src/@/components/blocks/charts/bar-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/rpc/components/count-graph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/rpc/components/rate-graph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/RpcMethodBarChartCard/RpcMethodBarChartCardUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/indexer/components/InsightAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/indexer/components/RequestsByStatusGraph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/rpc/components/RequestsGraph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/rpc/components/RpcAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
Labels: dashboard

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
