Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

[Dashboard] Change default x402 metric from volume to payments (#8399)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/ChartsSection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/page.tsx
Labels: dashboard

Add date range filtering to transaction analytics
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics-summary.client.tsx
Labels: dashboard

[Dashboard] Add date range filtering to transaction analytics (#8400)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics-summary.client.tsx
Labels: dashboard

[SDK] Update useAuthToken to find auth token for any connected wallet
  .changeset/clean-tools-learn.md
  packages/thirdweb/src/react/core/hooks/wallets/useAuthToken.ts
Labels: packages, sdk

[SDK] Update useAuthToken to find auth token for any connected wallet (#8402)
  .changeset/clean-tools-learn.md
  packages/thirdweb/src/react/core/hooks/wallets/useAuthToken.ts
Labels: packages, sdk

[SDK] Add all connected wallets in onConnect callbacks
  .changeset/fair-mails-divide.md
  apps/playground-web/src/components/in-app-wallet/ecosystem.tsx
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectEmbedProps.ts
  packages/thirdweb/src/react/core/hooks/connection/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
  packages/thirdweb/src/wallets/connection/autoConnect.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.test.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
  packages/thirdweb/src/wallets/manager/connection-manager.test.ts
  packages/thirdweb/src/wallets/manager/index.ts
Labels: playground, packages, sdk

[SDK] Add all connected wallets in onConnect callbacks (#8403)
  .changeset/fair-mails-divide.md
  apps/playground-web/src/components/in-app-wallet/ecosystem.tsx
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectEmbedProps.ts
  packages/thirdweb/src/react/core/hooks/connection/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
  packages/thirdweb/src/wallets/connection/autoConnect.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.test.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
  packages/thirdweb/src/wallets/manager/connection-manager.test.ts
  packages/thirdweb/src/wallets/manager/index.ts
Labels: playground, packages, sdk

Version Packages (#8397)
  .changeset/clean-tools-learn.md
  .changeset/fair-mails-divide.md
  .changeset/mean-pants-beam.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Dashboard: Update announcement banner (#8404)
  apps/dashboard/src/@/components/misc/AnnouncementBanner.tsx
Labels: dashboard

default sort desc for tokens (#8405)
  packages/thirdweb/src/insight/get-tokens.ts
Labels: packages, sdk

[PRO-90] Dashboard: Project > Bridge page changes (#8406)
  apps/dashboard/src/@/components/ui/link-with-copy-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/configuration/PayConfig.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/configuration/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/bridge/view-tx-status.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/FeatureCard.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentsTableRow.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/_components/project-settings-breadcrumb.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/X402SettlementsByChainChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/X402SettlementsByPayerChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/x402/analytics/X402SettlementsByResourceChartCard.tsx
Labels: dashboard

[SDK] Rename otherWallets to allConnectedWallets in onConnect callback (#8407)
  packages/thirdweb/src/wallets/connection/types.ts
Labels: packages, sdk

[SDK] Rename otherWallet to allConnectedWallets in autoConnect callback (#8408)
  .changeset/clear-kiwis-rule.md
  packages/thirdweb/src/wallets/connection/types.ts
Labels: packages, sdk

Revamp wallets docs: add monitoring, sponsorship, and API tabs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/wallets/faq/page.mdx
  apps/portal/src/app/wallets/link-profiles/page.mdx
  apps/portal/src/app/wallets/monitor/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/app/wallets/sponsor-gas/page.mdx
  apps/portal/src/app/wallets/sponsorship-policies/page.mdx
Labels: portal

Update sidebar links and labels across modules
  apps/portal/src/app/ai/sidebar.tsx
  apps/portal/src/app/bridge/sidebar.tsx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/tokens/sidebar.tsx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/app/x402/sidebar.tsx
Labels: portal

consolidate gateway navbar (#8411)
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/indexer/components/InsightAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/indexer/components/InsightAnalyticsFilter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/indexer/components/RequestsByStatusGraph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/indexer/components/TopChainsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/indexer/components/TopEndpointsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/indexer/components/insight-ftux.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/indexer/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/rpc/components/MethodsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/rpc/components/RequestsGraph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/rpc/components/RpcAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/rpc/components/RpcAnalyticsFilter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/rpc/components/RpcFtux.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/gateway/rpc/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/insight-ftux.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
Labels: dashboard

[Dashboard] MoveContracts back to top level sidebar
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
Labels: dashboard

fmt
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
Labels: dashboard

move contracts up
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
Labels: dashboard

[Dashboard] Move Contracts back to top level sidebar (#8412)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
Labels: dashboard

wallets sidebar
  apps/portal/src/app/wallets/ecosystem/reown/assets/add-partner.png
  apps/portal/src/app/wallets/ecosystem/reown/assets/ecosystem-info.png
  apps/portal/src/app/wallets/ecosystem/reown/assets/ecosystem-wallet-permissions.png
  apps/portal/src/app/wallets/ecosystem/reown/page.mdx
  apps/portal/src/app/wallets/ecosystem/set-up/page.mdx
  apps/portal/src/app/wallets/faq/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/security/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
Labels: portal

fix
  apps/portal/src/app/wallets/ecosystem/set-up/assets/add-partner.png
  apps/portal/src/app/wallets/ecosystem/set-up/assets/ecosystem-info.png
  apps/portal/src/app/wallets/ecosystem/set-up/assets/ecosystem-wallet-permissions.png
Labels: portal

Fix resolve implementation (#8413)
  .changeset/afraid-regions-push.md
  packages/thirdweb/src/utils/bytecode/resolveImplementation.ts
Labels: packages, sdk

Improve Mobile detection in WC connection (#8415)
  packages/thirdweb/src/utils/web/isMobile.ts
  packages/thirdweb/src/wallets/create-wallet.ts
Labels: packages, sdk

support form changes (#8414)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportTicketForm.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/connect/AffectedAreaInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/connect/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/contracts/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/engine/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/other/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/payments/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/tokens-marketplace/index.tsx
Labels: dashboard

[PRO-98] Update Project FTUX UI (#8418)
  apps/dashboard/src/@/components/blocks/full-width-sidebar-layout.tsx
  apps/dashboard/src/@/components/blocks/project-page/project-page-header.tsx
  apps/dashboard/src/@/components/blocks/project-page/project-page.tsx
  apps/dashboard/src/@/icons/NebulaIcon.tsx
  apps/dashboard/src/@/icons/brand-icons/ExpoIcon.tsx
  apps/dashboard/src/@/icons/brand-icons/NextjsIcon.tsx
  apps/dashboard/src/@/icons/brand-icons/NodeJSIcon.tsx
  apps/dashboard/src/@/icons/brand-icons/ViteIcon.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/AiTokenUsageChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/components/ChatSidebar.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/components/Chats.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ClientIDSection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/CodeSelector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/SecretKeySection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet-details.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/project-wallet/project-wallet.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
Labels: dashboard

[PRO-105] Dashboard: Update service names (#8419)
  apps/dashboard/src/@/icons/ConnectSDKIcon.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/SupportedProductsSection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/chainlist/components/client/filters.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/chainlist/components/server/chainlist-row.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/products.ts
  packages/service-utils/src/core/services.ts
Labels: dashboard, packages

added archive section
  apps/portal/src/app/page.tsx
  apps/portal/src/app/tokens/faq/page.mdx
  apps/portal/src/app/tokens/liquidity-options/page.mdx
  apps/portal/src/app/tokens/sidebar.tsx
Labels: portal

add archives
  apps/portal/src/app/page.tsx
Labels: portal

lint
  apps/portal/src/app/page.tsx
Labels: portal

Add /gateway to framer-rewrites.js
  apps/dashboard/framer-rewrites.js
Labels: dashboard

Add /gateway to framer-rewrites.js
  apps/dashboard/framer-rewrites.js
Labels: dashboard

[Portal] Add Copy Page button to documentation pages
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/CopyPageButton.tsx
Labels: portal

[MNY-310] Dashboard: Improve login redirect path validation (#8422)
  apps/dashboard/src/app/login/isValidEncodedRedirectPath.ts
Labels: dashboard

Update viem to 2.39.0 and wagmi to 2.19.4
  .changeset/few-hats-slide.md
  .changeset/sixty-views-relate.md
  apps/wagmi-demo/package.json
  apps/wagmi-demo/src/App.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.ts
  packages/thirdweb/src/wallets/injected/index.ts
  packages/wagmi-adapter/src/connector.ts
  pnpm-lock.yaml
Labels: packages, sdk

[SDK] Better eip5792 handling (#8425)
  .changeset/few-hats-slide.md
  .changeset/sixty-views-relate.md
  apps/wagmi-demo/package.json
  apps/wagmi-demo/src/App.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.ts
  packages/thirdweb/src/wallets/injected/index.ts
  packages/wagmi-adapter/src/connector.ts
  pnpm-lock.yaml
Labels: packages, sdk

Version Packages (#8426)
  .changeset/few-hats-slide.md
  .changeset/sixty-views-relate.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[PRO-112] Dashboard: Project FTUX copy changes (#8428)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/SecretKeySection.tsx
Labels: dashboard

[SDK] Improve SIWE chain management for external wallets
  .changeset/sweet-lights-help.md
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
Labels: packages, sdk

[SDK] Improve SIWE chain management for external wallets (#8432)
  .changeset/sweet-lights-help.md
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
Labels: packages, sdk
