Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

Use https for login URI and improve URL stripping
  packages/thirdweb/src/auth/core/generate-login-payload.test.ts
  packages/thirdweb/src/auth/core/generate-login-payload.ts
  packages/thirdweb/src/auth/core/strip-url-scheme.test.ts
  packages/thirdweb/src/auth/core/strip-url-scheme.ts
Labels: packages, sdk

[CLI] create-stylus fixes
  .changeset/funny-cars-end.md
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

[CLI] create-stylus fixes (#8724)
  .changeset/funny-cars-end.md
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

Version Packages (#8725)
  .changeset/funny-cars-end.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[CLI] fix stylus abi exports
  .changeset/poor-laws-live.md
  packages/thirdweb/src/cli/commands/stylus/builder.ts
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

[CLI] fix stylus abi exports (#8726)
  .changeset/poor-laws-live.md
  packages/thirdweb/src/cli/commands/stylus/builder.ts
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

Version Packages (#8727)
  .changeset/poor-laws-live.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Update ENS Universal Resolver address for ENSv2
  packages/thirdweb/src/extensions/ens/constants.ts
Labels: packages, sdk

changeset
  .changeset/empty-dots-tell.md
Labels: none

[SDK] Update ENS Universal Resolver address for ENSv2 (#8733)
  .changeset/empty-dots-tell.md
  packages/thirdweb/src/extensions/ens/constants.ts
Labels: packages, sdk

ENS: add coinType param to reverse resolver
  .changeset/every-donuts-stop.md
  packages/thirdweb/src/extensions/ens/__generated__/UniversalResolver/read/reverse.ts
  packages/thirdweb/src/extensions/ens/resolve-name.ts
Labels: packages, sdk

Improve ENS resolveName error handling
  packages/thirdweb/src/extensions/ens/resolve-name.ts
Labels: packages, sdk

ENS: add coinType param to reverse resolver (#8735)
  .changeset/every-donuts-stop.md
  packages/thirdweb/src/extensions/ens/__generated__/UniversalResolver/read/reverse.ts
  packages/thirdweb/src/extensions/ens/resolve-name.ts
Labels: packages, sdk

Version Packages (#8734)
  .changeset/empty-dots-tell.md
  .changeset/every-donuts-stop.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Add 7/Seven Chain Node — EVM-compatible perpetual futures blockchain
  README.md
Labels: none

Handle managed vault rotation and redirect
  apps/dashboard/src/@/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/SecretKeySection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
Labels: dashboard

Add vaultConfig path and improve error toast
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
Labels: dashboard

Handle managed vault rotation and redirect (#8747)
  apps/dashboard/src/@/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/SecretKeySection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
Labels: dashboard

Dedicated channel for Pro plan
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/_components/settings-cards/dedicated-support.tsx
Labels: dashboard

rev
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/_components/settings-cards/dedicated-support.tsx
Labels: dashboard

fix plans
  apps/dashboard/src/@/utils/pricing.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/billing/components/Pricing.tsx
Labels: dashboard

Dedicated channel for Pro plan (#8751)
  apps/dashboard/src/@/utils/pricing.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/billing/components/Pricing.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/_components/settings-cards/dedicated-support.tsx
Labels: dashboard

Add Rampnow as a fiat onramp provider
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/utils/commonTypes.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuotesForProviders.ts
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/types.ts
Labels: packages, sdk

changeset
  .changeset/chatty-peaches-drop.md
Labels: none

Address rampnow PR review and add codecov coverage
  packages/thirdweb/src/bridge/Onramp.test.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuotesForProviders.test.tsx
  packages/thirdweb/src/react/core/hooks/useBridgePrepare.test.ts
Labels: packages, sdk

Retry transport failures
  .changeset/in-app-wallet-transport-retry.md
  packages/thirdweb/src/utils/fetch.test.ts
  packages/thirdweb/src/utils/fetch.ts
  packages/thirdweb/src/utils/retry.test.ts
  packages/thirdweb/src/utils/retry.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/otp.ts
Labels: packages, sdk

fix wallet chain id normalization
  packages/thirdweb/src/wallets/utils/normalizeChainId.test.ts
  packages/thirdweb/src/wallets/utils/normalizeChainId.ts
Labels: packages, sdk

Add CSV export progress for user wallets
  apps/dashboard/src/@/components/in-app-wallet-users-content/user-wallets-table.tsx
  apps/dashboard/src/@/hooks/useEmbeddedWallets.ts
Labels: dashboard

Update page.mdx
  apps/portal/src/app/typescript/v5/wallets/page.mdx
Labels: portal

Fix Arc Testnet native currency decimals
  .changeset/arc-testnet-decimals.md
  packages/thirdweb/src/chains/chain-definitions/arc-testnet.ts
Labels: packages, sdk

Add new wallet page for 9058371006
  apps/portal/src/app/wallets/9058371006
Labels: portal

[SDK] fix: ignore EIP-1193 code 1013 transient disconnect in injected wallets
  .changeset/fix-injected-wallet-transient-disconnect.md
  packages/thirdweb/src/wallets/injected/index.ts
  packages/thirdweb/src/wallets/wallet-emitter.ts
Labels: packages, sdk

[SDK] fix: export WalletDisconnectError and use shared type in onDisconnect
  packages/thirdweb/src/exports/wallets.native.ts
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

[SDK] fix: format import in injected/index.ts
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

Increase test max-old-space-size to 12288
  packages/thirdweb/package.json
Labels: packages, sdk

Update mintableERC721.test.ts
  packages/thirdweb/src/extensions/modules/MintableERC721/mintableERC721.test.ts
Labels: packages, sdk

tests
  packages/thirdweb/src/wallets/injected/index.test.ts
Labels: packages, sdk

Update metadata for CBOWCRYPPTEX documentation
  apps/portal/src/app/wallets/sponsor-gas/CBOWCRYPPTEX.mdx
Labels: portal

Update metadata in wet-owls-dance changeset
  .changeset/wet-owls-dance.md
Labels: none

[Nexus] reject partial numeric network IDs
  .changeset/nexus-strict-network-id.md
  packages/nexus/package.json
  packages/nexus/src/schemas.test.ts
  packages/nexus/src/schemas.ts
  pnpm-lock.yaml
Labels: packages
