Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

chore: adjust preferredProvider passed to the quote to ensure we only quote for coinbase if there isnt a preferred provider or supported provider passed down
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
Labels: packages, sdk

[Dashboard] migrate authorized wallets components to shadcn
  apps/dashboard/src/app/(app)/account/devices/AccountDevicesPage.tsx
  apps/dashboard/src/components/settings/AuthorizedWallets/AuthorizedWalletRevokeModal.tsx
  apps/dashboard/src/components/settings/AuthorizedWallets/AuthorizedWalletsTable.tsx
Labels: dashboard

[SDK] fix avatar image detection on Node (#7123)
  .changeset/shy-pigs-drive.md
  packages/thirdweb/src/utils/ens/avatar.ts
Labels: packages, sdk

Add useAuthToken hook for in-app wallet authentication (#7120)
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAuthToken.ts
  packages/thirdweb/src/wallets/in-app/core/interfaces/connector.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
Labels: packages, sdk

siwa chat widget
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatButton.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatContent.tsx
Labels: dashboard

lint
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatButton.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatContent.tsx
Labels: dashboard

replace api url
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatContent.tsx
Labels: dashboard

feat: add image support to payment links
  apps/dashboard/src/@/api/universal-bridge/links.ts
  apps/dashboard/src/app/pay/[id]/page.tsx
Labels: dashboard

Feature: Add image support to payment links (#7129)
  apps/dashboard/src/@/api/universal-bridge/links.ts
  apps/dashboard/src/app/pay/[id]/page.tsx
Labels: dashboard

[SDK] Add required email verification for in-app wallet
  apps/playground-web/src/components/in-app-wallet/connect-button.tsx
  apps/playground-web/src/components/in-app-wallet/sponsored-tx.tsx
  apps/playground-web/src/lib/constants.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/constants.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkProfileScreen.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
Labels: playground, packages, sdk

Dashboard: Add token selector in asset creation wizard (#7132)
  apps/dashboard/src/@/components/blocks/TokenSelector.stories.tsx
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/distribution/token-distribution.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/form.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/token-info-fieldset.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/vault/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/hooks/tokens/tokens.ts
Labels: dashboard

[TOOL-4531] Dashboard: Add Token Asset creation wizard (#7081)
  apps/dashboard/src/@/actions/revalidate.ts
  apps/dashboard/src/@/components/blocks/distribution-chart.tsx
  apps/dashboard/src/@/components/blocks/multi-step-status/multi-step-status.stories.tsx
  apps/dashboard/src/@/components/blocks/multi-step-status/multi-step-status.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/primary-dashboard-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/supply-layout.tsx
  apps/dashboard/src/app/(app)/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/(app)/account/contracts/_components/DeployViaCLIOrImportCard.tsx
  apps/dashboard/src/app/(app)/account/contracts/_components/DeployedContractsPage.tsx
  apps/dashboard/src/app/(app)/account/contracts/_components/getProjectContracts.ts
  apps/dashboard/src/app/(app)/account/contracts/_components/getSortedDeployedContracts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/cards.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/create-token-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/create-token-page.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/distribution/token-airdrop.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/distribution/token-distribution.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/form.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/token-info-fieldset.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/create/tracking.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/assets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/account-abstraction/factories/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/hooks/project-contracts.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/import-contract/modal.tsx
  apps/dashboard/src/components/contract-components/tables/contract-table.stories.tsx
  apps/dashboard/src/components/contract-components/tables/contract-table.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/address-input.tsx
  apps/dashboard/src/global.css
Labels: dashboard

fix: update routes page to use server-side pagination and filtering
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/client/search.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/utils.ts
Labels: dashboard

Enhance UI components and layout for Universal Bridge integration
  apps/dashboard/src/@/components/ui/CopyTextButton.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/bridge/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
Labels: dashboard

fixes
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatButton.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
Labels: dashboard

Refactor layout in bridge page for improved styling
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/bridge/page.tsx
Labels: dashboard

Fix: Update routes page to use server-side pagination and filtering (#7133)
  apps/dashboard/src/@/components/ui/CopyTextButton.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/bridge/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/client/search.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
Labels: dashboard

more fixes
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatButton.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
Labels: dashboard

[Dashboard] migrate authorized wallets components to shadcn (#7131)
  .gitignore
  apps/dashboard/src/app/(app)/account/devices/AccountDevicesPage.tsx
  apps/dashboard/src/components/settings/AuthorizedWallets/AuthorizedWalletRevokeModal.tsx
  apps/dashboard/src/components/settings/AuthorizedWallets/AuthorizedWalletsTable.tsx
Labels: dashboard

update prompts
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
Labels: dashboard

lint
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/layout.tsx
Labels: dashboard

[SDK] Implement allowedSmsCountryCodes option (#7090)
  .changeset/limited-country-dropdown.md
  packages/thirdweb/src/react/web/wallets/in-app/CountrySelector.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.test.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/wallets/ecosystem/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
Labels: packages, sdk

[Dashboard] siwa chat widget (#7128)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatButton.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
Labels: dashboard

Make free plan badge clickable to upgrade (#7134)
  apps/dashboard/src/@/components/blocks/UpsellBannerCard.stories.tsx
  apps/dashboard/src/@/components/blocks/UpsellBannerCard.tsx
  apps/dashboard/src/app/(app)/account/overview/AccountTeamsUI.tsx
  apps/dashboard/src/app/(app)/components/TeamPlanBadge.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/_components/BillingAlertBannersUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/_components/FreePlanUpsellBannerUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/rpc/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectionUI.tsx
  apps/dashboard/src/app/(app)/team/~/[[...paths]]/page.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsModal.tsx
  apps/dashboard/src/components/onboarding/PlanCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.tsx
Labels: dashboard

Update PostHog import to use React hook (#7135)
  apps/dashboard/src/hooks/analytics/useTrack.ts
Labels: dashboard

[Dashboard] Fix: Routes page pagination beyond 1, add og image (#7136)
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/bridge/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/opengraph-image.png
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/page.tsx
Labels: dashboard

[Dashboard] migrate CurrencySelector to shadcn (#7137)
  apps/dashboard/src/components/shared/CurrencySelector.tsx
Labels: dashboard

add siwa to portal pages
  apps/portal/package.json
  apps/portal/src/app/globals.css
  apps/portal/src/app/layout.tsx
  apps/portal/src/components/SiwaChat/ChatBar.tsx
  apps/portal/src/components/SiwaChat/Chats.tsx
  apps/portal/src/components/SiwaChat/CustomChatButton.tsx
  apps/portal/src/components/SiwaChat/CustomChatContent.tsx
  apps/portal/src/components/SiwaChat/examplePrompts.ts
  apps/portal/src/components/SiwaChat/types.ts
  apps/portal/src/components/others/ScrollShadow/ScrollShadow.tsx
  apps/portal/src/components/ui/button.tsx
  apps/portal/src/components/ui/popover.tsx
  apps/portal/src/components/ui/textarea.tsx
  apps/portal/src/components/ui/tooltip.tsx
  apps/portal/src/icons/NebulaIcon.tsx
  apps/portal/src/icons/index.ts
  apps/portal/src/lib/useIsomorphicLayoutEffect.ts
  apps/portal/tailwind.config.ts
  pnpm-lock.yaml
Labels: portal

Remove SIWA feedback buttons from nebula (#7142)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
Labels: dashboard

[TOOL-4591] Fix resolveImplementation jsdoc code example in jsdoc (#7141)
  packages/thirdweb/src/utils/bytecode/resolveImplementation.ts
Labels: packages, sdk

[Dashboard] replace Chakra fieldset with shadcn (#7143)
  apps/dashboard/src/components/contract-components/contract-publish-form/networks-fieldset.tsx
Labels: dashboard

Add webhook verification functionality for secure payload validation
  .changeset/webhook-verification.md
  packages/thirdweb/src/bridge/Webhook.test.ts
  packages/thirdweb/src/bridge/Webhook.ts
  packages/thirdweb/src/bridge/index.ts
Labels: packages, sdk

[thirdweb] Ensure bigints are stringified before usage with server wallets
  .changeset/whole-pears-stay.md
  packages/engine/src/configure.ts
  packages/thirdweb/src/engine/get-status.ts
  packages/thirdweb/src/engine/server-wallet.test.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: packages, sdk

feat: add aggregate parameter input with presets
  apps/playground-web/src/app/insight/[blueprint_slug]/aggregate-parameter-input.client.tsx
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: playground

[thirdweb] Ensure bigints are stringified before usage with server wallets (#7145)
  .changeset/whole-pears-stay.md
  packages/engine/src/configure.ts
  packages/thirdweb/src/engine/get-status.ts
  packages/thirdweb/src/engine/server-wallet.test.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: packages, sdk

[SDK] Feature: Allow for supported providers to be passed to PayEmbed (#7108)
  .changeset/small-boxes-grow.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/Providers.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/utils.ts
Labels: packages, sdk

Apply suggestions from code review
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/package.json
  packages/thirdweb/src/bridge/Webhook.test.ts
  packages/thirdweb/src/bridge/Webhook.ts
  packages/thirdweb/src/bridge/index.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, Ecosystem Portal

Version Packages (#7116)
  .changeset/blue-comics-doubt.md
  .changeset/blue-mice-prove.md
  .changeset/limited-country-dropdown.md
  .changeset/shy-pigs-drive.md
  .changeset/slick-apes-do.md
  .changeset/small-boxes-grow.md
  .changeset/tired-rice-kiss.md
  .changeset/whole-pears-stay.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[thirdweb] Improve quote error handling
  .changeset/tall-walls-juggle.md
  packages/thirdweb/src/bridge/types/Errors.ts
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, sdk

Add webhook verification functionality for secure payload validation (#7103)
  .changeset/webhook-verification.md
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/package.json
  packages/thirdweb/src/bridge/Webhook.test.ts
  packages/thirdweb/src/bridge/Webhook.ts
  packages/thirdweb/src/bridge/index.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
