Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

docs: remove unused viemAdaptor import example
  apps/portal/src/app/react/v5/adapters/page.mdx
Labels: portal

docs: add EIP1193 import for clarity
  apps/portal/src/app/react/v5/adapters/page.mdx
Labels: portal

docs: remove createWalletAdapter import
  apps/portal/src/app/react/v5/adapters/page.mdx
Labels: portal

docs: Update imports in react v5 adaptor examples (#7469)
  apps/portal/src/app/react/v5/adapters/page.mdx
Labels: portal

Version Packages (#7467)
  .changeset/dull-breads-start.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Add Engine user transactions example to playground
  apps/playground-web/package.json
  apps/playground-web/src/app/engine/users/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/account-abstraction/gateway.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-gateway.test.ts
  pnpm-lock.yaml
Labels: playground, packages, sdk

[Dashboard] Add client ID header to embedded wallets fetch request
  apps/dashboard/src/@/hooks/useEmbeddedWallets.ts
Labels: dashboard

[Dashboard] Add client ID header to embedded wallets fetch request (#7471)
  apps/dashboard/src/@/hooks/useEmbeddedWallets.ts
Labels: dashboard

chore: Enable telegram support channel, add join link button
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/_components/settings-cards/dedicated-support.tsx
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

[Pay] Update product details from hoodie to concert ticket
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/components/pay/direct-payment.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
Labels: playground, packages, sdk

[Playground] Update product details from hoodie to concert ticket (#7473)
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/components/pay/direct-payment.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
Labels: playground, packages, sdk

Added Somnia Testnet.
  .changeset/fresh-words-learn.md
  packages/thirdweb/src/chains/chain-definitions/somniaTestnet.ts
Labels: packages, sdk

Update changeset to minor.
  .changeset/fresh-words-learn.md
Labels: none

chore: Enable telegram support channel, add join link button
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/_components/settings-cards/dedicated-support.tsx
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

chore: Enable telegram support channel, add join link button (#7472)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/_components/settings-cards/dedicated-support.tsx
  packages/service-utils/src/core/api.ts
Labels: dashboard, packages

updates
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/CreateTicketForm.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCasesClient.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/create/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: dashboard

[PRO-218] Dashboard: Add product rebrand banner (#7475)
  apps/dashboard/src/@/components/misc/AnnouncementBanner.tsx
Labels: dashboard

[PRO-211, PRO-210] Dashboard: Copy changes (#7476)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
Labels: dashboard

Dashboard: Charts style tweaks, Remove unused chart component (#7478)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/Transactions/TransactionCharts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/CombinedBarChartCard.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/CombinedStatBreakdownCard.stories.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/CombinedStatBreakdownCard.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/EmptyStateCard.tsx
Labels: dashboard

[PRO-213] Dashboard: Empty chart state copy changes (#7477)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/EngineCloudChartCard/EngineCloudBarChartCardUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/RpcMethodBarChartCard/RpcMethodBarChartCardUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/EmptyStateCard.stories.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/EmptyStateCard.tsx
Labels: dashboard

Dashboard: Remove chakra provider from team/settings/notifications page (#7479)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/notifications/Notifications.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/notifications/NotificationsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/notifications/page.tsx
Labels: dashboard

[TOOL-4689] Dashboard: Integrate ERC20Asset contract in token creation flow
  apps/dashboard/src/@/components/contract-components/tables/contract-table.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/@/hooks/project-contracts.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_common/step-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/collection-info/nft-collection-info-fieldset.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/_common/form.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-airdrop.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/token-info/token-info-fieldset.tsx
Labels: dashboard

base mainnet entrypoint
  packages/thirdweb/src/assets/constants.ts
Labels: packages, sdk

update - use api server to ensure customerid
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCasesClient.tsx
Labels: dashboard

fix entrypoint addr
  packages/thirdweb/src/assets/constants.ts
Labels: packages, sdk

fix lint
  packages/thirdweb/src/assets/constants.ts
Labels: packages, sdk

SDK: Restore border on embed components
  .changeset/crazy-regions-send.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
Labels: packages, sdk

Portal: Fix llms.txt file generation
  apps/portal/src/app/references/components/TDoc/fetchDocs/fetchTypeScriptDoc.ts
Labels: portal

Portal: Update fallback llms.txt files
  apps/portal/public/llms-full.txt
  apps/portal/public/llms.txt
Labels: portal

Dashboard: Add missing asset creation successs tracking for nft (#7494)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/launch/launch-nft.tsx
Labels: dashboard

export, formatting and changeset
  .changeset/fresh-words-learn.md
  packages/thirdweb/src/chains/chain-definitions/somniaTestnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

Update page.mdx
  apps/portal/src/app/engine/v3/troubleshoot/page.mdx
Labels: portal

Playground: Fix in-app-wallet ConnectEmbed prebuilt ui code snippet (#7492)
  apps/playground-web/src/app/connect/in-app-wallet/page.tsx
Labels: playground

[TOOL-4900] Dashboard: Add ERC20 token page links in /routes (#7493)
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
Labels: dashboard

[Dashboard] Move RPC Edge to scale category and remove redirect (#7495)
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: dashboard

[Dashboard] Add status filter to transactions table
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/types.ts
Labels: dashboard

[Dashboard] Add status filter to transactions table (#7497)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/types.ts
Labels: dashboard

Broken Engine Links
  apps/portal/src/app/engine/v3/get-started/page.mdx
Labels: portal

Update page.mdx
  apps/portal/src/app/engine/v3/get-started/page.mdx
Labels: portal

[Docs] Broken Engine Links (#7498)
  apps/portal/src/app/engine/v3/get-started/page.mdx
Labels: portal
