Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Circleci project setup (#121)
  .circleci/config.yml
Labels: none

Fix RPC usage page to handle missing peak date (#6748)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/page.tsx
Labels: dashboard

Refferal commits.
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/_components/sidebar/getTeamSettingsLinks.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/referral/ReferralsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/referral/page.tsx
Labels: dashboard

[NEB-173]: Hide testnets in nebula chain selector (#6746)
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.tsx
Labels: dashboard

[NEB-172]: Remove Nebula waitlist (#6745)
  apps/dashboard/src/@/actions/joinWaitlist.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/nebula-app/(app)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/share-button.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
Labels: dashboard

[NEB-170] Nebula: Various UI changes (#6747)
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebarLink.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/components/contract-components/published-contract/markdown-renderer.tsx
  apps/dashboard/src/global.css
Labels: dashboard

[NEB-167] Add Nebula floating chat button in chain and contract pages
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/data/examplePrompts.ts
Labels: dashboard

[thirdweb] Simplify RPC request handling
  .changeset/orange-icons-hide.md
  packages/thirdweb/src/rpc/fetch-rpc.ts
  packages/thirdweb/src/rpc/rpc.ts
Labels: packages, sdk

[SDK] Simplify RPC request handling (#6752)
  .changeset/orange-icons-hide.md
  packages/thirdweb/src/rpc/fetch-rpc.ts
  packages/thirdweb/src/rpc/rpc.ts
Labels: packages, sdk

added invite team button in dash homepage (#6751)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
Labels: dashboard

Adding Telegram OPTIONAL field in support ticket flow.
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.client.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_TelegramInput.tsx
Labels: dashboard

Add "Invite Team Members" button to team overview page (#6755)
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/invite-team-members-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
Labels: dashboard

[NEB-167] Add Nebula floating chat button in chain and contract pages (#6750)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/data/examplePrompts.ts
Labels: dashboard

[Dashboard] Adding telegram field to support ticket creation (#6754)
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.client.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_TelegramInput.tsx
Labels: dashboard

Dashboard: disable prefetch for footer links (#6756)
  apps/dashboard/src/@/components/blocks/app-footer.tsx
Labels: dashboard

[SDK] Improve error message for getUser
  .changeset/twenty-cows-take.md
  packages/thirdweb/src/wallets/in-app/core/users/getUser.test.ts
  packages/thirdweb/src/wallets/in-app/core/users/getUser.ts
Labels: packages, sdk

[SDK] Use insight for 1155 getNFTs, getOwnedNFTs and getNFT
  .changeset/huge-berries-call.md
  packages/thirdweb/src/extensions/erc1155/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFT.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.test.ts
  packages/thirdweb/src/insight/get-nfts.ts
Labels: packages, sdk

[SDK] Improve error message for getUser (#6758)
  .changeset/twenty-cows-take.md
  packages/thirdweb/src/wallets/in-app/core/users/getUser.test.ts
  packages/thirdweb/src/wallets/in-app/core/users/getUser.ts
Labels: packages, sdk

Potential fix for code scanning alert no. 89: Incomplete URL substring sanitization
  packages/thirdweb/src/extensions/erc1155/read/getNFT.ts
  packages/thirdweb/src/insight/get-nfts.ts
Labels: packages, sdk

[SDK] Use insight for 1155 getNFTs, getOwnedNFTs and getNFT (#6753)
  .changeset/huge-berries-call.md
  packages/thirdweb/src/extensions/erc1155/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFT.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.test.ts
  packages/thirdweb/src/insight/get-nfts.ts
Labels: packages, sdk

Add thirdweb branding to PayEmbed
  .changeset/free-pandas-reply.md
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/PoweredByTW.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/DirectPaymentModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
Labels: packages, sdk

[SDK] Add thirdweb branding to PayEmbed (#6760)
  .changeset/free-pandas-reply.md
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/PoweredByTW.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/DirectPaymentModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
Labels: packages, sdk

WIP AI docs
  .ai-docs/README.md
  .ai-docs/sdk/README.md
Labels: none

Version Packages (#6728)
  .changeset/free-pandas-reply.md
  .changeset/huge-berries-call.md
  .changeset/open-ends-melt.md
  .changeset/orange-icons-hide.md
  .changeset/purple-bats-march.md
  .changeset/quick-bugs-remain.md
  .changeset/ready-tigers-pump.md
  .changeset/tired-windows-clean.md
  .changeset/twenty-cows-take.md
  .changeset/wicked-pianos-carry.md
  .changeset/yummy-toys-hug.md
  packages/insight/CHANGELOG.md
  packages/insight/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

docs: add documentation plan and template for SDK docs
  .ai-docs/sdk/ai-docs/README.md
  .ai-docs/sdk/ai-docs/_DOC_TEMPLATE.md
Labels: none

Update rules and readmes
  .ai-docs/README.md
  .ai-docs/sdk/README.md
Labels: none

Checkpoint
  .ai-docs/sdk/ai-docs/README.md
  .ai-docs/sdk/ai-docs/functions/createThirdwebClient.md
Labels: none

Basics
  .ai-docs/sdk/ai-docs/hooks/useActiveAccount.md
  .ai-docs/sdk/ai-docs/types/ThirdwebClient.md
Labels: none

Move out of the hidden directory
  ai-docs/README.md
  ai-docs/sdk/README.md
  ai-docs/sdk/ai-docs/README.md
  ai-docs/sdk/ai-docs/_DOC_TEMPLATE.md
  ai-docs/sdk/ai-docs/functions/createThirdwebClient.md
  ai-docs/sdk/ai-docs/hooks/useActiveAccount.md
  ai-docs/sdk/ai-docs/types/ThirdwebClient.md
Labels: none

Update references
  ai-docs/README.md
  ai-docs/sdk/ai-docs/README.md
  ai-docs/sdk/ai-docs/_DOC_TEMPLATE.md
Labels: none

add send transaction button
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-access-token.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/key-management.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/send-dummy-tx.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
Labels: dashboard

UI polish
  apps/dashboard/.env.example
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/wallet-table/wallet-table.tsx
Labels: dashboard

add summary analytics
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/summary.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/page.tsx
Labels: dashboard

rename
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.tsx
Labels: dashboard

tabIndex
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/send-dummy-tx.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
Labels: dashboard

add vault-sdk package
  apps/dashboard/package.json
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/page.tsx
  package.json
  packages/vault-sdk/CHANGELOG.md
  packages/vault-sdk/README.md
  packages/vault-sdk/package.json
  packages/vault-sdk/src/exports/thirdweb.ts
  packages/vault-sdk/src/sdk.ts
  packages/vault-sdk/src/transaction-parser.ts
  packages/vault-sdk/src/transaction-types.ts
  packages/vault-sdk/src/types.ts
  packages/vault-sdk/tsconfig.base.json
  packages/vault-sdk/tsconfig.build.json
  packages/vault-sdk/tsconfig.json
  pnpm-lock.yaml
Labels: dashboard, packages

empty state
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/page.tsx
Labels: dashboard

uncomment conditional service account initialisation
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.client.tsx
Labels: dashboard

start renaming to vault
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/transactions/server-wallets/components/send-dummy-tx.client.tsx
Labels: dashboard

update service utils types
  packages/service-utils/src/core/api.ts
Labels: packages

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
