Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Accept pre-signed authorizations for 7702 account transactions
  .changeset/cuddly-turkeys-scream.md
  packages/thirdweb/src/extensions/erc7702/account/createSessionKey.ts
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
Labels: packages, sdk

[SDK] Accept pre-signed authorizations for 7702 account transactions (#8038)
  .changeset/cuddly-turkeys-scream.md
  packages/thirdweb/src/extensions/erc7702/account/createSessionKey.ts
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
Labels: packages, sdk

Allow passing overrides to common extension functions
  .changeset/two-steaks-melt.md
  apps/playground-web/src/components/account-abstraction/gateway.tsx
  packages/thirdweb/src/extensions/erc1155/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/updateMetadata.ts
  packages/thirdweb/src/extensions/erc1155/write/lazyMint.ts
  packages/thirdweb/src/extensions/erc1155/write/mintAdditionalSupplyTo.ts
  packages/thirdweb/src/extensions/erc1155/write/updateTokenURI.ts
  packages/thirdweb/src/extensions/erc20/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc20/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc20/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc20/write/approve.ts
  packages/thirdweb/src/extensions/erc20/write/deposit.ts
  packages/thirdweb/src/extensions/erc20/write/transferBatch.ts
  packages/thirdweb/src/extensions/erc721/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc721/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc721/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc721/drops/write/updateMetadata.ts
  packages/thirdweb/src/extensions/erc721/write/lazyMint.ts
  packages/thirdweb/src/extensions/erc721/write/setSharedMetadata.ts
  packages/thirdweb/src/extensions/erc721/write/updateTokenURI.ts
Labels: playground, packages, sdk

[SDK] Allow passing overrides to common extension functions (#8041)
  .changeset/two-steaks-melt.md
  apps/playground-web/src/components/account-abstraction/gateway.tsx
  packages/thirdweb/src/extensions/erc1155/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/updateMetadata.ts
  packages/thirdweb/src/extensions/erc1155/write/lazyMint.ts
  packages/thirdweb/src/extensions/erc1155/write/mintAdditionalSupplyTo.ts
  packages/thirdweb/src/extensions/erc1155/write/updateTokenURI.ts
  packages/thirdweb/src/extensions/erc20/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc20/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc20/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc20/write/approve.ts
  packages/thirdweb/src/extensions/erc20/write/deposit.ts
  packages/thirdweb/src/extensions/erc20/write/transferBatch.ts
  packages/thirdweb/src/extensions/erc721/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc721/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc721/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc721/drops/write/updateMetadata.ts
  packages/thirdweb/src/extensions/erc721/write/lazyMint.ts
  packages/thirdweb/src/extensions/erc721/write/setSharedMetadata.ts
  packages/thirdweb/src/extensions/erc721/write/updateTokenURI.ts
Labels: playground, packages, sdk

Fix signAuthorization for 1193 providers
  .changeset/shaggy-fans-live.md
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

[SDK] Fix signAuthorization for 1193 providers (#8042)
  .changeset/shaggy-fans-live.md
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, sdk

Version Packages (#8040)
  .changeset/cuddly-turkeys-scream.md
  .changeset/petite-lizards-create.md
  .changeset/shaggy-fans-live.md
  .changeset/two-steaks-melt.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[MNY-166] Dashboard: Add Dex Screener charts in public ERC20 token page (#8035)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_apis/token-price-data.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/PriceChart.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/dex-screener-chains.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/dex-screener.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
Labels: dashboard

temp
  packages/thirdweb/package.json
  packages/thirdweb/src/bridge/types/Chain.ts
  packages/thirdweb/src/pay/convert/type.ts
  packages/thirdweb/src/react/core/design-system/index.ts
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/UnsupportedTokenScreen.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SearchInput.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SelectChainButton.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-buy-token.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-chain.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-sell-token.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/types.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/use-bridge-chains.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/use-tokens.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/utils.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/ArrowUpDownIcon.tsx
  packages/thirdweb/src/react/web/ui/components/DynamicHeight.tsx
  packages/thirdweb/src/react/web/ui/components/Img.tsx
  packages/thirdweb/src/react/web/ui/components/Skeleton.tsx
  packages/thirdweb/src/react/web/ui/components/Spinner.tsx
  packages/thirdweb/src/react/web/ui/components/basic.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/react/web/ui/components/formElements.tsx
  packages/thirdweb/src/react/web/ui/components/text.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SelectBuyToken.stories.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SelectChain.stories.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SelectSellToken.stories.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SwapWidget.stories.tsx
  packages/thirdweb/src/stories/BuyWidget.stories.tsx
Labels: packages, sdk

screen cleanup
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/hooks.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk

add success and error screens
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
Labels: packages, sdk

resolve todo
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk

Add tier6 for SMS country pricing
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/wallets/api/sms.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/wallets/components/InAppWalletSettingsUI.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/wallets/components/sms-country-select/utils.ts
Labels: dashboard

Add tier6 for SMS country pricing (#8043)
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/wallets/api/sms.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/wallets/components/InAppWalletSettingsUI.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/wallets/components/sms-country-select/utils.ts
Labels: dashboard

Handle ENS resolution errors gracefully
  apps/dashboard/src/@/lib/ens.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
Labels: dashboard, packages, sdk

Handle ENS resolution errors gracefully (#8045)
  apps/dashboard/src/@/lib/ens.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
Labels: dashboard, packages, sdk

Upgrade WalletConnect and improve chain switching reliability
  .changeset/hot-bikes-relax.md
  packages/thirdweb/package.json
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  pnpm-lock.yaml
Labels: packages, sdk

[SDK] Upgrade WalletConnect and improve chain switching reliability (#8046)
  .changeset/hot-bikes-relax.md
  packages/thirdweb/package.json
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  pnpm-lock.yaml
Labels: packages, sdk

Version Packages (#8047)
  .changeset/hot-bikes-relax.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

Fix fiat payments with no wallet connected
  .changeset/fuzzy-suits-wear.md
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
Labels: packages, sdk

[SDK] Fix fiat payments with no wallet connected (#8048)
  .changeset/fuzzy-suits-wear.md
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
Labels: packages, sdk

[SDK] Add wallet validation before executing transactions
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, sdk

[SDK] Add wallet validation before executing transactions (#8050)
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, sdk

Version Packages (#8049)
  .changeset/fuzzy-suits-wear.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Nebula] Add deprecation banner with migration information
  apps/nebula/src/app/login/NebulaLoginPage.tsx
Labels: none

[Nebula] Add deprecation banner with migration information (#8051)
  apps/nebula/src/app/login/NebulaLoginPage.tsx
Labels: none

UI improvements
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-buy-token.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-sell-token.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/storage.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/types.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/use-bridge-chains.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/use-tokens.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/utils.ts
  packages/thirdweb/src/react/web/ui/components/Img.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SwapWidget.Prefill.stories.tsx
Labels: packages, sdk

Fix theme in select-sell ui
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-sell-token.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SelectSellToken.stories.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SwapWidget.stories.tsx
Labels: packages, sdk

add JSdoc, export component
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SwapWidget.stories.tsx
Labels: packages, sdk

add swap widget in public token page
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/PayEmbedSection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/WithHeader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/use-tokens.ts
  packages/thirdweb/src/react/web/ui/components/Img.tsx
Labels: dashboard, packages, sdk

padding changes
  packages/thirdweb/src/react/web/ui/Bridge/DirectPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/ErrorBanner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/WithHeader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/SuccessScreen.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk

remove log
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk

fix knip lint
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-chain.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-sell-token.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/use-tokens.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/utils.ts
Labels: packages, sdk

fix: add brief pause after onramp
  .changeset/floppy-clocks-wave.md
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, sdk

show balance, show not enough balance error
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/WalletDotIcon.tsx
Labels: packages, sdk

Fix notEnoughBalance
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk

Fix: Add brief pause after onramp (#8052)
  .changeset/floppy-clocks-wave.md
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, sdk

Version Packages (#8053)
  .changeset/floppy-clocks-wave.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

use Sell/prepare when selling
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk

Save token selection and amounts when going back
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
