Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

dynamic dev host
  apps/dashboard/src/@/hooks/useWalletPortfolio.ts
Labels: dashboard

Add wallet portfolio fetching and display to user table (#8570)
  apps/dashboard/src/@/components/analytics/stat.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/user-wallets-table.tsx
  apps/dashboard/src/@/hooks/useEmbeddedWallets.ts
  apps/dashboard/src/@/hooks/useWalletPortfolio.ts
Labels: dashboard

Improve portfolio fetch concurrency and error handling
  apps/dashboard/src/@/hooks/useWalletPortfolio.ts
Labels: dashboard

Improve portfolio fetch concurrency and error handling (#8572)
  apps/dashboard/src/@/hooks/useWalletPortfolio.ts
Labels: dashboard

[Portal] Fix Transactions link in Archived Documentation section (#8574)
  apps/portal/src/app/page.tsx
Labels: portal

Portal: Add bridge widget playground links (#8575)
  apps/playground-web/src/app/bridge/bridge-widget/components/bridge-playground.tsx
  apps/playground-web/src/app/bridge/bridge-widget/components/code.tsx
  apps/playground-web/src/app/bridge/bridge-widget/components/types.ts
  apps/playground-web/src/app/bridge/bridge-widget/page.tsx
  apps/portal/src/app/bridge/bridge-widget/iframe/page.mdx
  apps/portal/src/app/bridge/bridge-widget/page.mdx
  apps/portal/src/app/bridge/bridge-widget/react/page.mdx
  apps/portal/src/app/bridge/bridge-widget/script/page.mdx
  apps/portal/src/app/bridge/sidebar.tsx
Labels: playground, portal

added audits (#8577)
  apps/portal/src/app/bridge/link/page.mdx
  apps/portal/src/app/tokens/build-tokens/page.mdx
  apps/portal/src/app/tokens/deploy-programmatically/page.mdx
  apps/portal/src/app/wallets/security/page.mdx
Labels: portal

[MNY-341] Payment Details UI improvements (#8576)
  .changeset/yummy-squids-rush.md
  packages/thirdweb/src/react/web/ui/Bridge/common/TokenBalanceRow.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentOverview.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/OutlineWalletIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/StepConnector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
  packages/thirdweb/src/stories/Bridge/PaymentDetails.stories.tsx
Labels: packages, sdk

[MNY-348] SDK: Remove in-app wallet from default wallet list for bridge widgets (#8579)
  .changeset/plain-maps-care.md
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/stories/Bridge/BridgeWidget/bridge-widget.stories.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SwapWidget.stories.tsx
  packages/thirdweb/src/stories/Bridge/Transaction/TransactionWidget.stories.tsx
  packages/thirdweb/src/stories/BuyWidget.stories.tsx
  packages/thirdweb/src/wallets/defaultWallets.ts
Labels: packages, sdk

[MNY-343] Add checkout widget iframe (#8578)
  .changeset/short-wasps-show.md
  apps/dashboard/next.config.ts
  apps/dashboard/src/@/constants/public-envs.ts
  apps/dashboard/src/app/bridge/_common/isValidCurrency.ts
  apps/dashboard/src/app/bridge/_common/parseQueryParams.ts
  apps/dashboard/src/app/bridge/checkout-widget/CheckoutWidgetEmbed.client.tsx
  apps/dashboard/src/app/bridge/checkout-widget/layout.tsx
  apps/dashboard/src/app/bridge/checkout-widget/page.tsx
  apps/dashboard/src/app/bridge/widget/page.tsx
  packages/thirdweb/src/react/web/ui/Bridge/DirectPayment.tsx
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-modular.test.ts
Labels: dashboard, packages, sdk

[MNY-316] SDK: directly show token selection after wallet connection in bridge widgets (#8580)
  .changeset/heavy-clowns-stay.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletSwitcherConnectionScreen.tsx
Labels: packages, sdk

[MNY-345] Portal: Add Checkout widget iframe docs (#8581)
  apps/dashboard/src/app/bridge/checkout-widget/CheckoutWidgetEmbed.client.tsx
  apps/portal/src/app/bridge/checkout-widget/checkout-widget-dark.jpg
  apps/portal/src/app/bridge/checkout-widget/checkout-widget.jpg
  apps/portal/src/app/bridge/checkout-widget/iframe/iframe-code-preview.tsx
  apps/portal/src/app/bridge/checkout-widget/iframe/page.mdx
  apps/portal/src/app/bridge/checkout-widget/page.mdx
  apps/portal/src/app/bridge/checkout-widget/react/page.mdx
  apps/portal/src/app/bridge/sidebar.tsx
  apps/portal/src/app/bridge/swap-widget/page.mdx
  apps/portal/src/app/bridge/swap/page.mdx
  apps/portal/src/app/bridge/swap/swap-dark.jpg
  apps/portal/src/app/bridge/swap/swap-dark.png
  apps/portal/src/app/bridge/swap/swap-light.jpg
  apps/portal/src/app/bridge/swap/swap-light.png
Labels: dashboard, portal

[MNY-338] Add filters when fetching chains in chain selection ui (#8573)
  .changeset/dry-wasps-love.md
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-chain.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/use-bridge-chains.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/constants.ts
  packages/thirdweb/src/stories/Bridge/Swap/SelectChain.stories.tsx
Labels: packages, sdk

Expand FAQ with Dedicated Relayer FAQs (#8585)
  apps/portal/src/app/wallets/faq/page.mdx
Labels: portal

delete outdated webhook docs and move webhooks to tokens (#8587)
  apps/portal/src/app/bridge/webhooks/assets/bridge-webhooks.png
  apps/portal/src/app/bridge/webhooks/page.mdx
  apps/portal/src/app/tokens/sidebar.tsx
  apps/portal/src/app/tokens/webhooks/assets/token-webhooks.png
  apps/portal/src/app/tokens/webhooks/page.mdx
  apps/portal/src/app/wallets/security/page.mdx
  apps/portal/src/app/webhooks/layout.tsx
  apps/portal/src/app/webhooks/page.mdx
  apps/portal/src/app/webhooks/sidebar.tsx
Labels: portal

X402 playground chainlist (#8588)
  apps/playground-web/src/app/x402/components/X402LeftSection.tsx
Labels: playground

feat: Add transaction hashes to checkout widget events
  .changeset/checkout-widget-transaction-hash.md
  CHECKOUT_WIDGET_TRANSACTION_HASH_CHANGES.md
  apps/dashboard/src/app/bridge/checkout-widget/CheckoutWidgetEmbed.client.tsx
  apps/dashboard/src/app/bridge/checkout-widget/TRANSACTION_HASH_EXAMPLE.html
  apps/portal/src/app/bridge/checkout-widget/iframe/page.mdx
Labels: dashboard, portal

docs: use pnpm add in README install commands
  README.md
Labels: none

[MNY-346] Playground: Add CheckoutWidget iframe (#8591)
  apps/dashboard/src/app/bridge/checkout-widget/CheckoutWidgetEmbed.client.tsx
  apps/dashboard/src/app/bridge/checkout-widget/page.tsx
  apps/playground-web/src/app/bridge/checkout-widget/CheckoutPlayground.tsx
  apps/playground-web/src/app/bridge/checkout-widget/page.tsx
  apps/playground-web/src/app/bridge/components/CodeGen.tsx
  apps/playground-web/src/app/bridge/components/LeftSection.tsx
  apps/playground-web/src/app/bridge/components/RightSection.tsx
  apps/playground-web/src/app/bridge/components/buildCheckoutIframeUrl.ts
  apps/playground-web/src/app/bridge/components/types.ts
  apps/portal/src/app/bridge/checkout-widget/iframe/page.mdx
Labels: dashboard, playground, portal

2025 wrapped
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/api/rewind/get-year-in-review.ts
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/(app)/account/components/RewindBadge.tsx
  apps/dashboard/src/app/(app)/account/layout.tsx
  apps/dashboard/src/app/(app)/account/page.tsx
  apps/dashboard/src/app/(app)/account/rewind/RewindModal.tsx
  apps/dashboard/src/app/(app)/account/rewind/RewindModalClient.tsx
  apps/dashboard/src/app/(app)/account/rewind/page.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/api/rewind/route.ts
Labels: dashboard

coderabbit fix + lint fix
  apps/dashboard/src/@/api/rewind/get-year-in-review.ts
  apps/dashboard/src/app/(app)/account/rewind/RewindModalClient.tsx
  apps/dashboard/src/app/api/rewind/route.ts
Labels: dashboard

chore: remove unused imports in dashboard middleware
  apps/dashboard/src/middleware.ts
Labels: dashboard

Dashboard: Update bridge supported tokens count (#8602)
  apps/dashboard/src/app/bridge/(general)/data.ts
Labels: dashboard

[MNY-344] Dashboard: Add swap-widget iframe (#8603)
  apps/dashboard/next.config.ts
  apps/dashboard/src/@/constants/public-envs.ts
  apps/dashboard/src/app/bridge/(general)/components/client/Providers.client.tsx
  apps/dashboard/src/app/bridge/checkout-widget/CheckoutWidgetEmbed.client.tsx
  apps/dashboard/src/app/bridge/checkout-widget/page.tsx
  apps/dashboard/src/app/bridge/swap-widget/SwapWidgetEmbed.client.tsx
  apps/dashboard/src/app/bridge/swap-widget/layout.tsx
  apps/dashboard/src/app/bridge/swap-widget/page.tsx
Labels: dashboard

[MNY-351] Portal: Add swap widget iframe docs (#8604)
  apps/portal/src/app/bridge/sidebar.tsx
  apps/portal/src/app/bridge/swap-widget/iframe/iframe-code-preview.tsx
  apps/portal/src/app/bridge/swap-widget/iframe/page.mdx
  apps/portal/src/app/bridge/swap-widget/page.mdx
  apps/portal/src/app/bridge/swap-widget/react/page.mdx
Labels: portal

[MNY-352] Playground: add swap widget iframe (#8605)
  apps/dashboard/src/app/bridge/swap-widget/SwapWidgetEmbed.client.tsx
  apps/dashboard/src/app/bridge/swap-widget/page.tsx
  apps/playground-web/src/app/bridge/swap-widget/components/buildSwapIframeUrl.ts
  apps/playground-web/src/app/bridge/swap-widget/components/code.tsx
  apps/playground-web/src/app/bridge/swap-widget/components/left-section.tsx
  apps/playground-web/src/app/bridge/swap-widget/components/right-section.tsx
  apps/playground-web/src/app/bridge/swap-widget/components/swap-widget-playground.tsx
  apps/playground-web/src/app/bridge/swap-widget/components/types.ts
  apps/playground-web/src/app/bridge/swap-widget/page.tsx
  apps/portal/src/app/bridge/bridge-widget/iframe/iframe-code-preview.tsx
  apps/portal/src/app/bridge/swap-widget/iframe/iframe-code-preview.tsx
Labels: dashboard, playground, portal

[MNY-353] SDK: TransactionWidget UI improvements (#8607)
  .changeset/easy-teams-agree.md
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/stories/Bridge/Transaction/TransactionWidget.stories.tsx
  packages/thirdweb/src/stories/Bridge/fixtures.ts
Labels: packages, sdk

[MNY-319] SDK: Add token details screen in token selection UI (#8608)
  .changeset/two-pandas-knock.md
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/selected-token-button.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/hooks.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/InfoIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/formatTokenBalance.ts
Labels: packages, sdk

Etherlink shadownet chain (#8611)
  .changeset/etherlink-shadownet-chain.md
  packages/thirdweb/src/chains/chain-definitions/etherlink-shadownet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, sdk

[MNY-342] Dashboard: Add Buy Widget iframe (#8613)
  apps/dashboard/next.config.ts
  apps/dashboard/src/@/constants/public-envs.ts
  apps/dashboard/src/app/bridge/buy-widget/BuyWidgetEmbed.client.tsx
  apps/dashboard/src/app/bridge/buy-widget/layout.tsx
  apps/dashboard/src/app/bridge/buy-widget/page.tsx
Labels: dashboard

SDK: token details screen UI tweaks (#8612)
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
Labels: packages, sdk

[MNY-354] Portal: Add Buy Widget iframe docs (#8614)
  apps/portal/src/app/bridge/buy-widget/iframe/iframe-code-preview.tsx
  apps/portal/src/app/bridge/buy-widget/iframe/page.mdx
  apps/portal/src/app/bridge/buy-widget/page.mdx
  apps/portal/src/app/bridge/buy-widget/react/page.mdx
  apps/portal/src/app/bridge/sidebar.tsx
Labels: portal

[MNY-355] Playground: Add Buy Widget iframe playground (#8615)
  apps/playground-web/src/app/bridge/buy-widget/BuyPlayground.tsx
  apps/playground-web/src/app/bridge/buy-widget/page.tsx
  apps/playground-web/src/app/bridge/components/CodeGen.tsx
  apps/playground-web/src/app/bridge/components/LeftSection.tsx
  apps/playground-web/src/app/bridge/components/RightSection.tsx
  apps/playground-web/src/app/bridge/components/buildBuyIframeUrl.ts
Labels: playground

Enable multiple ref params for bytes input (#8610)
  apps/dashboard/src/app/(app)/(dashboard)/contracts/publish/[publish_uri]/contract-publish-form/decoded-bytes-input/decoded-input-set.tsx
Labels: dashboard

add payment-required header
  packages/thirdweb/src/x402/encode.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
Labels: packages, sdk

add test
  packages/thirdweb/src/x402/fetchWithPayment.test.ts
Labels: packages, sdk

Add defensive validation for accepts before calling .map()
  packages/thirdweb/src/x402/fetchWithPayment.ts
Labels: packages, sdk

Preserve wallet address on vault credential rotation
  apps/dashboard/src/@/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/wallets/vault-recovery-card.client.tsx
Labels: dashboard

Add admin key download flow for ejected vault recovery
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/server-wallets/wallets/vault-recovery-card.client.tsx
Labels: dashboard

Add retry logic to project credentials update
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
Labels: dashboard
