Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"

stylus deployer for deployment with constructor
  packages/thirdweb/scripts/generate/abis/stylus/IStylusConstructor.json
  packages/thirdweb/scripts/generate/abis/stylus/IStylusDeployer.json
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IStylusConstructor/write/stylus_constructor.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IStylusDeployer/events/ContractDeployed.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IStylusDeployer/write/deploy.ts
Labels: packages, sdk

fix lint
  packages/thirdweb/src/cli/commands/stylus/builder.ts
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

fix messages tab
  apps/dashboard/src/@/api/support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportCasesClient.tsx
Labels: dashboard

add POST v1/tokens after coin creation
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_apis/create-token-on-bridge.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
Labels: dashboard

Fix createTokenOnUniversalBridge
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_apis/create-token-on-bridge.ts
Labels: dashboard

deploy with stylus constructor
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/extensions/stylus/write/deployWithStylusConstructor.ts
Labels: packages, sdk

check prerequisites in cli
  packages/thirdweb/src/cli/commands/stylus/builder.ts
  packages/thirdweb/src/cli/commands/stylus/check-prerequisites.ts
  packages/thirdweb/src/cli/commands/stylus/create.ts
Labels: packages, sdk

Enable engineCloud service in project creation modal (#7520)
  apps/dashboard/src/@/components/project/create-project-modal/index.tsx
Labels: dashboard

Enhance smart account factory address validation in auth options form
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
Labels: dashboard

fix
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
Labels: dashboard

Add universal bridge token selector and related components
  apps/portal/src/@/api/universal-bridge/tokens.ts
  apps/portal/src/@/components/blocks/Img.tsx
  apps/portal/src/@/components/blocks/TokenSelector.tsx
  apps/portal/src/@/components/blocks/select-with-search.tsx
  apps/portal/src/@/components/ui/popover.tsx
  apps/portal/src/@/hooks/chains/allChains.ts
  apps/portal/src/@/hooks/tokens.ts
  apps/portal/src/@/hooks/useShowMore.ts
  apps/portal/src/@/lib/sdk.ts
  apps/portal/src/@/utils/chain-icons.ts
Labels: portal

Port TokenSelector with real API integrations for chains and tokens
  TokenSelector_Port_Summary.md
  apps/portal/src/@/api/universal-bridge/tokens.ts
  apps/portal/src/@/hooks/chains/allChains.ts
Labels: portal

lint
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
Labels: dashboard

[Dashboard] Fix validation for smart account options (#7522)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
Labels: dashboard

activate codehash, import metadata
  packages/thirdweb/scripts/generate/abis/stylus/IArbWasm.json
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IArbWasm/read/codehashVersion.ts
  packages/thirdweb/src/extensions/stylus/write/activateStylusContract.ts
  packages/thirdweb/src/extensions/stylus/write/isContractActivated.ts
Labels: packages, sdk

[SDK] Show all tokens in payment selection regardless of balance
  .changeset/three-parts-rush.md
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, sdk

Port TokenSelector component from dashboard to playground-web
  apps/playground-web/TOKEN_SELECTOR_PORT.md
  apps/playground-web/src/app/token-selector-demo/page.tsx
  apps/playground-web/src/components/ui/TokenSelector.tsx
  apps/playground-web/src/components/ui/select-with-search.tsx
  apps/playground-web/src/hooks/useAllChainsData.ts
  apps/playground-web/src/hooks/useTokensData.ts
  apps/playground-web/src/lib/types.ts
  apps/playground-web/src/lib/utils.ts
Labels: playground

Refactor token and chain selection with TokenSelector in LeftSection
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
Labels: playground

added images and modified css
  apps/portal/public/og/background-1.png
  apps/portal/public/og/icons/account-abstraction.svg
  apps/portal/public/og/icons/contract.svg
  apps/portal/public/og/icons/contracts.svg
  apps/portal/public/og/icons/insight.svg
  apps/portal/public/og/icons/nebula.svg
  apps/portal/public/og/icons/payment.svg
  apps/portal/public/og/icons/payments.svg
  apps/portal/public/og/icons/rpc.svg
  apps/portal/public/og/icons/transactions.svg
  apps/portal/public/og/icons/vault.svg
  apps/portal/public/og/icons/wallets.svg
  apps/portal/src/app/api/og/route.tsx
Labels: portal

upgrade dependencies
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

modified files
  apps/portal/public/og/icons/auth.svg
  apps/portal/public/og/icons/infra.svg
  apps/portal/public/og/icons/storage.svg
  apps/portal/src/app/pay/page.mdx
  apps/portal/src/app/pay/supported-chains/page.mdx
Labels: portal

[SDK] Show all tokens in payment selection regardless of balance (#7523)
  .changeset/three-parts-rush.md
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, sdk

upgrade dependencies (#7524)
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Remove Plausible analytics integration (#7525)
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/dashboard/src/app/(app)/layout.tsx
  apps/playground-web/src/app/layout.tsx
  apps/portal/src/app/layout.tsx
  pnpm-lock.yaml
Labels: dashboard, playground, portal

[Playground] Add TokenSelector component to Pay embed configuration
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/token-selector-demo/page.tsx
  apps/playground-web/src/components/blocks/NetworkSelectors.tsx
  apps/playground-web/src/components/ui/TokenSelector.tsx
  apps/playground-web/src/components/ui/select-with-search.tsx
  apps/playground-web/src/components/ui/select.tsx
  apps/playground-web/src/hooks/useTokensData.ts
  apps/playground-web/src/lib/types.ts
  apps/playground-web/src/lib/utils.ts
Labels: playground

[Playground] Add TokenSelector component to Pay embed configuration (#7527)
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/token-selector-demo/page.tsx
  apps/playground-web/src/components/blocks/NetworkSelectors.tsx
  apps/playground-web/src/components/ui/TokenSelector.tsx
  apps/playground-web/src/components/ui/select-with-search.tsx
  apps/playground-web/src/components/ui/select.tsx
  apps/playground-web/src/hooks/useTokensData.ts
  apps/playground-web/src/lib/types.ts
  apps/playground-web/src/lib/utils.ts
Labels: playground

[Docs] Portal Images (#7526)
  apps/portal/public/og/background-1.png
  apps/portal/public/og/icons/account-abstraction.svg
  apps/portal/public/og/icons/auth.svg
  apps/portal/public/og/icons/contract.svg
  apps/portal/public/og/icons/contracts.svg
  apps/portal/public/og/icons/infra.svg
  apps/portal/public/og/icons/insight.svg
  apps/portal/public/og/icons/nebula.svg
  apps/portal/public/og/icons/payment.svg
  apps/portal/public/og/icons/payments.svg
  apps/portal/public/og/icons/rpc.svg
  apps/portal/public/og/icons/storage.svg
  apps/portal/public/og/icons/transactions.svg
  apps/portal/public/og/icons/vault.svg
  apps/portal/public/og/icons/wallets.svg
  apps/portal/src/app/api/og/route.tsx
  apps/portal/src/app/pay/page.mdx
  apps/portal/src/app/pay/supported-chains/page.mdx
Labels: portal

feat: webhooks list in dashboard
  apps/dashboard/.env.example
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/api/webhook-configs.ts
  apps/dashboard/src/@/api/webhook-metrics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/create-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/delete-webhook-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/edit-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/topic-selector-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-configs-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-metrics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/contracts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/use-available-topics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/use-webhook-configs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/use-webhook-metrics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
Labels: dashboard

fix error msg
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
Labels: packages, sdk

exports
  packages/thirdweb/src/exports/extensions/stylus.ts
Labels: packages, sdk

Stylus CLI updates (#7502)
  packages/thirdweb/scripts/generate/abis/stylus/IArbWasm.json
  packages/thirdweb/scripts/generate/abis/stylus/IStylusConstructor.json
  packages/thirdweb/scripts/generate/abis/stylus/IStylusDeployer.json
  packages/thirdweb/src/cli/commands/stylus/builder.ts
  packages/thirdweb/src/cli/commands/stylus/check-prerequisites.ts
  packages/thirdweb/src/cli/commands/stylus/create.ts
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/exports/extensions/stylus.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IArbWasm/read/codehashVersion.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IStylusConstructor/write/stylus_constructor.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IStylusDeployer/events/ContractDeployed.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IStylusDeployer/write/deploy.ts
  packages/thirdweb/src/extensions/stylus/write/activateStylusContract.ts
  packages/thirdweb/src/extensions/stylus/write/deployWithStylusConstructor.ts
  packages/thirdweb/src/extensions/stylus/write/isContractActivated.ts
Labels: packages, sdk

Add transaction activity logs with expandable timeline view
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Checkpoint before follow-up message
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

Checkpoint before follow-up message
  apps/dashboard/public/robots.txt
Labels: dashboard

Checkpoint before follow-up message
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/opengraph-image.tsx
Labels: dashboard

Refactor server client creation and add fallback for missing secret key
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractFromParams.ts
  apps/dashboard/src/app/(app)/(dashboard)/profile/[addressOrEns]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/[version]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/utils/publishedContractOGImageTemplate.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/page.tsx
  apps/dashboard/src/app/(app)/project-showcase/[slug]/page.tsx
  apps/dashboard/src/app/(app)/project-showcase/page.tsx
  apps/dashboard/src/app/bridge/constants.ts
  apps/dashboard/src/app/pay/constants.ts
Labels: dashboard

feat: add activity log section to transaction details page
  apps/dashboard/src/@/components/contract-components/shared/contract-id-image.tsx
  apps/dashboard/src/@/constants/thirdweb-client.server.ts
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractFromParams.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/chain-icon.tsx
  apps/dashboard/src/app/(app)/(dashboard)/profile/[addressOrEns]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/[version]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/utils/publishedContractOGImageTemplate.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/page.tsx
  apps/dashboard/src/app/(app)/project-showcase/[slug]/page.tsx
  apps/dashboard/src/app/(app)/project-showcase/page.tsx
Labels: dashboard

feat: improve activity log visual indicators and timestamp handling
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

fix: use same timestamp pattern as Timing Information card
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard

feat: use createdAt instead of timestamp for activity log time displays
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: dashboard
