Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

Update page.mdx (#6572)
  apps/portal/src/app/connect/pay/overview/page.mdx
Labels: portal

insight webhooks docs
  apps/portal/src/app/insight/sidebar.tsx
  apps/portal/src/app/insight/webhooks/filtering/page.mdx
  apps/portal/src/app/insight/webhooks/managing-webhooks/page.mdx
  apps/portal/src/app/insight/webhooks/page.mdx
  apps/portal/src/app/insight/webhooks/payload/page.mdx
Labels: portal

Update page.mdx
  apps/portal/src/app/insight/webhooks/filtering/page.mdx
Labels: portal

Support stylus contracts publish and deploy (#6495)
  .changeset/sharp-bugs-dance.md
  packages/thirdweb/package.json
  packages/thirdweb/scripts/generate/abis/stylus/IArbWasm.json
  packages/thirdweb/src/cli/bin.ts
  packages/thirdweb/src/cli/commands/stylus/builder.ts
  packages/thirdweb/src/cli/commands/stylus/create.ts
  packages/thirdweb/src/contract/deployment/deploy-deterministic.ts
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/contract/deployment/utils/bootstrap.ts
  packages/thirdweb/src/contract/deployment/utils/infra.ts
  packages/thirdweb/src/exports/extensions/stylus.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IArbWasm/write/activateProgram.ts
  packages/thirdweb/src/extensions/stylus/write/activateStylusContract.ts
  packages/thirdweb/src/utils/any-evm/compute-deployment-address.ts
  packages/thirdweb/src/utils/any-evm/compute-published-contract-deploy-info.ts
  packages/thirdweb/src/utils/any-evm/deploy-metadata.ts
  packages/thirdweb/src/utils/any-evm/encode-extra-data-with-uri.ts
  pnpm-lock.yaml
Labels: packages, sdk

[TOOL-3833] Dashboard: Fix overflow scroll created by sr-only element (#6576)
  apps/dashboard/src/@/components/ui/breadcrumb.tsx
  apps/dashboard/src/@/components/ui/pagination.tsx
Labels: dashboard

[TOOL-3814] Dashboard: Show all active coupons in team billing page
  apps/dashboard/.storybook/preview.tsx
  apps/dashboard/src/components/settings/Account/Billing/ApplyCouponCard.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponDetails.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/Coupons.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/Coupons.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/CouponsClient.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/CouponsUI.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: dashboard

insight webhooks docs (#6574)
  apps/portal/src/app/insight/sidebar.tsx
  apps/portal/src/app/insight/webhooks/filtering/page.mdx
  apps/portal/src/app/insight/webhooks/managing-webhooks/page.mdx
  apps/portal/src/app/insight/webhooks/page.mdx
  apps/portal/src/app/insight/webhooks/payload/page.mdx
Labels: portal

fix: reduce cost of playground commerce example
  apps/playground-web/src/components/pay/direct-payment.tsx
Labels: playground

fix: reduce cost of playground commerce example (#6577)
  apps/playground-web/src/components/pay/direct-payment.tsx
Labels: playground

fix: not found status
  .changeset/all-grapes-own.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
Labels: packages, sdk

Fix: Not Found Status should show Pending (#6578)
  .changeset/all-grapes-own.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
Labels: packages, sdk

[TOOL-3839] Fix double scrollbars in project settings page (#6579)
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
Labels: dashboard

[PayEmbed] Respect supportedTokens prop
  .changeset/modern-tables-sing.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, sdk

[PayEmbed] Respect supportedTokens prop (#6580)
  .changeset/modern-tables-sing.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, sdk

Version Packages (#6575)
  .changeset/all-grapes-own.md
  .changeset/modern-tables-sing.md
  .changeset/sharp-bugs-dance.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

use default params
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
Labels: packages, sdk

fix impl param merge
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
Labels: packages, sdk

fix: increase commerce price to avoid minimum purchase errors
  apps/playground-web/src/components/pay/direct-payment.tsx
Labels: playground

Fix: Increase commerce price to avoid minimum purchase errors (#6582)
  apps/playground-web/src/components/pay/direct-payment.tsx
Labels: playground

add: full translation of the ru_RU locale
  .changeset/silver-doors-change.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/ru.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/getInjectedWalletLocale.test.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/getInjectedWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/ru.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/ru.ts
Labels: packages, sdk

[TOOL-3814] Dashboard: Show all active coupons in team billing page (#6568)
  apps/dashboard/.storybook/preview.tsx
  apps/dashboard/src/components/settings/Account/Billing/ApplyCouponCard.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponDetails.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/Coupons.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/Coupons.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/CouponsClient.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/CouponsUI.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: dashboard

[CLI] Fix secret key handling
  .changeset/neat-clowns-wish.md
  packages/thirdweb/src/cli/bin.ts
  packages/thirdweb/src/cli/commands/stylus/builder.ts
Labels: packages, sdk

[SDK] fix: Use default contract params with optional overrides (#6581)
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
Labels: packages, sdk

[CLI] Fix secret key handling (#6584)
  .changeset/neat-clowns-wish.md
  packages/thirdweb/src/cli/bin.ts
  packages/thirdweb/src/cli/commands/stylus/builder.ts
Labels: packages, sdk

Version Packages (#6585)
  .changeset/neat-clowns-wish.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[Marketplace] Add erc20Value for makeOffer extension function
  .changeset/wicked-kings-joke.md
  packages/thirdweb/src/extensions/marketplace/offers/write/makeOffer.ts
Labels: packages, sdk

[SDK] Add erc20Value for makeOffer extension function (#6588)
  .changeset/wicked-kings-joke.md
  packages/thirdweb/src/extensions/marketplace/offers/write/makeOffer.ts
Labels: packages, sdk

[portal] added module warning (#6590)
  apps/portal/src/app/contracts/modular-contracts/module-contracts/cross-chain/agglayer/page.mdx
Labels: portal

Remove tutorial routes from framer rewrites (#6592)
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: dashboard

[TOOL-3874] Portal: Fix pl.js script CSP error (#6591)
  apps/portal/next.config.mjs
Labels: portal

Add glossary slug route to framer rewrites (#6594)
  apps/dashboard/framer-rewrites.js
Labels: dashboard

[SDK] Fix bytecode caching (#6593)
  .changeset/neat-wasps-count.md
  packages/thirdweb/src/extensions/prebuilts/process-ref-deployments.test.ts
  packages/thirdweb/src/utils/any-evm/deploy-metadata.ts
Labels: packages, sdk

[TOOL-3873] Fix pageview tracking in dashboard, Add posthog to playground (#6595)
  apps/dashboard/src/app/components/root-providers.tsx
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/components/wallets/PosthogIdentifier.tsx
  apps/dashboard/src/lib/posthog/Posthog.tsx
  apps/dashboard/src/lib/posthog/PosthogHeadSetup.tsx
  apps/dashboard/src/lib/posthog/PosthogPageView.tsx
  apps/playground-web/next.config.mjs
  apps/playground-web/package.json
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/lib/posthog/Posthog.tsx
  apps/playground-web/src/lib/posthog/PosthogHeadSetup.tsx
  apps/playground-web/src/lib/posthog/PosthogPageView.tsx
  apps/portal/src/app/layout.tsx
  apps/portal/src/lib/env.ts
  apps/portal/src/lib/posthog/PosthogHeadSetup.tsx
  apps/portal/src/lib/posthog/PosthogPageView.tsx
  pnpm-lock.yaml
Labels: dashboard, playground, portal

Dashboard: Fix AA page alert styles (#6596)
  apps/dashboard/src/components/settings/ApiKeys/Alerts.tsx
Labels: dashboard

[TOOL-3880] Playground: Add utm_source on links (#6597)
  apps/playground-web/src/app/connect/account-abstraction/connect/page.tsx
  apps/playground-web/src/app/connect/account-abstraction/native-aa/page.tsx
  apps/playground-web/src/app/connect/account-abstraction/sponsor/page.tsx
  apps/playground-web/src/app/connect/auth/page.tsx
  apps/playground-web/src/app/connect/blockchain-api/page.tsx
  apps/playground-web/src/app/connect/in-app-wallet/layout.tsx
  apps/playground-web/src/app/connect/pay/backend/layout.tsx
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/fund-wallet/page.tsx
  apps/playground-web/src/app/connect/pay/page.tsx
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
  apps/playground-web/src/app/connect/sign-in/button/LeftSection.tsx
  apps/playground-web/src/app/connect/sign-in/button/page.tsx
  apps/playground-web/src/app/connect/sign-in/components/InAppWalletFormGroup.tsx
  apps/playground-web/src/app/connect/sign-in/embed/page.tsx
  apps/playground-web/src/app/connect/sign-in/headless/page.tsx
  apps/playground-web/src/app/connect/social/page.tsx
  apps/playground-web/src/app/connect/ui/chain/page.tsx
  apps/playground-web/src/app/connect/ui/nft/page.tsx
  apps/playground-web/src/app/connect/ui/page.tsx
  apps/playground-web/src/app/connect/ui/token/page.tsx
  apps/playground-web/src/app/connect/ui/wallet/page.tsx
  apps/playground-web/src/app/insight/layout.tsx
  apps/playground-web/src/app/insight/page.tsx
  apps/playground-web/src/app/otherLinks.ts
  apps/playground-web/src/components/auth/gated-content.tsx
  apps/playground-web/src/components/blocks/APIHeader.tsx
  apps/playground-web/src/components/engine/minting/erc1155-mint-to.tsx
Labels: playground

[Playground] Fix: Filter UB Backend API for only GETs (#6604)
  apps/playground-web/src/app/connect/pay/backend/page.tsx
Labels: playground

Version Packages (#6589)
  .changeset/neat-wasps-count.md
  .changeset/wicked-kings-joke.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[PayEmbed] Only onramp for required transaction amount
  .changeset/cyan-kids-hide.md
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
Labels: packages, sdk

[SDK] Only onramp for required transaction amount (#6605)
  .changeset/cyan-kids-hide.md
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
Labels: packages, sdk

[thirdweb] Show past transactions in transactions modal screen
  .changeset/fruity-cooks-know.md
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  packages/thirdweb/src/react/core/hooks/contract/useWaitForReceipt.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletTransactionHistory.tsx
  packages/thirdweb/src/transaction/transaction-store.ts
  packages/thirdweb/src/utils/domain.test.ts
  packages/thirdweb/src/utils/domains.ts
Labels: playground, packages, sdk

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
