Repository thirdweb-dev/js, changes with the labels that .github/labeler.yml gives for each.
All labels: dashboard, playground, packages, sdk, portal, Ecosystem Portal

[Dashboard] Fix: Purchase Data (#7225)
  .changeset/dirty-cougars-teach.md
  apps/dashboard/src/@/api/universal-bridge/links.ts
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/app/pay/page.tsx
  packages/thirdweb/src/bridge/Webhook.test.ts
  packages/thirdweb/src/bridge/Webhook.ts
Labels: dashboard, packages, sdk

[thirdweb] Fix webhook transaction schema parsing
  .changeset/calm-pets-post.md
Labels: none

Version Packages (#7217)
  .changeset/dirty-cougars-teach.md
  .changeset/fuzzy-walls-allow.md
  .changeset/little-pillows-divide.md
  .changeset/lucky-jobs-relate.md
  .changeset/petite-falcons-ring.md
  packages/insight/CHANGELOG.md
  packages/insight/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

fix: token price cache to use proper address
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
Labels: packages, sdk

changeset
  .changeset/loose-tools-move.md
Labels: none

Dashboard: Reduce useThirdwebClient hook usage #2 (#7224)
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useDashboardStorageUpload.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/add-chain-to-wallet.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/chain-header.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/transfer-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/primary-sale.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/royalties.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/transfer-button.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeader.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/mint-ui.tsx
  apps/dashboard/src/app/(app)/providers.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/components/configure-networks/ConfigureNetworkForm.tsx
  apps/dashboard/src/components/configure-networks/Form/IconUpload.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/modular-contract-default-modules-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/param.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/primary-sale-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/royalty-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/sequential-token-id-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/split-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/trusted-forwarders-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/contract-params-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/impl-params-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/index.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/landing-fieldset.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/index.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/string-input.tsx
Labels: dashboard

Dashboard: Reduce useThirdwebClient hook usage #3 (#7226)
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/PayModal.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/BuyFundsSection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/FaucetSection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/AccountPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/deposit-native.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/ModuleForm.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/install-module-params.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(app)/(dashboard)/profile/[addressOrEns]/ProfileUI.tsx
  apps/dashboard/src/app/(app)/(dashboard)/profile/[addressOrEns]/components/profile-header.tsx
  apps/dashboard/src/app/(app)/(dashboard)/profile/[addressOrEns]/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tools/transaction-simulator/components/TransactionSimulator.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeader.tsx
  apps/dashboard/src/app/(app)/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/(app)/account/contracts/_components/DeployViaCLIOrImportCard.tsx
  apps/dashboard/src/app/(app)/account/contracts/_components/DeployedContractsPage.tsx
  apps/dashboard/src/app/(app)/account/layout.tsx
  apps/dashboard/src/app/(app)/components/autoconnect.tsx
  apps/dashboard/src/app/(app)/login/LoginPage.tsx
  apps/dashboard/src/app/(app)/login/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/add-partner/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/allowed-operations-section.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/partner-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/partners/[partner_id]/edit/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/SettingsLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/page.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

[SDK] Fix: Token price cache to use proper address (#7230)
  .changeset/loose-tools-move.md
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
Labels: packages, sdk

Dashboard: Integrate PostHog for enhanced analytics in Providers component
  apps/dashboard/src/app/bridge/components/client/Providers.client.tsx
Labels: dashboard

Adds posthog to payment links
  apps/dashboard/src/app/pay/components/client/Providers.client.tsx
Labels: dashboard

[Dashboard] add empty state for Pay analytics (#7206)
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/components/ui/code/code.server.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayEmbedFTUX.tsx
  packages/thirdweb/src/bridge/Buy.ts
Labels: dashboard, packages, sdk

[Dashboard] Feature: Adds PostHog tracking to bridge page (#7232)
  apps/dashboard/src/app/bridge/components/client/Providers.client.tsx
  apps/dashboard/src/app/pay/components/client/Providers.client.tsx
Labels: dashboard

Fix: Update PayAnalytics component to use projectClientId instead of clientId for better clarity in prop usage
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
Labels: dashboard

Dashboard: Fix TS errors (#7235)
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
Labels: dashboard

SDK: Fallback to insight response if RPC request fails in ERC721 & ERC1155 extensions
  .changeset/shaggy-tables-care.md
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/marketplace-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/table.tsx
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
Labels: dashboard, packages, sdk

[TOOL-4648] Dashboard: Fix timestamp in sponsored transactions table (#7236)
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTableUI.tsx
Labels: dashboard

Create datadog-synthetics.yml
  .github/workflows/datadog-synthetics.yml
Labels: none

Add text input option to airdrop setup
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/distribution/token-airdrop.tsx
Labels: dashboard

Refactor: Replace DOM manipulation with direct data processing
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/distribution/token-airdrop.tsx
  apps/dashboard/src/hooks/useCsvUpload.ts
Labels: dashboard

[Dashboard] Add crypto top-up functionality for account credits
  apps/dashboard/src/@/actions/stripe-actions.ts
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/utils/billing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/top-up-section.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: dashboard

SDK: Fallback to insight response if RPC request fails in getNFTs extensions (#7234)
  .changeset/shaggy-tables-care.md
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/marketplace-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/table.tsx
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
Labels: dashboard, packages, sdk

[Bridge] Add tokens() function to retrieve supported tokens
  .changeset/bridge-tokens-function.md
  packages/thirdweb/src/bridge/Token.test.ts
  packages/thirdweb/src/bridge/Token.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.ts
  packages/thirdweb/src/pay/convert/get-token.ts
Labels: packages, sdk

[SDK] Add Bridge.tokens() function to retrieve supported tokens (#7240)
  .changeset/bridge-tokens-function.md
  packages/thirdweb/src/bridge/Token.test.ts
  packages/thirdweb/src/bridge/Token.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.ts
  packages/thirdweb/src/pay/convert/get-token.ts
Labels: packages, sdk

Handle smart account detection for inApp and ecosystem wallets
  .changeset/two-bugs-rescue.md
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/core/utils/isSmartWallet.test.ts
  packages/thirdweb/src/react/core/utils/isSmartWallet.ts
  packages/thirdweb/src/react/core/utils/wallet.test.ts
  packages/thirdweb/src/react/core/utils/wallet.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectedModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/wallets/manager/index.ts
  packages/thirdweb/src/wallets/smart/get-smart-wallet-config.test.ts
  packages/thirdweb/src/wallets/smart/get-smart-wallet-config.ts
  packages/thirdweb/src/wallets/smart/is-smart-wallet.test.ts
  packages/thirdweb/src/wallets/smart/is-smart-wallet.ts
Labels: packages, sdk

[SDK] Handle smart account detection for inApp and ecosystem wallets (#7241)
  .changeset/two-bugs-rescue.md
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/core/utils/isSmartWallet.test.ts
  packages/thirdweb/src/react/core/utils/isSmartWallet.ts
  packages/thirdweb/src/react/core/utils/wallet.test.ts
  packages/thirdweb/src/react/core/utils/wallet.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectedModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/wallets/manager/index.ts
  packages/thirdweb/src/wallets/smart/get-smart-wallet-config.test.ts
  packages/thirdweb/src/wallets/smart/get-smart-wallet-config.ts
  packages/thirdweb/src/wallets/smart/is-smart-wallet.test.ts
  packages/thirdweb/src/wallets/smart/is-smart-wallet.ts
Labels: packages, sdk

[SDK] Optimize fiat conversion query
  .changeset/dark-dancers-hammer.md
  packages/thirdweb/src/pay/convert/cryptoToFiat.test.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.test.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.ts
Labels: packages, sdk

WIP brige embed
  AGENTS.md
  packages/thirdweb/package.json
  packages/thirdweb/scripts/wallets/generate.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.ts
  packages/thirdweb/src/react/PRODUCT.md
  packages/thirdweb/src/react/TASK_LIST.md
  packages/thirdweb/src/react/TECH_SPEC.md
  packages/thirdweb/src/react/components.md
  packages/thirdweb/src/react/core/adapters/.keep
  packages/thirdweb/src/react/core/adapters/WindowAdapter.ts
  packages/thirdweb/src/react/core/errors/.keep
  packages/thirdweb/src/react/core/errors/mapBridgeError.test.ts
  packages/thirdweb/src/react/core/errors/mapBridgeError.ts
  packages/thirdweb/src/react/core/hooks/useBridgeError.test.ts
  packages/thirdweb/src/react/core/hooks/useBridgeError.ts
  packages/thirdweb/src/react/core/hooks/useBridgePrepare.test.ts
  packages/thirdweb/src/react/core/hooks/useBridgePrepare.ts
  packages/thirdweb/src/react/core/hooks/useBridgeRoutes.test.ts
  packages/thirdweb/src/react/core/hooks/useBridgeRoutes.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.test.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.test.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/core/machines/.keep
  packages/thirdweb/src/react/core/machines/paymentMachine.test.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/core/types/.keep
  packages/thirdweb/src/react/core/utils/persist.ts
  packages/thirdweb/src/react/native/adapters/WindowAdapter.ts
  packages/thirdweb/src/react/native/flows/.keep
  packages/thirdweb/src/react/web/adapters/WindowAdapter.ts
  packages/thirdweb/src/react/web/adapters/adapters.test.ts
  packages/thirdweb/src/react/web/flows/.keep
  packages/thirdweb/src/react/web/ui/Bridge/TokenBalanceRow.tsx
  packages/thirdweb/src/react/web/ui/components/TokenIcon.tsx
  packages/thirdweb/src/stories/TokenBalanceRow.stories.tsx
  packages/thirdweb/src/stories/WalletRow.stories.tsx
  packages/thirdweb/src/wallets/__generated__/wallet-infos.ts
  pnpm-lock.yaml
Labels: packages, sdk

[SDK] Optimize fiat conversion query (#7242)
  .changeset/dark-dancers-hammer.md
  packages/thirdweb/src/pay/convert/cryptoToFiat.test.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.test.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.ts
Labels: packages, sdk

WIP brige embed
  AGENTS.md
  packages/thirdweb/package.json
  packages/thirdweb/scripts/wallets/generate.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.ts
  packages/thirdweb/src/react/PRODUCT.md
  packages/thirdweb/src/react/TASK_LIST.md
  packages/thirdweb/src/react/TECH_SPEC.md
  packages/thirdweb/src/react/components.md
  packages/thirdweb/src/react/core/adapters/.keep
  packages/thirdweb/src/react/core/adapters/WindowAdapter.ts
  packages/thirdweb/src/react/core/errors/.keep
  packages/thirdweb/src/react/core/errors/mapBridgeError.test.ts
  packages/thirdweb/src/react/core/errors/mapBridgeError.ts
  packages/thirdweb/src/react/core/hooks/useBridgeError.test.ts
  packages/thirdweb/src/react/core/hooks/useBridgeError.ts
  packages/thirdweb/src/react/core/hooks/useBridgePrepare.test.ts
  packages/thirdweb/src/react/core/hooks/useBridgePrepare.ts
  packages/thirdweb/src/react/core/hooks/useBridgeRoutes.test.ts
  packages/thirdweb/src/react/core/hooks/useBridgeRoutes.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.test.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.test.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/core/machines/.keep
  packages/thirdweb/src/react/core/machines/paymentMachine.test.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/core/types/.keep
  packages/thirdweb/src/react/core/utils/persist.ts
  packages/thirdweb/src/react/native/adapters/WindowAdapter.ts
  packages/thirdweb/src/react/native/flows/.keep
  packages/thirdweb/src/react/web/adapters/WindowAdapter.ts
  packages/thirdweb/src/react/web/adapters/adapters.test.ts
  packages/thirdweb/src/react/web/flows/.keep
  packages/thirdweb/src/react/web/ui/Bridge/TokenBalanceRow.tsx
  packages/thirdweb/src/react/web/ui/components/TokenIcon.tsx
  packages/thirdweb/src/stories/TokenBalanceRow.stories.tsx
  packages/thirdweb/src/stories/WalletRow.stories.tsx
  packages/thirdweb/src/wallets/__generated__/wallet-infos.ts
  pnpm-lock.yaml
Labels: packages, sdk

[SDK] Include native tokens in Insight.getOwnedTokens
  .changeset/shaky-seals-cheer.md
  packages/thirdweb/src/insight/get-tokens.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.tsx
Labels: packages, sdk

[SDK] Filter out zero-value token balances in swap UI
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.tsx
Labels: packages, sdk

Version Packages (#7231)
  .changeset/bridge-tokens-function.md
  .changeset/dark-dancers-hammer.md
  .changeset/loose-tools-move.md
  .changeset/shaggy-tables-care.md
  .changeset/two-bugs-rescue.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, sdk

[SDK] Filter out zero-value token balances in swap UI (#7244)
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.tsx
Labels: packages, sdk

more optimizations
  packages/thirdweb/src/insight/get-tokens.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.tsx
Labels: packages, sdk

[SDK] Include native tokens in Insight.getOwnedTokens (#7243)
  .changeset/shaky-seals-cheer.md
  packages/thirdweb/src/insight/get-tokens.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.tsx
Labels: packages, sdk

[Docs] Improvements to acct, ec, and vault docs (#7246)
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/account/billing/manage-team/page.mdx
  apps/portal/src/app/account/faq/page.mdx
  apps/portal/src/app/engine/v3/configure-wallets/smart-server-wallet/server-wallets/page.mdx
  apps/portal/src/app/engine/v3/faq/page.mdx
  apps/portal/src/app/engine/v3/troubleshoot/page.mdx
  apps/portal/src/app/nebula/faqs/page.mdx
  apps/portal/src/app/typescript/v5/migrate/page.mdx
  apps/portal/src/app/vault/faqs/page.mdx
Labels: portal

docs: Add page on domain verification
  apps/portal/src/app/knowledge-base/how-to/verify-your-team-email-domain/page.mdx
  apps/portal/src/app/knowledge-base/sidebar.tsx
Labels: portal

docs: Add page on domain verification (#7247)
  apps/portal/src/app/knowledge-base/how-to/verify-your-team-email-domain/page.mdx
  apps/portal/src/app/knowledge-base/sidebar.tsx
Labels: portal

fix: docs formatting for verified domains page
  apps/portal/src/app/knowledge-base/how-to/verify-your-team-email-domain/page.mdx
Labels: portal

fix: docs formatting for verified domains page (#7248)
  apps/portal/src/app/knowledge-base/how-to/verify-your-team-email-domain/page.mdx
Labels: portal

.github/labeler.yml:

# PRs with these paths will be labeled with the following labels
dashboard:
  - changed-files:
    - any-glob-to-any-file: "apps/dashboard/**/*"
playground:
  - changed-files:
    - any-glob-to-any-file: "apps/playground-web/**/*"
packages:
  - changed-files:
    - any-glob-to-any-file: "packages/**/*"
sdk:
  - changed-files:
    - any-glob-to-any-file: "packages/thirdweb/**/*"
portal:
  - changed-files:
    - any-glob-to-any-file: "apps/portal/**/*"
"Ecosystem Portal":
  - changed-files:
    - any-glob-to-any-file: "apps/wallet-ui/**/*"
