Repository thirdweb-dev/js, pull requests merged in 2023-06, with the labels that each got.

#1016 [SDK] Publish flow updates
  .changeset/spicy-clouds-lick.md
  packages/sdk/src/evm/core/sdk.ts
  packages/sdk/src/evm/schema/contracts/custom.ts
  packages/sdk/test/evm/any-evm-keyless.test.ts
Labels: enhancement, DO NOT MERGE

#1271 mass rename smart-wallet -> account
  .changeset/friendly-years-walk.md
  packages/react-core/src/evm/hooks/async/account-factory.ts
  packages/react-core/src/evm/hooks/async/account.ts
  packages/react-core/src/evm/hooks/async/smart-wallet-factory.ts
  packages/react-core/src/evm/index.ts
  packages/react-core/src/evm/utils/cache-keys.ts
  packages/sdk/src/evm/constants/contract-features.ts
  packages/sdk/src/evm/constants/thirdweb-features.ts
  packages/sdk/src/evm/contracts/smart-contract.ts
  packages/sdk/src/evm/core/classes/account-factory.ts
  packages/sdk/src/evm/core/classes/account.ts
  packages/sdk/src/evm/core/classes/index.ts
  packages/sdk/src/evm/types/account.ts
  packages/sdk/src/evm/types/index.ts
  packages/sdk/test/evm/account.test.ts
Labels: enhancement

#1281 [SDK] Handle ERC4337Signer correctly in signTypedDataInternal
  .changeset/tidy-dogs-tap.md
  packages/chains/chains/112358.ts
  packages/chains/chains/570.ts
  packages/chains/chains/6102.ts
  packages/chains/chains/9000.ts
  packages/chains/chains/9001.ts
  packages/chains/src/index.ts
  packages/sdk/src/evm/common/sign.ts
Labels: bug
