Repository thirdweb-dev/js, pull requests merged in 2024-08, with the labels that each got.

#3896 fix(react): OTP validation in React Native Connect UI
  .changeset/popular-rules-listen.md
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
Labels: bug, hotfix, packages

#3897 [Fix] Remove 'create' command from key-requiring CLI commands
  .changeset/rude-fireants-compete.md
  packages/thirdweb/src/cli/bin.ts
Labels: packages

#3898 Version Packages
  .changeset/popular-rules-listen.md
  .changeset/rude-fireants-compete.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#3895 feat(localization): Add Korean and French locale support
  .changeset/khaki-actors-argue.md
  apps/playground-web/src/components/styled-connect-button.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/es.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/fr.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/ja.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/kr.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/tl.ts
  packages/thirdweb/src/react/web/ui/types.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/fr.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/getInjectedWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/ja.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/kr.ts
  packages/thirdweb/src/react/web/wallets/local/locale/fr.ts
  packages/thirdweb/src/react/web/wallets/local/locale/getLocalWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/local/locale/ja.ts
  packages/thirdweb/src/react/web/wallets/local/locale/kr.ts
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/locale/de.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/en.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/es.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/fr.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/ja.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/kr.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/tl.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/types.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/vi.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/fr.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/getSmartWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/ja.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/kr.ts
  packages/thirdweb/src/react/web/wallets/walletConnect/locale.ts
Labels: DO NOT MERGE, playground, packages

#3901 fix(gas): handle gas free chains where baseFeePerGas is 0
  .changeset/rare-starfishes-impress.md
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  legacy_packages/sdk/src/evm/core/classes/internal/contract-wrapper.ts
  packages/thirdweb/src/gas/fee-data.ts
Labels: dashboard, packages

#3904 Remove ja_JP locale set in playground for ConnectButton
  apps/playground-web/src/components/styled-connect-button.tsx
Labels: playground

#3903 fix(thirdweb): resolve occasional iframe error during OAuth login
  .changeset/unlucky-news-tease.md
  packages/thirdweb/src/wallets/in-app/web/lib/auth/oauth.ts
Labels: hotfix, packages

#3905 [Fix] Correct integer check logic in middleware function
  apps/dashboard/src/middleware.ts
Labels: dashboard

#3900 Version Packages
  .changeset/khaki-actors-argue.md
  .changeset/rare-starfishes-impress.md
  .changeset/unlucky-news-tease.md
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3906 fix(tests): update PayEmbed tests to use waitFor for render assertions
  packages/thirdweb/src/react/web/ui/PayEmbed-disconnected.test.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.test.tsx
Labels: packages

#3908 chore(jsdocs): enhance JSDoc examples across multiple hooks and functions
  packages/thirdweb/src/react/core/hooks/contract/useContractEvents.ts
  packages/thirdweb/src/react/core/hooks/contract/useReadContract.ts
  packages/thirdweb/src/react/core/hooks/others/useWalletBalance.ts
  packages/thirdweb/src/react/core/hooks/wallets/useActiveAccount.ts
  packages/thirdweb/src/react/core/utils/wallet.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/transaction/actions/send-transaction.ts
  packages/thirdweb/src/transaction/prepare-contract-call.ts
  packages/thirdweb/src/transaction/read-contract.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/index.ts
Labels: packages

#3899 [Feature] Add Chainlist link and update header styles
  apps/dashboard/src/app/components/Header/DashboardHeader.tsx
  apps/dashboard/src/app/components/Header/headerLinks.ts
  apps/dashboard/src/components/layout/app-shell/index.tsx
Labels: dashboard

#3826 [dashboard] Chain page redesign
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/dialog.tsx
  apps/dashboard/src/@/components/ui/drawer.tsx
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/account-abstraction/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/PayModal.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/add-chain-to-wallet.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/live-stats.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/nav-link.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/tabs.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/icons/CreditCardIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/icons/GiftIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/BuyFundsSection.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/ChainOverviewSection.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/ClaimChainSection.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/FaucetSection.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/SectionTitle.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/SupportedProductsSection.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/chain-header.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/cta-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/explorer-section.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/faucets-section.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/info-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/primary-info-item.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/sidebar-content.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/connect-sdk/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/engine/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/faucet/components/SpinWheel.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/faucet/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/pay/components/pay-embed.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/pay/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/popular/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/rpc-edge/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/faucet/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chainlist-row.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/chain-icon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/(dashboard)/trending/components/pagination.client.tsx
  apps/dashboard/src/app/(dashboard)/trending/components/sorting-header.client.tsx
  apps/dashboard/src/app/(dashboard)/trending/components/trending-table.tsx
  apps/dashboard/src/app/(dashboard)/trending/page.tsx
  apps/dashboard/src/app/components/Header/DashboardHeader.tsx
  apps/dashboard/src/app/components/sdk-component-theme.ts
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/lib/search.ts
  apps/dashboard/src/pages/_app.tsx
  apps/dashboard/tailwind.config.js
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  pnpm-lock.yaml
Labels: merge-queue, dashboard, packages

#3911 Chainlist default banner for PAID CHAINS
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/cta-thirdweb.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/lumia-cta.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/lumiaBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/superpositionBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/superpositionCTA.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/thirdweb-banner.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

#3913 test: adds msw
  .github/contributing.md
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  packages/thirdweb/test/src/mocks/storage.ts
  pnpm-lock.yaml
Labels: packages

#3916 Chain page tweaks
  apps/dashboard/src/@/components/ui/tooltip.tsx
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/MobileMenu.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/add-chain-to-wallet.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/chain-header.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/cta-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/sidebar-content.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
Labels: merge-queue, dashboard

#3907 <Crusade> Dashboard to v5: Marketplace v3
  .changeset/serious-goats-reflect.md
  apps/dashboard/src/@3rdweb-sdk/react/components/roles/lister-only.tsx
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useContractRoles.ts
  apps/dashboard/src/contract-ui/tabs/listings/components/list-form.tsx
  apps/dashboard/src/contract-ui/tabs/shared-components/list-button.tsx
  apps/dashboard/src/contract-ui/tabs/shared-components/listing-drawer.tsx
  packages/thirdweb/src/extensions/marketplace/direct-listings/types.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/utils.ts
  packages/thirdweb/src/extensions/marketplace/english-auctions/types.ts
  packages/thirdweb/src/extensions/marketplace/english-auctions/utils.ts
Labels: dashboard, packages

#3909 <Crusade> Type-only migration!
  apps/dashboard/src/components/contract-pages/table/table-columns/cells/media-cell.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/mint-form.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/table.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-lazy-mint.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
  apps/dashboard/src/lib/wallet/nfts/alchemy.ts
  apps/dashboard/src/pages/dashboard/settings/storage.tsx
  apps/dashboard/src/types/modified-types.d.ts
  apps/dashboard/src/utils/batch.ts
  apps/dashboard/src/utils/parseAttributes.ts
Labels: dashboard, packages

#3919 [dashboard] Enhance UI consistency across chain page components
  apps/dashboard/src/@/components/ui/CopyTextButton.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/live-stats.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/BuyFundsSection.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/ChainOverviewSection.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/explorer-section.tsx
Labels: dashboard

#3920 fix: portal dependencies
  apps/portal/next.config.mjs
  apps/portal/package.json
  legacy_packages/wallets/test/zk-smart-wallet-integration.test.ts
  package.json
  pnpm-lock.yaml
Labels: portal

#3921 docs: add callouts for generating client ID across multiple guides
  apps/portal/src/app/connect/page.mdx
  apps/portal/src/app/react-native/v5/page.mdx
  apps/portal/src/app/react/v5/page.mdx
  apps/portal/src/app/typescript/v5/client/page.mdx
  apps/portal/src/app/typescript/v5/page.mdx
Labels: portal

#3910 <Crusade> Claim NFT drop to v5
  apps/dashboard/src/contract-ui/tabs/nfts/components/claim-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/claim-form.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/page.tsx
Labels: dashboard

#3923 Update to React migration docs
  apps/portal/src/app/react/v5/migrate/contracts/page.mdx
  apps/portal/src/app/react/v5/migrate/ethers-adapter/page.mdx
  apps/portal/src/app/react/v5/migrate/installation/page.mdx
  apps/portal/src/app/react/v5/migrate/page.mdx
  apps/portal/src/app/react/v5/migrate/use-v5-with-ethers/page.mdx
  apps/portal/src/app/react/v5/sidebar.tsx
  apps/portal/src/app/typescript/v5/migrate/page.mdx
Labels: portal

#3924 Fix typo in docs
  apps/portal/src/app/react/v5/migrate/ethers-adapter/page.mdx
Labels: portal

#3931 [Fix] Exclude auth token from pay URLs when setting request headers
  packages/thirdweb/src/utils/fetch.ts
Labels: packages

#3930 [Fix] Validate and decode `nextPath` to ensure it is a relative path before redirecting
  apps/dashboard/src/app/login/auth-actions.ts
Labels: dashboard

#3932 chore: add a small test for numberToHex()
  packages/thirdweb/src/utils/encoding/hex.test.ts
Labels: packages

#3933 [Chore] Uniform formatting in package.json and update fs imports
  apps/portal/package.json
  apps/portal/scripts/createEmptySearchIndex.ts
  apps/portal/scripts/extractSearchData.ts
  turbo.json
Labels: portal

#3926 Move FileInput from chakra to tailwind
  apps/dashboard/src/components/contract-components/contract-deploy-form/contract-metadata-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/landing-fieldset.tsx
  apps/dashboard/src/components/contract-components/publisher/edit-profile.tsx
  apps/dashboard/src/components/shared/FileInput.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/mint-form.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/metadata.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-lazy-mint.tsx
Labels: dashboard

#3928 Use shadcn checkbox in deploy form
  apps/dashboard/src/@/components/ui/checkbox.tsx
  apps/dashboard/src/@/components/ui/tooltip.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
Labels: dashboard

#3939 [Fix] Add 'Chainlist' link to header and update navigation structure
  apps/dashboard/src/app/components/Header/headerLinks.ts
  apps/dashboard/src/components/layout/app-shell/index.tsx
Labels: dashboard

#3925 Dashboard v5: Update dashboard [...paths].tsx to v5
  apps/dashboard/src/pages/[chain_id]/[...paths].tsx
Labels: dashboard

#3935 Dashboard: Fix [Open IPFS folder] link
  apps/dashboard/src/components/ipfs-upload/dropzone.tsx
Labels: dashboard

#3830 feat: telegram login
  apps/playground-web/src/lib/constants.ts
  packages/thirdweb/src/react/core/utils/socialIcons.ts
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/icons/svgs.ts
  packages/thirdweb/src/react/web/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/oauthSignIn.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/type.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Labels: playground, packages

#3940 Fix Forced dark theme on certain pages
  apps/dashboard/src/@/components/theme-provider.tsx
  apps/dashboard/src/components/landing-pages/layout.tsx
  apps/dashboard/src/components/product-pages/common/ProductPage.tsx
  apps/dashboard/src/pages/404.tsx
  apps/dashboard/src/pages/community/ambassadors.tsx
  apps/dashboard/src/pages/community/index.tsx
  apps/dashboard/src/pages/contact-us.tsx
  apps/dashboard/src/pages/events.tsx
  apps/dashboard/src/pages/grant/superchain.tsx
  apps/dashboard/src/pages/hackathon/consumer-crypto.tsx
  apps/dashboard/src/pages/hackathon/earn.tsx
  apps/dashboard/src/pages/hackathon/readyplayer3.tsx
  apps/dashboard/src/pages/index.tsx
  apps/dashboard/src/pages/learn/index.tsx
  apps/dashboard/src/pages/open-source.tsx
  apps/dashboard/src/pages/template/[id].tsx
  apps/dashboard/src/pages/templates.tsx
Labels: dashboard

#3929 Dashboard v5: Remove useStorageUpload
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useDashboardStorageUpload.tsx
  apps/dashboard/src/components/configure-networks/Form/IconUpload.tsx
  apps/dashboard/src/components/ipfs-upload/button.tsx
  apps/dashboard/src/components/ipfs-upload/dropzone.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/string-input.tsx
Labels: dashboard

#3927 Dashboard v5: Remove more v4 code
  apps/dashboard/src/@3rdweb-sdk/react/components/roles/minter-only.tsx
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useContractRoles.ts
  apps/dashboard/src/contract-ui/tabs/nfts/components/batch-lazy-mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/lazy-mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/reveal-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/shared-metadata-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/page.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/ContractChecklist.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/page.tsx
  apps/dashboard/src/core-ui/nft-drawer/useNftDrawerTabs.tsx
Labels: dashboard

#3943 [Feature] Add Content Security Policy and security headers configuration
  .github/CODEOWNERS
  apps/playground-web/next.config.mjs
  apps/portal/next.config.mjs
  apps/wallet-ui/next.config.mjs
Labels: playground, portal

#3941 Added Celo Alfajores Testnet within the chain-definitions
  .changeset/rich-moons-add.md
  packages/thirdweb/src/chains/chain-definitions/celo-alfajores-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/metal-l2-testnet.ts
Labels: packages

#3950 Version Packages
  .changeset/rich-moons-add.md
  .changeset/serious-goats-reflect.md
  .changeset/sour-mugs-develop.md
  apps/portal/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages, portal

#3952 [Chore] Update thirdweb dependency to use workspace protocol
  apps/portal/package.json
  pnpm-lock.yaml
Labels: portal

#3953 Version Packages
  .changeset/rich-moons-add.md
  .changeset/serious-goats-reflect.md
  .changeset/sour-mugs-develop.md
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3954 chore: remove faulty test
  packages/thirdweb/src/extensions/airdrop/write/claimERC1155.test.ts
  packages/thirdweb/src/extensions/airdrop/write/claimERC20.test.ts
  packages/thirdweb/src/extensions/airdrop/write/claimERC721.test.ts
  packages/thirdweb/test/src/mocks/storage.ts
Labels: packages

#3959 Docs: Update locale table
  apps/portal/src/app/connect/sign-in/customization/page.mdx
Labels: portal

#3960 Updating Aleph Zero and Lumia chainlist
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/AlephZeroBanner.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/AlephZeroCTA.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

#3957 Add direct payments guide and webhooks documentation
  apps/portal/src/app/connect/pay/accept-direct-payments/page.mdx
  apps/portal/src/app/connect/pay/assets/direct-payments-flow.png
  apps/portal/src/app/connect/pay/webhooks/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
Labels: portal

#3956 fix(app): update header texts and contract address
  apps/playground-web/src/app/connect/pay/page.tsx
  apps/playground-web/src/components/pay/transaction-button.tsx
Labels: playground

#3942 Dashboard v5: Aug 05 updates
  apps/dashboard/package.json
  apps/dashboard/src/components/contract-components/published-contract/index.tsx
  apps/dashboard/src/components/contract-tabs/code/ContractCode.tsx
  apps/dashboard/src/contexts/error-handler.tsx
  apps/dashboard/src/contract-ui/tabs/direct-listings/page.tsx
  apps/dashboard/src/contract-ui/tabs/english-auctions/page.tsx
  apps/dashboard/src/contract-ui/tabs/listings/page.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/batch-lazy-mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/claim-tab.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/mint-form.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/reveal-form.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/metadata.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/platform-fees.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/primary-sale.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/royalties.tsx
  apps/dashboard/src/contract-ui/tabs/shared-components/list-button.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/claim-form.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/mint-form-erc20.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-lazy-mint.tsx
  apps/dashboard/src/core-ui/sidebar/detail-page.tsx
  apps/dashboard/src/hooks/useTxNotifications.ts
  apps/dashboard/src/pages/[chain_id]/[...paths].tsx
  pnpm-lock.yaml
Labels: dashboard

#3955 test(thirdweb): add condition to serialize-transaction eip1559 test based on TW_SECRET_KEY
  packages/thirdweb/src/transaction/serialize-transaction.test.ts
Labels: packages

#3962 fix(portal): update prefix URL in EditPage component
  apps/portal/src/components/Document/EditPage.tsx
Labels: portal

#3963 [Fix] Handle account switching inside connected wallet for SIWE auth
  .changeset/ninety-balloons-accept.md
  apps/playground-web/next.config.mjs
  apps/playground-web/package.json
  apps/playground-web/src/app/connect/auth/server/actions/auth.ts
  apps/playground-web/src/components/auth/auth-button.tsx
  apps/playground-web/src/components/auth/gated-content.tsx
  packages/thirdweb/src/react/core/hooks/auth/useSiweAuth.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectedModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.tsx
  pnpm-lock.yaml
Labels: playground, packages

#3965 [Test] Conditionally run `toSerializableTransaction` tests based on `TW_SECRET_KEY` environment variable
  packages/thirdweb/src/transaction/actions/to-serializable-transaction.test.ts
Labels: packages

#3973 [Chore] Update CI badge link in README.md
  packages/thirdweb/README.md
Labels: packages

#3934 upstream viem tweaks
  .changeset/purple-islands-grab.md
  packages/thirdweb/src/auth/constants.ts
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/transaction/serialize-transaction.ts
  packages/thirdweb/src/utils/signatures/sign.ts
  packages/thirdweb/src/utils/signatures/signature-to-hex.test.ts
  packages/thirdweb/src/utils/signatures/signature-to-hex.ts
Labels: packages

#3970 New Pay Guides + Sidebar Structure
  apps/portal/redirects.mjs
  apps/portal/src/app/connect/pay/assets/direct-payments-flow.png
  apps/portal/src/app/connect/pay/buy-with-crypto/get-started/page.mdx
  apps/portal/src/app/connect/pay/buy-with-crypto/get-started/react-example.mdx
  apps/portal/src/app/connect/pay/buy-with-crypto/get-started/typescript-example.mdx
  apps/portal/src/app/connect/pay/buy-with-crypto/overview/page.mdx
  apps/portal/src/app/connect/pay/buy-with-crypto/page.mdx
  apps/portal/src/app/connect/pay/buy-with-fiat/page.mdx
  apps/portal/src/app/connect/pay/fee-sharing/page.mdx
  apps/portal/src/app/connect/pay/get-started/page.mdx
  apps/portal/src/app/connect/pay/guides/accept-direct-payments/page.mdx
  apps/portal/src/app/connect/pay/guides/build-a-custom-experience/page.mdx
  apps/portal/src/app/connect/pay/guides/test-mode/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
Labels: portal

#3975 Dashboard: Delete Marketplace v2 listing page
  apps/dashboard/src/contract-ui/hooks/useRouteConfig.tsx
  apps/dashboard/src/contract-ui/tabs/listings/components/cancel-tab.tsx
  apps/dashboard/src/contract-ui/tabs/listings/components/list-form.tsx
  apps/dashboard/src/contract-ui/tabs/listings/components/listing-drawer.tsx
  apps/dashboard/src/contract-ui/tabs/listings/components/listing-stats.tsx
  apps/dashboard/src/contract-ui/tabs/listings/components/table.tsx
  apps/dashboard/src/contract-ui/tabs/listings/page.tsx
Labels: dashboard

#3977 [Feature] Add analytics tracking to FaucetButton component
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
Labels: dashboard

#3978 test(ts): adds test case for signMessage
  packages/thirdweb/src/utils/signatures/sign-message.test.ts
Labels: packages

#3968 fix: update import statement for smartWallet in smart-wallet.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Labels: packages

#3894 updated pay interface for onramp + gas
  .changeset/weak-roses-love.md
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
Labels: packages

#3966 Version Packages
  .changeset/itchy-shoes-poke.md
  .changeset/ninety-balloons-accept.md
  .changeset/purple-islands-grab.md
  .changeset/weak-roses-love.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#3936 Move deploy form outside the drawer to a page
  apps/dashboard/src/@/components/ui/select.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/drawer.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/trusted-forwarders-fieldset.tsx
  apps/dashboard/src/components/pages/publish.tsx
  apps/dashboard/src/components/selects/NetworkSelectorButton.tsx
  apps/dashboard/src/components/share-buttom/index.tsx
  apps/dashboard/src/pages/publish/[...paths].tsx
Labels: dashboard

#3938 Update deploy form layout
  apps/dashboard/src/components/contract-components/contract-deploy-form/contract-metadata-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/primary-sale-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/royalty-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/trusted-forwarders-fieldset.tsx
  apps/dashboard/src/components/pages/publish.tsx
  apps/dashboard/src/components/shared/FileInput.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/platform-fees.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/primary-sale.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/royalties.tsx
  apps/dashboard/src/core-ui/sidebar/contracts.tsx
  apps/dashboard/src/pages/publish/[...paths].tsx
Labels: dashboard

#3982 Dashboard v5: Remove v4 code
  apps/dashboard/src/@3rdweb-sdk/react/components/roles/admin-only.tsx
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useContractRoles.ts
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions-form/index.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions-form/phase.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/reset-claim-eligibility.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/ContractChecklist.tsx
  apps/dashboard/src/contract-ui/tabs/permissions/components/contract-permission.tsx
  apps/dashboard/src/contract-ui/tabs/permissions/components/permissions-editor.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/metadata.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/platform-fees.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/primary-sale.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/royalties.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/claim-button.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/claim-form.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/page.tsx
  apps/dashboard/src/core-ui/batch-upload/progress-box.tsx
Labels: dashboard

#3986 Add Abstract testnet to ZK Sync chain checks
  .changeset/nice-vans-juggle.md
  apps/dashboard/src/components/contract-components/hooks.ts
  legacy_packages/cli/src/cli/index.ts
  legacy_packages/sdk/src/evm/contracts/index.ts
  legacy_packages/wallets/src/evm/connectors/smart-wallet/utils.ts
  packages/thirdweb/src/chains/chain-definitions/abstract-testnet.ts
  packages/thirdweb/src/exports/chains.ts
  packages/thirdweb/src/wallets/smart/lib/utils.ts
Labels: dashboard, packages

#3989 Sync Chain object changes to Connection manager and wallets from UI components
  .changeset/silver-adults-sort.md
  packages/thirdweb/src/adapters/wallet-adapter.ts
  packages/thirdweb/src/chains/utils.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/reactive/store.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-wallet.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/ecosystem-core.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/manager/index.ts
  packages/thirdweb/src/wallets/native/create-wallet.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Labels: packages

#3990 allow useActiveWalletChain direct usage in dashboard
  apps/dashboard/.eslintrc.js
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/add-chain-to-wallet.tsx
  apps/dashboard/src/components/app-layouts/provider-setup.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/index.tsx
  apps/dashboard/src/components/contract-components/hooks.ts
  apps/dashboard/src/components/contract-components/import-contract/modal.tsx
  apps/dashboard/src/components/onboarding/Steps.tsx
  apps/dashboard/src/components/wallets/PosthogIdentifier.tsx
  apps/dashboard/src/contract-ui/tabs/account/components/account-balance.tsx
  apps/dashboard/src/lib/v5-adapter.ts
Labels: dashboard

#3996 Added Fraxtal and Mode Testnets to the chain-definitions
  .changeset/strange-jars-search.md
  packages/thirdweb/src/chains/chain-definitions/fraxtal-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/mode-testnet.ts
Labels: packages

#3999 [Chore] Unify import statements in chain definition files
  packages/thirdweb/src/chains/chain-definitions/fraxtal-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/mode-testnet.ts
Labels: packages

#3997 fix(ts): migrate serializeTransaction and universalSignatureValidatorByteCode to viem
  .changeset/few-badgers-deny.md
  legacy_packages/crypto/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/auth/constants.ts
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/transaction/serialize-transaction.test.ts
  packages/thirdweb/src/transaction/serialize-transaction.ts
  pnpm-lock.yaml
Labels: packages

#3994 [dash] deploy form layout + various UI updates/fixes
  apps/dashboard/src/@/components/blocks/BurgerMenuButton.tsx
  apps/dashboard/src/@/components/blocks/Sidebar.tsx
  apps/dashboard/src/@/components/ui/NavLink.tsx
  apps/dashboard/src/@/components/ui/checkbox.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/MobileMenu.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/chain-header.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/sidebar-content.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/components/color-mode/color-mode-toggle.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/layout/app-shell/index.tsx
  apps/dashboard/src/components/pages/publish.tsx
  apps/dashboard/src/pages/publish/[...paths].tsx
Labels: dashboard

#4002 [dashboard] No sign-in required for /dashboard/connect/playground page
  apps/dashboard/src/@/constants/auth.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useLoggedInUser.ts
  apps/dashboard/src/middleware.ts
Labels: dashboard

#4000 Update page.mdx
  apps/portal/src/app/dotnet/getting-started/page.mdx
Labels: portal

#4009 updated from modules to extensions in the build sidebar
  apps/portal/src/app/contracts/sidebar.tsx
Labels: merge-queue, portal

#4010 Move CMD+K search to shadcn/tailwind, clamp search result title to 2 lines
  apps/dashboard/src/components/cmd-k-search/index.tsx
Labels: dashboard

#4012 test(thirdweb): skip deployModularCore tests dependent on TW_SECRET_KEY
  packages/thirdweb/src/extensions/prebuilts/deploy-modular-core.test.ts
Labels: hotfix, packages

#4008 Fix "All Wallets" not shown by default in Pay UI when trying to connect a new wallet
  .changeset/odd-chicken-pretend.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages

#4013 Joe plume additions
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/plumeBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/plumeCTA.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

#3988 Dashboard v5 Aug 07 run
  apps/dashboard/src/components/custom-contract/contract-header/contract-metadata.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions-form/index.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions-form/phase.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/page.tsx
  apps/dashboard/src/contract-ui/tabs/overview/helpers/getGuidesAndTemplates.ts
  apps/dashboard/src/core-ui/nft-drawer/useNftDrawerTabs.tsx
  apps/dashboard/src/lib/claimcondition-utils.ts
  apps/dashboard/src/lib/wallet/nfts/types.ts
  apps/dashboard/src/pages/[chain_id]/[...paths].tsx
  apps/dashboard/src/pages/contracts/deploy/[contractId].tsx
Labels: dashboard

#4011 test(smart-wallet): update tests to run sequentially and improve admin check
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: packages

#4014 [Hotfix] ethers v5 adapter
  .changeset/little-forks-reply.md
  packages/thirdweb/src/adapters/ethers5.ts
Labels: hotfix, packages

#3797 feat(thirdweb): headless multi-auth
  .changeset/green-wombats-rest.md
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/exports/wallets/embedded.ts
  packages/thirdweb/src/exports/wallets/in-app.native.ts
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/direct-listings.test.ts
  packages/thirdweb/src/extensions/marketplace/english-auctions/english-auctions.test.ts
  packages/thirdweb/src/extensions/marketplace/offers/offers.test.ts
  packages/thirdweb/src/react/core/utils/storage.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
  packages/thirdweb/src/wallets/in-app/core/authentication/linkAccount.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/core/interfaces/connector.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/index.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/profiles.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
  packages/thirdweb/src/wallets/in-app/native/auth/index.ts
  packages/thirdweb/src/wallets/in-app/native/auth/native-auth.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/api/fetchers.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/auth/logout.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/auth/middleware.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/storage/local.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/types.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/wallet/creation.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/wallet/retrieval.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/abstract-login.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/base-login.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/iframe-auth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/oauth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/passkeys.ts
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-account.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/in-app/web/types.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
Labels: playground, packages

#3870 feat(react): multi-auth UI
  .changeset/afraid-peaches-admire.md
  .changeset/chilled-ants-float.md
  .changeset/wild-readers-relate.md
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/react/core/hooks/others/useProfiles.ts
  packages/thirdweb/src/react/core/utils/walletIcon.ts
  packages/thirdweb/src/react/native/ui/components/TokenIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AnyWalletConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/screen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/AddUserIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/MultiUserIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/de.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/en.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/es.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/fr.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/ja.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/kr.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/tl.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/vi.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkProfileScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkedProfilesScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ManageWalletScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/types.ts
  packages/thirdweb/src/react/web/ui/components/Spinner.tsx
  packages/thirdweb/src/react/web/ui/components/TokenIcon.tsx
  packages/thirdweb/src/react/web/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletFormUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletFormUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/PassKeyLogin.tsx
  packages/thirdweb/src/react/web/wallets/shared/SocialLogin.tsx
  packages/thirdweb/src/react/web/wallets/shared/locale/en.ts
  packages/thirdweb/src/react/web/wallets/shared/oauthSignIn.ts
  packages/thirdweb/src/wallets/ecosystem/types.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/getLoginPath.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/linkAccount.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/core/interfaces/connector.ts
  packages/thirdweb/src/wallets/in-app/native/auth/native-auth.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/abstract-login.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/iframe-auth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/oauth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/otp.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Labels: playground, packages

#4015 fix(wallet): resolve issues with native AutoConnect and URL token retrieval
  .changeset/clean-mugs-study.md
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
Labels: packages

#4018 Fix stretched chain icons
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/chain-icon.tsx
Labels: dashboard

#4007 Fix add to dashboard for zksync
  apps/dashboard/src/components/contract-components/hooks.ts
Labels: merge-queue, dashboard

#4019 Dashboard: Migrate account-signer to v5
  apps/dashboard/src/contract-ui/tabs/account-permissions/components/account-signer.tsx
  apps/dashboard/src/contract-ui/tabs/account-permissions/components/account-signers.tsx
  apps/dashboard/src/contract-ui/tabs/account-permissions/page.tsx
Labels: dashboard

#3995 Split extensions
  .changeset/lovely-ears-serve.md
  packages/thirdweb/scripts/generate/abis/split/Split.json
  packages/thirdweb/src/exports/extensions/split.ts
  packages/thirdweb/src/extensions/split/__generated__/Split/read/payee.ts
  packages/thirdweb/src/extensions/split/__generated__/Split/read/payeeCount.ts
  packages/thirdweb/src/extensions/split/__generated__/Split/read/releasable.ts
  packages/thirdweb/src/extensions/split/__generated__/Split/read/released.ts
  packages/thirdweb/src/extensions/split/__generated__/Split/read/shares.ts
  packages/thirdweb/src/extensions/split/__generated__/Split/read/totalReleased.ts
  packages/thirdweb/src/extensions/split/__generated__/Split/write/distribute.ts
  packages/thirdweb/src/extensions/split/__generated__/Split/write/release.ts
  packages/thirdweb/src/extensions/split/read/releasableByToken.ts
  packages/thirdweb/src/extensions/split/read/releasedByToken.ts
  packages/thirdweb/src/extensions/split/read/totalReleasedByToken.ts
  packages/thirdweb/src/extensions/split/write/distributeByToken.ts
  packages/thirdweb/src/extensions/split/write/releaseByToken.ts
Labels: packages

#4016 Update Deploy Form Header UI
  apps/dashboard/src/@/lib/shareLink.ts
  apps/dashboard/src/components/pages/publish.tsx
  apps/dashboard/src/components/share-buttom/index.tsx
  apps/dashboard/src/pages/publish/[...paths].tsx
Labels: dashboard

#4017 Update Error Handler Modal UI
  apps/dashboard/src/@/components/ui/CopyTextButton.tsx
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/components/cmd-k-search/index.tsx
  apps/dashboard/src/contexts/error-handler.tsx
Labels: dashboard

#4024 added back in build for cli
  apps/portal/src/app/cli/build/page.mdx
Labels: portal

#4028 fix account signer crash
  apps/dashboard/src/contract-ui/tabs/account-permissions/components/account-signer.tsx
  apps/dashboard/src/contract-ui/tabs/account-permissions/components/account-signers.tsx
  apps/portal/pnpm-lock.yaml
Labels: dashboard, portal

#4020 Force legacy 248, 9372, 841, 842
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages

#4025 Show No Funds modal with Faucet/Pay options for TransactionButton
  apps/dashboard/src/@/components/ui/dialog.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/FaucetSection.tsx
  apps/dashboard/src/app/api/testnet-faucet/can-claim/CanClaimResponseType.ts
  apps/dashboard/src/app/api/testnet-faucet/can-claim/route.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
Labels: dashboard

#4029 fix(wallet): fix SIWE auth in ecosystem wallets
  .changeset/afraid-icons-nail.md
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
Labels: packages

#4031 Fix broken Contract metadata image
  apps/dashboard/src/components/custom-contract/contract-header/metadata-header.tsx
Labels: dashboard

#4032 feat(react): add `enabled` param to `useWalletBalance` hook
  .changeset/yellow-numbers-yell.md
  packages/thirdweb/src/react/core/hooks/others/useWalletBalance.ts
Labels: packages

#4030 Deploy form layout updates, Fix faucet claim condition
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/switch.tsx
  apps/dashboard/src/app/api/testnet-faucet/can-claim/route.ts
  apps/dashboard/src/components/cmd-k-search/index.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/common.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/contract-metadata-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/primary-sale-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/royalty-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/split-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/trusted-forwarders-fieldset.tsx
  apps/dashboard/src/components/selects/CustomChainRenderer.tsx
  apps/dashboard/src/components/selects/NetworkSelectorButton.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/address-input.tsx
  pnpm-lock.yaml
Labels: dashboard

#3917 Unreal 1.1 Docs
  apps/portal/src/app/unreal/assets/unreal-level.png
  apps/portal/src/app/unreal/assets/unreal-settings.png
  apps/portal/src/app/unreal/blueprints/page.mdx
  apps/portal/src/app/unreal/getting-started/page.mdx
  apps/portal/src/app/unreal/page.mdx
  apps/portal/src/app/unreal/sidebar.tsx
  apps/portal/src/app/unreal/thirdweb-common/page.mdx
  apps/portal/src/app/unreal/thirdweb-function-library/page.mdx
  apps/portal/src/app/unreal/thirdweb-runtime-settings/page.mdx
  apps/portal/src/app/unreal/thirdweb-signer/page.mdx
  apps/portal/src/app/unreal/thirdweb-subsystem/page.mdx
  apps/portal/src/app/unreal/thirdweb-wallet-handle/page.mdx
  apps/portal/src/app/unreal/thirdweb/page.mdx
  apps/portal/tsconfig.json
Labels: docs, portal

#4035 Update page.mdx
  apps/portal/src/app/contracts/build/extensions/page.mdx
Labels: portal

#4036 Update page.mdx
  apps/portal/src/app/connect/page.mdx
Labels: portal

#4037 [Feature] Refactor chain services handling in API calls
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/(chain)/types/chain.ts
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  legacy_packages/wallets/package.json
  package.json
  pnpm-lock.yaml
Labels: dashboard

#4038 [Chore] Remove unused 'faucet' service from chain logic
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/types/chain.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

#4039 feat(dashboard): add assetlinks.json for Android app link verification
  apps/dashboard/public/.well-known/assetlinks.json
Labels: dashboard

#4041 [Hotfix] Remove async modifier from TrendingContractSection in trending-table.tsx
  apps/dashboard/src/app/(dashboard)/trending/components/trending-table.tsx
Labels: dashboard

#4040 [Refactor] Remove unused Bun availability check in CLI bin file
  .changeset/chilled-parents-peel.md
  packages/thirdweb/src/cli/bin.ts
Labels: packages

#4042 Version Packages
  .changeset/chilled-parents-peel.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4043 feat(dashboard): add apple-app-site-association for iOS app link verification
  apps/dashboard/public/.well-known/apple-app-site-association
  apps/dashboard/public/.well-known/assetlinks.json
Labels: dashboard

#4033 [Dashboard/SDK] Add more Split extensions and remove Split v4 code from Dashboard
  .changeset/bright-kiwis-smell.md
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useSplit.ts
  apps/dashboard/src/contract-ui/tabs/account/components/account-balance.tsx
  apps/dashboard/src/contract-ui/tabs/account/page.tsx
  apps/dashboard/src/contract-ui/tabs/split/components/distribute-button.tsx
  apps/dashboard/src/contract-ui/tabs/split/page.tsx
  packages/thirdweb/scripts/generate/abis/prebuilts/Split.json
  packages/thirdweb/scripts/generate/abis/split/Split.json
  packages/thirdweb/src/exports/deploys.ts
  packages/thirdweb/src/exports/extensions/split.ts
  packages/thirdweb/src/extensions/prebuilts/__generated__/Split/write/initialize.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-split.test.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-split.ts
  packages/thirdweb/src/extensions/split/__generated__/Split/read/totalShares.ts
  packages/thirdweb/src/extensions/split/read/getAllRecipientsAddresses.test.ts
  packages/thirdweb/src/extensions/split/read/getAllRecipientsAddresses.ts
  packages/thirdweb/src/extensions/split/read/getAllRecipientsPercentages.test.ts
  packages/thirdweb/src/extensions/split/read/getAllRecipientsPercentages.ts
  packages/thirdweb/src/extensions/split/read/getRecipientSplitPercentage.test.ts
  packages/thirdweb/src/extensions/split/read/getRecipientSplitPercentage.ts
  packages/thirdweb/test/src/test-contracts.ts
Labels: dashboard, packages

#4046 fix(playground): do not attempt to decode nonexistent jwt
  apps/playground-web/src/components/auth/gated-content.tsx
Labels: bug, hotfix, playground

#4047 fix(react): switch chains for SIWE
  .changeset/forty-tools-hear.md
  apps/playground-web/src/app/connect/auth/server/actions/auth.ts
  apps/playground-web/src/components/auth/auth-button.tsx
  packages/thirdweb/src/react/core/hooks/auth/useSiweAuth.ts
Labels: merge-queue, playground, packages

#4049 chore: Engine v2-beta in docs
  apps/portal/src/app/engine/get-started/page.mdx
  apps/portal/src/app/engine/page.mdx
  apps/portal/src/app/engine/references/api-reference/page.mdx
  apps/portal/src/app/engine/self-host/page.mdx
  apps/portal/src/app/engine/sidebar.tsx
Labels: portal

#4053 [dashboard] Fix chains fetch failture in localhost
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
Labels: dashboard

#4059 chore: delete solutions page
  apps/portal/redirects.mjs
  apps/portal/src/app/solutions/gaming/assets/preview.png
  apps/portal/src/app/solutions/gaming/assets/unreal.png
  apps/portal/src/app/solutions/gaming/overview/page.mdx
  apps/portal/src/app/solutions/gaming/unreal-engine/quickstart/page.mdx
  apps/portal/src/app/solutions/layout.tsx
  apps/portal/src/app/solutions/page.mdx
  apps/portal/src/app/solutions/sidebar.tsx
Labels: merge-queue, portal

#4058 Update Startup program page layout
  apps/dashboard/public/assets/startup-program/ava1anche_logo.png
  apps/dashboard/public/assets/startup-program/buildandscale-image.png
  apps/dashboard/public/assets/startup-program/community-image.png
  apps/dashboard/public/assets/startup-program/cube-bottom.png
  apps/dashboard/public/assets/startup-program/cube-top.png
  apps/dashboard/public/assets/startup-program/cube-topleft.png
  apps/dashboard/public/assets/startup-program/cube-topright.png
  apps/dashboard/public/assets/startup-program/gradient-1.png
  apps/dashboard/public/assets/startup-program/gradient-2.png
  apps/dashboard/public/assets/startup-program/gradient-3.png
  apps/dashboard/public/assets/startup-program/gradient-4.png
  apps/dashboard/public/assets/startup-program/gradient-5.png
  apps/dashboard/public/assets/startup-program/mentorsandVCs-image.png
  apps/dashboard/public/assets/startup-program/powered-by-aws-white.png
  apps/dashboard/src/pages/community/startup-program.tsx
  apps/dashboard/src/pages/community/three-box-layout.tsx
Labels: merge-queue, dashboard

#4056 docs: fix multi auth jsdocs
  packages/thirdweb/src/react/core/hooks/others/useProfiles.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/profiles.ts
Labels: merge-queue, packages

#4065 test: fix split tests
  packages/thirdweb/src/extensions/split/read/getAllRecipientsAddresses.test.ts
  packages/thirdweb/src/extensions/split/read/getAllRecipientsPercentages.test.ts
  packages/thirdweb/src/extensions/split/read/getRecipientSplitPercentage.test.ts
Labels: merge-queue, packages

#4066 Add Deploy button link on the Contract Card
  apps/dashboard/src/components/explore/contract-card/index.tsx
Labels: dashboard

#4069 feat(dashboard): add handle_all_urls relation to assetlinks.json for Android app link verification
  apps/dashboard/public/.well-known/assetlinks.json
Labels: dashboard

#4057 Update Deploy modal
  apps/dashboard/src/components/app-layouts/app.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/deploy-context-modal.tsx
  apps/dashboard/src/components/contract-components/hooks.ts
Labels: dashboard

#4068 chore: fix deploy-split test
  packages/thirdweb/src/extensions/prebuilts/deploy-split.test.ts
Labels: packages

#4050 [Dashboard] Migrate PlatformFees to v5
  apps/dashboard/src/constants/schemas.ts
  apps/dashboard/src/contract-ui/tabs/settings/components/platform-fees.tsx
  apps/dashboard/src/contract-ui/tabs/settings/page.tsx
Labels: dashboard

#4070 [Dashboard] Fix missing contract metadata
  .changeset/nasty-masks-carry.md
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useDashboardContractMetadata.tsx
  apps/dashboard/src/components/custom-contract/contract-header/contract-metadata.tsx
  packages/thirdweb/src/contract/actions/get-compiler-metadata.ts
  packages/thirdweb/src/exports/contract.ts
  packages/thirdweb/src/utils/any-evm/deploy-metadata.ts
Labels: dashboard, packages

#4045 refactor(thirdweb): update siwe interface
  .changeset/grumpy-squids-laugh.md
  packages/thirdweb/src/wallets/in-app/core/authentication/getLoginPath.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/native/auth/native-auth.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Labels: merge-queue, packages

#4071 Docs - .NET 1.4.0 // Unity 5.0.0-beta.3
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/utils/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/in-app-wallet/page.mdx
  apps/portal/src/app/unity/v5/contracts/page.mdx
  apps/portal/src/app/unity/v5/thirdwebmanager/page.mdx
  apps/portal/src/app/unity/v5/wallets/in-app-wallet/page.mdx
Labels: portal

#4072 Dustin/treasure chain page update
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/treasureBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/treasureCta.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

#4073 [Dashboard] Fix contract query key
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useDashboardContractMetadata.tsx
Labels: dashboard

#4067 Fix Various "couldn't be rendered statically" errors in Sentry
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/popular/page.tsx
  apps/dashboard/src/app/(dashboard)/trending/components/sorting-header.client.tsx
  apps/dashboard/src/app/(dashboard)/trending/components/trending-table.tsx
  apps/dashboard/src/app/(dashboard)/trending/page.tsx
Labels: dashboard

#4076 [Dash] various small updates and fixes
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useDashboardContractMetadata.tsx
  apps/dashboard/src/components/contract-components/tables/cells.tsx
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
Labels: dashboard

#4083 Do not show "No Funds" Modal when switch chain is required
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

#4079 Fix useLayoutEffect warnings
  apps/dashboard/src/@/components/ui/DynamicHeight.tsx
  apps/dashboard/src/@/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/@/lib/useIsomorphicLayoutEffect.ts
  apps/dashboard/src/app/components/Header/MobileBurgerMenu.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/index.tsx
  apps/dashboard/src/contract-ui/tabs/analytics/page.tsx
  apps/dashboard/src/contract-ui/tabs/code/page.tsx
  apps/dashboard/src/contract-ui/tabs/events/page.tsx
  apps/dashboard/src/contract-ui/tabs/permissions/page.tsx
  apps/dashboard/src/core-ui/sidebar/tunnel.tsx
  apps/dashboard/src/hooks/useNativeColorMode.ts
Labels: dashboard

#4084 [Fix] Lower faucet amount to 0.01
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/FaucetSection.tsx
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

#4080 Add validation for NFT claim amount to be integer
  apps/dashboard/src/contract-ui/tabs/nfts/components/claim-form.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/claim-tab.tsx
Labels: merge-queue, dashboard

#4085 Fix isLoggedin auth action
  apps/dashboard/src/app/login/auth-actions.ts
Labels: dashboard

#4086 Remove sign-in requirement for TransactionButton
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

#4087 [Chore] Add temporary redirect for /gas to /explore and remove GasPage component
  apps/dashboard/redirects.js
  apps/dashboard/src/pages/gas.tsx
Labels: dashboard

#4075 chore: Add queue metrics to dashboard
  apps/dashboard/src/@3rdweb-sdk/react/cache-keys.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/components/engine/configuration/system.tsx
  apps/dashboard/src/components/engine/system-metrics/index.tsx
Labels: dashboard

#4088 [Fix] Remove unused loginRequired prop from MismatchButton component
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

#4089 feat(dashboard): bring zksync signer back to direct deploys
  apps/dashboard/src/components/contract-components/hooks.ts
Labels: dashboard

#4090 [Chore] Remove unused 'amount' field from FaucetButton component and claim route
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
Labels: dashboard

#4093 [Refactor] Remove unused functions and improve faucet validation
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/api/testnet-faucet/can-claim/route.ts
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
  apps/dashboard/src/lib/ip.ts
  apps/dashboard/src/lib/redis.ts
Labels: dashboard

#4096 fix(dashboard): fix wrong 'version' prop import
  apps/dashboard/src/components/contract-components/hooks.ts
Labels: dashboard

#4091 Fix Connection with Safe using WalletConnect Link
  .changeset/khaki-parents-fail.md
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages

#4095 [Dashboard] use MediaRenderer for contract's avatar
  apps/dashboard/src/components/custom-contract/contract-header/metadata-header.tsx
Labels: dashboard

#4022 feat(inapp): add passkey authentication for native clients
  apps/playground-web/src/lib/constants.ts
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/wallets/in-app.native.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnect.ts
  packages/thirdweb/src/react/core/hooks/wallets/useConnect.ts
  packages/thirdweb/src/react/web/wallets/shared/PassKeyLogin.tsx
  packages/thirdweb/src/utils/bytecode/cbor-decode.ts
  packages/thirdweb/src/utils/uint8-array.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/client-scoped-storage.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/passkeys.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
  packages/thirdweb/src/wallets/in-app/native/auth/passkeys.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/api/fetchers.ts
  packages/thirdweb/src/wallets/in-app/native/in-app.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/iframe-auth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/passkeys.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-account.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/in-app/web/types.ts
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/InAppWalletIframeCommunicator.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-store.test.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-store.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages

#4077 feat(native): add passkey support in connect UI
  .changeset/nice-lemons-behave.md
  apps/playground-web/src/lib/constants.ts
  packages/thirdweb/src/react/core/design-system/index.ts
  packages/thirdweb/src/react/native/ui/components/RNImage.tsx
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectedModal.tsx
  packages/thirdweb/src/react/native/ui/connect/ExternalWalletsList.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/connect/LoadingView.tsx
  packages/thirdweb/src/react/native/ui/connect/ReceiveScreen.tsx
  packages/thirdweb/src/react/native/ui/connect/WalletLoadingThumbnail.tsx
  packages/thirdweb/src/wallets/in-app/native/helpers/auth/middleware.ts
Labels: playground, packages

#4104 [Dashboard] Hide ERC721 Claim button if viewing ERC1155 Drop
  apps/dashboard/src/contract-ui/tabs/nfts/components/claim-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/page.tsx
Labels: dashboard

#4103 Add Pay success tracking
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/PayModal.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: dashboard

#3715 Feat: Transaction Simulator
  apps/dashboard/src/@/components/ui/CodeBlock.tsx
  apps/dashboard/src/app/(dashboard)/tools/components/tabs.tsx
  apps/dashboard/src/app/(dashboard)/tools/transaction-simulator/components/TransactionSimulator.tsx
  apps/dashboard/src/app/(dashboard)/tools/transaction-simulator/page.tsx
  apps/dashboard/src/components/product-pages/common/nav/data.ts
Labels: dashboard

#4051 [Dashboard] Migration Royalties to v5
  apps/dashboard/src/contract-ui/tabs/settings/components/royalties.tsx
  apps/dashboard/src/contract-ui/tabs/settings/page.tsx
Labels: dashboard
