Repository thirdweb-dev/js, pull requests merged in 2024-06, with the labels that each got.

#3232 [TSv4] ZkSync AA & Default Factory
  .changeset/eleven-poems-hammer.md
  .changeset/heavy-birds-fail.md
  legacy_packages/react/src/evm/hooks/wallets/useSmartWallet.ts
  legacy_packages/unity-js-bridge/src/thirdweb-bridge.ts
  legacy_packages/wallets/src/evm/connectors/smart-wallet/index.ts
  legacy_packages/wallets/src/evm/connectors/smart-wallet/lib/constants.ts
  legacy_packages/wallets/src/evm/connectors/smart-wallet/lib/http-rpc-client.ts
  legacy_packages/wallets/src/evm/connectors/smart-wallet/lib/utils.ts
  legacy_packages/wallets/src/evm/connectors/smart-wallet/types.ts
  legacy_packages/wallets/src/evm/connectors/smart-wallet/utils.ts
  legacy_packages/wallets/src/evm/connectors/smart-wallet/zk-connector.ts
  legacy_packages/wallets/src/evm/connectors/smart-wallet/zk-wrapped-signer.ts
  legacy_packages/wallets/src/evm/wallets/smart-wallet.ts
  legacy_packages/wallets/test/zk-smart-wallet-integration.test.ts
Labels: DO NOT MERGE

#3347 Add ERC721 extension: updateMetadata & updateBatchBaseURI
  .changeset/slimy-camels-burn.md
  packages/thirdweb/scripts/generate/abis/erc721/DropERC721.json
  packages/thirdweb/src/exports/extensions/erc721.ts
  packages/thirdweb/src/extensions/erc721/__generated__/DropERC721/write/freezeBatchBaseURI.ts
  packages/thirdweb/src/extensions/erc721/__generated__/DropERC721/write/setMaxTotalSupply.ts
  packages/thirdweb/src/extensions/erc721/__generated__/DropERC721/write/updateBatchBaseURI.ts
  packages/thirdweb/src/extensions/erc721/drops/write/updateMetadata.test.ts
  packages/thirdweb/src/extensions/erc721/drops/write/updateMetadata.ts
Labels: merge-queue

#3377 Fix some typos in docs
  packages/thirdweb/src/react/native/hooks/wallets/useActiveWalletChain.ts
  packages/thirdweb/src/react/web/hooks/wallets/useActiveWalletChain.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButtonProps.ts
Labels: merge-queue

#3384 Fix React warning when clicking copy address button
  .changeset/spotty-parrots-own.md
  packages/thirdweb/src/react/web/ui/components/CopyIcon.tsx
Labels: merge-queue

#3376 Edition Drop extension: updateMetadata + few others
  .changeset/cyan-chefs-swim.md
  packages/thirdweb/scripts/generate/abis/erc1155/BatchMintMetadata.json
  packages/thirdweb/scripts/generate/abis/erc1155/DropERC1155.json
  packages/thirdweb/src/exports/extensions/erc1155.ts
  packages/thirdweb/src/extensions/erc1155/__generated__/BatchMintMetadata/events/BatchMetadataUpdate.ts
  packages/thirdweb/src/extensions/erc1155/__generated__/BatchMintMetadata/read/getBaseURICount.ts
  packages/thirdweb/src/extensions/erc1155/__generated__/BatchMintMetadata/read/getBatchIdAtIndex.ts
  packages/thirdweb/src/extensions/erc1155/__generated__/DropERC1155/write/freezeBatchBaseURI.ts
  packages/thirdweb/src/extensions/erc1155/__generated__/DropERC1155/write/setMaxTotalSupply.ts
  packages/thirdweb/src/extensions/erc1155/__generated__/DropERC1155/write/setSaleRecipientForToken.ts
  packages/thirdweb/src/extensions/erc1155/__generated__/DropERC1155/write/updateBatchBaseURI.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/updateMetadata.test.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/updateMetadata.ts
Labels: merge-queue

#3399 fix: typos
  apps/dashboard/src/components/shared/TWQueryTable.tsx
  apps/dashboard/src/pages/_app.tsx
  legacy_packages/cli/src/generate/command.ts
  legacy_packages/react-core/config/api-extractor-evm.json
  legacy_packages/react/config/api-extractor-evm.json
  legacy_packages/react/config/api-extractor-gnosis.json
  legacy_packages/react/config/api-extractor-magic.json
  legacy_packages/react/src/evm/utils/canFitWIdeModal.ts
  legacy_packages/sdk/config/api-extractor-evm.json
  legacy_packages/storage/config/api-extractor.json
  packages/thirdweb/src/react/web/utils/canFitWideModal.ts
Labels: dashboard, packages

#3405 Small typos in docs
  packages/thirdweb/src/react/core/hooks/contract/useContractEvents.ts
  packages/thirdweb/src/transaction/read-contract.ts
Labels: merge-queue, packages

#3409 [Chore] Add Vercel configuration for auto job cancelation in dashboard and playground-web apps
  apps/dashboard/vercel.json
  apps/playground-web/vercel.json
Labels: dashboard, playground

#3354 More unit tests
  packages/thirdweb/src/extensions/erc1155/drops/write/claimTo.test.ts
  packages/thirdweb/src/extensions/erc721/write/mintTo.test.ts
Labels: merge-queue, packages

#3406 fix(dashboard): can update image when no existing one
  .changeset/khaki-penguins-swim.md
  apps/dashboard/src/contract-ui/tabs/nfts/components/mint-form.tsx
Labels: dashboard

#3387 feat(react): add useWalletDetailsModal.open.onDisconnect prop to respond to disconnections
  .changeset/shy-lamps-raise.md
  packages/thirdweb/src/react/core/providers/wallet-connection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
Labels: packages

#3411 fix(wallets): always pass a string for in-app wallet signatures
  .changeset/fast-bats-mate.md
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-account.ts
Labels: packages

#3412 fix(wallets): add error handling to WalletConnectReceiverScreen and related modules
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletConnectReceiverScreen.tsx
  packages/thirdweb/src/wallets/wallet-connect/receiver/index.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/receiver.test.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/request-handlers/send-raw-transaction.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/request-handlers/sign-transaction.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-proposal.test.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-proposal.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-request.test.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-request.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/types.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/utils.ts
Labels: packages

#3404 fix(dashboard): renames NFT Properties to Attributes in UI to match metadata
  .changeset/chilly-phones-sort.md
  apps/dashboard/src/components/contract-pages/forms/properties.shared.tsx
  apps/dashboard/src/contract-ui/tabs/listings/components/listing-drawer.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/token-id.tsx
  apps/dashboard/src/contract-ui/tabs/shared-components/listing-drawer.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
Labels: dashboard

#3416 fix: always use CustomThemeProvider's theme prop in React
  package.json
  packages/thirdweb/src/react/core/design-system/CustomThemeProvider.tsx
  packages/thirdweb/src/react/web/providers/wallet-ui-states-provider.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/index.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
Labels: packages

#3417 refactor: update mobile upload to use getClientFetch for fetching
  .changeset/lucky-birds-wink.md
  packages/thirdweb/src/storage/upload/mobile.ts
  packages/thirdweb/src/storage/upload/types.ts
  packages/thirdweb/src/storage/uploadMobile.ts
Labels: packages

#3379 Version Packages
  .changeset/curvy-numbers-reply.md
  .changeset/cyan-chefs-swim.md
  .changeset/fast-bats-mate.md
  .changeset/hip-bears-repeat.md
  .changeset/khaki-apricots-turn.md
  .changeset/lucky-birds-wink.md
  .changeset/ninety-buttons-count.md
  .changeset/real-lies-visit.md
  .changeset/shy-lamps-raise.md
  .changeset/spotty-parrots-own.md
  .changeset/sync-chains.md
  .changeset/weak-months-repeat.md
  apps/dashboard/package.json
  legacy_packages/auth/CHANGELOG.md
  legacy_packages/auth/package.json
  legacy_packages/chains/CHANGELOG.md
  legacy_packages/chains/package.json
  legacy_packages/cli/CHANGELOG.md
  legacy_packages/cli/package.json
  legacy_packages/crypto/CHANGELOG.md
  legacy_packages/crypto/package.json
  legacy_packages/eslint-config-thirdweb/CHANGELOG.md
  legacy_packages/eslint-config-thirdweb/package.json
  legacy_packages/merkletree/CHANGELOG.md
  legacy_packages/merkletree/package.json
  legacy_packages/pay/CHANGELOG.md
  legacy_packages/pay/package.json
  legacy_packages/payments/CHANGELOG.md
  legacy_packages/payments/package.json
  legacy_packages/react-core/CHANGELOG.md
  legacy_packages/react-core/package.json
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/CHANGELOG.md
  legacy_packages/react/package.json
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/CHANGELOG.md
  legacy_packages/sdk/package.json
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/CHANGELOG.md
  legacy_packages/storage/package.json
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/unity-js-bridge/CHANGELOG.md
  legacy_packages/unity-js-bridge/package.json
  legacy_packages/wallets/CHANGELOG.md
  legacy_packages/wallets/package.json
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: dashboard, packages

#3422 Fix Connect UI not able to connect to unknown injected wallet + Fix icon, autoConnect
  .changeset/large-hounds-juggle.md
  packages/thirdweb/src/react/web/hooks/wallets/useAutoConnect.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AnyWalletConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/InjectedConnectUI.tsx
  packages/thirdweb/src/react/web/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectingScreen.tsx
Labels: packages

#3423 Version Packages
  .changeset/large-hounds-juggle.md
  legacy_packages/auth/CHANGELOG.md
  legacy_packages/auth/package.json
  legacy_packages/cli/CHANGELOG.md
  legacy_packages/cli/package.json
  legacy_packages/react-core/CHANGELOG.md
  legacy_packages/react-core/package.json
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/CHANGELOG.md
  legacy_packages/react/package.json
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/CHANGELOG.md
  legacy_packages/sdk/package.json
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/unity-js-bridge/CHANGELOG.md
  legacy_packages/unity-js-bridge/package.json
  legacy_packages/wallets/CHANGELOG.md
  legacy_packages/wallets/package.json
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3428 Update changesets and dependencies
  .changeset/curvy-numbers-reply.md
  .changeset/cyan-chefs-swim.md
  .changeset/fast-bats-mate.md
  .changeset/hip-bears-repeat.md
  .changeset/khaki-apricots-turn.md
  .changeset/large-hounds-juggle.md
  .changeset/lucky-birds-wink.md
  .changeset/ninety-buttons-count.md
  .changeset/real-lies-visit.md
  .changeset/shy-lamps-raise.md
  .changeset/spotty-parrots-own.md
  .changeset/sync-chains.md
  .changeset/weak-months-repeat.md
  apps/dashboard/package.json
  legacy_packages/auth/CHANGELOG.md
  legacy_packages/auth/package.json
  legacy_packages/chains/CHANGELOG.md
  legacy_packages/chains/package.json
  legacy_packages/cli/CHANGELOG.md
  legacy_packages/cli/package.json
  legacy_packages/crypto/CHANGELOG.md
  legacy_packages/crypto/package.json
  legacy_packages/eslint-config-thirdweb/CHANGELOG.md
  legacy_packages/eslint-config-thirdweb/package.json
  legacy_packages/merkletree/CHANGELOG.md
  legacy_packages/merkletree/package.json
  legacy_packages/pay/CHANGELOG.md
  legacy_packages/pay/package.json
  legacy_packages/payments/CHANGELOG.md
  legacy_packages/payments/package.json
  legacy_packages/react-core/CHANGELOG.md
  legacy_packages/react-core/package.json
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/CHANGELOG.md
  legacy_packages/react/package.json
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/CHANGELOG.md
  legacy_packages/sdk/package.json
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/CHANGELOG.md
  legacy_packages/storage/package.json
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/unity-js-bridge/CHANGELOG.md
  legacy_packages/unity-js-bridge/package.json
  legacy_packages/wallets/CHANGELOG.md
  legacy_packages/wallets/package.json
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: dashboard, packages

#3425 [Chore] Remove unused packages and files
  apps/dashboard/package.json
  apps/dashboard/src/@3rdweb-sdk/react/hooks/query/useQueryWithNetwork.ts
  apps/dashboard/src/components/explore/contract-card/index.tsx
  apps/dashboard/src/hooks/useLocalStorage.ts
  apps/dashboard/src/pages/api/bear-market-airdrop/airtable.ts
  apps/dashboard/src/pages/api/check-verification-status.ts
  apps/dashboard/src/pages/api/etherscan-fetch.ts
  apps/dashboard/src/pages/api/verify.ts
  apps/dashboard/src/pages/explore/[category]/index.tsx
  apps/dashboard/src/pages/profile/[profileAddress].tsx
  apps/dashboard/src/utils/router.ts
  pnpm-lock.yaml
Labels: dashboard

#3432 [Fix] Address ESLint issues in BasisPointsInput component
  apps/dashboard/src/components/inputs/BasisPointsInput.tsx
Labels: dashboard

#3430 [Chore] Update OG API: Remove redundant <title> elements and add isProd flag
  apps/dashboard/src/pages/api/og/chain/[chainId].tsx
  apps/dashboard/src/pages/api/og/contract.tsx
  apps/dashboard/src/pages/api/og/profile.tsx
  apps/dashboard/src/pages/api/og/publishedContract.tsx
Labels: dashboard

#3431 fix(dashboard): file uploads work across all browsers
  apps/dashboard/src/components/shared/FileInput.tsx
Labels: dashboard

#3429 feat(wallets): add disconnect functionality to WalletConnectReceiverScreen
  .changeset/rotten-otters-dance.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletConnectDisconnectScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletConnectReceiverScreen.tsx
Labels: packages

#3433 [Chore] Clean up Vercel utils import and refactor OG image generation
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/opengraph-image.tsx
  apps/dashboard/src/components/inputs/BasisPointsInput.tsx
  apps/dashboard/src/pages/api/og/contract.tsx
  apps/dashboard/src/pages/api/og/profile.tsx
  apps/dashboard/src/pages/api/og/publishedContract.tsx
Labels: dashboard

#3436 [Refactor] Update EngineNavigation with useCallback and useMemo, clean up imports
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/opengraph-image.tsx
  apps/dashboard/src/components/engine/engine-navigation.tsx
  apps/dashboard/src/core-ui/sidebar/engine.tsx
  apps/dashboard/src/core-ui/sidebar/nav.tsx
  apps/dashboard/src/core-ui/sidebar/types.ts
  apps/dashboard/src/pages/dashboard/engine/index.tsx
  package.json
Labels: dashboard

#3434 chore: upgrade TS
  .vscode/settings.json
  apps/dashboard/package.json
  apps/playground-web/package.json
  legacy_packages/auth/package.json
  legacy_packages/chains/package.json
  legacy_packages/cli/package.json
  legacy_packages/contracts-js/package.json
  legacy_packages/crypto/package.json
  legacy_packages/merkletree/package.json
  legacy_packages/pay/package.json
  legacy_packages/payments/package.json
  legacy_packages/react-core/package.json
  legacy_packages/react-native-compat/package.json
  legacy_packages/react-native/package.json
  legacy_packages/react/package.json
  legacy_packages/sdk/package.json
  legacy_packages/storage/package.json
  legacy_packages/unity-js-bridge/package.json
  legacy_packages/wallets/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/contract/actions/resolve-abi.ts
  pnpm-lock.yaml
Labels: dashboard, playground, packages

#3442 [Chore] Add conditional check in ERC1155 claimTo test using TW_SECRET_KEY
  packages/thirdweb/src/extensions/erc1155/drops/write/claimTo.test.ts
Labels: packages

#3443 Fix eip155 check
  .changeset/smart-avocados-juggle.md
  legacy_packages/sdk/src/evm/common/any-evm-constants.ts
  packages/thirdweb/src/utils/any-evm/is-eip155-enforced.ts
Labels: merge-queue, packages

#3445 [Chore] Add conditional check in ERC721 mintTo test using TW_SECRET_KEY
  packages/thirdweb/src/extensions/erc721/write/mintTo.test.ts
Labels: packages

#3444 [Chore] Add missing walletconnect exports to RN wallet exports
  .changeset/angry-seahorses-build.md
  packages/thirdweb/src/exports/wallets.native.ts
Labels: packages

#3394 Playground example: Blockchain API
  apps/playground-web/public/blockchain-api.png
  apps/playground-web/public/twcoin.svg
  apps/playground-web/src/app/connect/account-abstraction/page.tsx
  apps/playground-web/src/app/connect/blockchain-api/page.tsx
  apps/playground-web/src/app/connect/in-app-wallet/page.tsx
  apps/playground-web/src/app/page.tsx
  apps/playground-web/src/components/blockchain-api/read-contract-extension.tsx
  apps/playground-web/src/components/blockchain-api/read-contract-raw.tsx
  apps/playground-web/src/components/blockchain-api/shortenAddress.ts
  apps/playground-web/src/components/blockchain-api/watch-event-preview.tsx
  apps/playground-web/src/components/blockchain-api/write-contract-extension.tsx
  apps/playground-web/src/components/blockchain-api/write-contract-raw.tsx
Labels: playground

#3440 fix broken account abstraction link on dashboard and playground
  README.md
  apps/dashboard/src/pages/connect.tsx
  apps/dashboard/src/pages/solutions/chains.tsx
  apps/playground-web/src/app/connect/account-abstraction/page.tsx
Labels: dashboard, playground

#3452 Fix file input uploads
  apps/dashboard/src/components/shared/FileInput.tsx
Labels: merge-queue, dashboard

#3449 [Refactor] Remove unused ConnectUIContext and refactor wallet connection components
  .changeset/lovely-ways-kick.md
  packages/thirdweb/src/react/core/hooks/others/useWalletConnectionCtx.ts
  packages/thirdweb/src/react/core/providers/wallet-connection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AllWalletsUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AnyWalletConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalInline.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/DeepLinkConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/InjectedConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/SmartWalletConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/TOS.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/screen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/StartScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletFormUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletFormUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletSelectionUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/useInAppWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/shared/CoinbaseSDKConnection.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectingScreen.tsx
  packages/thirdweb/src/react/web/wallets/shared/GetStartedScreen.tsx
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/PassKeyLogin.tsx
  packages/thirdweb/src/react/web/wallets/shared/SocialLogin.tsx
  packages/thirdweb/src/react/web/wallets/shared/WalletConnectConnection.tsx
  packages/thirdweb/src/react/web/wallets/shared/locale/en.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/es.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/ja.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/tl.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/types.ts
Labels: packages

#3453 [Refactor] Simplify ConnectModal properties and related components
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AllWalletsUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AnyWalletConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalInline.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/InjectedConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/SmartWalletConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/screen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/StartScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletFormUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletFormUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletSelectionUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/CoinbaseSDKConnection.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectingScreen.tsx
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/PassKeyLogin.tsx
  packages/thirdweb/src/react/web/wallets/shared/SocialLogin.tsx
  packages/thirdweb/src/react/web/wallets/shared/WalletConnectConnection.tsx
  packages/thirdweb/src/react/web/wallets/walletConnect/locale.ts
Labels: packages

#3455 feat(cli): add --expo option to CLI for creating Expo projects
  .changeset/dry-jobs-reply.md
  legacy_packages/cli/src/cli/index.ts
  legacy_packages/cli/src/create/command.ts
Labels: CLI

#3456 Joe community updates
  apps/dashboard/public/assets/ambassadors/brolag.jpg
  apps/dashboard/public/assets/ambassadors/myCreativeOwl.jpg
  apps/dashboard/src/pages/community/ambassadors.tsx
  apps/dashboard/src/pages/community/startup-program.tsx
Labels: merge-queue, dashboard

#3451 [Feature] Add session transaction storage
  .changeset/cuddly-dots-fry.md
  packages/thirdweb/src/exports/transaction.ts
  packages/thirdweb/src/transaction/actions/gasless/send-gasless-transaction.ts
  packages/thirdweb/src/transaction/actions/send-transaction.test.ts
  packages/thirdweb/src/transaction/actions/send-transaction.ts
  packages/thirdweb/src/transaction/transaction-store.test.ts
  packages/thirdweb/src/transaction/transaction-store.ts
  packages/thirdweb/src/wallets/in-app/web/utils/Storage/LocalStorage.ts
Labels: packages

#3458 fix: update chain import paths
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButtonProps.ts
Labels: packages

#3395 Enhance CS Form
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useCreateSupportTicket.tsx
  apps/dashboard/src/components/help/SubmitTicketButton.tsx
  apps/dashboard/src/components/help/contact-forms/account/index.tsx
  apps/dashboard/src/components/help/contact-forms/connect/AffectedAreaInput.tsx
  apps/dashboard/src/components/help/contact-forms/connect/index.tsx
  apps/dashboard/src/components/help/contact-forms/contracts/index.tsx
  apps/dashboard/src/components/help/contact-forms/engine/index.tsx
  apps/dashboard/src/components/help/contact-forms/other/index.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_AttachmentUploader.tsx
  apps/dashboard/src/components/help/contact-support-modal.tsx
Labels: merge-queue, dashboard

#3463 [Chore] Remove ZoraTestnet references and update .gitignore
  .gitignore
  apps/dashboard/src/@3rdweb-sdk/react/hooks/usePayments.ts
  apps/dashboard/src/lib/wallet/nfts/types.ts
Labels: dashboard

#3459 docs(contributing): add instructions for testing React Native SDK changes
  .github/contributing.md
  packages/thirdweb/package.json
Labels: packages

#3421 Pay UI improvements
  .changeset/metal-moose-sit.md
  packages/thirdweb/package.json
  packages/thirdweb/src/react/core/design-system/index.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/CryptoIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayTokenIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/CurrencySelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatTxDetailsTable.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useBuyTxStates.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useEnabledPaymentMethods.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useUISelectionStates.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/BuyTokenInput.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PayWithCrypto.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/tx-history/BuyTxHistoryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/tx-history/TokenInfoRow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/utils.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/TokenSelector.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed-disconnected.test.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.test.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/react/web/ui/components/ChainName.tsx
  packages/thirdweb/src/react/web/ui/components/basic.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletFormUI.tsx
  packages/thirdweb/test/src/SetConnectedWallet.tsx
  packages/thirdweb/test/src/react-render.tsx
  pnpm-lock.yaml
Labels: packages

#3462 Show error message when uploading unaccepted file types
  apps/dashboard/src/components/ipfs-upload/dropzone.tsx
Labels: merge-queue, dashboard

#3447 Isaac/pay usage tracker schema
  .changeset/strong-taxis-sin.md
  packages/service-utils/src/cf-worker/usage.ts
Labels: packages

#3465 Fixed switch chain on WalletConnect
  .changeset/tiny-feet-fly.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages

#3475 [Refactor] Remove deprecated contract payments page and references
  apps/dashboard/.env.example
  apps/dashboard/README.md
  apps/dashboard/codegen.ts
  apps/dashboard/package.json
  apps/dashboard/redirects.js
  apps/dashboard/src/@3rdweb-sdk/react/cache-keys.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/usePayments.ts
  apps/dashboard/src/components/app-layouts/app.tsx
  apps/dashboard/src/components/pay/OldPaySetting.tsx
  apps/dashboard/src/components/payments/contracts/enabled-contracts.tsx
  apps/dashboard/src/components/payments/contracts/payment-contracts-table.tsx
  apps/dashboard/src/components/payments/contracts/payment-contracts.tsx
  apps/dashboard/src/components/payments/contracts/payment-enabled-card.tsx
  apps/dashboard/src/components/payments/enable-payments-button.tsx
  apps/dashboard/src/components/payments/settings/payment-settings-account.tsx
  apps/dashboard/src/components/payments/settings/payment-settings-checklist.tsx
  apps/dashboard/src/components/payments/settings/payment-settings-file-uploader.tsx
  apps/dashboard/src/components/payments/settings/payment-webhooks.tsx
  apps/dashboard/src/components/payments/settings/payments-webhooks-create-webhook-button.tsx
  apps/dashboard/src/components/payments/settings/payments-webhooks-table.tsx
  apps/dashboard/src/components/payments/settings/payments-webhooks-test.tsx
  apps/dashboard/src/contract-ui/hooks/useRouteConfig.tsx
  apps/dashboard/src/contract-ui/tabs/payments/components/create-update-checkout-button.tsx
  apps/dashboard/src/contract-ui/tabs/payments/components/mint-method-input.tsx
  apps/dashboard/src/contract-ui/tabs/payments/components/no-payments-enabled.tsx
  apps/dashboard/src/contract-ui/tabs/payments/components/no-wallet-connected-payments.tsx
  apps/dashboard/src/contract-ui/tabs/payments/components/payments-analytics.tsx
  apps/dashboard/src/contract-ui/tabs/payments/components/payments-checkouts.tsx
  apps/dashboard/src/contract-ui/tabs/payments/components/remove-checkout-button.tsx
  apps/dashboard/src/contract-ui/tabs/payments/page.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/paper-xyz.salty
  apps/dashboard/src/graphql/fragments/AnalyticOverview.graphql
  apps/dashboard/src/graphql/fragments/ApiSecretKey.graphql
  apps/dashboard/src/graphql/fragments/BaseContract.graphql
  apps/dashboard/src/graphql/fragments/Checkout.graphql
  apps/dashboard/src/graphql/fragments/Contract.graphql
  apps/dashboard/src/graphql/fragments/DetailedAnalytics.graphql
  apps/dashboard/src/graphql/fragments/Seller.graphql
  apps/dashboard/src/graphql/fragments/Webhook.graphql
  apps/dashboard/src/graphql/generated.ts
  apps/dashboard/src/graphql/mutations/InsertWebhook.graphql
  apps/dashboard/src/graphql/mutations/UpdateWebhook.graphql
  apps/dashboard/src/graphql/queries/ApiSecretKeyByOwnerId.graphql
  apps/dashboard/src/graphql/queries/CheckoutsByContractAddress.graphql
  apps/dashboard/src/graphql/queries/ContractsByOwnerId.graphql
  apps/dashboard/src/graphql/queries/DetailedAnalytics.graphql
  apps/dashboard/src/graphql/queries/Seller.graphql
  apps/dashboard/src/graphql/queries/UpdateSeller.graphql
  apps/dashboard/src/graphql/queries/WebhooksBySellerId.graphql
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/checkout.tsx
  apps/dashboard/src/pages/dashboard/connect/pay.tsx
  apps/dashboard/src/pages/solutions/gaming.tsx
  apps/dashboard/src/pages/solutions/loyalty.tsx
  apps/dashboard/src/pages/solutions/web2-onboarding.tsx
  apps/dashboard/src/pages/support.tsx
  pnpm-lock.yaml
Labels: dashboard

#3476 [v4] Fix buy with Crypto error when using InApp wallet
  .changeset/sharp-tools-scream.md
  legacy_packages/react/src/wallet/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
Labels: merge-queue

#3479 [Refactor] Remove unused modal components and simplify form layout
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsForm.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsModal.tsx
  apps/dashboard/src/components/onboarding/Steps.tsx
  apps/dashboard/src/components/settings/Account/Billing/CreditsItem.tsx
  apps/dashboard/src/pages/dashboard/settings/gas-credits.tsx
Labels: dashboard

#3482 [Fix] Add onClickApply handler to CreditsItem and CreditsButton components
  apps/dashboard/src/components/settings/Account/Billing/CreditsButton.tsx
  apps/dashboard/src/components/settings/Account/Billing/CreditsItem.tsx
Labels: dashboard

#3487 [Refactor] Update sponsorship policies to enable server verifier toggling
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
Labels: dashboard

#3485 Improved pay dashboard empty state ui
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalPayVolume.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalVolumePieChart.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/common.tsx
Labels: dashboard

#3486 Add pay card in landing page
  apps/dashboard/public/assets/product-icons/pay.svg
  apps/dashboard/src/components/product-pages/common/nav/data.ts
  apps/dashboard/src/pages/dashboard/index.tsx
Labels: dashboard

#3484 [Chore] Update PayEmbed test to increase timeout for connect wallet button
  packages/thirdweb/src/react/web/ui/PayEmbed-disconnected.test.tsx
  packages/thirdweb/src/rpc/actions/eth_getLogs.test.ts
Labels: packages

#3489 test(ts): improve airdrop test robustness
  packages/thirdweb/src/extensions/airdrop/write/airdropERC1155WithSignature.test.ts
  packages/thirdweb/src/extensions/airdrop/write/airdropERC20WithSignature.test.ts
  packages/thirdweb/src/extensions/airdrop/write/airdropERC721WithSignature.test.ts
  packages/thirdweb/src/extensions/airdrop/write/claimERC1155.test.ts
  packages/thirdweb/src/extensions/airdrop/write/claimERC20.test.ts
  packages/thirdweb/src/extensions/airdrop/write/claimERC721.test.ts
  packages/thirdweb/src/rpc/actions/eth_getLogs.test.ts
  packages/thirdweb/test/vitest.config.ts
Labels: packages

#3481 Export getClaimConditionById for Drop1155
  .changeset/warm-wasps-appear.md
  packages/thirdweb/src/exports/extensions/erc1155.ts
Labels: merge-queue, packages

#3488 fix(auth): add warning and improve parameter checks in verifySignature
  packages/thirdweb/src/auth/verifySignature.ts
Labels: packages

#3490 [Chore] Add conditional check in PayEmbed-disconnected test using TW_SECRET_KEY
  packages/thirdweb/src/react/web/ui/PayEmbed-disconnected.test.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.test.tsx
Labels: packages

#3480 fix(transaction): update EIP721 to EIP712 naming in getEip721Domain and prepare-transaction
  packages/thirdweb/src/transaction/actions/zksync/getEip721Domain.ts
  packages/thirdweb/src/transaction/prepare-transaction.ts
Labels: packages

#3492 ZkSync addresses update
  .changeset/eighty-carrots-count.md
  legacy_packages/sdk/src/evm/zksync/constants/addresses.ts
Labels: merge-queue, legacy_packages

#3506 [Chore] Enhance tsconfig and error handling across multiple packages
  legacy_packages/auth/package.json
  legacy_packages/auth/src/core/functions/jwt.ts
  legacy_packages/auth/src/evm/index.ts
  legacy_packages/auth/src/next-auth/index.ts
  legacy_packages/auth/src/next/router-pages/index.ts
  legacy_packages/auth/tsconfig.json
  legacy_packages/chains/scripts/sync-db.ts
  legacy_packages/chains/src/async.ts
  legacy_packages/chains/src/index.ts
  legacy_packages/chains/src/utils.ts
  legacy_packages/payments/tsconfig.json
  legacy_packages/react-core/src/core/providers/thirdweb-provider.tsx
  legacy_packages/react-core/src/core/providers/thirdweb-wallet-provider.tsx
  legacy_packages/react-core/src/evm/providers/thirdweb-sdk-provider.tsx
  legacy_packages/react/tsconfig.json
  legacy_packages/sdk/tsconfig.json
  legacy_packages/storage/src/common/urls.ts
  legacy_packages/storage/src/common/utils.ts
  legacy_packages/storage/src/core/downloaders/mock-downloader.ts
  legacy_packages/storage/src/core/storage.ts
  legacy_packages/storage/src/core/uploaders/ipfs-uploader.ts
  legacy_packages/storage/tsconfig.json
  legacy_packages/storage/tsconfig.test.json
  legacy_packages/wallets/tsconfig.json
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/node/index.ts
  packages/tw-tsconfig/base.json
Labels: packages

#3523 [Chore] Update zksync-ethers to 5.9.0 and modify useCustomContractDeployMutation
  apps/dashboard/package.json
  apps/dashboard/src/components/contract-components/hooks.ts
  pnpm-lock.yaml
Labels: dashboard

#3521 Fix openWindow not working inside iframe
  .changeset/strong-moons-add.md
  .vscode/settings.json
  legacy_packages/react/src/wallet/utils/openWindow.ts
  packages/thirdweb/src/react/web/wallets/shared/WalletConnectConnection.tsx
  packages/thirdweb/src/utils/web/openWindow.ts
Labels: merge-queue, packages

#3513 fix(ens): enhance ENS resolution tests and error handling
  .changeset/shiny-tables-remember.md
  packages/thirdweb/src/extensions/ens/resolve-name.test.ts
  packages/thirdweb/src/extensions/ens/resolve-name.ts
Labels: packages

#3507 fix(ts): in-app wallet user op signatures
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-account.ts
Labels: packages

#3528 feat(auth): fetch ecosystem auth options from server
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletHeader.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletFormUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/wallets/ecosystem/get-ecosystem-partner-permissions.ts
  packages/thirdweb/src/wallets/ecosystem/get-ecosystem-wallet-auth-options.ts
  packages/thirdweb/src/wallets/ecosystem/get-ecosystem-wallet-info.ts
Labels: packages

#3426 Version Packages
  .changeset/angry-seahorses-build.md
  .changeset/cuddly-dots-fry.md
  .changeset/curvy-numbers-reply.md
  .changeset/cyan-chefs-swim.md
  .changeset/fast-bats-mate.md
  .changeset/friendly-donkeys-exercise.md
  .changeset/heavy-adults-flow.md
  .changeset/hip-bears-repeat.md
  .changeset/khaki-apricots-turn.md
  .changeset/large-hounds-juggle.md
  .changeset/lovely-ways-kick.md
  .changeset/lucky-birds-wink.md
  .changeset/metal-moose-sit.md
  .changeset/ninety-buttons-count.md
  .changeset/real-lies-visit.md
  .changeset/rotten-otters-dance.md
  .changeset/shiny-tables-remember.md
  .changeset/shy-lamps-raise.md
  .changeset/smart-avocados-juggle.md
  .changeset/soft-wasps-roll.md
  .changeset/spotty-parrots-own.md
  .changeset/strong-moons-add.md
  .changeset/strong-taxis-sin.md
  .changeset/tiny-feet-fly.md
  .changeset/warm-wasps-appear.md
  .changeset/weak-months-repeat.md
  apps/dashboard/package.json
  legacy_packages/auth/package.json
  legacy_packages/cli/package.json
  legacy_packages/react-core/package.json
  legacy_packages/react/package.json
  legacy_packages/sdk/package.json
  legacy_packages/unity-js-bridge/package.json
  legacy_packages/wallets/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: DO NOT MERGE, dashboard, packages

#3529 fix(react): remove problematic console errors
  .changeset/breezy-dancers-raise.md
  legacy_packages/react-core/src/core/providers/thirdweb-wallet-provider.tsx
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnect.ts
Labels: packages

#3532 fix: bigint crash on tooltip
  apps/dashboard/README.md
  apps/dashboard/src/components/engine/contract-subscription/contract-subscriptions-table.tsx
Labels: merge-queue, dashboard

#3533 fix(transaction): export StoredTransaction type from transaction-store.js
  .changeset/gold-hairs-heal.md
  packages/thirdweb/src/exports/transaction.ts
  packages/thirdweb/src/transaction/transaction-store.ts
Labels: packages

#3534 feat(utils): add shortenHex function to utils for shortening hexadecimal strings
  .changeset/old-files-walk.md
  packages/thirdweb/src/exports/utils.ts
  packages/thirdweb/src/utils/address.ts
Labels: packages

#3542 fix(sepolia): rename Sepolia native currency symbol to ETH
  .changeset/sweet-queens-lie.md
  packages/thirdweb/src/chains/chain-definitions/sepolia.ts
Labels: packages

#3531 [Feature] Add new Dashboard sidebar components and ecosystem wallets link
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/alert.tsx
  apps/dashboard/src/@/components/ui/button.tsx
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/app/(dashboard)/dashboard/components/sidebar/section.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/components/sidebar/sidebar.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/components/sidebar/types.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/assets/header.png
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/hooks/use-ecosystem-list.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/layout.tsx
  apps/dashboard/src/app/components/Header/DashboardHeader.tsx
  apps/dashboard/src/app/components/Header/headerLinks.ts
  apps/dashboard/src/app/components/nav-link.client.tsx
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/core-ui/sidebar/connect.tsx
Labels: dashboard

#3543 fix(mint): add ability to override transaction properties in mintTo functions
  .changeset/brown-maps-fry.md
  packages/thirdweb/src/extensions/ens/resolve-avatar.test.ts
  packages/thirdweb/src/extensions/erc1155/write/mintTo.ts
  packages/thirdweb/src/extensions/erc20/write/mintTo.ts
  packages/thirdweb/src/extensions/erc721/write/mintTo.ts
Labels: packages

#3539 fix(ts): properly disconnect wallet connect
  .changeset/fifty-apricots-kneel.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletConnectReceiverScreen.tsx
  packages/thirdweb/src/wallets/wallet-connect/receiver/index.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/receiver.test.ts
Labels: packages

#3545 fix(wallet): handle errors when connecting with open access ecosystem
  .changeset/young-rice-reply.md
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-account.ts
Labels: packages

#3541 fix(ts): prepare incoming walletconnect transactions
  .changeset/dirty-lemons-wave.md
  packages/thirdweb/src/wallets/wallet-connect/receiver/index.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/request-handlers/send-transaction.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-request.test.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-request.ts
Labels: packages

#3546 [Feature] Update dependencies and add new form and toaster components
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/form.tsx
  apps/dashboard/src/@/components/ui/sonner.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/pay/page.tsx
  apps/dashboard/src/app/(dashboard)/layout.tsx
  apps/dashboard/src/app/components/Header/DashboardHeader.tsx
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/components/pay/PayConfig.tsx
  apps/dashboard/src/components/settings/ApiKeys/Edit/Services.tsx
  apps/dashboard/src/components/settings/ApiKeys/Menu.tsx
  apps/dashboard/src/components/settings/ApiKeys/NoApiKeys.tsx
  apps/dashboard/src/components/settings/ConnectWalletPrompt.tsx
  pnpm-lock.yaml
Labels: dashboard

#3547 [Fix] Update import paths in engine-explorer and _app.tsx for better modularity
  apps/dashboard/src/components/engine/explorer/engine-explorer.tsx
  apps/dashboard/src/pages/_app.tsx
Labels: dashboard

#3538 [dashboard] Add copy button for chain id
  apps/dashboard/src/@/components/ui/CopyAddressButton.tsx
  apps/dashboard/src/@/components/ui/CopyTextButton.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chainlist-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chainlist-row.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
Labels: merge-queue, dashboard

#3477 chore(wallet-ui): initialize project
  .changeset/config.json
  apps/playground-web/package.json
  apps/wallet-ui/.gitignore
  apps/wallet-ui/README.md
  apps/wallet-ui/biome.json
  apps/wallet-ui/next.config.mjs
  apps/wallet-ui/package.json
  apps/wallet-ui/postcss.config.mjs
  apps/wallet-ui/src/app/favicon.ico
  apps/wallet-ui/src/app/globals.css
  apps/wallet-ui/src/app/layout.tsx
  apps/wallet-ui/src/app/page.tsx
  apps/wallet-ui/tailwind.config.ts
  apps/wallet-ui/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: playground

#3552 feature(ts): unpin files from ipfs
  .changeset/eighty-actors-hear.md
  packages/thirdweb/src/exports/storage.ts
  packages/thirdweb/src/storage/unpin.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
Labels: packages

#3551 Update Dependencies
  .changeset/new-pears-rescue.md
  apps/dashboard/package.json
  apps/playground-web/package.json
  legacy_e2e/bundlers/webpack/package.json
  legacy_packages/auth/package.json
  legacy_packages/chains/package.json
  legacy_packages/cli/package.json
  legacy_packages/crypto/package.json
  legacy_packages/eslint-config-thirdweb/package.json
  legacy_packages/merkletree/package.json
  legacy_packages/pay/package.json
  legacy_packages/payments/package.json
  legacy_packages/react-core/package.json
  legacy_packages/react-core/src/evm/hooks/async/drop.ts
  legacy_packages/react-core/src/evm/hooks/wallet.ts
  legacy_packages/react/package.json
  legacy_packages/sdk/package.json
  legacy_packages/storage/package.json
  legacy_packages/wallets/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: dashboard, playground, packages

#3530 Version Packages
  .changeset/breezy-dancers-raise.md
  .changeset/brown-maps-fry.md
  .changeset/dirty-lemons-wave.md
  .changeset/eighty-actors-hear.md
  .changeset/fifty-apricots-kneel.md
  .changeset/gold-hairs-heal.md
  .changeset/new-pears-rescue.md
  .changeset/old-files-walk.md
  .changeset/poor-dragons-eat.md
  .changeset/sweet-queens-lie.md
  .changeset/young-rice-reply.md
  legacy_packages/eslint-config-thirdweb/CHANGELOG.md
  legacy_packages/eslint-config-thirdweb/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: dashboard, packages

#3548 chore(tests): update tests to use sendAndConfirmTransaction method
  packages/thirdweb/src/extensions/prebuilts/deploy-modular-core.test.ts
Labels: packages

#3554 [Fix] Update package dependencies and improve import paths
  .changeset/strange-lemons-work.md
  apps/dashboard/package.json
  apps/playground-web/next.config.mjs
  apps/playground-web/package.json
  apps/playground-web/src/components/blockchain-api/write-contract-extension.tsx
  apps/playground-web/src/components/blockchain-api/write-contract-raw.tsx
  apps/wallet-ui/package.json
  legacy_packages/auth/package.json
  legacy_packages/chains/package.json
  legacy_packages/cli/package.json
  legacy_packages/crypto/package.json
  legacy_packages/eslint-config-thirdweb/package.json
  legacy_packages/merkletree/package.json
  legacy_packages/pay/package.json
  legacy_packages/payments/package.json
  legacy_packages/react-core/package.json
  legacy_packages/react/package.json
  legacy_packages/react/src/components/DragNDrop.tsx
  legacy_packages/react/src/components/Drawer.tsx
  legacy_packages/react/src/components/Modal.tsx
  legacy_packages/react/src/components/OTPInput.tsx
  legacy_packages/react/src/components/Overlay.tsx
  legacy_packages/react/src/components/QRCode.tsx
  legacy_packages/react/src/components/Tooltip.tsx
  legacy_packages/react/src/components/basic.tsx
  legacy_packages/react/src/components/buttons.tsx
  legacy_packages/react/src/wallet/ConnectWallet/Details.tsx
  legacy_packages/react/src/wallet/ConnectWallet/Modal/ConnectEmbed.tsx
  legacy_packages/react/src/wallet/ConnectWallet/Modal/ConnectModal.tsx
  legacy_packages/react/src/wallet/ConnectWallet/Modal/ConnectModalInline.tsx
  legacy_packages/react/src/wallet/ConnectWallet/NetworkSelector.tsx
  legacy_packages/react/src/wallet/ConnectWallet/ReceiveFunds.tsx
  legacy_packages/react/src/wallet/ConnectWallet/SignatureScreen.tsx
  legacy_packages/react/src/wallet/ConnectWallet/WalletSelector.tsx
  legacy_packages/react/src/wallet/ConnectWallet/screens/Buy/PaymentSelection.tsx
  legacy_packages/react/src/wallet/ConnectWallet/screens/Buy/swap/SwapScreen.tsx
  legacy_packages/react/src/wallet/ConnectWallet/screens/GetStartedScreen.tsx
  legacy_packages/react/src/wallet/ConnectWallet/screens/SwapTransactionsScreen.tsx
  legacy_packages/react/src/wallet/ConnectWallet/screens/WalletLogoSpinner.tsx
  legacy_packages/react/src/wallet/wallets/embeddedWallet/CountrySelector.tsx
  legacy_packages/react/src/wallet/wallets/embeddedWallet/LinkButton.tsx
  legacy_packages/react/src/wallet/wallets/paper/PaperOTPLoginUI.tsx
  legacy_packages/react/src/wallet/wallets/safe/SelectAccount.tsx
  legacy_packages/sdk/package.json
  legacy_packages/storage/package.json
  legacy_packages/unity-js-bridge/package.json
  legacy_packages/wallets/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: dashboard, playground, packages
