Repository thirdweb-dev/js, pull requests merged in 2024-11, with the labels that each got.

#5257 [SDK] Improve ERC721 claimToBatch
  packages/thirdweb/src/extensions/erc721/drops/write/claimToBatch.ts
Labels: packages

#5255 [Dashboard] Docs: Adds basic code organization instructions
  apps/dashboard/README.md
Labels: merge-queue, Dashboard

#5252 [Dashboard] Feature: Breakdown sponsored transactions by chain ID
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/SponsoredTransactionsChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/storyUtils.ts
Labels: merge-queue, Dashboard

#5260 Update free wallets promo code to FREEWALLETS24
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponCard.tsx
Labels: Dashboard

#5126 [SDK] Options to custonize ViewAssets's tabs
  .changeset/mean-mails-exercise.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewAssets.tsx
Labels: merge-queue, Playground, packages

#5258 [SDK] Consolidate more tests - reduce contract deployment
  packages/thirdweb/src/extensions/erc1155/drop1155.test.ts
  packages/thirdweb/src/extensions/erc1155/token1155.test.ts
  packages/thirdweb/src/extensions/erc1155/write/mintAdditionalSupplyToBatch.test.ts
  packages/thirdweb/src/extensions/erc20/drop20.test.ts
  packages/thirdweb/src/extensions/erc721/drop721.test.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.test.ts
  packages/thirdweb/src/extensions/erc721/token721.test.ts
  packages/thirdweb/src/extensions/erc721/write/mintTo.test.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-erc1155.test.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-erc20.test.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-erc721.test.ts
Labels: merge-queue, packages

#5253 fix: use stringify helper for bigint serialization
  .changeset/dull-mails-sleep.md
  packages/thirdweb/src/auth/core/verify-jwt.ts
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/rpc/rpc.ts
  packages/thirdweb/src/utils/extensions/airdrop/process-snapshot-erc1155.ts
  packages/thirdweb/src/utils/extensions/airdrop/process-snapshot-erc20.ts
  packages/thirdweb/src/utils/extensions/airdrop/process-snapshot-erc721.ts
  packages/thirdweb/src/utils/extensions/drops/process-override-list.ts
  packages/thirdweb/src/utils/jwt/encode-jwt.ts
  packages/thirdweb/src/utils/nft/fetch-token-metadata.test.ts
  packages/thirdweb/src/utils/storage/walletStorage.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/authEndpoint.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/guest.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/jwt.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/linkAccount.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/passkeys.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/api/fetchers.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/errors.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/storage/local.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/wallet/migration.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/wallet/recoveryCode.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/otp.ts
  packages/thirdweb/src/wallets/manager/index.ts
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
  packages/thirdweb/src/wallets/smart/lib/paymaster.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-store.ts
  packages/thirdweb/test/src/utils.ts
Labels: merge-queue, packages

#5241 fixed broken link and broken image
  apps/dashboard/src/lib/project-showcase-constants.ts
Labels: merge-queue, Dashboard

#5249 [Dashboard] Fix ContractCheckList
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/ContractChecklist.tsx
Labels: Dashboard

#5216 Check for linear in PR description
  .github/workflows/linear.yml
Labels: merge-queue

#5266 add /solutions/consumer-apps to framer rewrites
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#5268 [Actions] Chore: Rename Issue Check
  .github/workflows/linear.yml
Labels: merge-queue

#5262 [Global] Chore: Automate stale issues and PRs (30 days to stale, then 5 days till closing)
  .github/workflows/stale.yml
Labels: merge-queue

#5272 [SDK] Fix: Track chain ID on transaction events
  .changeset/honest-papayas-remember.md
  packages/thirdweb/src/wallets/coinbase/coinbaseWebSDK.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/in-app/web/lib/iframe-wallet.ts
  packages/thirdweb/src/wallets/injected/index.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: merge-queue, TS SDK, packages

#5259 [Dashboard] Remove chakra: BatchUpload drawer + other minor changes
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/CreatorInput.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/PhaseNameInput.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/batch-lazy-mint-button.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-lazy-mint.tsx
  apps/dashboard/src/core-ui/batch-upload/upload-step.tsx
Labels: merge-queue, Dashboard

#5263 [Dashboard] Remove Drawer from mintTo form
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/mint-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/reveal-button.tsx
Labels: merge-queue, Dashboard

#5264 [Dashboard] Remove Drawer from LazyMint form
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-form.tsx
Labels: merge-queue, Dashboard

#5265 [Dashboard] Remove Drawer & cleanup marketplace listing form
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
Labels: merge-queue, Dashboard

#5269 [Dashboard] Remove Drawer from ERC1155 udpate-metadata form
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/airdrop-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/update-metadata-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/update-metadata-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/claim-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/burn-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/claim-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/transfer-button.tsx
Labels: merge-queue, Dashboard

#5271 [Dashboard] Fix: MAU date range
  apps/dashboard/src/app/(dashboard)/dashboard/connect/in-app-wallets/[clientId]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/header.tsx
Labels: merge-queue, Dashboard

#5270 [SDK] Feature: Configure analytics URL
  .changeset/red-garlics-play.md
  apps/playground-web/src/lib/client.ts
  packages/thirdweb/src/analytics/track/index.ts
  packages/thirdweb/src/utils/domains.ts
Labels: merge-queue, Playground, packages

#5251 Version Packages
  .changeset/dull-mails-sleep.md
  .changeset/honest-papayas-remember.md
  .changeset/mean-mails-exercise.md
  .changeset/new-rules-buy.md
  .changeset/red-garlics-play.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#5277 fix: respect bundlerUrl in waitForUserReceipt
  .changeset/perfect-pandas-exercise.md
  packages/thirdweb/.size-limit.json
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/utils/getWalletBalance.test.ts
Labels: packages

#5291 Fix /dashboards path redirecting to /login
  apps/dashboard/src/@/constants/auth.ts
Labels: Dashboard

#5297 Make reason form field optional in delete engine form
  apps/dashboard/src/components/engine/engine-instances-table.tsx
Labels: Dashboard

#5299 add new framer rewrite paths and organize with comments
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#5256 [SDK] Optimize ERC20 transferBatch
  .changeset/olive-trees-play.md
  packages/thirdweb/src/extensions/erc20/write/transferBatch.test.ts
  packages/thirdweb/src/extensions/erc20/write/transferBatch.ts
Labels: packages

#5280 [SDK] Add tests for chain utils
  packages/thirdweb/src/chains/utils.test.ts
  packages/thirdweb/src/chains/utils.ts
Labels: merge-queue, packages

#5300 move /deploy and /smart-contracts to framer
  apps/dashboard/redirects.js
  apps/dashboard/src/components/landing-pages/hero.tsx
  apps/dashboard/src/components/landing-pages/option-selector.tsx
  apps/dashboard/src/components/product-pages/common/SolutionsTextImage.tsx
  apps/dashboard/src/components/product-pages/common/nav/data.ts
  apps/dashboard/src/components/video-embed/YoutubeEmbed.tsx
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/build.tsx
  apps/dashboard/src/pages/dashboards.tsx
  apps/dashboard/src/pages/deploy.tsx
  apps/dashboard/src/pages/interact.tsx
  apps/dashboard/src/pages/learn/index.tsx
  apps/dashboard/src/pages/publish.tsx
  apps/dashboard/src/pages/smart-contracts.tsx
  apps/dashboard/src/pages/solutions/commerce.tsx
  apps/dashboard/src/pages/solutions/loyalty.tsx
  apps/dashboard/src/pages/solutions/marketplace.tsx
  apps/dashboard/src/pages/solutions/minting.tsx
  apps/dashboard/src/pages/solutions/web2-onboarding.tsx
  apps/dashboard/src/pages/sponsored-transactions.tsx
  apps/dashboard/src/pages/ui-components.tsx
Labels: Dashboard

#5302 fix: force wallet chain switch in Pay UI
  .changeset/fuzzy-lobsters-deliver.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages

#5301 Version Packages
  .changeset/fuzzy-lobsters-deliver.md
  .changeset/olive-trees-play.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#5304 update dependencies
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages

#5305 remove hackathon pages
  apps/dashboard/src/components/hackathon/EarnReasonSection.tsx
  apps/dashboard/src/components/hackathon/FAQ.tsx
  apps/dashboard/src/components/hackathon/FAQEarn.tsx
  apps/dashboard/src/components/hackathon/HacakthonEarnFooter.tsx
  apps/dashboard/src/components/hackathon/HackathonFooter.tsx
  apps/dashboard/src/components/hackathon/Judges.tsx
  apps/dashboard/src/components/hackathon/JudgesEarn.tsx
  apps/dashboard/src/components/hackathon/Reason.tsx
  apps/dashboard/src/components/hackathon/ScheduleSection.tsx
  apps/dashboard/src/components/hackathon/ScheduleSectionEarn.tsx
  apps/dashboard/src/components/hackathon/Sponsors.tsx
  apps/dashboard/src/components/hackathon/Timer.tsx
  apps/dashboard/src/components/hackathon/common/AvatarShowcase.tsx
  apps/dashboard/src/components/hackathon/common/ScheduleSection.tsx
  apps/dashboard/src/components/hackathon/common/Sponsors.tsx
  apps/dashboard/src/components/hackathon/common/Timer.tsx
  apps/dashboard/src/components/hackathon/gaming/CTAFooter.tsx
  apps/dashboard/src/components/hackathon/gaming/FAQSection.tsx
  apps/dashboard/src/components/hackathon/gaming/GameShowcase.tsx
  apps/dashboard/src/components/hackathon/gaming/Resources.tsx
  apps/dashboard/src/components/product-pages/common/GameCard.tsx
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/hackathon/consumer-crypto.tsx
  apps/dashboard/src/pages/hackathon/earn.tsx
  apps/dashboard/src/pages/hackathon/readyplayer3.tsx
Labels: Dashboard

#5273 [Dashboard] Add function comments to Explorer
  apps/dashboard/src/components/contract-functions/contract-function-comment.tsx
  apps/dashboard/src/components/contract-functions/contract-function.tsx
Labels: Dashboard

#5306 update dependencies
  apps/dashboard/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, packages

#5303 feat: Add smart backend wallet types
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/(instance)/[engineId]/configuration/components/engine-wallet-config.tsx
  apps/dashboard/src/components/engine/overview/create-backend-wallet-button.tsx
  apps/dashboard/src/lib/engine.ts
Labels: merge-queue, Dashboard

#5298 [React SDK] Feature: Adds `SiteEmbed` component
  .changeset/breezy-scissors-scream.md
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnect.ts
  packages/thirdweb/src/react/web/ui/SiteEmbed.test.tsx
  packages/thirdweb/src/react/web/ui/SiteEmbed.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
Labels: merge-queue, packages

#5283 [Actions] Chore: Removes outdated stale github action
  .github/stale.yml
Labels: merge-queue

#5309 [Dashboard] Fix NFT supply info
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/supply-cards.tsx
Labels: Dashboard

#5226 [Dashboard] Improve faucet claim
  apps/dashboard/.env.example
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/api/testnet-faucet/can-claim/route.ts
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
  apps/dashboard/src/components/onboarding/Modal.tsx
  apps/dashboard/src/components/onboarding/index.tsx
  turbo.json
Labels: Dashboard

#5308 feat(dashboard): add default account factories table
  apps/dashboard/src/components/smart-wallets/AccountFactories/index.tsx
Labels: Dashboard

#5312 [Dashboard] Feature: Overview Page Empty State
  apps/dashboard/public/assets/tw-icons/account-abstraction.svg
  apps/dashboard/public/assets/tw-icons/auth.svg
  apps/dashboard/public/assets/tw-icons/pay.svg
  apps/dashboard/public/assets/tw-icons/social-auth.svg
  apps/dashboard/public/assets/tw-icons/wallets.svg
  apps/dashboard/src/@/components/blocks/app-footer.tsx
  apps/dashboard/src/@/components/ui/DatePickerWithRange.tsx
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/app/components/Header/SecondaryNav/account-button.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/TeamOverviewPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/EmptyState.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/EmptyState.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectOverviewHeader.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectOverviewHeader.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
  apps/dashboard/src/components/analytics/date-range-selector.tsx
  apps/dashboard/src/components/analytics/range-selector.tsx
  apps/dashboard/src/stories/stubs.ts
Labels: merge-queue, Dashboard, Feature

#5313 added features and deprecated interact
  apps/portal/public/icons/feature-cards/dashboard.svg
  apps/portal/public/icons/feature-cards/default-library.svg
  apps/portal/public/icons/feature-cards/deployable.svg
  apps/portal/public/icons/feature-cards/evm.svg
  apps/portal/public/icons/feature-cards/framworks.svg
  apps/portal/public/icons/feature-cards/manage-contracts.svg
  apps/portal/public/icons/feature-cards/ownership.svg
  apps/portal/public/icons/feature-cards/protocols.svg
  apps/portal/public/icons/feature-cards/security.svg
  apps/portal/public/icons/feature-cards/streamlined-deployment.svg
  apps/portal/public/icons/feature-cards/verified.svg
  apps/portal/public/icons/feature-cards/versioning.svg
  apps/portal/public/icons/feature-cards/wallet.svg
  apps/portal/redirects.mjs
  apps/portal/src/app/contracts/deploy/overview/page.mdx
  apps/portal/src/app/contracts/explore/overview/page.mdx
  apps/portal/src/app/contracts/interact/overview/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
Labels: Portal

#5315 [js] fix enclave wallet signing
  .changeset/forty-turtles-do.md
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
Labels: merge-queue, packages

#5317 [Dashboard] Update simplehash supported networks
  apps/dashboard/src/lib/wallet/nfts/types.ts
Labels: Dashboard

#5284 [Dashboard] Fix ERC20 claim conditions
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/MaxClaimablePerWalletInput.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/MaxClaimableSupplyInput.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/hooks.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/quantity-input-with-unlimited.tsx
Labels: Dashboard

#5217 feat: auto-migrate in-app wallets to enclave system
  .changeset/empty-needles-reply.md
  packages/thirdweb/src/react/web/wallets/shared/PassKeyLogin.tsx
  packages/thirdweb/src/wallets/in-app/core/actions/generate-wallet.enclave.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/iframe-auth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  pnpm-lock.yaml
Labels: packages

#5310 Version Packages
  .changeset/breezy-scissors-scream.md
  .changeset/empty-needles-reply.md
  .changeset/forty-turtles-do.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#5316 [SDK] Test coverage
  packages/thirdweb/src/utils/encoding/helpers/assert-size.test.ts
  packages/thirdweb/src/utils/encoding/helpers/byte-size.test.ts
  packages/thirdweb/src/utils/encoding/helpers/charcode-to-base-16.test.ts
  packages/thirdweb/src/utils/encoding/helpers/is-hext.test.ts
  packages/thirdweb/src/utils/encoding/to-bytes.test.ts
  packages/thirdweb/src/utils/encoding/to-bytes.ts
Labels: packages

#5321 Fix Select selection not working on mobile device - radix fix no longer required
  apps/dashboard/src/@/components/ui/select.tsx
Labels: hotfix, Dashboard

#5319 [Dashboard] Update supported chains for Moralis
  apps/dashboard/src/lib/wallet/nfts/types.ts
Labels: Dashboard

#5318 update dependencies
  apps/dashboard/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, packages

#5328 fix: DASH-410
  apps/dashboard/package.json
  apps/dashboard/src/@/constants/thirdweb.client.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/hooks.ts
Labels: hotfix, Dashboard

#5331 Fix missing description meta tag, add og:site_name in portal
  apps/portal/src/components/Document/metadata.ts
Labels: Portal

#5332 fix postbuild cache
  apps/portal/package.json
  turbo.json
Labels: Portal

#5219 Add UI for Mintable, Royalty, Claimable, Transferable, BatchMetadata and OpenEdition modules
  apps/dashboard/package.json
  apps/dashboard/src/@/components/blocks/FormFieldSetup.tsx
  apps/dashboard/src/@/components/ui/DatePickerWithRange.tsx
  apps/dashboard/src/@/components/ui/accordion.tsx
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/BatchMetadata.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Claimable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/CurrencySelector.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/InstalledModulesTable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Mintable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/ModuleForm.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/OpenEditionMetadata.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Royalty.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Transferable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/batchMetadata.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/claimable.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/mintable.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/module-card.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/module-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/module-instance.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/moduleContractInfo.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/nft/AdvancedNFTMetadataFormGroup.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/nft/NFTMediaFormGroup.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/nft/PropertiesFormControl.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/openEditionMetadata.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/royalty.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/transferable.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/zod-schemas.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/contract-pages/forms/properties.shared.tsx
  apps/dashboard/src/contexts/error-handler.tsx
  pnpm-lock.yaml
Labels: merge-queue, Dashboard

#5322 [Dashboard] Remove <Drawer /> from SetSharedMetadata form
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/shared-metadata-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/shared-metadata-form.tsx
Labels: Dashboard

#5323 [Dashboard] Remove Drawer from UpdateProfile section
  apps/dashboard/src/components/contract-components/publisher/edit-profile.tsx
  apps/dashboard/src/pages/profile/[profileAddress].tsx
Labels: Dashboard

#5338 [Dashboard] Remove TableContainer from tw-components
  apps/dashboard/src/components/chain-validation/index.tsx
  apps/dashboard/src/components/contract-components/contract-table/index.tsx
  apps/dashboard/src/components/shared/TWQueryTable.tsx
  apps/dashboard/src/tw-components/index.ts
  apps/dashboard/src/tw-components/table-container.tsx
Labels: Dashboard

#5339 [Dashboard] Remove MenuItem from tw-components
  apps/dashboard/.eslintrc.js
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/components/settings/Account/Billing/DowngradeDialog.tsx
  apps/dashboard/src/tw-components/button.tsx
  apps/dashboard/src/tw-components/index.ts
  apps/dashboard/src/tw-components/menu.tsx
Labels: Dashboard

#5320 [Dashboard]: enable download of all user data at once
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEmbeddedWallets.ts
  apps/dashboard/src/components/embedded-wallets/Users/index.tsx
Labels: merge-queue, Dashboard

#5324 [Dashboard] Abstract code for CSV upload form
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/snapshot-upload.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/csv-data-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-upload.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderLoggedOut.stories.tsx
  apps/dashboard/src/hooks/useCsvUpload.ts
  apps/playground-web/src/components/in-app-wallet/connect-button.tsx
Labels: Dashboard, Playground

#5336 [Dashboard] Remove Drawer from Snapshot upload
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/snapshot-upload.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/csv-data-table.tsx
Labels: Dashboard

#5337 [Dashboard] Remove tw-components Drawer
  apps/dashboard/src/components/engine/overview/transactions-table.tsx
  apps/dashboard/src/tw-components/drawer.tsx
  apps/dashboard/src/tw-components/index.ts
Labels: Dashboard

#5342 [Dashboard] Fix falsy logic when updating Royalties and PlatformFees
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/royalties.tsx
Labels: Dashboard

#5334 [Portal] Docs: adds SiteEmbed and SiteLink to docs
  apps/portal/src/app/react/v5/sidebar.tsx
Labels: merge-queue, Portal

#5341 fix: make encryption key optional for custom auth wallets
  .changeset/rich-kangaroos-sip.md
  apps/portal/src/app/connect/in-app-wallet/custom-auth/configuration/page.mdx
  apps/portal/src/app/connect/in-app-wallet/custom-auth/custom-auth-server/page.mdx
  apps/portal/src/app/connect/in-app-wallet/custom-auth/firebase-auth/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/in-app-wallet/page.mdx
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
Labels: Portal, packages

#5333 Version Packages
  .changeset/real-cars-sell.md
  .changeset/rich-kangaroos-sip.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#5340 [Dashboard] Feature: Project Overview (Analytics) Page
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/BarChart.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/BarChart.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/CombinedBarChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/CombinedBarChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/EmptyState.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/PieChart.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/PieChart.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/PieChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/PieChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectOverviewHeader.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectOverviewHeader.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Stat.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Stat.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/StatBreakdownCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/StatBreakdownCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/components/analytics/interval-selector.tsx
Labels: Dashboard, Feature

#5346 fix: flaky test
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: merge-queue, packages

#5347 fix: Engine wallet selector dropdown
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/create-backend-wallet-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/import-backend-wallet-button.tsx
Labels: merge-queue, Dashboard

#5335 feat: Support sophon testnet
  .changeset/fifty-foxes-rescue.md
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/constants/urls.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployContract.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployCreate2Factory.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployProxy.ts
  packages/thirdweb/src/exports/transaction.ts
  packages/thirdweb/src/exports/utils.ts
  packages/thirdweb/src/exports/wallets/smart.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
  packages/thirdweb/src/transaction/actions/send-transaction.ts
  packages/thirdweb/src/utils/config.ts
  packages/thirdweb/src/utils/fetch.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-dev.test.ts
  packages/thirdweb/test/src/test-clients.ts
  packages/thirdweb/test/vitest.config.ts
Labels: Dashboard, packages

#5349 fix: use maxFeePerGas for Pay gas estimations
  .changeset/hot-bees-turn.md
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/WalletSelectorButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PayWithCrypto.tsx
  packages/thirdweb/src/transaction/actions/estimate-gas-cost.test.ts
  packages/thirdweb/src/transaction/actions/estimate-gas-cost.ts
Labels: Playground, packages

#5343 [SDK] Feature: Include chain ID in analytics events
  .changeset/slimy-pots-camp.md
  packages/thirdweb/src/analytics/track/connect.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
  packages/thirdweb/src/wallets/coinbase/coinbase-wallet.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/native/create-wallet.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Labels: Enhancement, merge-queue, packages

#5355 [Dashboard]: fix client ID not being passed correctly to in app wallet user content
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/users/page.tsx
Labels: merge-queue, Dashboard

#5353 [Dashboard] Feature: Team Analytics Page
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/app/team/components/Analytics/AnalyticsHeader.stories.tsx
  apps/dashboard/src/app/team/components/Analytics/AnalyticsHeader.tsx
  apps/dashboard/src/app/team/components/Analytics/BarChart.stories.tsx
  apps/dashboard/src/app/team/components/Analytics/BarChart.tsx
  apps/dashboard/src/app/team/components/Analytics/CombinedBarChartCard.stories.tsx
  apps/dashboard/src/app/team/components/Analytics/CombinedBarChartCard.tsx
  apps/dashboard/src/app/team/components/Analytics/EmptyState.stories.tsx
  apps/dashboard/src/app/team/components/Analytics/EmptyState.tsx
  apps/dashboard/src/app/team/components/Analytics/PieChart.stories.tsx
  apps/dashboard/src/app/team/components/Analytics/PieChart.tsx
  apps/dashboard/src/app/team/components/Analytics/PieChartCard.stories.tsx
  apps/dashboard/src/app/team/components/Analytics/PieChartCard.tsx
  apps/dashboard/src/app/team/components/Analytics/Stat.stories.tsx
  apps/dashboard/src/app/team/components/Analytics/Stat.tsx
  apps/dashboard/src/app/team/components/Analytics/StatBreakdownCard.stories.tsx
  apps/dashboard/src/app/team/components/Analytics/StatBreakdownCard.tsx
  apps/dashboard/src/components/dashboard/HomeProductCard.tsx
  apps/dashboard/src/components/onboarding/Steps.tsx
  apps/dashboard/src/stories/stubs.ts
Labels: Dashboard, Feature

#5356 [Dashboard] Fix overflow on team overview page
  apps/dashboard/src/app/team/components/Analytics/PieChartCard.tsx
Labels: hotfix, Dashboard

#5357 [Dashboard] Fix padding issue on NFT tab buttons
  apps/dashboard/.env.example
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
Labels: Dashboard

#5359 Dashboard storybook minor cleanup + fix crashing stories
  apps/dashboard/.storybook/preview.tsx
  apps/dashboard/src/@/components/blocks/DangerSettingCard.stories.tsx
  apps/dashboard/src/@/components/blocks/SettingsCard.stories.tsx
  apps/dashboard/src/@/components/ui/select.stories.tsx
  apps/dashboard/src/@/components/ui/table.stories.tsx
  apps/dashboard/src/app/account/components/AccountHeaderUI.stories.tsx
  apps/dashboard/src/app/account/overview/AccountTeamsUI.stories.tsx
  apps/dashboard/src/app/account/overview/AccountTeamsUI.tsx
  apps/dashboard/src/app/account/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/components/ManageEngineAlerts.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/components/RecentEngineAlerts.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/GeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
  apps/dashboard/src/app/team/components/Analytics/Stat.stories.tsx
  apps/dashboard/src/app/team/components/Analytics/StatBreakdownCard.stories.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderLoggedOut.stories.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/components/dashboard/StepsCard.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/ApplyCouponCard.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponDetails.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/share-free-wallets-modal.stories.tsx
Labels: Dashboard

#5358 feat: use paymaster for all zk testnet chains
  apps/dashboard/src/@/constants/thirdweb.server.ts
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
Labels: Dashboard, packages

#5362 update homepage routing and redirects
  apps/dashboard/src/app/components/Header/SecondaryNav/account-button.client.tsx
  apps/dashboard/src/middleware.ts
Labels: Dashboard

#5364 Migrate profile page to tailwind and Move to app router and use RSCs
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/ProfileUI.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/components/PublishedContractTable.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/components/published-contracts.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/page.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/resolveAddressAndEns.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployedContractsTable.tsx
  apps/dashboard/src/app/account/contracts/_components/getSortedDeployedContracts.tsx
  apps/dashboard/src/components/connect/PlaygroundMenu.tsx
  apps/dashboard/src/components/contract-components/contract-table-v2/index.tsx
  apps/dashboard/src/components/contract-components/fetch-contracts-with-versions.ts
  apps/dashboard/src/components/contract-components/publisher/PublisherSocials.tsx
  apps/dashboard/src/components/contract-components/publisher/edit-profile.tsx
  apps/dashboard/src/components/contract-components/tables/deployed-contracts.tsx
  apps/dashboard/src/components/contract-components/tables/published-contracts.tsx
  apps/dashboard/src/components/explore/publisher/index.tsx
  apps/dashboard/src/constants/urls.ts
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/profile/[profileAddress].tsx
Labels: Dashboard

#5367 [Dashboard] Remove tw-components from marketplace components
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/listing-drawer.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/marketplace-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/ContractDirectListingsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/ContractEnglishAuctionsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/csv-data-table.tsx
Labels: Dashboard

#5368 [Dashboard] Remove tw-components from claim condition UI
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/MaxClaimablePerWalletInput.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/common.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/phase.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/price-preview.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/quantity-input-with-unlimited.tsx
Labels: Dashboard

#5369 [Dashboard] Remove tw-components Button from contract action-buttons
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/batch-lazy-mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/claim-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/reveal-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/shared-metadata-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/components/distribute-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/burn-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/claim-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/transfer-button.tsx
Labels: Dashboard

#5379 Remove invalid modules loading spinner in contract deploy page
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
Labels: Dashboard

#5380 Catch fetchDeployMetadata error and redirect to 404
  apps/dashboard/src/app/(dashboard)/contracts/deploy/[compiler_uri]/page.tsx
  apps/dashboard/src/app/(dashboard)/contracts/publish/[publish_uri]/page.tsx
Labels: Dashboard

#5381 Move deploy multiple and publish multiple pages to app router + migrate to shadcn/tailwind
  apps/dashboard/src/app/(dashboard)/contracts/deploy/page.tsx
  apps/dashboard/src/app/(dashboard)/contracts/publish/page.tsx
  apps/dashboard/src/app/account/components/account-header.client.tsx
  apps/dashboard/src/app/providers.tsx
  apps/dashboard/src/components/app-layouts/app.tsx
  apps/dashboard/src/components/app-layouts/providers.tsx
  apps/dashboard/src/components/contract-components/contract-table/cells/description.tsx
  apps/dashboard/src/components/contract-components/contract-table/cells/image.tsx
  apps/dashboard/src/components/contract-components/contract-table/cells/name.tsx
  apps/dashboard/src/components/contract-components/contract-table/index.tsx
  apps/dashboard/src/components/contract-components/hooks.ts
  apps/dashboard/src/components/contract-components/shared/contract-id-image.tsx
  apps/dashboard/src/components/contract-components/types.ts
  apps/dashboard/src/components/layout/app-shell/index.tsx
  apps/dashboard/src/hooks/useNativeColorMode.ts
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/contracts/deploy/index.tsx
  apps/dashboard/src/pages/contracts/publish/index.tsx
Labels: Dashboard

#5387 Updated 404 page in dashboard, Add to App router
  apps/dashboard/src/app/not-found.tsx
  apps/dashboard/src/components/not-found-page.tsx
  apps/dashboard/src/pages/404.tsx
Labels: Dashboard

#5307 Add Drop page for minting NFTs with partners
  apps/dashboard/public/drops/zerion.mp4
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/app/drops/[slug]/data.ts
  apps/dashboard/src/app/drops/[slug]/layout.tsx
  apps/dashboard/src/app/drops/[slug]/mint-ui.tsx
  apps/dashboard/src/app/drops/[slug]/opengraph-image.tsx
  apps/dashboard/src/app/drops/[slug]/page.tsx
  apps/dashboard/src/components/product-pages/common/Topnav.tsx
Labels: Dashboard

#5394 Update condition for showing verify email button in faucet claim section
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
Labels: Dashboard

#5396 ignore invalid module search param in deploy page
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/[version]/deploy/page.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/deploy/page.tsx
Labels: hotfix, Dashboard

#5395 [SDK] Fix: Add JSDoc documentation for getSocialIcon function
  packages/thirdweb/src/react/core/utils/walletIcon.ts
Labels: Bug, merge-queue, packages

#5389 fix: unstoppable domains test
  packages/thirdweb/src/extensions/unstoppable-domains/read/resolveAddress.test.ts
Labels: merge-queue, packages

#5393 Replace prism+chakra Code component with shiki+tailwind
  .vscode/settings.json
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/CodeBlock.tsx
  apps/dashboard/src/@/components/ui/code.tsx
  apps/dashboard/src/@/components/ui/code/RenderCode.tsx
  apps/dashboard/src/@/components/ui/code/code.client.tsx
  apps/dashboard/src/@/components/ui/code/code.server.tsx
  apps/dashboard/src/@/components/ui/code/code.stories.tsx
  apps/dashboard/src/@/components/ui/code/getCodeHtml.tsx
  apps/dashboard/src/@/components/ui/code/plaintext-code.stories.tsx
  apps/dashboard/src/@/components/ui/code/plaintext-code.tsx
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/listing-drawer.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/embed/embed-setup.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/events/events-feed.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(dashboard)/tools/transaction-simulator/components/TransactionSimulator.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/access-tokens/components/add-access-token-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/access-tokens/components/add-keypair-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/access-tokens/components/engine-access-tokens.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/access-tokens/components/keypairs-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/storage/page.tsx
  apps/dashboard/src/components/connect/CodePlayground.tsx
  apps/dashboard/src/components/contract-components/published-contract/markdown-renderer.tsx
  apps/dashboard/src/components/contract-components/shared/sources-accordion.tsx
  apps/dashboard/src/components/contract-functions/contract-function-comment.tsx
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
  apps/dashboard/src/components/contract-tabs/code/CodeSegment.tsx
  apps/dashboard/src/components/explore/upsells/deploy-your-own.tsx
  apps/dashboard/src/components/product-pages/homepage/CodeSelector.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
  apps/dashboard/src/core-ui/batch-upload/upload-step.tsx
  apps/dashboard/src/tw-components/code-block.tsx
  apps/dashboard/src/tw-components/index.ts
  pnpm-lock.yaml
Labels: Dashboard, packages

#5390 Winston/cnct 2311 pro cannot sign transaction with in app wallet
  .changeset/serious-plants-play.md
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
Labels: merge-queue, packages

#5401 add nebula service definition
  .changeset/eight-poems-end.md
  .github/workflows/linear.yml
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
  packages/service-utils/src/core/services.ts
Labels: merge-queue, Dashboard, packages

#5370 [Dashboard] Remove tw-components <Badge />
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account-permissions/components/account-signer.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/sources/ContractSourcesPage.tsx
  apps/dashboard/src/components/badges/opensea.tsx
  apps/dashboard/src/components/homepage/sections/PricingCard.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsModal.tsx
  apps/dashboard/src/components/onboarding/PlanCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/Header.tsx
  apps/dashboard/src/components/settings/Account/Billing/PlanCard.tsx
  apps/dashboard/src/tw-components/badge.tsx
  apps/dashboard/src/tw-components/index.ts
Labels: Dashboard

#5352 Version Packages
  .changeset/eight-poems-end.md
  .changeset/eleven-chicken-smile.md
  .changeset/fifty-foxes-rescue.md
  .changeset/hot-bees-turn.md
  .changeset/nice-gifts-argue.md
  .changeset/serious-plants-play.md
  .changeset/slimy-pots-camp.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#5409 remove nebula from service list
  .changeset/green-bottles-approve.md
  packages/service-utils/src/core/services.ts
Labels: merge-queue, packages

#5376 adds documentation to insight and adds it to chainslist
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chainlist-row.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/InsightIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/(dashboard)/(chain)/types/chain.ts
  apps/portal/public/og/icons/insight.svg
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/insight/blueprints/page.mdx
  apps/portal/src/app/insight/get-started/page.mdx
  apps/portal/src/app/insight/layout.tsx
  apps/portal/src/app/insight/page.mdx
  apps/portal/src/app/insight/sidebar.tsx
  apps/portal/src/app/insight/use-cases/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/components/Document/metadata.ts
  apps/portal/src/icons/index.ts
  apps/portal/src/icons/products/infra/InfraInsightIcon.tsx
Labels: Dashboard, Portal

#5372 [Dashboard] Fix: Handle null publisher profile
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/ProfileUI.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/page.tsx
Labels: merge-queue, Dashboard

#5406 [Dashboard] Feature: Add Nebula Waitlist page
  apps/dashboard/src/@/actions/joinWaitlist.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
Labels: Dashboard

#5407 [Dashboard] Refactor: Migrate CodeSegment to shadcn/tailwind + Improved UI
  apps/dashboard/src/@/components/blocks/code-segment.client.tsx
  apps/dashboard/src/@/components/blocks/code-segment.stories.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/storage/page.tsx
  apps/dashboard/src/components/connect/CodePlayground.tsx
  apps/dashboard/src/components/contract-functions/contract-function.tsx
  apps/dashboard/src/components/contract-tabs/code/CodeSegment.tsx
  apps/dashboard/src/components/contract-tabs/code/types.ts
  apps/dashboard/src/contract-ui/tabs/code/components/code-overview.tsx
Labels: Dashboard

#5408 [Dashboard] Refactor: Migrate usage/storage page to shadcn+tailwind
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/storage/components/GuideSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/storage/components/SDKSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/storage/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/storage/your-files.tsx
  apps/dashboard/src/components/dashboard/RelevantDataSection.tsx
  apps/dashboard/src/components/shared/TWQueryTable.tsx
Labels: Dashboard

#5411 [Dashboard] Feature: Adds github as a login option
  apps/dashboard/src/app/login/page.tsx
Labels: merge-queue, Dashboard

#5414 Add /nebula framer rewrite in dashboard
  apps/dashboard/framer-rewrites.js
Labels: merge-queue, Dashboard

#5363 [Documentation] Feature: Unreal Docs
  apps/portal/package.json
  apps/portal/src/app/unreal-engine/blueprints/engine/nodes.ts
  apps/portal/src/app/unreal-engine/blueprints/engine/page.mdx
  apps/portal/src/app/unreal-engine/blueprints/in-app-wallet/nodes.ts
  apps/portal/src/app/unreal-engine/blueprints/in-app-wallet/page.mdx
  apps/portal/src/app/unreal-engine/blueprints/sidebar.ts
  apps/portal/src/app/unreal-engine/blueprints/smart-wallet/nodes.ts
  apps/portal/src/app/unreal-engine/blueprints/smart-wallet/page.mdx
  apps/portal/src/app/unreal-engine/blueprints/utilities/nodes.ts
  apps/portal/src/app/unreal-engine/blueprints/utilities/page.mdx
  apps/portal/src/app/unreal-engine/cpp/sidebar.ts
  apps/portal/src/app/unreal-engine/sidebar.tsx
  apps/portal/src/app/unreal-engine/util.ts
  pnpm-lock.yaml
Labels: merge-queue, Portal

#5416 [Documentation] Fix: Rename framworks.svg to frameworks.svg (#5403)
  apps/portal/public/icons/feature-cards/frameworks.svg
Labels: merge-queue, Portal

#5412 [Documentation] Feature: Add page for supported chains on insight
  apps/portal/src/app/insight/sidebar.tsx
  apps/portal/src/app/insight/supported-chains/page.mdx
Labels: Portal

#5417 [CI] Chore: Update PR stale time to 7 days
  .github/workflows/stale.yml
Labels: merge-queue

#5419 Only show Nebula tab if already on waitlist, automatically join waitlist on Nebula page visit
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/share-button.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
Labels: Dashboard

#5421 Fix claim condition form loading state
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
Labels: hotfix, Dashboard

#5420 fix: transferable module restriction
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Transferable.tsx
Labels: merge-queue, Dashboard

#5423 Show last 50 changelogs in portal instead of last 100
  apps/portal/src/app/changelog/ghost.ts
Labels: Portal

#5418 feat: add custom auth demo in playground
  apps/playground-web/src/app/connect/in-app-wallet/page.tsx
  apps/playground-web/src/components/in-app-wallet/custom-login-form.tsx
Labels: merge-queue, Playground

#5397 [Dashboard] Fix: Catch localStorage getItem and setItem unhandled errors
  .changeset/flat-emus-repeat.md
  apps/dashboard/src/hooks/useLocalStorage.ts
  apps/playground-web/src/app/connect/sign-in/button/RightSection.tsx
  apps/portal/src/components/others/Banner.tsx
  apps/portal/src/components/others/theme/ThemeSwitcher.tsx
  packages/thirdweb/src/utils/storage/webStorage.ts
Labels: merge-queue, Dashboard, Playground, Portal, packages

#5426 [SDK] Fix: Connect to correct chain with guest account
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
Labels: merge-queue, packages

#5415 [SDK] Feature: Steam Auth
  .changeset/dirty-cups-tickle.md
  .changeset/small-eagles-cry.md
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/types.ts
  apps/dashboard/src/components/wallets/ConnectWalletMiniPlayground/MiniPlayground.tsx
  apps/playground-web/src/app/connect/sign-in/components/InAppWalletFormGroup.tsx
  apps/portal/src/app/dotnet/wallets/providers/ecosystem-wallet/page.mdx
  apps/portal/src/app/unity/v5/wallets/ecosystem-wallet/page.mdx
  apps/portal/src/app/unity/v5/wallets/in-app-wallet/page.mdx
  packages/thirdweb/src/react/core/utils/walletIcon.ts
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/icons/svgs.ts
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/SocialLogin.tsx
  packages/thirdweb/src/react/web/wallets/shared/oauthSignIn.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Labels: merge-queue, Dashboard, Playground, Portal, packages

#5431 Fix position:relative not supported on <tr> in webkit (safari)
  apps/dashboard/src/@/components/ui/table.stories.tsx
  apps/dashboard/src/@/components/ui/table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chainlist-row.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/components/PublishedContractTable.tsx
  apps/dashboard/src/app/(dashboard)/trending/components/trending-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/partners-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/components/contract-components/contract-table/index.tsx
  apps/dashboard/src/components/contract-components/tables/deployed-contracts.tsx
  apps/dashboard/src/components/shared/TWTable.tsx
Labels: hotfix, Dashboard

#5434 [Portal] Feature: Contract deploy button
  apps/portal/src/components/Document/ContractDeployCard.tsx
Labels: merge-queue, Portal

#5425 [Portal] Docs: Update Pay Docs
  apps/portal/src/app/connect/pay/faqs/page.mdx
Labels: merge-queue, Portal

#5430 Chore: Update dependencies
  apps/dashboard/package.json
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/module-card.tsx
  apps/dashboard/src/instrumentation.ts
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/react-native-adapter/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/utils/bigint.ts
  packages/thirdweb/src/wallets/ecosystem/get-ecosystem-wallet-auth-options.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages

#5440 feat: Support ERC-6492 signature verification on zksync chains
  .changeset/gentle-kids-serve.md
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/auth/verify-signature.ts
Labels: packages

#5445 [Docs] .NET & Unity as of 2.9/5.10
  apps/portal/src/app/dotnet/contracts/extensions/page.mdx
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/wallets/actions/generateexternalloginlink/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/getecosystemdetails/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/getemail/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/getphonenumber/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/getuserdetails/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/transfer/page.mdx
  apps/portal/src/app/unity/v5/thirdwebmanager/page.mdx
Labels: merge-queue, Portal

#5438 [Ecosystem Portal] Fix: WalletConnect Connection
  .github/labeler.yml
  apps/wallet-ui/.env.example
  apps/wallet-ui/.eslintrc.js
  apps/wallet-ui/README.md
  apps/wallet-ui/biome.json
  apps/wallet-ui/knip.json
  apps/wallet-ui/package.json
  apps/wallet-ui/postcss.config.mjs
  apps/wallet-ui/src/app/[ecosystem]/(authed)/layout.tsx
  apps/wallet-ui/src/app/[ecosystem]/(authed)/wallet/[address]/page.tsx
  apps/wallet-ui/src/app/[ecosystem]/login/layout.tsx
  apps/wallet-ui/src/app/[ecosystem]/page.tsx
  apps/wallet-ui/src/app/[ecosystem]/wc/page.tsx
  apps/wallet-ui/src/app/layout.tsx
  apps/wallet-ui/src/app/not-found.tsx
  apps/wallet-ui/src/components/ChainCombobox.tsx
  apps/wallet-ui/src/components/ChainIcon.tsx
  apps/wallet-ui/src/components/ConnectEmbed.tsx
  apps/wallet-ui/src/components/NftCard.tsx
  apps/wallet-ui/src/components/NftModal.tsx
  apps/wallet-ui/src/components/ui/image.tsx
  apps/wallet-ui/src/hooks/useRouter.ts
  apps/wallet-ui/src/lib/assets/erc20.ts
  apps/wallet-ui/src/lib/assets/erc721.ts
  apps/wallet-ui/src/lib/auth.ts
  apps/wallet-ui/src/lib/redirect.ts
  apps/wallet-ui/src/lib/utils.ts
  apps/wallet-ui/src/middleware.ts
  apps/wallet-ui/src/types/Erc20Token.ts
  apps/wallet-ui/src/util/simplehash.ts
  packages/thirdweb/src/react/core/hooks/wallets/useCallsStatus.ts
  pnpm-lock.yaml
Labels: merge-queue, packages, Ecosystem Portal

#5444 [SDK] Fix useSetActiveWallet code example in JSDoc
  packages/thirdweb/src/react/core/hooks/wallets/useSetActiveWallet.ts
Labels: merge-queue, packages, SDK

#5439 [SDK] Feature: Export prepareMethod
  packages/thirdweb/src/exports/contract.ts
Labels: Enhancement, merge-queue, packages, SDK

#5422 [SDK] Fix: Wallet avatar styles in ConnectButton and Modal
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
Labels: merge-queue, packages, SDK

#5446 [Portal] Fix: link to `ThirdwebExtensions` full reference
  apps/portal/src/app/dotnet/contracts/extensions/page.mdx
Labels: Portal

#5404 [Dashboard] Feature: Updated Mintable Modules
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Mintable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/module-instance.tsx
  packages/thirdweb/src/extensions/modules/MintableERC1155/mintWithRole.ts
  packages/thirdweb/src/extensions/modules/MintableERC721/mintWithRole.ts
Labels: merge-queue, Dashboard, packages, SDK

#5410 Version Packages
  .changeset/dirty-cups-tickle.md
  .changeset/flat-emus-repeat.md
  .changeset/gentle-kids-serve.md
  .changeset/green-bottles-approve.md
  .changeset/small-eagles-cry.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages, SDK

#5458 Update webauthn to v2
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/in-app/web/lib/auth/passkeys.ts
  pnpm-lock.yaml
Labels: packages, SDK

#5464 [SDK] Fix: Adds overrides to createNewPack
  .changeset/tame-walls-live.md
  packages/thirdweb/src/extensions/pack/createNewPack.ts
Labels: Bug, merge-queue, packages, SDK

#5463 [SDK] Fix: PayEmbed Error State
  .changeset/plenty-dragons-carry.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useBuyTxStates.ts
Labels: Bug, merge-queue, packages, SDK

#5467 added 7 new guides for contracts
  apps/portal/src/app/contracts/explore/pre-built-modular/assets/erc20_claimable.png
  apps/portal/src/app/contracts/explore/pre-built-modular/assets/erc20_transferable.png
  apps/portal/src/app/contracts/explore/pre-built-modular/assets/erc721_batchmetadata.png
  apps/portal/src/app/contracts/explore/pre-built-modular/assets/erc721_mintable.png
  apps/portal/src/app/contracts/explore/pre-built-modular/assets/erc721_openedition.png
  apps/portal/src/app/contracts/explore/pre-built-modular/assets/erc721_royalty.png
  apps/portal/src/app/contracts/explore/pre-built-modular/assets/erc721_transferable.png
  apps/portal/src/app/contracts/explore/pre-built-modular/edition-drop/assets/edition_drop_step1.png
  apps/portal/src/app/contracts/explore/pre-built-modular/edition-drop/assets/edition_drop_step2.png
  apps/portal/src/app/contracts/explore/pre-built-modular/edition-drop/assets/edition_drop_step3.png
  apps/portal/src/app/contracts/explore/pre-built-modular/edition-drop/assets/edition_drop_step4.png
  apps/portal/src/app/contracts/explore/pre-built-modular/edition-drop/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/edition/assets/edition_step1.png
  apps/portal/src/app/contracts/explore/pre-built-modular/edition/assets/edition_step2.png
  apps/portal/src/app/contracts/explore/pre-built-modular/edition/assets/edition_step3.png
  apps/portal/src/app/contracts/explore/pre-built-modular/edition/assets/edition_step4.png
  apps/portal/src/app/contracts/explore/pre-built-modular/edition/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/nft-collection/assets/nft_collection_step1.png
  apps/portal/src/app/contracts/explore/pre-built-modular/nft-collection/assets/nft_collection_step2.png
  apps/portal/src/app/contracts/explore/pre-built-modular/nft-collection/assets/nft_collection_step3.png
  apps/portal/src/app/contracts/explore/pre-built-modular/nft-collection/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/nft-drop/assets/nft_drop_step1.png
  apps/portal/src/app/contracts/explore/pre-built-modular/nft-drop/assets/nft_drop_step2.png
  apps/portal/src/app/contracts/explore/pre-built-modular/nft-drop/assets/nft_drop_step3.png
  apps/portal/src/app/contracts/explore/pre-built-modular/nft-drop/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/open-edition/assets/oe_step1.png
  apps/portal/src/app/contracts/explore/pre-built-modular/open-edition/assets/oe_step2.png
  apps/portal/src/app/contracts/explore/pre-built-modular/open-edition/assets/oe_step3.png
  apps/portal/src/app/contracts/explore/pre-built-modular/open-edition/assets/oe_step4.png
  apps/portal/src/app/contracts/explore/pre-built-modular/open-edition/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/token-drop/assets/token_drop_step1.png
  apps/portal/src/app/contracts/explore/pre-built-modular/token-drop/assets/token_drop_step2.png
  apps/portal/src/app/contracts/explore/pre-built-modular/token-drop/assets/token_drop_step3.png
  apps/portal/src/app/contracts/explore/pre-built-modular/token-drop/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/token/assets/token_step1.png
  apps/portal/src/app/contracts/explore/pre-built-modular/token/assets/token_step2.png
  apps/portal/src/app/contracts/explore/pre-built-modular/token/assets/token_step3.png
  apps/portal/src/app/contracts/explore/pre-built-modular/token/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
Labels: merge-queue, Portal

#5388 [SDK] Feature: Account components
  .changeset/metal-cows-hear.md
  apps/portal/src/app/react/v5/sidebar.tsx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Blobbie.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/address.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/address.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/avatar.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/avatar.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/blobbie.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/name.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/provider.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/provider.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/description.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/media.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/provider.tsx
  packages/thirdweb/tsdoc.json
Labels: merge-queue, Dashboard, Playground, Portal, packages, SDK

#5429 [SDK] Feature: ConnectedWalletDetails to use headless UI
  packages/thirdweb/src/react/core/utils/wallet.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
Labels: merge-queue, packages, SDK

#5433 [React] Feature: Headless UI Token components
  apps/portal/src/app/react/v5/sidebar.tsx
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/ui/prebuilt/Token/icon.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/provider.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/symbol.tsx
Labels: Portal, packages, SDK

#5435 [Dashboard] Feature: Add initial insight UI
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/components/BlueprintsExplorer.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/components/BlueprintsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/components/BlueprintsPageHeader.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
Labels: Dashboard

#5476 cleanup unused
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/components/client/create-ecosystem-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/components/onboarding/index.tsx
  apps/dashboard/src/components/onboarding/on-boarding-ui.client.tsx
Labels: Dashboard

#5474 Update contact-us form
  apps/dashboard/src/pages/contact-us.tsx
Labels: Dashboard

#5471 [Dashboard] User Onboarding Revamp
  apps/dashboard/src/@/actions/getAccount.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/account/layout.tsx
  apps/dashboard/src/app/account/page.tsx
  apps/dashboard/src/app/account/settings/getAccount.ts
  apps/dashboard/src/app/account/settings/page.tsx
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/isOnboardingRequired.ts
  apps/dashboard/src/app/login/loginRedirect.ts
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/providers.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/credits/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/components/TeamHeader/team-header.tsx
  apps/dashboard/src/app/team/page.tsx
  apps/dashboard/src/components/homepage/sections/PricingCard.tsx
  apps/dashboard/src/components/logo/index.tsx
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
  apps/dashboard/src/components/onboarding/ChoosePlan.tsx
  apps/dashboard/src/components/onboarding/ConfirmEmail.tsx
  apps/dashboard/src/components/onboarding/General.tsx
  apps/dashboard/src/components/onboarding/LinkWallet.tsx
  apps/dashboard/src/components/onboarding/Modal.tsx
  apps/dashboard/src/components/onboarding/index.tsx
  apps/dashboard/src/components/onboarding/on-boarding-ui.client.tsx
  apps/dashboard/src/components/onboarding/types.ts
  apps/dashboard/src/components/settings/Account/AccountForm.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/middleware.ts
  apps/dashboard/src/utils/pricing.tsx
Labels: Dashboard

#5375 [Documentation] Refactor: React guides
  apps/portal/src/app/react/v5/account-abstraction/get-started/page.mdx
  apps/portal/src/app/react/v5/account-abstraction/permissions/page.mdx
  apps/portal/src/app/react/v5/auth/page.mdx
  apps/portal/src/app/react/v5/components/account/page.mdx
  apps/portal/src/app/react/v5/components/onchain/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/hooks/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/ui-components/page.mdx
  apps/portal/src/app/react/v5/ecosystem-wallet/get-started/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/build-your-own-ui/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/enable-gasless/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/get-started/page.mdx
  apps/portal/src/app/react/v5/linking/page.mdx
  apps/portal/src/app/react/v5/page.mdx
  apps/portal/src/app/react/v5/pay/fund-wallets/page.mdx
  apps/portal/src/app/react/v5/pay/transaction/page.mdx
  apps/portal/src/app/react/v5/reading-state/page.mdx
  apps/portal/src/app/react/v5/sidebar.tsx
  apps/portal/src/app/react/v5/social/page.mdx
  apps/portal/src/app/react/v5/transactions/page.mdx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/tsconfig.json
  packages/thirdweb/src/react/core/social/useSocialProfiles.ts
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/address.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/avatar.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/blobbie.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/provider.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/name.tsx
Labels: DO NOT MERGE, Portal, packages, SDK

#5477 chore: Allow optional includeUsage (default: true)
  .changeset/gold-pumpkins-poke.md
  packages/service-utils/src/core/api.ts
Labels: packages

#5465 Version Packages
  .changeset/gold-pumpkins-poke.md
  .changeset/metal-cows-hear.md
  .changeset/plenty-dragons-carry.md
  .changeset/tall-pots-live.md
  .changeset/tame-walls-live.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages, SDK

#5485 Update Nebula Waitlist Page UI and invite link
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/share-button.client.tsx
Labels: Dashboard

#5486 [Dashboard] Redirect /solutions/chains to /solutions/ecosystem
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
  apps/dashboard/src/components/landing-pages/plan.tsx
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/solutions/chains.tsx
Labels: Dashboard

#5488 [Dashboard] Feature: Integrate ecosystem creation with Stripe billing
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/EcosystemCreatePage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/actions/create-ecosystem.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/components/client/create-ecosystem-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/hooks/use-create-ecosystem.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/page.tsx
Labels: Dashboard

#5481 Move onboarding components to app router folder
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/account/settings/getAccount.ts
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/onboarding/AccountForm.tsx
  apps/dashboard/src/app/login/onboarding/ChoosePlan.tsx
  apps/dashboard/src/app/login/onboarding/ConfirmEmail.tsx
  apps/dashboard/src/app/login/onboarding/General.tsx
  apps/dashboard/src/app/login/onboarding/LinkWallet.tsx
  apps/dashboard/src/app/login/onboarding/Title.tsx
  apps/dashboard/src/app/login/onboarding/isOnboardingRequired.ts
  apps/dashboard/src/app/login/onboarding/on-boarding-ui.client.tsx
  apps/dashboard/src/app/login/onboarding/useSkipOnboarding.tsx
  apps/dashboard/src/app/login/onboarding/validations.ts
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/components/homepage/sections/FeatureItem.tsx
  apps/dashboard/src/components/onboarding/types.ts
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
Labels: Dashboard
