Repository thirdweb-dev/js, pull requests merged in 2024-09, with the labels that each got.

#4340 Dialog Modal z-index fixes, Fix depedency sort lint error
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/client/update-partner-modal.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/pay/components/webhooks.client.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/deploy-context-modal.tsx
  apps/dashboard/src/contract-ui/tabs/manage/components/InstalledModulesTable.tsx
  apps/dashboard/src/pages/dashboard/engine/create.tsx
  packages/react-native-adapter/package.json
Labels: Dashboard, packages

#4343 fix(smart-wallet): Improve error message for connection failures
  .changeset/polite-months-hang.md
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages

#4270 [TS SDK] Feature: Accept a string for signature mint UID
  .changeset/great-scissors-happen.md
  packages/react-native-adapter/package.json
  packages/thirdweb/src/extensions/erc1155/write/sigMint.ts
  packages/thirdweb/src/extensions/erc1155/write/sigMint1155.test.ts
  packages/thirdweb/src/extensions/erc20/write/sigMint.ts
  packages/thirdweb/src/extensions/erc20/write/sigMint20.test.ts
  packages/thirdweb/src/extensions/erc721/write/sigMint.ts
  packages/thirdweb/src/extensions/erc721/write/sigMint721.test.ts
Labels: merge-queue, TS SDK, packages

#4304 Team Settings page UI
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/@/components/ui/CopyButton.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/MobileBurgerMenuButton.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/ProjectSelectorUI.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/ResourcesDropdownButton.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/TeamAndProjectSelectorPopoverButton.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/TeamSelectionUI.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/TeamSelectorMobileMenuButton.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/TeamOverviewPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/_components/sidebar/SidebarLink.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/_components/sidebar/TeamSettingsSidebar.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/_components/sidebar/TeamsMobileNav.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/_components/sidebar/getTeamSettingsLinks.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/DangerSettingCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/DangerSettingCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/GeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/GeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/SettingsCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/SettingsCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/Sidebar.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/ManageMembersSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/RoleSelector.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/ConnectMobileSidebar.tsx
  apps/dashboard/src/app/team/[team_slug]/components/account-button.client.tsx
  apps/dashboard/src/components/layout/app-shell/index.tsx
  apps/dashboard/src/components/shared/FileInput.tsx
  apps/dashboard/src/stories/Button.stories.tsx
  apps/dashboard/src/stories/Header.stories.tsx
  apps/dashboard/src/stories/utils.tsx
Labels: Dashboard

#4347 Migrate TWTable to shadcn/tailwind
  apps/dashboard/src/components/shared/TWTable.tsx
Labels: Dashboard

#4348 Migrate In-app wallet users page to shadcn/tailwind
  apps/dashboard/src/components/embedded-wallets/Users/Analytics.tsx
  apps/dashboard/src/components/embedded-wallets/Users/index.tsx
  apps/dashboard/src/components/settings/Account/UsageCard.tsx
  apps/dashboard/src/components/shared/TWTable.tsx
  apps/dashboard/src/components/wallets/SupportedPlatformLink.tsx
  apps/dashboard/src/pages/connect.tsx
  apps/dashboard/src/pages/dashboard/connect/in-app-wallets.tsx
Labels: Dashboard

#4353 Migrate GatedSwitch to tailwind + Refactor
  apps/dashboard/src/@/components/ui/Spinner/Spinner.tsx
  apps/dashboard/src/@/components/ui/tooltip.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.tsx
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
Labels: Dashboard

#4350 Adding custom chains on chainlist.
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/assetChainBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/assetChainCTABanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/mantle.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/zytronBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/zytronCTA.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: Dashboard

#4329 [Dashboard] Feature: Remove analytics gating and update empty state
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(dashboard)/dashboard/connect/layout.tsx
  apps/dashboard/src/components/buttons/DocsButton.tsx
  apps/dashboard/src/components/icons/DotNetIcon.tsx
  apps/dashboard/src/components/icons/ReactIcon.tsx
  apps/dashboard/src/components/icons/TypeScriptIcon.tsx
  apps/dashboard/src/components/icons/UnityIcon.tsx
  apps/dashboard/src/components/icons/UnrealIcon.tsx
  apps/dashboard/src/core-ui/sidebar/connect.tsx
  apps/dashboard/src/pages/dashboard/connect/analytics.tsx
Labels: Dashboard, packages

#4351 [SDK] Add test for getOwnedNFTs 1155
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.test.ts
Labels: packages

#4303 v5 extension detection (dashboard)
  apps/dashboard/package.json
  apps/dashboard/src/contract-ui/hooks/useContractFunctionSelectors.ts
  apps/dashboard/src/contract-ui/hooks/useRouteConfig.tsx
  apps/dashboard/src/contract-ui/tabs/settings/page.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/page.tsx
  apps/dashboard/src/lib/selectors.ts
  apps/dashboard/src/pages/[chain_id]/[...paths].tsx
  apps/playground-web/src/components/account-abstraction/connect-smart-account.tsx
  packages/thirdweb/src/extensions/erc20/read/isERC20.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, packages

#4354 Add theme switcher in dashboard storybook preview
  apps/dashboard/.storybook/preview.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/DangerSettingCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/GeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/SettingsCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/Sidebar.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.stories.tsx
  apps/dashboard/src/stories/Button.stories.tsx
  apps/dashboard/src/stories/utils.tsx
Labels: Dashboard

#4330 Unity 4.20.1
  legacy_packages/unity-js-bridge/src/thirdweb-bridge.ts
Labels: merge-queue

#4360 Migrate In-app wallet settings page to shadcn/tailwind
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/components/embedded-wallets/Configure/InAppWalletSettingsUI.stories.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
Labels: Dashboard

#4359 Fix TWTable whitespace wrapping
  apps/dashboard/src/components/shared/TWTable.tsx
Labels: Dashboard

#4352 [Portal] Update docs for useActiveWallet
  packages/thirdweb/src/react/core/hooks/wallets/useActiveWallet.ts
Labels: packages

#4361 Add In-app wallet page on Teams layout
  apps/dashboard/src/@/components/ui/tracked-link.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/AnalyticsCallout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/footer.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/layout.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/components/embedded-wallets/Users/index.tsx
  apps/dashboard/src/components/embedded-wallets/index.tsx
  apps/dashboard/src/pages/dashboard/connect/in-app-wallets.tsx
Labels: Dashboard

#4362 [Dashboard] Fix: Only show sponsorship banner on AA page when on eligible chain
  apps/dashboard/src/pages/dashboard/connect/account-abstraction.tsx
Labels: Dashboard

#4344 [SDK] FIx merkle tree proof for Drop contracts
  .changeset/hip-apples-beg.md
  packages/thirdweb/src/merkletree/MerkleTree.test.ts
  packages/thirdweb/src/merkletree/MerkleTree.ts
  packages/thirdweb/src/utils/extensions/drops/fetch-proofs-for-claimers.ts
Labels: hotfix, packages

#4331 Version Packages
  .changeset/great-scissors-happen.md
  .changeset/happy-pandas-kick.md
  .changeset/hip-apples-beg.md
  .changeset/polite-months-hang.md
  .changeset/tricky-dryers-trade.md
  .changeset/wise-hornets-destroy.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4363 [SDK] Allow specifying "to" and "from" props for the ClaimButton
  .changeset/two-ghosts-bake.md
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/ClaimButton/index.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/ClaimButton/types.ts
Labels: packages

#4367 [Update] Refine marketplace v3 detection logic
  apps/dashboard/src/contract-ui/hooks/useRouteConfig.tsx
Labels: Dashboard

#4369 dashboard storybook improvements
  apps/dashboard/.storybook/preview.tsx
  apps/dashboard/package.json
  apps/dashboard/src/app/components/Header/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/DangerSettingCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/GeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/SettingsCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/Sidebar.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.stories.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/InAppWalletSettingsUI.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.stories.tsx
  apps/dashboard/src/stories/Button.stories.tsx
  apps/dashboard/src/stories/utils.tsx
  pnpm-lock.yaml
Labels: Dashboard

#4368 Remove XPLA overrides for create2 deployment
  legacy_packages/sdk/src/evm/common/any-evm-constants.ts
Labels: merge-queue, hotfix

#4372 Update Connect Analytics charts
  apps/dashboard/src/@/components/ui/chart.tsx
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/ConnectAnalyticsDashboard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/ConnectAnalyticsDashboard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/EmptyChartState.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartChart.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/storyUtils.ts
  apps/dashboard/src/components/analytics/auto-bar-chart.tsx
  apps/dashboard/src/components/buttons/DocsButton.tsx
  apps/dashboard/src/pages/dashboard/connect/analytics.tsx
  apps/dashboard/src/stories/utils.tsx
  apps/dashboard/src/theme/index.ts
Labels: Dashboard

#4366 [Update] Migrate contract analytics to v5
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/param.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/abi-selector.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/contract-params-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/custom-factory.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/default-factory.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/factory-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/index.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/modules-param-selector.tsx
  apps/dashboard/src/components/contract-components/hooks.ts
  apps/dashboard/src/components/contract-components/published-contract/index.tsx
  apps/dashboard/src/components/contract-functions/contract-function.tsx
  apps/dashboard/src/components/contract-functions/contract-functions.tsx
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
  apps/dashboard/src/contract-ui/hooks/useRouteConfig.tsx
  apps/dashboard/src/contract-ui/tabs/analytics/page.tsx
  apps/dashboard/src/contract-ui/tabs/code/components/code-overview.tsx
  apps/dashboard/src/contract-ui/tabs/explorer/page.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/Extensions.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/NFTDetails.tsx
  apps/dashboard/src/contract-ui/tabs/overview/helpers/getGuidesAndTemplates.ts
  apps/dashboard/src/contract-ui/tabs/overview/page.tsx
  apps/dashboard/src/pages/contracts/deploy/[contractId].tsx
  packages/thirdweb/src/exports/extensions/thirdweb.ts
  packages/thirdweb/src/extensions/thirdweb/read/contractType.ts
Labels: Dashboard, packages

#4319 fix direct transfers to the same wallet
  .changeset/lucky-turkeys-whisper.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: packages

#4374 [Update] Refactor useWalletNFTs hook and NFT handling
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useWalletNFTs.ts
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/components/wallets/ConnectWalletMiniPlayground/MiniPlayground.tsx
  apps/dashboard/src/contract-ui/tabs/account/components/nfts-owned.tsx
  apps/dashboard/src/contract-ui/tabs/account/page.tsx
  apps/dashboard/src/contract-ui/tabs/listings/components/list-form.tsx
  apps/dashboard/src/contract-ui/tabs/listings/components/list-label.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/NFTCards.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/NFTDetails.tsx
  apps/dashboard/src/contract-ui/tabs/overview/page.tsx
  apps/dashboard/src/lib/wallet/nfts/alchemy.ts
  apps/dashboard/src/lib/wallet/nfts/moralis.ts
  apps/dashboard/src/lib/wallet/nfts/simpleHash.ts
  apps/dashboard/src/lib/wallet/nfts/types.ts
Labels: Dashboard

#4373 Updating Soneium Chainlist Page
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/soneiumBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: Dashboard

#4375 [Extensions] Expose permission detection logic
  .changeset/heavy-moose-sing.md
  packages/thirdweb/src/exports/extensions/permissions.ts
  packages/thirdweb/src/extensions/permissions/permissions.test.ts
  packages/thirdweb/src/extensions/permissions/read/getAllMembers.ts
  packages/thirdweb/src/extensions/permissions/read/getRoleAdmin.ts
  packages/thirdweb/src/extensions/permissions/read/getRoleMember.ts
  packages/thirdweb/src/extensions/permissions/read/getRoleMemberCount.ts
  packages/thirdweb/src/extensions/permissions/read/hasRole.ts
  packages/thirdweb/src/extensions/permissions/write/grantRole.ts
  packages/thirdweb/src/extensions/permissions/write/renounceRole.ts
  packages/thirdweb/src/extensions/permissions/write/revokeRole.ts
Labels: packages

#4376 [Update] Refactor contract route config and permissions detection
  apps/dashboard/src/contract-ui/hooks/useRouteConfig.tsx
  apps/dashboard/src/pages/[chain_id]/[...paths].tsx
Labels: Dashboard

#4377 [Update] Refactor NFT drawer tabs and contract interactions
  apps/dashboard/src/contract-ui/hooks/useRouteConfig.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions-form/index.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/page.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/airdrop-tab.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/burn-tab.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/claim-tab.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/mint-supply-tab.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/transfer-tab.tsx
  apps/dashboard/src/core-ui/nft-drawer/useNftDrawerTabs.tsx
Labels: Dashboard

#4346 feat: zksync deploys
  packages/thirdweb/.size-limit.json
  packages/thirdweb/package.json
  packages/thirdweb/scripts/generate/abis/zksync/ContractDeployer.json
  packages/thirdweb/src/contract/deployment/deploy-via-autofactory.ts
  packages/thirdweb/src/contract/deployment/publisher.ts
  packages/thirdweb/src/contract/deployment/utils/bootstrap.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployContract.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployCreate2Factory.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployDeterministic.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployProxy.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/zksync/__generated__/ContractDeployer/events/ContractDeployed.ts
  packages/thirdweb/src/transaction/actions/send-transaction.ts
  packages/thirdweb/src/transaction/actions/to-serializable-transaction.test.ts
  packages/thirdweb/src/transaction/actions/zksync/getEip721Domain.ts
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.test.ts
  packages/thirdweb/src/transaction/extract-error.ts
  packages/thirdweb/src/utils/abi/encode-abi-parameters.test.ts
  packages/thirdweb/src/utils/abi/encodeAbiParameters.ts
  packages/thirdweb/src/utils/any-evm/deploy-metadata.ts
  packages/thirdweb/src/utils/any-evm/zksync/computeDeploymentAddress.ts
  packages/thirdweb/src/utils/any-evm/zksync/constants.ts
  packages/thirdweb/src/utils/any-evm/zksync/create2Address.ts
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/lib/utils.ts
  pnpm-lock.yaml
Labels: packages

#4380 [Portal] Update useSendTransaction docs
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
Labels: packages

#4381 Docs: Fix table cell size on firefox
  apps/portal/src/components/Document/Table.tsx
Labels: Portal

#4386 [Dashboard] Fix CodeSnippet page
  apps/dashboard/src/contract-ui/tabs/code/components/code-overview.tsx
Labels: Dashboard

#4378 [Update] Refactor ERC4337 extension detection and UI
  apps/dashboard/src/contract-ui/hooks/useRouteConfig.tsx
  apps/dashboard/src/contract-ui/tabs/account-permissions/page.tsx
  apps/dashboard/src/contract-ui/tabs/account/page.tsx
  apps/dashboard/src/contract-ui/tabs/accounts/page.tsx
  packages/thirdweb/src/exports/extensions/erc4337.ts
  packages/thirdweb/src/extensions/erc4337/account/addAdmin.ts
  packages/thirdweb/src/extensions/erc4337/account/addSessionKey.ts
  packages/thirdweb/src/extensions/erc4337/account/removeAdmin.ts
  packages/thirdweb/src/extensions/erc4337/account/removeSessionKey.ts
Labels: Dashboard, packages

#4379 [Update] Refactor claim conditions detection and NFT page handling
  apps/dashboard/src/contract-ui/hooks/useRouteConfig.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/page.tsx
  apps/dashboard/src/core-ui/nft-drawer/useNftDrawerTabs.tsx
Labels: Dashboard

#4387 Add Pay page in teams layout
  apps/dashboard/src/@/components/ui/skeleton.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/pay/components/pay-ui.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/pay/components/webhooks.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/PayPageUI.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/page.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayConfig.tsx
Labels: Dashboard

#4384 Add Connect analytics page in Teams layout
  apps/dashboard/src/app/team/[team_slug]/(team)/TeamOverviewPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/ConnectAnalyticsDashboard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/ConnectAnalyticsDashboardUI.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/ConnectAnalyticsDashboard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/ConnectSDKCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/EmptyChartState.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartChart.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/storyUtils.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedFeature.tsx
  apps/dashboard/src/pages/dashboard/connect/analytics.tsx
Labels: Dashboard

#4390 Fix Swap Fees layout in Pay UI drawer
  .changeset/honest-poems-fix.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/Fees.tsx
Labels: packages

#4382 Add props for hiding send, receive and buy buttons on ConnectButton
  .changeset/old-lions-happen.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/stories/ConnectButton/hideButtons.stories.tsx
  packages/thirdweb/src/stories/ConnectButton/themes.stories.tsx
Labels: packages

#4388 Supported chain and tokens using overriden state
  .changeset/funny-crews-invite.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useUISelectionStates.ts
  packages/thirdweb/src/utils/domains.ts
Labels: merge-queue, packages

#4365 Version Packages
  .changeset/funny-crews-invite.md
  .changeset/heavy-moose-sing.md
  .changeset/honest-poems-fix.md
  .changeset/lucky-turkeys-whisper.md
  .changeset/old-lions-happen.md
  .changeset/two-ghosts-bake.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4391 [Update] Refactor claim condition retrieval and add support check
  .changeset/curly-plums-cheer.md
  packages/thirdweb/scripts/generate/abis/erc721/IDrop.json
  packages/thirdweb/src/exports/extensions/erc721.ts
  packages/thirdweb/src/extensions/erc721/__generated__/IDrop/read/claimCondition.ts
  packages/thirdweb/src/extensions/erc721/drop721.test.ts
  packages/thirdweb/src/extensions/erc721/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc721/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc721/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc721/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc721/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc721/write/lazyMint.ts
  packages/thirdweb/src/utils/extensions/drops/get-claim-params.ts
Labels: packages

#4393 Resolve implementation from matic proxy implementation slot
  .changeset/weak-pans-attack.md
  packages/thirdweb/src/utils/bytecode/resolveImplementation.test.ts
  packages/thirdweb/src/utils/bytecode/resolveImplementation.ts
  packages/thirdweb/test/globalSetup.ts
  packages/thirdweb/test/src/chains.ts
  packages/thirdweb/test/src/test-contracts.ts
Labels: merge-queue, hotfix, packages

#4398 [Dashboard] Make long support form scrollable
  apps/dashboard/src/app/(dashboard)/support/components/create-ticket.client.tsx
Labels: Dashboard

#4371 Ian/pay updates
  apps/portal/redirects.mjs
  apps/portal/src/app/connect/pay/guides/test-mode/page.mdx
  apps/portal/src/app/connect/pay/testing-pay/page.mdx
  apps/portal/src/app/connect/pay/webhooks/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
Labels: Portal

#4383 Fixed onBack function on GetStartedScreen (when can't connect in any way)
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AnyWalletConnectUI.tsx
Labels: packages

#4413 [Update] Refactor NFT reveal functionality and batch lazy minting
  apps/dashboard/src/components/contract-components/utils.ts
  apps/dashboard/src/contract-ui/tabs/accounts/components/create-account-button.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions-form/index.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/reset-claim-eligibility.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/batch-lazy-mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/reveal-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/reveal-form.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/page.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/ContractChecklist.tsx
  packages/thirdweb/src/exports/extensions/erc4337.ts
  packages/thirdweb/src/exports/extensions/erc721.ts
  packages/thirdweb/src/extensions/erc4337/account/isAccountDeployed.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/read/getBatchesToReveal.ts
Labels: Dashboard, packages

#4414 [Update] Refactor NFT page UI and simplify rendering conditions
  apps/dashboard/src/contract-ui/tabs/nfts/page.tsx
Labels: Dashboard

#4415 [Update] Open contract links in new tab instead of router navigation
  apps/dashboard/src/components/contract-components/contract-table/index.tsx
Labels: Dashboard

#4417 [Update] Add ModularExt support and refactor modules detection
  apps/dashboard/src/contract-ui/hooks/useRouteConfig.tsx
Labels: Dashboard

#4418 [Update] Refactor account deployment check in ERC4337 extension
  packages/thirdweb/src/extensions/erc4337/account/isAccountDeployed.ts
Labels: packages

#4396 Version Packages
  .changeset/bright-dogs-fail.md
  .changeset/curly-plums-cheer.md
  .changeset/little-shrimps-tie.md
  .changeset/weak-pans-attack.md
  .changeset/wild-years-wonder.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4345 [SDK] Add ERC1155 getOwnedTokenIds
  .changeset/soft-goats-sparkle.md
  packages/thirdweb/src/exports/extensions/erc1155.ts
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.ts
  packages/thirdweb/src/extensions/erc1155/read/getOwnedTokenIds.test.ts
  packages/thirdweb/src/extensions/erc1155/read/getOwnedTokenIds.ts
Labels: packages

#4421 Fix user stuck in logged out state in dashboard
  apps/dashboard/src/middleware.ts
Labels: Dashboard

#4423 Update tables and related UI updates
  apps/dashboard/src/@/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/dashboard/src/@/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/dashboard/src/@/components/ui/button.stories.tsx
  apps/dashboard/src/@/components/ui/table.stories.tsx
  apps/dashboard/src/@/components/ui/table.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chainlist-row.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/server/partners-table.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/pay/components/webhooks.client.tsx
  apps/dashboard/src/app/(dashboard)/trending/components/trending-table.tsx
  apps/dashboard/src/components/contract-components/tables/cells.tsx
  apps/dashboard/src/components/contract-components/tables/deployed-contracts.tsx
  apps/dashboard/src/components/layout/app-shell/index.tsx
  apps/dashboard/src/components/shared/TWTable.tsx
Labels: Dashboard

#4424 Joe soneium Chainlist update v2
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/cta-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/soneiumCTA.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: Dashboard

#4419 update deps (part 1)
  apps/dashboard/package.json
  apps/dashboard/src/components/contract-components/contract-publish-form/NetworkDropdown.tsx
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  legacy_e2e/bundlers/vite/package.json
  legacy_packages/auth/package.json
  legacy_packages/cli/package.json
  legacy_packages/cli/src/create/helpers/git.ts
  legacy_packages/crypto/package.json
  legacy_packages/react-core/package.json
  legacy_packages/react/package.json
  legacy_packages/sdk/package.json
  legacy_packages/storage/package.json
  legacy_packages/wallets/package.json
  package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/ethers6.ts
  packages/thirdweb/src/react/core/hooks/contract/useReadContract.ts
  packages/thirdweb/src/react/core/hooks/wallets/useCallsStatus.ts
  packages/thirdweb/src/react/core/hooks/wallets/useCapabilities.ts
  packages/thirdweb/test/vitest.config.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages

#4429 Fix Dashboard build error - Can't resolve 'thirdweb/extensions/modular'
  apps/dashboard/src/contract-ui/hooks/useRouteConfig.tsx
Labels: Dashboard

#4430 [Update] Refactor ethers adapter and pin ethers version
  apps/dashboard/next-env.d.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/app-layouts/provider-setup.tsx
  legacy_packages/auth/package.json
  legacy_packages/cli/package.json
  legacy_packages/contracts-js/package.json
  legacy_packages/crypto/package.json
  legacy_packages/payments/package.json
  legacy_packages/react-core/package.json
  legacy_packages/react/package.json
  legacy_packages/sdk/package.json
  legacy_packages/unity-js-bridge/package.json
  legacy_packages/wallets/package.json
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/adapters/ethers6.ts
  packages/thirdweb/src/exports/adapters/ethers5.ts
  packages/thirdweb/src/exports/adapters/ethers6.ts
  pnpm-lock.yaml
Labels: Dashboard, packages

#4426 Migrate Deployed contracts page to shadcn/tailwind
  apps/dashboard/src/@/components/ui/popover.tsx
  apps/dashboard/src/@/components/ui/table.tsx
  apps/dashboard/src/components/contract-components/import-contract/modal.tsx
  apps/dashboard/src/components/contract-components/tables/deployed-contracts.tsx
  apps/dashboard/src/components/contract-components/tables/show-more-button.tsx
  apps/dashboard/src/components/selects/NetworkSelectDropdown.tsx
Labels: Dashboard

#4293 [Dashboard] Tx simulator for Explorer
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
Labels: Dashboard

#4416 [Dashboard] Feature: Adds new analytics service
  apps/dashboard/src/@3rdweb-sdk/react/cache-keys.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/ConnectAnalyticsDashboard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/ConnectAnalyticsDashboardUI.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/ConnectAnalyticsDashboard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/storyUtils.ts
  apps/dashboard/src/constants/urls.ts
  apps/dashboard/src/pages/api/server-proxy/analytics/[...paths].ts
Labels: merge-queue, Dashboard

#4428 Fix SolidityAddressInput value not displayed properly
  apps/dashboard/src/contract-ui/components/solidity-inputs/address-input.tsx
Labels: merge-queue, Dashboard

#4431 [Dashboard] Fix Speedracer link
  apps/dashboard/src/pages/solutions/gaming.tsx
Labels: merge-queue, Dashboard

#4385 cross-platform commands
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/portal/scripts/createEmptySearchIndex.ts
  package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal

#4432 Unity v5 // .NET v2 Updates & Migration Guide
  apps/portal/redirects.mjs
  apps/portal/src/app/app.zip
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/wallets/providers/ecosystem-wallet/page.mdx
  apps/portal/src/app/unity/v4/page.mdx
  apps/portal/src/app/unity/v5/migration-guide/page.mdx
  apps/portal/src/app/unity/v5/sidebar.tsx
  apps/portal/src/app/unity/v5/thirdwebmanager/page.mdx
  apps/portal/src/app/unity/v5/wallets/ecosystem-wallet/page.mdx
Labels: merge-queue, Portal

#4434 [Dashboard] Fix: Analytics Wallet Pie Chart Display
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.tsx
Labels: merge-queue, Dashboard

#4437 [Dashboard] Explorer to show transaction error message
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
Labels: Dashboard

#4436 [Playground] Update description
  apps/playground-web/src/app/connect/auth/page.tsx
Labels: Playground

#4439 [Dashboard] Fix missing updateMetadata form
  apps/dashboard/src/core-ui/nft-drawer/useNftDrawerTabs.tsx
Labels: Dashboard

#4441 [Dashboard] Fix single lazy mint form
  apps/dashboard/src/contract-ui/tabs/nfts/components/lazy-mint-form.tsx
Labels: hotfix, Dashboard

#4443 Fix getFunctionId implementation
  .changeset/twenty-hairs-act.md
  packages/thirdweb/src/utils/function-id.ts
Labels: packages

#4435 Add testMode to buyWithCrypto pay options
  .changeset/olive-steaks-vanish.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useUISelectionStates.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/useSwapSupportedChains.ts
Labels: packages

#4444 Crypto test mode use send transaction
  .changeset/eighty-poets-doubt.md
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
Labels: packages

#4349 [SDK] Feature: Social Extension (Beta)
  .changeset/early-mayflies-hug.md
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/exports/social.ts
  packages/thirdweb/src/react/core/social/useSocialProfiles.ts
  packages/thirdweb/src/react/core/utils/wallet.ts
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectedButton.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectedModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/social/profiles.ts
  packages/thirdweb/src/social/types.ts
  packages/thirdweb/src/utils/domains.ts
Labels: merge-queue, packages

#4446 [React SDK] Feature: Improved React Query Caching
  .changeset/two-bottles-occur.md
  packages/thirdweb/src/react/core/providers/thirdweb-provider.tsx
  packages/thirdweb/src/react/core/utils/structuralSharing.ts
Labels: packages

#4447 [Update] Fix baseURI extraction logic and refactor lazy mint form
  .changeset/flat-ads-look.md
  apps/dashboard/src/contract-ui/tabs/nfts/components/lazy-mint-form.tsx
  packages/thirdweb/src/utils/ipfs.test.ts
  packages/thirdweb/src/utils/ipfs.ts
Labels: Dashboard, packages

#4449 fix posthog
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: Dashboard

#4450 Add/Fix options for hiding buttons on details modal on useWalletDetailsModal
  .changeset/tough-bees-arrive.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
Labels: packages

#4451 AA Session Keys docs - small updates
  apps/portal/src/app/connect/account-abstraction/permissions/page.mdx
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: Portal, packages

#4420 Version Packages
  .changeset/early-mayflies-hug.md
  .changeset/eighty-poets-doubt.md
  .changeset/flat-ads-look.md
  .changeset/nasty-windows-return.md
  .changeset/olive-steaks-vanish.md
  .changeset/soft-goats-sparkle.md
  .changeset/tough-bees-arrive.md
  .changeset/twenty-hairs-act.md
  .changeset/two-bottles-occur.md
  apps/dashboard/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: Dashboard, packages

#4448 Joe ancient8 + Donatuz OP Addition
  apps/dashboard/public/assets/grant/superchain/icon-ancient8.png
  apps/dashboard/public/assets/grant/superchain/icon-donatuz.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsForm.tsx
  apps/dashboard/src/constants/chains.ts
  apps/dashboard/src/pages/grant/superchain.tsx
Labels: DO NOT MERGE, Dashboard

#4454 export `createAndSignUserOp`
  .changeset/tender-drinks-fail.md
  packages/thirdweb/src/exports/wallets/smart.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages

#4460 [Update] Add null check for code in CodeBlock component
  apps/dashboard/src/tw-components/code-block.tsx
Labels: hotfix, Dashboard

#4457 Add Billing page in team settings (chakra)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/BillingSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/layout.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/dashboard/src/pages/dashboard/settings/billing.tsx
Labels: Dashboard

#4458 Add credits page in team settings (chakra)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/credits/SettingsCreditsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/credits/page.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsModal.tsx
  apps/dashboard/src/components/onboarding/PlanCard.tsx
  apps/dashboard/src/pages/dashboard/settings/gas-credits.tsx
Labels: Dashboard

#4459 Add Usage page in teams layout (chakra)
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/UsagePage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/page.tsx
  apps/dashboard/src/pages/dashboard/settings/usage.tsx
Labels: Dashboard

#4438 [Dashboard] Refactor some code for the Explorer
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
Labels: Dashboard

#4462 fix: use themable SVGs in react native for common icons
  .changeset/nasty-bats-promise.md
  packages/thirdweb/src/react/core/utils/walletIcon.ts
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/icons/svgs.ts
Labels: packages

#4455 Fix starter template link for modular contracts
  apps/portal/src/app/contracts/modular-contracts/overview/page.mdx
Labels: Portal

#4440 Add deployed contracts page in teams layout
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/dashboard/src/@/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/dashboard/src/@/components/ui/progress.tsx
  apps/dashboard/src/@/components/ui/select.stories.tsx
  apps/dashboard/src/@/components/ui/select.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/_components/GetStartedWithContractsDeploy.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/page.tsx
  apps/dashboard/src/components/contract-components/import-contract/modal.tsx
  apps/dashboard/src/components/contract-components/tables/deployed-contracts.tsx
  apps/dashboard/src/components/dashboard/StepsCard.stories.tsx
  apps/dashboard/src/components/dashboard/StepsCard.tsx
  apps/dashboard/src/components/selects/NetworkSelectDropdown.tsx
  apps/dashboard/src/pages/dashboard/contracts/deploy.tsx
  apps/dashboard/src/stories/utils.tsx
  pnpm-lock.yaml
Labels: Dashboard

#4094 feat: cb smart wallet for react native
  .changeset/tame-trainers-judge.md
  packages/react-native-adapter/package.json
  packages/react-native-adapter/src/shims.ts
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/wallets/coinbase/coinbaseMobileSDK.ts
  packages/thirdweb/src/wallets/coinbase/coinbaseWebSDK.ts
  packages/thirdweb/src/wallets/coinbase/utils.ts
  pnpm-lock.yaml
Labels: TS SDK, packages

#4465 test: add individual event filtering test
  packages/thirdweb/src/event/actions/get-events.test.ts
  packages/thirdweb/src/wallets/coinbase/coinbaseMobileSDK.ts
Labels: packages

#4466 chore: social named export
  .changeset/breezy-melons-sniff.md
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/social.ts
Labels: packages

#4467 portal: Add Coinbase Wallet dedicated page on portal
  apps/portal/src/app/typescript/v5/supported-wallets/com.coinbase.wallet/page.tsx
Labels: Portal

#4469 feat(docs): Add in-app wallet creation and authentication details
  apps/portal/src/app/react/v5/in-app-wallet/build-your-own-ui/page.mdx
Labels: Portal

#4468 fix: add idempotency key to faucet
  apps/dashboard/src/app/api/testnet-faucet/can-claim/route.ts
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
Labels: merge-queue, Dashboard

#4477 More storage slots for proxy resolution
  .changeset/great-chefs-whisper.md
  packages/thirdweb/src/utils/bytecode/resolveImplementation.test.ts
  packages/thirdweb/src/utils/bytecode/resolveImplementation.ts
  packages/thirdweb/test/globalSetup.ts
  packages/thirdweb/test/src/chains.ts
  packages/thirdweb/test/src/test-contracts.ts
Labels: merge-queue, hotfix, packages

#4474 Migrate Notifications page to tailwind, Add in teams
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/notifications/NotificationsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/notifications/page.tsx
  apps/dashboard/src/components/settings/Account/Notifications.tsx
  apps/dashboard/src/pages/dashboard/settings/notifications.tsx
Labels: Dashboard

#4473 [SDK] Fix: SocialProfiles type changed to SocialProfile[]
  .changeset/seven-frogs-protect.md
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/exports/social.ts
  packages/thirdweb/src/social/profiles.ts
  packages/thirdweb/src/social/types.ts
Labels: packages

#4487 test: Conditionally run tests based on TW_SECRET_KEY
  packages/thirdweb/src/extensions/modules/ClaimableERC1155/claimableERC1155.test.ts
  packages/thirdweb/src/extensions/modules/ClaimableERC20/claimableERC20.test.ts
  packages/thirdweb/src/extensions/modules/ClaimableERC721/claimableERC721.test.ts
  packages/thirdweb/src/extensions/modules/OpenEditionMetadataERC721/openEditionERC721.test.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-modular-core.test.ts
Labels: packages

#4478 [React SDK] Fix: Properly read current wallet erc20 balance
  .changeset/unlucky-socks-repeat.md
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
Labels: merge-queue, packages

#4445 chores: added assetchain-testnet in chains folder
  packages/thirdweb/src/chains/chain-definitions/assetchain-testnet.ts
Labels: packages

#4492 chore: Remove trailing newline in assetchain-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/assetchain-testnet.ts
Labels: packages

#4453 Version Packages
  .changeset/breezy-melons-sniff.md
  .changeset/great-chefs-whisper.md
  .changeset/nasty-bats-promise.md
  .changeset/seven-frogs-protect.md
  .changeset/tame-trainers-judge.md
  .changeset/tender-drinks-fail.md
  .changeset/unlucky-socks-repeat.md
  packages/react-native-adapter/CHANGELOG.md
  packages/react-native-adapter/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: Dashboard, packages

#4493 Fix contact us form select element background
  apps/dashboard/src/pages/contact-us.tsx
Labels: Dashboard

#4475 Remove sidebar on contracts page in teams layout
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/layout.tsx
Labels: Dashboard

#4491 Add Ecosystem wallet pages in teams
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/EcosystemLandingPage.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/EcosystemPermissionsPage.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/client/ecosystem-header.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/layout.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/permissions/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/EcosystemCreatePage.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/components/client/create-ecosystem-form.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/utils/fetchEcosystem.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/utils/fetchEcosystemList.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/EmptyChartState.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/ecosystem/[slug]/(active)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/ecosystem/[slug]/(active)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/ecosystem/create/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/ecosystem/page.tsx
Labels: Dashboard

#4288 [Add] Support for modular contracts in explore and deploy pages
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/modular-contract-default-modules-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/royalty-fieldset.tsx
  apps/dashboard/src/components/contract-components/hooks.ts
  apps/dashboard/src/components/contract-components/shared/published-by.tsx
  apps/dashboard/src/components/explore/contract-card/index.tsx
  apps/dashboard/src/components/explore/contract-row/index.tsx
  apps/dashboard/src/components/pages/publish.tsx
  apps/dashboard/src/contract-ui/tabs/overview/page.tsx
  apps/dashboard/src/data/explore.ts
  apps/dashboard/src/pages/explore/[category]/index.tsx
  legacy_packages/contracts-js/package.json
  legacy_packages/sdk/src/evm/common/any-evm-utils/getModularDeploymentInfo.ts
  legacy_packages/sdk/src/evm/core/sdk.ts
  legacy_packages/sdk/src/evm/types/deploy/deploy-options.ts
Labels: Dashboard

#4497 v5 deploy sdk changes
  packages/thirdweb/src/contract/actions/compiler-metadata.ts
  packages/thirdweb/src/contract/deployment/publisher.test.ts
  packages/thirdweb/src/contract/deployment/utils/bootstrap.ts
  packages/thirdweb/src/contract/verification/source-files.ts
  packages/thirdweb/src/exports/contract.ts
  packages/thirdweb/src/exports/deploys.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/utils/any-evm/compute-published-contract-address.ts
  packages/thirdweb/src/utils/any-evm/compute-published-contract-deploy-info.ts
  packages/thirdweb/src/utils/any-evm/deploy-metadata.ts
Labels: packages

#4495 Fix deploy button link on contract page with search params in URL
  apps/dashboard/src/components/pages/publish.tsx
Labels: Dashboard

#4485 Joe - SignIn + Pay redirects
  apps/portal/redirects.mjs
Labels: Portal

#4501 [Portal] Update useProfiles docs
  packages/thirdweb/src/react/core/hooks/others/useProfiles.ts
Labels: packages

#4505 [Update] Resolve image scheme in contract metadata
  apps/dashboard/src/contract-ui/tabs/settings/components/metadata.tsx
Labels: Dashboard

#4506 FIX: DASH-217
  apps/dashboard/src/@3rdweb-sdk/react/components/roles/admin-only.tsx
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useContractRoles.ts
  apps/dashboard/src/contract-ui/tabs/overview/components/ContractChecklist.tsx
Labels: Dashboard

#4508 Fix ecosystem partners table
  apps/dashboard/.eslintrc.js
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/server/partners-table.tsx
Labels: Dashboard

#4512 Fix Get started with deploying contract card click, increase gap between steps
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/_components/GetStartedWithContractsDeploy.tsx
  apps/dashboard/src/components/dashboard/StepsCard.tsx
Labels: Dashboard

#4507 test: Add createAndReveal test for ERC721 lazy minting
  .changeset/warm-actors-behave.md
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/createAndReveal.test.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/reveal.test.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/reveal.ts
Labels: packages

#4513 [Playground] Fix: No longer auto disconnect from modal
  apps/playground-web/src/app/connect/sign-in/button/RightSection.tsx
  apps/playground-web/src/app/navLinks.ts
Labels: Playground

#4510 Add Account Abstraction pages in teams
  apps/dashboard/src/app/api/lib/getAPIKeys.ts
  apps/dashboard/src/app/api/lib/getAuthToken.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/isOpChain.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
  apps/dashboard/src/components/smart-wallets/index.tsx
  apps/dashboard/src/pages/dashboard/connect/account-abstraction.tsx
Labels: Dashboard

#4509 docs: update query input and output type
  apps/portal/src/app/connect/in-app-wallet/how-to/get-in-app-wallet-details-on-server/page.mdx
Labels: Portal

#4503 [Update] Fix ERC721 delayed reveal detection and refactor related components
  .changeset/giant-bulldogs-care.md
  apps/dashboard/src/contract-ui/tabs/nfts/components/batch-lazy-mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/reveal-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/page.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/ContractChecklist.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-lazy-mint.tsx
  packages/thirdweb/src/exports/extensions/erc721.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/read/getBatchesToReveal.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/createDelayedRevealBatch.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/reveal.ts
  packages/thirdweb/src/utils/ipfs.ts
Labels: Dashboard, packages

#4502 wallet social profiles in dashboard
  apps/dashboard/package.json
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/@/components/ui/avatar.tsx
  apps/dashboard/src/@/components/ui/button.tsx
  apps/dashboard/src/@/components/ui/hover-card.tsx
  apps/dashboard/src/app/(dashboard)/styleguide/page.tsx
  apps/dashboard/src/app/(dashboard)/trending/page.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/MobileBurgerMenuButton.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/ResourcesDropdownButton.tsx
  apps/dashboard/src/app/components/Header/TeamHeader/TeamHeader.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/SettingsCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AAFooterSection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/page.tsx
  apps/dashboard/src/app/team/[team_slug]/components/account-button.client.tsx
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/split-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-table-v2/index.tsx
  apps/dashboard/src/components/contract-components/hooks.ts
  apps/dashboard/src/components/embedded-wallets/Users/index.tsx
  apps/dashboard/src/components/engine/EngineSidebar.tsx
  apps/dashboard/src/components/engine/engine-instances-table.tsx
  apps/dashboard/src/components/engine/overview/backend-wallets-table.tsx
  apps/dashboard/src/components/engine/overview/engine-overview.tsx
  apps/dashboard/src/components/engine/overview/transaction-timeline.tsx
  apps/dashboard/src/components/engine/overview/transactions-table.tsx
  apps/dashboard/src/components/engine/permissions/access-tokens-table.tsx
  apps/dashboard/src/components/engine/permissions/admins-table.tsx
  apps/dashboard/src/components/layout/app-shell/index.tsx
  apps/dashboard/src/components/onboarding/LazyOnboardingBilling.tsx
  apps/dashboard/src/components/onboarding/index.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
  apps/dashboard/src/components/wallets/ConnectWalletMiniPlayground/MiniPlayground.tsx
  apps/dashboard/src/constants/urls.ts
  apps/dashboard/src/contract-ui/tabs/account-permissions/components/account-signer.tsx
  apps/dashboard/src/contract-ui/tabs/analytics/page.tsx
  apps/dashboard/src/contract-ui/tabs/manage/components/InstalledModulesTable.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/table.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/token-id.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/contract-ui/tabs/shared-components/listing-drawer.tsx
  apps/dashboard/src/contract-ui/tabs/shared-components/marketplace-table.tsx
  apps/dashboard/src/contract-ui/tabs/sources/page.tsx
  apps/dashboard/src/lib/vercel-utils.ts
  apps/dashboard/src/pages/[chain_id]/[...paths].tsx
  apps/dashboard/src/pages/_app.tsx
  apps/dashboard/src/pages/dashboard/connect/analytics.tsx
  pnpm-lock.yaml
Labels: Dashboard

#4516 [Update] Remove console log and optimize NFT reveal check
  apps/dashboard/src/contract-ui/tabs/overview/components/ContractChecklist.tsx
Labels: Dashboard

#4500 [SDK] Feature: Adds LINE auth method
  apps/dashboard/src/components/wallets/ConnectWalletMiniPlayground/MiniPlayground.tsx
  apps/playground-web/src/app/connect/sign-in/button/page.tsx
  apps/playground-web/src/app/connect/sign-in/components/InAppWalletFormGroup.tsx
  apps/playground-web/src/lib/constants.ts
  packages/thirdweb/src/react/core/utils/walletIcon.ts
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/icons/svgs.ts
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/oauthSignIn.ts
  packages/thirdweb/src/utils/domains.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Labels: merge-queue, Dashboard, Playground, packages

#4519 [Playground] Feature: Social Page
  apps/playground-web/src/app/connect/social/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/social/social-profiles.tsx
  apps/playground-web/src/components/ui/badge.tsx
Labels: merge-queue, Playground

#4496 Update page.mdx
  apps/portal/src/app/react/v5/adapters/page.mdx
Labels: Portal

#4521 [Wallet UI] Fix: Redirect on login
  apps/wallet-ui/src/app/[ecosystem]/login/page.tsx
  apps/wallet-ui/src/lib/auth.ts
Labels: merge-queue, Playground

#4518 [Refactor] Replace StorageSingleton with thirdweb storage download
  apps/dashboard/src/lib/wallet/nfts/alchemy.ts
  apps/dashboard/src/lib/wallet/nfts/moralis.ts
Labels: Dashboard

#4523 [Update] Handle undefined wallet address in WalletAddress component
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
Labels: hotfix, Dashboard

#4490 [SDK] Feature: Pay analytics
  legacy_packages/react/src/wallet/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/analytics/track.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/DirectPaymentModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: merge-queue, packages

#4472 [SDK] Add test getApprovalForTransaction.test.ts
  packages/thirdweb/src/extensions/erc20/write/getApprovalForTransaction.test.ts
Labels: packages

#4471 [SDK] test for ERC20 transferFrom
  packages/thirdweb/src/extensions/erc20/write/transferFrom.test.ts
Labels: packages

#4499 Get transaction count for deploys
  .changeset/smooth-phones-sit.md
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  packages/thirdweb/src/contract/deployment/deploy-deterministic.test.ts
  packages/thirdweb/src/contract/deployment/deploy-deterministic.ts
  packages/thirdweb/src/contract/deployment/deploy-via-autofactory.test.ts
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/contract/deployment/utils/bootstrap.test.ts
  packages/thirdweb/src/contract/deployment/utils/bootstrap.ts
  packages/thirdweb/src/contract/deployment/utils/clone-factory.ts
  packages/thirdweb/src/contract/deployment/utils/infra.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployContract.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployDeterministic.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployProxy.ts
  packages/thirdweb/src/extensions/airdrop/write/airdropERC1155WithSignature.test.ts
  packages/thirdweb/src/extensions/airdrop/write/airdropERC20WithSignature.test.ts
  packages/thirdweb/src/extensions/airdrop/write/airdropERC721WithSignature.test.ts
  packages/thirdweb/src/extensions/airdrop/write/claimERC1155.test.ts
  packages/thirdweb/src/extensions/airdrop/write/claimERC20.test.ts
  packages/thirdweb/src/extensions/airdrop/write/claimERC721.test.ts
  packages/thirdweb/src/extensions/erc4337/account/permissions.test.ts
  packages/thirdweb/src/extensions/marketplace/offers/offers.test.ts
  packages/thirdweb/src/extensions/marketplace/offers/write/makeOffer.ts
  packages/thirdweb/src/extensions/modules/common/getOrDeployModule.ts
  packages/thirdweb/src/extensions/modules/common/installPublishedModule.ts
  packages/thirdweb/src/extensions/modules/common/uninstallPublishedModule.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-erc1155.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-erc20.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-erc721.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-marketplace.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-modular-core.test.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-modular.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.test.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-split.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-vote.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.test.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.test.ts
  packages/thirdweb/src/utils/abi/normalizeFunctionParams.ts
  packages/thirdweb/src/utils/any-evm/compute-published-contract-address.ts
  packages/thirdweb/src/utils/any-evm/compute-published-contract-deploy-info.ts
  packages/thirdweb/test/globalSetup.ts
  packages/thirdweb/test/src/chains.ts
Labels: Dashboard, packages

#4517 Add initial Account layout
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/account/components/AccountHeader.tsx
  apps/dashboard/src/app/account/components/AccountHeaderUI.stories.tsx
  apps/dashboard/src/app/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/account/layout.tsx
  apps/dashboard/src/app/account/page.tsx
  apps/dashboard/src/app/account/settings/page.tsx
  apps/dashboard/src/app/account/wallets/page.tsx
  apps/dashboard/src/app/components/Header/SecondaryNav/ResourcesDropdownButton.tsx
  apps/dashboard/src/app/components/Header/SecondaryNav/SecondaryNav.tsx
  apps/dashboard/src/app/components/Header/SecondaryNav/account-button.client.tsx
  apps/dashboard/src/app/components/MobileBurgerMenuButton.tsx
  apps/dashboard/src/app/components/autoconnect.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/components/active-wallet-logo.tsx
  apps/dashboard/src/app/team/[team_slug]/components/nav-link.client.tsx
  apps/dashboard/src/app/team/[team_slug]/components/tab-switcher.client.tsx
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/team/components/TeamHeader/ProjectSelectorMobileMenuButton.tsx
  apps/dashboard/src/app/team/components/TeamHeader/ProjectSelectorUI.tsx
  apps/dashboard/src/app/team/components/TeamHeader/SearchInput.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamAndProjectSelectorPopoverButton.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeader.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamSelectionUI.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamSelectorMobileMenuButton.tsx
  apps/dashboard/src/app/team/components/TeamHeader/getValidTeamPlan.tsx
  apps/dashboard/src/stories/stubs.ts
Labels: Dashboard

#4470 [SDK] More tests for NFT extensions
  packages/thirdweb/src/extensions/erc1155/write/updateTokenURI.test.ts
  packages/thirdweb/src/extensions/erc721/drops/write/updateMetadata.test.ts
  packages/thirdweb/src/extensions/erc721/write/updateTokenURI.test.ts
  packages/thirdweb/src/extensions/erc721/write/updateTokenURI.ts
Labels: Dashboard, packages

#4522 ts 5.6 and other updates
  apps/dashboard/package.json
  apps/dashboard/src/components/configure-networks/ConfigureNetworkForm.tsx
  apps/dashboard/src/components/shared/CurrencySelector.tsx
  apps/dashboard/src/contract-ui/tabs/analytics/page.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/snapshot-upload.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/airdrop-upload.tsx
  apps/playground-web/package.json
  apps/playground-web/src/components/blockchain-api/read-contract-raw.tsx
  apps/portal/package.json
  apps/wallet-ui/package.json
  legacy_packages/auth/package.json
  legacy_packages/chains/package.json
  legacy_packages/cli/package.json
  legacy_packages/contracts-js/package.json
  legacy_packages/crypto/package.json
  legacy_packages/merkletree/package.json
  legacy_packages/pay/package.json
  legacy_packages/payments/package.json
  legacy_packages/react-core/package.json
  legacy_packages/react/package.json
  legacy_packages/sdk/package.json
  legacy_packages/sdk/src/evm/common/utils.ts
  legacy_packages/storage/package.json
  legacy_packages/storage/src/common/utils.ts
  legacy_packages/unity-js-bridge/package.json
  legacy_packages/wallets/package.json
  legacy_packages/wallets/src/evm/connectors/blocto/index.ts
  legacy_packages/wallets/src/evm/connectors/gcp-kms/signer.ts
  legacy_packages/wallets/src/evm/connectors/gcp-kms/utils/gcp-kms-utils.ts
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/utils/caching/lru.test.ts
  packages/thirdweb/src/utils/caching/lru.ts
  packages/thirdweb/src/wallets/in-app/core/eip5972/in-app-wallet-calls.ts
  packages/typedoc-gen/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages

#4524 Matic -> POL
  .changeset/young-jokes-run.md
  packages/thirdweb/src/chains/chain-definitions/polygon.ts
Labels: packages

#4528 feat: handle salt for deterministic deploys
  .changeset/strong-bulldogs-try.md
  packages/thirdweb/src/contract/deployment/deploy-deterministic.ts
  packages/thirdweb/src/contract/deployment/deploy-via-autofactory.ts
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployContract.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployProxy.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-modular.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.test.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.test.ts
  packages/thirdweb/src/utils/any-evm/compute-published-contract-deploy-info.ts
  packages/thirdweb/src/utils/bytecode/resolveImplementation.test.ts
  packages/thirdweb/test/src/abis/proxy.ts
Labels: packages

#4530 [Dashboard] Fix BigInt serialize issue
  apps/dashboard/src/contract-ui/tabs/account/components/nfts-owned.tsx
  apps/dashboard/src/contract-ui/tabs/listings/components/list-form.tsx
  apps/dashboard/src/lib/wallet/nfts/alchemy.ts
  apps/dashboard/src/lib/wallet/nfts/moralis.ts
  apps/dashboard/src/lib/wallet/nfts/simpleHash.ts
  apps/dashboard/src/lib/wallet/nfts/types.ts
Labels: Dashboard

#4531 [Portal] Docs: Adds Social API docs
  apps/portal/src/app/react-native/v5/sidebar.tsx
  apps/portal/src/app/react/v5/sidebar.tsx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/typescript/v5/sidebar.tsx
  packages/thirdweb/src/react/core/social/useSocialProfiles.ts
  packages/thirdweb/src/social/profiles.ts
Labels: Portal, packages

#4527 Update React Native dependencies and add support for React Native 0.75
  .changeset/dirty-lies-join.md
  apps/portal/src/app/react-native/v5/getting-started/page.mdx
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/react/native/ui/components/Address.tsx
  pnpm-lock.yaml
Labels: Portal, packages

#4533 feat: Add examples for contract deployment and export new functions
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/exports/deploys.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
Labels: packages

#4534 Sidebars cleanup
  apps/dashboard/.eslintrc.js
  apps/dashboard/.storybook/preview.tsx
  apps/dashboard/src/@/components/blocks/MobileSidebar.tsx
  apps/dashboard/src/@/components/blocks/Sidebar.tsx
  apps/dashboard/src/@/components/blocks/SidebarLayout.stories.tsx
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/@/components/ui/table.stories.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/components/sidebar/section.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/components/sidebar/sidebar.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/components/sidebar/types.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/DashboardConnectLayout.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/EcosystemCreatePage.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/layout.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/pay/page.tsx
  apps/dashboard/src/app/(dashboard)/trending/page.tsx
  apps/dashboard/src/app/account/layout.tsx
  apps/dashboard/src/app/components/Header/headerLinks.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/Sidebar.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/ConnectMobileSidebar.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/ConnectAnalyticsDashboard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartChart.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/(general)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/(general)/sidebars.tsx
  apps/dashboard/src/components/contract-components/tables/deployed-contracts.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/InAppWalletSettingsUI.stories.tsx
  apps/dashboard/src/components/engine/EngineGeneralPageLayout.tsx
  apps/dashboard/src/components/engine/EngineSidebar.tsx
  apps/dashboard/src/components/layout/app-shell/index.tsx
  apps/dashboard/src/components/pages/publish.tsx
  apps/dashboard/src/core-ui/sidebar/connect.tsx
  apps/dashboard/src/core-ui/sidebar/contracts.tsx
  apps/dashboard/src/core-ui/sidebar/settings.tsx
  apps/dashboard/src/pages/dashboard/connect/account-abstraction.tsx
  apps/dashboard/src/pages/dashboard/connect/analytics.tsx
  apps/dashboard/src/pages/dashboard/connect/in-app-wallets.tsx
  apps/dashboard/src/pages/dashboard/contracts/build.tsx
  apps/dashboard/src/pages/dashboard/contracts/deploy.tsx
  apps/dashboard/src/pages/dashboard/contracts/publish.tsx
  apps/dashboard/src/pages/dashboard/settings/api-keys/[id].tsx
  apps/dashboard/src/pages/dashboard/settings/api-keys/index.tsx
  apps/dashboard/src/pages/dashboard/settings/billing.tsx
  apps/dashboard/src/pages/dashboard/settings/devices.tsx
  apps/dashboard/src/pages/dashboard/settings/gas-credits.tsx
  apps/dashboard/src/pages/dashboard/settings/notifications.tsx
  apps/dashboard/src/pages/dashboard/settings/storage.tsx
  apps/dashboard/src/pages/dashboard/settings/usage.tsx
  apps/dashboard/src/pages/explore/index.tsx
  apps/dashboard/src/pages/publish/[...paths].tsx
Labels: Dashboard

#4529 [Playground] Feature: Update social api page
  apps/playground-web/src/app/connect/social/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/social/social-profiles.tsx
  pnpm-lock.yaml
Labels: Playground

#4537 Fix SidebarLayout overflow and billing alert spacing
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/components/settings/Account/Billing/alerts/Alert.tsx
Labels: Dashboard

#4540 Fix Progress bar overflow on UsageCard
  apps/dashboard/src/components/settings/Account/UsageCard.tsx
Labels: Dashboard
