Repository thirdweb-dev/js, pull requests merged in 2024-12, with the labels that each got.

#5541 Fix Portal > Contracts overview page links
  apps/dashboard/src/pages/sdk.tsx
  apps/portal/redirects.mjs
  apps/portal/src/app/connect/in-app-wallet/guides/interact-blockchain/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-contracts/nft-drop/page.mdx
  apps/portal/src/app/contracts/page.mdx
  apps/portal/src/app/glossary/gas/page.mdx
  apps/portal/src/app/glossary/ipfs/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/react/v5/in-app-wallet/how-to/interact-blockchain/page.mdx
Labels: Dashboard, Portal

#5532 [SDK] Refactor: Migrate signatures to Ox
  packages/thirdweb/package.json
  packages/thirdweb/src/extensions/erc1271/checkContractWalletSignedTypedData.ts
  packages/thirdweb/src/utils/signatures/helpers/parse-typed-data.ts
  packages/thirdweb/src/utils/signatures/sign-message.ts
  packages/thirdweb/src/utils/signatures/sign-typed-data.test.ts
  packages/thirdweb/src/utils/signatures/sign-typed-data.ts
  packages/thirdweb/src/utils/signatures/sign.ts
  packages/thirdweb/src/utils/signatures/signature-to-hex.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-web.test.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/wallets/in-app/core/actions/sign-typed-data.enclave.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
  packages/thirdweb/src/wallets/private-key.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart.test.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-request.test.ts
  pnpm-lock.yaml
Labels: packages, SDK

#5542 chore: Add promptTokens and completionTokens fields
  .changeset/tall-donuts-divide.md
  packages/service-utils/src/core/usage.ts
Labels: packages

#5548 fix: improve transaction cost estimation for pay modal
  .changeset/ten-rockets-stare.md
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useBuyTxStates.ts
  packages/thirdweb/src/transaction/utils.ts
Labels: packages, SDK

#5506 Version Packages
  .changeset/clever-carrots-march.md
  .changeset/pink-ducks-flash.md
  .changeset/selfish-deers-destroy.md
  .changeset/tall-donuts-divide.md
  .changeset/ten-rockets-stare.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages, SDK

#5516 feat: edit documentation for Account Abstraction and add Smart Backend Wallets
  apps/portal/src/app/engine/features/account-abstraction/page.mdx
  apps/portal/src/app/engine/features/backend-wallets/page.mdx
Labels: merge-queue, Portal

#5531 fix: Handle zero maxPriorityFeePerGas in 712 transactions
  .changeset/wild-games-vanish.md
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.ts
Labels: packages, SDK

#5457 [SDK] Add 2 new Pay functions: convertFiatToCrypto and convertCryptoToFiat
  .changeset/stupid-buses-wink.md
  packages/thirdweb/src/exports/pay.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.test.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.test.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.ts
  packages/thirdweb/src/pay/utils/definitions.ts
Labels: packages, SDK

#5540 [Dashboard] Remove tw-components stuff (1)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimerSelection.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/nfts-owned.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/create-account-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/airdrop-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/system.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/components/BlueprintsExplorer.tsx
  apps/dashboard/src/components/contract-components/shared/sources-accordion.tsx
  apps/dashboard/src/components/devRelEvents/AmbassadorCards.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
  apps/dashboard/src/pages/mission.tsx
  apps/dashboard/src/pages/rpc-edge.tsx
  apps/dashboard/src/pages/sdk.tsx
  apps/dashboard/src/pages/storage.tsx
Labels: Dashboard

#5543 [Dashboard] Remove chakra-ui from snapshot-upload
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/snapshot-upload.tsx
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.ts
Labels: Dashboard, packages, SDK

#5507 Dustin/engine playground
  apps/playground-web/package.json
  apps/playground-web/public/BaseSep.png
  apps/playground-web/public/Ethereum.png
  apps/playground-web/public/airdrop.avif
  apps/playground-web/public/minting.avif
  apps/playground-web/public/webhooks.avif
  apps/playground-web/src/app/api/airdrop/route.ts
  apps/playground-web/src/app/api/claimTo/route.ts
  apps/playground-web/src/app/api/erc20BatchMintTo/route.ts
  apps/playground-web/src/app/api/mintTo/route.ts
  apps/playground-web/src/app/api/transaction-status/route.ts
  apps/playground-web/src/app/engine/airdrop/page.tsx
  apps/playground-web/src/app/engine/minting/page.tsx
  apps/playground-web/src/app/engine/webhooks/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/blocks/EngineAPIHeader.tsx
  apps/playground-web/src/components/engine/airdrop/TransactionResults.tsx
  apps/playground-web/src/components/engine/airdrop/airdrop-erc20.tsx
  apps/playground-web/src/components/engine/gasless/Sponsorship.tsx
  apps/playground-web/src/components/engine/gasless/Webhook.tsx
  apps/playground-web/src/components/engine/minting/TransactionResults.tsx
  apps/playground-web/src/components/engine/minting/erc1155-mint-to.tsx
  apps/playground-web/src/components/ui/card.tsx
  apps/playground-web/src/components/ui/table.tsx
  pnpm-lock.yaml
  turbo.json
Labels: merge-queue, Playground

#5553 remove and redirect old landing pages
  apps/dashboard/redirects.js
  apps/dashboard/src/components/homepage/sections/SDKSection.tsx
  apps/dashboard/src/components/product-pages/common/CodeOptionButton.tsx
  apps/dashboard/src/components/product-pages/common/GuideShowcase.tsx
  apps/dashboard/src/components/product-pages/common/Hero.tsx
  apps/dashboard/src/components/product-pages/common/ProductLearnMoreCard.tsx
  apps/dashboard/src/components/product-pages/common/ProductSection.tsx
  apps/dashboard/src/components/product-pages/homepage/CodeSelector.tsx
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/rpc-edge.tsx
  apps/dashboard/src/pages/sdk.tsx
  apps/dashboard/src/pages/storage.tsx
  turbo.json
Labels: Dashboard

#5557 Remove icon from get started with contracts step card tabs
  apps/dashboard/src/app/account/contracts/_components/GetStartedWithContractsDeploy.tsx
Labels: Dashboard

#5552 Update page.mdx
  apps/portal/src/app/account/billing/upgrade-plan/page.mdx
Labels: Portal

#5555 update typedoc
  apps/portal/package.json
  packages/thirdweb/package.json
  packages/thirdweb/scripts/typedoc.mjs
  pnpm-lock.yaml
Labels: Portal, packages, SDK

#5556 Migrate TransactionButton to shadcn + tailwind
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/cancel-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/reset-claim-eligibility.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/deposit-native.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/create-account-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/BatchMetadata.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Claimable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Mintable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/ModuleForm.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/OpenEditionMetadata.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Royalty.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Transferable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/batchMetadata.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/claimable.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/mintable.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/module-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/openEditionMetadata.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/royalty.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/transferable.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/airdrop-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/burn-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/claim-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/mint-supply-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/transfer-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/update-metadata-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/claim-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/mint-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/reveal-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/shared-metadata-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/components/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/components/delegate-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/components/proposal-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/components/proposal.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/metadata.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/primary-sale.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/royalties.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/components/distribute-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/burn-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/claim-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/transfer-button.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/buttons/TransactionButton.stories.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-lazy-mint.tsx
Labels: Dashboard

#5591 trusted partner program & remove /contracts
  apps/dashboard/framer-rewrites.js
  apps/dashboard/src/components/contracts/CaseStudyStatic.tsx
  apps/dashboard/src/components/contracts/ContractInteractionSection.tsx
  apps/dashboard/src/components/contracts/LandingCaseStudyStaticSection.tsx
  apps/dashboard/src/components/contracts/Stats.tsx
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/contracts.tsx
Labels: Dashboard

#5592 [SDK] Fix: Account switching with connected smart wallets
  .changeset/silver-weeks-rescue.md
  apps/playground-web/src/app/api/airdrop/route.ts
  apps/playground-web/src/app/api/claimTo/route.ts
  apps/playground-web/src/app/api/erc20BatchMintTo/route.ts
  apps/playground-web/src/app/api/mintTo/route.ts
  biome.json
  packages/thirdweb/src/wallets/manager/connection-manager.test.ts
  packages/thirdweb/src/wallets/manager/index.ts
Labels: merge-queue, Playground, packages, SDK

#5594 feat: Support Expo 52 and React Native 0.76
  .changeset/red-baboons-share.md
  apps/portal/src/app/react-native/v5/getting-started/page.mdx
  apps/portal/src/app/react-native/v5/troubleshooting/page.mdx
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Portal, packages, SDK

#5577 feat: Add warning for rejected sponsorship policies
  .changeset/tame-melons-poke.md
  packages/thirdweb/src/wallets/smart/lib/paymaster.ts
Labels: packages, SDK

#5550 docs: Update useConnect example with client param
  packages/thirdweb/src/react/core/hooks/wallets/useConnect.ts
Labels: merge-queue, packages, SDK

#5595 fix: display appropriate error message on account status fetch failure outside of unauthorized access
  .changeset/rude-radios-smash.md
  packages/thirdweb/src/wallets/in-app/core/actions/get-enclave-user-status.ts
Labels: merge-queue, packages, SDK

#5549 Version Packages
  .changeset/red-baboons-share.md
  .changeset/rude-radios-smash.md
  .changeset/silver-weeks-rescue.md
  .changeset/stupid-buses-wink.md
  .changeset/tame-melons-poke.md
  .changeset/wild-games-vanish.md
  packages/react-native-adapter/CHANGELOG.md
  packages/react-native-adapter/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages, SDK

#5599 add insight landing page
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#5600 docs: Add EIP1193 extension documentation
  packages/thirdweb/scripts/typedoc.mjs
  packages/thirdweb/src/adapters/eip1193/from-eip1193.ts
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
Labels: packages, SDK

#5593 [SDK] Fix: Type `wallet` doesn't exists in `getUser`
  .changeset/curly-ligers-exist.md
  packages/thirdweb/src/wallets/in-app/core/users/getUser.test.ts
  packages/thirdweb/src/wallets/in-app/core/users/getUser.ts
Labels: merge-queue, packages, SDK

#5608 [Portal] Fix table of contents sidebar not updating on page change
  apps/portal/src/components/others/TableOfContents.tsx
Labels: Portal

#5611 chore: avoid extra fetch for zk chains
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
Labels: merge-queue, hotfix

#5612 bump thirdweb cjs size limit
  packages/thirdweb/.size-limit.json
Labels: packages, SDK

#5613 fix metadata base to set proper canonical urls
  apps/dashboard/next-sitemap.config.js
  apps/dashboard/src/app/layout.tsx
Labels: Dashboard

#5607 Replaced deprecated reference to `privateKeyAccount` in login.ts
  apps/portal/src/app/connect/auth/frameworks/next/page.mdx
Labels: Portal

#5609 [SDK] Fix tsdocs for isERC20
  packages/thirdweb/src/extensions/erc20/read/isERC20.ts
Labels: merge-queue, packages, SDK

#5618 [SDK] Fix: Remove auth from useConnectModal props as it's not currently supported
  .changeset/tidy-zoos-know.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
Labels: merge-queue, packages, SDK

#5620 [SDK] Fix: Hide sign in with wallet button when linking
  .changeset/strong-avocados-argue.md
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.test.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
Labels: merge-queue, packages, SDK

#5596 [SDK] Fix: Enable default smart wallet chain for ecosystem page
  .changeset/nervous-masks-beam.md
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/types.ts
  packages/thirdweb/src/wallets/ecosystem/get-ecosystem-wallet-auth-options.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.test.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
Labels: merge-queue, Dashboard, packages, SDK

#5623 [Dashboard] Fix Aidrop button in ERC1155 being disabled
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/airdrop-tab.tsx
Labels: Dashboard

#5610 [Dashboard] Fix all crashing stories in storybook
  apps/dashboard/src/@/actions/billing.ts
  apps/dashboard/src/@/components/billing.tsx
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/batchMetadata.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/claimable.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/mintable.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/openEditionMetadata.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/royalty.stories.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/transferable.stories.tsx
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/onboarding/ChoosePlan.tsx
  apps/dashboard/src/app/login/onboarding/on-boarding-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/create/tier-card.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
  apps/dashboard/src/components/settings/Account/Billing/BillingPricing.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: Dashboard

#5621 [SDK] Feature: Propagate error message from failed sign in
  .changeset/moody-turtles-count.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.tsx
  packages/thirdweb/src/wallets/ecosystem/is-ecosystem-wallet.ts
Labels: merge-queue, packages, SDK

#5619 docs: Update Connect wallet sign-in method URLs
  apps/portal/redirects.mjs
  apps/portal/src/app/connect/wallet/pregenerate-wallets/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/guest/page.mdx
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
Labels: Portal, packages, SDK

#5616 remove /community and add redirect
  apps/dashboard/redirects.js
  apps/dashboard/src/components/community/CommunityCard.tsx
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/community/index.tsx
Labels: Dashboard

#5633 Superchain Grant Updates
  apps/dashboard/public/assets/grant/superchain/icon-arena-z.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsForm.tsx
  apps/dashboard/src/pages/grant/superchain.tsx
Labels: merge-queue, Dashboard

#5634 TokenPaymaster (BASE_USDC, CELO_USD, LISK_LSK)
  .changeset/tiny-pugs-hunt.md
  packages/thirdweb/src/exports/wallets/smart.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
  packages/thirdweb/src/wallets/smart/lib/constants.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-tokenpaymaster.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
  packages/thirdweb/src/wallets/smart/types.ts
Labels: packages, SDK

#5602 Version Packages
  .changeset/curly-ligers-exist.md
  .changeset/moody-turtles-count.md
  .changeset/nervous-masks-beam.md
  .changeset/strong-avocados-argue.md
  .changeset/tidy-zoos-know.md
  .changeset/tiny-pugs-hunt.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages, SDK

#5637 [Apps] Chore: Add jakub as code owner
  .github/CODEOWNERS
Labels: merge-queue

#5635 update dependencies
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/in-app/web/lib/iframe-wallet.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#5636 fixes: DASH-541
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/page.tsx
  apps/dashboard/src/components/contract-components/publisher/masked-avatar.tsx
Labels: Dashboard

#5487 feat: erc7579 modular accounts
  .changeset/odd-coats-cheer.md
  packages/thirdweb/scripts/generate/abis/erc7579/IERC7579Account.json
  packages/thirdweb/scripts/generate/abis/erc7579/ModularAccountFactory.json
  packages/thirdweb/scripts/typedoc.mjs
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/auth/verify-signature.ts
  packages/thirdweb/src/contract/actions/resolve-abi.ts
  packages/thirdweb/src/exports/wallets/smart.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/IERC7579Account/events/ModuleInstalled.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/IERC7579Account/events/ModuleUninstalled.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/IERC7579Account/read/accountId.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/IERC7579Account/read/isModuleInstalled.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/IERC7579Account/read/isValidSignature.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/IERC7579Account/read/supportsExecutionMode.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/IERC7579Account/read/supportsModule.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/IERC7579Account/write/execute.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/IERC7579Account/write/executeFromExecutor.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/IERC7579Account/write/installModule.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/IERC7579Account/write/uninstallModule.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/events/OwnershipTransferred.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/events/Upgraded.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/read/accountImplementation.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/read/entrypoint.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/read/getAddress.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/read/implementation.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/read/owner.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/write/addStake.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/write/createAccountWithModules.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/write/renounceOwnership.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/write/transferOwnership.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/write/unlockStake.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/write/upgradeTo.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/write/withdraw.ts
  packages/thirdweb/src/extensions/erc7579/__generated__/ModularAccountFactory/write/withdrawStake.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/direct-listings.test.ts
  packages/thirdweb/src/extensions/pack/createNewPack.ts
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
  packages/thirdweb/src/wallets/smart/lib/paymaster.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
  packages/thirdweb/src/wallets/smart/presets/7579.ts
  packages/thirdweb/src/wallets/smart/presets/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-dev.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-modular.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
  packages/thirdweb/src/wallets/smart/types.ts
Labels: DO NOT MERGE, packages, SDK

#5625 [Documentation] Refactor: Reorganize Connect sidebar and simplify guides
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/get-started/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/configure/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/external-wallets/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/guest/page.mdx
  apps/portal/src/app/connect/wallet/user-management/get-user-profiles/page.mdx
  apps/portal/src/app/connect/wallet/user-management/link-multiple-identity/page.mdx
Labels: Portal

#5639 use social SDK for publisher page
  .changeset/blue-bees-ring.md
  apps/dashboard/src/@/components/ui/code/getCodeHtml.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/ProfileUI.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/components/PublishedContractTable.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/components/profile-header.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/page.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/[version]/opengraph-image.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/opengraph-image.tsx
  apps/dashboard/src/components/contract-components/fetch-contracts-with-versions.ts
  apps/dashboard/src/components/contract-components/hooks.ts
  apps/dashboard/src/components/contract-components/publisher/PublisherSocials.tsx
  apps/dashboard/src/components/contract-components/publisher/edit-profile.tsx
  apps/dashboard/src/components/contract-components/publisher/masked-avatar.tsx
  apps/dashboard/src/components/contract-components/publisher/publisher-header.tsx
  apps/dashboard/src/components/explore/contract-card/index.tsx
  apps/dashboard/src/components/explore/publisher/index.tsx
  apps/dashboard/src/components/icons/brand-icons/MediumIcon.tsx
  apps/dashboard/src/components/icons/brand-icons/MetaIcon.tsx
  apps/dashboard/src/components/icons/brand-icons/TelegramIcon.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/CreateApiKeyModal.stories.tsx
  apps/dashboard/src/constants/schemas.ts
  apps/dashboard/src/lib/publisher-utils.ts
  apps/dashboard/src/stores/chainStores.tsx
  apps/dashboard/src/tw-components/masked-avatar/index.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/avatar.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/name.tsx
Labels: DO NOT MERGE, Dashboard, packages, SDK

#5641 feat: Support ERC6492 smart account signatures
  .changeset/strong-beans-pump.md
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: packages, SDK

#5640 update next & react versions
  .changeset/ninety-foxes-refuse.md
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#5638 fix: defaultChainId should be validated in `refine`
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-modal.client.tsx
Labels: Dashboard

#5630 [SDK] Add erc20Value to buyFromListing transaction
  .changeset/silent-hats-melt.md
  packages/thirdweb/src/extensions/marketplace/direct-listings/direct-listings.test.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/write/buyFromListing.ts
Labels: packages, SDK

#5547 [Portal] Feature: Modified overview and added components
  .github/workflows/issue.yml
  apps/portal/src/app/contracts/explore/pre-built-modular/edition-drop/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/edition/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/nft-collection/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/nft-drop/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/open-edition/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/token-drop/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-modular/token/page.mdx
  apps/portal/src/app/contracts/page.mdx
Labels: merge-queue, Portal

#5646 remove a bunch of <Flex>
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/explorer/ContractExplorerPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/airdrop-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/nft-property.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/components/proposal.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/ContractTokensPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/engine-wallet-config.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/metrics/components/EngineSystemMetrics.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/relayers/components/engine-relayer.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/external-links-fieldset.tsx
Labels: Dashboard

#5647 move /terms, /privacy-policy to framer, remove /mission
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
  apps/dashboard/src/@/components/blocks/app-footer.tsx
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/components/footer/footerLinks.tsx
  apps/dashboard/src/components/landing-pages/faq.tsx
  apps/dashboard/src/components/mission/DesireSection.tsx
  apps/dashboard/src/components/mission/HeroSection.tsx
  apps/dashboard/src/components/mission/HowSection.tsx
  apps/dashboard/src/components/mission/MajorSection.tsx
  apps/dashboard/src/components/mission/MissionSection.tsx
  apps/dashboard/src/components/mission/OverviewSection.tsx
  apps/dashboard/src/components/mission/ReasonSection.tsx
  apps/dashboard/src/components/mission/ReasonWeb3Section.tsx
  apps/dashboard/src/hooks/effect/useParallexEffect.tsx
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/mission.tsx
  apps/dashboard/src/pages/privacy.tsx
  apps/dashboard/src/pages/tos.tsx
Labels: Dashboard

#5598 [SDK] Feature: Ox Transaction Envelopes
  .changeset/little-kids-wash.md
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/ethers5.test.ts
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/adapters/ethers6.ts
  packages/thirdweb/src/adapters/viem.test.ts
  packages/thirdweb/src/exports/wallets.native.ts
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/extensions/erc1271/checkContractWalletSignedTypedData.ts
  packages/thirdweb/src/react/web/utils/usePreloadWalletProviders.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/biconomy.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/engine.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/openzeppelin.ts
  packages/thirdweb/src/transaction/actions/gasless/send-gasless-transaction.ts
  packages/thirdweb/src/transaction/actions/sign-transaction.test.ts
  packages/thirdweb/src/transaction/actions/sign-transaction.ts
  packages/thirdweb/src/transaction/actions/to-serializable-transaction.ts
  packages/thirdweb/src/transaction/actions/zksync/getEip721Domain.ts
  packages/thirdweb/src/transaction/serialize-transaction.test.ts
  packages/thirdweb/src/transaction/serialize-transaction.ts
  packages/thirdweb/src/utils/any-evm/keyless-transaction.test.ts
  packages/thirdweb/src/utils/any-evm/keyless-transaction.ts
  packages/thirdweb/src/utils/hashing/hashMessage.ts
  packages/thirdweb/src/utils/hashing/hashTypedData.ts
  packages/thirdweb/src/utils/signatures/helpers/parse-typed-data.test.ts
  packages/thirdweb/src/utils/signatures/helpers/parse-typed-data.ts
  packages/thirdweb/src/utils/signatures/helpers/parseTypedData.ts
  packages/thirdweb/src/utils/signatures/sign-message.ts
  packages/thirdweb/src/utils/signatures/sign-typed-data.ts
  packages/thirdweb/src/utils/signatures/sign.ts
  packages/thirdweb/src/utils/signatures/signature-to-hex.ts
  packages/thirdweb/src/utils/types.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-mobile.test.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-mobile.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-wallet.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-web.test.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/eip5792/get-calls-status.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.ts
  packages/thirdweb/src/wallets/eip5792/show-calls-status.ts
  packages/thirdweb/src/wallets/in-app/core/actions/sign-typed-data.enclave.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/in-app/web/lib/iframe-wallet.ts
  packages/thirdweb/src/wallets/injected/index.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
  packages/thirdweb/src/wallets/native/create-wallet.ts
  packages/thirdweb/src/wallets/private-key.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
  packages/thirdweb/src/wallets/smart/smart.test.ts
  packages/thirdweb/src/wallets/smart/types.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-request.test.ts
  packages/thirdweb/src/wallets/wallet-types.ts
  pnpm-lock.yaml
Labels: merge-queue, packages, SDK

#5643 fix: client analytics for ecosystem wallet
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/data/analytics/wallets/ecosystem.ts
Labels: merge-queue, Dashboard

#5648 Joe arena z superchain mainnet
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsForm.tsx
  apps/dashboard/src/pages/grant/superchain.tsx
Labels: merge-queue, Dashboard

#5642 Version Packages
  .changeset/blue-bees-ring.md
  .changeset/little-kids-wash.md
  .changeset/ninety-foxes-refuse.md
  .changeset/odd-coats-cheer.md
  .changeset/silent-hats-melt.md
  .changeset/strong-beans-pump.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages, SDK

#5649 update dependencies
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#5617 [SDK] Fix: Disconnect smart wallet when signer is disconnected
  .changeset/strong-meals-remain.md
  packages/thirdweb/package.json
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/provider.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/provider.tsx
  packages/thirdweb/src/wallets/manager/connection-manager.test.ts
  packages/thirdweb/src/wallets/manager/index.ts
  pnpm-lock.yaml
Labels: merge-queue, hotfix, packages, SDK

#5651 add zero address fallback for publisher header
  apps/dashboard/src/components/contract-components/publisher/publisher-header.tsx
Labels: Dashboard

#5533 [SDK] USD balance for AccountBalance
  .changeset/fair-plants-pretend.md
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/exports/utils.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.test.ts
  packages/thirdweb/src/pay/convert/cryptoToFiat.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.test.ts
  packages/thirdweb/src/pay/convert/fiatToCrypto.ts
  packages/thirdweb/src/pay/convert/type.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/PrivateKey.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ReceiveFunds.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ReceiveFunds.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SendFunds.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SendFunds.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/StartScreen.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/formatTokenBalance.test.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/nativeToken.test.ts
  packages/thirdweb/src/react/web/ui/components/CopyIcon.tsx
  packages/thirdweb/src/react/web/ui/components/Skeleton.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/utils/formatNumber.ts
  packages/thirdweb/src/utils/shortenLargeNumber.test.ts
  packages/thirdweb/src/utils/shortenLargeNumber.ts
Labels: packages, SDK

#5622 [SDK] Feature: Adds tsdoc parsing and other eslint rules
  package.json
  packages/thirdweb/.eslintrc.cjs
  packages/thirdweb/src/wallets/wallet-connect/receiver/receiver.test.ts
  packages/thirdweb/src/wallets/wallet-connect/types.ts
  packages/thirdweb/src/wallets/wallet-types.ts
  packages/thirdweb/tsdoc.json
  pnpm-lock.yaml
Labels: merge-queue, hotfix, packages, SDK

#5626 Update page.mdx
  apps/portal/src/app/connect/auth/frameworks/next/page.mdx
Labels: Portal

#5627 Update CTA
  apps/playground-web/src/app/engine/airdrop/page.tsx
  apps/playground-web/src/app/engine/minting/page.tsx
  apps/playground-web/src/app/engine/webhooks/page.tsx
  apps/playground-web/src/components/blocks/EngineAPIHeader.tsx
Labels: merge-queue, Playground

#5653 [SDK] Fix: Improve enclave and userop error messages
  .changeset/curly-cycles-hammer.md
  packages/thirdweb/src/utils/encoding/hex.test.ts
  packages/thirdweb/src/wallets/in-app/core/actions/generate-wallet.enclave.ts
  packages/thirdweb/src/wallets/in-app/core/actions/sign-message.enclave.ts
  packages/thirdweb/src/wallets/in-app/core/actions/sign-transaction.enclave.ts
  packages/thirdweb/src/wallets/in-app/core/actions/sign-typed-data.enclave.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-dev.test.ts
Labels: packages, SDK

#5655 [SDK] Update to NFT Components
  .changeset/serious-bananas-boil.md
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/description.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/description.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/hooks.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/media.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/media.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/name.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/provider.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/utils.test.ts
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/utils.ts
Labels: packages, SDK

#5545 [Dashboard] Refactor: Remove chakra components (2)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/nft-property.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/supply-cards.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/listing-stats.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/stat-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/components/contract-permission.tsx
Labels: Dashboard

#5658 [Dashboard] Login flow improvements
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderLoggedOut.tsx
  apps/dashboard/src/app/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/app/team/components/TeamHeader/team-header.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: Dashboard

#5668 fix: Add chain fallback for wallet switching
  .changeset/tasty-emus-promise.md
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, SDK

#5672 fix: ox is hard dependency
  .changeset/cool-pugs-smoke.md
  packages/thirdweb/package.json
Labels: merge-queue, hotfix, packages, SDK

#5670 chore: Add modelName, sessionId, requestId usage
  .changeset/gold-gorillas-clap.md
  packages/service-utils/src/core/usage.ts
Labels: merge-queue, packages

#5673 fix: should always contain gas price info even if it's 0
  .changeset/nervous-pots-smell.md
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
Labels: merge-queue, packages, SDK

#5671 feat: Add LoyaltyCard contract type support for ERC721 signature minting
  .changeset/lovely-spoons-attack.md
  packages/thirdweb/scripts/generate/abis/erc721/ISignatureMintERC721_v2.json
  packages/thirdweb/src/extensions/erc721/__generated__/ISignatureMintERC721_v2/events/TokensMintedWithSignature.ts
  packages/thirdweb/src/extensions/erc721/__generated__/ISignatureMintERC721_v2/read/verify.ts
  packages/thirdweb/src/extensions/erc721/__generated__/ISignatureMintERC721_v2/write/mintWithSignature.ts
  packages/thirdweb/src/extensions/erc721/write/sigMint.ts
  packages/thirdweb/src/extensions/erc721/write/sigMint721.test.ts
Labels: packages, SDK

#5660 [SDK] Fix: Custom auth profile label
  .changeset/breezy-birds-glow.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkedProfilesScreen.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkedProfilesScreen.tsx
Labels: Bug, merge-queue, React SDK, packages, SDK

#5650 Version Packages
  .changeset/breezy-birds-glow.md
  .changeset/cool-pugs-smoke.md
  .changeset/curly-cycles-hammer.md
  .changeset/dirty-goats-invent.md
  .changeset/fair-plants-pretend.md
  .changeset/gold-gorillas-clap.md
  .changeset/lovely-spoons-attack.md
  .changeset/nervous-pots-smell.md
  .changeset/serious-bananas-boil.md
  .changeset/strong-meals-remain.md
  .changeset/tasty-emus-promise.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages, SDK

#5667 update dependencies
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#5535 [Playground] Feature: Headless components
  apps/playground-web/public/headless-ui-header.png
  apps/playground-web/src/app/connect/ui/nft/page.tsx
  apps/playground-web/src/app/connect/ui/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/app/page.tsx
  apps/playground-web/src/components/headless-ui/account-examples.tsx
  apps/playground-web/src/components/headless-ui/nft-examples.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/avatar.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/name.tsx
Labels: Playground, packages, SDK

#5669 updated manage billing section information
  apps/portal/src/app/account/billing/assets/billing-settings.png
  apps/portal/src/app/account/billing/assets/invoices-settings.png
  apps/portal/src/app/account/billing/assets/rpc-settings.png
  apps/portal/src/app/account/billing/assets/storage-settings.png
  apps/portal/src/app/account/billing/assets/usage-settings.png
  apps/portal/src/app/account/billing/manage-billing/page.mdx
Labels: Portal

#5680 fix: removed login navigation text
  apps/dashboard/src/app/login/LoginPage.tsx
Labels: Dashboard

#5679 Chain Page Updates for Creator & Metal
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/creatorBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/creatorCTA.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/metalBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/metalCTA.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: merge-queue, Dashboard

#5684 Nebula scope changes in create project modal and project settings page
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/embed/embed-setup.tsx
  apps/dashboard/src/app/account/components/AccountHeader.tsx
  apps/dashboard/src/app/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPageForTeams.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/page.tsx
  apps/dashboard/src/app/team/components/TeamHeader/ProjectSelectorMobileMenuButton.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamAndProjectSelectorPopoverButton.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/CreateApiKeyModal.stories.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
  packages/service-utils/src/core/services.ts
Labels: Dashboard, packages

#5682 [SDK] Fix: Pay not respecting ecosystem AA
  .changeset/lazy-games-cheat.md
  packages/thirdweb/src/react/core/utils/wallet.test.ts
  packages/thirdweb/src/react/core/utils/wallet.ts
Labels: packages, SDK

#5676 [SDK] Add missing use-client directives to some components
  packages/thirdweb/src/react/web/ui/prebuilt/Account/blobbie.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/provider.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Chain/icon.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/media.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/provider.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/icon.tsx
Labels: packages, SDK

#5681 change insight auth in docs
  .github/workflows/issue.yml
  apps/portal/src/app/insight/get-started/page.mdx
Labels: Portal

#5674 Adds Portuguese (Brazil) translation for wallet connection
  .changeset/olive-camels-live.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/br.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/ui/types.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/br.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/getInjectedWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/br.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/br.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/getSmartWalletLocale.ts
Labels: packages, SDK

#5688 fix: Autoconnect previously linked wallets
  .changeset/happy-suns-nail.md
  apps/playground-web/src/components/styled-connect-embed.tsx
  packages/thirdweb/src/react/core/hooks/wallets/useAddConnectedWallet.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnect.ts
  packages/thirdweb/src/react/native/hooks/wallets/useLinkProfile.ts
  packages/thirdweb/src/react/native/hooks/wallets/useProfiles.ts
  packages/thirdweb/src/react/web/hooks/wallets/useLinkProfile.ts
  packages/thirdweb/src/react/web/hooks/wallets/useProfiles.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkProfileScreen.tsx
  packages/thirdweb/src/wallets/manager/index.ts
Labels: Playground, packages, SDK

#5687 Version Packages
  .changeset/happy-suns-nail.md
  .changeset/lazy-games-cheat.md
  .changeset/olive-camels-live.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages, SDK

#5694 more pages moving to framer
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
  apps/dashboard/src/components/community/FastTrackChains.tsx
  apps/dashboard/src/components/community/PartnersSection.tsx
  apps/dashboard/src/components/community/StartupCards.tsx
  apps/dashboard/src/components/devRelEvents/AmbassadorCards.tsx
  apps/dashboard/src/components/grant/superchain/HeroSection.tsx
  apps/dashboard/src/components/homepage/Aurora.tsx
  apps/dashboard/src/components/landing-pages/card-with-image.tsx
  apps/dashboard/src/components/product-pages/common/ProductCard.tsx
  apps/dashboard/src/components/product-pages/common/ProductPage.tsx
  apps/dashboard/src/components/product-pages/common/nav/data.ts
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/community/ambassadors.tsx
  apps/dashboard/src/pages/community/startup-program.tsx
  apps/dashboard/src/pages/grant/superchain.tsx
  apps/dashboard/src/pages/open-source.tsx
  apps/dashboard/src/tw-components/masked-avatar/hexagon.png
  apps/dashboard/src/tw-components/masked-avatar/index.tsx
Labels: Dashboard

#5360 [Dashboard | SDK] Feature: Ref values for address params in publish
  apps/dashboard/src/@/components/blocks/FormFieldSetup.tsx
  apps/dashboard/src/app/(dashboard)/contracts/publish/[publish_uri]/page.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/trusted-forwarders-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/contract-params-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/decoded-bytes-input/decoded-input-array-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/decoded-bytes-input/decoded-input-set.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/decoded-bytes-input/decoded-input.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/decoded-bytes-input/ref-bytes-input-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/decoded-bytes-input/ref-bytes-input.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/impl-params-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/index.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/ref-contract-impl-input/ref-input-impl-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/ref-contract-impl-input/ref-input-impl.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/ref-contract-input/ref-input-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/ref-contract-input/ref-input.tsx
  apps/dashboard/src/components/contract-components/fetchPublishedContracts.ts
  apps/dashboard/src/contract-ui/components/solidity-inputs/raw-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/string-input.tsx
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/prebuilts/process-ref-deployments.test.ts
  packages/thirdweb/src/extensions/prebuilts/process-ref-deployments.ts
  packages/thirdweb/src/extensions/thirdweb/write/publish.ts
  packages/thirdweb/src/utils/any-evm/deploy-metadata.ts
Labels: merge-queue, Dashboard, packages, SDK

#5686 fix: project card design and nebula text
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page-ui.client.tsx
Labels: Dashboard

#5697 [React] Feature: Export web `getLastAuthProvider`
  .changeset/warm-students-breathe.md
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/core/utils/storage.ts
  packages/thirdweb/src/react/web/utils/storage.test.ts
  packages/thirdweb/src/react/web/utils/storage.ts
Labels: merge-queue, packages, SDK

#5700 closes: DASH-600
  apps/dashboard/framer-rewrites.js
  apps/dashboard/src/app/api/contact-us/route.ts
  apps/dashboard/src/app/api/contact-us/types.ts
  apps/dashboard/src/components/partners/partner-logo.tsx
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/contact-us.tsx
Labels: Dashboard

#5701 update startup program URL path
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#5698 update dependencies
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/react-native-adapter/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#5702 handle empty address in fetchPublishedContracts
  apps/dashboard/src/components/contract-components/fetchPublishedContracts.ts
Labels: Dashboard

#5704 Fix LoadingCard size on mobile in login page + match LoadingCard size to ConnectEmbed
  apps/dashboard/src/app/login/LoginPage.tsx
Labels: Dashboard

#5705 [Dashboard] Minor UI adjustments
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/components/PublishedContractTable.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
Labels: Dashboard

#5696 Version Packages
  .changeset/fluffy-pets-tie.md
  .changeset/warm-students-breathe.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages, SDK

#5706 remove unused api routes
  apps/dashboard/src/pages/api/gas.ts
  apps/dashboard/src/pages/api/luma-events.ts
  apps/dashboard/src/pages/api/proxy.ts
Labels: Dashboard

#5707 fix category page crash
  apps/dashboard/src/app/(dashboard)/explore/[category]/page.tsx
  apps/dashboard/src/data/explore.ts
Labels: Dashboard

#5711 [Nebula] Remove presence message when adding an error message
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
Labels: Dashboard

#5712 [Nebula] Fix page not redirected to new chat page when deleting active chat
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebarLink.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaMobileNav.tsx
  apps/dashboard/src/app/nebula-app/(app)/hooks/useNewChatPageLink.ts
Labels: Dashboard

#5604 feat: add unlinking for in app wallet accounts
  .changeset/strong-snails-jam.md
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/exports/wallets.native.ts
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/exports/wallets/in-app.native.ts
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/react/native/hooks/wallets/useUnlinkProfile.test.tsx
  packages/thirdweb/src/react/native/hooks/wallets/useUnlinkProfile.ts
  packages/thirdweb/src/react/web/hooks/wallets/useUnlinkProfile.test.tsx
  packages/thirdweb/src/react/web/hooks/wallets/useUnlinkProfile.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkedProfilesScreen.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkedProfilesScreen.tsx
  packages/thirdweb/src/wallets/in-app/core/authentication/linkAccount.test.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/linkAccount.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/core/interfaces/connector.ts
  packages/thirdweb/src/wallets/in-app/native/auth/index.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: merge-queue, packages, SDK

#5715 [Portal] Fix: Broken Link
  apps/portal/src/app/connect/wallet/sign-in-methods/configure/page.mdx
Labels: merge-queue, Portal

#5716 [Portal] Fix: Broken Link
  apps/portal/src/app/connect/wallet/overview/page.mdx
Labels: merge-queue, Portal

#5631 [Dashboard] Add Insight blueprint playground
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/@/components/ui/DynamicHeight.tsx
  apps/dashboard/src/@/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/dashboard/src/@/components/ui/code/CodeBlockContainer.tsx
  apps/dashboard/src/@/components/ui/code/RenderCode.tsx
  apps/dashboard/src/@/components/ui/code/code.client.tsx
  apps/dashboard/src/@/components/ui/code/getCodeHtml.tsx
  apps/dashboard/src/@/components/ui/code/plaintext-code.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/[blueprint_slug]/blueprint-playground.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/[blueprint_slug]/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/components/BlueprintsExplorer.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/components/BlueprintsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/components/BlueprintsPageHeader.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/utils.ts
Labels: Dashboard

#5708 Update /use and types to v2
  .changeset/odd-flies-eat.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/authorize.test.ts
  packages/service-utils/src/core/authorize/client.test.ts
  packages/service-utils/src/core/authorize/client.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/core/authorize/service.test.ts
  packages/service-utils/src/core/authorize/service.ts
  packages/service-utils/src/core/authorize/types.ts
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
  packages/service-utils/src/core/usageLimit/index.ts
  packages/service-utils/src/core/usageLimit/types.ts
  packages/service-utils/src/core/usageLimit/usageLimit.test.ts
  packages/service-utils/src/index.ts
  packages/service-utils/src/mocks.ts
  packages/service-utils/src/node/index.ts
Labels: packages

#5709 [SDK] Feature: Adds `defaultCountryCode` prop to ConnectButton
  .changeset/fast-items-film.md
  packages/thirdweb/src/react/web/wallets/in-app/CountrySelector.test.tsx
  packages/thirdweb/src/react/web/wallets/in-app/CountrySelector.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.test.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InputSelectionUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/supported-sms-countries.ts
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/wallets/ecosystem/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
Labels: packages, SDK

#5714 Version Packages
  .changeset/fast-items-film.md
  .changeset/odd-flies-eat.md
  .changeset/strong-snails-jam.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages, SDK

#5713 add onramp status for buy with fiat in portal
  apps/portal/src/app/dotnet/pay/getbuywithfiatstatus/page.mdx
Labels: Portal

#5683 fix ignore of mimeTime set in mediaRenderer
  packages/thirdweb/src/react/web/ui/MediaRenderer/useResolvedMediaType.ts
Labels: packages, SDK

#5644 [SDK] Feature: Add wagmi adapter for in-app wallet
  .changeset/strong-panthers-notice.md
  packages/thirdweb/src/exports/wallets.native.ts
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/exports/wallets/in-app.native.ts
  packages/thirdweb/src/exports/wallets/in-app.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
  packages/thirdweb/src/wallets/manager/connection-manager.test.ts
  packages/wagmi-adapter/README.md
  packages/wagmi-adapter/package.json
  packages/wagmi-adapter/src/connector.ts
  packages/wagmi-adapter/src/exports/thirdweb.ts
  packages/wagmi-adapter/tsconfig.base.json
  packages/wagmi-adapter/tsconfig.build.json
  packages/wagmi-adapter/tsconfig.json
  pnpm-lock.yaml
Labels: packages, SDK

#5717 Version Packages
  .changeset/strong-panthers-notice.md
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages

#5677 [Playground] Add Token components, fix links
  apps/playground-web/public/usdc.svg
  apps/playground-web/src/app/connect/ui/nft/page.tsx
  apps/playground-web/src/app/connect/ui/page.tsx
  apps/playground-web/src/app/connect/ui/token/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/headless-ui/token-examples.tsx
Labels: Playground

#5725 Version Packages
  .changeset/quiet-maps-study.md
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages

#5724 [Service Utils] Feature: Accept Request in `authorizeNode`
  .changeset/tidy-squids-end.md
  packages/service-utils/src/node/index.ts
Labels: merge-queue, packages

#5728 allow passing `null` to service scope, do not check domains on `secretKey` auth
  .changeset/chatty-llamas-drum.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/client.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/core/authorize/service.ts
  packages/service-utils/src/mocks.ts
Labels: packages

#5729 remove client ID derivation from secret key
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/node/index.ts
Labels: packages

#5727 Version Packages
  .changeset/chatty-llamas-drum.md
  .changeset/tidy-squids-end.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

#5689 test: Add wallet connection hook tests
  packages/thirdweb/src/react/core/hooks/wallets/useAddConnectedWallet.test.tsx
  packages/thirdweb/src/react/core/hooks/wallets/useConnect.test.tsx
  packages/thirdweb/src/react/core/hooks/wallets/useSetActiveWallet.test.tsx
  packages/thirdweb/test/src/mocks/storage.ts
Labels: packages, SDK

#5730 Process deploy param ref only when non-empty
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
Labels: merge-queue, packages, SDK

#5678 [Playground] Chain components
  apps/playground-web/src/app/connect/ui/chain/page.tsx
  apps/playground-web/src/app/connect/ui/token/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/headless-ui/chain-examples.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Chain/icon.tsx
Labels: Playground, packages, SDK

#5731 [DASH-610] Fix useActiveWalletChain missing chain overrides added in dashboard
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/app/providers.tsx
  apps/dashboard/src/hooks/chains/allChains.ts
Labels: Dashboard

#5732 [DASH-612] Nebula: Add title and description meta
  apps/dashboard/src/app/nebula-app/layout.tsx
Labels: Dashboard

#5733 docs: Add more context on guest mode
  apps/portal/src/app/connect/wallet/sign-in-methods/guest/page.mdx
Labels: Portal

#5734 use resolved ENS name if available
  apps/dashboard/next-env.d.ts
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/ProfileUI.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/components/profile-header.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/page.tsx
Labels: Dashboard

#5736 [Dashboard] Nebula - Update context filters + Add OG image
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/api/session.ts
  apps/dashboard/src/app/nebula-app/(app)/api/types.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.tsx
  apps/dashboard/src/app/nebula-app/opengraph-image.png
Labels: Dashboard

#5737 [DASH-624] Add tracking in insight playground
  apps/dashboard/src/@/components/ui/code/CodeBlockContainer.tsx
  apps/dashboard/src/@/components/ui/code/RenderCode.tsx
  apps/dashboard/src/@/components/ui/code/code.client.tsx
  apps/dashboard/src/@/components/ui/code/plaintext-code.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: Dashboard

#5738 [DASH-616] Nebula - Add Alpha badge in sidebar
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaMobileNav.tsx
Labels: Dashboard

#5691 [SDK] Headless Wallet components | CNCT-2620
  .changeset/hip-houses-hear.md
  apps/portal/src/app/react/v5/components/onchain/page.mdx
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/react/web/ui/prebuilt/Chain/name.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Chain/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Chain/provider.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/name.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/provider.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/provider.tsx
Labels: Portal, packages, SDK

#5692 Playground: Examples for Wallet components
  apps/playground-web/src/app/connect/ui/wallet/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/headless-ui/wallet-examples.tsx
Labels: Playground

#5739 [CI] Chore: Only run actions for contributors
  .github/workflows/auto-assign.yml
  .github/workflows/issue.yml
Labels: merge-queue

#5740 [CI] Feature: Deploy typedoc to permalink
  .github/workflows/typedoc.yml
  packages/thirdweb/package.json
  packages/thirdweb/scripts/parse.mjs
  pnpm-lock.yaml
Labels: merge-queue, packages, SDK

#5744 [Dashboard] Fix: Nebula send transaction params
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
Labels: merge-queue, hotfix, Dashboard

#5746 Fix migration to enclave wallets in react native
  .changeset/eighty-days-pump.md
  .changeset/wicked-yaks-flow.md
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/in-app/native/helpers/constants.ts
  pnpm-lock.yaml
Labels: packages, SDK

#5654 [Dashboard] Add a form to let user manually input data for Marketplace listings
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
Labels: Dashboard

#5747 Fix API key redirect URL schema on in-app wallet settings and unresponsive general project settings page
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
Labels: Dashboard

#5748 Remove duplicated in-app-wallet and account-abstraction settings UI from /connect layout
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/config/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/config/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/layout.tsx
  apps/dashboard/src/components/smart-wallets/index.tsx
Labels: Dashboard

#5720 initial nebula docs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/connect/account-abstraction/erc-20-paymaster/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/layout.tsx
  apps/portal/src/app/nebula/api-reference/page.mdx
  apps/portal/src/app/nebula/layout.tsx
  apps/portal/src/app/nebula/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
  apps/portal/src/app/page.tsx
  apps/portal/src/icons/index.ts
  apps/portal/src/icons/products/nebula/NebulaIcon.tsx
  apps/portal/tsconfig.json
Labels: Portal

#5750 [DASH-444] Nebula - Update login flow
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/nebula-app/(app)/chat/[session_id]/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/chat/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/page.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
  apps/dashboard/src/app/nebula-app/login/page.tsx
Labels: Dashboard

#5749 update dependencies
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#5752 [DASH-635] Fix useActiveWalletChain not returning custom chain
  apps/dashboard/src/hooks/chains/allChains.ts
Labels: Dashboard

#5760 [SDK]: Chore: Fix AWS dependencies in dependabot config
  .github/dependabot.yml
Labels: merge-queue

#5758 [DASH-638] Improve page load speed for <project>/connect tab by skipping a redirect
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/tabs.tsx
Labels: Dashboard

#5766 move execute out to be api endpoint
  apps/portal/src/app/nebula/api-reference/page.mdx
Labels: Portal

#5767 update nebula overview page
  apps/portal/src/app/nebula/page.mdx
Labels: Portal

#5768 Chain Page Updates
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/funkiBanner.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/funkiCTA.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/somniaBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsForm.tsx
Labels: merge-queue, Dashboard
