Repository thirdweb-dev/js, pull requests merged in 2024-07, with the labels that each got.

#3557 fix(responsive): improve responsive design for various dashboard components
  apps/dashboard/src/app/(dashboard)/dashboard/components/sidebar/sidebar.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[ecosystemId]/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[ecosystemId]/components/client/ecosystem-header.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[ecosystemId]/components/client/integration-permissions-section.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[ecosystemId]/components/server/ecosystem-partners-section.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[ecosystemId]/components/server/partners-table.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[ecosystemId]/layout.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/components/client/create-ecosystem-form.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/page.tsx
Labels: dashboard

#3558 fix(utils): correct filter condition for recommended wallets
  .changeset/spotty-kids-shave.md
  packages/thirdweb/src/react/web/utils/sortWallets.ts
Labels: packages

#3561 Fix playground docs link
  apps/playground-web/src/app/connect/sign-in/page.tsx
Labels: merge-queue, playground

#3568 Add announcement for Onchain Olympics
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
Labels: merge-queue, dashboard

#3562 fix(ts): import of coinbase sdk in vite
  .changeset/tiny-goats-decide.md
  packages/thirdweb/src/wallets/coinbase/coinbaseWebSDK.ts
Labels: bug, merge-queue, packages

#3555 Version Packages
  .changeset/spotty-kids-shave.md
  .changeset/strange-lemons-work.md
  .changeset/tiny-goats-decide.md
  legacy_packages/eslint-config-thirdweb/CHANGELOG.md
  legacy_packages/eslint-config-thirdweb/package.json
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3570 feat(react native): add Skeleton loading state across components
  .changeset/four-clocks-look.md
  packages/thirdweb/src/react/native/ui/components/Address.tsx
  packages/thirdweb/src/react/native/ui/components/ChainIcon.tsx
  packages/thirdweb/src/react/native/ui/components/Header.tsx
  packages/thirdweb/src/react/native/ui/components/RNImage.tsx
  packages/thirdweb/src/react/native/ui/components/Skeleton.tsx
  packages/thirdweb/src/react/native/ui/components/TokenIcon.tsx
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/components/button.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectedButton.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectedModal.tsx
  packages/thirdweb/src/react/native/ui/connect/ErrorView.tsx
  packages/thirdweb/src/react/native/ui/connect/ExternalWalletsList.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/connect/ReceiveScreen.tsx
  packages/thirdweb/src/react/native/ui/connect/SuccessView.tsx
  packages/thirdweb/src/react/native/ui/connect/TokenListScreen.tsx
Labels: packages

#3572 fix lockfile
  package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  pnpm-lock.yaml
Labels: packages

#3569 Support localhost in Pay domains
  .changeset/sweet-badgers-bake.md
  packages/thirdweb/src/pay/utils/definitions.ts
Labels: packages

#3574 Fix inApp wallet connection screen on compact modal
  .changeset/big-rules-count.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AnyWalletConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletConnectUI.tsx
Labels: hotfix, packages

#3573 fix(react-native): ensure onClose is called on successful wallet connection in ConnectModal
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
Labels: packages

#3575 Reset selection data on wallet selection
  .changeset/hot-donuts-change.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
Labels: packages

#3571 Version Packages
  .changeset/big-rules-count.md
  .changeset/four-clocks-look.md
  .changeset/hot-donuts-change.md
  .changeset/sweet-badgers-bake.md
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3577 feature(react): show ecosystem wallet branding regardless of modal size
  .changeset/warm-eyes-invent.md
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletFormUI.tsx
Labels: packages

#3537 feature(dashboard): ecosystem wallets
  apps/dashboard/package.json
  apps/dashboard/redirects.js
  apps/dashboard/src/@/components/ui/ConfirmationDialog.tsx
  apps/dashboard/src/@/components/ui/alert-dialog.tsx
  apps/dashboard/src/@/components/ui/dropdown-menu.tsx
  apps/dashboard/src/@/components/ui/form.tsx
  apps/dashboard/src/@/components/ui/image-upload.tsx
  apps/dashboard/src/@/components/ui/input.tsx
  apps/dashboard/src/@/components/ui/radio-group.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useLoggedInUser.ts
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/client/filters.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chainlist-card.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/components/sidebar/sidebar.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/client/ecosystem-header.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/client/integration-permissions-toggle.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/server/ecosystem-partners-section.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/server/integration-permissions-section.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/server/partners-table.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/hooks/use-add-partner.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/hooks/use-delete-partner.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/hooks/use-ecosystem.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/hooks/use-partners.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/hooks/use-update-ecosystem.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/layout.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/permissions/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/payment-failed/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/requested/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/components/client/create-ecosystem-form.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/hooks/use-create-ecosystem.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/hooks/use-ecosystem-list.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/types.ts
  apps/dashboard/src/app/(dashboard)/layout.tsx
  apps/dashboard/src/app/components/DashboardFooter.tsx
  apps/dashboard/src/app/components/Header/DashboardHeader.tsx
  apps/dashboard/src/components/analytics/chart-container.tsx
  apps/dashboard/src/utils/error.ts
  pnpm-lock.yaml
Labels: dashboard

#3579 [Fix] Remove IPFS replacement hack in ChainIcon component
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/chain-icon.tsx
Labels: dashboard

#3581 fix: unit price conversion for ERC20 claimTo
  packages/thirdweb/src/extensions/erc1155/drop1155.test.ts
  packages/thirdweb/src/extensions/erc20/drop20.test.ts
  packages/thirdweb/src/extensions/erc721/drop721.test.ts
  packages/thirdweb/src/utils/extensions/drops/get-claim-params.ts
Labels: packages

#3582 feat: expose `waitForUserOpReceipt` helper function
  .changeset/fresh-wasps-dance.md
  packages/thirdweb/src/exports/wallets/smart.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages

#3580 docs(ts): fix ecosystem wallet jsdocs
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
Labels: packages

#3578 Version Packages
  .changeset/fresh-wasps-dance.md
  .changeset/modern-insects-worry.md
  .changeset/warm-eyes-invent.md
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3583 feat(react-native): animated connect loading states
  .changeset/late-poets-bow.md
  packages/thirdweb/src/react/core/hooks/wallets/useConnect.ts
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/native/ui/connect/ExternalWalletsList.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/connect/WalletLoadingThumbnail.tsx
Labels: packages

#3587 Hotfix: Update support form to use Connect v5
  apps/dashboard/src/components/help/contact-support-modal.tsx
Labels: merge-queue, hotfix, dashboard

#3588 fix(dashboard): update to use new THIRDWEB_API_HOST in dashboard ecosystem components
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/hooks/use-ecosystem.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/hooks/use-create-ecosystem.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/hooks/use-ecosystem-list.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/page.tsx
Labels: dashboard

#3589 fix(hooks): update useLoggedInUser to include address validation
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useLoggedInUser.ts
Labels: dashboard

#3576 Blockscout v2 contract verification
  .changeset/three-lamps-explain.md
  legacy_packages/sdk/src/evm/common/verification.ts
  legacy_packages/sdk/src/evm/core/classes/contract-verifier.ts
  packages/thirdweb/src/contract/verification/index.ts
Labels: merge-queue, packages

#3590 [Fix] Update awaitTransaction and alignedTx nonce handling
  .changeset/four-yaks-approve.md
  packages/thirdweb/src/adapters/ethers5.ts
Labels: packages

#3594 fix(dashboard): ecosystem images
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/client/ecosystem-header.client.tsx
Labels: dashboard

#3598 Fix Send TX UI
  .changeset/wet-days-yawn.md
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
Labels: hotfix, packages

#3593 fix(ui): correct error handling in SendFundsForm component
  .changeset/warm-crews-think.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SendFunds.tsx
Labels: packages

#3599 fix(react-native): respect modal title and theme colors
  .changeset/blue-cherries-wonder.md
  packages/thirdweb/src/react/native/ui/components/Header.tsx
  packages/thirdweb/src/react/native/ui/components/button.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/icons/svgs.ts
Labels: packages

#3592 [Refactor] Replace useApiAuthToken with useAccessToken
  .changeset/late-camels-shave.md
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/useAccessToken.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useLoggedInUser.ts
  apps/dashboard/src/components/engine/engine-instances-table.tsx
  apps/dashboard/src/components/engine/explorer/engine-explorer.tsx
  apps/dashboard/src/components/engine/overview/transaction-timeline.tsx
  apps/dashboard/src/components/onboarding/General.tsx
  apps/dashboard/src/components/storage/your-files.tsx
  apps/dashboard/src/constants/app.ts
  apps/dashboard/src/contract-ui/tabs/code/components/code-overview.tsx
  apps/dashboard/src/contract-ui/tabs/edit-extensions/components/extensionContractInfo.ts
  packages/thirdweb/src/react/core/hooks/auth/useSiweAuth.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
Labels: dashboard, packages

#3600 fix(sdk): enforce legacy transactions on Vanguard chain
  .changeset/fresh-moons-cheat.md
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages

#3591 Add Pay/Receive wallet Selector in Pay UI, Wallet switcher in Details Modal
  .changeset/large-moose-love.md
  legacy_packages/react/src/wallet/ConnectWallet/WalletSelector.tsx
  legacy_packages/react/src/wallet/ConnectWallet/screens/Buy/swap/SwapScreen.tsx
  legacy_packages/sdk/src/evm/pay/buyWithCrypto/actions/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getPostOnRampQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AllWalletsUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AnyWalletConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalInline.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/SmartWalletConnectUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/en.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/es.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/ja.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/tl.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/ReceiverWalletSelectionScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/WalletSelectorButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatTxDetailsTable.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/PostOnRampSwap.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/PostOnRampSwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PayWithCrypto.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletSwitcherDrawerContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/tx-history/BuyTxHistory.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/tx-history/FiatDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/tx-history/SwapDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/tx-history/TxDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/usePayerSetup.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Details/WalletManagerScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletSwitcherConnectionScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/types.ts
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/react/web/ui/components/CopyIcon.tsx
  packages/thirdweb/src/react/web/ui/components/Drawer.tsx
  packages/thirdweb/src/react/web/ui/components/SwitchNetwork.tsx
  packages/thirdweb/src/react/web/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletSelectionUI.tsx
  packages/thirdweb/src/utils/format-number.test.ts
  packages/thirdweb/src/utils/formatNumber.ts
Labels: packages

#3596 fix(dashboard): update and add tooltips in ecosystem form component
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/server/ecosystem-partners-section.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/server/partners-table.tsx
Labels: dashboard

#3586 Version Packages
  .changeset/blue-cherries-wonder.md
  .changeset/four-yaks-approve.md
  .changeset/fresh-moons-cheat.md
  .changeset/large-moose-love.md
  .changeset/late-camels-shave.md
  .changeset/late-poets-bow.md
  .changeset/three-lamps-explain.md
  .changeset/warm-crews-think.md
  .changeset/wet-days-yawn.md
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3601 [Fix] Remove outdated @ts-expect-error comments and update class usage
  apps/dashboard/src/components/contract-pages/table/table-columns/cells/media-cell.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/mint-form.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/token-id.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/NFTCards.tsx
  apps/dashboard/src/contract-ui/tabs/shared-components/listing-drawer.tsx
  apps/dashboard/src/tw-components/nft-media.tsx
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.tsx
  packages/thirdweb/src/react/web/ui/MediaRenderer/ModelViewer.tsx
  packages/thirdweb/src/react/web/ui/MediaRenderer/types.ts
Labels: dashboard, packages

#3605 fix(ui): resolve inapp wallet layout reset issue
  .changeset/famous-spies-rescue.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
Labels: packages

#3606 Version Packages
  .changeset/famous-spies-rescue.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#3597 fix(wallet): ensure disconnect events are emitted
  .changeset/great-students-mate.md
  packages/thirdweb/src/wallets/coinbase/coinbaseWebSDK.ts
  packages/thirdweb/src/wallets/injected/index.ts
Labels: bug, packages

#3609 feat(auth): add ERC-6492 utilities and verification compatibility
  .changeset/silly-tips-train.md
  packages/thirdweb/src/auth/constants.ts
  packages/thirdweb/src/auth/core/verify-jwt.ts
  packages/thirdweb/src/auth/core/verify-login-payload.ts
  packages/thirdweb/src/auth/is-erc6492-signature.test.ts
  packages/thirdweb/src/auth/is-erc6492-signature.ts
  packages/thirdweb/src/auth/parse-erc6492-signature.test.ts
  packages/thirdweb/src/auth/parse-erc6492-signature.ts
  packages/thirdweb/src/auth/serialize-erc6492-signature.test.ts
  packages/thirdweb/src/auth/serialize-erc6492-signature.ts
  packages/thirdweb/src/auth/types.ts
  packages/thirdweb/src/auth/verify-signature.test.ts
  packages/thirdweb/src/auth/verify-signature.ts
  packages/thirdweb/src/auth/verifySignature.test.ts
  packages/thirdweb/src/auth/verifySignature.ts
  packages/thirdweb/src/exports/auth.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: packages

#3608 reset selection data on wallet button click (no custom selection UI)
  .changeset/unlucky-moose-fail.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AllWalletsUI.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
Labels: packages

#3610 Version Packages
  .changeset/great-students-mate.md
  .changeset/silly-tips-train.md
  .changeset/unlucky-moose-fail.md
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3611 Fix TransactionButton callbacks not called when sending tx from pay modal
  .changeset/slimy-hotels-sniff.md
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
Labels: merge-queue, packages

#3585 feat(connect-modal): Integrate NFT support into connect modal
  .changeset/healthy-pugs-tickle.md
  apps/playground-web/src/components/in-app-wallet/connect-button.tsx
  apps/playground-web/src/components/styled-connect-button.tsx
  packages/thirdweb/src/extensions/erc721/read/getOwnedTokenIds.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/utils/defaultTokens.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/ImageIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewFunds.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewNFTs.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewTokens.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/types.ts
Labels: playground, packages

#3613 feature(ts): adds verifyTypedData and verifyHash
  .changeset/eight-hounds-relate.md
  packages/thirdweb/src/auth/verify-hash.test.ts
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/auth/verify-signature.ts
  packages/thirdweb/src/auth/verify-typed-data.test.ts
  packages/thirdweb/src/auth/verify-typed-data.ts
  packages/thirdweb/src/extensions/erc1271/checkContractWalletSignature.ts
  packages/thirdweb/src/extensions/erc1271/checkContractWalletSignedTypedData.ts
  packages/thirdweb/src/utils/hashing/hashTypedData.test.ts
  packages/thirdweb/src/utils/hashing/hashTypedData.ts
Labels: packages

#3615 [Refactor] Update environment variable usage for THIRDWEB_API_HOST in login flow
  apps/dashboard/src/app/login/auth-actions.ts
Labels: dashboard

#3602 [Refactor] Improve MediaRenderer component and update token components
  .changeset/brave-boats-enjoy.md
  .changeset/loud-hotels-pay.md
  apps/dashboard/src/contract-ui/tabs/nfts/components/airdrop-upload.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/TokenDetails.tsx
  apps/dashboard/src/contract-ui/tabs/overview/page.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/airdrop-button.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/airdrop-form.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/burn-button.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/burn-form.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/supply-layout.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/supply.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/transfer-button.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/transfer-form.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/page.tsx
  apps/dashboard/src/hooks/useTxNotifications.ts
  packages/thirdweb/src/exports/extensions/erc20.ts
  packages/thirdweb/src/extensions/erc20/write/transferBatch.ts
Labels: dashboard, packages

#3621 Pay UI improvements - Token amount rounding
  .changeset/rotten-sloths-kneel.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayWIthCreditCard.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatTxDetailsTable.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useBuyTxStates.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useUISelectionStates.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/Fees.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PayWithCrypto.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/tx-history/BuyTxHistoryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/tx-history/TokenInfoRow.tsx
Labels: packages

#3620 fix(dashboard): update partner ID description in ecosystem partners section
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/server/ecosystem-partners-section.tsx
Labels: dashboard

#3619 feat(chain): add Blast chain definition and export
  .changeset/few-mangos-warn.md
  packages/thirdweb/src/chains/chain-definitions/blast.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages

#3622 chore(sdk): export smart wallet and bundler utilities
  .changeset/tiny-wolves-joke.md
  packages/thirdweb/src/exports/wallets/smart.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
  packages/thirdweb/src/wallets/smart/lib/paymaster.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
  packages/thirdweb/src/wallets/smart/types.ts
Labels: packages

#3604 [Feature] Extend useEcosystem hook and update Layout and Ecosystem components
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/client/ecosystem-header.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/hooks/use-ecosystem.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/hooks/use-partners.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/layout.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/payment-failed/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/requested/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/components/client/create-ecosystem-form.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/page.tsx
Labels: dashboard

#3630 Fix search in Network selector
  .changeset/slow-dingos-nail.md
  packages/thirdweb/src/react/core/hooks/others/useChainQuery.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
Labels: merge-queue, packages

#3631 [Feature] Enhance login flow with loading spinner and redirect button
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
Labels: dashboard

#3629 [Feature] Add CustomPayEmbed component to pay page for chain integration
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/pay/components/pay-embed.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/pay/page.tsx
Labels: dashboard

#3632 [Refactor] Remove unused `useConfirmEmbeddedWallet` hook and clean up onboarding flow
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/login/auth-actions.ts
  apps/dashboard/src/components/onboarding/index.tsx
Labels: dashboard

#3633 fix(storage): correct directory handling for mobile file uploads
  .changeset/late-penguins-develop.md
  packages/thirdweb/src/storage/upload/mobile.ts
Labels: packages

#3612 Version Packages
  .changeset/brave-boats-enjoy.md
  .changeset/eight-hounds-relate.md
  .changeset/few-mangos-warn.md
  .changeset/healthy-pugs-tickle.md
  .changeset/late-penguins-develop.md
  .changeset/loud-hotels-pay.md
  .changeset/rotten-sloths-kneel.md
  .changeset/short-pugs-impress.md
  .changeset/slimy-hotels-sniff.md
  .changeset/slow-dingos-nail.md
  .changeset/tiny-wolves-joke.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#3634 Fix smart wallet connection not updating connection manager properly
  .changeset/stupid-trainers-design.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/SmartWalletConnectUI.tsx
Labels: packages

#3637 fix(thirdweb): loosen react native peer dep version restriction
  .changeset/swift-boats-behave.md
  packages/thirdweb/package.json
Labels: packages

#3636 chore(dashboard): remove nft checkout from api page
  packages/service-utils/src/core/services.ts
Labels: packages

#3607 [Feature] Add conditional page refresh on specific routes and integrate `PayUI` component
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/pay/components/pay-ui.client.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/pay/page.tsx
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayNewCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayPurchases.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayVolume.ts
  apps/dashboard/src/components/pay/PayConfig.tsx
  apps/dashboard/src/components/settings/ApiKeys/NoApiKeys.tsx
  apps/dashboard/src/tw-components/link.tsx
Labels: dashboard

#3639 fix(sdk): enforce legacy transactions on Vanar mainnet
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages

#3638 [Refactor] Update THIRDWEB_API_HOST integration in ensure-login flow
  apps/dashboard/src/app/api/auth/ensure-login/route.ts
  apps/dashboard/src/app/login/auth-actions.ts
  apps/dashboard/src/components/onboarding/General.tsx
Labels: dashboard

#3640 [Refactor] Remove NeedSomeHelp component and its references
  apps/dashboard/src/components/help/context-ai-button.tsx
  apps/dashboard/src/components/help/need-some-help.tsx
  apps/dashboard/src/pages/support.tsx
Labels: dashboard

#3635 Version Packages
  .changeset/stupid-trainers-design.md
  .changeset/swift-boats-behave.md
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3642 MediaRenderer: only render video poster if it's an image
  .changeset/angry-fireants-boil.md
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.tsx
Labels: packages

#3646 Fix zero token amount formatting
  packages/thirdweb/src/utils/format-number.test.ts
  packages/thirdweb/src/utils/formatNumber.ts
Labels: merge-queue, packages

#3648 [Refactor] Update environment variable usage and integrate Radix Dialog component
  apps/dashboard/.env.example
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/dialog.tsx
  apps/dashboard/src/@/components/ui/textarea.tsx
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useCreateSupportTicket.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/components/server/cta-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/layout.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/layout.tsx
  apps/dashboard/src/app/(dashboard)/layout.tsx
  apps/dashboard/src/app/(dashboard)/styleguide/page.tsx
  apps/dashboard/src/app/(dashboard)/support/components/create-ticket.action.ts
  apps/dashboard/src/app/(dashboard)/support/components/create-ticket.client.tsx
  apps/dashboard/src/app/(dashboard)/support/components/product.ts
  apps/dashboard/src/app/(dashboard)/support/page.tsx
  apps/dashboard/src/app/components/Header/DashboardHeader.tsx
  apps/dashboard/src/components/help/SubmitTicketButton.tsx
  apps/dashboard/src/components/help/contact-forms/account/index.tsx
  apps/dashboard/src/components/help/contact-forms/connect/AffectedAreaInput.tsx
  apps/dashboard/src/components/help/contact-forms/connect/index.tsx
  apps/dashboard/src/components/help/contact-forms/contracts/index.tsx
  apps/dashboard/src/components/help/contact-forms/engine/index.tsx
  apps/dashboard/src/components/help/contact-forms/other/index.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_AttachmentUploader.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_DescriptionInput.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_SelectInput.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_TextInput.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_UnityInput.tsx
  apps/dashboard/src/components/help/contact-support-modal.tsx
  apps/dashboard/src/pages/support.tsx
  pnpm-lock.yaml
Labels: dashboard

#3649 [Feature] Add /support path to the list of logged in only paths
  apps/dashboard/src/@/constants/auth.ts
Labels: dashboard

#3641 trending contracts
  apps/dashboard/package.json
  apps/dashboard/public/assets/trending/fire.mp4
  apps/dashboard/src/@/components/ui/badge.tsx
  apps/dashboard/src/@/components/ui/table.tsx
  apps/dashboard/src/@/components/ui/toggle-group.tsx
  apps/dashboard/src/@/components/ui/toggle.tsx
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/chain-icon.tsx
  apps/dashboard/src/app/trending/components/icons.tsx
  apps/dashboard/src/app/trending/components/pagination.client.tsx
  apps/dashboard/src/app/trending/components/time-range-switcher.client.tsx
  apps/dashboard/src/app/trending/components/trending-table.tsx
  apps/dashboard/src/app/trending/loading.tsx
  apps/dashboard/src/app/trending/opengraph-image.png
  apps/dashboard/src/app/trending/page.tsx
  apps/dashboard/src/contract-ui/tabs/code/components/code-overview.tsx
  apps/dashboard/src/lib/search.ts
  pnpm-lock.yaml
Labels: dashboard

#3650 [Refactor] Update ChainPageLayout and ChainCTA components for visual consistency and add ancient8 banner asset
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/components/server/cta-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/ancient8-banner.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

#3651 [Feature] Add background image and update login page UI
  apps/dashboard/public/assets/login/background.svg
  apps/dashboard/src/app/login/page.tsx
Labels: dashboard

#3652 refactor(search): use trending contract data in search
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/page.tsx
  apps/dashboard/src/app/trending/components/icons.tsx
  apps/dashboard/src/app/trending/components/time-range-switcher.client.tsx
  apps/dashboard/src/app/trending/components/trending-table.tsx
  apps/dashboard/src/app/trending/page.tsx
  apps/dashboard/src/components/cmd-k-search/index.tsx
  apps/dashboard/src/lib/search.ts
Labels: dashboard

#3653 [Feature] Add Mantle banner and update ChainPageLayout for visual consistency
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/components/client/add-chain-to-wallet.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/mantle-banner.jpeg
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/mantle-cta.jpeg
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

#3654 [Refactor] Clean up create-ticket.action.ts to streamline form data handling
  apps/dashboard/src/app/(dashboard)/support/components/create-ticket.action.ts
Labels: dashboard

#3655 Ensure account address is checksum encoded
  .changeset/gorgeous-students-tap.md
  packages/thirdweb/src/wallets/coinbase/coinbaseWebSDK.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-account.ts
  packages/thirdweb/src/wallets/injected/index.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: merge-queue, packages

#3656 fix(thirdweb): resolve autoconnect issue for phone number sign-in on React Native
  .changeset/clean-doors-tell.md
  packages/thirdweb/src/wallets/in-app/native/helpers/auth/middleware.ts
Labels: packages

#3643 Version Packages
  .changeset/angry-fireants-boil.md
  .changeset/clean-doors-tell.md
  .changeset/gorgeous-students-tap.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#3658 Version Packages
  .changeset/fluffy-wolves-tie.md
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3667 feat(dashboard): implement sorting feature in trending table
  apps/dashboard/src/app/trending/components/pagination.client.tsx
  apps/dashboard/src/app/trending/components/sorting-header.client.tsx
  apps/dashboard/src/app/trending/components/time-range-switcher.client.tsx
  apps/dashboard/src/app/trending/components/trending-table.tsx
  apps/dashboard/src/app/trending/page.tsx
  apps/dashboard/src/lib/search.ts
Labels: dashboard

#3666 Updates: Engine Demo
  apps/dashboard/.env.example
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/components/engine/engine-list.tsx
  apps/dashboard/src/components/engine/import-engine-instance.tsx
Labels: dashboard

#3668 fix(dashboard): ensure scrolling sticks for pagination
  apps/dashboard/public/assets/trending/fire.mp4
  apps/dashboard/src/app/trending/components/pagination.client.tsx
  apps/dashboard/src/app/trending/components/sorting-header.client.tsx
  apps/dashboard/src/app/trending/components/time-range-switcher.client.tsx
  apps/dashboard/src/app/trending/components/trending-table.tsx
  apps/dashboard/src/app/trending/page.tsx
Labels: dashboard

#3669 feat(dashboard): handle trending contracts in chain page
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/page.tsx
  apps/dashboard/src/app/trending/components/trending-table.tsx
  apps/dashboard/src/app/trending/page.tsx
Labels: dashboard

#3670 feat(dashboard): add import for SortBy type to chain page
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/page.tsx
Labels: dashboard

#3673 feat(smart): respect accountAddress override
  .changeset/green-tips-admire.md
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages

#3659 Add support for Zora1155 in ERC1155 > getOwned
  .changeset/rare-nails-collect.md
  packages/thirdweb/scripts/generate/abis/erc1155/Zora1155.json
  packages/thirdweb/src/exports/extensions/erc1155.ts
  packages/thirdweb/src/extensions/erc1155/__generated__/Zora1155/read/nextTokenId.ts
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.ts
Labels: merge-queue, packages

#3684 Allow uploading .obj file
  apps/dashboard/src/components/shared/FileInput.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/mint-form.tsx
Labels: merge-queue, dashboard

#3685 Export getClaimParams for thirdweb Drop contracts
  .changeset/smart-mails-learn.md
  packages/thirdweb/src/exports/utils.ts
Labels: merge-queue, packages

#3677 fix(thirdweb): handle universal links on ios for coinbase wallet connection
  .changeset/curly-camels-travel.md
  packages/thirdweb/src/wallets/coinbase/coinbaseMobileSDK.ts
Labels: packages

#3691 Fix wrong isBrave check in dashboard
  apps/dashboard/src/pages/cli/login.tsx
Labels: dashboard

#3689 Add `type` prop for `TransactionButton`
  .changeset/fluffy-pets-yawn.md
  packages/thirdweb/src/react/core/hooks/transaction/transaction-button-utils.ts
Labels: merge-queue, packages

#3688 Add queryOptions for useWalletBalance hook
  .changeset/mighty-keys-judge.md
  packages/thirdweb/src/react/core/hooks/others/useWalletBalance.ts
  packages/thirdweb/src/react/native/ui/components/TokenIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/TokenSelector.tsx
  packages/thirdweb/src/react/web/ui/components/ChainIcon.tsx
  packages/thirdweb/src/react/web/ui/components/Img.tsx
  packages/thirdweb/src/react/web/ui/components/TokenIcon.tsx
  packages/thirdweb/src/react/web/ui/components/WalletImage.tsx
Labels: merge-queue, packages

#3690 Fix "add custom network" button not closing details modal
  .changeset/serious-avocados-juggle.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
Labels: merge-queue, packages

#3693 [Feature] Update title in PRICING_SECTIONS for Monthly Active In-App Wallets
  apps/dashboard/src/utils/pricing.tsx
Labels: dashboard

#3694 Fix Network Selector only showing 1 search result
  .changeset/hip-windows-whisper.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
Labels: packages

#3702 fix(dashboard): update ecosystem wallet copy to include wallet count
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/create/page.tsx
Labels: dashboard

#3692 new fields for usage event schema
  .changeset/tasty-wolves-approve.md
  packages/service-utils/src/cf-worker/usage.ts
Labels: merge-queue, packages

#3701 fix(dashboard): domain validation for ecosystem partner domains
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/client/add-partner-form.client.tsx
Labels: dashboard

#3704 fix(thirdweb): update TransactionError constructor to correctly set message property
  .changeset/twenty-donuts-battle.md
  packages/thirdweb/src/transaction/extract-error.ts
Labels: packages

#3705 Add chainlist link to the contract page
  apps/dashboard/src/components/custom-contract/contract-header/metadata-header.tsx
Labels: merge-queue, dashboard

#3681 Add Vietnamese locale
  .changeset/lazy-lizards-rest.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/en.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/es.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/ja.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/tl.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/vi.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/tx-history/BuyTxHistory.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ManageWalletScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewFunds.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewNFTs.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewTokens.tsx
  packages/thirdweb/src/react/web/ui/types.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/getInjectedWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/vi.ts
  packages/thirdweb/src/react/web/wallets/local/locale/getLocalWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/local/locale/vi.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/vi.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/getSmartWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/vi.ts
  packages/thirdweb/src/react/web/wallets/walletConnect/locale.ts
Labels: merge-queue, packages

#3709 feat(airdrop): add fetchProofsERC methods for ERC20, ERC721, and ERC1155
  .changeset/lucky-cougars-add.md
  packages/thirdweb/src/exports/extensions/airdrop.ts
  packages/thirdweb/src/extensions/airdrop/write/claimERC20.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc1155.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc20.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc721.ts
Labels: packages

#3707 fix(auth): resolve typed data signatures issue in in-app wallet
  .changeset/light-actors-allow.md
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useRegistry.ts
  apps/dashboard/src/components/contract-components/hooks.ts
  apps/dashboard/src/components/contract-components/utils.ts
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-account.ts
Labels: dashboard, packages

#3708 feat(RN): support auth in React Native
  .changeset/curvy-poems-melt.md
  packages/thirdweb/src/react/core/utils/wallet.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectedModal.tsx
  packages/thirdweb/src/react/native/ui/connect/WalletLoadingThumbnail.tsx
Labels: packages

#3706 fix(thirdweb): make client and chain mandatory in useWalletBalance
  .changeset/lucky-bees-wave.md
  packages/thirdweb/src/react/core/hooks/others/useWalletBalance.ts
Labels: packages

#3662 feat(pay): add recipient address support to PayEmbed
  .changeset/friendly-jars-warn.md
  packages/thirdweb/src/pay/buyWithFiat/getPostOnRampQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatTxDetailsTable.tsx
Labels: packages

#3711 Fix adding a chain as favorite not working in dashboard
  apps/dashboard/src/app/(dashboard)/(chain)/components/client/star-button.tsx
Labels: merge-queue, dashboard

#3714 [Fix] Update AddYourChainButton URL in ChainList page to new support form link
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/page.tsx
Labels: dashboard

#3660 Add Faucet to every Testnet chain page
  apps/dashboard/package.json
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/faucet/components/SpinWheel.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/faucet/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/pay/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chainlist-row.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/(dashboard)/(chain)/types/chain.ts
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
  apps/dashboard/src/lib/ip.ts
  apps/dashboard/src/lib/redis.ts
  pnpm-lock.yaml
Labels: dashboard, packages

#3712 updates: UserOp example + receipt retrieval function
  .changeset/soft-tables-invent.md
  packages/thirdweb/src/exports/wallets/smart.ts
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
  packages/thirdweb/src/wallets/smart/lib/paymaster.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
  packages/thirdweb/src/wallets/smart/types.ts
Labels: packages

#3675 Version Packages
  .changeset/curly-camels-travel.md
  .changeset/curvy-poems-melt.md
  .changeset/fluffy-pets-yawn.md
  .changeset/friendly-jars-warn.md
  .changeset/green-tips-admire.md
  .changeset/hip-windows-whisper.md
  .changeset/lazy-lizards-rest.md
  .changeset/light-actors-allow.md
  .changeset/lucky-bees-wave.md
  .changeset/lucky-cougars-add.md
  .changeset/mighty-keys-judge.md
  .changeset/rare-nails-collect.md
  .changeset/serious-avocados-juggle.md
  .changeset/smart-mails-learn.md
  .changeset/soft-tables-invent.md
  .changeset/tasty-wolves-approve.md
  .changeset/twenty-donuts-battle.md
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3664 feat(pay): add metadata title support for pay screens
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/PostOnRampSwap.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/PostOnRampSwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/tx-history/FiatDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages

#3719 feat(smart): ERC20 paymaster support
  .changeset/loud-lies-suffer.md
  packages/thirdweb/src/react/core/utils/defaultTokens.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/types.ts
Labels: packages

#3720 feat(dashboard): add trending link in contracts section
  apps/dashboard/src/app/trending/components/pagination.client.tsx
  apps/dashboard/src/core-ui/sidebar/contracts.tsx
  apps/dashboard/src/lib/search.ts
  packages/thirdweb/package.json
Labels: dashboard, packages

#3728 Fix custom chain RPC not used if passed via chains prop
  .changeset/spicy-bananas-compare.md
  packages/thirdweb/src/chains/utils.ts
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: merge-queue, packages

#3732 Fix chain page crash when adding ref query param on dashboard
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/page.tsx
  apps/dashboard/src/app/trending/components/trending-table.tsx
  apps/dashboard/src/app/trending/page.tsx
Labels: merge-queue, dashboard

#3721 fix(dashboard): Fix zksync deployments with inapp wallet
  apps/dashboard/src/components/contract-components/hooks.ts
  legacy_packages/sdk/src/evm/zksync/zkDeployContractDeterministic.ts
  legacy_packages/sdk/src/evm/zksync/zksync-deploy-utils.ts
Labels: dashboard

#3734 Update: Engine Deletion Logic
  apps/dashboard/src/components/engine/engine-instances-table.tsx
Labels: merge-queue, dashboard

#3737 Updates: Engine
  apps/dashboard/src/components/engine/engine-instances-table.tsx
Labels: dashboard

#3736 docs: fix fetchProofs jsdocs
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc1155.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc20.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc721.ts
Labels: merge-queue, packages

#3738 docs(thirdweb): Add examples and documentation tags for modular and utility functions
  packages/thirdweb/src/extensions/modular/ModularCore/write/installPublishedExtension.ts
  packages/thirdweb/src/extensions/modular/ModularCore/write/uninstallExtensionByProxy.ts
  packages/thirdweb/src/extensions/modular/ModularCore/write/uninstallPublishedExtension.ts
  packages/thirdweb/src/pay/getBuyHistory.ts
  packages/thirdweb/src/storage/unpin.ts
  packages/thirdweb/src/transaction/transaction-store.ts
  packages/thirdweb/src/utils/extensions/drops/get-claim-params.ts
  packages/thirdweb/src/utils/jwt/decode-jwt.ts
  packages/thirdweb/src/utils/jwt/encode-jwt.ts
  packages/thirdweb/src/utils/jwt/refresh-jwt.ts
Labels: packages

#3730 Increased Transaction cost buffer for Pay Modal
  .changeset/blue-steaks-join.md
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
Labels: packages

#3735 fix(thirdweb): add optional 'from' in readContract method
  .changeset/kind-ducks-run.md
  apps/playground-web/src/components/blockchain-api/read-contract-raw.tsx
  apps/playground-web/src/components/blockchain-api/write-contract-extension.tsx
  apps/playground-web/src/components/blockchain-api/write-contract-raw.tsx
  packages/thirdweb/src/react/core/hooks/contract/useReadContract.ts
  packages/thirdweb/src/transaction/actions/wait-for-tx-receipt.test.ts
  packages/thirdweb/src/transaction/actions/wait-for-tx-receipt.ts
  packages/thirdweb/src/transaction/read-contract.test.ts
  packages/thirdweb/src/transaction/read-contract.ts
  packages/thirdweb/src/wallets/eip5792/wait-for-bundle.test.ts
  packages/thirdweb/src/wallets/eip5792/wait-for-bundle.ts
Labels: playground, packages

#3739 fix(docs): tsdoc linting
  packages/thirdweb/src/transaction/actions/wait-for-tx-receipt.test.ts
  packages/thirdweb/src/wallets/eip5792/wait-for-bundle.test.ts
Labels: packages

#3726 added cache removal when faucet transfer fails
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
  apps/dashboard/src/lib/redis.ts
Labels: merge-queue, dashboard

#3742 chore: remove random logs
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/page.tsx
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc1155.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc20.ts
  packages/thirdweb/src/utils/extensions/airdrop/fetch-proofs-erc721.ts
  packages/thirdweb/src/utils/signatures/resolve-signature.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: dashboard, packages

#3743 Update XAI logo on homepage
  apps/dashboard/src/components/partners/logos/xai.png
Labels: dashboard

#3744 changed comeback tomorrow to give funds
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/faucet/components/SpinWheel.tsx
Labels: dashboard

#3722 Version Packages
  .changeset/blue-steaks-join.md
  .changeset/kind-ducks-run.md
  .changeset/loud-lies-suffer.md
  .changeset/mean-yaks-hope.md
  .changeset/spicy-bananas-compare.md
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: packages

#3748 fix(RN): correct disconnect button color in light mode and other minor UI adjustments
  .changeset/rich-points-burn.md
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectedModal.tsx
  packages/thirdweb/src/react/native/ui/icons/svgs.ts
Labels: packages

#3751 fix(thirdweb): Handle minimum purchase amount errors in buy with crypto flow
  .changeset/hot-humans-brake.md
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithCryptoQuote.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages

#3753 Update ancient8 banner
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/ancient8-banner.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/ancient8-banner.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: merge-queue, dashboard

#3745 add chainsaw service description
  .changeset/orange-pans-sip.md
  apps/dashboard/package.json
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
  packages/service-utils/src/core/services.ts
  pnpm-lock.yaml
Labels: merge-queue, dashboard, packages

#3754 fix(tests): update wait function test precision
  packages/thirdweb/src/react/core/utils/wait.test.ts
  packages/thirdweb/src/utils/promise/wait.test.ts
Labels: packages

#3755 [Feature] Add Rootstock banner and CTA images and update chain metadata
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/rootstock-banner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/rootstock-cta.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: dashboard

#3756 use workspace version for service-utils
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: merge-queue, dashboard

#3676 Allow to add extra call data to prepareContractCall
  .changeset/strange-yaks-move.md
  packages/thirdweb/src/transaction/actions/encode.test.ts
  packages/thirdweb/src/transaction/actions/encode.ts
  packages/thirdweb/src/transaction/prepare-contract-call.test.ts
  packages/thirdweb/src/transaction/prepare-contract-call.ts
  packages/thirdweb/src/transaction/prepare-transaction.ts
Labels: merge-queue, packages

#3746 fix(connect-ui): update Connect UI tabs styling with new design enhancements
  .changeset/brown-seas-rule.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/TransactionsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/BuyTxHistory.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletTransactionHistory.tsx
  packages/thirdweb/src/react/web/ui/components/Tabs.tsx
Labels: merge-queue, packages

#3760 fix(dashboard): replace Wrench icon with Pencil icon in partners table
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/[slug]/(active)/components/server/partners-table.tsx
Labels: dashboard

#3761 fix(transaction): handle undefined predefinedGas value in estimate-gas and add test for 0 gas value
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
  packages/thirdweb/src/transaction/actions/to-serializable-transaction.test.ts
Labels: packages

#3758 fix: correct typo in addSessionKey.ts file and update jsdocs with contract parameter
  packages/thirdweb/src/extensions/erc4337/account/addSessionKey.ts
Labels: documentation, packages

#3678 feat(thirdweb): Add support for discord auth in in app wallet
  .changeset/perfect-eels-deny.md
  apps/playground-web/src/components/styled-connect-button.tsx
  apps/playground-web/src/components/styled-connect-embed.tsx
  apps/playground-web/src/lib/constants.ts
  legacy_packages/react/src/wallet/wallets/embeddedWallet/embeddedWallet.tsx
  legacy_packages/wallets/src/evm/connectors/embedded-wallet/implementations/interfaces/auth.ts
  packages/thirdweb/src/react/core/utils/socialIcons.ts
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/icons/svgs.ts
  packages/thirdweb/src/react/web/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/SocialLogin.tsx
  packages/thirdweb/src/react/web/wallets/shared/locale/en.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/es.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/ja.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/tl.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/types.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/vi.ts
  packages/thirdweb/src/react/web/wallets/shared/openOauthSignInWindow.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/type.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/constants.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/discord.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/utils.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Labels: DO NOT MERGE, playground, packages

#3716 feat(react-native): add discord login
  .changeset/tough-pants-help.md
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/openOauthSignInWindow.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/getLoginPath.ts
  packages/thirdweb/src/wallets/in-app/native/auth/native-auth.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/auth/middleware.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/constants.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/wallet/recoveryCode.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/discord.ts
Labels: playground, packages

#3759 Fix Get started Billing form edit button not working
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: dashboard

#3717 Register zksync contract on multichain registry after deployment
  apps/dashboard/src/components/contract-components/hooks.ts
  apps/dashboard/src/components/contract-components/utils.ts
  legacy_packages/sdk/src/evm/zksync/zkDeployContractDeterministic.ts
  legacy_packages/sdk/src/evm/zksync/zksync-deploy-utils.ts
Labels: dashboard

#3762 Fix Wallet switcher icon position in wallet details modal
  .changeset/metal-zoos-return.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/ShuffleIconLucide.tsx
  packages/thirdweb/src/react/web/ui/components/Modal.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
Labels: packages

#3749 Version Packages
  .changeset/brown-seas-rule.md
  .changeset/hot-humans-brake.md
  .changeset/metal-zoos-return.md
  .changeset/moody-hairs-laugh.md
  .changeset/orange-pans-sip.md
  .changeset/perfect-eels-deny.md
  .changeset/rich-points-burn.md
  .changeset/strange-yaks-move.md
  .changeset/tough-pants-help.md
  apps/dashboard/package.json
  legacy_packages/react-core/typedoc/documentation.json.gz
  legacy_packages/react/typedoc/documentation.json.gz
  legacy_packages/sdk/typedoc/documentation.json.gz
  legacy_packages/storage/typedoc/documentation.json.gz
  legacy_packages/wallets/typedoc/documentation.json.gz
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/thirdweb/typedoc/documentation.json.gz
Labels: dashboard, packages

#3757 Playground Auth without Supabase example
  apps/playground-web/.env.example
  apps/playground-web/public/auth.png
  apps/playground-web/src/app/connect/auth/page.tsx
  apps/playground-web/src/app/connect/auth/server/actions/auth.ts
  apps/playground-web/src/app/page.tsx
  apps/playground-web/src/components/auth/auth-button.tsx
  apps/playground-web/src/components/auth/basic-auth.tsx
  apps/playground-web/src/components/auth/gated-content.tsx
  apps/playground-web/src/lib/client.ts
Labels: merge-queue, playground

#3765 [Dashboard to v5] Remove ethers.constants, some ethers.utils, some other things
  apps/dashboard/src/@3rdweb-sdk/react/cache-keys.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useContractRoles.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/split-fieldset.tsx
  apps/dashboard/src/components/contract-tabs/code/ContractCode.tsx
  apps/dashboard/src/components/engine/overview/backend-wallets-table.tsx
  apps/dashboard/src/components/shared/BigNumberInput.tsx
  apps/dashboard/src/components/shared/CurrencySelector.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions-form/index.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/snapshot-upload.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/airdrop-upload.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/claim-form.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/claim-tab.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/transfer-tab.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/PermissionsTable.tsx
  apps/dashboard/src/contract-ui/tabs/permissions/components/contract-permission.tsx
  apps/dashboard/src/contract-ui/tabs/permissions/components/permissions-editor.tsx
  apps/dashboard/src/contract-ui/tabs/split/page.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/claim-form.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/transfer-form.tsx
  apps/dashboard/src/lib/address-utils.ts
  apps/dashboard/src/lib/ens.ts
  apps/dashboard/src/pages/api/moralis/balances.ts
  apps/dashboard/src/utils/zeroAddress.ts
Labels: merge-queue, dashboard
