Repository thirdweb-dev/js, pull requests merged in 2024-10, with the labels that each got.

#4871 Add purchaseData to transfer transactions
  .changeset/olive-rings-develop.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferFlow.tsx
Labels: packages

#4842 Version Packages
  .changeset/forty-bags-travel.md
  .changeset/olive-rings-develop.md
  .changeset/sixty-seals-tell.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4872 [Portal] Link new Telegram Unity Template
  apps/portal/src/app/unity/v5/page.mdx
Labels: merge-queue, Portal

#4875 Superposition Mainnnet Custom Chain Page
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: Dashboard

#4869 Check zksync stack
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  packages/thirdweb/src/contract/deployment/deploy-via-autofactory.ts
  packages/thirdweb/src/contract/deployment/utils/bootstrap.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
  packages/thirdweb/src/wallets/smart/index.ts
Labels: Dashboard, packages

#4787 [Dashboard] Remove <Code /> component (ez mode)
  apps/dashboard/src/@/components/ui/inline-code.tsx
  apps/dashboard/src/components/chain-validation/index.tsx
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
  apps/dashboard/src/components/engine/configuration/cors.tsx
  apps/dashboard/src/components/engine/configuration/ip-allowlist.tsx
  apps/dashboard/src/components/engine/permissions/engine-access-tokens.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/snapshot-upload.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/airdrop-tab.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/transfer-tab.tsx
  apps/dashboard/src/contract-ui/tabs/permissions/page.tsx
  apps/dashboard/src/core-ui/batch-upload/upload-step.tsx
Labels: Dashboard

#4849 [SDK] Update docs for claimTo extensions
  packages/thirdweb/src/extensions/erc1155/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc20/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc721/drops/write/claimTo.ts
Labels: packages

#4878 Add deprecation warnings to dashboard folders
  apps/dashboard/src/@3rdweb-sdk/DO_NOT_ADD_THINGS_HERE.md
  apps/dashboard/src/classes/DO_NOT_ADD_THINGS_HERE.md
  apps/dashboard/src/contract-ui/DO_NOT_ADD_THINGS_HERE.md
  apps/dashboard/src/core-ui/DO_NOT_ADD_THINGS_HERE.md
  apps/dashboard/src/og-lib/DO_NOT_ADD_THINGS_HERE.md
  apps/dashboard/src/pages/DO_NOT_ADD_THINGS_HERE.md
  apps/dashboard/src/tw-components/DO_NOT_ADD_THINGS_HERE.md
Labels: Dashboard

#4874 update dependencies
  .changeset/pink-starfishes-flash.md
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/coinbase/coinbaseWebSDK.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages

#4880 [Dashboard] Remove some chakra icons, adjust IpfsUploadButton
  apps/dashboard/src/components/badges/opensea.tsx
  apps/dashboard/src/components/connect/ConnectPlaygroundButton.tsx
  apps/dashboard/src/components/ipfs-upload/button.tsx
  apps/dashboard/src/components/product-pages/common/CodeOptionButton.tsx
  apps/dashboard/src/components/product-pages/common/ProductButton.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/string-input.tsx
  apps/dashboard/src/pages/template/[id].tsx
Labels: Dashboard

#4882 [Dashboard] Remove react-icons (1)
  apps/dashboard/src/components/contract-components/contract-publish-form/custom-factory.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/external-links-fieldset.tsx
  apps/dashboard/src/components/contract-pages/forms/properties.shared.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions-form/index.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/lazy-mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/shared-metadata-button.tsx
  apps/dashboard/src/contract-ui/tabs/proposals/components/proposal-button.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/metadata.tsx
  apps/dashboard/src/contract-ui/tabs/shared-components/list-button.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/airdrop-upload-erc20.tsx
  apps/dashboard/src/core-ui/batch-upload/upload-step.tsx
  apps/dashboard/src/pages/learn/index.tsx
  apps/dashboard/src/pages/open-source.tsx
Labels: Dashboard

#4879 Migrate Billing related components to tailwind/shadcn - Part 1
  apps/dashboard/src/components/engine/create/CreateEnginePage.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsModal.tsx
  apps/dashboard/src/components/onboarding/Billing.tsx
  apps/dashboard/src/components/onboarding/ChoosePlan.tsx
  apps/dashboard/src/components/onboarding/ConfirmEmail.tsx
  apps/dashboard/src/components/onboarding/General.tsx
  apps/dashboard/src/components/onboarding/LinkWallet.tsx
  apps/dashboard/src/components/onboarding/Modal.tsx
  apps/dashboard/src/components/onboarding/PaymentForm.tsx
  apps/dashboard/src/components/onboarding/Title.tsx
  apps/dashboard/src/components/onboarding/index.tsx
  apps/dashboard/src/components/settings/Account/Billing/ManageButton.tsx
  apps/dashboard/src/components/settings/Account/Billing/alerts/Alert.tsx
  apps/dashboard/src/components/settings/Account/Billing/alerts/BillingAlerts.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/alerts/PaymentVerificationFailureAlert.tsx
  apps/dashboard/src/components/settings/Account/Billing/alerts/RecurringPaymentFailureAlert.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/dashboard/src/stories/stubs.ts
Labels: Dashboard

#4883 refactor: optimize zksync chain detection and add Creator Testnet test
  .changeset/green-books-drop.md
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/index.tsx
  apps/dashboard/src/components/contract-components/contract-table/cells/description.tsx
  apps/dashboard/src/components/contract-components/shared/contract-id-image.tsx
  packages/thirdweb/src/contract/actions/compiler-metadata.ts
  packages/thirdweb/src/contract/deployment/publisher.ts
  packages/thirdweb/src/contract/deployment/utils/bootstrap.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/thirdweb/write/publish.test.ts
  packages/thirdweb/src/utils/any-evm/compute-published-contract-deploy-info.ts
  packages/thirdweb/src/utils/any-evm/deploy-metadata.ts
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-zksync.test.ts
Labels: Dashboard, packages

#4852 chore: Update version flow updates deployment
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/components/engine/badges/version.tsx
  apps/dashboard/src/components/engine/configuration/ip-allowlist.tsx
  apps/dashboard/src/components/engine/create/CreateEnginePage.tsx
  apps/dashboard/src/components/engine/engine-instances-table.tsx
  apps/dashboard/src/components/engine/import/EngineImportPage.tsx
Labels: merge-queue, Dashboard

#4887 api server url env cleanup
  apps/dashboard/src/@/api/projects.ts
  apps/dashboard/src/@/api/team-members.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/utils/fetchEcosystem.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/utils/fetchEcosystemList.ts
  apps/dashboard/src/app/(dashboard)/support/components/create-ticket.action.ts
  apps/dashboard/src/app/account/settings/getAccount.ts
  apps/dashboard/src/app/api/auth/ensure-login/route.ts
  apps/dashboard/src/app/api/auth/get-auth-token/route.ts
  apps/dashboard/src/app/api/lib/getAPIKeys.ts
  apps/dashboard/src/app/login/auth-actions.ts
  apps/dashboard/src/pages/api/server-proxy/api/[...paths].tsx
Labels: Dashboard

#4890 Add privacyPolicyUrl and termsOfServiceUrl on ConnectEmbed in login page
  apps/dashboard/src/app/login/page.tsx
Labels: hotfix, Dashboard

#4889 Replace react-otp-input with shadcn input-otp
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/input-otp.tsx
  apps/dashboard/src/components/onboarding/ConfirmEmail.tsx
  apps/dashboard/tailwind.config.js
  pnpm-lock.yaml
Labels: Dashboard

#4891 Spacing fixes on OnboardingGeneral component
  apps/dashboard/src/components/onboarding/General.tsx
  apps/dashboard/src/components/settings/Account/AccountForm.tsx
Labels: Dashboard

#4892 Add Billing alerts on /connect layout in app router
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useLoggedInUser.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/layout.tsx
  apps/dashboard/src/components/layout/app-shell/index.tsx
  apps/dashboard/src/components/settings/Account/Billing/alerts/Alert.tsx
Labels: Dashboard

#4884 feat: switch to v2 bundler for all user operations
  .changeset/dry-toes-clean.md
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
  packages/thirdweb/src/wallets/smart/lib/constants.ts
  packages/thirdweb/src/wallets/smart/lib/paymaster.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages

#4895 Add Coupon Card in Billing Page
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/BillingSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponCard.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/dashboard/src/pages/dashboard/settings/billing.tsx
Labels: Dashboard

#4886 fix: add missing partner id for ecosystem wallet
  .changeset/famous-spies-grab.md
  packages/thirdweb/src/wallets/in-app/native/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
Labels: merge-queue, packages

#4901 Update chain stack type check
  apps/dashboard/src/components/configure-networks/ConfigureNetworkForm.tsx
  apps/dashboard/src/contract-ui/tabs/embed/components/embed-setup.tsx
  packages/thirdweb/src/chains/types.ts
  packages/thirdweb/src/chains/utils.ts
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
Labels: merge-queue, Dashboard, packages

#4897 fix: update timeline for GDPR compliance
  apps/portal/src/app/connect/in-app-wallet/security/page.mdx
Labels: merge-queue, Portal

#4902 feat: optimize zksync contract deployment and bytecode handling
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
  packages/thirdweb/src/utils/any-evm/deploy-metadata.ts
Labels: packages

#4881 Version Packages
  .changeset/dry-toes-clean.md
  .changeset/famous-spies-grab.md
  .changeset/green-books-drop.md
  .changeset/pink-starfishes-flash.md
  packages/react-native-adapter/CHANGELOG.md
  packages/react-native-adapter/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4905 [SDK] Unstoppable Domains resolvers
  .changeset/khaki-items-tease.md
  packages/thirdweb/scripts/generate/abis/unstoppable-domains/UnstoppableDomains.json
  packages/thirdweb/src/exports/extensions/unstoppable-domains.ts
  packages/thirdweb/src/extensions/unstoppable-domains/__generated__/UnstoppableDomains/read/getMany.ts
  packages/thirdweb/src/extensions/unstoppable-domains/__generated__/UnstoppableDomains/read/namehash.ts
  packages/thirdweb/src/extensions/unstoppable-domains/__generated__/UnstoppableDomains/read/reverseNameOf.ts
  packages/thirdweb/src/extensions/unstoppable-domains/consts.ts
  packages/thirdweb/src/extensions/unstoppable-domains/read/resolveAddress.test.ts
  packages/thirdweb/src/extensions/unstoppable-domains/read/resolveAddress.ts
  packages/thirdweb/src/extensions/unstoppable-domains/read/resolveName.test.ts
  packages/thirdweb/src/extensions/unstoppable-domains/read/resolveName.ts
Labels: packages

#4885 [Dashboard] Remove react-icons (2)
  apps/dashboard/src/app/(dashboard)/tools/transaction-simulator/components/TransactionSimulator.tsx
  apps/dashboard/src/components/color-mode/color-mode-toggle.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/index.tsx
  apps/dashboard/src/contract-ui/tabs/permissions/components/permissions-editor.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/metadata.tsx
  apps/dashboard/src/contract-ui/tabs/shared-components/marketplace-table.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/airdrop-upload-erc20.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-lazy-mint.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
  apps/dashboard/src/pages/contact-us.tsx
  apps/dashboard/src/pages/contracts.tsx
  apps/dashboard/src/pages/pricing.tsx
  apps/dashboard/src/tw-components/AddressCopyButton.tsx
Labels: Dashboard

#4908 Fix Engine /configuration page textarea populated with data
  apps/dashboard/src/components/engine/configuration/cors.tsx
  apps/dashboard/src/components/engine/configuration/ip-allowlist.tsx
Labels: Dashboard

#4912 Fix APIKey fetch in project layout
  apps/dashboard/src/app/api/lib/getAPIKeys.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/account-abstraction/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/in-app-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/pay/page.tsx
Labels: Dashboard

#4899 [Dashboard] Vote contract proposal drawer
  apps/dashboard/src/components/custom-contract/contract-header/metadata-header.tsx
  apps/dashboard/src/contract-ui/tabs/proposals/components/proposal-button.tsx
  apps/dashboard/src/contract-ui/tabs/proposals/components/proposal-form.tsx
  apps/dashboard/src/contract-ui/tabs/proposals/page.tsx
Labels: Dashboard

#4900 [Dashboard] Remove react-icons (4)
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/airdrop-tab.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/airdrop-upload.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/batch-lazy-mint-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/table.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/token-id.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/PermissionsTable.tsx
  apps/dashboard/src/contract-ui/tabs/permissions/components/permissions-editor.tsx
  apps/dashboard/src/contract-ui/tabs/sources/page.tsx
Labels: Dashboard

#4893 Move /connect/analytics to app router
  apps/dashboard/src/app/(dashboard)/dashboard/connect/analytics/[clientId]/AnalyticsPageAPIKeysMenu.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/analytics/[clientId]/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/analytics/page.tsx
  apps/dashboard/src/components/settings/ApiKeys/Menu.tsx
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/dashboard/connect/analytics.tsx
  apps/dashboard/tsconfig.tsbuildinfo
Labels: Dashboard

#4904 [Dashboard] Remove react-icons (5)
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
  apps/dashboard/src/components/icons/brand-icons/OpenseaIcon.tsx
  apps/dashboard/src/components/onboarding/OpCreditsGrantedModal.tsx
  apps/dashboard/src/components/shared/GeneralCta.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/address-input.tsx
  apps/dashboard/src/contract-ui/tabs/accounts/components/accounts-table.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions-form/phase.tsx
  apps/dashboard/src/contract-ui/tabs/listings/components/list-form.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/reveal-button.tsx
  apps/dashboard/src/contract-ui/tabs/overview/components/LatestEvents.tsx
Labels: Dashboard

#4894 Move /connect/in-app-wallets to app router
  apps/dashboard/src/app/(dashboard)/dashboard/connect/in-app-wallets/PageHeader.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/in-app-wallets/[clientId]/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/in-app-wallets/getInAppWalletSupportedAPIKeys.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/in-app-wallets/inAppWalletsAPIKeysMenu.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/in-app-wallets/layout.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/in-app-wallets/page.tsx
  apps/dashboard/src/components/embedded-wallets/index.tsx
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/dashboard/connect/in-app-wallets.tsx
Labels: Dashboard

#4896 Move /connect/account-abstraction to app router
  apps/dashboard/src/app/(dashboard)/dashboard/connect/account-abstraction/AccountAbstractionAPIKeysMenu.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/account-abstraction/OpChainAlert.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/account-abstraction/PageHeader.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/account-abstraction/[clientId]/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/account-abstraction/getAASupportedAPIKeys.ts
  apps/dashboard/src/app/(dashboard)/dashboard/connect/account-abstraction/layout.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/connect/account-abstraction/page.tsx
  apps/dashboard/src/components/settings/ApiKeys/Alerts.tsx
  apps/dashboard/src/components/smart-wallets/index.tsx
  apps/dashboard/src/hooks/useLocalStorage.ts
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/dashboard/connect/account-abstraction.tsx
Labels: Dashboard

#4914 chore: move gas and timeout details to Engine FAQ
  apps/portal/src/app/engine/faq/page.mdx
  apps/portal/src/app/engine/features/contracts/page.mdx
Labels: Portal

#4915 [Dashboard] Remove react-icons (6)
  apps/dashboard/src/components/icons/brand-icons/DotNetIcon.tsx
  apps/dashboard/src/components/icons/brand-icons/UnrealIcon.tsx
  apps/dashboard/src/components/shared/ConnectSDKCard.tsx
  apps/dashboard/src/components/wallets/ConnectWalletMiniPlayground/MiniPlayground.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/claim-conditions-form/Inputs/ClaimerSelection.tsx
  apps/dashboard/src/contract-ui/tabs/claim-conditions/components/snapshot-upload.tsx
  apps/dashboard/src/contract-ui/tabs/tokens/components/airdrop-upload-erc20.tsx
Labels: Dashboard

#4917 Show active coupon on billing page
  apps/dashboard/src/@/components/blocks/DangerSettingCard.tsx
  apps/dashboard/src/@/components/blocks/SettingsCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/ApplyCouponCard.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponDetails.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: Dashboard

#4906 feat: add useLinkProfile hook and update profile linking docs + playground
  .changeset/hot-adults-doubt.md
  apps/playground-web/src/app/connect/in-app-wallet/ecosystem/page.tsx
  apps/playground-web/src/app/connect/in-app-wallet/page.tsx
  apps/playground-web/src/app/connect/sign-in/components/CodeGen.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/code/code.client.tsx
  apps/playground-web/src/components/in-app-wallet/profile-sections.tsx
  apps/playground-web/src/components/in-app-wallet/profiles.tsx
  apps/portal/src/app/react-native/v5/sidebar.tsx
  apps/portal/src/app/react/v5/ecosystem-wallet/get-started/page.mdx
  apps/portal/src/app/react/v5/sidebar.tsx
  apps/portal/src/app/typescript/v5/sidebar.tsx
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/exports/wallets.native.ts
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/extensions/thirdweb/write/publish.test.ts
  packages/thirdweb/src/react/native/hooks/wallets/useLinkProfile.ts
  packages/thirdweb/src/react/native/hooks/wallets/useProfiles.ts
  packages/thirdweb/src/react/web/hooks/wallets/useLinkProfile.ts
  packages/thirdweb/src/react/web/hooks/wallets/useProfiles.ts
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/core/users/getUser.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/test/globalSetup.ts
Labels: Playground, Portal, packages

#4921 [Portal] Fix useChain in migrate docs
  apps/portal/src/app/react/v5/migrate/cheatsheet/page.mdx
  apps/portal/src/app/typescript/v5/migrate/page.mdx
Labels: Portal

#4923 Fix Get started with deploying contracts card buttons layout
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/_components/GetStartedWithContractsDeploy.tsx
Labels: Dashboard

#4925 Remove calls to 0.rpc on deploy page
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/hooks.ts
Labels: Dashboard

#4910 Add guest mode documentation
  apps/portal/src/app/connect/in-app-wallet/guides/link-multiple-profiles/page.mdx
  apps/portal/src/app/connect/in-app-wallet/guides/retrieve-linked-profiles/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/sign-in/methods/guest-mode/page.mdx
Labels: Portal

#4911 Add ecosystem wallet security documentation
  apps/portal/src/app/connect/ecosystems/security/page.mdx
  apps/portal/src/app/connect/in-app-wallet/guides/get-user-details/page.mdx
  apps/portal/src/app/connect/in-app-wallet/security/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
Labels: Portal

#4918 docs: update fetching user details endpoint for ecosystems
  .changeset/sixty-cats-doubt.md
  apps/portal/src/app/connect/in-app-wallet/guides/get-user-details/page.mdx
  packages/thirdweb/src/wallets/in-app/core/users/getUser.ts
Labels: merge-queue, Portal, packages

#4919 fix: handle 0n as from/to blocks in getContractEvents
  .changeset/heavy-camels-help.md
  packages/thirdweb/src/event/actions/get-events.ts
Labels: packages

#4922 Cache create2 factory addresses
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
Labels: packages

#4907 Version Packages
  .changeset/heavy-camels-help.md
  .changeset/hot-adults-doubt.md
  .changeset/khaki-items-tease.md
  .changeset/sixty-cats-doubt.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4920 chore: Fix readContract docs
  packages/thirdweb/src/react/core/hooks/contract/useReadContract.ts
  packages/thirdweb/src/transaction/read-contract.ts
Labels: packages

#4929 [Portal] MAUI Template & Link Updates
  apps/portal/src/app/dotnet/godot/page.mdx
  apps/portal/src/app/dotnet/maui/page.mdx
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/utils/page.mdx
  apps/portal/src/app/unity/v5/sidebar.tsx
Labels: merge-queue, hotfix, Portal

#4931 [Dashboard] Replace Reveal-NFT Drawer with Sheet
  apps/dashboard/src/contract-ui/tabs/nfts/components/reveal-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/reveal-form.tsx
Labels: Dashboard

#4935 [SDK] Fix: pass gasPrice to injected provider
  packages/thirdweb/src/wallets/injected/index.ts
Labels: merge-queue, packages

#4936 Add Teams UI Banners
  apps/dashboard/src/@/components/DashboardTypeCookieSetter.tsx
  apps/dashboard/src/app/(dashboard)/layout.tsx
  apps/dashboard/src/app/account/layout.tsx
  apps/dashboard/src/app/components/DashboardTypeBanner.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
  apps/dashboard/src/components/homepage/sections/HeroSection.tsx
  apps/dashboard/src/components/layout/app-shell/index.tsx
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
  apps/dashboard/src/pages/_app.tsx
  apps/dashboard/src/stores/SyncStoreToCookies.tsx
Labels: Dashboard

#4944 feat: add option to disable storing last passkey credentials
  .changeset/tricky-clouds-swim.md
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/wallets/in-app/core/authentication/passkeys.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: packages

#4938 feat: add 'from' parameter to estimateGas example
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
Labels: packages

#4946 feat: export additional types from service-utils
  .changeset/strong-laws-fail.md
  packages/service-utils/src/index.ts
Labels: packages

#4945 Version Packages
  .changeset/cuddly-pandas-impress.md
  .changeset/strong-laws-fail.md
  .changeset/tricky-clouds-swim.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4930 [Dashboard] Small update to allow open link with Explorer
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
Labels: Dashboard

#4926 Migrate Engine Overview page to shadcn/tailwind - Part1
  apps/dashboard/src/@/components/blocks/FormFieldSetup.tsx
  apps/dashboard/src/@/components/ui/input.tsx
  apps/dashboard/src/components/configure-networks/ConfigureNetworkForm.tsx
  apps/dashboard/src/components/configure-networks/Form/ChainIdInput.tsx
  apps/dashboard/src/components/configure-networks/Form/RpcInput.tsx
  apps/dashboard/src/components/engine/overview/create-backend-wallet-button.tsx
  apps/dashboard/src/components/engine/overview/engine-overview.tsx
  apps/dashboard/src/components/engine/overview/import-backend-wallet-button.tsx
Labels: Dashboard

#4932 [Dashboard] Replace erc721 claim Drawer with Sheet
  apps/dashboard/src/contract-ui/tabs/nfts/components/claim-button.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/components/claim-form.tsx
Labels: Dashboard

#4916 [Dashboard] Add searchbar for Explorer
  apps/dashboard/src/components/contract-functions/contract-function.tsx
Labels: Dashboard

#4948 feat: allow overriding callGasLimit for userops
  .changeset/fast-weeks-appear.md
  packages/thirdweb/src/wallets/smart/lib/calls.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages

#4954 fix: small typo in the getting started docs
  apps/portal/src/app/contracts/modular-contracts/get-started/create-module-contract/page.mdx
Labels: merge-queue, Portal

#4951 feat: add account factory 0.7 to explore
  apps/dashboard/src/data/explore.ts
  apps/portal/src/app/connect/account-abstraction/factories/page.mdx
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Labels: Dashboard, Portal, packages

#4955 feat: export fetchKeyMetadataFromApi and remove checkPolicy options
  .changeset/wet-spiders-punch.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/index.ts
Labels: packages

#4950 Version Packages
  .changeset/fast-weeks-appear.md
  .changeset/wet-spiders-punch.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4953 Improved Multi Network Selector component
  apps/dashboard/src/@/components/blocks/multi-select.tsx
  apps/dashboard/src/@/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/NetworkDropdown.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/networks-fieldset.tsx
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
Labels: Dashboard

#4958 fix: export fetchKeyMetadataFromApi from service-utils
  .changeset/red-students-run.md
  packages/service-utils/src/index.ts
Labels: packages

#4949 [SDK] Test: Replace deprecated checkContractWalletSignature use
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: merge-queue, packages

#4959 Complete various TODOs in team layout
  apps/dashboard/src/@/components/blocks/Avatars/ProjectAvatar.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/_components/sidebar/TeamSettingsSidebar.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamSelectionUI.tsx
Labels: Dashboard

#4964 [SDK] Improve test coverage for ERC721 extensions
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.test.ts
  packages/thirdweb/src/extensions/erc721/read/getOwnedTokenIds.test.ts
Labels: packages

#4966 Version Packages
  .changeset/stupid-waves-impress.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4969 Remove accidentally added file path in Pay UI
  .changeset/hip-camels-cheat.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages

#4970 Version Packages
  .changeset/hip-camels-cheat.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4967 Include search params when redirecting to login page
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useLoggedInUser.ts
  apps/dashboard/src/app/api/auth/ensure-login/route.ts
  apps/dashboard/src/middleware.ts
Labels: Dashboard

#4968 Prefill Promo code on coupon card from search param + scroll into view
  apps/dashboard/src/components/settings/Account/Billing/ApplyCouponCard.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponCard.tsx
Labels: Dashboard

#4972 Add /unlimited-wallets framer path in rewrites, format js files with biome
  .vscode/settings.json
  apps/dashboard/next-sitemap.config.js
  apps/dashboard/next.config.js
Labels: Dashboard

#4973 Spacing adjustments on account-abstraction policies form
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
Labels: Dashboard

#4974 chore: don't override auth token / client id when hitting in app wall…
  .changeset/nervous-tips-pay.md
  packages/thirdweb/src/utils/fetch.ts
Labels: merge-queue, packages

#4977 feat: add Soneium Minato chain definition
  .changeset/tasty-worms-mate.md
  apps/playground-web/src/components/in-app-wallet/profile-sections.tsx
  packages/thirdweb/src/chains/chain-definitions/soneium-minato.ts
  packages/thirdweb/src/exports/chains.ts
Labels: Playground, packages

#4928 [Dashboard] Fix minor layer issues
  apps/dashboard/src/contract-ui/tabs/nfts/components/supply-cards.tsx
  apps/dashboard/src/contract-ui/tabs/nfts/page.tsx
Labels: Dashboard

#4978 Team Member Settings Page updates
  apps/dashboard/src/@/api/team-members.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/ManageMembersSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/page.tsx
Labels: Dashboard

#4979 fix: overestimate zksync gas limit for paymaster extra gas
  .changeset/nasty-experts-whisper.md
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-zksync.test.ts
Labels: packages

#4976 [React Native SDK] Fix: Remove device share if recovering private key fails
  packages/thirdweb/src/wallets/in-app/native/helpers/constants.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/storage/local.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/wallet/retrieval.ts
Labels: Bug, React Native SDK, merge-queue, packages

#4963 [SDK] Improve test coverage for ERC20 extensions
  packages/thirdweb/src/extensions/erc20/read/getCurrencyMetadata.test.ts
  packages/thirdweb/src/extensions/erc20/read/isERC20.test.ts
  packages/thirdweb/src/extensions/erc20/write/transferBatch.test.ts
Labels: packages

#4975 Version Packages
  .changeset/nasty-experts-whisper.md
  .changeset/nervous-tips-pay.md
  .changeset/tasty-worms-mate.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4980 [Dashboard] Remove react-icons (1)
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/publisher/PublisherSocials.tsx
  apps/dashboard/src/components/homepage/CodeBlock/index.tsx
  apps/dashboard/src/components/shared/FileInput.tsx
  apps/dashboard/src/contract-ui/tabs/events/components/events-feed.tsx
Labels: Dashboard

#4983 [Dashboard] Remove react-icons (2)
  apps/dashboard/src/components/contract-components/published-contract/index.tsx
  apps/dashboard/src/components/hackathon/HackathonFooter.tsx
  apps/dashboard/src/components/homepage/sections/HeroSection.tsx
  apps/dashboard/src/components/homepage/sections/HomePageCard.tsx
  apps/dashboard/src/components/product-pages/common/nav/MobileMenu.tsx
  apps/dashboard/src/components/shared/TWQueryTable.tsx
  apps/dashboard/src/components/shared/TWTable.tsx
Labels: Dashboard

#4987 Fix View all analytics link in contract overview page
  apps/dashboard/src/contract-ui/tabs/overview/components/Analytics.tsx
Labels: Dashboard

#4986 Fix unhandled server error on certain deprecated chain slugs
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: Dashboard

#4982 chore: New Engine Docs link, add some AA issues to troubleshooting guide
  apps/portal/src/app/engine/faq/page.mdx
  apps/portal/src/app/engine/features/cancelling-transactions/page.mdx
  apps/portal/src/app/engine/features/contract-subscriptions/page.mdx
  apps/portal/src/app/engine/features/contracts/page.mdx
  apps/portal/src/app/engine/sidebar.tsx
  apps/portal/src/app/engine/troubleshooting/page.mdx
Labels: merge-queue, Portal

#4988 Add Date Range and Interval Selector on Connect Analytics page
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/ConnectAnalyticsDashboard.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
Labels: Dashboard

#4971 Add Unlimited wallets Banner, Add Team & Legacy dashboard links in headers
  apps/dashboard/src/app/(dashboard)/layout.tsx
  apps/dashboard/src/app/account/layout.tsx
  apps/dashboard/src/app/components/DashboardTypeBanner.tsx
  apps/dashboard/src/app/components/Header/DashboardHeader.tsx
  apps/dashboard/src/app/components/Header/SecondaryNav/SecondaryNav.tsx
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
  apps/dashboard/src/components/settings/Account/Billing/Header.tsx
  apps/dashboard/src/pages/_app.tsx
Labels: Dashboard

#4989 Update Banner copy
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
Labels: Dashboard

#4990 feat: add troubleshooting guide for React Native
  apps/portal/src/app/react-native/v5/getting-started/page.mdx
  apps/portal/src/app/react-native/v5/sidebar.tsx
  apps/portal/src/app/react-native/v5/troubleshooting/page.mdx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/useSwapSupportedChains.ts
Labels: Portal, packages

#4993 Add bottom padding to Sidebar
  apps/dashboard/src/@/components/blocks/Sidebar.tsx
Labels: Dashboard

#4994 Only Show Top wallets in Connect Analytics, merge rest to Others + Remove dynamically generated colors
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/ConnectAnalyticsDashboard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartChart.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/storyUtils.ts
Labels: Dashboard

#5000 Remove scrollIntoView for activeTab
  apps/dashboard/src/@/components/ui/tabs.tsx
Labels: Dashboard

#5001 docs: update read-contract usage examples and explanations
  packages/thirdweb/src/transaction/read-contract.ts
Labels: packages

#5002 feat: handle zksync direct deploys in deployContract
  .changeset/rich-steaks-guess.md
  packages/thirdweb/scripts/generate/abis/modules/BatchMetadataERC1155.json
  packages/thirdweb/scripts/generate/abis/modules/BatchMetadataERC721.json
  packages/thirdweb/scripts/generate/abis/modules/SequentialTokenIdERC1155.json
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/extensions/ens/resolve-avatar.test.ts
  packages/thirdweb/src/extensions/modules/MintableERC1155/mintableERC1155.test.ts
  packages/thirdweb/src/extensions/modules/__generated__/BatchMetadataERC1155/events/BatchMetadataUpdate.ts
  packages/thirdweb/src/extensions/modules/__generated__/BatchMetadataERC1155/read/getBatchIndex.ts
  packages/thirdweb/src/extensions/modules/__generated__/BatchMetadataERC1155/read/getMetadataBatch.ts
  packages/thirdweb/src/extensions/modules/__generated__/BatchMetadataERC1155/read/getModuleConfig.ts
  packages/thirdweb/src/extensions/modules/__generated__/BatchMetadataERC1155/write/setBaseURI.ts
  packages/thirdweb/src/extensions/modules/__generated__/BatchMetadataERC721/events/BatchMetadataUpdate.ts
  packages/thirdweb/src/extensions/modules/__generated__/BatchMetadataERC721/read/getBatchIndex.ts
  packages/thirdweb/src/extensions/modules/__generated__/BatchMetadataERC721/read/getMetadataBatch.ts
  packages/thirdweb/src/extensions/modules/__generated__/BatchMetadataERC721/read/getModuleConfig.ts
  packages/thirdweb/src/extensions/modules/__generated__/BatchMetadataERC721/write/setBaseURI.ts
  packages/thirdweb/src/extensions/modules/__generated__/SequentialTokenIdERC1155/encode/encodeBytesOnInstall.ts
  packages/thirdweb/src/extensions/modules/__generated__/SequentialTokenIdERC1155/module/install.ts
  packages/thirdweb/src/extensions/modules/__generated__/SequentialTokenIdERC1155/read/encodeBytesOnInstall.ts
  packages/thirdweb/src/extensions/modules/__generated__/SequentialTokenIdERC1155/read/getModuleConfig.ts
  packages/thirdweb/src/extensions/modules/__generated__/SequentialTokenIdERC1155/write/updateTokenIdERC1155.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/test/vitest.config.ts
Labels: packages

#4962 [SDK] Expose stuff for UD extensions, improve test
  .changeset/big-fans-reflect.md
  packages/thirdweb/scripts/generate/abis/unstoppable-domains/UnstoppableDomains.json
  packages/thirdweb/src/exports/extensions/unstoppable-domains.ts
  packages/thirdweb/src/extensions/unstoppable-domains/__generated__/UnstoppableDomains/read/exists.ts
  packages/thirdweb/src/extensions/unstoppable-domains/read/resolveAddress.test.ts
  packages/thirdweb/src/extensions/unstoppable-domains/read/resolveAddress.ts
Labels: packages

#5004 feat: expose auth options on useConnectModal
  .changeset/blue-seahorses-compare.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
Labels: packages

#4997 [SDK / Wallet UI] URI Connection
  apps/wallet-ui/src/app/[ecosystem]/(authed)/layout.tsx
  apps/wallet-ui/src/app/[ecosystem]/(authed)/wallet/[address]/layout.tsx
  apps/wallet-ui/src/app/[ecosystem]/(authed)/wallet/[address]/loading.tsx
  apps/wallet-ui/src/app/[ecosystem]/(authed)/wallet/[address]/page.tsx
  apps/wallet-ui/src/app/[ecosystem]/(ui)/wallet/[address]/page.tsx
  apps/wallet-ui/src/app/[ecosystem]/login/layout.tsx
  apps/wallet-ui/src/app/[ecosystem]/login/page.tsx
  apps/wallet-ui/src/app/[ecosystem]/wc/page.tsx
  apps/wallet-ui/src/components/AutoConnectWalletConnect.tsx
  apps/wallet-ui/src/components/ConnectButton.tsx
  apps/wallet-ui/src/components/ConnectEmbed.tsx
  apps/wallet-ui/src/hooks/useWalletConnect.tsx
  packages/thirdweb/src/wallets/wallet-connect/receiver/index.ts
  packages/thirdweb/src/wallets/wallet-connect/receiver/session-request.ts
Labels: packages

#4961 fix: throw if no token is found in local storage
  .changeset/long-rocks-tan.md
  packages/thirdweb/src/wallets/in-app/web/lib/actions/get-enclave-user-status.ts
  packages/thirdweb/src/wallets/in-app/web/lib/actions/sign-message.enclave.ts
  packages/thirdweb/src/wallets/in-app/web/lib/actions/sign-transaction.enclave.ts
  packages/thirdweb/src/wallets/in-app/web/lib/actions/sign-typed-data.enclave.ts
Labels: packages

#5003 Version Packages
  .changeset/big-fans-reflect.md
  .changeset/blue-seahorses-compare.md
  .changeset/long-rocks-tan.md
  .changeset/rich-steaks-guess.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#4985 [SDK] Improve ERC1155 test coverage
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.test.ts
  packages/thirdweb/src/extensions/erc1155/write/lazyMint.test.ts
  packages/thirdweb/src/extensions/erc1155/write/mintAdditionalSupplyTo.test.ts
  packages/thirdweb/src/extensions/erc1155/write/mintTo.test.ts
  packages/thirdweb/src/extensions/erc20/read/isERC20.test.ts
  packages/thirdweb/src/extensions/erc20/write/transferBatch.test.ts
Labels: packages

#5010 Fix ColorInput label click not triggering correct input in playground
  apps/playground-web/src/app/connect/sign-in/components/ColorFormGroup.tsx
  apps/playground-web/src/app/connect/sign-in/components/ColorInput/index.tsx
Labels: Playground

#4956 feat: Support multiple wallets in Engine dashboard
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/engine/(instance)/[engineId]/page.tsx
  apps/dashboard/src/components/engine/badges/version.tsx
  apps/dashboard/src/components/engine/configuration/engine-configuration.tsx
  apps/dashboard/src/components/engine/configuration/engine-wallet-config.tsx
  apps/dashboard/src/components/engine/configuration/ip-allowlist.tsx
  apps/dashboard/src/components/engine/configuration/kms-aws-config.tsx
  apps/dashboard/src/components/engine/configuration/kms-gcp-config.tsx
  apps/dashboard/src/components/engine/configuration/local-config.tsx
  apps/dashboard/src/components/engine/configuration/local-config.tsx.tsx
  apps/dashboard/src/components/engine/overview/create-backend-wallet-button.tsx
  apps/dashboard/src/components/engine/overview/engine-overview.tsx
  apps/dashboard/src/components/engine/overview/import-backend-wallet-button.tsx
  apps/dashboard/src/components/engine/permissions/engine-access-tokens.tsx
  apps/dashboard/src/lib/engine.ts
  apps/dashboard/src/pages/dashboard/engine/[engineId]/index.tsx
Labels: merge-queue, Dashboard

#5011 Show Payment Modal when applying a coupon if account has no validPayment method setup
  apps/dashboard/src/components/settings/Account/Billing/ApplyCouponCard.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: Dashboard

#4995 Move Deployed Contracts Page to App Router
  apps/dashboard/src/app/(dashboard)/dashboard/contracts/deploy/page.tsx
  apps/dashboard/src/app/(dashboard)/dashboard/contracts/layout.tsx
  apps/dashboard/src/app/(dashboard)/layout.tsx
  apps/dashboard/src/app/api/lib/getAuthToken.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/_components/DeployedContractsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/_components/DeployedContractsTable.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/_components/GetStartedWithContractsDeploy.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/_components/getSortedDeployedContracts.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/page.tsx
  apps/dashboard/src/components/contract-components/tables/deployed-contracts.tsx
  apps/dashboard/src/pages/dashboard/contracts/deploy.tsx
  apps/dashboard/src/pages/profile/[profileAddress].tsx
Labels: Dashboard

#4996 Move Dashboard landing page to App router + Migrate to shadncn/tailwind
  apps/dashboard/src/app/(dashboard)/dashboard/page.tsx
  apps/dashboard/src/components/dashboard/Changelog.tsx
  apps/dashboard/src/components/dashboard/HomeProductCard.tsx
  apps/dashboard/src/components/onboarding/Steps.tsx
  apps/dashboard/src/page-id.ts
  apps/dashboard/src/pages/dashboard/index.tsx
Labels: Dashboard

#5029 update dependencies
  .changeset/metal-pets-play.md
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/portal/src/components/Document/Code.tsx
  apps/wallet-ui/package.json
  package.json
  packages/react-native-adapter/package.json
  packages/service-utils/package.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages

#5009 [SDK] Fix upload reveal batch
  .changeset/sweet-pears-change.md
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/createDelayedRevealBatch.test.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/createDelayedRevealBatch.ts
Labels: hotfix, packages

#4999 [Dashboard] Mobile menu drawer -> Sheet
  apps/dashboard/src/components/product-pages/common/Topnav.tsx
  apps/dashboard/src/components/product-pages/common/nav/MobileMenu.tsx
Labels: Dashboard

#5005 [Dashboard] Remove react-icons (1)
  apps/dashboard/src/components/contract-components/contract-table-v2/index.tsx
  apps/dashboard/src/components/contract-components/published-contract/index.tsx
  apps/dashboard/src/components/engine/configuration/add-webhook-button.tsx
  apps/dashboard/src/components/engine/contract-subscription/add-contract-subscription-button.tsx
  apps/dashboard/src/components/engine/permissions/add-access-token-button.tsx
  apps/dashboard/src/components/engine/permissions/add-admin-button.tsx
  apps/dashboard/src/components/engine/permissions/add-keypair-button.tsx
  apps/dashboard/src/components/engine/relayer/add-relayer-button.tsx
  apps/dashboard/src/components/wallets/ConnectWalletPlayground/FormItem.tsx
  apps/dashboard/src/components/wallets/ConnectWalletPlayground/ModalSizeButton.tsx
  apps/dashboard/src/contract-ui/tabs/settings/components/detected-state.tsx
Labels: Dashboard

#5006 [Dashboard] Remove react-icons (2)
  apps/dashboard/src/components/dashboard/RelevantDataSection.tsx
  apps/dashboard/src/components/engine/configuration/engine-wallet-config.tsx
  apps/dashboard/src/components/engine/configuration/webhooks-table.tsx
  apps/dashboard/src/components/engine/contract-subscription/contract-subscriptions-table.tsx
  apps/dashboard/src/components/engine/engine-instances-table.tsx
  apps/dashboard/src/components/engine/overview/backend-wallets-table.tsx
  apps/dashboard/src/components/engine/permissions/access-tokens-table.tsx
  apps/dashboard/src/components/engine/permissions/admins-table.tsx
  apps/dashboard/src/components/engine/permissions/keypairs-table.tsx
  apps/dashboard/src/components/engine/relayer/relayers-table.tsx
  apps/dashboard/src/components/shared/TWTable.tsx
Labels: Dashboard

#5007 [Dashboard] Remove react-icons (3)
  apps/dashboard/src/components/engine/contract-subscription/contract-subscriptions-table.tsx
  apps/dashboard/src/components/engine/overview/transaction-timeline.tsx
  apps/dashboard/src/components/engine/overview/transactions-table.tsx
  apps/dashboard/src/components/engine/system-metrics/index.tsx
  apps/dashboard/src/components/homepage/sections/AnyEVM.tsx
  apps/dashboard/src/components/homepage/sections/NewsletterSection.tsx
  apps/dashboard/src/components/landing-pages/cta-buttons.tsx
Labels: Dashboard

#5008 [Dashboard] Marketplace Listing drawer -> Sheet
  apps/dashboard/src/contract-ui/tabs/shared-components/listing-drawer.tsx
Labels: Dashboard

#4992 feat: support for enclave migration in React Native
  .changeset/chilly-mangos-decide.md
  .changeset/soft-colts-eat.md
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectedButton.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectedModal.tsx
  packages/thirdweb/src/react/native/ui/connect/ReceiveScreen.tsx
  packages/thirdweb/src/wallets/in-app/core/actions/generate-wallet.enclave.ts
  packages/thirdweb/src/wallets/in-app/core/actions/get-enclave-user-status.ts
  packages/thirdweb/src/wallets/in-app/core/actions/sign-message.enclave.ts
  packages/thirdweb/src/wallets/in-app/core/actions/sign-transaction.enclave.ts
  packages/thirdweb/src/wallets/in-app/core/actions/sign-typed-data.enclave.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/client-scoped-storage.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/guest.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/in-app/native/auth/passkeys.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/api/fetchers.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/auth/middleware.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/constants.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/wallet/migration.ts
  packages/thirdweb/src/wallets/in-app/native/helpers/wallet/retrieval.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/iframe-auth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/passkeys.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/InAppWalletIframeCommunicator.ts
  pnpm-lock.yaml
Labels: packages

#5032 [SDK] ERC1155 extension: mintToBatch
  .changeset/six-drinks-joke.md
  packages/thirdweb/src/exports/extensions/erc1155.ts
  packages/thirdweb/src/extensions/erc1155/write/mintToBatch.test.ts
  packages/thirdweb/src/extensions/erc1155/write/mintToBatch.ts
Labels: packages

#4998 feat: Engine delete modal now prompts to permanently delete, calls new route
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/components/engine/engine-instances-table.tsx
Labels: merge-queue, Dashboard

#5031 remove all leftover `react-icons` refrerences
  apps/dashboard/package.json
  apps/dashboard/src/components/buttons/TransactionButton.tsx
  apps/dashboard/src/components/chain-validation/index.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/custom-factory.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/external-links-input.tsx
  apps/dashboard/src/components/contract-components/publisher/edit-profile.tsx
  apps/dashboard/src/components/contract-components/tables/published-contracts.tsx
  apps/dashboard/src/components/contract-pages/forms/properties.shared.tsx
  apps/dashboard/src/components/product-pages/common/GameCard.tsx
  apps/dashboard/src/components/product-pages/common/GuideShowcase.tsx
  apps/dashboard/src/components/product-pages/common/Hero.tsx
  apps/dashboard/src/components/product-pages/common/ImageCard.tsx
  apps/dashboard/src/components/product-pages/common/ProductLearnMoreCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/DowngradeDialog.tsx
  apps/dashboard/src/components/settings/Account/Billing/Header.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
  apps/dashboard/src/contract-ui/tabs/manage/components/InstalledModulesTable.tsx
  apps/dashboard/src/contract-ui/tabs/permissions/components/contract-permission.tsx
  apps/dashboard/src/contract-ui/tabs/proposals/components/proposal.tsx
  apps/dashboard/src/tw-components/button.tsx
  apps/portal/package.json
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/Document/Cards/GithubTemplateCard.tsx
  apps/portal/src/components/Document/EditPage.tsx
  apps/portal/src/components/Document/GithubButtonLink.tsx
  pnpm-lock.yaml
Labels: Dashboard, Portal

#5038 Move contract overview page components to app router folder (No code changes)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/NFTCards.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/ContractOverviewPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/Analytics.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/BuildYourApp.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/ContractChecklist.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/LatestEvents.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/NFTDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/PermissionsTable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/TokenDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/page.tsx
  apps/dashboard/src/contract-ui/tabs/account/components/nfts-owned.tsx
Labels: Dashboard

#5039 Migrate ContractCheckList Card to shadcn + StepsCard UI adjustment
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/ContractChecklist.tsx
  apps/dashboard/src/components/dashboard/StepsCard.tsx
Labels: Dashboard

#5040 Migrate Marketplace Listing Stats on Contract Overview page to shadcn+tailwind
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/contract-ui/tabs/listings/components/listing-stats.tsx
Labels: Dashboard

#5041 Migrate Marketplace listing cards on overview page to shadcn/tailwind
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/tw-components/nft-media.tsx
Labels: Dashboard

#5042 Move Account Page components in app router folder (No Code Change)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/AccountPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/account-balance.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/deposit-native.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/nfts-owned.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/page.tsx
Labels: Dashboard

#5043 Move account-permissions page components in app router folder (No code change)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account-permissions/components/account-signer.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account-permissions/components/account-signers.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account-permissions/page.tsx
Labels: Dashboard

#5045 fix: improve wallet linking for ecosystems
  .changeset/large-snails-unite.md
  packages/thirdweb/src/react/web/wallets/in-app/WalletAuth.tsx
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
  packages/thirdweb/src/react/web/wallets/shared/PassKeyLogin.tsx
  packages/thirdweb/src/react/web/wallets/shared/SocialLogin.tsx
Labels: packages

#5044 Move /accounts contract page in app router folder (no code change)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/AccountsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/accounts-count.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/accounts-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/create-account-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/page.tsx
Labels: Dashboard

#5046 Move /analytics contract page in app router folder (no code change)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/page.tsx
Labels: Dashboard

#5030 Version Packages
  .changeset/chilly-mangos-decide.md
  .changeset/large-snails-unite.md
  .changeset/metal-pets-play.md
  .changeset/six-drinks-joke.md
  .changeset/soft-colts-eat.md
  .changeset/sweet-pears-change.md
  packages/react-native-adapter/CHANGELOG.md
  packages/react-native-adapter/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#5048 Move /nfts and /nfts/<tokenId> page components in app router folder (No code change)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/ContractNFTPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/airdrop-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/airdrop-upload.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/burn-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/claim-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/mint-supply-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/transfer-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/update-metadata-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/update-metadata-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/types.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/useNftDrawerTabs.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/batch-lazy-mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/claim-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/mint-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/nft-property.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/reveal-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/shared-metadata-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/shared-metadata-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/supply-cards.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/page.tsx
Labels: Dashboard

#5049 Move claim condition components in app router folder (no code change)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimPriceInput.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimerSelection.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/CreatorInput.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/MaxClaimablePerWalletInput.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/MaxClaimableSupplyInput.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/PhaseNameInput.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/PhaseStartTimeInput.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/common.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/hooks.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/phase.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/legacy-zod-schema.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/price-input.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/price-preview.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/quantity-input-with-unlimited.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/reset-claim-eligibility.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/snapshot-upload.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/claim-conditions/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/useNftDrawerTabs.tsx
Labels: Dashboard

#5047 [SDK] Feature: Twitch Login
  .changeset/warm-snakes-notice.md
  apps/dashboard/src/app/(dashboard)/dashboard/connect/ecosystem/types.ts
  apps/dashboard/src/components/wallets/ConnectWalletMiniPlayground/MiniPlayground.tsx
  apps/playground-web/src/app/connect/sign-in/components/InAppWalletFormGroup.tsx
  packages/thirdweb/src/react/core/utils/walletIcon.ts
  packages/thirdweb/src/react/native/ui/components/WalletImage.tsx
  packages/thirdweb/src/react/native/ui/connect/InAppWalletUI.tsx
  packages/thirdweb/src/react/native/ui/icons/svgs.ts
  packages/thirdweb/src/react/web/wallets/shared/ConnectWalletSocialOptions.tsx
  packages/thirdweb/src/react/web/wallets/shared/oauthSignIn.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Labels: merge-queue, Dashboard, Playground, packages

#5056 Sentry config fixes for dashboard
  apps/dashboard/next.config.js
  turbo.json
Labels: Dashboard

#5058 Fix Account Factories table stuck in loading state
  apps/dashboard/src/components/smart-wallets/AccountFactories/index.tsx
Labels: Dashboard

#5053 Fix: Pass iframe data on every call
  .changeset/tricky-lamps-cheer.md
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/IframeCommunicator.ts
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/InAppWalletIframeCommunicator.ts
Labels: merge-queue, Dashboard, Playground, packages

#5059 chore: update chains
  .changeset/real-insects-fix.md
  apps/playground-web/src/components/account-abstraction/sponsored-tx-zksync.tsx
  apps/playground-web/src/components/account-abstraction/sponsored-tx.tsx
  apps/portal/src/app/typescript/v5/sidebar.tsx
  packages/thirdweb/src/transaction/actions/zksync/send-eip712-transaction.ts
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-zksync.test.ts
Labels: Playground, Portal, packages

#5050 Version Packages
  .changeset/real-insects-fix.md
  .changeset/tricky-lamps-cheer.md
  .changeset/warm-snakes-notice.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
Labels: packages

#5061 fix: ensure valid block explorer URL for address links
  apps/dashboard/src/components/custom-contract/contract-header/metadata-header.tsx
Labels: Dashboard

#5052 [Dashboard] Fix prepareEvent code snippet
  apps/dashboard/src/contract-ui/tabs/code/components/code-overview.tsx
Labels: Dashboard

#5066 Fix Cannot read properties of undefined (reading 'message') in errorParser.tsx
  apps/dashboard/src/utils/errorParser.tsx
Labels: Dashboard

#5063 Add reason string on abort() method in fetch util
  .changeset/serious-masks-serve.md
  packages/thirdweb/src/storage/download.test.ts
  packages/thirdweb/src/utils/fetch.ts
Labels: packages

#5065 Catch failed to post tracking errors
  .changeset/rotten-weeks-raise.md
  packages/thirdweb/src/analytics/track.ts
Labels: packages

#5068 Add extra info on page crashing errors to identify them in Sentry dashboard
  apps/dashboard/src/app/global-error.tsx
  apps/dashboard/src/pages/_error.tsx
Labels: Dashboard

#5070 fix: small typo
  apps/portal/src/app/contracts/modular-contracts/get-started/page.mdx
Labels: merge-queue, Portal

#5071 Move Contract page components to app router folder (no code change)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/CancelDirectListing.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/CancelEnglishAuction.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/cancel-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/listing-drawer.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/marketplace-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/types.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/ContractDirectListingsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/components/table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/ContractEnglishAuctionsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/components/table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/embed/embed-setup.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/embed/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/TokenDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/listing-stats.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/sources/ContractSourcesPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/sources/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/ContractTokensPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-upload-erc20.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/burn-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/claim-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/supply-layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/supply.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/transfer-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/page.tsx
Labels: Dashboard

#5073 Move Contract page components to app router folder #2 (no code change)
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/primary-dashboard-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/events/events-feed.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/events/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/explorer/ContractExplorerPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/explorer/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/ContractEditModulesPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/InstalledModulesTable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/ModuleForm.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/getModuleInstalledParams.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/install-module-params.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/moduleContractInfo.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/ContractPermissionsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/components/contract-permission.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/components/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/components/permissions-editor.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/ContractProposalsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/components/delegate-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/components/proposal-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/components/proposal.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/ContractSettingsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/detected-state.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/metadata.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/primary-sale.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/royalties.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/ContractSplitPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/components/distribute-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/page.tsx
Labels: Dashboard
