Repository thirdweb-dev/js, pull requests merged in 2025-09, with the labels that each got.

#7956 [AI SDK Provider] Auto handle session ids
  .changeset/pink-hands-find.md
  apps/playground-web/src/app/ai/ai-sdk/components/chat-container.tsx
  apps/playground-web/src/app/ai/ai-sdk/page.tsx
  apps/playground-web/src/app/api/chat/route.ts
  apps/portal/src/app/ai/chat/ai-sdk/page.mdx
  packages/ai-sdk-provider/src/provider.ts
Labels: Playground, Portal, packages

#7960 deprecated and redirected docs
  apps/portal/redirects.mjs
  apps/portal/src/app/infrastructure/assets/test.jpg
  apps/portal/src/app/infrastructure/layout.tsx
  apps/portal/src/app/infrastructure/page.mdx
  apps/portal/src/app/infrastructure/rpc-edge/get-started/assets/api-key.png
  apps/portal/src/app/infrastructure/rpc-edge/get-started/assets/public-rpcs.png
  apps/portal/src/app/infrastructure/rpc-edge/get-started/assets/usage-dashboard.png
  apps/portal/src/app/infrastructure/rpc-edge/get-started/page.mdx
  apps/portal/src/app/infrastructure/rpc-edge/overview/assets/rpc-diagram.svg
  apps/portal/src/app/infrastructure/rpc-edge/overview/page.mdx
  apps/portal/src/app/infrastructure/sidebar.tsx
  apps/portal/src/app/infrastructure/storage/how-storage-works/assets/storage-diagram.svg
  apps/portal/src/app/infrastructure/storage/how-storage-works/page.mdx
  apps/portal/src/app/infrastructure/storage/how-to-use-storage/host-web-app/page.mdx
  apps/portal/src/app/infrastructure/storage/how-to-use-storage/upload-files-to-ipfs/assets/storage-dashboard.png
  apps/portal/src/app/infrastructure/storage/how-to-use-storage/upload-files-to-ipfs/assets/storage-upload.png
  apps/portal/src/app/infrastructure/storage/how-to-use-storage/upload-files-to-ipfs/assets/storage-urls.png
  apps/portal/src/app/infrastructure/storage/how-to-use-storage/upload-files-to-ipfs/page.mdx
  apps/portal/src/app/infrastructure/storage/overview/page.mdx
Labels: Portal

#7966 [SDK] Feature: `country` Code on Payment Widgets
  .changeset/purple-foxes-wear.md
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuotesForProviders.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
  packages/thirdweb/src/stories/Bridge/BridgeOrchestrator.stories.tsx
  packages/thirdweb/src/stories/Bridge/PaymentSelection.stories.tsx
Labels: packages, SDK

#7963 docs: Fix Typos in docs
  apps/portal/src/app/typescript/v5/extensions/examples/transfering-tokens/page.mdx
  apps/portal/src/app/typescript/v5/extensions/use/page.mdx
  apps/portal/src/app/typescript/v5/migrate/page.mdx
Labels: Portal

#7967 Version Packages
  .changeset/purple-foxes-wear.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7975 [MNY-142] Dashboard: Do not render BuyWidget if token is not supported by Bridge
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
Labels: Dashboard

#7970 Dashboard: Fix Import Contract Modal submit button loading state
  apps/dashboard/src/@/components/contracts/import-contract/modal.tsx
Labels: Dashboard

#7981 remove looking for engine on project view page
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
Labels: merge-queue, Dashboard

#7979 Portal: Remove unused pages, empty pages, Fix missing H1s
  apps/portal/src/app/account/account-info/page.mdx
  apps/portal/src/app/engine/v2/configure-wallets/aws-kms/page.mdx
  apps/portal/src/app/engine/v2/configure-wallets/circle-wallet/page.mdx
  apps/portal/src/app/engine/v2/configure-wallets/gcp-kms/page.mdx
  apps/portal/src/app/engine/v2/configure-wallets/server-wallet/page.mdx
  apps/portal/src/app/engine/v2/features/backend-wallets/page.mdx
  apps/portal/src/app/nebula/api-reference/chat/page.mdx
  apps/portal/src/app/nebula/api-reference/clear-session/page.mdx
  apps/portal/src/app/nebula/api-reference/create-session/page.mdx
  apps/portal/src/app/nebula/api-reference/delete-session/page.mdx
  apps/portal/src/app/nebula/api-reference/execute/page.mdx
  apps/portal/src/app/nebula/api-reference/get-session/page.mdx
  apps/portal/src/app/nebula/api-reference/list-session/page.mdx
  apps/portal/src/app/nebula/api-reference/update-session/page.mdx
  apps/portal/src/app/pay/customization/connectbutton/page.mdx
  apps/portal/src/app/pay/customization/send-transaction/page.mdx
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/pay/fees/page.mdx
  apps/portal/src/app/pay/guides/cross-chain-swapping/page.mdx
  apps/portal/src/app/pay/guides/nft-checkout/page.mdx
  apps/portal/src/app/pay/guides/onramp-integration/page.mdx
  apps/portal/src/app/pay/guides/smart-accounts/page.mdx
  apps/portal/src/app/pay/onramp-providers/page.mdx
  apps/portal/src/app/pay/supported-chains/page.mdx
  apps/portal/src/app/pay/troubleshoot/page.mdx
  apps/portal/src/app/pay/webhooks/page.mdx
  apps/portal/src/app/tokens/modular-contracts/tutorials/deploy-erc721-core/page.mdx
Labels: Portal

#7470 [Playground] Add Engine user transactions example to playground
  .changeset/odd-rockets-sink.md
  apps/playground-web/src/app/data/pages-metadata.ts
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/app/transactions/users/page.tsx
  apps/playground-web/src/components/account-abstraction/gateway.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-gateway.test.ts
  pnpm-lock.yaml
Labels: Playground, packages, SDK

#7990 Version Packages
  .changeset/odd-rockets-sink.md
  packages/api/CHANGELOG.md
  packages/api/package.json
Labels: packages

#7993 Update API reference links to use local /reference paths
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/ai/chat/page.mdx
  apps/portal/src/app/ai/llm-txt/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  apps/portal/src/app/contracts/sidebar.tsx
  apps/portal/src/app/nebula/api-reference/chat/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/clear-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/create-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/delete-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/execute/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/get-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/list-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/update-session/EndpointMetadata.tsx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/sponsor/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/components/Document/APIEndpointMeta/OpenApiEndpoint.tsx
Labels: merge-queue, Portal

#7996 [SDK] Add documentation for create7702MinimalAccount function
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
Labels: packages, SDK

#7999 Add chat context controls to playground
  apps/playground-web/src/app/ai/api/chat.ts
  apps/playground-web/src/app/ai/api/types.ts
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
Labels: Playground

#8001 [Dashboard] Update analytics API integration and add error logging
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/isAnalyticsSupportedForChain.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-event-breakdown.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-events.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/total-contract-events.ts
Labels: Dashboard

#8026 [BLD-277] Fix Server Wallets balance fetching for custom chains
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/useAbiProcessing.ts
Labels: Dashboard

#8030 Version Packages
  .changeset/eighty-taxis-own.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#8025 [BLD-247] Add propagation time in domain restrictions in project settings page
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/ProjectGeneralSettingsPage.tsx
Labels: Dashboard

#8037 Version Packages
  .changeset/twelve-ducks-beg.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#8046 [SDK] Upgrade WalletConnect and improve chain switching reliability
  .changeset/hot-bikes-relax.md
  packages/thirdweb/package.json
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  pnpm-lock.yaml
Labels: packages, SDK

#8048 [SDK] Fix fiat payments with no wallet connected
  .changeset/fuzzy-suits-wear.md
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
Labels: packages, SDK

#8050 [SDK] Add wallet validation before executing transactions
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
Labels: packages, SDK

#8061 [SDK] Simplify wallet connection code and add Abstract wallet support
  apps/portal/src/app/typescript/v5/connecting-wallets/page.mdx
  apps/portal/src/app/wallets/external-wallets/[walletId]/page.tsx
  apps/portal/src/app/wallets/external-wallets/xyz.abs/page.tsx
Labels: Portal

#8062 [SDK] Filter out AGW from searchable wallets
  .changeset/wide-flies-raise.md
  packages/thirdweb/src/react/native/ui/connect/ExternalWalletsList.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/AllWalletsUI.tsx
  packages/thirdweb/src/wallets/constants.ts
Labels: packages, SDK

#8054 SDK: Fix onSuccess prop not called properly on CheckoutWidget and BuyWidget
  .changeset/slimy-chefs-buy.md
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
Labels: packages, SDK

#8064 Dashboard: Fix Import Engine form submit not working
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/import/import-engine-dialog.tsx
Labels: Dashboard

#8066 [SDK] Fix wallet reconnection for previously connected wallets
  .changeset/clean-wings-repeat.md
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/live-stats.tsx
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnect.ts
  packages/thirdweb/src/react/web/hooks/wallets/useAutoConnect.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.test.tsx
  packages/thirdweb/src/transaction/prepare-transaction.test.ts
  packages/thirdweb/src/wallets/connection/autoConnect.test.ts
  packages/thirdweb/src/wallets/connection/autoConnect.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/manager/index.ts
Labels: Dashboard, packages, SDK

#8067 SDK, Dashboard: Fix SwapWidget setting same token for buy and sell in chain page
  .changeset/cuddly-steaks-bathe.md
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
Labels: Dashboard, packages, SDK

#8063 Version Packages
  .changeset/clean-wings-repeat.md
  .changeset/cuddly-steaks-bathe.md
  .changeset/lucky-turtles-smell.md
  .changeset/nice-owls-double.md
  .changeset/slimy-chefs-buy.md
  .changeset/wide-flies-raise.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#8071 Dashboard: Add tracking for SwapWidget impression, chain pageview
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/chain-pageview.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
Labels: Dashboard

#8077 [SDK] Show policy error for 7702 transactions
  .changeset/smart-mugs-doubt.md
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
Labels: packages, SDK

#8075 Version Packages
  .changeset/honest-hands-clap.md
  .changeset/smart-mugs-doubt.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#8073 Dashboard: Add Tokens page
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/PublicPageConnectButton.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tokens/components/header.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tokens/components/token-page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tokens/components/tokens-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tokens/page.tsx
  packages/thirdweb/src/bridge/Token.ts
  packages/thirdweb/src/bridge/types/Token.ts
Labels: Dashboard, packages, SDK

#8080 [MNY-189] SDK: SwapWidget UI improvements
  .changeset/nine-otters-pay.md
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/@/utils/sdk-component-theme.ts
  apps/playground-web/src/app/bridge/swap-widget/components/right-section.tsx
  apps/portal/src/app/bridge/swap/page.mdx
  apps/portal/src/app/bridge/swap/swap-dark.png
  apps/portal/src/app/bridge/swap/swap-light.png
  packages/thirdweb/src/react/core/design-system/index.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SearchInput.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/common.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-chain.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/utils.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/ArrowUpDownIcon.tsx
  packages/thirdweb/src/react/web/ui/components/basic.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/react/web/ui/components/formElements.tsx
  packages/thirdweb/src/react/web/ui/hooks/useisMobile.ts
  packages/thirdweb/src/stories/Bridge/Swap/SelectChain.stories.tsx
  packages/thirdweb/src/stories/Bridge/Swap/SwapWidget.stories.tsx
Labels: Dashboard, Playground, Portal, packages, SDK

#8084 Dashboard: Remove /routes
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/opengraph-image.png
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/client/pagination.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/client/search.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/client/type.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/client/view.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/types/route.ts
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/utils.ts
  apps/dashboard/src/app/(app)/(dashboard)/tokens/page.tsx
Labels: Dashboard

#8085 [MNY-191] Dashboard: Add header in /bridge
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/bridge/components/header.tsx
  apps/dashboard/src/app/bridge/layout.tsx
  apps/dashboard/src/app/bridge/page.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: Dashboard, packages, SDK

#8086 [BLD-325] Dashboard: Rename floating chat button label
  apps/dashboard/src/@/components/chat/CustomChatButton.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
Labels: Dashboard

#8088 Dashboard: Add search in tokens page
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tokens/components/token-page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tokens/page.tsx
  packages/thirdweb/src/bridge/Token.ts
Labels: Dashboard, packages, SDK

#8089 Remove taint from GROWTH_PLAN_SKU and PAYMENT_METHOD_CONFIGURATION
  apps/dashboard/src/@/constants/server-envs.ts
Labels: Dashboard

#8094 Dashboard: Fix broken opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/utils/contract-wallet-analytics.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/opengraph-image.tsx
Labels: Dashboard

#8091 [SDK] Add verifyPayment() backend utility for arbitrary chain x402 payments
  .changeset/some-moons-burn.md
  apps/playground-web/package.json
  apps/playground-web/src/app/payments/x402/components/x402-client-preview.tsx
  apps/playground-web/src/app/payments/x402/page.tsx
  apps/playground-web/src/middleware.ts
  apps/portal/src/app/payments/x402/page.mdx
  packages/thirdweb/src/exports/x402.ts
  packages/thirdweb/src/react/core/utils/defaultTokens.ts
  packages/thirdweb/src/x402/encode.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/sign.ts
  packages/thirdweb/src/x402/verify-payment.ts
  pnpm-lock.yaml
Labels: Playground, Portal, packages, SDK

#8109 [SDK] Fix transaction parameter ordering in injected wallet
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, SDK

#8108 Feature: Displays the buy widget error message
  .changeset/wicked-cycles-attack.md
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
Labels: packages, SDK

#8110 Version Packages
  .changeset/wicked-cycles-attack.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#8120 [BLD-338] Dashboard: Fix NFTs table owner row not showing data
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/table.tsx
Labels: Dashboard

#8113 [MNY-196] SDK: Add SwapWidget render event
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
Labels: packages, SDK

#8115 [MNY-197] SDK: SwapWidget chain selection UI improvements
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-chain.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/select-token-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, SDK

#8116 [MNY-198] SDK: Fix StepRunner autoStart not working reliably, Remove extra prepare call
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
  packages/thirdweb/src/stories/Bridge/StepRunner.stories.tsx
Labels: packages, SDK

#8117 [MNY-201] SDK: Rename leftover of Universal Bridge to Bridge
  apps/dashboard/src/@/api/analytics.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/Token.ts
  packages/thirdweb/src/bridge/Transfer.ts
  packages/thirdweb/src/bridge/Webhook.ts
  packages/thirdweb/src/bridge/types/Chain.ts
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/src/stories/Bridge/UnsupportedTokenScreen.stories.tsx
  packages/thirdweb/src/utils/domains.ts
Labels: Dashboard, packages, SDK

#8112 SDK: Fix toUnits throwing error for values in scientific notation
  packages/thirdweb/src/utils/units.test.ts
  packages/thirdweb/src/utils/units.ts
Labels: packages, SDK

#8124 [BLD-328] Portal: Update changelog page layout
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/changelog/[slug]/layout.tsx
  apps/portal/src/app/changelog/[slug]/page.tsx
  apps/portal/src/app/changelog/components/Author.tsx
  apps/portal/src/app/changelog/components/ChangeLogIndexTOC.tsx
  apps/portal/src/app/changelog/components/RenderData.tsx
  apps/portal/src/app/changelog/page.tsx
  apps/portal/src/app/changelog/utils/transform.tsx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/sponsor/page.mdx
  apps/portal/src/components/AI/chat-button.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  apps/portal/src/components/Document/Code.tsx
  apps/portal/src/components/Document/DocImage.tsx
  apps/portal/src/components/Document/DocLink.tsx
  apps/portal/src/components/Document/Grid.tsx
  apps/portal/src/components/Document/Heading.tsx
  apps/portal/src/components/Document/InlineCode.tsx
  apps/portal/src/components/Document/PageFooter.tsx
  apps/portal/src/components/Document/SDKCard.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/DocSearch.tsx
  apps/portal/src/components/others/Feedback.tsx
  apps/portal/src/components/others/Sidebar.tsx
  apps/portal/src/components/others/Subscribe.tsx
  apps/portal/src/components/others/TableOfContents.tsx
  apps/portal/src/components/ui/tabs.tsx
  packages/ui/src/components/code/CodeBlockContainer.tsx
Labels: merge-queue, Portal, packages

#8114 Version Packages
  .changeset/metal-bats-speak.md
  .changeset/polite-banks-peel.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#8127 Portal: UI tweaks 2
  apps/portal/package.json
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/globals.css
  apps/portal/src/app/layout.tsx
  apps/portal/src/app/references/components/TDoc/PageLayout.tsx
  apps/portal/src/app/vault/page.mdx
  apps/portal/src/components/AI/chat-button.tsx
  apps/portal/src/components/Document/APIEndpointMeta/ApiEndpoint.tsx
  apps/portal/src/components/Document/APIEndpointMeta/RequestExample.tsx
  apps/portal/src/components/Document/Cards/ArticleCard.tsx
  apps/portal/src/components/Document/Code.tsx
  apps/portal/src/components/Document/EditPage.tsx
  apps/portal/src/components/Document/FeatureCard.tsx
  apps/portal/src/components/Document/Heading.tsx
  apps/portal/src/components/Document/InlineCode.tsx
  apps/portal/src/components/Document/NextPageButton.tsx
  apps/portal/src/components/Document/PageFooter.tsx
  apps/portal/src/components/Document/Paragraph.tsx
  apps/portal/src/components/Document/Steps/Steps.module.css
  apps/portal/src/components/Document/Steps/Steps.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/DocSearch.tsx
  apps/portal/src/components/others/Feedback.tsx
  apps/portal/src/components/others/PlatformSelector.tsx
  apps/portal/src/components/others/Sidebar.tsx
  apps/portal/src/components/others/Subscribe.tsx
  apps/portal/src/components/ui/Anchor.tsx
  apps/portal/tailwind.config.ts
  packages/ui/src/global.css
  pnpm-lock.yaml
Labels: Portal, packages

#8129 Portal: Add BridgeWidget script docs
  apps/portal/src/app/bridge/bridge-widget-script/bridge-widget-dark.png
  apps/portal/src/app/bridge/bridge-widget-script/bridge-widget-light.png
  apps/portal/src/app/bridge/bridge-widget-script/page.mdx
  apps/portal/src/app/bridge/page.mdx
  apps/portal/src/app/bridge/sidebar.tsx
  apps/portal/src/components/Document/Details.tsx
  apps/portal/src/components/Document/Heading.tsx
  apps/portal/src/components/Document/Paragraph.tsx
  apps/portal/src/components/ui/tabs.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/SwapWidget.tsx
Labels: Portal, packages, SDK

#8128 [SDK] Support ERC-2612 permit for x402 payments
  .changeset/giant-suns-drive.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/playground-web/src/app/api/paywall/route.ts
  apps/playground-web/src/app/payments/x402/components/constants.ts
  apps/playground-web/src/app/payments/x402/components/x402-client-preview.tsx
  apps/playground-web/src/middleware.ts
  packages/thirdweb/scripts/generate/abis/erc20/USDC.json
  packages/thirdweb/scripts/generate/abis/erc7702/MinimalAccount.json
  packages/thirdweb/src/exports/x402.ts
  packages/thirdweb/src/extensions/erc20/__generated__/USDC/write/transferWithAuthorization.ts
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/sign.ts
  packages/thirdweb/src/x402/types.ts
Labels: Dashboard, Playground, packages, SDK

#8131 [wagmi-adapter] Add onConnect callback
  .changeset/famous-places-hug.md
  packages/wagmi-adapter/src/connector.ts
Labels: packages

#8130 Version Packages
  .changeset/famous-places-hug.md
  .changeset/giant-suns-drive.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#8133 Playground: Use Geist fonts
  apps/playground-web/package.json
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/tailwind.config.ts
  pnpm-lock.yaml
Labels: Playground

#8134 Dashboard: Fix BuyAndSwapWidget width
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/@/components/blocks/grid-pattern-embed-container.tsx
Labels: hotfix, Dashboard

#8136 SDK: Fix Embed widget container size, Dashboard: Fix Bridge embed UI width
  .changeset/social-showers-see.md
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/@/components/blocks/grid-pattern-embed-container.tsx
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/bridge/page.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/stories/ConnectEmbed.stories.tsx
Labels: hotfix, Dashboard, packages, SDK

#8139 Dashboard: Bridge page UI adjustments, add tracking
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/DarkVeil.tsx
  apps/dashboard/src/@/components/blocks/faq-section.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
  apps/dashboard/src/app/bridge/components/client/pill-link.tsx
  apps/dashboard/src/app/bridge/page.tsx
Labels: Dashboard

#8137 Version Packages
  .changeset/cyan-windows-reply.md
  .changeset/social-showers-see.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#8142 [SDK] Improve token info discovery for x402 payments
  .changeset/dirty-experts-kiss.md
  apps/playground-web/src/app/payments/x402/components/X402LeftSection.tsx
  apps/playground-web/src/app/payments/x402/components/X402Playground.tsx
  apps/playground-web/src/app/payments/x402/components/X402RightSection.tsx
  apps/playground-web/src/app/payments/x402/components/constants.ts
  apps/playground-web/src/app/payments/x402/components/types.ts
  apps/playground-web/src/app/payments/x402/components/x402-client-preview.tsx
  apps/playground-web/src/app/payments/x402/page.tsx
  apps/playground-web/src/middleware.ts
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/fetchWithPayment.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/types.ts
Labels: Playground, packages, SDK

#8161 Dashboard: Disable pay modal in ERC1155 set claim conditions if cost estimation is already done in dashboard
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page.tsx
Labels: Dashboard

#8165 Add /payments/x402 to framer-rewrites
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#8164 Dashboard: Fix Token Rewards UI not accounting for token decimals
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/components/claim-rewards-page.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/components/claim-rewards-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/utils/unclaimed-fees.ts
Labels: Dashboard

#8163 [Dashboard] Add transaction filtering by Queue ID to engine v2
  apps/dashboard/src/@/hooks/useEngine.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
Labels: Dashboard

#8166 [Dashboard] Update transaction status endpoint path
  apps/dashboard/src/@/hooks/useEngine.ts
Labels: Dashboard
