Repository thirdweb-dev/js, pull requests merged in 2025-07, with the labels that each got.

#7492 Playground: Fix in-app-wallet ConnectEmbed prebuilt ui code snippet
  apps/playground-web/src/app/connect/in-app-wallet/page.tsx
Labels: Playground

#7497 [Dashboard] Add status filter to transactions table
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/types.ts
Labels: Dashboard

#7498 [Docs] Broken Engine Links
  apps/portal/src/app/engine/v3/get-started/page.mdx
Labels: Portal

#7499 [Portal] Remove unused import from sign-in methods page
  apps/portal/src/app/connect/wallet/sign-in-methods/configure/page.mdx
Labels: Portal

#7500 [Porta] fix llm.txt generation
  apps/portal/public/llms-full.txt
  apps/portal/public/llms.txt
  apps/portal/src/app/references/components/TDoc/fetchDocs/fetchTypeScriptDoc.ts
Labels: Portal

#7474 Added Somnia Testnet
  .changeset/fresh-words-learn.md
  packages/thirdweb/src/chains/chain-definitions/somniaTestnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, SDK

#7486 feat(chains): add Core testnet and mainnet chains
  .changeset/afraid-rats-open.md
  packages/thirdweb/src/chains/chain-definitions/core-mainnet.ts
  packages/thirdweb/src/chains/chain-definitions/core-testnet.ts
  packages/thirdweb/src/exports/chains.ts
Labels: packages, SDK

#7507 Pass purchaseData prop to payment components
  .changeset/short-foxes-decide.md
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: hotfix, packages, SDK

#7501 Version Packages
  .changeset/afraid-rats-open.md
  .changeset/crazy-regions-send.md
  .changeset/fresh-words-learn.md
  .changeset/legal-fans-enjoy.md
  .changeset/short-foxes-decide.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7510 Update import path in createSessionKey example
  packages/thirdweb/src/extensions/erc7702/account/createSessionKey.ts
Labels: hotfix, Portal, packages, SDK

#7488 add analytics to insight page
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/blueprint-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/InsightAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/InsightAnalyticsFilter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/RequestsByStatusGraph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/TopChainsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/TopEndpointsTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/insight-ftux.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/page.tsx
Labels: Dashboard

#7512 [TOOL-4951] Dashboard: Show Plan upsell on storage error in asset creation modal
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/blocks/multi-step-status/multi-step-status.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_common/storage-error-upsell.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/launch/launch-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/page.tsx
Labels: Dashboard

#7522 [Dashboard] Fix validation for smart account options
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
Labels: Dashboard

#7523 [SDK] Show all tokens in payment selection regardless of balance
  .changeset/three-parts-rush.md
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, SDK

#7524 upgrade dependencies
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#7527 [Playground] Add TokenSelector component to Pay embed configuration
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/token-selector-demo/page.tsx
  apps/playground-web/src/components/blocks/NetworkSelectors.tsx
  apps/playground-web/src/components/ui/TokenSelector.tsx
  apps/playground-web/src/components/ui/select-with-search.tsx
  apps/playground-web/src/components/ui/select.tsx
  apps/playground-web/src/hooks/useTokensData.ts
  apps/playground-web/src/lib/types.ts
  apps/playground-web/src/lib/utils.ts
Labels: Playground

#7526 [Docs] Portal Images
  apps/portal/public/og/background-1.png
  apps/portal/public/og/icons/account-abstraction.svg
  apps/portal/public/og/icons/auth.svg
  apps/portal/public/og/icons/contract.svg
  apps/portal/public/og/icons/contracts.svg
  apps/portal/public/og/icons/infra.svg
  apps/portal/public/og/icons/insight.svg
  apps/portal/public/og/icons/nebula.svg
  apps/portal/public/og/icons/payment.svg
  apps/portal/public/og/icons/payments.svg
  apps/portal/public/og/icons/rpc.svg
  apps/portal/public/og/icons/storage.svg
  apps/portal/public/og/icons/transactions.svg
  apps/portal/public/og/icons/vault.svg
  apps/portal/public/og/icons/wallets.svg
  apps/portal/src/app/api/og/route.tsx
  apps/portal/src/app/pay/page.mdx
  apps/portal/src/app/pay/supported-chains/page.mdx
Labels: Portal

#7502 Stylus CLI updates
  packages/thirdweb/scripts/generate/abis/stylus/IArbWasm.json
  packages/thirdweb/scripts/generate/abis/stylus/IStylusConstructor.json
  packages/thirdweb/scripts/generate/abis/stylus/IStylusDeployer.json
  packages/thirdweb/src/cli/commands/stylus/builder.ts
  packages/thirdweb/src/cli/commands/stylus/check-prerequisites.ts
  packages/thirdweb/src/cli/commands/stylus/create.ts
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/exports/extensions/stylus.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IArbWasm/read/codehashVersion.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IStylusConstructor/write/stylus_constructor.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IStylusDeployer/events/ContractDeployed.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IStylusDeployer/write/deploy.ts
  packages/thirdweb/src/extensions/stylus/write/activateStylusContract.ts
  packages/thirdweb/src/extensions/stylus/write/deployWithStylusConstructor.ts
  packages/thirdweb/src/extensions/stylus/write/isContractActivated.ts
Labels: packages, SDK

#7529 Add activity log section to transaction page
  apps/dashboard/src/@/components/contract-components/shared/contract-id-image.tsx
  apps/dashboard/src/@/constants/thirdweb-client.server.ts
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractFromParams.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/chain-icon.tsx
  apps/dashboard/src/app/(app)/(dashboard)/profile/[addressOrEns]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/[version]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/utils/publishedContractOGImageTemplate.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/drops/[slug]/page.tsx
  apps/dashboard/src/app/(app)/project-showcase/[slug]/page.tsx
  apps/dashboard/src/app/(app)/project-showcase/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
  apps/dashboard/src/app/bridge/constants.ts
  apps/dashboard/src/app/pay/constants.ts
Labels: Dashboard

#7511 Version Packages
  .changeset/orange-files-admire.md
  .changeset/ten-forks-battle.md
  .changeset/three-parts-rush.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7516 Update branding from Engine Cloud to Transactions
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/dotnet/wallets/providers/engine-wallet/page.mdx
Labels: Portal

#7531 Enhance transaction details with decoded tab
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: Dashboard

#7533 [SDK] Respect feePayer property in Payment widgets
  .changeset/angry-dragons-smash.md
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, SDK

#7532 [SDK] Update walletconnect provider to universal
  .changeset/chatty-candles-jog.md
  apps/playground-web/src/app/connect/sign-in/button/RightSection.tsx
  apps/playground-web/src/components/styled-connect-button.tsx
  apps/playground-web/src/components/styled-connect-embed.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/native/create-wallet.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  packages/thirdweb/src/wallets/wallet-connect/types.ts
  pnpm-lock.yaml
Labels: Playground, packages, SDK

#7536 [SDK] Optimize payment token fetching in payment widgets
  .changeset/happy-pans-sneeze.md
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/chains/types.ts
  packages/thirdweb/src/chains/utils.ts
  packages/thirdweb/src/insight/common.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, SDK

#7539 Version Packages
  .changeset/happy-pans-sneeze.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7556 [SDK] Respect fee payer in token payment selection quotes
  .changeset/good-papers-give.md
  packages/thirdweb/src/react/core/hooks/useBridgeQuote.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/TokenSelection.tsx
Labels: packages, SDK

#7567 [TOOL-4987] SDK: Restore CSS resets, remove biome rules for sorting attributes and properties
  .changeset/hip-tips-grow.md
  biome.json
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/MenuButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ReceiveFunds.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/react/web/ui/components/text.tsx
  packages/thirdweb/src/react/web/wallets/shared/GetStartedScreen.tsx
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
Labels: hotfix, packages, SDK

#7575 Add branding hide prop to widgets
  .changeset/hip-mammals-sip.md
  apps/playground-web/src/app/connect/pay/components/types.ts
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/app/connect/pay/embed/page.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/DirectPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
Labels: Playground, packages, SDK

#7574 Replace PayEmbed with BuyWidget code
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/universal-bridge/components/code-examples.tsx
Labels: merge-queue, Dashboard

#7569 Dashboard: Remove OP superchain banner, CTAs, credits
  apps/dashboard/src/@/api/chain.ts
  apps/dashboard/src/@/components/billing/CreditsItem.tsx
  apps/dashboard/src/@/components/billing/PlanCard.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/billing/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/AccountAbstractionPage.tsx
Labels: Dashboard

#7579 Version Packages
  .changeset/ready-loops-search.md
  .changeset/slimy-zebras-lie.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7566 [TOOL-4988] Dashboard, SDK: Add gas sponsorship option for asset creation for in-app wallets
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/_common/form.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/launch/launch-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
  packages/thirdweb/src/utils/fetch.test.ts
  packages/thirdweb/src/utils/fetch.ts
  packages/thirdweb/src/wallets/smart/lib/bundler.ts
Labels: Dashboard, packages, SDK

#7581 [thirdweb/server-wallet] fix `address` used for simulation for ERC4337
  .changeset/dirty-candies-shop.md
  packages/thirdweb/src/engine/server-wallet.test.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: packages, SDK

#7584 Version Packages
  .changeset/dirty-candies-shop.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7585 Dashboard: Fix webhooks posthog feature flag conditional rendering
  apps/dashboard/src/@/analytics/posthog-server.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/loading.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/contracts/loading.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/loading.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/universal-bridge/loading.tsx
Labels: Dashboard

#7588 Version Packages
  .changeset/icy-islands-dress.md
  .changeset/loud-mails-peel.md
  .changeset/tangy-otters-invite.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7593 chore: redirect /universal-bridge -> /payments
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: merge-queue, Dashboard

#7589 [TOOL-5021] SDK: Fix theme in ConnectButton Details Modal Buy screen
  .changeset/ten-places-feel.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/stories/ConnectButton/themes.stories.tsx
Labels: packages, SDK

#7530 [Dashboard] Add server-wallet signAuthorization capability to wallet access token
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
Labels: Dashboard

#7594 Version Packages
  .changeset/few-moments-add.md
  .changeset/ten-places-feel.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7603 Update converter SDK reference
  apps/dashboard/src/app/(app)/(dashboard)/tools/hex-converter/components/HexConverter.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tools/keccak256-converter/components/Keccak256Converter.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tools/wei-converter/components/WeiConverter.tsx
Labels: merge-queue, Dashboard

#7607 fix playground payments widget
  apps/playground-web/src/app/connect/pay/components/CodeGen.tsx
Labels: Playground

#7601 [SDK] Fix: Adds BuyWidget fallback when native isn't supported
  apps/playground-web/src/hooks/useTokensData.ts
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
Labels: merge-queue, Playground, packages, SDK

#7613 Update error response URL for project settings
  .changeset/ninety-heads-work.md
  packages/service-utils/src/core/authorize/client.test.ts
  packages/service-utils/src/core/authorize/client.ts
  packages/service-utils/src/core/authorize/service.ts
Labels: packages

#7614 Update nebula rateLimit type to include perSecond and perMinute
  .changeset/loud-clocks-begin.md
  apps/dashboard/src/@/storybook/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: Dashboard, packages

#7595 [portal] add new support article
  apps/portal/src/app/knowledge-base/assets/base-uri.png
  apps/portal/src/app/knowledge-base/assets/download-ipfs.png
  apps/portal/src/app/knowledge-base/assets/import-ipfs.png
  apps/portal/src/app/knowledge-base/assets/search.png
  apps/portal/src/app/knowledge-base/assets/storage.png
  apps/portal/src/app/knowledge-base/assets/token-uri.png
  apps/portal/src/app/knowledge-base/assets/update-batch.png
  apps/portal/src/app/knowledge-base/sidebar.tsx
  apps/portal/src/app/knowledge-base/troubleshoot/contracts/update-nft-metadata/page.mdx
Labels: Portal

#7629 Chore: Update UB jsdocs to include types
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/Transfer.ts
Labels: Portal, packages, SDK

#7610 Display webhook secret in dashboard
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/WebhooksTable.tsx
Labels: Dashboard

#7628 [TOOL-5047] Dashboard: Fix client object missing teamId on contract publish page
  apps/dashboard/src/app/(app)/(dashboard)/contracts/publish/[publish_uri]/page.tsx
Labels: Dashboard

#7633 chore: /token and /vault landing pages
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#7598 add insight filter selection to webhook creation and update
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/create-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/edit-webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/topic-selector-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-config-modal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/webhook-configs-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/useAbiProcessing.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
Labels: merge-queue, Dashboard

#7604 chore: webhooks docs
  apps/portal/src/app/page.tsx
  apps/portal/src/app/webhooks/layout.tsx
  apps/portal/src/app/webhooks/page.mdx
  apps/portal/src/app/webhooks/sidebar.tsx
  apps/portal/src/components/Document/metadata.ts
Labels: Portal

#7643 [Docs] Add Ecosystem Wallet to sidebar and update documentation
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/EngineCloudChartCard/EngineCloudBarChartCardUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/layout.tsx
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/ecosystem/set-up/page.mdx
  apps/portal/src/app/connect/wallet/server/page.mdx
  apps/portal/src/app/connect/wallet/sign-in-methods/configure/page.mdx
  apps/portal/src/app/engine/v3/get-started/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-1.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-2.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-3.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-nfts-4.png
  apps/portal/src/app/transactions/distribute-tokens/assets/airdrop-overview.png
  apps/portal/src/app/transactions/distribute-tokens/page.mdx
  apps/portal/src/app/transactions/layout.tsx
  apps/portal/src/app/transactions/monitor/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/session-keys/page.mdx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/app/transactions/sponsor/page.mdx
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-1.png
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-2.png
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-3.png
  apps/portal/src/app/transactions/stripe-payments/assets/nft-checkout-overview.png
  apps/portal/src/app/transactions/stripe-payments/page.mdx
  apps/portal/src/app/vault/get-started/page.mdx
  apps/portal/src/icons/index.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: Dashboard, Portal, packages, SDK

#7648 Dashboard: Show upsell card on support page for free plan
  apps/dashboard/src/@/components/blocks/upsell-wrapper.tsx
  apps/dashboard/src/@/components/chat/CustomChatButton.tsx
  apps/dashboard/src/@/components/chat/CustomChats.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/CreateSupportCase.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportHeader.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/SupportTicketForm.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/create/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/page.tsx
Labels: Dashboard

#7645 [Dashboard] Show EOA server wallets by default
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  pnpm-lock.yaml
Labels: Dashboard

#7647 [SDK] Fix: update hooks to use core transaction types
  .changeset/smooth-crabs-reply.md
  packages/thirdweb/src/react/core/hooks/transaction/useSendAndConfirmTransaction.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendBatchTransaction.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/transaction/actions/send-batch-transaction.ts
Labels: packages, SDK

#7650 [SDK] Fix: fixes auto-connect on native `<ConnectEmbed />` component
  .changeset/eighty-women-allow.md
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectModal.tsx
Labels: packages, SDK

#7656 [SDK] Fix TransactionWidget when wallet has enough currency
  .changeset/lucky-ravens-hope.md
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
Labels: Playground, packages, SDK

#7640 Version Packages
  .changeset/early-shoes-tap.md
  .changeset/eighty-women-allow.md
  .changeset/fallback-native-balance.md
  .changeset/free-boxes-lose.md
  .changeset/large-hornets-scream.md
  .changeset/lucky-ravens-hope.md
  .changeset/smooth-crabs-reply.md
  .changeset/whole-bottles-wait.md
  .changeset/whole-ducks-cheat.md
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7658 Update portal label to TypeScript SDK
  apps/dashboard/src/@/components/contracts/code-overview.tsx
  apps/dashboard/src/app/(app)/(dashboard)/tools/transaction-simulator/components/TransactionSimulator.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/support/_components/contact-forms/connect/index.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/EmptyState.tsx
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/contracts/explore/pre-built-contracts/account-factory/page.mdx
  apps/portal/src/app/contracts/explore/pre-built-contracts/managed-account-factory/page.mdx
  apps/portal/src/app/engine/v2/features/relayers/page.mdx
  apps/portal/src/app/infrastructure/sidebar.tsx
  apps/portal/src/app/pay/guides/cross-chain-swapping/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/ui-components/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/how-to/interact-blockchain/page.mdx
  apps/portal/src/app/react/v5/rainbow-kit-migrate/page.mdx
  apps/portal/src/app/references/typescript/[version]/layout.tsx
  apps/portal/src/app/typescript/v5/connecting-wallets/page.mdx
  apps/portal/src/app/typescript/v5/wallets/page.mdx
  apps/portal/src/app/wallets/external-wallets/com.coinbase.wallet/page.tsx
  apps/portal/src/app/wallets/quickstart/page.mdx
  packages/react-native-adapter/README.md
Labels: Dashboard, Portal, packages

#7660 fixed playground import
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
Labels: Playground

#7657 [TOOL-5075] SDK: Fix various alignment issues in components
  .changeset/sad-vans-wait.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/MenuButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ReceiveFunds.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/components/buttons.tsx
  packages/thirdweb/src/react/web/ui/components/text.tsx
  packages/thirdweb/src/react/web/wallets/shared/GetStartedScreen.tsx
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
Labels: packages, SDK

#7661 [TOOL-5083] Portal: Fix header on mobile viewport
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/DocSearch.tsx
  codecov.yml
Labels: Portal

#7653 [Portal] Fix: update sidebar overflow behavior in DocLayout component
  apps/portal/src/app/Header.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/DocSearch.tsx
Labels: Portal

#7670 [Docs] Add frontend/backend tabs for transaction sending examples
  apps/portal/src/app/transactions/page.mdx
Labels: Portal

#7669 Add external wallet filter and display
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/AdvancedSearchInput.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/SearchResults.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/searchUsers.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/users/components/types.ts
Labels: Dashboard

#7677 [Portal] Fix: Test Jam Feedback
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/bundler/layout.tsx
  apps/portal/src/app/bundler/page.mdx
  apps/portal/src/app/globals.css
  apps/portal/src/app/page.tsx
  apps/portal/src/app/payments/custom-data/page.mdx
  apps/portal/src/app/payments/faq/page.mdx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/payments/send/page.mdx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/wallets/faq/page.mdx
  apps/portal/src/app/wallets/link-profiles/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/components/Document/DocLink.tsx
  apps/portal/src/components/Document/PageFooter.tsx
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/others/Sidebar.tsx
  apps/portal/src/components/ui/tabs.tsx
  packages/thirdweb/scripts/typedoc.mjs
  packages/thirdweb/src/bridge/Webhook.ts
  pnpm-lock.yaml
Labels: Portal, packages, SDK

#7680 [Docs] Update redirects for wallets and payments paths
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/account/api-keys/page.mdx
  apps/portal/src/app/infrastructure/sidebar.tsx
  apps/portal/src/app/layout.tsx
  apps/portal/src/app/nebula/get-started/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/payments/faq/page.mdx
  apps/portal/src/app/react/v5/components/ConnectButton/page.mdx
  apps/portal/src/app/react/v5/components/ConnectEmbed/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/hooks/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/ui-components/page.mdx
  apps/portal/src/app/react/v5/migrate/installation/page.mdx
  apps/portal/src/app/react/v5/sidebar.tsx
  apps/portal/src/app/transactions/distribute-tokens/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/session-keys/page.mdx
  apps/portal/src/app/transactions/stripe-payments/page.mdx
  apps/portal/src/app/typescript/v5/connecting-wallets/page.mdx
  apps/portal/src/app/typescript/v5/wallets/page.mdx
  apps/portal/src/app/wallets/auth/deploying-to-production/page.mdx
  apps/portal/src/app/wallets/auth/page.mdx
  apps/portal/src/app/wallets/external-wallets/[walletId]/page.tsx
  apps/portal/src/app/wallets/external-wallets/com.coinbase.wallet/page.tsx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/pregenerate-wallets/page.mdx
  apps/portal/src/app/wallets/security/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/app/wallets/users/page.mdx
  apps/portal/src/components/others/AllSupportedWallets.tsx
  apps/portal/src/components/others/DocSearch.tsx
  apps/portal/src/components/ui/tabs.tsx
Labels: Portal

#7681 [SDK] Feature: Adds optional `transactionId` parameter to `Bridge.status`
  .changeset/four-trams-fetch.md
  packages/thirdweb/src/bridge/Status.ts
Labels: packages, SDK

#7685 [Dashboard] Replace modular contracts with Arbitrum Stylus contracts in explore page
  apps/dashboard/src/app/(app)/(dashboard)/explore/data.ts
  apps/portal/redirects.mjs
Labels: Dashboard, Portal

#7679 [Portal] Fix: Broken /connect Links
  README.md
  apps/portal/public/llms.txt
  apps/portal/redirects.mjs
  apps/portal/src/app/account/api-keys/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/authenticate/page.mdx
  apps/portal/src/app/engine/v2/configure-wallets/server-wallet/page.mdx
  apps/portal/src/app/engine/v2/features/relayers/page.mdx
  apps/portal/src/app/engine/v2/troubleshooting/page.mdx
  apps/portal/src/app/layout.tsx
  apps/portal/src/app/nebula/get-started/page.mdx
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/pay/guides/smart-accounts/page.mdx
  apps/portal/src/app/pay/onramp-providers/page.mdx
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/react/v5/account-abstraction/get-started/page.mdx
  apps/portal/src/app/react/v5/components/ConnectButton/page.mdx
  apps/portal/src/app/react/v5/connecting-wallets/ui-components/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/enable-gasless/page.mdx
  apps/portal/src/app/react/v5/in-app-wallet/get-started/page.mdx
  apps/portal/src/app/react/v5/migrate/installation/page.mdx
  apps/portal/src/app/react/v5/rainbow-kit-migrate/page.mdx
  apps/portal/src/app/tokens/build/base-contracts/erc-4337/page.mdx
  apps/portal/src/app/tokens/explore/pre-built-contracts/account-factory/page.mdx
  apps/portal/src/app/tokens/explore/pre-built-contracts/managed-account-factory/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/session-keys/page.mdx
  apps/portal/src/app/typescript/v5/account-abstraction/get-started/page.mdx
  apps/portal/src/components/others/DocSearch.tsx
  packages/thirdweb/CHANGELOG.md
Labels: Portal, packages, SDK

#7690 Dashboard: Migrate Various forms in contract pages from chakra to tailwind
  apps/dashboard/src/@/components/contracts/properties.shared.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/update-metadata-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/mint-form.tsx
Labels: Dashboard

#7697 Add custom amount input to credit balance section
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/billing/components/credit-balance-section.client.tsx
Labels: Dashboard

#7701 Version Packages
  .changeset/tasty-ducks-say.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

#7695 Dashboard: Migrate /tokens contract page from chakra to tailwind
  apps/dashboard/src/@/components/batch-upload/upload-step.tsx
  apps/dashboard/src/@/components/blocks/code/downloadable-code.tsx
  apps/dashboard/src/@/components/blocks/download-file-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/airdrop-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/ContractTokensPage.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/ContractTokensPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-csv-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-upload.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/burn-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/claim-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/mint-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/transfer-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/shared-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/upload-nfts/batch-upload/batch-upload-instructions.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-airdrop.tsx
Labels: Dashboard

#7704 Dashboard: Migrate Published contract > code tab from chakra to tailwind
  apps/dashboard/src/@/components/blocks/code/code-segment.client.tsx
  apps/dashboard/src/@/components/contracts/code-overview.tsx
Labels: Dashboard

#7707 Dashboard: Migrate Explorer components from chakra to tailwind
  apps/dashboard/src/@/components/blocks/FormFieldSetup.tsx
  apps/dashboard/src/@/components/blocks/code/code-segment.client.tsx
  apps/dashboard/src/@/components/contracts/functions/contract-function-comment.tsx
  apps/dashboard/src/@/components/contracts/functions/contract-function.tsx
  apps/dashboard/src/@/components/contracts/functions/contract-functions.tsx
  apps/dashboard/src/@/components/contracts/functions/interactive-abi-function.tsx
  apps/dashboard/src/@/components/contracts/published-contract/index.tsx
  apps/dashboard/src/@/components/solidity-inputs/bool-input.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/explorer/ContractExplorerPage.tsx
Labels: Dashboard

#7708 [SDK] Fix ecosystem wallet connection with default chains
  .changeset/slimy-pigs-rest.md
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Labels: packages, SDK

#7692 [Docs] Update API endpoints and add frontend/backend examples
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/ai/layout.tsx
  apps/portal/src/app/ai/llm-txt/page.mdx
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/contracts/events/page.mdx
  apps/portal/src/app/contracts/extensions/page.tsx
  apps/portal/src/app/contracts/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
  apps/portal/src/app/contracts/transactions/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/payments/fees/assets/fee-dash.png
  apps/portal/src/app/payments/fees/page.mdx
  apps/portal/src/app/payments/fund/page.mdx
  apps/portal/src/app/payments/onramp-providers/page.mdx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/payments/products/page.mdx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/transactions/page.mdx
  apps/portal/src/app/tokens/page.mdx
  apps/portal/src/app/transactions/distribute-tokens/page.mdx
  apps/portal/src/app/transactions/monitor/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/session-keys/page.mdx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/app/transactions/sponsor/page.mdx
  apps/portal/src/app/wallets/get-users/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  apps/portal/src/components/others/Sidebar.tsx
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
Labels: Portal, packages, SDK

#7703 [Docs] Add search and pagination to wallet list
  apps/portal/src/components/others/AllSupportedWallets.tsx
Labels: Portal

#7711 [SDK] Fix showQrModal option not respected on desktop web
  .changeset/social-dogs-bet.md
  apps/dashboard/package.json
  apps/playground-web/src/app/wallets/sign-in/headless/page.tsx
  apps/playground-web/src/components/sign-in/hooks.tsx
  apps/playground-web/src/components/sign-in/modal.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/react/core/hooks/wallets/useConnect.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/wallet-connect/qr-overlay.ts
  packages/thirdweb/src/wallets/wallet-connect/types.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, SDK

#7709 Version Packages
  .changeset/slimy-pigs-rest.md
  .changeset/social-dogs-bet.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7699 Dashboard: Update outdated Portal links, Portal redirect cleanup
  apps/dashboard/src/@/components/contracts/code-overview.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/create/EcosystemCreatePage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/create/components/client/create-ecosystem-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/AAFooterSection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/factories/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/settings/PayConfig.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/_components/footer.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/_components/header.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/settings/components/index.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/EmptyState.tsx
  apps/dashboard/src/app/bridge/page.tsx
  apps/portal/redirects.mjs
Labels: Dashboard, Portal

#7712 Dashboard: Migrate contract deployment UI from chakra to tailwind
  apps/dashboard/src/@/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/@/components/contract-components/contract-deploy-form/modular-contract-default-modules-fieldset.tsx
  apps/dashboard/src/@/components/solidity-inputs/button.tsx
  apps/dashboard/src/chakra/button.tsx
Labels: Dashboard

#7714 Dashboard: Migrate engine/access-tokens page from chakra to tailwind
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/import/EngineImportPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/access-tokens/components/access-tokens-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/access-tokens/components/add-access-token-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/access-tokens/components/add-keypair-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/access-tokens/components/engine-access-tokens.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/access-tokens/components/keypairs-table.tsx
Labels: Dashboard

#7715 Dashboard: Migrate engine/admins page from chakra to tailwind
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/admins/components/add-admin-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/admins/components/admins-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/admins/components/engine-admins.tsx
Labels: Dashboard

#7718 Add `gateway` team capabilities
  .changeset/cute-houses-own.md
  apps/dashboard/src/@/storybook/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: Dashboard, packages

#7706 [Dashboard] Payment Links Page
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/@/components/ui/CopyButton.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/EmptyState.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/ErrorState.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/FeatureCard.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentsTableRow.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/QuickstartSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/format.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/CreatePaymentLinkButton.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/PaymentLinksTable.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/loading.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/webhooks/page.tsx
Labels: Dashboard

#7721 Dashboard: Migrate engine/contract-submissions from chakra to tailwind
  apps/dashboard/src/@/components/ui/input.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/contract-subscriptions/components/add-contract-subscription-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/contract-subscriptions/components/contract-subscriptions-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/contract-subscriptions/components/engine-contract-subscription.tsx
Labels: Dashboard

#7725 [Docs] Update MCP server URLs and reorder usage sections
  apps/portal/src/app/ai/mcp/page.mdx
Labels: Portal

#7726 [Docs] Update MCP authentication from headers to query parameters
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/ai/llm-txt/page.mdx
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/page.tsx
Labels: Portal

#7727 [Docs] Remove POST method from MCP server URL
  apps/portal/src/app/ai/mcp/page.mdx
Labels: Portal

#7722 Dashboard: Migrate engine/metrics from chakra to tailwind
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/contract-subscriptions/components/engine-contract-subscription.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/metrics/components/EngineSystemMetrics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/metrics/components/Healthcheck.tsx
Labels: Dashboard

#7723 Dashboard: Migrate engine/overview from chakra to tailwind
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/tooltip.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/overview/components/create-backend-wallet-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/overview/components/transaction-timeline.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/overview/components/transactions-table.tsx
  pnpm-lock.yaml
Labels: Dashboard

#7730 Dashboard: Migrate marketplace contract pages from chakra to tailwind
  apps/dashboard/src/@/actions/getWalletNFTs.ts
  apps/dashboard/src/@/components/blocks/CurrencySelector.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/cancel-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/listing-drawer.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/marketplace-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/ContractDirectListingsPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/components/table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/ContractEnglishAuctionsPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/components/table.tsx
Labels: Dashboard

#7731 Dashboard: Migrate Claim condition components from chakra to tailwind, UI improvements
  apps/dashboard/public/assets/examples/snapshot-with-maxclaimable.csv
  apps/dashboard/public/assets/examples/snapshot-with-overrides.csv
  apps/dashboard/public/assets/examples/snapshot.csv
  apps/dashboard/src/@/components/blocks/code/downloadable-code.tsx
  apps/dashboard/src/@/components/blocks/drop-zone/drop-zone.tsx
  apps/dashboard/src/@/components/tx-button/index.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimPriceInput.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimerSelection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/CreatorInput.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/MaxClaimablePerWalletInput.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/MaxClaimableSupplyInput.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/PhaseNameInput.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/PhaseStartTimeInput.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/common.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/phase.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/price-input.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/price-preview.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/quantity-input-with-unlimited.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/reset-claim-eligibility.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/snapshot-upload.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/csv-data-table.tsx
Labels: Dashboard

#7732 [SDK] Add EIP-5792 support to Coinbase and refactor wallet capabilities
  .changeset/early-queens-drive.md
  apps/playground-web/src/components/account-abstraction/5792-get-capabilities.tsx
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/wallets/eip5792/get-calls-status.test.ts
  packages/thirdweb/src/wallets/eip5792/get-calls-status.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.test.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.test.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.ts
  packages/thirdweb/src/wallets/in-app/core/eip5792/in-app-wallet-calls.ts
  packages/thirdweb/src/wallets/in-app/core/eip5972/in-app-wallet-capabilities.ts
  packages/thirdweb/src/wallets/in-app/core/eip7702/minimal-account.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/injected/index.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/lib/smart-wallet-capabilities.ts
Labels: Playground, packages, SDK

#7710 Update insight, add contract filtering
  .changeset/cyan-facts-smell.md
  .changeset/tidy-dogs-try.md
  packages/insight/biome.json
  packages/insight/openapi-ts.config.ts
  packages/insight/package.json
  packages/insight/src/client/client.gen.ts
  packages/insight/src/client/client/client.ts
  packages/insight/src/client/client/index.ts
  packages/insight/src/client/client/types.ts
  packages/insight/src/client/client/utils.ts
  packages/insight/src/client/core/auth.ts
  packages/insight/src/client/core/bodySerializer.ts
  packages/insight/src/client/core/params.ts
  packages/insight/src/client/core/pathSerializer.ts
  packages/insight/src/client/core/types.ts
  packages/insight/src/client/sdk.gen.ts
  packages/insight/src/client/types.gen.ts
  packages/insight/src/configure.ts
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getOwnedNFTs.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/insight/get-tokens.ts
Labels: packages, SDK

#7734 [Dashboard] Add thirdweb API option alongside Engine API
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/explorer/components/scalar.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/explorer/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/try-it-out.tsx
Labels: Dashboard

#7747 Version Packages
  .changeset/fifty-bars-rest.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7745 [SDK] Feature: Faster payment widget quote generation
  .changeset/cute-actors-beam.md
  packages/thirdweb/src/react/core/hooks/useBridgeQuote.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/TokenSelection.tsx
Labels: packages, SDK

#7739 Dashboard: Migrate contract/accounts page from chakra to tailwind
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/AccountsPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/accounts-count.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/accounts-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/create-account-button.tsx
  apps/dashboard/src/chakra/button.tsx
Labels: Dashboard

#7743 Dashboard: Migrate various components from chakra to tailwind
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/ModuleForm.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/install-module-params.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/burn-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/claim-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/transfer-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/claim-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/partners-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
Labels: Dashboard

#7749 Dashboard: Migrate various components from chakra to tailwind #2
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/reveal-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/shared-metadata-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/shared-metadata-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/ContractPermissionsPage.tsx
  apps/dashboard/src/chakra/button.tsx
  apps/dashboard/src/chakra/form.tsx
  apps/dashboard/src/chakra/link.tsx
Labels: Dashboard

#7750 Dashboard: Migrate contract/permissions page from chakra to tailwind, UI improvements
  apps/dashboard/src/@/components/misc/delayed-display.tsx
  apps/dashboard/src/@/components/ui/alert.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/ContractPermissionsPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/components/contract-permission.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/components/index.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/components/permissions-editor.tsx
Labels: Dashboard

#7758 [Dashboard] Add FTUX completion tracking for Engine checklist
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-tx.client.tsx
Labels: Dashboard

#7754 Version Packages
  .changeset/cute-actors-beam.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7760 [Docs] Update import path in encodeAbiParameters example
  packages/thirdweb/src/utils/abi/encodeAbiParameters.ts
Labels: packages, SDK

#7761 Fix CheckoutWidget transaction invalidation and NFT filtering in connect UI
  .changeset/petite-wasps-leave.md
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getOwnedNFTs.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/insight/get-tokens.ts
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/core/providers/invalidateWalletBalance.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewNFTs.tsx
Labels: packages, SDK

#7762 Version Packages
  .changeset/petite-wasps-leave.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7763 [BLD-28] Dashboard: Fix error style in contract explorer
  apps/dashboard/src/@/components/contracts/functions/interactive-abi-function.tsx
Labels: Dashboard

#7765 Portal: Move Chat UI in floating widget
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/chat/page.tsx
  apps/portal/src/app/page.tsx
  apps/portal/src/components/AI/chat-button.tsx
  apps/portal/src/components/AI/chat.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
Labels: Portal

#7769 Chore: Payment links tracking
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
Labels: Dashboard

#7767 [SDK] Fix decodeFunction and decodeError functions
  .changeset/tangy-ghosts-joke.md
  packages/thirdweb/src/utils/abi/decodeError.ts
  packages/thirdweb/src/utils/abi/decodeFunctionData.test.ts
  packages/thirdweb/src/utils/abi/decodeFunctionData.ts
  packages/thirdweb/src/utils/abi/decodeFunctionResult.ts
Labels: packages, SDK

#7766 [SDK] Fix `useContractEvents` persisting previous data when filters change
  .changeset/witty-ducks-lie.md
  packages/thirdweb/src/react/core/hooks/contract/useContractEvents.ts
Labels: packages, SDK

#7775 [SDK] Handle mobile deeplinks for WalletConnect transactions
  .changeset/cold-files-sleep.md
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.test.tsx
Labels: packages, SDK
