Repository thirdweb-dev/js, pull requests merged in 2025-05, with the labels that each got.

#6906 [SDK] Update WalletConnect to v2.20.1 and improve PayEmbed funnel
  .changeset/rich-ducks-ask.md
  apps/playground-web/src/app/connect/sign-in/button/RightSection.tsx
  packages/thirdweb/package.json
  packages/thirdweb/src/analytics/track/pay.test.ts
  packages/thirdweb/src/analytics/track/pay.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/DirectPaymentModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
  pnpm-lock.yaml
Labels: Playground, packages, SDK

#6910 [SDK] Improve destination tokens error handling
  .changeset/flat-bears-try.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/useSwapSupportedChains.ts
Labels: packages, SDK

#6908 Version Packages
  .changeset/flat-bears-try.md
  .changeset/rich-ducks-ask.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6911 [NEB_224] Dashboard: Update Banner to Nebula beta launch
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
Labels: Dashboard

#6912 [NEB-225] Fix Nebula new chat button link
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/hooks/useNewChatPageLink.ts
  apps/dashboard/src/app/nebula-app/(app)/stores.ts
Labels: hotfix, Dashboard

#6913 Nebula: Update Reasoning UI: show only latest presence in pending state
  apps/dashboard/src/app/nebula-app/(app)/components/Reasoning/Reasoning.tsx
Labels: Dashboard

#6898 [NEB-69] Nebula: Add UI for Swap and Approve transactions
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Swap/SwapCards.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Swap/SwapCards.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Swap/common.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
Labels: Dashboard

#6914 [SDK] Fix React Native exports
  .changeset/cold-melons-shave.md
  packages/thirdweb/package.json
Labels: packages, SDK

#6915 Version Packages
  .changeset/cold-melons-shave.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6917 [TOOL-4346] Dashboard: Show Project ID in project settings page
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
Labels: Dashboard

#6919 [Dashboard] Add teamId to fee management API calls
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/settings/page.tsx
  apps/dashboard/src/components/pay/PayConfig.tsx
Labels: Dashboard

#6918 [SDK] Add ZERO_ADDRESS check to isNativeToken function
  .changeset/rude-peaches-juggle.md
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/nativeToken.ts
Labels: packages, SDK

#6923 [SDK] Optimize token balance fetching with Insight API
  packages/thirdweb/src/insight/common.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.ts
Labels: packages, SDK

#6925 [NEB-229] Nebula: follow-up prompt improvements, preserve reasoning UI on error
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
Labels: Dashboard

#6926 [TOOL-4354] Nebula: Configure erc20Value for swap prepared transaction
  apps/dashboard/src/app/nebula-app/(app)/components/Swap/SwapCards.tsx
Labels: Dashboard

#6928 [TOOL-4347] Dashboard: Use Nebula auth token for nebula floating chat
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/actions.ts
  apps/dashboard/src/app/nebula-app/login/NebulaConnectEmbedLogin.tsx
  apps/dashboard/src/app/nebula-app/login/auth-actions.ts
Labels: Dashboard

#6931 Dashboard: Update banner text
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
Labels: Dashboard

#6927 [SDK] force type 1 ronin+saigon
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, SDK

#6932 Dashboard: Fix Nebula floating chat authToken query cache key
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/support/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.tsx
Labels: hotfix, Dashboard

#6920 Version Packages
  .changeset/rude-peaches-juggle.md
  .changeset/tricky-bags-wash.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6935 [TOOL-4374] Dashboard: Update Team name and slug validation
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/TeamInfoForm.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/general/common.ts
Labels: Dashboard

#6936 [Portal] removed nebula waitlist CTA
  apps/portal/src/app/nebula/page.mdx
Labels: merge-queue, Portal

#6937 removed wrong link for connectButton theme
  apps/portal/src/app/connect/sign-in/customization/page.mdx
Labels: merge-queue, Portal

#6900 SDK: do not attempt autoconnect again if already successfull
  .changeset/odd-rooms-sleep.md
  packages/thirdweb/src/wallets/connection/autoConnect.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.test.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
Labels: packages, SDK

#6938 [TOOL-4366] Redirect /team to last visited team
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(app)/team/page.tsx
Labels: Dashboard

#6945 Dashboard: Remove OPCreditsGrantedModal
  apps/dashboard/public/assets/dashboard/confetti.gif
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
  apps/dashboard/src/components/Image/index.tsx
  apps/dashboard/src/components/icons/brand-icons/OpenseaIcon.tsx
  apps/dashboard/src/components/onboarding/OpCreditsGrantedModal.tsx
  apps/dashboard/src/components/onboarding/OpCreditsGrantedModalWrapper.tsx
  apps/dashboard/src/components/onboarding/OpCreditsGrantedModalWrapperServer.tsx
Labels: Dashboard

#6946 [TOOL-4373] Dashboard: replace /team/~/~ with /team/<team-slug>/~ wherever possible
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/components/settings/Account/Billing/CreditsItem.tsx
  apps/dashboard/src/components/settings/Account/Billing/PlanCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/dashboard/src/components/settings/ApiKeys/Alerts.tsx
Labels: Dashboard

#6952 [Portal] Clean up UB docs
  .changeset/icy-points-wish.md
  apps/portal/src/app/connect/pay/overview/page.mdx
  apps/portal/src/app/connect/pay/webhooks/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/references/components/TDoc/Function.tsx
  apps/portal/src/app/references/components/TDoc/PageLayout.tsx
  apps/portal/src/app/references/components/TDoc/Summary.tsx
  apps/portal/src/app/typescript/v5/[...slug]/page.tsx
  apps/portal/src/app/typescript/v5/sidebar.tsx
  packages/thirdweb/src/pay/buyWithCrypto/getHistory.ts
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/pay/buyWithFiat/getHistory.ts
  packages/thirdweb/src/pay/buyWithFiat/getPostOnRampQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
  packages/thirdweb/src/pay/buyWithFiat/isSwapRequiredPostOnramp.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithCryptoHistory.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithCryptoQuote.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithCryptoStatus.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatHistory.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuote.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatStatus.ts
Labels: Portal, packages, SDK

#6953 [SDK] Feature: Add maxSteps to bridge quote functions
  .changeset/forty-states-shake.md
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Sell.ts
Labels: packages, SDK

#6955 [SDK] Feature: Adds sortBy to Bridge.routes
  .changeset/ninety-snails-smash.md
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
Labels: packages, SDK

#6954 Feature: Checkout page
  apps/dashboard/redirects.js
  apps/dashboard/src/app/checkout/components/client/CheckoutEmbed.client.tsx
  apps/dashboard/src/app/checkout/components/client/Providers.client.tsx
  apps/dashboard/src/app/checkout/layout.tsx
  apps/dashboard/src/app/checkout/page.tsx
  apps/dashboard/src/constants/urls.ts
Labels: merge-queue, Dashboard

#6956 Feature: Adds chains function
  .changeset/free-lemons-find.md
  packages/thirdweb/src/bridge/Chains.test.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/Chain.ts
Labels: packages, SDK

#6949 Version Packages
  .changeset/forty-states-shake.md
  .changeset/free-lemons-find.md
  .changeset/icy-points-wish.md
  .changeset/ninety-snails-smash.md
  .changeset/odd-rooms-sleep.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6958 [Checkout] Add theme support and improve client configuration
  apps/dashboard/src/app/checkout/components/client/CheckoutEmbed.client.tsx
  apps/dashboard/src/app/checkout/components/client/ThemeHandler.client.tsx
  apps/dashboard/src/app/checkout/components/types.ts
  apps/dashboard/src/app/checkout/layout.tsx
  apps/dashboard/src/app/checkout/page.tsx
Labels: Dashboard

#6962 Fix: Adds checkout error boundary
  apps/dashboard/src/app/checkout/components/client/CheckoutEmbed.client.tsx
  apps/dashboard/src/app/checkout/components/client/ThemeHandler.client.tsx
  apps/dashboard/src/app/checkout/error.tsx
  apps/dashboard/src/app/checkout/layout.tsx
  apps/dashboard/src/app/checkout/page.tsx
Labels: Dashboard

#6960 chore: Support Engine Core and Webhook usage events
  .changeset/whole-women-divide.md
  packages/service-utils/src/core/usageV2.ts
Labels: packages

#6961 Nebula: Context selection updates
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
Labels: Dashboard

#6963 [SDK] Fix MetaMask deeplink parsing
  .changeset/angry-hats-start.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/DeepLinkConnectUI.tsx
Labels: packages, SDK

#6965 [NEB-237] Fix Nebula OG Image
  apps/dashboard/src/middleware.ts
Labels: Dashboard

#6966 Version Packages
  .changeset/angry-hats-start.md
  .changeset/whole-women-divide.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6959 [Checkout] Enhance redirect handling for different payment types
  apps/dashboard/src/app/checkout/components/client/CheckoutEmbed.client.tsx
Labels: Dashboard

#6967 [PayEmbed] Always connect to destination chain if available
  .changeset/violet-areas-jump.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, SDK

#6969 [SDK] Handle Hedera native currency decimals for smart wallet calls
  .changeset/chubby-aliens-film.md
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
Labels: packages, SDK

#6968 Version Packages
  .changeset/chubby-aliens-film.md
  .changeset/violet-areas-jump.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6964 [NEB-231] Show Image response in Nebula, minor refactor
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/api/types.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/MessageActions.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaImage.tsx
Labels: Dashboard

#6970 Fix typos
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/portal/src/app/connect/wallet/security/page.mdx
  apps/portal/src/app/contracts/build/base-contracts/erc-4337/account/page.mdx
  apps/portal/src/app/contracts/build/base-contracts/erc-4337/managed-account/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/ecosystem-wallet/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/in-app-wallet/page.mdx
  apps/portal/src/app/react/v5/getting-started/page.mdx
  apps/portal/src/app/react/v5/page.mdx
  apps/portal/src/app/react/v5/rainbow-kit-migrate/page.mdx
  apps/portal/src/app/typescript/v5/contract/page.mdx
  apps/portal/src/app/unity/v5/wallets/ecosystem-wallet/page.mdx
  apps/portal/src/app/unity/v5/wallets/in-app-wallet/page.mdx
  packages/thirdweb/src/contract/verification/constructor-params.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
  packages/thirdweb/src/react/native/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/native/ui/prebuilt/Wallet/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Account/balance.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Chain/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/name.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/symbol.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/name.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletConnectUI.tsx
  packages/thirdweb/src/storage/upload/mobile.ts
Labels: Dashboard, Portal, packages, SDK

#6971 [Dashboard]: Adding new assets forPlume chains
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/utils.ts
Labels: Dashboard

#6974 [SDK] Fix hex value handling for smart wallet execution
  .changeset/short-feet-check.md
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/utils.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
Labels: packages, SDK

#6972 Version Packages
  .changeset/big-cases-wish.md
  .changeset/short-feet-check.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/vault-sdk/CHANGELOG.md
  packages/vault-sdk/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6975 Version Packages
  .changeset/silent-areas-melt.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6978 [Dashboard] Add Indonesia to SMS country select options
  apps/dashboard/src/components/embedded-wallets/Configure/sms-country-select/utils.ts
Labels: Dashboard

#6979 updated alert description in team overview dashboard page
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
Labels: merge-queue, Dashboard

#6980 [Dashboard] more robust engine cloud FTUX
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/vault/components/create-vault-account.client.tsx
Labels: Dashboard

#6977 [Portal] Block native to thridweb guide
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/web3-onboard/migration-guide/page.mdx
  apps/portal/src/app/connect/wallet/web3-onboard/overview/page.mdx
Labels: Portal

#6986 Version Packages
  .changeset/crazy-states-sleep.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

#6985 [Auth] Replace mainnet with ANVIL_CHAIN in verifyTypedData tests
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/auth/verify-typed-data.test.ts
  pnpm-lock.yaml
Labels: packages, SDK

#6990 [Dashboard] Replace serverThirdwebClient with getUserThirdwebClient
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractFromParams.ts
Labels: Dashboard

#6991 Dashboard: Contract pages cleanup
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractFromParams.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account-permissions/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/claim-conditions/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/code/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/events/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/explorer/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/published-by-ui.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/published-by.server.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/sources/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/page.tsx
Labels: Dashboard

#6981 Dashboard: Fix team links in header on pages outside /team layout
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectionUI.tsx
Labels: Dashboard

#6982 [NEB-241] Nebula: /chat endpoint schema update related changes
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/api/types.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaImage.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
Labels: Dashboard

#6989 Feature: Checkout link creation page
  apps/dashboard/src/@/api/universal-bridge/constants.ts
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/TokenSelector.stories.tsx
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/app/checkout/components/client/Providers.client.tsx
  apps/dashboard/src/app/checkout/page.tsx
  apps/dashboard/src/hooks/tokens/tokens.ts
Labels: Dashboard

#6995 [NEB-210] Nebula: Add image upload
  apps/dashboard/src/@/components/ui/image-upload-button.tsx
  apps/dashboard/src/app/nebula-app/(app)/api/types.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/MessageActions.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaImage.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
Labels: Dashboard

#6996 Fix: Auth method for checkout page api requests to ub service
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/app/checkout/page.tsx
  apps/dashboard/src/hooks/tokens/tokens.ts
Labels: Dashboard

#6997 Feature: Add client id to checkout form url
  apps/dashboard/src/app/checkout/components/client/CheckoutLinkForm.client.tsx
  apps/dashboard/src/app/checkout/page.tsx
Labels: merge-queue, Dashboard

#6988 Feature: Migrate Universal Bridge Analytics
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/@/constants/public-envs.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
  apps/dashboard/src/components/analytics/area-chart.tsx
  apps/dashboard/src/components/analytics/custom-tooltip.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayAnalyticsFilter.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalPayVolume.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalVolumePieChart.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/common.tsx
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayNewCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayPurchases.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayVolume.ts
  apps/dashboard/src/lib/time.ts
  apps/dashboard/src/types/analytics.ts
  pnpm-lock.yaml
Labels: Dashboard

#6994 Only set secret key or client ID when not using auth token
  packages/thirdweb/src/utils/fetch.ts
Labels: packages, SDK

#6999 [Dashboard] Fix: Use x-client-id + x-team-id for all UB requests
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/components/client/Providers.client.tsx
  apps/dashboard/src/app/pay/components/types.ts
  apps/dashboard/src/app/pay/error.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
Labels: merge-queue, Dashboard

#7000 [Dashboard] Feature: Disable testnets in Payment Link form
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: merge-queue, Dashboard

#7001 Fix testnet filtering in NetworkSelectors
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
Labels: merge-queue

#7006 Version Packages
  .changeset/tough-rules-heal.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7005 Dashboard: Reset last-used-* cookies on login page
  apps/dashboard/src/app/(app)/login/LoginPage.tsx
  apps/dashboard/src/lib/cookie.ts
Labels: Dashboard

#7002 [Dashboard] Fix: Display latest value in PayNewCustomers component
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
Labels: Dashboard

#7007 Fix: Trend badge formatting
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/common.tsx
Labels: merge-queue, Dashboard

#7008 [Dashboard] Fix: Copying payment link on iOS
  apps/dashboard/src/app/pay/components/client/PaymentLinkForm.client.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
  packages/thirdweb/src/extensions/erc20/read/getCurrencyMetadata.ts
Labels: merge-queue, Dashboard, packages, SDK

#7009 [SDK] Fix: Automatically trigger login for connected wallets whe…
  .changeset/every-sides-invent.md
  apps/playground-web/src/components/auth/auth-button.tsx
  packages/thirdweb/src/react/native/ui/connect/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/is-in-app-signer.ts
Labels: merge-queue, Playground, packages, SDK

#7011 Fix: Auto-signin to autoconnect for all cases
  .changeset/little-cities-help.md
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
Labels: packages, SDK

#7012 Fix: Catch siwe doLogin errors
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
Labels: merge-queue, packages, SDK

#7010 Version Packages
  .changeset/every-sides-invent.md
  .changeset/little-cities-help.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7013 postfix slash to engine url
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/_utils/getEngineInstance.ts
Labels: Dashboard

#7014 Version Packages
  .changeset/forty-seals-raise.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7018 Nebula: Fix User Image message type
  apps/dashboard/src/app/nebula-app/(app)/api/types.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaImage.tsx
Labels: Dashboard

#7019 [NEB-245] Limit image format types for upload
  apps/dashboard/src/@/components/ui/image-upload-button.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
Labels: Dashboard

#7023 [NEB-239] Fix chain search not working properly for chain name starting with number
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/ConfigureCustomChain.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/single-network-selector.tsx
Labels: Dashboard

#7024 [NEB-238] Show ENS name in selected account badge
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
Labels: Dashboard

#7025 [NEB-246] Nebula: handle aborted session with no messages
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/hooks/useSessionsWithLocalOverrides.ts
Labels: Dashboard

#7016 [SDK] Expose inMemoryStorage for inAppWallet backend usage
  .changeset/loud-points-count.md
  packages/thirdweb/src/exports/storage.ts
  packages/thirdweb/src/utils/storage/inMemoryStorage.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-backend.test.ts
Labels: packages, SDK

#7033 Add contract availability documentation to ERC methods
  packages/thirdweb/src/extensions/erc1155/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc1155/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc1155/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc1155/write/lazyMint.ts
  packages/thirdweb/src/extensions/erc1155/write/mintAdditionalSupplyTo.ts
  packages/thirdweb/src/extensions/erc1155/write/mintAdditionalSupplyToBatch.ts
  packages/thirdweb/src/extensions/erc1155/write/mintTo.ts
  packages/thirdweb/src/extensions/erc1155/write/mintToBatch.ts
  packages/thirdweb/src/extensions/erc1155/write/sigMint.ts
  packages/thirdweb/src/extensions/erc1155/write/updateTokenURI.ts
  packages/thirdweb/src/extensions/erc20/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc20/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc20/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc20/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc20/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc20/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc20/write/mintTo.ts
  packages/thirdweb/src/extensions/erc20/write/sigMint.ts
  packages/thirdweb/src/extensions/erc721/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc721/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc721/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc721/drops/write/claimTo.ts
  packages/thirdweb/src/extensions/erc721/drops/write/claimToBatch.ts
  packages/thirdweb/src/extensions/erc721/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/extensions/erc721/drops/write/setClaimConditions.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/createDelayedRevealBatch.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/write/reveal.ts
  packages/thirdweb/src/extensions/erc721/write/lazyMint.ts
  packages/thirdweb/src/extensions/erc721/write/mintTo.ts
  packages/thirdweb/src/extensions/erc721/write/sigMint.ts
  packages/thirdweb/src/extensions/erc721/write/updateTokenURI.ts
Labels: packages, SDK

#7034 [SDK] Preload wallet balances on pay embed
  .changeset/sour-flies-post.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/fetchBalancesForWallet.tsx
Labels: packages, SDK

#7036 [Docs] Add Engine v2 to v3 migration guide
  apps/portal/src/app/engine/v3/migrate/page.mdx
  apps/portal/src/app/engine/v3/sidebar.tsx
Labels: Portal

#7035 [Dashboard]Adding zkCandy + Onyx chain updates
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/onyxBanner.png
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/onyxCTA.png
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/zkCandyBanner.jpg
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/utils.ts
Labels: merge-queue, Dashboard

#7037 [TOOL-4483] Move changelog to team landing page from notifications
  apps/dashboard/src/@/components/blocks/dismissible-alert.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeader.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/(app)/components/Header/SecondaryNav/SecondaryNav.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/_components/Changelog.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/(app)/team/components/NotificationButton/NotificationButton.stories.tsx
  apps/dashboard/src/app/(app)/team/components/NotificationButton/NotificationButton.tsx
  apps/dashboard/src/app/(app)/team/components/NotificationButton/fetch-notifications.ts
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/team-header-logged-in.client.tsx
Labels: Dashboard

#7021 [TOOL-4471] GatedSwitch updates, Make In-app wallet branding gated by starter+
  apps/dashboard/src/@/components/ui/tooltip.tsx
  apps/dashboard/src/app/(app)/components/TeamPlanBadge.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: Dashboard

#7017 [Portal] .NET `ThirdwebBridge` Onramping & `InAppWallet` 7702 Account Abstraction
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/universal-bridge/quickstart/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/signauthorization/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/account-abstraction/page.mdx
  apps/portal/src/app/unity/v5/wallets/account-abstraction/page.mdx
Labels: Portal

#7039 [Dashboard] Feature: Default analytics range to 30 days and save preference
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
  apps/dashboard/src/components/analytics/date-range-selector.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayAnalyticsFilter.tsx
  apps/dashboard/src/lib/time.ts
Labels: Dashboard

#7038 [SDK] Default to in-memory storage for inAppWallet outside browser
  .changeset/thin-rockets-walk.md
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-backend.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-integration.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: packages, SDK

#7032 Version Packages
  .changeset/loud-points-count.md
  .changeset/sour-flies-post.md
  .changeset/thin-rockets-walk.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7040 [SDK] Propagate 401 errors when connecting in-app wallet
  .changeset/six-dryers-sing.md
  packages/thirdweb/src/wallets/in-app/core/actions/get-enclave-user-status.ts
Labels: packages, SDK

#7043 [Engine] Add EOA read/create permissions for server wallets
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/lib/vault.client.ts
Labels: Dashboard

#7044 add new apis tab to nav
  apps/portal/src/app/Header.tsx
Labels: Portal

#7047 [TOOL-4493] Dashboard: Add starter legacy discontinuation banner
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
Labels: Dashboard

#7048 Update page.mdx
  apps/portal/src/app/connect/pay/customization/connectbutton/page.mdx
Labels: Portal

#7046 [NEB-213] Nebula: Show wallet Assets and Activity in sidebar
  apps/dashboard/src/app/nebula-app/(app)/components/AssetsSection/AssetsSection.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/AssetsSection/AssetsSection.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageLayout.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaConnectButton.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/TransactionsSection/TransactionsSection.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/TransactionsSection/TransactionsSection.tsx
  apps/dashboard/src/app/nebula-app/(app)/hooks/useSessionsWithLocalOverrides.ts
Labels: Dashboard

#7050 [Engine] Update OpenAPI spec and configuration
  .changeset/shiny-olives-pay.md
  packages/engine/README.md
  packages/engine/openapi-ts.config.ts
  packages/engine/src/client/client.gen.ts
  packages/engine/src/client/types.gen.ts
Labels: packages

#7045 Adding NeoX custom chain info.
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/NeoXBanner.jpg
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/NeoXCTA.jpg
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/utils.ts
Labels: merge-queue, Dashboard

#7049 [Docs] engine and ub changes
  apps/portal/src/app/connect/pay/faqs/page.mdx
  apps/portal/src/app/connect/pay/onramp-providers/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/engine/v3/assets/create-vault.png
  apps/portal/src/app/engine/v3/assets/send-transaction.png
  apps/portal/src/app/engine/v3/faq/page.mdx
  apps/portal/src/app/engine/v3/get-started/page.mdx
  apps/portal/src/app/engine/v3/migrate/page.mdx
Labels: Portal

#7051 [Dashboard] Feature: Add Universal Bridge to analytics dashboard
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/components/ui/chart.tsx
  apps/dashboard/src/@/lib/time.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/BarChart.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/CombinedBarChartCard.tsx
  apps/dashboard/src/app/(app)/team/components/Analytics/EmptyStateCard.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayAnalyticsFilter.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
Labels: Dashboard

#7059 [Dashboard] Fix: Trend markers and UB volume type dropdown
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalPayVolume.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/common.tsx
Labels: Dashboard

#7055 Nebula: Recent Activity improvements in sidebar
  apps/dashboard/src/app/nebula-app/(app)/components/TransactionsSection/TransactionsSection.tsx
Labels: Dashboard

#7056 [NEB-248] Show native token balances in assets, show popular tokens on top
  apps/dashboard/src/app/nebula-app/(app)/components/AssetsSection/AssetsSection.tsx
Labels: Dashboard

#7058 [Vault] default to engine-cloud vault proxy
  .changeset/all-bears-visit.md
  packages/vault-sdk/src/sdk.ts
Labels: packages

#7057 [Docs] Engine
  apps/portal/src/app/engine/v3/faq/page.mdx
Labels: Portal

#7067 [Dashboard] Use testnet chains from useAllChainsData instead of hardcoded list
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
Labels: Dashboard

#7065 [Engine] Add FAILED status to execution result and update error handling
  .changeset/grumpy-areas-help.md
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/tx/[id]/transaction-details-ui.tsx
  apps/playground-web/package.json
  apps/playground-web/src/app/engine/_hooks/useEngineTxStatus.ts
  apps/playground-web/src/app/engine/actions.ts
  apps/playground-web/src/app/engine/airdrop/_components/airdrop-code.tsx
  apps/playground-web/src/app/engine/airdrop/_components/airdrop-preview.tsx
  apps/playground-web/src/app/engine/airdrop/constants.ts
  apps/playground-web/src/app/engine/minting/_components/mint-code.tsx
  apps/playground-web/src/app/engine/minting/_components/mint-preview.tsx
  apps/playground-web/src/app/engine/minting/constants.ts
  apps/playground-web/src/app/engine/minting/page.tsx
  apps/playground-web/src/app/engine/webhooks/_components/webhooks-preview.tsx
  packages/thirdweb/src/engine/get-status.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, packages, SDK

#7066 [Engine] Add all testnets to test transaction options
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/analytics/send-test-tx.client.tsx
Labels: Dashboard

#7069 [SDK] Fix buyWithCrypto false not respected when returning from quote
  .changeset/rich-peaches-cheer.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, SDK

#7042 Version Packages
  .changeset/all-bears-visit.md
  .changeset/grumpy-areas-help.md
  .changeset/rich-peaches-cheer.md
  .changeset/shiny-olives-pay.md
  .changeset/six-dryers-sing.md
  .changeset/stale-pets-say.md
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/vault-sdk/CHANGELOG.md
  packages/vault-sdk/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: Playground, packages, SDK

#7020 Prioritize JWT over service API keys in authentication
  .changeset/shaky-eels-shine.md
  packages/service-utils/.gitignore
  packages/service-utils/package.json
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/get-auth-headers.test.ts
  packages/service-utils/src/core/get-auth-headers.ts
  pnpm-lock.yaml
Labels: packages

#7053 chore: Update Accelerate features list
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/utils/pricing.tsx
Labels: Dashboard

#7073 Version Packages
  .changeset/shaky-eels-shine.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

#7074 [Dashboard] Remove taint for THIRDWEB_ENGINE_URL
  apps/dashboard/src/@/constants/server-envs.ts
Labels: Dashboard

#7078 Version Packages
  .changeset/great-jeans-relax.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7075 [Docs] UB Migration & Other Small Things
  apps/portal/redirects.mjs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/insight/sidebar.tsx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/pay/assets/avax-to-usd.png
  apps/portal/src/app/pay/assets/buy-with-crypto.png
  apps/portal/src/app/pay/assets/bwc.png
  apps/portal/src/app/pay/assets/bwf.png
  apps/portal/src/app/pay/assets/direct-payments-flow.png
  apps/portal/src/app/pay/assets/get-started-embed.png
  apps/portal/src/app/pay/assets/get-started-send.png
  apps/portal/src/app/pay/assets/pay-api-key.png
  apps/portal/src/app/pay/assets/pay-modal.png
  apps/portal/src/app/pay/assets/pay-overview.png
  apps/portal/src/app/pay/assets/pay-settings.png
  apps/portal/src/app/pay/customization/connectbutton/page.mdx
  apps/portal/src/app/pay/customization/payembed/page.mdx
  apps/portal/src/app/pay/customization/send-transaction/page.mdx
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/pay/fees/assets/fee-dash.png
  apps/portal/src/app/pay/fees/page.mdx
  apps/portal/src/app/pay/get-started/page.mdx
  apps/portal/src/app/pay/guides/accept-direct-payments/page.mdx
  apps/portal/src/app/pay/guides/build-a-custom-experience/page.mdx
  apps/portal/src/app/pay/guides/cross-chain-swapping/page.mdx
  apps/portal/src/app/pay/layout.tsx
  apps/portal/src/app/pay/onramp-providers/page.mdx
  apps/portal/src/app/pay/page.mdx
  apps/portal/src/app/pay/sidebar.tsx
  apps/portal/src/app/pay/supported-chains/page.mdx
  apps/portal/src/app/pay/testing-pay/page.mdx
  apps/portal/src/app/pay/webhooks/page.mdx
  apps/portal/src/components/Document/PageFooter.tsx
Labels: Portal

#7080 [Docs] Update Engine Pricing
  apps/portal/src/app/engine/v3/faq/page.mdx
Labels: Portal

#7094 fixing code snippets
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/cloud/server-wallets/components/try-it-out.tsx
Labels: Dashboard

#7096 Update page.mdx for thirdweb-mcp
  apps/portal/src/app/nebula/mcp-server/integrations/mcp-clients/page.mdx
Labels: Portal

#7091 [Docs] Fixed broken links
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/engine/dedicated/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/portal/src/app/engine/v2/get-started/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/pay/sidebar.tsx
Labels: Dashboard, Portal

#7095 [Dashboard] Adding EDU Chain custom info + assets
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/EDUBanner.jpeg
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/temp-assets/EDUCTA.png
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/utils.ts
Labels: Dashboard

#7097 Fix: Bridge jsdoc to not mention ox
  apps/dashboard/src/app/(app)/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.ts
Labels: Dashboard, packages, SDK

#7098 update dependencies
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/knip.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/engine/package.json
  packages/insight/package.json
  packages/service-utils/package.json
  packages/thirdweb/knip.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#7099 replace chain with chain_id in insight playground
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/playground-web/src/app/insight/page.tsx
  apps/playground-web/src/app/insight/utils.ts
Labels: merge-queue, Playground

#7100 show deprecation in playground UI
  apps/playground-web/src/app/insight/[blueprint_slug]/page.tsx
  apps/playground-web/src/app/insight/insightBlueprints.ts
  apps/playground-web/src/app/insight/page.tsx
  apps/playground-web/src/app/insight/utils.ts
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/ui/sidebar.tsx
Labels: Playground

#7092 [SDK] Always show pay modal even on non-supported UB chains
  .changeset/sharp-symbols-unite.md
  apps/playground-web/src/components/pay/transaction-button.tsx
  apps/portal/src/app/pay/guides/build-a-custom-experience/page.mdx
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/core/utils/wallet.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/en.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useBuyTxStates.ts
  packages/thirdweb/src/react/web/ui/TransactionButton/DepositScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/ExecutingScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: Playground, Portal, packages, SDK

#7089 [SDK] Fix stray keccak256 reference
  packages/thirdweb/src/extensions/ens/resolve-l2-name.ts
Labels: packages, SDK, codex

#7101 show block gas limit on the chain page
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/live-stats.tsx
Labels: Dashboard

#7102 Rename "Secret Key" to "Webhook Secret" for consistency
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
Labels: Dashboard

#7079 Version Packages
  .changeset/open-readers-do.md
  .changeset/sharp-symbols-unite.md
  .changeset/stale-yaks-bathe.md
  .changeset/tidy-seas-sing.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7104 [SDK] Fix SIWE auth forcing unnecessary chain switch
  .changeset/ten-parrots-poke.md
  packages/thirdweb/src/react/core/hooks/auth/useSiweAuth.ts
Labels: packages, SDK

#6993 Gi/portal knowledge base
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/knowledge-base/assets/add-new-vercel.png
  apps/portal/src/app/knowledge-base/assets/context-filters.png
  apps/portal/src/app/knowledge-base/assets/create-project-vercel.png
  apps/portal/src/app/knowledge-base/assets/deploy-github.png
  apps/portal/src/app/knowledge-base/assets/deploy-vercel.png
  apps/portal/src/app/knowledge-base/assets/inspect-console.png
  apps/portal/src/app/knowledge-base/assets/keys.png
  apps/portal/src/app/knowledge-base/assets/new-project-github.png
  apps/portal/src/app/knowledge-base/assets/new-project-name-github.png
  apps/portal/src/app/knowledge-base/assets/new-project.png
  apps/portal/src/app/knowledge-base/assets/permissions-soulbound.png
  apps/portal/src/app/knowledge-base/assets/screenshot-console.png
  apps/portal/src/app/knowledge-base/assets/set-approval-forall.png
  apps/portal/src/app/knowledge-base/assets/soulbound-explorer.png
  apps/portal/src/app/knowledge-base/assets/streamed-response.png
  apps/portal/src/app/knowledge-base/assets/tab-console.png
  apps/portal/src/app/knowledge-base/assets/variables-vercel.png
  apps/portal/src/app/knowledge-base/get-started/page.mdx
  apps/portal/src/app/knowledge-base/how-to/console-error-sharing/page.mdx
  apps/portal/src/app/knowledge-base/how-to/creating-soulbound-nfts/page.mdx
  apps/portal/src/app/knowledge-base/how-to/deploy-mint-template/page.mdx
  apps/portal/src/app/knowledge-base/layout.tsx
  apps/portal/src/app/knowledge-base/onchain-common-errors/thirdweb-cli/device-link-error/page.mdx
  apps/portal/src/app/knowledge-base/page.mdx
  apps/portal/src/app/knowledge-base/sidebar.tsx
  apps/portal/src/app/knowledge-base/troubleshoot/contracts/airdrop-contract/page.mdx
  apps/portal/src/app/knowledge-base/troubleshoot/contracts/batch-upload/page.mdx
  apps/portal/src/app/knowledge-base/troubleshoot/contracts/embed-feature-not-found/page.mdx
  apps/portal/src/app/knowledge-base/troubleshoot/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/icons/products/ContractsIcon.tsx
Labels: merge-queue, Dashboard, Portal

#7111 Update deploy config
  apps/dashboard/src/constants/addresses.ts
Labels: merge-queue, Dashboard

#7105 Version Packages
  .changeset/ten-parrots-poke.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7054 [Docs] Add Vault SDK documentation and guides
  apps/portal/src/app/vault/sdk/api-reference/page.mdx
  apps/portal/src/app/vault/sdk/guides/access-tokens/page.mdx
  apps/portal/src/app/vault/sdk/guides/creating-eoas/page.mdx
  apps/portal/src/app/vault/sdk/guides/signing/page.mdx
  apps/portal/src/app/vault/sdk/installation/page.mdx
  apps/portal/src/app/vault/sdk/page.mdx
  apps/portal/src/app/vault/sidebar.tsx
Labels: Portal, packages

#7113 [Dashboard] Add ecosystem logo upload functionality
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
Labels: Dashboard

#7115 [Dashboard] Add ecosystem name editing functionality
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
Labels: Dashboard

#7114 [service-utils] Improve 403 error messages with team and project details
  .changeset/blue-mice-prove.md
  packages/service-utils/src/core/authorize/service.test.ts
  packages/service-utils/src/core/authorize/service.ts
Labels: packages

#7110 [SDK] Fix: Apply accentButtonText theme key to the Spinner inside of PayEmbed Buttons
  .changeset/slick-apes-do.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
Labels: packages, SDK

#7109 [Docs] Chore: Remove Kado references
  apps/portal/src/app/pay/testing-pay/page.mdx
Labels: Portal

#7117 Remove unused account usage API and interface
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/getAccountUsage.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/page.tsx
Labels: Dashboard

#7118 Remove advancedEnabled field from Account interface
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/stories/stubs.ts
Labels: Dashboard

#7119 [SDK] Improve error handling in PayEmbed
  .changeset/blue-comics-doubt.md
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Chains.ts
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/bridge/OnrampStatus.ts
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/Transfer.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/BridgeAction.ts
  packages/thirdweb/src/bridge/types/Errors.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayWIthCreditCard.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, SDK

#7122 chore: update endpoint to rotate secret key
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/components/ProjectFTUX/SecretKeySection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/nebula/nebula-ftux.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/nebula/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
Labels: Dashboard
