Repository thirdweb-dev/js, pull requests merged in 2025-01, with the labels that each got.

#5862 [Dashboard] Enhance NFT Reveal feature
  apps/dashboard/next-env.d.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/reveal-button.tsx
Labels: Dashboard

#5867 [TOOL-2891] Fix Team dashboard not loading if team slug contains special characters
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
Labels: Dashboard

#5865 [SDK] Fix: Use transaction-specified chain in smart account
  .changeset/fair-planes-doubt.md
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
Labels: merge-queue, packages, SDK

#5850 remove www. prefix from plumenetwork.xyz
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: Dashboard

#5876 Expose social icons
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.tsx
Labels: packages, SDK

#5875 [TOOL-2875] move cross-spawn to dependencies
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: merge-queue, packages, SDK

#5874 return address type for contractoptions
  packages/thirdweb/src/contract/contract.ts
  packages/thirdweb/src/utils/address.ts
Labels: merge-queue, Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#5872 [SDK] fix: clear inflightRequests after each batch RPC call
  packages/thirdweb/src/rpc/rpc.ts
Labels: packages, SDK

#5868 TOOL-2831 - Update docs for showTestnetFaucet
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
Labels: packages, SDK

#5860 [Dashboard] Trim whitespace at the end of the input value for claim form
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/claim-button.tsx
Labels: Dashboard

#5881 Add docs agents and llms docs for insight
  apps/portal/src/app/insight/agents-and-llms/page.mdx
Labels: merge-queue, Portal

#5848 Edit [DOCS]: Updated import. @thirdweb-dev/contracts and add _defaultAdmin
  apps/portal/src/app/contracts/build/base-contracts/erc-4337/account-factory/page.mdx
Labels: Portal

#5871 [SDK] Fix: Undefined chain ID on eip1193 provider input
  .changeset/yellow-experts-sparkle.md
  packages/thirdweb/src/adapters/eip1193/from-eip1193.test.ts
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, SDK

#5886 [Dashboard] Fix: If only one time period has analytics events
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
Labels: merge-queue, Dashboard

#5879 [SDK] onTimeout for useAutoConnect | TOOL-2673
  .changeset/little-beds-dress.md
  packages/thirdweb/src/react/core/hooks/connection/types.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnect.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnectCore.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
  packages/thirdweb/test/vitest.config.ts
Labels: packages, SDK

#5861 CORE-458 | Improve the function comment of the Explorer
  apps/dashboard/src/components/contract-functions/contract-function-comment.tsx
  apps/dashboard/src/contract-ui/hooks/useContractFunctionComment.ts
  packages/thirdweb/src/contract/actions/compiler-metadata.ts
Labels: merge-queue, Dashboard, packages, SDK

#5885 Add side nav link to ai docs in insight
  apps/portal/src/app/insight/sidebar.tsx
Labels: merge-queue, Portal

#5829 [SDK] Feature: Adds `getAdminAccount` to ecosystem wallets and cleans up smart account creation
  .changeset/afraid-mails-sip.md
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.test.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/index.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
  packages/thirdweb/src/wallets/smart/smart.test.ts
Labels: packages, SDK

#5866 [Dashboard] Dynamically fetch supported chains from Simplehash
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/api/nft/is-simplehash-supported/route.ts
  apps/dashboard/src/lib/wallet/nfts/simpleHash.ts
  apps/dashboard/src/lib/wallet/nfts/types.ts
  apps/dashboard/src/pages/api/wallet/nfts/[chainId].ts
Labels: Dashboard

#5893 [TOOL-2764] Dashboard: Fix published contract version selector with duplicate versions
  apps/dashboard/src/components/contract-components/fetch-contracts-with-versions.ts
Labels: Dashboard

#5838 Version Packages
  .changeset/afraid-mails-sip.md
  .changeset/cyan-shrimps-battle.md
  .changeset/fair-planes-doubt.md
  .changeset/little-beds-dress.md
  .changeset/metal-mails-ring.md
  .changeset/pink-gorillas-try.md
  .changeset/yellow-experts-sparkle.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#5894 [TOOL-2925] Dashboard: Redirect to Nebula app if team has access instead of showing waitlist page
  apps/dashboard/src/app/team/[team_slug]/(team)/~/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
Labels: Dashboard

#5895 [TOOL-2927] Dashboard: Update team member settings page alert
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.tsx
Labels: Dashboard

#5892 [TOOL-2924] Catch error on fail-to-load metadata
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/reveal-button.tsx
  packages/thirdweb/src/extensions/erc721/lazyMinting/read/getBatchesToReveal.ts
Labels: Dashboard, packages, SDK

#5890 Remove tw-components Checkbox CORE-419
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/create-account-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/access-tokens/components/add-access-token-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/add-contract-subscription-button.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-lazy-mint.tsx
  apps/dashboard/src/tw-components/checkbox.tsx
  apps/dashboard/src/tw-components/index.ts
Labels: Dashboard

#5845 [SDK] Feature: Adds `deploySmartAccount` and re-adds 1271 signatures
  .changeset/polite-trains-kick.md
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/utils/abi/decodeError.ts
  packages/thirdweb/src/utils/abi/decodeFunctionData.ts
  packages/thirdweb/src/utils/abi/decodeFunctionResult.ts
  packages/thirdweb/src/utils/hashing/hashMessage.ts
  packages/thirdweb/src/wallets/create-wallet.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
  packages/thirdweb/src/wallets/smart/presets/7579.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  pnpm-lock.yaml
Labels: merge-queue, packages, SDK

#5888 [TOOL-2917]: fix useReadContract type hinting
  packages/thirdweb/src/contract/types.ts
  packages/thirdweb/src/extensions/types.ts
  packages/thirdweb/src/react/core/hooks/contract/useReadContract.ts
  packages/thirdweb/src/react/core/hooks/types.ts
Labels: packages, SDK

#5903 [Dashboard] Fix: Memory optimizations to reduce build failures
  apps/dashboard/next.config.ts
  apps/dashboard/src/components/contract-components/contract-publish-form/abi-selector.tsx
  apps/dashboard/src/components/contract-components/published-contract/markdown-renderer.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsForm.tsx
Labels: merge-queue, hotfix, Dashboard, packages, SDK

#5801 [SDK] Feature: Basic EIP7702 Support
  .changeset/clever-beds-knock.md
  packages/thirdweb/biome.json
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/src/exports/transaction.ts
  packages/thirdweb/src/gas/estimate-l1-fee.ts
  packages/thirdweb/src/transaction/actions/eip7702/authorization.test.ts
  packages/thirdweb/src/transaction/actions/eip7702/authorization.ts
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
  packages/thirdweb/src/transaction/actions/send-transaction.ts
  packages/thirdweb/src/transaction/actions/to-serializable-transaction.test.ts
  packages/thirdweb/src/transaction/actions/to-serializable-transaction.ts
  packages/thirdweb/src/transaction/prepare-transaction.test.ts
  packages/thirdweb/src/transaction/prepare-transaction.ts
  packages/thirdweb/src/transaction/serialize-transaction.test.ts
  packages/thirdweb/src/transaction/serialize-transaction.ts
  packages/thirdweb/src/utils/signatures/sign-message.test.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
  packages/thirdweb/src/wallets/private-key.test.ts
  packages/thirdweb/src/wallets/private-key.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  packages/thirdweb/test/globalSetup.ts
  packages/thirdweb/test/src/abis/wagmiToken.ts
  packages/thirdweb/test/src/chains.ts
  pnpm-lock.yaml
Labels: merge-queue, packages, SDK

#5901 Version Packages
  .changeset/clever-beds-knock.md
  .changeset/polite-trains-kick.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#5906 [Dashboard] Fix: next config memory cache
  apps/dashboard/next.config.ts
Labels: Dashboard

#5905 [TOOL-2976] Bump @radix-ui/react-dialog 1.1.4 - Fix pointer event issues after modal close
  apps/dashboard/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: hotfix, Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#5908 redirect unlimited-wallets campaign to home
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: Dashboard

#5904 Fix batch fetch util for marketplace-v3
  .changeset/pink-deers-fetch.md
  packages/thirdweb/src/extensions/marketplace/getAllInBatches.test.ts
  packages/thirdweb/src/extensions/marketplace/utils.ts
Labels: merge-queue, packages, SDK

#5878 [SDK]: add backend wallets for in app wallet
  .changeset/popular-ravens-reflect.md
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.test.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.ts
  packages/thirdweb/src/wallets/in-app/core/authentication/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
  packages/thirdweb/src/wallets/in-app/native/auth/index.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.test.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/types.ts
Labels: merge-queue, packages, SDK

#5909 Version Packages
  .changeset/pink-deers-fetch.md
  .changeset/popular-ravens-reflect.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#5913 [TOOL-2990] Dashboard: Fix invalid form validation when updating custom chain
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/components/configure-networks/ConfigureNetworkForm.tsx
  apps/dashboard/src/components/configure-networks/Form/NetworkIdInput.tsx
Labels: Dashboard

#5918 [SDK] Fix: PayEmbed purchase callback and insufficient funds display
  .changeset/fluffy-rings-kick.md
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: packages, SDK

#5917 Version Packages
  .changeset/fluffy-rings-kick.md
  .changeset/odd-hats-give.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#5914 [TOOL-2999] SDK: automatically sign message for SIWE in connect UI for Ecosystem wallets
  .changeset/six-snails-reflect.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.test.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.tsx
Labels: packages, SDK

#5920 [TOOL-2995]: Fix Engine Contract Subscription UI issue with checkboxes
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/add-contract-subscription-button.tsx
  apps/dashboard/src/core-ui/batch-upload/batch-lazy-mint.tsx
Labels: Dashboard

#5922 [TOOL-2822]: Insight Playground: Move chain from subdomain to query param
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: Dashboard

#5916 [TOOL-2896] Portal: Add Nebula API docs
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/portal/mdx-components.tsx
  apps/portal/package.json
  apps/portal/src/app/nebula/api-reference/chat/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/chat/page.mdx
  apps/portal/src/app/nebula/api-reference/clear-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/clear-session/page.mdx
  apps/portal/src/app/nebula/api-reference/common.ts
  apps/portal/src/app/nebula/api-reference/create-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/create-session/page.mdx
  apps/portal/src/app/nebula/api-reference/delete-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/delete-session/page.mdx
  apps/portal/src/app/nebula/api-reference/execute/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/execute/page.mdx
  apps/portal/src/app/nebula/api-reference/get-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/get-session/page.mdx
  apps/portal/src/app/nebula/api-reference/list-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/list-session/page.mdx
  apps/portal/src/app/nebula/api-reference/update-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/update-session/page.mdx
  apps/portal/src/app/nebula/layout.tsx
  apps/portal/src/app/nebula/plugins/eliza/page.mdx
  apps/portal/src/app/nebula/plugins/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
  apps/portal/src/app/nebula/use-cases/page.mdx
  apps/portal/src/app/references/components/TDoc/Function.tsx
  apps/portal/src/app/references/components/TDoc/Summary.tsx
  apps/portal/src/components/Document/APIEndpointMeta/ApiEndpoint.tsx
  apps/portal/src/components/Document/APIEndpointMeta/RequestExample.tsx
  apps/portal/src/components/Document/Code.tsx
  apps/portal/src/components/Document/InlineCode.tsx
  apps/portal/src/components/Document/List.module.css
  apps/portal/src/components/Document/index.ts
  apps/portal/src/components/Layouts/DocLayout.tsx
  apps/portal/src/components/ui/badge.tsx
  apps/portal/src/components/ui/select.tsx
  apps/portal/tailwind.config.ts
  pnpm-lock.yaml
Labels: Dashboard, Portal

#5923 [SDK/Dashboard] Fix: Deploy specified version of published contracts
  .changeset/breezy-items-relate.md
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  packages/thirdweb/src/extensions/prebuilts/deploy-marketplace.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-pack.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
Labels: merge-queue, Dashboard, packages, SDK

#5925 [TOOL-3021] Insight Playground: Enforce chain query param to be required + support anyOf schema
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: Dashboard

#5929 [TOOL-3036] Nebula: Various UI improvements
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/components/contract-components/published-contract/markdown-renderer.tsx
  apps/dashboard/src/components/explore/contract-card/index.tsx
Labels: Dashboard

#5932 [TOOL-3038] Replace h-screen with h-dvh - fix iOS safari height issues
  apps/dashboard/src/@/components/blocks/SettingsCard.stories.tsx
  apps/dashboard/src/@/components/ui/button.stories.tsx
  apps/dashboard/src/@/components/ui/select.stories.tsx
  apps/dashboard/src/app/(dashboard)/layout.tsx
  apps/dashboard/src/app/account/components/AccountHeaderUI.stories.tsx
  apps/dashboard/src/app/account/layout.tsx
  apps/dashboard/src/app/drops/[slug]/layout.tsx
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageLayout.tsx
  apps/dashboard/src/app/nebula-app/(app)/layout.tsx
  apps/dashboard/src/app/nebula-app/[...not-found]/page.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
  apps/dashboard/src/app/project-showcase/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/Sidebar.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderLoggedOut.stories.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/components/dashboard/StepsCard.stories.tsx
  apps/dashboard/src/components/not-found-page.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.stories.tsx
  apps/playground-web/src/app/AppSidebar.tsx
Labels: Dashboard, Playground

#5931 [NEB-54] Nebula: Improved Transaction action UI
  apps/dashboard/src/@/styles/globals.css
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
Labels: Dashboard

#5930 Update page.mdx
  apps/portal/src/app/nebula/prompt-guide/page.mdx
Labels: Portal

#5940 added web3 onboard page
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/web3-onboard/page.mdx
Labels: merge-queue, Portal

#5912 [Portal] update docs on pre-generation and account abstraction
  apps/portal/src/app/connect/wallet/pregenerate-wallets/page.mdx
  apps/portal/src/components/Document/AuthList.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
Labels: merge-queue, Portal, packages, SDK

#5937 [TOOL-3009] Dashboard: Support all valid domains as ENS name and not just .eth
  .changeset/happy-carrots-appear.md
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/published-by-ui.tsx
  apps/dashboard/src/app/(dashboard)/profile/[addressOrEns]/resolveAddressAndEns.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/[version]/page.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/page.tsx
  apps/dashboard/src/components/contract-components/hooks.ts
  apps/dashboard/src/components/contract-components/published-contract/index.tsx
  apps/dashboard/src/components/contract-components/publisher/publisher-header.tsx
  apps/dashboard/src/constants/schemas.ts
  apps/dashboard/src/contract-ui/components/solidity-inputs/address-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/helpers.ts
  apps/dashboard/src/lib/address-utils.ts
  apps/dashboard/src/lib/ens.ts
  apps/dashboard/src/middleware.ts
  apps/playground-web/src/components/social/social-profiles.tsx
  packages/thirdweb/src/exports/utils.ts
  packages/thirdweb/src/react/core/hooks/wallets/useSendToken.ts
  packages/thirdweb/src/utils/ens/isValidENSName.test.ts
  packages/thirdweb/src/utils/ens/isValidENSName.ts
Labels: Dashboard, Playground, packages, SDK

#5941 [TOOL-3047] Dashboard: Fix TransactionButton opening "No funds" Modal when quickly clicking it after switching chain
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
Labels: Dashboard

#5938 [TOOL-3032] Next.js build memory optimizations
  apps/dashboard/next.config.ts
  apps/playground-web/next.config.mjs
  apps/portal/next.config.mjs
  apps/wallet-ui/next.config.mjs
Labels: Dashboard, Playground, Portal, Ecosystem Portal

#5934 [TOOL-2972] Portal: Add missing redirects for contract references
  apps/portal/redirects.mjs
Labels: Portal

#5939 [TOOL-3046]: Do not show invalid string error if NFT description is undefined
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/table.tsx
Labels: Dashboard

#5933 [TOOL-3039] Fix page zoom on iOS safari for shadcn inputs and textarea
  apps/dashboard/src/@/components/ui/input.tsx
  apps/dashboard/src/@/components/ui/textarea.tsx
  apps/playground-web/src/components/ui/input.tsx
  apps/portal/src/components/ui/input.tsx
  apps/wallet-ui/src/components/ui/input.tsx
Labels: Dashboard, Playground, Portal, Ecosystem Portal

#5949 Auth cache key fix
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/core/authorize/utils.ts
Labels: packages

#5790 [SDK] Refactor: More Viem to Ox migration
  .changeset/hip-llamas-wash.md
  .github/workflows/auto-assign.yml
  packages/thirdweb/src/auth/is-erc6492-signature.ts
  packages/thirdweb/src/auth/parse-erc6492-signature.ts
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/auth/verify-signature.test.ts
  packages/thirdweb/src/auth/verify-signature.ts
  packages/thirdweb/src/auth/verify-typed-data.ts
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
  packages/thirdweb/src/contract/verification/constructor-params.ts
  packages/thirdweb/src/event/types.ts
  packages/thirdweb/src/exports/utils.ts
  packages/thirdweb/src/extensions/ens/resolve-l2-name.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc1155/write/mintTo.ts
  packages/thirdweb/src/extensions/erc1155/write/mintToBatch.ts
  packages/thirdweb/src/extensions/erc1155/write/sigMint.ts
  packages/thirdweb/src/extensions/modules/ClaimableERC1155/setClaimConditions.ts
  packages/thirdweb/src/extensions/modules/MintableERC1155/mintWithRole.ts
  packages/thirdweb/src/extensions/modules/MintableERC1155/mintWithSignature.ts
  packages/thirdweb/src/utils/abi/encodeAbiParameters.ts
  packages/thirdweb/src/utils/extensions/drops/convert-quantity.ts
  packages/thirdweb/src/utils/extensions/drops/get-multicall-set-claim-claim-conditon-transactions.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  pnpm-lock.yaml
Labels: Dashboard, packages, SDK

#5889 [SDK]: move autoConnect function into it's own standalone function
  .changeset/green-rockets-lie.md
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnect.ts
  packages/thirdweb/src/react/core/hooks/wallets/useAutoConnectCore.test.tsx
  packages/thirdweb/src/react/native/hooks/wallets/useAutoConnect.ts
  packages/thirdweb/src/react/native/ui/AutoConnect/AutoConnect.tsx
  packages/thirdweb/src/react/web/hooks/wallets/useAutoConnect.ts
  packages/thirdweb/src/react/web/ui/AutoConnect/AutoConnect.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletSwitcherConnectionScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
  packages/thirdweb/src/react/web/wallets/in-app/WalletAuth.tsx
  packages/thirdweb/src/utils/timeoutPromise.test.ts
  packages/thirdweb/src/utils/timeoutPromise.ts
  packages/thirdweb/src/wallets/connection/autoConnect.test.ts
  packages/thirdweb/src/wallets/connection/autoConnect.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.test.ts
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/connection/types.ts
  packages/thirdweb/src/wallets/defaultWallets.ts
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
Labels: merge-queue, packages, Stale, SDK

#5836 Add onramp providers page to Pay overview
  apps/portal/src/app/connect/pay/customization/connectbutton/page.mdx
  apps/portal/src/app/connect/pay/customization/payembed/page.mdx
  apps/portal/src/app/connect/pay/customization/send-transaction/page.mdx
  apps/portal/src/app/connect/pay/onramp-providers/page.mdx
  apps/portal/src/app/connect/pay/supported-chains copy/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
Labels: merge-queue, Portal

#5954 [TOOL-2473] Dashboard: Update RPC method analytics chart to show % values
  apps/dashboard/src/@/components/ui/chart.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/RpcMethodBarChartCard/RpcMethodBarChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/RpcMethodBarChartCard/RpcMethodBarChartCardUI.tsx
Labels: Dashboard

#5951 Updated FAQs for Nebula
  apps/portal/src/app/nebula/faqs/page.mdx
Labels: Portal

#5947 [SDK] Feat: Add engineAccount() for backend transaction handling
  .changeset/serious-geese-chew.md
  packages/thirdweb/.env.example
  packages/thirdweb/src/exports/wallets/engine.ts
  packages/thirdweb/src/wallets/engine/engine-account.test.ts
  packages/thirdweb/src/wallets/engine/index.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
Labels: packages, SDK

#5948 feat: Add Nebula AI chat and transaction execution API
  .changeset/warm-dodos-destroy.md
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  packages/thirdweb/package.json
  packages/thirdweb/scripts/typedoc.mjs
  packages/thirdweb/src/ai/chat.test.ts
  packages/thirdweb/src/ai/chat.ts
  packages/thirdweb/src/ai/common.ts
  packages/thirdweb/src/ai/execute.test.ts
  packages/thirdweb/src/ai/execute.ts
  packages/thirdweb/src/ai/index.ts
  packages/thirdweb/src/exports/ai.ts
  packages/thirdweb/tsdoc.json
Labels: Portal, packages, SDK

#5950 track ratelimit only on creation
  .changeset/green-tips-beam.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
Labels: packages

#5961 [SDK] test: Skip Nebula AI tests by default
  packages/thirdweb/src/ai/chat.test.ts
  packages/thirdweb/src/ai/execute.test.ts
Labels: packages, SDK

#5958 [Dashboard] Fix: AA Testnet Transaction Count
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/SponsoredTransactionsChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.tsx
Labels: merge-queue, Dashboard

#5957 [NEB-71] Nebula: Update example prompts
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/data/examplePrompts.ts
Labels: Dashboard

#5962 [SDK] test: Refactor smart wallet signature verification tests
  packages/thirdweb/src/auth/verify-signature.test.ts
Labels: packages, SDK

#5960 [TOOL-3090] Dashboard: Add Deprecated alert in Embeds page, UI adjustments
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/embed/embed-setup.tsx
Labels: Dashboard

#5963 [TOOL-3056]: Add Engine transactions bar chart, Make shadcn table header sticky
  apps/dashboard/src/@/components/blocks/charts/bar-chart.tsx
  apps/dashboard/src/@/components/ui/table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/Analytics.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/components/shared/TWTable.tsx
Labels: Dashboard

#5967 [SDK] Fix: Lumia Testnet is pre-1559
  .changeset/yellow-apples-flash.md
  packages/thirdweb/src/gas/fee-data.ts
Labels: packages, SDK

#5965 [TOOL-3095] Portal: Enable Table of contents in Nebula pages, Adjust TOC component
  apps/portal/src/app/nebula/layout.tsx
  apps/portal/src/components/others/TableOfContents.tsx
Labels: Portal

#5964 nebula doc restructure
  apps/portal/src/app/nebula/assets/keys.png
  apps/portal/src/app/nebula/assets/nebula-diagram.png
  apps/portal/src/app/nebula/assets/new-project.png
  apps/portal/src/app/nebula/get-started/page.mdx
  apps/portal/src/app/nebula/page.mdx
  apps/portal/src/app/nebula/plugins/eliza/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
  apps/portal/src/app/nebula/use-cases/page.mdx
  apps/portal/src/icons/index.ts
  apps/portal/src/icons/sidebar/RocketIcon.tsx
Labels: Portal

#5969 docs: Reorder sidebar groups and update claim params tags
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  packages/thirdweb/src/utils/extensions/drops/get-claim-params.ts
  packages/thirdweb/src/wallets/connection/autoConnect.ts
Labels: Portal, packages, SDK

#5968 [TOOL-3110] Dashboard: Engine pages cleanup: Fetch engine info on server + Use layout
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/import/EngineImportPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/_components/EngineErrorPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/_components/EnginePageLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/_components/useHasEnginePermission.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/_components/version.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/access-tokens/access-token-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/access-tokens/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/admins/admins-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/admins/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/alerts-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/components/EngineAlertsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/configuration-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/contract-subscriptions-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/explorer/explorer-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/explorer/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/metrics/metrics-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/metrics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/overview-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/relayers/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/relayers/relayers-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/webhooks/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/webhooks/webhooks-page.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineAccessPermission.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineInstance.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineInstancePageMeta.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineInstances.ts
Labels: merge-queue, Dashboard

#5970 [TOOL-3111] Nebula: Add events on transaction button
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.tsx
Labels: Dashboard

#5971 [SDK] feat: Add pay event tracking for transaction modal states
  packages/thirdweb/src/analytics/track/pay.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
Labels: packages, SDK

#5973 [SDK] Update implementations
  .changeset/thick-forks-joke.md
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: merge-queue, packages, SDK

#5976 [TOOL-3112]: Various Engine Overview page improvements, Chart style adjustments, Improved Pagination component
  apps/dashboard/src/@/components/blocks/charts/bar-chart.tsx
  apps/dashboard/src/@/components/pagination-buttons.stories.tsx
  apps/dashboard/src/@/components/pagination-buttons.tsx
  apps/dashboard/src/@/components/ui/chart.tsx
  apps/dashboard/src/@/components/ui/pagination.tsx
  apps/dashboard/src/@3rdweb-sdk/react/cache-keys.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/create-backend-wallet-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/import-backend-wallet-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/RpcMethodBarChartCard/RpcMethodBarChartCardUI.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartCard.tsx
  apps/dashboard/src/app/team/components/Analytics/BarChart.tsx
  apps/dashboard/src/app/team/components/Analytics/PieChart.tsx
  apps/dashboard/src/components/analytics/empty-chart-state.tsx
  apps/dashboard/src/components/analytics/interval-selector.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/InAppWalletUsersChartCard.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/common.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/SponsoredTransactionsChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.tsx
Labels: Dashboard

#5979 [Playground] Feature: Adds smart account auth
  apps/playground-web/src/app/connect/auth/page.tsx
  apps/playground-web/src/components/auth/smart-account-auth-button.tsx
  apps/playground-web/src/components/auth/smart-account-auth.tsx
Labels: merge-queue, Playground

#5978 [TOOL-3091] Dashboard: Remove trending contracts, Hide Contract Search
  apps/dashboard/knip.json
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/popular/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/app/(dashboard)/trending/components/pagination.client.tsx
  apps/dashboard/src/app/(dashboard)/trending/components/sorting-header.client.tsx
  apps/dashboard/src/app/(dashboard)/trending/components/trending-table.tsx
  apps/dashboard/src/app/(dashboard)/trending/loading.tsx
  apps/dashboard/src/app/(dashboard)/trending/opengraph-image.png
  apps/dashboard/src/app/(dashboard)/trending/page.tsx
  apps/dashboard/src/app/components/Header/SecondaryNav/ResourcesDropdownButton.tsx
  apps/dashboard/src/app/components/MobileBurgerMenuButton.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderLoggedOut.tsx
Labels: Dashboard

#5977 [TOOL-3128] SDK: Fix typo in deployPublishedContract JSDoc example
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
Labels: packages, SDK

#5972 [SDK] feat: Support multiple messages in Nebula API and update input props
  .changeset/rude-sheep-hear.md
  packages/thirdweb/src/ai/chat.test.ts
  packages/thirdweb/src/ai/chat.ts
  packages/thirdweb/src/ai/common.ts
  packages/thirdweb/src/ai/execute.test.ts
  packages/thirdweb/src/ai/execute.ts
Labels: packages, SDK

#5980 [TOOL-3119] Dashboard: Move Connect settings from Project settings to Connect pages
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/factories/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPageForTeams.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/layout.tsx
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
  apps/dashboard/src/components/smart-wallets/index.tsx
Labels: Dashboard

#5981 docs cleanup
  apps/portal/src/app/nebula/assets/nebula-diagram.png
  apps/portal/src/app/nebula/assets/supported-chains.png
  apps/portal/src/app/nebula/faqs/page.mdx
  apps/portal/src/app/nebula/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
  apps/portal/src/icons/index.ts
  apps/portal/src/icons/sidebar/BrickIcon.tsx
  apps/portal/src/icons/sidebar/CodeIcon.tsx
  apps/portal/src/icons/sidebar/EditIcon.tsx
  apps/portal/src/icons/sidebar/NebulaSideIcon.tsx
  apps/portal/src/icons/sidebar/PluginIcon.tsx
  apps/portal/src/icons/sidebar/QuestionIcon.tsx
  apps/portal/src/icons/sidebar/RocketIcon.tsx
  apps/portal/src/icons/sidebar/TroubleshootIcon.tsx
Labels: Portal

#5982 [SDK] Feature: Add Mode chain definition
  .changeset/witty-bugs-roll.md
  packages/thirdweb/src/chains/chain-definitions/mode.ts
  packages/thirdweb/src/exports/chains.ts
Labels: merge-queue, packages, SDK

#5983 [TOOL-3054] Dashboard: Fix Engine backend wallet list not updating on create/delete
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
Labels: Dashboard

#5975 [Portal] Fix: Supported Chains Page
  apps/portal/src/app/connect/pay/supported-chains/page.mdx
Labels: merge-queue, Portal

#5986 [Dashboard] fix: Update dashboard redirect paths to /team
  apps/dashboard/redirects.js
Labels: Dashboard

#5955 Version Packages
  .changeset/green-tips-beam.md
  .changeset/rude-cats-clean.md
  .changeset/rude-sheep-hear.md
  .changeset/thick-forks-joke.md
  .changeset/witty-bugs-roll.md
  .changeset/yellow-apples-flash.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#5989 [SDK] Feature: Adds `deployMarketplaceContract`
  .changeset/famous-peaches-camp.md
  packages/thirdweb/src/extensions/ens/resolve-l2-name.test.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-marketplace.ts
Labels: merge-queue, packages, SDK

#5991 fix: default option tab in docs
  apps/portal/src/app/connect/account-abstraction/erc-20-paymaster/page.mdx
Labels: merge-queue, Portal

#5990 enhance manage billing visibility in dashboard
  apps/dashboard/src/app/components/Header/SecondaryNav/account-button.client.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: merge-queue, Dashboard

#6006 [Dashboard] fix: handle unreachable engine instances
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineAccessPermission.ts
Labels: Dashboard

#6005 [SDK]Fix: use base autoconnect in wagmi adapter
  .changeset/four-ties-cough.md
  packages/wagmi-adapter/package.json
  packages/wagmi-adapter/src/connector.ts
Labels: merge-queue, packages

#6003 Version Packages
  .changeset/eleven-clocks-push.md
  .changeset/famous-peaches-camp.md
  .changeset/four-ties-cough.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6012 add connect/pay to framer rewrites
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#6013 [TOOL-3156] Dashboard: Fix localhost engine not loading, fetch engine permission on client side
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/_components/EnsureEnginePermission.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineAccessPermission.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineInstancePageMeta.ts
Labels: Dashboard

#6011 [SDK] Fix: Do not remove chain listener on disconnect
  .changeset/fuzzy-ants-laugh.md
  packages/thirdweb/src/extensions/erc1155/write/sigMint1155.test.ts
  packages/thirdweb/src/wallets/create-wallet.ts
Labels: merge-queue, packages, SDK

#6015 [SDK] Fix: Allow smart wallets for site linking
  .changeset/khaki-singers-leave.md
  packages/thirdweb/src/react/web/ui/SiteEmbed.test.tsx
  packages/thirdweb/src/react/web/ui/SiteEmbed.tsx
  packages/thirdweb/src/react/web/ui/SiteLink.test.tsx
  packages/thirdweb/src/react/web/ui/SiteLink.tsx
  packages/thirdweb/test/src/SetConnectedWallet.tsx
  packages/thirdweb/test/src/react-render.tsx
  packages/wagmi-adapter/src/connector.ts
Labels: merge-queue, packages, SDK

#6020 [SDK] feat: Add transaction tracking for smart wallets
  .changeset/light-poets-tie.md
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, SDK

#6018 Version Packages
  .changeset/fuzzy-ants-laugh.md
  .changeset/khaki-singers-leave.md
  .changeset/light-poets-tie.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6017 [TOOL-3173] Portal: Update hero image, OG image on landing page
  apps/portal/src/app/_images/docs-hero-dark.png
  apps/portal/src/app/_images/docs-hero-light.png
  apps/portal/src/app/_images/docs-hero.png
  apps/portal/src/app/globals.css
  apps/portal/src/app/layout.tsx
  apps/portal/src/app/opengraph-image.png
  apps/portal/src/app/page.tsx
Labels: Portal

#6023 [service-utils] fix: Don't hash cache key
  .changeset/rotten-vans-sleep.md
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/core/authorize/utils.ts
Labels: packages

#6029 Chore: Remove Jakub from CODEOWNERS
  .github/CODEOWNERS
Labels: merge-queue

#6033 [Dashboard] fix: Improve error logging for analytics API failures
  apps/dashboard/src/@/api/analytics.ts
Labels: Dashboard

#6034 [Dashboard] fix: Add error reason to analytics API error logs
  apps/dashboard/src/@/api/analytics.ts
Labels: Dashboard

#6032 [SDK] Fix: Opt out of 1559 on lumia mainnet
  packages/thirdweb/src/gas/fee-data.ts
Labels: merge-queue, Playground, packages, SDK

#6026 [TOOL-3123] Dashboard: Order projects by total wallets
  apps/dashboard/src/@/api/projects.ts
  apps/dashboard/src/@/components/ui/CopyTextButton.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/components/dashboard/Changelog.tsx
Labels: Dashboard

#6028 [TOOL-3120] Redirect to last visited team page if authenticated
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/team/components/last-visited-page/SaveLastVisitedPage.tsx
  apps/dashboard/src/app/team/components/last-visited-page/consts.ts
  apps/dashboard/src/lib/cookie.ts
  apps/dashboard/src/middleware.ts
  apps/dashboard/src/stores/SyncStoreToCookies.tsx
Labels: Dashboard

#6031 [TOOL-3082] Dashboard: Replace NetworkSelectorButton with SingleNetworkSelector where switching chain in wallet is not required
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/components/contract-components/import-contract/modal.tsx
Labels: Dashboard

#6036 [TOOL-2964] Dashboard: Fix crash on unix time converter page for invalid unix time, UI improvements
  apps/dashboard/src/app/(dashboard)/tools/components/tabs.tsx
  apps/dashboard/src/app/(dashboard)/tools/layout.tsx
  apps/dashboard/src/app/(dashboard)/tools/unixtime-converter/components/UnixTimeConverter.tsx
  apps/dashboard/src/app/(dashboard)/tools/unixtime-converter/page.tsx
Labels: Dashboard

#6035 [Dashboard] perf: Optimize chain and contract data processing
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/TransactionsCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/TransactionCharts.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/index.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/types/analytics.ts
Labels: Dashboard

#6027 [TOOL-3124] Dashboard: paginate projects, sort by Montly active users
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
Labels: Dashboard

#6041 [TOOL-3220] Dashboard: Reset Project pagination on filter change, SDK: Fix WalletProvider JSDoc
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/provider.tsx
Labels: Dashboard, packages, SDK

#6044 [Dashboard] fix: Use formatted ABI for contract function calls
  apps/dashboard/src/components/contract-functions/interactive-abi-function.tsx
Labels: Dashboard

#6043 [Portal] fix: Update useAutoConnect hook reference link
  apps/portal/src/app/react/v5/connecting-wallets/hooks/page.mdx
Labels: Portal

#6042 [SDK] fix: Improve WalletConnect mobile connection handling
  .changeset/nervous-frogs-pay.md
  apps/playground-web/src/components/sign-in/hooks.tsx
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: Playground, packages, SDK

#6040 [SDK] fix: Improve smart wallet signature verification
  .changeset/kind-beers-fold.md
  apps/playground-web/src/components/account-abstraction/sponsored-tx-zksync.tsx
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/wallets/smart/lib/signing.ts
Labels: Playground, packages, SDK

#6025 Winston/tool 3161 cannot create backend wallets using latest version
  .changeset/two-trees-tease.md
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/iframe-auth.ts
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/IframeCommunicator.test.tsx
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/IframeCommunicator.ts
  packages/thirdweb/src/wallets/in-app/web/utils/iFrameCommunication/InAppWalletIframeCommunicator.ts
Labels: merge-queue, packages, SDK

#6021 [service-utils] feat: Add usageV2 support
  .changeset/neat-ads-build.md
  packages/service-utils/package.json
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

#6046 [SDK] fix: Simplify in-app wallet logout flow
  .changeset/blue-rivers-own.md
  packages/thirdweb/src/wallets/in-app/web/lib/auth/iframe-auth.ts
Labels: packages, SDK

#6030 Version Packages
  .changeset/blue-rivers-own.md
  .changeset/kind-beers-fold.md
  .changeset/neat-ads-build.md
  .changeset/nervous-frogs-pay.md
  .changeset/rotten-vans-sleep.md
  .changeset/two-trees-tease.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6047 [service-utils] Export UsageV2 helpers
  .changeset/friendly-lamps-think.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/node/index.ts
Labels: packages

#6049 [service-utils] usage_v2 accepts a project_id field
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/index.ts
Labels: packages

#6050 [service-utils] Replace client_id with project_id in usage_v2
  .changeset/short-carrots-smile.md
  packages/service-utils/src/node/usageV2.ts
Labels: packages

#6057 [SDK] update dependencies
  .changeset/violet-tables-travel.md
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/hooks.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/InstalledModulesTable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/ModuleForm.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/module-card.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem.ts
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/chains/chain-definitions/abstract.ts
  packages/thirdweb/src/contract/actions/get-bytecode.ts
  packages/thirdweb/src/contract/actions/resolve-abi.ts
  packages/thirdweb/src/contract/contract.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployDeterministic.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployProxy.ts
  packages/thirdweb/src/event/actions/get-events.ts
  packages/thirdweb/src/exports/chains.ts
  packages/thirdweb/src/extensions/erc4337/account/isAccountDeployed.ts
  packages/thirdweb/src/extensions/erc721/lazyMinting/helpers/hashDelayedRevealBatch.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Blobbie.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Wallet/icon.test.tsx
  packages/thirdweb/src/rpc/actions/eth_getLogs.ts
  packages/thirdweb/src/rpc/actions/eth_getStorageAt.ts
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/biconomy.ts
  packages/thirdweb/src/transaction/actions/simulate.ts
  packages/thirdweb/src/transaction/actions/to-serializable-transaction.ts
  packages/thirdweb/src/transaction/read-contract.ts
  packages/thirdweb/src/utils/any-evm/compute-deployment-address.ts
  packages/thirdweb/src/utils/bytecode/resolveImplementation.ts
  packages/thirdweb/src/utils/extensions/airdrop/hash-entry-erc1155.ts
  packages/thirdweb/src/utils/extensions/airdrop/hash-entry-erc20.ts
  packages/thirdweb/src/utils/extensions/airdrop/hash-entry-erc721.ts
  packages/thirdweb/src/utils/extensions/drops/hash-entry.ts
  packages/thirdweb/src/wallets/eip5792/get-capabilities.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/injected/index.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#6048 Version Packages
  .changeset/friendly-lamps-think.md
  .changeset/short-carrots-smile.md
  .changeset/violet-tables-travel.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6058 [SDK] chore: Increase CJS bundle size limit to 130kb
  packages/thirdweb/.size-limit.json
Labels: packages, SDK

#6055 [TOOL-3231] Show View Project Link after creating a project in Modal
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/embed/embed-setup.tsx
  apps/dashboard/src/app/account/components/AccountHeader.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/app/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/CreateApiKeyModal.stories.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
Labels: Dashboard

#6059 [TOOL-3238] Fix Engine backend wallet balances not updating on chain change
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/utils.ts
Labels: Dashboard

#6060 [NEB-77] Nebula: Various UI updates
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/app/nebula-app/(app)/chat/history/ChatHistoryPage.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
Labels: Dashboard

#6061 [TOOL-3241] Fix previous account shown after logging out in onboarding flow
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/onboarding/General.tsx
  apps/dashboard/src/app/login/onboarding/on-boarding-ui.client.tsx
Labels: Dashboard

#6068 [SDK] fix: Respect chain param in in-app wallet connection
  .changeset/kind-starfishes-sell.md
  packages/thirdweb/src/wallets/in-app/core/authentication/siwe.ts
Labels: packages, SDK

#6069 Version Packages
  .changeset/kind-starfishes-sell.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6073 Version Packages
  .changeset/big-actors-brake.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6074 [SDK] fix: Account linking for ecosystem smart wallets
  .changeset/new-maps-enjoy.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/LinkProfileScreen.tsx
Labels: packages, SDK

#6075 Version Packages
  .changeset/new-maps-enjoy.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6070 remove growth trial eligibility
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
Labels: Dashboard, packages

#6078 update plan selection copy and tracking
  apps/dashboard/src/app/login/onboarding/ChoosePlan.tsx
Labels: Dashboard

#6080 Nebula docs
  apps/portal/src/app/nebula/get-started/page.mdx
Labels: Portal

#6079 update dependencies
  .changeset/ninety-maps-sparkle.md
  .changeset/tasty-berries-ring.md
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/tools/unixtime-converter/components/UnixTimeConverter.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  apps/wallet-ui/src/lib/auth.ts
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/exports/wallets.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ManageWalletScreen.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/utils.ts
  packages/thirdweb/src/react/web/ui/prebuilt/Token/name.test.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/Token/symbol.test.tsx
  packages/thirdweb/src/wallets/smart/smart-wallet-modular.test.ts
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#6076 [SDK] fix: Auto-connection of in-app wallets in React Native
  .changeset/soft-camels-beg.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ManageWalletScreen.tsx
  packages/thirdweb/src/wallets/connection/autoConnectCore.ts
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.test.tsx
  packages/thirdweb/src/wallets/in-app/web/lib/get-url-token.ts
Labels: packages, SDK

#6086 [Dashboard] fix: Use API key for in-app wallet analytics
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/page.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/index.tsx
Labels: Dashboard

#6087 [TOOL-3251] Dashboard: Add Rotate Secret Key feature in Project Settings page
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPageForTeams.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/page.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
Labels: Dashboard

#6083 Version Packages
  .changeset/ninety-maps-sparkle.md
  .changeset/soft-camels-beg.md
  .changeset/tasty-berries-ring.md
  .changeset/tough-dogs-enjoy.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6084 add billingPlanVersion to TeamResponse
  .changeset/friendly-trainers-taste.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: packages

#6089 Version Packages
  .changeset/friendly-trainers-taste.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages
