Repository thirdweb-dev/js, pull requests merged in 2025-08, with the labels that each got.

#7773 Version Packages
  .changeset/cold-files-sleep.md
  .changeset/tangy-ghosts-joke.md
  .changeset/witty-ducks-lie.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7774 Dashboard: Remove Moralis, Alchemy API usage, Split UI improvements, Fix thirdweb/insight import
  .changeset/thin-days-add.md
  apps/dashboard/.env.example
  apps/dashboard/src/@/actions/getBalancesFromMoralis.ts
  apps/dashboard/src/@/actions/getWalletNFTs.ts
  apps/dashboard/src/@/constants/server-envs.ts
  apps/dashboard/src/@/hooks/useSplit.ts
  apps/dashboard/src/@/hooks/useWalletNFTs.ts
  apps/dashboard/src/@/lib/wallet/nfts/alchemy.ts
  apps/dashboard/src/@/lib/wallet/nfts/isAlchemySupported.ts
  apps/dashboard/src/@/lib/wallet/nfts/isMoralisSupported.ts
  apps/dashboard/src/@/lib/wallet/nfts/moralis.ts
  apps/dashboard/src/@/lib/wallet/nfts/tokenUri.ts
  apps/dashboard/src/@/lib/wallet/nfts/types.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/NFTCards.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/account-balance.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/nfts-owned.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/NFTDetails.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/ContractSplitPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/components/distribute-button.tsx
  packages/thirdweb/package.json
Labels: Dashboard, packages, SDK

#7780 [SDK] Fix: Respect supported tokens in payment widgets
  apps/playground-web/src/components/ui/TokenSelector.tsx
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
Labels: Playground, packages, SDK

#7781 [MNY-61] Dashboard: Tokens and Payments tracking updates
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/@/hooks/useEffectOnce.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/asset-page-view.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page-layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/CreatePaymentLinkButton.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/cards.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/team-onboarding.tsx
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
Labels: Dashboard

#7779 Dashboard: Remove unused envs from .env.example and turbo config
  apps/dashboard/.env.example
  turbo.json
Labels: Dashboard

#7777 chore: fix typos in docs
  apps/portal/src/app/tokens/page.mdx
  apps/portal/src/app/typescript/v5/ecosystem-wallet/page.mdx
  apps/portal/src/app/typescript/v5/extensions/examples/lens-protocol/page.mdx
Labels: Portal

#7783 Dashboard: Fix Payment link buy completion tracking
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
Labels: Dashboard

#7784 Playground: Improved sidebar search params suspense fallback, Fix ConnectEmbed width on mobile
  apps/playground-web/src/app/wallets/sign-in/button/RightSection.tsx
  apps/playground-web/src/app/wallets/sign-in/embed/page.tsx
  apps/playground-web/src/components/blocks/APIHeader.tsx
  apps/playground-web/src/components/blocks/full-path-suspense.tsx
  apps/playground-web/src/components/blocks/full-width-sidebar-layout.tsx
  apps/playground-web/src/components/styled-connect-embed.tsx
  apps/playground-web/src/components/ui/NavLink.tsx
Labels: Dashboard, Playground

#7785 [SDK] Feat: export `useSiweAuth` for React Native
  .changeset/short-icons-care.md
  packages/thirdweb/src/exports/react.native.ts
Labels: packages, SDK

#7786 added wallets seo, fixed faqs, added deployment guides
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/contracts/faqs/page.mdx
  apps/portal/src/app/contracts/modular-contracts/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
  apps/portal/src/app/contracts/troubleshoot/page.mdx
  apps/portal/src/app/payments/faq/page.mdx
  apps/portal/src/app/tokens/assets/token_deployment.png
  apps/portal/src/app/tokens/deploy-erc1155/page.mdx
  apps/portal/src/app/tokens/deploy-erc20/assets/configure_coin.png
  apps/portal/src/app/tokens/deploy-erc20/assets/distribute_coin.png
  apps/portal/src/app/tokens/deploy-erc20/page.mdx
  apps/portal/src/app/tokens/deploy-erc721/assets/create_nft.png
  apps/portal/src/app/tokens/deploy-erc721/assets/sale_recipients.png
  apps/portal/src/app/tokens/deploy-erc721/assets/upload_NFTs.png
  apps/portal/src/app/tokens/deploy-erc721/page.mdx
  apps/portal/src/app/tokens/faq/page.mdx
  apps/portal/src/app/tokens/list-tokens/page.mdx
  apps/portal/src/app/tokens/sidebar.tsx
  apps/portal/src/app/transactions/sidebar.tsx
  apps/portal/src/app/wallets/auth/page.mdx
  apps/portal/src/app/wallets/custom-auth/page.mdx
  apps/portal/src/app/wallets/ecosystem/integrating-partners/page.mdx
  apps/portal/src/app/wallets/ecosystem/set-up/page.mdx
  apps/portal/src/app/wallets/export-private-key/page.mdx
  apps/portal/src/app/wallets/external-wallets/page.mdx
  apps/portal/src/app/wallets/faq/page.mdx
  apps/portal/src/app/wallets/get-users/page.mdx
  apps/portal/src/app/wallets/link-profiles/page.mdx
  apps/portal/src/app/wallets/pregenerate-wallets/page.mdx
  apps/portal/src/app/wallets/security/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/app/wallets/sidebar.tsx
  apps/portal/src/app/wallets/sponsor-gas/page.mdx
  apps/portal/src/app/wallets/users/page.mdx
Labels: Portal

#7787 Dashboard: dedicated engine header UI tweak on mobile, Tab component tweaks
  apps/dashboard/src/@/components/batch-upload/batch-lazy-mint.tsx
  apps/dashboard/src/@/components/blocks/code/code-segment.client.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/factory-fieldset.tsx
  apps/dashboard/src/@/components/contract-components/contract-publish-form/landing-fieldset.tsx
  apps/dashboard/src/@/components/contracts/code-overview.tsx
  apps/dashboard/src/@/components/contracts/functions/contract-function.tsx
  apps/dashboard/src/@/components/ui/DatePickerWithRange.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/token-viewer/token-viewer.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectFTUX/IntegrateAPIKeyCodeTabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/WaitingForIntegrationCard/WaitingForIntegrationCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/access-tokens/components/engine-access-tokens.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/configuration/components/engine-wallet-config.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/BuyWidgetFTUX.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/upload-nfts/upload-nfts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
Labels: Dashboard

#7797 Add posthog.com and framer.com to CSP
  apps/dashboard/next.config.ts
Labels: Dashboard

#7796 Dashboard: enforce absolute imports for '@' folder
  apps/dashboard/.eslintrc.js
Labels: Dashboard

#7798 Rename archive to advanced sidebar
  apps/portal/src/app/transactions/sidebar.tsx
Labels: Portal

#7802 Dashboard: export the date in CSV as ISO string in wallets/users table, UI tweaks
  apps/dashboard/src/@/components/in-app-wallet-users-content/AdvancedSearchInput.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/in-app-wallet-users-content.tsx
Labels: Dashboard

#7791 [Docs] Update pregenerate wallets API endpoint and request format
  apps/portal/src/app/wallets/custom-auth/page.mdx
  apps/portal/src/app/wallets/pregenerate-wallets/page.mdx
Labels: Portal

#7806 Version Packages
  .changeset/upset-pears-unite.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7810 Version Packages
  .changeset/chilly-lamps-post.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7804 Dashboard: Add caching to analytics charts
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/AccountAbstractionAnalytics/AccountAbstractionSummary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/account-abstraction/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/EngineCloudChartCard/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/RpcMethodBarChartCard/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/Transactions/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/components/InsightAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/insight/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/components/RpcAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/rpc/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/Summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
Labels: Dashboard

#7813 [SDK] Fix: Skip payment method selection when balance is sufficient
  .changeset/fluffy-bobcats-walk.md
  packages/thirdweb/src/bridge/Token.ts
  packages/thirdweb/src/react/core/hooks/useTransactionDetails.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/stories/Bridge/TransactionPayment.stories.tsx
Labels: packages, SDK

#7816 [SDK] Fix: Adds onExecuteTransaction to TransactionPayment
  packages/thirdweb/src/react/core/machines/paymentMachine.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionPayment.tsx
  packages/thirdweb/src/stories/Bridge/TransactionPayment.stories.tsx
Labels: merge-queue, packages, SDK

#7814 Version Packages
  .changeset/fluffy-bobcats-walk.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7819 [SDK] Fix: Sort payment quotes in ascending order
  .changeset/dirty-roses-carry.md
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
Labels: packages, SDK

#7822 Add caching to ContractCard, speed up /explore pageload
  apps/dashboard/src/@/components/contracts/contract-card/contract-card.tsx
  apps/dashboard/src/@/components/contracts/contract-card/contract-publisher.tsx
  apps/dashboard/src/app/(app)/(dashboard)/explore/components/contract-row/index.tsx
Labels: Dashboard

#7824 [SDK] Fix supportedTokens address comparison in usePaymentMethods
  .changeset/violet-readers-warn.md
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
Labels: packages, SDK

#7807 Add chinese locale to connect button
  .changeset/ripe-wombats-warn.md
  apps/playground-web/src/app/wallets/sign-in/components/LocaleFormControl.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/zh.ts
  packages/thirdweb/src/react/web/ui/types.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/getInjectedWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/zh.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/zh.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/getSmartWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/zh.ts
Labels: Playground, packages, SDK

#7825 [SDK] Fix: Deprecate bridge routes sortBy
  .changeset/shaky-candles-rule.md
  packages/thirdweb/src/bridge/Routes.ts
Labels: packages, SDK

#7828 [Docs] Add AI Chat API documentation and endpoint metadata
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/ai/chat/EndpointMetadata.tsx
  apps/portal/src/app/ai/chat/handling-responses/page.mdx
  apps/portal/src/app/ai/chat/page.mdx
  apps/portal/src/app/ai/layout.tsx
  apps/portal/src/app/ai/sidebar.tsx
  apps/portal/src/components/Document/APIEndpointMeta/ApiEndpoint.tsx
  apps/portal/src/components/Document/APIEndpointMeta/common.tsx
Labels: Portal

#7832 Fix: Hide manage contract button when foreign wallet
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.tsx
Labels: Dashboard

#7829 [Docs] Replace custom API endpoint with OpenAPI component
  apps/playground-web/package.json
  apps/portal/package.json
  apps/portal/src/app/ai/chat/EndpointMetadata.tsx
  apps/portal/src/app/ai/chat/page.mdx
  apps/portal/src/app/ai/chat/streaming/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  apps/portal/src/app/contracts/deploy/page.mdx
  apps/portal/src/app/contracts/events/page.mdx
  apps/portal/src/app/contracts/page.mdx
  apps/portal/src/app/contracts/transactions/page.mdx
  apps/portal/src/app/nebula/api-reference/chat/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/clear-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/create-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/delete-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/execute/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/get-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/list-session/EndpointMetadata.tsx
  apps/portal/src/app/nebula/api-reference/update-session/EndpointMetadata.tsx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/payments/page.mdx
  apps/portal/src/app/transactions/monitor/page.mdx
  apps/portal/src/app/transactions/page.mdx
  apps/portal/src/app/transactions/sponsor/page.mdx
  apps/portal/src/app/wallets/custom-auth/page.mdx
  apps/portal/src/app/wallets/get-users/page.mdx
  apps/portal/src/app/wallets/page.mdx
  apps/portal/src/app/wallets/pregenerate-wallets/page.mdx
  apps/portal/src/app/wallets/server/page.mdx
  apps/portal/src/components/Document/APIEndpointMeta/ApiEndpoint.tsx
  apps/portal/src/components/Document/APIEndpointMeta/DynamicRequestExample.tsx
  apps/portal/src/components/Document/APIEndpointMeta/OpenApiEndpoint.tsx
  apps/portal/src/components/Document/APIEndpointMeta/RequestExample.tsx
  apps/portal/src/components/Document/APIEndpointMeta/common.tsx
  apps/portal/src/components/Document/AuthMethodsTabs.tsx
  apps/portal/src/components/Document/Details.tsx
  apps/portal/src/components/Document/index.ts
  pnpm-lock.yaml
Labels: Playground, Portal

#7841 [Portal] Improve responsive layout for request example header
  apps/portal/src/components/Document/APIEndpointMeta/RequestExample.tsx
Labels: Portal

#7826 Version Packages
  .changeset/fine-zoos-own.md
  .changeset/shaky-candles-rule.md
  .changeset/slick-cups-joke.md
  .changeset/warm-ways-decide.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7843 [BLD-80] Dashboard: in-app wallet settings page UI improvements
  apps/dashboard/src/@/components/ui/DynamicHeight.tsx
  apps/dashboard/src/@/components/ui/checkbox.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/settings/components/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/settings/components/sms-country-select/country-selector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/settings/components/sms-country-select/utils.ts
Labels: Dashboard

#7833 [Playground] ai chat demo
  apps/playground-web/package.json
  apps/playground-web/src/app/ai/api/chat.ts
  apps/playground-web/src/app/ai/api/types.ts
  apps/playground-web/src/app/ai/chat/page.tsx
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
  apps/playground-web/src/app/ai/components/resolveSchemeWithErrorHandler.ts
  apps/playground-web/src/app/ai/data/examplePrompts.ts
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/ui/dialog.tsx
  apps/playground-web/src/components/ui/inline-code.tsx
  apps/playground-web/src/components/ui/markdown-renderer.tsx
  apps/portal/src/app/ai/sidebar.tsx
  pnpm-lock.yaml
Labels: Playground, Portal

#7846 [BLD-108] Dashboard: Update Claim conditions UI to handle very large snapshots
  apps/dashboard/package.json
  apps/dashboard/src/@/hooks/useCsvUpload.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/Inputs/ClaimerSelection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/phase.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/snapshot-upload.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-upload.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/distribution/token-airdrop.tsx
  pnpm-lock.yaml
Labels: Dashboard

#7851 Version Packages
  .changeset/many-tips-fail.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7852 [Playground] integration guide link in chat ai footer
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
Labels: Playground

#7854 Dashboard: Fix Active Users calculation in team and project analytics charts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
Labels: Dashboard

#7853 Playground: Fix theme toggle UI when sidebar is collapsed
  apps/playground-web/src/components/ThemeToggle.tsx
  apps/playground-web/src/components/blocks/full-width-sidebar-layout.tsx
  apps/playground-web/src/components/ui/sidebar.tsx
Labels: Playground

#7857 Dashboard: use BuyWidget instead of CheckoutWidget in TransactionButton
  apps/dashboard/src/@/components/tx-button/MismatchButton.tsx
Labels: Dashboard

#7859 Update default config
  apps/dashboard/src/@/constants/addresses.ts
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/components/custom-contract.tsx
Labels: hotfix, Dashboard

#7862 Rename `/nebula` to `/ai` and add redirect
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: Dashboard

#7883 Always show Chain Infrastructure in sidebar regardless of subscriptions
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/TeamSidebarLayout.tsx
Labels: Dashboard

#7884 add webhook id to test webhook
  apps/dashboard/src/@/api/insight/webhooks.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/hooks/useTestWebhook.ts
Labels: merge-queue, Dashboard

#7880 [Dashboard] improve wallet stats
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/InAppWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/Summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
Labels: Dashboard

#7885 [Dashboard] Fix date handling in analytics components
  apps/dashboard/src/@/components/analytics/date-range-selector.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/overview/highlights-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/analytics/chart/index.tsx
Labels: Dashboard

#7887 fix: #7886
  .changeset/calm-glasses-build.md
  packages/thirdweb/src/chains/chain-definitions/mode.ts
Labels: packages, SDK

#7889 Version Packages
  .changeset/calm-glasses-build.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7892 [Dashboard] Feature: Adds paired address for expedited token route finding
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/_apis/create-token-on-bridge.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
Labels: Dashboard

#7893 Remove RecentPaymentsSection and reduce payment history page size
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/RecentPaymentsSection.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/page.tsx
Labels: Dashboard

#7894 Remove "dedicated" from Engine URLs
  apps/dashboard/src/@/hooks/useEngine.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/configuration/components/engine-wallet-config.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/metrics/components/EngineSystemMetrics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/overview/components/create-backend-wallet-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/overview/components/import-backend-wallet-button.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/_utils/getEngineInstancePageMeta.ts
Labels: Dashboard

#7897 Remove "dedicated" from engine URLs
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/_components.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/import/import-engine-dialog.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/_components/EnginePageLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/(instance)/[engineId]/_components/EnsureEnginePermission.tsx
Labels: Dashboard

#7898 [BLD-166] Dashboard: Show Manage Contract button if user has used dashboard
  apps/dashboard/src/@/constants/cookie.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.stories.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page-layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page.tsx
  apps/dashboard/src/app/(app)/team/components/last-visited-page/SaveLastVisitedPage.tsx
Labels: Dashboard

#7903 [Docs] Update API domains
  apps/portal/src/app/ai/chat/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  packages/api/src/client/types.gen.ts
Labels: Portal, packages

#7902 Add ai usage section to dashboard
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/types/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/AiTokenUsageChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/Summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/analytics/chart/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/ai/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
Labels: Dashboard

#7906 Dashboard: Chain Infra pages UI improvements
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/[chain_id]/_components/service-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/[chain_id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/[chain_id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/_components/deploy-infrastructure-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/deploy/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/infrastructure/layout.tsx
Labels: Dashboard

#7907 [BLD-143] Dashboard: Fix distribute funds in split contract
  apps/dashboard/src/@/hooks/useSplit.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/split/components/distribute-button.tsx
Labels: Dashboard

#7909 Dashboard: Fix project links footer not sticked to the bottom on short pages
  apps/dashboard/src/@/components/blocks/project-page/project-page.tsx
Labels: Dashboard

#7904 [Docs] Rename Chat API to Blockchain LLM and add transaction execution docs
  apps/playground-web/src/app/ai/api/chat.ts
  apps/playground-web/src/app/ai/api/types.ts
  apps/playground-web/src/app/ai/chat/page.tsx
  apps/playground-web/src/app/ai/components/ChatPageContent.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/ai/chat/execution/page.mdx
  apps/portal/src/app/ai/chat/page.mdx
  apps/portal/src/app/ai/chat/streaming/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  apps/portal/src/app/page.tsx
Labels: Playground, Portal

#7921 Add reason code type to team capabilities response
  .changeset/fuzzy-bars-wish.md
  apps/dashboard/src/@/storybook/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/mocks.ts
Labels: Dashboard, packages

#7924 packages/ui: Add scroll-shadow
  apps/dashboard/src/@/components/blocks/error-fallbacks/unexpect-value-error-message.tsx
  apps/dashboard/src/@/components/blocks/multi-select.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/@/components/chat/CustomChats.tsx
  apps/dashboard/src/@/components/cmd-k-search/index.tsx
  apps/dashboard/src/@/components/misc/configure-networks/ConfigureNetworkForm.tsx
  apps/dashboard/src/@/components/ui/ScrollShadow.tsx
  apps/dashboard/src/@/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/dashboard/src/@/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/dashboard/src/@/components/ui/code/CodeBlockContainer.tsx
  apps/dashboard/src/@/components/ui/table.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/events/events-feed.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/InstalledModulesTable.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/token-viewer/token-viewer.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PayCustomersTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/components/PaymentHistory.client.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/ProjectSelectorUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectionUI.tsx
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/playground-web/src/app/wallets/sign-in/components/ColorFormGroup.tsx
  apps/playground-web/src/app/wallets/sign-in/components/WalletsSelection.tsx
  apps/playground-web/src/components/blocks/multi-select.tsx
  apps/playground-web/src/components/code/RenderCode.tsx
  apps/playground-web/src/components/ui/ScrollShadow.tsx
  apps/playground-web/src/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/playground-web/src/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/playground-web/src/components/ui/select-with-search.tsx
  apps/playground-web/src/components/ui/table.tsx
  apps/portal/src/components/AI/chat.tsx
  apps/portal/src/components/Document/Code.tsx
  apps/portal/src/components/Document/Table.tsx
  apps/portal/src/components/code/CodeBlockContainer.tsx
  apps/portal/src/components/code/RenderCode.tsx
  apps/portal/src/components/ui/ScrollShadow.tsx
  apps/portal/src/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/portal/src/components/ui/table.tsx
  apps/portal/src/lib/useIsomorphicLayoutEffect.ts
  packages/ui/src/components/scroll-shadow.tsx
Labels: Dashboard, Playground, Portal, packages

#7926 packages/ui: Add breadcrumb, tooltip, table
  apps/dashboard/knip.json
  apps/dashboard/src/@/components/ui/breadcrumb.tsx
  apps/dashboard/src/@/components/ui/table.tsx
  apps/dashboard/src/@/components/ui/tooltip.tsx
  apps/playground-web/knip.json
  apps/playground-web/src/components/ui/breadcrumb.tsx
  apps/playground-web/src/components/ui/table.tsx
  apps/playground-web/src/components/ui/tooltip.tsx
  apps/portal/knip.json
  apps/portal/src/components/ui/table.tsx
  apps/portal/src/components/ui/tooltip.tsx
  packages/ui/package.json
  packages/ui/src/components/breadcrumb.tsx
  packages/ui/src/components/table.stories.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/components/tooltip.tsx
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages

#7928 packages/ui: Add markdown-renderer
  apps/dashboard/knip.json
  apps/dashboard/src/@/components/blocks/markdown-renderer.tsx
  apps/dashboard/src/@/components/chat/CustomChats.tsx
  apps/dashboard/src/@/components/ui/UnderlineLink.tsx
  apps/playground-web/knip.json
  apps/playground-web/src/components/ui/markdown-renderer.tsx
  apps/portal/knip.json
  apps/portal/src/components/code/code.client.tsx
  apps/portal/src/components/code/plaintext-code.tsx
  apps/portal/src/components/markdown/MarkdownRenderer.tsx
  apps/portal/src/components/ui/underline-link.tsx
  packages/ui/package.json
  packages/ui/src/components/UnderlineLink.tsx
  packages/ui/src/components/code/inline-code.tsx
  packages/ui/src/components/markdown-renderer.stories.tsx
  packages/ui/src/components/markdown-renderer.tsx
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages

#7936 [Dashboard] Feature: Update payment success copy on payment page
  .changeset/cuddly-results-play.md
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/SuccessScreen.tsx
  packages/thirdweb/src/stories/Bridge/SuccessScreen.stories.tsx
Labels: merge-queue, Dashboard, packages, SDK

#7937 [SDK] Feature: Allow proceeding past first checkout widget page with no wallet
  .changeset/eager-loops-fold.md
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/DirectPayment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
Labels: merge-queue, packages, SDK

#7940 [MNY-127] Dashboard: Remove unnecessary server action for fetching token list
  apps/dashboard/src/@/api/universal-bridge/token-list.ts
  apps/dashboard/src/@/api/universal-bridge/tokens.ts
  apps/dashboard/src/@/api/universal-bridge/types.ts
  apps/dashboard/src/@/components/blocks/TokenSelector.tsx
  apps/dashboard/src/@/hooks/tokens.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/payments/links/components/CreatePaymentLinkButton.client.tsx
Labels: Dashboard

#7922 [Package] @thirdweb-dev/ai-sdk-provider
  .changeset/many-pants-tease.md
  .changeset/tricky-onions-jam.md
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/knip.json
  apps/playground-web/package.json
  apps/playground-web/src/app/ai/ai-sdk/components/chat-container.tsx
  apps/playground-web/src/app/ai/ai-sdk/page.tsx
  apps/playground-web/src/app/api/chat/route.ts
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/code/code-example.tsx
  apps/playground-web/src/components/conversation.tsx
  apps/playground-web/src/components/loader.tsx
  apps/playground-web/src/components/message.tsx
  apps/playground-web/src/components/prompt-input.tsx
  apps/playground-web/src/components/reasoning.tsx
  apps/playground-web/src/components/response.tsx
  apps/playground-web/src/components/ui/avatar.tsx
  apps/portal/package.json
  apps/portal/src/app/ai/chat/ai-sdk/page.mdx
  apps/portal/src/app/ai/sidebar.tsx
  package.json
  packages/ai-sdk-provider/README.md
  packages/ai-sdk-provider/biome.json
  packages/ai-sdk-provider/package.json
  packages/ai-sdk-provider/src/exports/thirdweb.ts
  packages/ai-sdk-provider/src/provider.ts
  packages/ai-sdk-provider/src/tools.ts
  packages/ai-sdk-provider/src/types.ts
  packages/ai-sdk-provider/tsconfig.base.json
  packages/ai-sdk-provider/tsconfig.build.json
  packages/ai-sdk-provider/tsconfig.json
  packages/thirdweb/src/adapters/eip1193/to-eip1193.test.ts
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, SDK

#7932 Version Packages
  .changeset/cuddly-results-play.md
  .changeset/eager-loops-fold.md
  .changeset/fuzzy-bars-wish.md
  .changeset/many-pants-tease.md
  .changeset/tricky-onions-jam.md
  packages/ai-sdk-provider/CHANGELOG.md
  packages/ai-sdk-provider/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7943 Version Packages
  .changeset/ripe-teeth-fold.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7930 Update Contracts FAQ
  apps/portal/src/app/contracts/faqs/page.mdx
Labels: Portal

#7947 [MNY-129] Dashboard: Use useSendAndConfirmTx everywhere, Replace createToken with prepareCreateToken
  apps/dashboard/.eslintrc.js
  apps/dashboard/src/@/components/contracts/functions/interactive-abi-function.tsx
  apps/dashboard/src/@/components/tx-button/MismatchButton.tsx
  apps/dashboard/src/@/hooks/useSendTx.ts
  apps/dashboard/src/@/hooks/useSplit.ts
  apps/dashboard/src/@/hooks/useVote.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/cancel-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/reset-claim-eligibility.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/deposit-native.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/accounts/components/create-account-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/data-table.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/BatchMetadata.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Claimable.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Mintable.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/ModuleForm.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/OpenEditionMetadata.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Royalty.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Transferable.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/module-card.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/airdrop-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/burn-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/claim-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/mint-supply-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/transfer-tab.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/update-metadata-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/batch-lazy-mint-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/claim-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/mint-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/reveal-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/shared-metadata-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/permissions/components/index.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/components/proposal-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/components/proposal.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-edition-drop/buy-edition-drop.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-nft-drop/buy-nft-drop.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/metadata.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/primary-sale.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/royalties.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/airdrop-form.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/burn-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/claim-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/mint-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/transfer-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/contracts/publish/[publish_uri]/contract-publish-form/index.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/rewards/components/claim-rewards-page.tsx
  packages/thirdweb/src/exports/tokens.ts
  packages/thirdweb/src/tokens/create-token.ts
Labels: Dashboard, packages, SDK

#7951 Dashboard: Fix footer not sticked to bottom on short contracts page
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/contract-page-layout.tsx
Labels: Dashboard

#7949 Version Packages
  .changeset/pretty-geese-win.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK
