Repository thirdweb-dev/js, pull requests merged in 2025-06, with the labels that each got.

#7246 [Docs] Improvements to acct, ec, and vault docs
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/account/billing/manage-team/page.mdx
  apps/portal/src/app/account/faq/page.mdx
  apps/portal/src/app/engine/v3/configure-wallets/smart-server-wallet/server-wallets/page.mdx
  apps/portal/src/app/engine/v3/faq/page.mdx
  apps/portal/src/app/engine/v3/troubleshoot/page.mdx
  apps/portal/src/app/nebula/faqs/page.mdx
  apps/portal/src/app/typescript/v5/migrate/page.mdx
  apps/portal/src/app/vault/faqs/page.mdx
Labels: Portal

#7247 docs: Add page on domain verification
  apps/portal/src/app/knowledge-base/how-to/verify-your-team-email-domain/page.mdx
  apps/portal/src/app/knowledge-base/sidebar.tsx
Labels: merge-queue, Portal

#7238 Add text input option to airdrop setup
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/distribution/token-airdrop.tsx
  apps/dashboard/src/hooks/useCsvUpload.ts
Labels: merge-queue, Dashboard

#7258 [Dashboard] Add support for Sophon mainnet
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/components/buttons/MismatchButton.tsx
Labels: Dashboard

#7263 [SDK] Force legacy for Plume 98866
  packages/thirdweb/src/gas/fee-data.ts
Labels: merge-queue, hotfix, SDK

#7266 [TOOL-4670] Dashboard: Update Managed Engine CTA, UI tweaks
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/overview/engine-instances-table.tsx
Labels: Dashboard

#7264 [TOOL-4667] Dashboard: Various improvements in ERC20 asset creation flow
  apps/dashboard/src/@/components/blocks/multi-step-status/multi-step-status.stories.tsx
  apps/dashboard/src/@/components/blocks/multi-step-status/multi-step-status.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/cards.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/create-token-page.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/distribution/token-distribution.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/distribution/token-sale.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/launch/launch-token.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/token-info-fieldset.tsx
  apps/dashboard/src/components/contract-components/tables/cells.tsx
  apps/dashboard/src/components/contract-components/tables/contract-table.tsx
  apps/dashboard/src/utils/errorParser.tsx
Labels: Dashboard

#7260 [TOOL-4651] Dashboard: Show error on invalid token distribution in ERC20 asset creation form
  apps/dashboard/src/@/components/blocks/distribution-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/create-token-card.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/assets/create/distribution/token-distribution.tsx
Labels: Dashboard

#7259 [TOOL-4642] Fix useTxNotifications errors not shown in project contract pages
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/contract/[chainIdOrSlug]/[contractAddress]/layout.tsx
Labels: Dashboard

#7267 [TOOL-4673] Dashboard: Enable posthog session recording for nebula app
  apps/dashboard/src/app/(app)/layout.tsx
  apps/dashboard/src/app/bridge/components/client/Providers.client.tsx
  apps/dashboard/src/app/bridge/layout.tsx
  apps/dashboard/src/app/nebula-app/layout.tsx
  apps/dashboard/src/app/pay/components/client/Providers.client.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/lib/posthog/Posthog.tsx
Labels: Dashboard

#7268 [SDK] Support EIP7702 execution for ecosystem wallets
  .changeset/small-moons-add.md
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/EcosystemPermissionsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/auth-options-section.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/types.ts
  apps/playground-web/src/components/in-app-wallet/ecosystem.tsx
  packages/thirdweb/src/wallets/ecosystem/get-ecosystem-wallet-auth-options.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/in-app-core.ts
Labels: Dashboard, Playground, packages, SDK

#7245 Version Packages
  .changeset/shaky-seals-cheer.md
  .changeset/small-moons-add.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7276 [service-utils] Remove `starter_legacy` plan type
  .changeset/many-hounds-wave.md
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/app/(app)/components/TeamPlanBadge.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsModal.tsx
  apps/dashboard/src/components/settings/Account/Billing/GatedSwitch.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/components/settings/Account/Billing/planToTierRecord.ts
  apps/dashboard/src/stories/stubs.ts
  apps/dashboard/src/utils/pricing.tsx
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: Dashboard, packages

#7278 [Docs] webhook and ub docs
  apps/portal/src/app/insight/sidebar.tsx
  apps/portal/src/app/insight/webhooks/assets/create-filters.png
  apps/portal/src/app/insight/webhooks/assets/create-webhooks.png
  apps/portal/src/app/insight/webhooks/assets/test-webhook.png
  apps/portal/src/app/insight/webhooks/page.mdx
  apps/portal/src/app/pay/sidebar.tsx
  apps/portal/src/app/pay/troubleshoot/page.mdx
Labels: Portal

#7280 [Dashboard] Add Sophon testnet to custom claim amounts
  apps/dashboard/src/app/(app)/api/testnet-faucet/claim/claim-amount.ts
Labels: Dashboard

#7281 fix: handle short proxyStorage in getBeaconFromStorageSlot
  packages/thirdweb/src/utils/bytecode/resolveImplementation.ts
Labels: packages, SDK

#7282 fix: handle short storage values in beacon proxy pattern
  .changeset/cold-icons-shop.md
  packages/thirdweb/src/utils/bytecode/handleBeaconProxyPattern.test.ts
Labels: packages, SDK

#7277 Version Packages
  .changeset/cold-icons-shop.md
  .changeset/many-hounds-wave.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7287 [Dashboard] Fix: Handle ping event
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
Labels: Dashboard

#7291 Nebula: Fix AutoConnect not using nebula client in root layout
  apps/dashboard/src/app/(app)/account/layout.tsx
  apps/dashboard/src/app/(app)/components/autoconnect.tsx
  apps/dashboard/src/app/(app)/providers.tsx
  apps/dashboard/src/app/nebula-app/providers.tsx
Labels: Dashboard

#7290 [Dashboard] Add detailed usage breakdown and billing preview
  apps/dashboard/src/@/api/usage/billing-preview.ts
  apps/dashboard/src/@/api/usage/rpc.ts
  apps/dashboard/src/@/components/blocks/charts/area-chart.tsx
  apps/dashboard/src/@/components/blocks/charts/bar-chart.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/account-permissions/components/account-signer.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/Analytics.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/PriceChart.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/[version]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/[publisher]/[contract_id]/opengraph-image.tsx
  apps/dashboard/src/app/(app)/account/wallets/LinkWalletUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/_components/usage-category-details.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/members/ManageInvitesSection.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/account-abstraction/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/overview/components/UsageCard.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/rpc/components/count-graph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/rpc/components/rate-graph.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/storage/your-files.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/EngineCloudChartCard/EngineCloudBarChartCardUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/RpcMethodBarChartCard/RpcMethodBarChartCardUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/alerts/components/ManageEngineAlerts.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/nebula/components/analytics/nebula-analytics-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
  apps/dashboard/src/components/contract-components/published-contract/index.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/InAppWalletUsersChartCard.tsx
  apps/dashboard/src/components/embedded-wallets/Users/index.tsx
  apps/dashboard/src/components/settings/AuthorizedWallets/AuthorizedWalletsTable.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/SponsoredTransactionsChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.tsx
  apps/dashboard/src/utils/date-utils.ts
Labels: Dashboard

#7272 feat: add SIWA feedback functionality to dashboard chat
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/CustomChat/CustomChats.tsx
Labels: Dashboard

#7299 [Dashboard] Add staff mode for viewing teams without membership
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.tsx
Labels: Dashboard

#7298 Nebula: Add Move funds page
  apps/dashboard/src/@/components/ui/decimal-input.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageLayout.tsx
  apps/dashboard/src/app/nebula-app/move-funds/connect-button.tsx
  apps/dashboard/src/app/nebula-app/move-funds/move-funds.tsx
  apps/dashboard/src/app/nebula-app/move-funds/page.tsx
  apps/dashboard/src/app/nebula-app/providers.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/buttons/TransactionButton.tsx
  apps/dashboard/src/middleware.ts
Labels: Dashboard

#7300 [Dashboard] Add audit log feature for Scale plan teams
  apps/dashboard/src/@/api/audit-log.ts
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/@/components/blocks/upsell-wrapper.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/types/chain.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/_components/entry.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/_components/list.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/search-params.ts
Labels: Dashboard

#7307 Nebula: Improved toasts in move funds page
  apps/dashboard/src/app/nebula-app/move-funds/move-funds.tsx
Labels: Dashboard

#7302 [Dashboard] Add notifications system with unread tracking
  apps/dashboard/package.json
  apps/dashboard/src/@/api/notifications.ts
  apps/dashboard/src/@/components/blocks/notifications/notification-button.tsx
  apps/dashboard/src/@/components/blocks/notifications/notification-entry.tsx
  apps/dashboard/src/@/components/blocks/notifications/notification-list.tsx
  apps/dashboard/src/@/components/blocks/notifications/state/manager.ts
  apps/dashboard/src/@/components/ui/drawer.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeader.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/(app)/components/Header/SecondaryNav/SecondaryNav.tsx
  apps/dashboard/src/app/(app)/team/components/NotificationButton/NotificationButton.stories.tsx
  apps/dashboard/src/app/(app)/team/components/NotificationButton/NotificationButton.tsx
  apps/dashboard/src/app/(app)/team/components/NotificationButton/fetch-notifications.ts
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/team-header-logged-in.client.tsx
  pnpm-lock.yaml
Labels: Dashboard

#7293 feat: create/delete teams
  apps/dashboard/src/@/actions/createTeam.ts
  apps/dashboard/src/@/actions/deleteTeam.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(app)/account/components/AccountHeader.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/(app)/account/overview/AccountTeamsUI.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/general/GeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamAndProjectSelectorPopoverButton.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamHeaderUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectionUI.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/TeamSelectorMobileMenuButton.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/app/(app)/team/~/[[...paths]]/page.tsx
Labels: Dashboard

#7318 [Dashboard] Improve error handling in billing checkout process
  apps/dashboard/src/app/(app)/(stripe)/_components/StripeRedirectErrorPage.tsx
  apps/dashboard/src/app/(app)/(stripe)/checkout/[team_slug]/[sku]/page.tsx
  apps/dashboard/src/app/(app)/(stripe)/utils/billing.ts
Labels: Dashboard

#7317 docs: add webhooks section to agents and LLMs documentation
  apps/portal/src/app/insight/agents-and-llms/llmstxt/page.mdx
  apps/portal/src/app/insight/agents-and-llms/page.mdx
  apps/portal/src/app/insight/webhooks/filtering/page.mdx
Labels: Portal

#7320 [Dashboard] Update URL rewrites for grants and superchain pages
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/portal/src/app/account/billing/credits/page.mdx
Labels: Dashboard, Portal

#7322 [Dashboard] Add 7-day free trial for Growth plan
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/utils/pricing.tsx
Labels: Dashboard

#7325 [Dashboard] Add self-service dedicated engine deployment option
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/cloud/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/EngineFooterCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/_components.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/overview/engine-instances-table.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/page.tsx
Labels: Dashboard

#7323 Fix typos in comments and test descriptions
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/storage/upload.ts
Labels: packages, SDK

#7326 update dependencies
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/engine/package.json
  packages/insight/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/vault-sdk/package.json
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#7328 update deps 2
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#7334 [Dashboard] Rename getMemberById to getMemberByAccountId and add onboarding banner
  apps/dashboard/src/@/api/team-members.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(app)/account/page.tsx
  apps/dashboard/src/app/(app)/components/TeamPlanBadge.tsx
  apps/dashboard/src/app/(app)/get-started/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/(app)/login/onboarding/isOnboardingRequired.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/invoices/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/settings/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
Labels: Dashboard

#7335 Update implementations
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: packages, SDK

#7330 [Nebula] Feature: Farcaster Mini App
  apps/dashboard/.env.example
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/dashboard/public/.well-known/apple-app-site-association
  apps/dashboard/public/.well-known/apple-developer-merchantid-domain-association
  apps/dashboard/public/.well-known/assetlinks.json
  apps/dashboard/public/assets/nebula/frame/ask-nebula-pfp.png
  apps/dashboard/public/assets/nebula/frame/ask-nebula-pfp.svg
  apps/dashboard/public/assets/nebula/frame/farcaster-logo.svg
  apps/dashboard/public/assets/nebula/frame/frame.png
  apps/dashboard/public/assets/nebula/frame/hero.svg
  apps/dashboard/public/assets/nebula/frame/icon.png
  apps/dashboard/public/assets/nebula/frame/icon.svg
  apps/dashboard/public/assets/nebula/frame/og.svg
  apps/dashboard/public/assets/nebula/frame/screenshot.svg
  apps/dashboard/public/assets/nebula/frame/splash.png
  apps/dashboard/public/assets/nebula/frame/splash.svg
  apps/dashboard/public/assets/nebula/frame/thirdweb-logo.png
  apps/dashboard/public/assets/nebula/frame/user-logo.svg
  apps/dashboard/src/app/.well-known/apple-app-site-association.json/route.ts
  apps/dashboard/src/app/.well-known/apple-developer-merchantid-domain-association/route.ts
  apps/dashboard/src/app/.well-known/assetlinks.json/route.ts
  apps/dashboard/src/app/.well-known/farcaster.json/route.ts
  apps/dashboard/src/app/nebula-app/(app)/_farcaster/miniapp-provider.tsx
  apps/dashboard/src/app/nebula-app/layout.tsx
  apps/dashboard/src/app/nebula-app/providers.tsx
  apps/dashboard/src/middleware.ts
  pnpm-lock.yaml
Labels: merge-queue, Dashboard

#7337 [Nebula] Fix: Security headers for Mini App
  apps/dashboard/next.config.ts
Labels: merge-queue, Dashboard

#7341 chore: update team/account docs for team management
  apps/portal/src/app/account/billing/manage-team/page.mdx
  apps/portal/src/app/account/page.mdx
  apps/portal/src/app/account/sidebar.tsx
  apps/portal/src/app/account/teams/assets/manage-team.png
  apps/portal/src/app/account/teams/manage-team-members/page.mdx
  apps/portal/src/app/account/teams/manage-teams/page.mdx
Labels: merge-queue, Portal

#7339 Feature: clarify webhook disclaimer
  apps/portal/src/app/pay/webhooks/page.mdx
Labels: Portal

#7346 [TOOL-4821] Improve Team members search
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/members/ManageMembersSection.tsx
Labels: Dashboard

#7304 Version Packages
  .changeset/better-owls-flash.md
  .changeset/calm-suits-stare.md
  .changeset/red-cooks-juggle.md
  .changeset/whole-ends-like.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: Dashboard, packages, SDK

#7358 Fix: Throw error if amount and gas is more than balance
  .changeset/weak-papayas-occur.md
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/react/core/hooks/useBridgeError.test.ts
  packages/thirdweb/src/react/core/hooks/usePaymentMethods.test.ts
  packages/thirdweb/src/react/core/hooks/wallets/useSendToken.ts
  packages/thirdweb/src/react/core/machines/paymentMachine.test.ts
  packages/thirdweb/src/react/web/adapters/adapters.test.ts
  packages/thirdweb/src/wallets/utils/getWalletBalance.ts
Labels: packages, SDK

#7359 Fix z-index issue in NFT asset page
  apps/dashboard/src/@/components/blocks/media-renderer.tsx
Labels: merge-queue, Dashboard

#7362 [Dashboard] Update rewrites and redirects for Connect to Build migration
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: Dashboard

#7361 Version Packages
  .changeset/fluffy-paws-slide.md
  .changeset/weak-papayas-occur.md
  apps/nebula/CHANGELOG.md
  apps/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7369 [PRO-199] Playground sidebar changes
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/app/navLinks.ts
Labels: Playground

#7373 insight playground - allow array items to be single item
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: merge-queue, Playground

#7375 Fix: Fallback insight owned tokens request to mainnet
  packages/thirdweb/src/insight/get-tokens.ts
Labels: merge-queue, packages, SDK

#7363 posthog migration: part 1
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/dashboard/src/app/(app)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/layout.tsx
  apps/dashboard/src/app/bridge/components/client/Providers.client.tsx
  apps/dashboard/src/app/pay/components/client/Providers.client.tsx
  apps/dashboard/src/components/wallets/PosthogIdentifier.tsx
  apps/dashboard/src/components/wallets/PosthogIdentifierServer.tsx
  apps/dashboard/src/hooks/analytics/useTrack.ts
  apps/dashboard/src/instrumentation-client.ts
  apps/dashboard/src/lib/posthog/Posthog.tsx
  apps/dashboard/src/lib/posthog/PosthogHeadSetup.tsx
  apps/dashboard/src/lib/posthog/PosthogPageView.tsx
  apps/dashboard/src/utils/errorParser.tsx
  apps/nebula/.env.example
  apps/nebula/next.config.ts
  apps/nebula/package.json
  apps/nebula/src/instrumentation-client.ts
  apps/playground-web/next.config.mjs
  apps/playground-web/package.json
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/instrumentation-client.ts
  apps/playground-web/src/lib/posthog/Posthog.tsx
  apps/playground-web/src/lib/posthog/PosthogHeadSetup.tsx
  apps/playground-web/src/lib/posthog/PosthogPageView.tsx
  apps/portal/next.config.mjs
  apps/portal/package.json
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/layout.tsx
  apps/portal/src/components/code/RenderCode.tsx
  apps/portal/src/components/others/Feedback.tsx
  apps/portal/src/instrumentation-client.ts
  apps/portal/src/lib/env.ts
  apps/portal/src/lib/posthog/Posthog.tsx
  apps/portal/src/lib/posthog/PosthogHeadSetup.tsx
  apps/portal/src/lib/posthog/PosthogPageView.tsx
  apps/wallet-ui/next.config.mjs
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, Ecosystem Portal

#7364 posthog migration: part 2
  apps/dashboard/.eslintrc.js
  apps/dashboard/src/@/analytics/hooks/identify-account.ts
  apps/dashboard/src/@/analytics/hooks/identify-team.ts
  apps/dashboard/src/@/analytics/reset.ts
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/app/(app)/account/components/AccountHeader.tsx
  apps/dashboard/src/app/(app)/account/settings/AccountSettingsPage.tsx
  apps/dashboard/src/app/(app)/login/LoginPage.tsx
  apps/dashboard/src/app/(app)/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/instrumentation-client.ts
Labels: Dashboard, Playground, Portal, Ecosystem Portal

#7376 [Dashboard] Add chain, publisher, and contract data to deploy failure analytics
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
Labels: Dashboard

#7387 [TOOL-4831] SDK: Fix MediaRenderer not showing poster for 3d models
  .changeset/heavy-ghosts-nail.md
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.test.tsx
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.tsx
Labels: packages, SDK

#7343 feat: add berachain and berachain-bepolia chains
  .changeset/spicy-cooks-smoke.md
  packages/thirdweb/src/chains/chain-definitions/berachain-bepolia.ts
  packages/thirdweb/src/chains/chain-definitions/berachain.ts
  packages/thirdweb/src/exports/chains.ts
Labels: merge-queue, packages, SDK

#7388 Dashboard: NFT asset page UI updates
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-edition-drop/buy-edition-drop.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/nfts-grid.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/token-viewer/token-viewer.tsx
Labels: Dashboard

#7390 Refactor: UB widget inputs
  .changeset/quick-foxes-raise.md
  apps/playground-web/src/app/connect/pay/components/CodeGen.tsx
  apps/playground-web/src/app/connect/pay/components/types.ts
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/app/connect/pay/embed/page.tsx
  apps/playground-web/src/components/pay/direct-payment.tsx
  apps/playground-web/src/components/pay/transaction-button.tsx
  apps/playground-web/src/components/universal-bridge/buy.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
Labels: Playground, packages, SDK

#7391 [Dashboard] Remove phone login option and add info alert
  apps/dashboard/src/app/(app)/login/LoginPage.tsx
Labels: Dashboard

#7392 [Dashboard] Disable 7-day trial for growth plan
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
Labels: Dashboard

#7386 Dashboard: Add redirects for project pages
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/utils.ts
Labels: Dashboard

#7393 Dashboard: Move Engine pages
  apps/dashboard/redirects.js
  apps/dashboard/src/@/components/blocks/Sidebar.tsx
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/@/components/ui/NavLink.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/filter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/explorer/components/scalar.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/explorer/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
  apps/dashboard/src/components/dashboard/StepsCard.tsx
Labels: Dashboard

#7384 Dashboard: Add webhooks tab in Contracts page
  apps/dashboard/redirects.js
  apps/dashboard/src/@/components/blocks/Sidebar.tsx
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/@/components/ui/NavLink.tsx
  apps/dashboard/src/app/(app)/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/(app)/account/contracts/_components/DeployedContractsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/webhooks/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(general)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/dedicated/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/engine/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/analytics-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/filter.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/send-test-tx.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/summary.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-chart/tx-chart-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-chart/tx-chart.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/tx-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/explorer/components/scalar.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/explorer/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/utils.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/lib/vault.client.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/create-server-wallet.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/components/try-it-out.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/create-vault-account.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/list-access-tokens.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/vault/components/rotate-admin-key.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/CreateWebhookModal.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/components/WebhooksTable.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/contract-webhooks/contract-webhooks-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/page.tsx
  apps/dashboard/src/components/dashboard/StepsCard.tsx
Labels: Dashboard

#7396 [SDK] Fix: Deprecate test mode
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
Labels: packages, SDK

#7381 feat: dedicated support self-serve
  apps/dashboard/src/@/api/dedicated-support.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/_components/settings-cards/dedicated-support.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
Labels: Dashboard, packages

#7401 Fix lint errors
  apps/portal/src/app/account/sidebar.tsx
  apps/portal/src/app/globals.css
Labels: Portal

#7405 Move Sentry config to instrumentation-client.ts
  apps/dashboard/sentry.client.config.ts
  apps/dashboard/src/instrumentation-client.ts
Labels: Dashboard

#7406 [Dashboard] Replace Sentry Replay with PostHog integration
  apps/dashboard/src/instrumentation-client.ts
Labels: Dashboard

#7411 fix: bug with no results on storage page
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/storage/your-files.tsx
Labels: Dashboard

#7413 [SDK] Handle non-URLs for metadata images in payment widgets
  .changeset/fluffy-cows-swim.md
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/components/pay/direct-payment.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/WithHeader.tsx
Labels: Playground, packages, SDK

#7417 Dashboard: group project sidebar links
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/components/ProjectSidebarLayout.tsx
Labels: Dashboard

#7423 [TOOL-4858] Update Team Usage Overview page UI for free plan
  apps/dashboard/src/@/components/blocks/upsell-wrapper.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/audit-log/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/usage/page.tsx
Labels: Dashboard

#7419 [TOOL-4856] Engine Server wallets table UI adjustment, Fix Vault Portal Link
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/ftux.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
Labels: Dashboard

#7425 Fix wallet row alignment in wide connect modal
  .changeset/slow-sites-call.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletEntryButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
Labels: packages, SDK

#7428 add eoa execution options type
  packages/engine/src/client/types.gen.ts
  packages/thirdweb/src/engine/server-wallet.ts
Labels: merge-queue, packages, SDK

#7414 Version Packages
  .changeset/fluffy-cows-swim.md
  .changeset/ninety-coats-pick.md
  .changeset/slow-sites-call.md
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7426 Feature: UB Widget Tracking and Docs
  .changeset/wild-cases-ask.md
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/BuyFundsSection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/PayModal.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/icons/CreditCardIcon.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/BuyFundsSection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
  apps/portal/public/llms-full.txt
  apps/portal/src/app/pay/customization/payembed/page.mdx
  apps/portal/src/app/react/v5/adapters/page.mdx
  apps/portal/src/app/react/v5/pay/fund-wallets/page.mdx
  apps/portal/src/app/react/v5/pay/transaction/page.mdx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/ErrorBanner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/UnsupportedTokenScreen.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-success/SuccessScreen.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/stories/Bridge/ErrorBanner.stories.tsx
  packages/thirdweb/src/stories/Bridge/SuccessScreen.stories.tsx
  packages/thirdweb/src/stories/Bridge/UnsupportedTokenScreen.stories.tsx
  packages/thirdweb/test/src/test-clients.js
  packages/thirdweb/test/src/test-clients.js.map
  packages/thirdweb/tsdoc.json
Labels: Dashboard, Portal, packages, SDK

#7434 [TOOL-4833] Add Manage Contract button in new public contract pages
  apps/dashboard/src/@/api/getProjectContracts.ts
  apps/dashboard/src/@/components/contracts/import-contract/modal.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/primary-dashboard-button.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.tsx
  apps/dashboard/src/app/(app)/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/(app)/account/contracts/_components/DeployViaCLIOrImportCard.tsx
  apps/dashboard/src/app/(app)/account/contracts/_components/DeployedContractsPage.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/contracts/layout.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/cards.tsx
  apps/dashboard/src/app/(app)/team/~/[[...paths]]/components/team-selector.stories.tsx
  apps/dashboard/src/app/(app)/team/~/[[...paths]]/components/team-selector.tsx
  apps/dashboard/src/app/(app)/team/~/[[...paths]]/page.tsx
  apps/dashboard/src/app/(app)/team/~/components/TeamAndProjectSelectorCard.stories.tsx
  apps/dashboard/src/app/(app)/team/~/components/TeamAndProjectSelectorCard.tsx
  apps/dashboard/src/app/(app)/team/~/~/contract/[chain]/[contractAddress]/components/project-selector.tsx
  apps/dashboard/src/app/(app)/team/~/~/contract/[chain]/[contractAddress]/page.tsx
Labels: Dashboard

#7435 Dashboard: remove date selector from UB FTUX, improved skeletons
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/universal-bridge/components/PayAnalytics.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/universal-bridge/loading.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/universal-bridge/page.tsx
Labels: Dashboard

#7439 feat: add webhook producer to service-utils
  .changeset/slimy-tigers-trade.md
  packages/service-utils/package.json
  packages/service-utils/src/node/index.ts
  packages/service-utils/src/node/usageV2.ts
  packages/service-utils/src/node/webhookProducer.ts
  pnpm-lock.yaml
Labels: packages

#7440 fix: typo on a field in webhook event helper
  .changeset/itchy-pandas-punch.md
  packages/service-utils/src/node/webhookProducer.ts
Labels: packages

#7441 [SDK] Chore: Remove onrampTokenAddress set to ETH
  .changeset/old-bats-love.md
  packages/thirdweb/src/bridge/Onramp.ts
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/react/core/hooks/useStepExecutor.ts
  packages/thirdweb/src/react/web/ui/Bridge/QuoteLoader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/StepRunner.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/FiatProviderSelection.tsx
Labels: packages, SDK

#7433 Version Packages
  .changeset/itchy-pandas-punch.md
  .changeset/little-items-allow.md
  .changeset/old-bats-love.md
  .changeset/rude-bags-say.md
  .changeset/slimy-tigers-trade.md
  .changeset/wild-cases-ask.md
  packages/engine/CHANGELOG.md
  packages/engine/package.json
  packages/insight/CHANGELOG.md
  packages/insight/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7448 [Portal] EIP-7702 Session Key Docs (.NET)
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/wallets/actions/createsessionkey7702/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/getcallpolicies7702/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/getsessionexpiration7702/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/getsessionstate7702/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/gettransferpolicies7702/page.mdx
  apps/portal/src/app/dotnet/wallets/actions/signerhaspermissions7702/page.mdx
Labels: Portal

#7449 Fix: Include correct client in payment link UI
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageEmbed.client.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: Dashboard

#7450 Feature: Adds onramp webhook schema to sdk
  .changeset/eleven-taxis-mix.md
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/bridge/Webhook.test.ts
  packages/thirdweb/src/bridge/Webhook.ts
Labels: packages, SDK

#7445 Version Packages
  .changeset/eleven-taxis-mix.md
  .changeset/huge-eggs-drop.md
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#7452 Feature: Add fallback when we cant fetch the token in new widgets
  .changeset/crazy-bushes-stick.md
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/bridge/Webhook.ts
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
Labels: Dashboard, Playground, packages, SDK

#7451 [SDK] Update zod dependency to 3.25.67
  .changeset/fluffy-books-hammer.md
  apps/dashboard/package.json
  apps/nebula/package.json
  apps/playground-web/package.json
  apps/wallet-ui/package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, packages, Ecosystem Portal, SDK

#7443 removed next steps chainlist page
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/NextSteps.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/ClaimChainSection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/components/server/products.ts
Labels: Dashboard

#7455 [Docs] Project Rebrand
  apps/portal/src/app/Header.tsx
  apps/portal/src/app/connect/layout.tsx
  apps/portal/src/app/connect/page.mdx
  apps/portal/src/app/connect/wallet/faq/page.mdx
  apps/portal/src/app/connect/wallet/get-started/page.mdx
  apps/portal/src/app/connect/wallet/migrate-to-thirdweb/page.mdx
  apps/portal/src/app/engine/v2/sidebar.tsx
  apps/portal/src/app/engine/v3/configure-wallets/server-wallets/page.mdx
  apps/portal/src/app/engine/v3/configure-wallets/smart-server-wallet/page.mdx
  apps/portal/src/app/engine/v3/faq/page.mdx
  apps/portal/src/app/engine/v3/get-started/page.mdx
  apps/portal/src/app/engine/v3/layout.tsx
  apps/portal/src/app/engine/v3/migrate/page.mdx
  apps/portal/src/app/engine/v3/page.mdx
  apps/portal/src/app/engine/v3/sidebar.tsx
  apps/portal/src/app/engine/v3/troubleshoot/page.mdx
  apps/portal/src/app/engine/v3/typescript-sdk/page.mdx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/pay/customization/connectbutton/page.mdx
  apps/portal/src/app/pay/customization/send-transaction/page.mdx
  apps/portal/src/app/pay/faqs/page.mdx
  apps/portal/src/app/pay/fees/page.mdx
  apps/portal/src/app/pay/get-started/page.mdx
  apps/portal/src/app/pay/guides/cross-chain-swapping/page.mdx
  apps/portal/src/app/pay/guides/nft-checkout/page.mdx
  apps/portal/src/app/pay/guides/onramp-integration/page.mdx
  apps/portal/src/app/pay/guides/smart-accounts/page.mdx
  apps/portal/src/app/pay/layout.tsx
  apps/portal/src/app/pay/onramp-providers/page.mdx
  apps/portal/src/app/pay/page.mdx
  apps/portal/src/app/pay/sidebar.tsx
  apps/portal/src/app/pay/supported-chains/page.mdx
  apps/portal/src/app/pay/troubleshoot/page.mdx
  apps/portal/src/app/pay/webhooks/page.mdx
  pnpm-lock.yaml
Labels: Portal

#7458 [TOOL-4897] Dashboard: Add Contract creator badge in Coin and NFT asset page
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/getContractCreator.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractCreatorBadge.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.stories.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/ContractHeader.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page-layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page.tsx
Labels: Dashboard

#7460 [TOOL-4899] Dashboard: fetch token icon from bridge api as fallback in coin asset page
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_utils/fetch-coin-info.ts
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
Labels: Dashboard

#7454 Fix: Exclude IAW when smart wallets are used
  .changeset/fifty-turtles-sneeze.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/wallets/defaultWallets.ts
Labels: merge-queue, packages, SDK

#7427 Update engine API
  .changeset/heavy-banks-think.md
  .changeset/lovely-brooms-relax.md
  apps/dashboard/biome.json
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/analytics/tx-table/types.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/tx/[id]/transaction-details-ui.tsx
  apps/nebula/biome.json
  apps/playground-web/biome.json
  apps/portal/biome.json
  apps/wallet-ui/biome.json
  biome.json
  packages/engine/biome.json
  packages/engine/openapi-ts.config.ts
  packages/engine/package.json
  packages/engine/src/client/client.gen.ts
  packages/engine/src/client/client/client.ts
  packages/engine/src/client/client/index.ts
  packages/engine/src/client/client/types.ts
  packages/engine/src/client/client/utils.ts
  packages/engine/src/client/core/auth.ts
  packages/engine/src/client/core/bodySerializer.ts
  packages/engine/src/client/core/params.ts
  packages/engine/src/client/core/pathSerializer.ts
  packages/engine/src/client/core/types.ts
  packages/engine/src/client/sdk.gen.ts
  packages/engine/src/client/types.gen.ts
  packages/engine/src/configure.ts
  packages/engine/src/exports/thirdweb.ts
  packages/engine/tsconfig.build.json
  packages/engine/tsconfig.json
  packages/insight/biome.json
  packages/nebula/biome.json
  packages/react-native-adapter/biome.json
  packages/service-utils/biome.json
  packages/thirdweb/biome.json
  packages/thirdweb/src/engine/server-wallet.test.ts
  packages/thirdweb/src/engine/server-wallet.ts
  packages/thirdweb/src/engine/wait-for-tx-hash.ts
  packages/thirdweb/src/react/web/ui/Bridge/payment-details/PaymentDetails.tsx
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.ts
  packages/thirdweb/src/wallets/in-app/web/lib/in-app-gateway.test.ts
  packages/vault-sdk/biome.json
  packages/wagmi-adapter/biome.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#7465 [SDK] Add enableCard prop to control fiat payment visibility
  .changeset/dull-breads-start.md
  apps/playground-web/src/app/connect/pay/components/CodeGen.tsx
  apps/playground-web/src/app/connect/pay/components/types.ts
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/app/connect/pay/embed/page.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BridgeOrchestrator.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/CheckoutWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/PaymentSelection.tsx
  packages/thirdweb/src/react/web/ui/Bridge/payment-selection/WalletFiatSelection.tsx
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
  packages/thirdweb/src/wallets/in-app/core/authentication/backend.test.ts
  pnpm-lock.yaml
Labels: Playground, packages, SDK

#7469 docs: Update imports in react v5 adaptor examples
  apps/portal/src/app/react/v5/adapters/page.mdx
Labels: Portal

#7471 [Dashboard] Add client ID header to embedded wallets fetch request
  apps/dashboard/src/@/hooks/useEmbeddedWallets.ts
Labels: Dashboard

#7473 [Playground] Update product details from hoodie to concert ticket
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/components/pay/direct-payment.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
Labels: Playground, packages, SDK

#7472 chore: Enable telegram support channel, add join link button
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/_components/settings-cards/dedicated-support.tsx
  packages/service-utils/src/core/api.ts
Labels: Dashboard, packages

#7475 [PRO-218] Dashboard: Add product rebrand banner
  apps/dashboard/src/@/components/misc/AnnouncementBanner.tsx
Labels: Dashboard

#7476 [PRO-211, PRO-210] Dashboard: Copy changes
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/webhooks/layout.tsx
Labels: Dashboard
