Repository thirdweb-dev/js, pull requests merged in 2025-04, with the labels that each got.

#6604 [Playground] Fix: Filter UB Backend API for only GETs
  apps/playground-web/src/app/connect/pay/backend/page.tsx
Labels: merge-queue, Playground

#6589 Version Packages
  .changeset/neat-wasps-count.md
  .changeset/wicked-kings-joke.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6605 [SDK] Only onramp for required transaction amount
  .changeset/cyan-kids-hide.md
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
Labels: packages, SDK

#6607 [SDK] Show past transactions in transactions modal screen
  .changeset/fruity-cooks-know.md
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  packages/thirdweb/src/react/core/hooks/contract/useWaitForReceipt.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletTransactionHistory.tsx
  packages/thirdweb/src/transaction/transaction-store.ts
  packages/thirdweb/src/utils/domain.test.ts
  packages/thirdweb/src/utils/domains.ts
Labels: Playground, packages, SDK

#6608 [TOOL-3768] Dashboard: Move Nebula from team to project layout
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/fetch-nebula-analytics.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-filter.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
Labels: Dashboard

#6609 [TOOL-3766] Dashboard: Account Abstraction page updates
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/TotalSponsoredCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTableUI.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/UsageCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AAFooterSection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/isOpChain.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/components/analytics/stat.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/InAppWalletUsersChartCard.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/Summary.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/AccountAbstractionSummary.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/SponsoredTransactionsChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/index.tsx
Labels: Dashboard

#6612 Remove custom config for Ronin
  .changeset/stupid-rice-show.md
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
Labels: merge-queue, hotfix, packages, SDK

#6606 Version Packages
  .changeset/cyan-kids-hide.md
  .changeset/fruity-cooks-know.md
  .changeset/stupid-rice-show.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6617 [Dashboard] Feature: Token symbol search
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/search.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
Labels: Dashboard

#6615 [SDK] Handle entrypoint resolution inside createAndSignUserOp
  .changeset/eight-pants-help.md
  packages/thirdweb/src/wallets/smart/lib/userop.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: packages, SDK

#6618 [SDK] show transfer amounts with fees
  .changeset/purple-rice-bet.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/SwapDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: packages, SDK

#6619 Version Packages
  .changeset/eight-pants-help.md
  .changeset/purple-rice-bet.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6613 [SDK] Feature: Adds action field to Bridge transactions
  .changeset/curvy-paths-burn.md
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/types/Quote.ts
Labels: packages, SDK

#6610 [TOOL-3762] Dashboard: Update In-app wallet analytics page
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/Summary.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/header.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/page.tsx
  apps/dashboard/src/components/analytics/stat.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/Summary.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/index.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/AccountAbstractionSummary.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/index.tsx
Labels: Dashboard

#6520 [SDK] Feature: added ru_RU locale to thirdweb package
  .changeset/silver-doors-change.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/locale/ru.ts
  packages/thirdweb/src/react/web/ui/types.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/getInjectedWalletLocale.test.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/getInjectedWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/injected/locale/ru.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/getConnectLocale.ts
  packages/thirdweb/src/react/web/wallets/shared/locale/ru.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/getSmartWalletLocale.test.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/getSmartWalletLocale.ts
  packages/thirdweb/src/react/web/wallets/smartWallet/locale/ru.ts
Labels: packages, SDK

#6621 Connect to current wallet chain when connecting other wallets in PayEmbed
  .changeset/funny-months-smell.md
  apps/dashboard/package.json
  apps/playground-web/package.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/WalletSwitcherConnectionScreen.tsx
  pnpm-lock.yaml
Labels: Dashboard, Playground, packages, SDK

#6611 [TOOL-3763] Dashboard: Update Contracts page
  apps/dashboard/src/app/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployViaCLIOrImportCard.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployedContractsPage.tsx
  apps/dashboard/src/app/account/contracts/_components/GetStartedWithContractsDeploy.tsx
  apps/dashboard/src/components/contract-components/tables/contract-table.tsx
Labels: Dashboard

#6616 [TOOL-3764] Dashboard: Add Nebula FTUX
  apps/dashboard/src/app/account/contracts/_components/DeployViaCLIOrImportCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/ClientIDSection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/IntegrateAPIKeyCodeTabs.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/WaitingForIntegrationCard/WaitingForIntegrationCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/insight-ftux.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/nebula-ftux.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
Labels: Dashboard

#6624 Add /brand-kit to framer rewrites
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#6628 [SDK] Fix updateListing date handling in marketplace direct listings
  .changeset/new-spoons-lick.md
  packages/thirdweb/src/exports/extensions/erc721.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/direct-listings.test.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/write/updateListing.ts
Labels: packages, SDK

#6626 [SDK] Emit accountChanged event when smart wallets switch chains
  .changeset/good-corners-stare.md
  packages/thirdweb/src/wallets/smart/smart-wallet.ts
Labels: packages, SDK

#6627 [TOOL-3909] Dashboard: Add footer links to project pages & header style adjustments
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/@/components/blocks/app-footer.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployedContractsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/footer/FooterLinksSection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AAFooterSection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/footer.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/header.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/components/wallets/SupportedPlatformLink.tsx
  apps/portal/src/app/nebula/tools/python-sdk/installation/page.mdx
  apps/portal/src/app/react-native/v5/page.mdx
Labels: Dashboard, Portal

#6634 Dashboard: Fix project settings page max-width
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/layout.tsx
Labels: Dashboard

#6636 Dashboard: Fix timestamp ordering in various charts, migrate them to use ThirdwebBarChart
  apps/dashboard/src/@/components/blocks/charts/bar-chart.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/InAppWalletUsersChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/SponsoredTransactionsChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.stories.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/storyUtils.ts
Labels: Dashboard

#6620 Version Packages
  .changeset/curvy-paths-burn.md
  .changeset/funny-months-smell.md
  .changeset/good-corners-stare.md
  .changeset/new-spoons-lick.md
  .changeset/silver-doors-change.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6632 Update Next.js to 15.2.4 and other dependencies
  .changeset/eager-buttons-shave.md
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#6640 [SDK] Fix ethers6 provider override
  .changeset/solid-aliens-eat.md
  packages/thirdweb/src/adapters/ethers6.ts
  packages/thirdweb/src/utils/any-evm/zksync/constants.ts
Labels: packages, SDK

#6638 Version Packages
  .changeset/eager-buttons-shave.md
  .changeset/solid-aliens-eat.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6643 Update deploy config
  .changeset/chilly-bats-cheat.md
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  packages/thirdweb/src/extensions/prebuilts/deploy-marketplace.ts
Labels: Dashboard, packages, SDK

#6641 Add team capabilities to service-utils
  .changeset/loose-comics-serve.md
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/mocks.ts
Labels: Dashboard, packages

#6646 Fix newline at end of monad-testnet.ts
  packages/thirdweb/src/chains/chain-definitions/monad-testnet.ts
Labels: packages, SDK

#6644 Version Packages
  .changeset/chilly-bats-cheat.md
  .changeset/loose-comics-serve.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6651 [TOOL-3954] Dashboard: Add tracking in contracts page
  apps/dashboard/src/app/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployViaCLIOrImportCard.tsx
Labels: Dashboard

#6652 [TOOL-3564] Playground: Select multiple chains in insight playground
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/playground-web/src/components/blocks/NetworkSelectors.tsx
  apps/playground-web/src/components/blocks/multi-select.tsx
  apps/playground-web/src/lib/useShowMore.ts
Labels: Playground

#6653 Ub docs 2
  apps/portal/src/app/connect/pay/faqs/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/react/v5/pay/fund-wallets/page.mdx
  apps/portal/src/app/react/v5/pay/transaction/page.mdx
  packages/thirdweb/CHANGELOG.md
Labels: Portal, packages, SDK

#6654 Insight Playground: Show error when no chains selected
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: Playground

#6655 [SDK/Dashboard] fix: ERC1155 single phase claim conditions
  .changeset/blue-geese-refuse.md
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/hooks.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/reset-claim-eligibility.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/claim-conditions/ClaimConditions.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/claim-conditions/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/useNftDrawerTabs.tsx
  packages/thirdweb/scripts/generate/abis/erc1155/IDropSinglePhase1155.json
  packages/thirdweb/src/exports/extensions/erc1155.ts
  packages/thirdweb/src/extensions/erc1155/__generated__/IDropSinglePhase1155/read/claimCondition.ts
  packages/thirdweb/src/extensions/erc1155/customDrop1155.test.ts
  packages/thirdweb/src/extensions/erc1155/drops/read/getActiveClaimCondition.ts
  packages/thirdweb/src/extensions/erc1155/drops/read/getClaimConditions.ts
  packages/thirdweb/src/extensions/erc1155/drops/write/resetClaimEligibility.ts
  packages/thirdweb/src/utils/extensions/drops/get-claim-params.ts
Labels: merge-queue, Dashboard, packages, SDK

#6657 [Docs] Fix: Add missing import
  apps/portal/src/app/react/v5/account-abstraction/get-started/page.mdx
Labels: Portal

#6660 Dashboard: Team invoices page style tweaks
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/invoices/components/billing-history.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/invoices/page.tsx
Labels: Dashboard

#6659 [Dashboard] Add team ID to ecosystem API requests
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/add-partner/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/EcosystemPermissionsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/auth-options-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/integration-permissions-toggle.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/auth-options-section.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/ecosystem-partners-section.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/integration-permissions-section.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/server/partners-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/fetchPartnerDetails.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/fetchPartners.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-add-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-delete-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-update-ecosystem.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-update-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/partners/[partner_id]/edit/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/hooks/use-partners.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/page.tsx
Labels: Dashboard

#6658 update dependencies
  apps/dashboard/package.json
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/add-contract-subscription-button.tsx
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#6661 Dashboard: Remove chakra usage from contract analytics page, style tweaks
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.tsx
  apps/dashboard/src/global.css
Labels: Dashboard

#6664 Dashboard: Contract page style adjustments, fixes, reduce chakra usage
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/ContractDirectListingsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/ContractEnglishAuctionsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/primary-dashboard-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/ContractNFTPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/supply-cards.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/ContractOverviewPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/NFTDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/stat-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/supply.tsx
  apps/dashboard/src/tw-components/nft-media.tsx
Labels: Dashboard

#6665 Dashboard: Update NFT token details page styles, reduce chakra usage
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/metadata-header.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/nft-property.tsx
Labels: Dashboard

#6666 Dashboard: Update contracts page header: render on top of sidebar
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/contract-page-layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/metadata-header.tsx
Labels: Dashboard

#6674 [TOOL-3969] Dashboard: Update Plans, Add cancel plan, and other related UI updates
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/@/lib/billing.ts
  apps/dashboard/src/app/components/TeamPlanBadge.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/InviteTeamMembers.stories.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/credits/SettingsCreditsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsForm.tsx
  apps/dashboard/src/components/onboarding/ApplyForOpCreditsModal.tsx
  apps/dashboard/src/components/onboarding/PlanCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/BillingPricing.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/CancelPlanModal/CancelPlanModal.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/dashboard/src/stories/stubs.ts
  apps/dashboard/src/utils/pricing.tsx
  packages/service-utils/src/core/api.ts
Labels: Dashboard, packages

#6675 Dashboard: Update pricing cards, style tweaks
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/CancelPlanModal/CancelPlanModal.tsx
  apps/dashboard/src/utils/pricing.tsx
Labels: hotfix, Dashboard

#6676 [Dashboard] Contracts sources page: migrate from chakra to tailwind+shadcn
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/sources/ContractSourcesPage.tsx
  apps/dashboard/src/components/contract-components/shared/sources-accordion.tsx
  apps/dashboard/src/components/contract-components/shared/sources-panel.tsx
Labels: Dashboard

#6680 update insight playground routes
  apps/playground-web/src/app/insight/insightBlueprints.ts
Labels: merge-queue, Playground

#6678 update dependencies
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#6685 [TOOL-4028] Dashboard: Limit team name to 32 chars
  apps/dashboard/src/app/login/onboarding/team-onboarding/TeamInfoForm.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
Labels: Dashboard

#6667 Update deploy config
  apps/dashboard/src/app/(dashboard)/contracts/deploy/[compiler_uri]/page.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/publish-based-deploy.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/uri-based-deploy.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/constants/fee-config.ts
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: merge-queue, Dashboard, packages, SDK

#6686 [SDK] Pass through desired chain when signing in with wallet for ecosystems
  .changeset/orange-suns-attack.md
  packages/thirdweb/src/react/web/wallets/ecosystem/EcosystemWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/InAppWalletConnectUI.tsx
  packages/thirdweb/src/react/web/wallets/in-app/WalletAuth.tsx
Labels: packages, SDK

#6656 Version Packages
  .changeset/blue-geese-refuse.md
  .changeset/orange-suns-attack.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6688 [Portal] Hotfix Unity sidebar link
  apps/portal/src/app/unity/v5/sidebar.tsx
Labels: merge-queue, Portal

#6687 [Portal] Fix: updates broken-links on nebula sessions docs
  apps/portal/src/app/nebula/key-concepts/sessions/page.mdx
Labels: Portal

#6689 [Dashboard] Fix : Adding COTI chain page details
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/COTI_Banner.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/COTI_CTA.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: Dashboard

#6690 [SDK] Add smartAccountAddress to getUser result
  .changeset/five-buses-mix.md
  packages/thirdweb/src/wallets/in-app/core/users/getUser.ts
Labels: packages, SDK

#6691 Version Packages
  .changeset/five-buses-mix.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6692 update insight plaground routes
  apps/playground-web/scripts/utils.ts
  apps/playground-web/src/app/insight/insightBlueprints.ts
  apps/playground-web/src/app/insight/utils.ts
Labels: Playground

#6693 [Pay] Add extra gas buffer for quote and transfer transactions
  .changeset/young-poets-do.md
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
Labels: packages, SDK

#6694 Version Packages
  .changeset/young-poets-do.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6695 [Pay] Add feePayer option for direct_payment mode in PayEmbed
  .changeset/brave-wombats-smoke.md
  apps/playground-web/src/components/pay/direct-payment.tsx
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: Playground, packages, SDK

#6696 Version Packages
  .changeset/brave-wombats-smoke.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6697 [TOOL-4057] Dashboard: Update Storage pinning card in team usage page
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/utils/number.ts
Labels: Dashboard

#6700 Dashboard: Fix contract overpage page overflow when there are too many events in single tx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/ContractOverviewPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/LatestEvents.tsx
Labels: hotfix, Dashboard

#6701 Fix getClaimConditions
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/hooks.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/claim-conditions/claim-conditions-form/index.tsx
  packages/thirdweb/src/extensions/erc1155/drops/read/getClaimConditions.ts
Labels: Dashboard, packages, SDK

#6702 Refactor rate limiting to use separate read/write Redis operations
  .changeset/brown-moles-peel.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
Labels: packages

#6703 Version Packages
  .changeset/brown-moles-peel.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

#6704 Fix incrBy to incrby in rate limit implementation
  .changeset/giant-humans-say.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
Labels: packages

#6705 Version Packages
  .changeset/giant-humans-say.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
Labels: packages

#6707 [SDK] Add retry logic to predictAccountAddress
  .changeset/slow-mice-grin.md
  packages/thirdweb/src/extensions/erc1155/customDrop1155.test.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
Labels: packages, SDK

#6709 Version Packages
  .changeset/slow-mice-grin.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6712 [SDK] Don't retry on user connection rejection in EIP1193 connector
  .changeset/tall-terms-slide.md
  packages/thirdweb/src/wallets/injected/index.ts
Labels: packages, SDK

#6714 [Dashboard] Feature: Improve chainlist bridge copy
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/BuyFundsSection.tsx
Labels: merge-queue, Dashboard

#6716 [SDK] Fix: Error message cleanup on UB embed
  .changeset/moody-pants-play.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/Stepper.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ErrorText.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: merge-queue, React SDK, packages, SDK

#6717 [Dashboard] Add partner-based analytics for ecosystem wallet usage
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemWalletUsersChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/types/analytics.ts
Labels: Dashboard

#6715 Version Packages
  .changeset/moody-pants-play.md
  .changeset/tall-terms-slide.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6727 [Dashboard] Feature: bridge UI
  apps/dashboard/src/app/(dashboard)/(bridge)/bridge/components/client/UniversalBridgeEmbed.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/bridge/page.tsx
Labels: Dashboard

#6706 [SDK] Add Insight API client
  .changeset/quick-bugs-remain.md
  .changeset/wicked-pianos-carry.md
  .github/workflows/CI.yml
  apps/playground-web/src/components/pay/embed.tsx
  apps/playground-web/src/components/styled-connect-button.tsx
  apps/playground-web/src/lib/client.ts
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  packages/insight/README.md
  packages/insight/biome.json
  packages/insight/openapi-ts.config.ts
  packages/insight/package.json
  packages/insight/src/client/client.gen.ts
  packages/insight/src/client/index.ts
  packages/insight/src/client/sdk.gen.ts
  packages/insight/src/client/types.gen.ts
  packages/insight/src/configure.ts
  packages/insight/src/exports/thirdweb.ts
  packages/insight/tsconfig.base.json
  packages/insight/tsconfig.build.json
  packages/insight/tsconfig.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/knip.json
  packages/thirdweb/package.json
  packages/thirdweb/scripts/typedoc.mjs
  packages/thirdweb/src/exports/insight.ts
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/insight/get-tokens.ts
  packages/thirdweb/src/insight/get-transactions.ts
  packages/thirdweb/src/insight/index.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewAssets.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewNFTs.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewTokens.tsx
  packages/thirdweb/src/react/web/ui/MediaRenderer/useResolvedMediaType.ts
  packages/thirdweb/src/transaction/transaction-store.ts
  packages/thirdweb/src/utils/fetch.ts
  packages/thirdweb/tsdoc.json
  pnpm-lock.yaml
  turbo.json
Labels: Playground, Portal, packages, SDK

#6730 chore: Update rate limit to sliding window (10s)
  .changeset/open-ends-melt.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
Labels: merge-queue, packages

#6729 Fix dynamic contract publish
  packages/thirdweb/scripts/generate/abis/dynamic-contracts/IExtensionManager.json
  packages/thirdweb/src/extensions/dynamic-contracts/__generated__/IExtensionManager/read/getAllExtensions.ts
  packages/thirdweb/src/extensions/thirdweb/write/publish.ts
Labels: packages, SDK

#6683 Get events from insight
  .changeset/ready-tigers-pump.md
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  packages/thirdweb/.size-limit.json
  packages/thirdweb/src/chains/types.ts
  packages/thirdweb/src/chains/utils.ts
  packages/thirdweb/src/event/actions/get-events.test.ts
  packages/thirdweb/src/event/actions/get-events.ts
  packages/thirdweb/src/insight/get-events.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/insight/get-tokens.ts
  packages/thirdweb/src/insight/get-transactions.ts
  packages/thirdweb/src/insight/index.ts
Labels: DO NOT MERGE, Dashboard, packages, SDK

#6731 [NEB-168] Nebula: Improve Execute Transaction Card UI
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/metadata-header.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/single-network-selector.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/contract-subscriptions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/relayers/components/relayers-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTableUI.tsx
  apps/dashboard/src/components/cmd-k-search/index.tsx
  apps/dashboard/src/components/configure-networks/ConfigureNetworkForm.tsx
  apps/dashboard/src/components/contract-components/tables/contract-table.tsx
  apps/dashboard/src/components/icons/ChainIcon.tsx
  apps/dashboard/src/components/selects/CustomChainRenderer.tsx
  apps/dashboard/src/components/selects/NetworkSelectDropdown.tsx
  apps/dashboard/src/components/selects/NetworkSelectorButton.tsx
  apps/dashboard/src/components/settings/Account/Billing/CreditsItem.tsx
Labels: Dashboard

#6733 Add RPC usage dashboard with rate limit monitoring
  apps/dashboard/src/@/api/usage/rpc.ts
  apps/dashboard/src/@/components/blocks/charts/area-chart.tsx
  apps/dashboard/src/@/components/ui/chart.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/components/count-graph.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/components/rate-graph.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/page.tsx
Labels: DO NOT MERGE, Dashboard

#6734 [SDK] Improve error messages for failed HTTP requests
  .changeset/yummy-toys-hug.md
  apps/wallet-ui/src/lib/assets/erc721.ts
  apps/wallet-ui/src/lib/chains.ts
  packages/thirdweb/src/pay/buyWithCrypto/getHistory.ts
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/pay/buyWithFiat/getHistory.ts
  packages/thirdweb/src/pay/buyWithFiat/getStatus.ts
  packages/thirdweb/src/pay/getBuyHistory.ts
  packages/thirdweb/src/rpc/fetch-rpc.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/biconomy.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/openzeppelin.ts
Labels: packages, Ecosystem Portal, SDK

#6735 Add support for starter, accelerate, and scale tiers
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
Labels: Dashboard

#6737 Fix RPC usage graphs and improve rate limit visualization
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/components/count-graph.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/components/rate-graph.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/page.tsx
Labels: Dashboard

#6736 [NEB-123] Nebula: Allow setting context with search params
  .npmrc
  apps/dashboard/src/app/nebula-app/(app)/chat/[session_id]/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/chat/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/page.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
  apps/dashboard/src/app/nebula-app/login/page.tsx
  apps/dashboard/src/middleware.ts
Labels: Dashboard

#6738 Nebula: Do not override chains set from search params
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
Labels: Dashboard

#6743 [Dashboard] Feature : Adding Next Steps guide into chain pages
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/NextSteps.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/page.tsx
Labels: merge-queue, Dashboard

#6739 Portal: Use next-themes for theme management instead of custom code
  apps/portal/package.json
  apps/portal/src/app/globals.css
  apps/portal/src/app/layout.tsx
  apps/portal/src/components/others/theme/ThemeSwitcher.tsx
  apps/portal/src/components/others/theme/theme.tsx
  apps/portal/src/components/ui/skeleton.tsx
  pnpm-lock.yaml
Labels: Portal

#6740 Dashboard: Remove reo.dev from CSP script-src in next.config
  apps/dashboard/next.config.ts
Labels: Dashboard

#6744 Nebula: Fix chat session randomly showing empty state after first prompt
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
Labels: Dashboard

#6748 Fix RPC usage page to handle missing peak date
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/page.tsx
Labels: Dashboard

#6745 [NEB-172]: Remove Nebula waitlist
  apps/dashboard/src/@/actions/joinWaitlist.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/nebula-app/(app)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page-ui.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/nebula-waitlist.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/share-button.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/page.tsx
Labels: Dashboard

#6747 [NEB-170] Nebula: Various UI changes
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebarLink.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/components/contract-components/published-contract/markdown-renderer.tsx
  apps/dashboard/src/global.css
Labels: Dashboard

#6741 [SDK] Use insight for erc721/getNFTs and erc721/getOwnedNFTs
  .changeset/purple-bats-march.md
  .github/workflows/CI.yml
  apps/dashboard/src/@/actions/getWalletNFTs.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_components/NFTCards.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/nfts-owned.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/MarketplaceDetails.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/supply.tsx
  apps/dashboard/src/lib/wallet/nfts/moralis.ts
  packages/thirdweb/src/chains/utils.ts
  packages/thirdweb/src/event/actions/get-events.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFT.ts
  packages/thirdweb/src/extensions/erc20/drop20.test.ts
  packages/thirdweb/src/extensions/erc20/read/getBalance.test.ts
  packages/thirdweb/src/extensions/erc20/read/getBalance.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.test.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getOwnedNFTs.test.ts
  packages/thirdweb/src/extensions/erc721/read/getOwnedNFTs.ts
  packages/thirdweb/src/extensions/erc721/token721.test.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/direct-listings.test.ts
  packages/thirdweb/src/extensions/marketplace/direct-listings/utils.ts
  packages/thirdweb/src/extensions/marketplace/english-auctions/utils.ts
  packages/thirdweb/src/extensions/marketplace/offers/utils.ts
  packages/thirdweb/src/insight/common.ts
  packages/thirdweb/src/insight/get-events.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/insight/get-tokens.ts
  packages/thirdweb/src/insight/get-transactions.ts
  packages/thirdweb/src/insight/index.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewNFTs.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/ViewTokens.tsx
  packages/thirdweb/src/react/web/ui/components/TokenIcon.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/utils.test.ts
  packages/thirdweb/src/react/web/ui/prebuilt/NFT/utils.ts
  packages/thirdweb/src/social/profiles.ts
  packages/thirdweb/src/storage/download.ts
  packages/thirdweb/src/storage/unpin.ts
  packages/thirdweb/src/storage/upload/web-node.ts
  packages/thirdweb/src/utils/nft/parseNft.test.ts
  packages/thirdweb/src/utils/nft/parseNft.ts
  packages/thirdweb/src/utils/signatures/resolve-signature.ts
  packages/thirdweb/src/wallets/smart/lib/calls.ts
  packages/thirdweb/src/wallets/utils/getWalletBalance.ts
  packages/thirdweb/test/src/test-clients.ts
Labels: Dashboard, packages, SDK

#6752 [SDK] Simplify RPC request handling
  .changeset/orange-icons-hide.md
  packages/thirdweb/src/rpc/fetch-rpc.ts
  packages/thirdweb/src/rpc/rpc.ts
Labels: packages, SDK

#6751 added invite team button in dash homepage
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
Labels: merge-queue, Dashboard

#6750 [NEB-167] Add Nebula floating chat button in chain and contract pages
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chats.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/data/examplePrompts.ts
Labels: Dashboard

#6754 [Dashboard] Adding telegram field to support ticket creation
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.client.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_TelegramInput.tsx
Labels: Dashboard

#6756 Dashboard: disable prefetch for footer links
  apps/dashboard/src/@/components/blocks/app-footer.tsx
Labels: Dashboard

#6758 [SDK] Improve error message for getUser
  .changeset/twenty-cows-take.md
  packages/thirdweb/src/wallets/in-app/core/users/getUser.test.ts
  packages/thirdweb/src/wallets/in-app/core/users/getUser.ts
Labels: packages, SDK

#6753 [SDK] Use insight for 1155 getNFTs, getOwnedNFTs and getNFT
  .changeset/huge-berries-call.md
  packages/thirdweb/src/extensions/erc1155/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFT.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.test.ts
  packages/thirdweb/src/insight/get-nfts.ts
Labels: packages, SDK

#6760 [SDK] Add thirdweb branding to PayEmbed
  .changeset/free-pandas-reply.md
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/transaction/useSendTransaction.ts
  packages/thirdweb/src/react/web/hooks/transaction/useSendTransaction.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/PoweredByTW.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/DirectPaymentModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
Labels: packages, SDK

#6728 Version Packages
  .changeset/free-pandas-reply.md
  .changeset/huge-berries-call.md
  .changeset/open-ends-melt.md
  .changeset/orange-icons-hide.md
  .changeset/purple-bats-march.md
  .changeset/quick-bugs-remain.md
  .changeset/ready-tigers-pump.md
  .changeset/tired-windows-clean.md
  .changeset/twenty-cows-take.md
  .changeset/wicked-pianos-carry.md
  .changeset/yummy-toys-hug.md
  packages/insight/CHANGELOG.md
  packages/insight/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6763 Add universal bridge landing pages to framer-rewrites
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#6764 Add support for service-to-service API key authentication
  .changeset/poor-donkeys-lay.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/authorize.test.ts
  packages/service-utils/src/core/authorize/client.test.ts
  packages/service-utils/src/core/authorize/client.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/node/index.ts
Labels: packages

#6765 [SDK] Improve NFT data fallbacks for indexer cache misses
  .changeset/sour-kiwis-wink.md
  apps/dashboard/src/@/constants/thirdweb.server.ts
  apps/dashboard/src/constants/urls.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFT.ts
  packages/thirdweb/src/extensions/erc1155/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
Labels: Dashboard, packages, SDK

#6766 Update RPC usage charts to handle string values and improve visualization
  apps/dashboard/src/@/api/usage/rpc.ts
  apps/dashboard/src/@/components/blocks/charts/area-chart.tsx
  apps/dashboard/src/@/components/ui/chart.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/components/count-graph.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/components/rate-graph.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/rpc/page.tsx
Labels: Dashboard

#6768 [SDK] Refactor ERC721 getNFTs to handle token ID offsets correctly
  packages/thirdweb/src/extensions/erc1155/read/getOwnedNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
  packages/thirdweb/src/extensions/erc721/read/getOwnedNFTs.ts
Labels: packages, SDK

#6757 [TOOL-4175] Dashboard: Add buy listing button in listing drawer in marketplace
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/listing-drawer.tsx
  packages/thirdweb/src/react/web/ui/prebuilt/thirdweb/BuyDirectListingButton/index.tsx
Labels: Dashboard, packages, SDK

#6767 Version Packages
  .changeset/poor-donkeys-lay.md
  .changeset/sour-kiwis-wink.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6769 Dashboard: Improve Progress bar implmentation with useTransition hook
  apps/dashboard/src/@/lib/DashboardRouter.tsx
Labels: Dashboard

#6771 Allow passing team ID explicitly via request headers
  .changeset/giant-moons-sleep.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/node/index.ts
  packages/thirdweb/src/client/client.ts
  packages/thirdweb/src/utils/fetch.ts
Labels: packages, SDK

#6772 Version Packages
  .changeset/giant-moons-sleep.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6770 [NEB-179] Nebula: Update context UI when context event type is received
  apps/dashboard/src/app/nebula-app/(app)/api/chat.ts
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatSidebar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/components/contract-components/published-contract/markdown-renderer.tsx
Labels: Dashboard

#6774 updated top cta in playground
  apps/playground-web/src/components/blocks/APIHeader.tsx
Labels: merge-queue, Playground

#6777 [TOOL-4176] Dashboard: Add tracking to nebula floating chat
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/layout.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChat.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
Labels: Dashboard

#6776 Dashboard: Fix Nebula card link in project FTUX
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/ProjectFTUX.tsx
Labels: Dashboard

#6783 Dashboard: Fix table row not clickable in safari because of sticky thead
  apps/dashboard/src/@/components/ui/table.tsx
  apps/playground-web/src/components/ui/table.tsx
Labels: Dashboard, Playground

#6784 [TOOL-4208] Dashboard: Transfer tab improvements/fixes
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/TokenIdPage.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/transfer-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/useNftDrawerTabs.tsx
Labels: Dashboard

#6785 [SDK] Fix: update bridge tests
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/utils/domains.ts
Labels: packages, SDK

#6782 jonas/core-825-update-dependencies
  .changeset/ripe-parks-heal.md
  apps/dashboard/package.json
  apps/dashboard/src/core-ui/batch-upload/batch-table.tsx
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/portal/src/components/Document/index.ts
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#6778 [SDK] Fix loading state in PayEmbed source tokens
  .changeset/tender-parrots-stare.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
Labels: packages, SDK

#6779 [Dashboard] Add webhook version support to Universal Bridge
  apps/dashboard/src/@/api/universal-bridge/developer.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/page.tsx
  apps/dashboard/src/components/pay/PayConfig.tsx
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
Labels: Dashboard

#6793 Add engineCloud plan capability to service-utils
  .changeset/lovely-peas-behave.md
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: Dashboard, packages

#6811 [TOOL-4228] Dashboard: Add file upload for in-app wallet branding form tool-4228
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
Labels: Dashboard

#6812 [TOOL-4225] Dashboard: Show feedback on cancel transaction button click tool-4225
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transaction-timeline.tsx
Labels: Dashboard

#6813 [TOOL-4230] Dashboard: Remove add coupon UI from team billing page
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/CouponsUI.tsx
Labels: Dashboard

#6814 [NEB-180] Update Nebula context selection UI, add wallet switcher
  apps/dashboard/src/@/components/blocks/MultiNetworkSelector.stories.tsx
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/SingleNetworkSelector.stories.tsx
  apps/dashboard/src/@/components/blocks/multi-select.tsx
  apps/dashboard/src/@3rdweb-sdk/react/components/connect-wallet/index.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_layout/metadata-header.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/data-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/single-network-selector.tsx
  apps/dashboard/src/app/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployViaCLIOrImportCard.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployedContractsPage.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatBar.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/Chatbar.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.stories.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ExecuteTransactionCard.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/FloatingChat/FloatingChatContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/page.tsx
  apps/dashboard/src/app/nebula-app/(app)/utils/getChainIds.ts
  apps/dashboard/src/app/nebula-app/(app)/utils/nebulaThirdwebClient.ts
  apps/dashboard/src/app/nebula-app/login/NebulaConnectEmbedLogin.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
  apps/dashboard/src/app/nebula-app/login/auth-actions.ts
  apps/dashboard/src/app/nebula-app/login/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/allowed-operations-section.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/add-contract-subscription-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/contract-subscriptions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/contract-subscriptions/components/engine-contract-subscription.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/relayers/components/add-relayer-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/relayers/components/relayers-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTableUI.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/contracts/page.tsx
  apps/dashboard/src/components/cmd-k-search/index.tsx
  apps/dashboard/src/components/configure-networks/ConfigureNetworkForm.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/custom-factory.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/default-factory.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/factory-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/index.tsx
  apps/dashboard/src/components/contract-components/contract-publish-form/networks-fieldset.tsx
  apps/dashboard/src/components/contract-components/import-contract/modal.tsx
  apps/dashboard/src/components/contract-components/tables/contract-table.stories.tsx
  apps/dashboard/src/components/contract-components/tables/contract-table.tsx
  apps/dashboard/src/components/icons/ChainIcon.tsx
  apps/dashboard/src/components/selects/CustomChainRenderer.tsx
  apps/dashboard/src/components/selects/NetworkSelectDropdown.tsx
  apps/dashboard/src/components/selects/NetworkSelectorButton.tsx
  apps/dashboard/src/components/settings/Account/Billing/CreditsItem.tsx
  apps/dashboard/src/components/settings/Account/Billing/PlanCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
Labels: Dashboard

#6815 Expose rateLimitSlidingWindow strategy for low-level usage
  .changeset/tall-llamas-dress.md
  packages/service-utils/src/core/rateLimit/index.ts
  packages/service-utils/src/core/rateLimit/rateLimit.test.ts
  packages/service-utils/src/core/rateLimit/strategies/shared.ts
  packages/service-utils/src/core/rateLimit/strategies/sliding-window.ts
  packages/service-utils/src/index.ts
Labels: packages

#6817 [SDK] Remove minHeight constraint from TokenSelectorScreen
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
Labels: packages, SDK

#6818 Update team plan pricing
  apps/dashboard/src/utils/pricing.tsx
Labels: Dashboard

#6787 Version Packages
  .changeset/lovely-peas-behave.md
  .changeset/ripe-parks-heal.md
  .changeset/tall-llamas-dress.md
  .changeset/tender-parrots-stare.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6819 [SDK] Add service key functionality for API requests
  .changeset/legal-pots-boil.md
  packages/thirdweb/src/exports/utils.ts
  packages/thirdweb/src/utils/domains.ts
  packages/thirdweb/src/utils/fetch.ts
Labels: packages, SDK

#6781 Remove Pack from explore
  apps/dashboard/src/data/explore.ts
Labels: Dashboard, packages, SDK

#6786 Update dependencies and add atomicRequired option to sendCalls
  packages/insight/package.json
  packages/thirdweb/.size-limit.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.test.ts
  packages/thirdweb/src/wallets/eip5792/send-calls.ts
  packages/thirdweb/src/wallets/eip5792/types.ts
  pnpm-lock.yaml
Labels: packages, SDK

#6823 Deprecate pack
  .changeset/fluffy-bars-crash.md
  packages/thirdweb/src/extensions/pack/createNewPack.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-pack.ts
Labels: merge-queue, packages, SDK

#6825 Dashboard: Fix login infinite loop on certain wallets
  apps/dashboard/src/app/(app)/components/EnsureValidConnectedWalletLogin/EnsureValidConnectedWalletLoginClient.tsx
Labels: hotfix, Dashboard

#6824 Custom factory addr for Chiliz mainnet
  .changeset/whole-planets-heal.md
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
Labels: merge-queue, hotfix, packages, SDK

#6829 [TOOL-4248] Dashboard: Fix explore category page not showing contract cards
  apps/dashboard/src/app/(app)/(dashboard)/explore/[category]/page.tsx
Labels: hotfix, Dashboard

#6826 Add plan cancellation and re-subscription functionality
  apps/dashboard/src/@/actions/billing.ts
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
  apps/dashboard/src/app/(app)/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.stories.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/CancelPlanModal/CancelPlanModal.tsx
  apps/dashboard/src/components/settings/Account/Billing/Pricing.tsx
  apps/dashboard/src/components/settings/Account/Billing/renew-subscription/renew-subscription-button.tsx
  apps/dashboard/src/stories/stubs.ts
  apps/dashboard/src/utils/try-catch.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: Dashboard, packages

#6830 [SDK] Feature: Update sdk bridge functions with new schema
  .changeset/fluffy-pigs-drive.md
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/types/Quote.ts
  packages/thirdweb/src/bridge/types/Status.ts
Labels: packages, SDK

#6822 [SDK] Optimize multi-event querying with indexer
  .changeset/great-chairs-find.md
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useActivity.ts
  packages/thirdweb/src/event/actions/get-events.ts
  packages/thirdweb/src/event/actions/watch-events.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.test.ts
  packages/thirdweb/src/extensions/erc721/read/getOwnedNFTs.test.ts
  packages/thirdweb/src/insight/get-nfts.ts
  packages/thirdweb/src/wallets/smart/lib/paymaster.ts
Labels: Dashboard, packages, SDK

#6820 Version Packages
  .changeset/fluffy-bars-crash.md
  .changeset/fluffy-pigs-drive.md
  .changeset/great-chairs-find.md
  .changeset/legal-pots-boil.md
  .changeset/whole-planets-heal.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6832 [SDK] Lazy import native dependencies in React Native
  .changeset/quiet-bats-tickle.md
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
Labels: packages, SDK

#6833 Version Packages
  .changeset/quiet-bats-tickle.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6834 [SDK] Always checksum Account.address
  .changeset/shiny-pants-shout.md
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/adapters/ethers6.ts
  packages/thirdweb/src/wallets/coinbase/coinbase-web.ts
  packages/thirdweb/src/wallets/private-key.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/wallet-connect/controller.ts
Labels: packages, SDK
