Repository thirdweb-dev/js, pull requests merged in 2025-02, with the labels that each got.

#6119 [SDK] Fix: Switch underlying admin wallet with ecosystem smart account
  .changeset/metal-icons-end.md
  packages/thirdweb/src/wallets/eip5792/get-capabilities.ts
  packages/thirdweb/src/wallets/manager/connection-manager.test.ts
  packages/thirdweb/src/wallets/manager/index.ts
  packages/thirdweb/src/wallets/smart/get-smart-wallet-config.test.ts
  packages/thirdweb/src/wallets/smart/get-smart-wallet-config.ts
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/is-smart-wallet.test.ts
  packages/thirdweb/src/wallets/smart/is-smart-wallet.ts
  packages/thirdweb/src/wallets/smart/lib/smart-wallet-capabilities.ts
  pnpm-lock.yaml
Labels: merge-queue, packages, SDK

#6139 [service-utils] ESM imports for compression
  .changeset/friendly-candles-walk.md
  packages/service-utils/src/node/usageV2.ts
Labels: packages

#6137 update dependencies
  .changeset/cuddly-pumas-wink.md
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#6116 [SDK] Fix: skip factory entrypoint lookup for ZKsync chains
  .changeset/early-adults-travel.md
  packages/thirdweb/src/wallets/smart/index.ts
Labels: packages, SDK

#6140 fix: usageV2 API endpoint
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

#6141 Update addresses
  packages/service-utils/package.json
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: merge-queue, hotfix, packages, SDK

#6133 [TOOL-3276] SDK: Fix JSDoc comments of download function
  packages/thirdweb/src/storage/download.ts
Labels: packages, SDK

#6093 [SDK] Update implementation addr extraction logic
  .changeset/thick-kangaroos-smoke.md
  packages/thirdweb/src/utils/bytecode/extractMinimalProxyImplementationAddress.test.ts
  packages/thirdweb/src/utils/bytecode/extractMinimalProxyImplementationAddress.ts
Labels: merge-queue, packages, SDK

#6145 [TOOL-3286] Dashboard: Add Feedback button on header, Add more links in mobile burger menu
  apps/dashboard/src/app/components/Header/SecondaryNav/SecondaryNav.tsx
  apps/dashboard/src/app/components/MobileBurgerMenuButton.tsx
  apps/dashboard/src/app/login/LoginPage.tsx
Labels: Dashboard

#6153 [TOOL-3055] Dashboard: Add Refresh Balances button for engine backend wallets
  apps/dashboard/src/@3rdweb-sdk/react/cache-keys.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/backend-wallets-table.tsx
Labels: Dashboard

#6147 [TOOL-3216] Dashboard: Add Faucet Refill, Fix toast colors on light mode
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/components/sdk-component-theme.ts
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/providers.tsx
Labels: Dashboard

#6132 Version Packages
  .changeset/cuddly-pumas-wink.md
  .changeset/early-adults-travel.md
  .changeset/friendly-candles-walk.md
  .changeset/metal-icons-end.md
  .changeset/tall-masks-shop.md
  .changeset/thick-kangaroos-smoke.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6158 [NEB-76] Dashboard: Add Nebula service in chainlist, Update all product icons, links
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chain-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chainlist-row.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/client/star-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/ConnectSDKIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/ContractIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/EngineIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/InsightIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/PayIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/RPCIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/icons/SmartAccountIcon.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/(dashboard)/(chain)/types/chain.ts
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/utils/publishedContractOGImageTemplate.tsx
  apps/dashboard/src/app/nebula-app/(app)/icons/NebulaIcon.tsx
Labels: Dashboard

#6161 move account abstraction page to connect directory
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(landing)/account-abstraction/page.tsx
  apps/dashboard/src/components/landing-pages/showcase-image.tsx
Labels: Dashboard

#6162 [SDK] Update implementations
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: merge-queue, hotfix, packages, SDK

#6164 fix: Fix usageV2 imports, allow sdk source
  .changeset/small-moons-behave.md
  packages/service-utils/package.json
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

#6170 [service-utils] Add kafka producer to emit raw messages
  .changeset/thirty-monkeys-promise.md
  packages/service-utils/src/node/kafka.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

#6171 [service-utils] fix: export kafka producer
  .changeset/lazy-files-act.md
  packages/service-utils/src/node/index.ts
Labels: packages

#6173 fix: Tweak 404 page
  apps/dashboard/src/components/not-found-page.tsx
Labels: merge-queue, Dashboard

#6163 [Portal] Add video and update prompt guide
  apps/portal/src/app/nebula/page.mdx
  apps/portal/src/app/nebula/prompt-guide/page.mdx
Labels: merge-queue, Portal

#6176 [Dashboard] Feature: add universal-bridge framer page
  apps/dashboard/framer-rewrites.js
Labels: merge-queue, Dashboard

#6179 [TOOL-3318] Dashboard: Add Upload Account Avatar feature in account settings page
  apps/dashboard/src/@/actions/updateAccount.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/account/components/AccountHeaderUI.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPage.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPageUI.stories.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPageUI.tsx
  apps/dashboard/src/app/components/Header/SecondaryNav/account-button.client.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/NebulaAccountButton.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/_components/sidebar/TeamSettingsSidebar.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/page.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamSelectionUI.tsx
Labels: Dashboard

#6178 fix: remove pay framer page
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#6181 [service-utils] Expose more kafka configs, set max in-flight requests
  .changeset/quiet-goats-know.md
  packages/service-utils/src/node/kafka.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

#6182 [SDK] fix: Skip swap approvals and use local gas prices
  .changeset/cuddly-wombats-boil.md
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/utils/commonTypes.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapStatusScreen.tsx
Labels: Playground, packages, SDK

#6174 [TOOL-3299] Playground: Update Sidebar, Minor improvements and fixes
  apps/playground-web/package.json
  apps/playground-web/src/app/AppSidebar.tsx
  apps/playground-web/src/app/MobileHeader.tsx
  apps/playground-web/src/app/connect/sign-in/button/RightSection.tsx
  apps/playground-web/src/app/connect/sign-in/components/WalletsSelection.tsx
  apps/playground-web/src/app/globals.css
  apps/playground-web/src/app/layout.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/app/page.tsx
  apps/playground-web/src/components/ClientOnly.tsx
  apps/playground-web/src/components/code/code-example.tsx
  apps/playground-web/src/components/headless-ui/chain-examples.tsx
  apps/playground-web/src/components/headless-ui/chain-previews.tsx
  apps/playground-web/src/components/ui/CustomAccordion.tsx
  apps/playground-web/src/components/ui/Img.tsx
  apps/playground-web/src/components/ui/ScrollShadow/ScrollShadow.module.css
  apps/playground-web/src/components/ui/ScrollShadow/ScrollShadow.tsx
  apps/playground-web/src/components/ui/sidebar.tsx
  pnpm-lock.yaml
Labels: Playground

#6175 [TOOL-3314] Playground: Fix Next.js errors in Headless UI example pages
  apps/playground-web/src/components/headless-ui/account-examples.tsx
  apps/playground-web/src/components/headless-ui/account-previews.tsx
  apps/playground-web/src/components/headless-ui/nft-examples.tsx
  apps/playground-web/src/components/headless-ui/nft-previews.tsx
  apps/playground-web/src/components/headless-ui/token-examples.tsx
  apps/playground-web/src/components/headless-ui/token-previews.tsx
  apps/playground-web/src/components/headless-ui/wallet-examples.tsx
  apps/playground-web/src/components/headless-ui/wallet-previews.tsx
Labels: Playground, packages, SDK

#6187 [SDK] fix: Requery allowances on quote screen return
  .changeset/stupid-experts-shake.md
  packages/thirdweb/src/pay/buyWithCrypto/getQuote.ts
  packages/thirdweb/src/pay/buyWithCrypto/getTransfer.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/PostOnRampSwap.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
Labels: packages, SDK

#6189 add redirect from /connect/pay to /connect/universal-bridge
  apps/dashboard/redirects.js
Labels: Dashboard

#6188 prefer explicit clientId over secretKey computation
  .changeset/wicked-chairs-own.md
  packages/thirdweb/src/client/client.test.ts
  packages/thirdweb/src/client/client.ts
Labels: packages, SDK

#6190 [SDK] feat: Add provider selection to fiat onramp
  .changeset/silent-comics-carry.md
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/utils/commonTypes.ts
  packages/thirdweb/src/react/core/utils/storage.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/Providers.tsx
Labels: Playground, packages, SDK

#6192 [SDK] feat: Add editable token amount input to buy screen
  .changeset/nine-seahorses-judge.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, SDK

#6193 [SDK] feat: Add fiat value display to buy token input
  .changeset/nice-seas-march.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/BuyTokenInput.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/nativeToken.ts
  packages/thirdweb/src/react/web/ui/components/text.tsx
Labels: packages, SDK

#6194 [SDK] feat: Add session keys to smart wallet options
  .changeset/tender-dolls-tan.md
  packages/thirdweb/src/wallets/smart/index.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration.test.ts
  packages/thirdweb/src/wallets/smart/types.ts
Labels: packages, SDK

#6196 [SDK] Check bytecode prefix
  codecov.yml
  packages/thirdweb/src/contract/deployment/zksync/zkDeployContract.ts
Labels: merge-queue, hotfix, packages, SDK

#6172 feat: canCreatePublicChains in TeamResponse
  .changeset/chatty-geese-burn.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/mocks.ts
Labels: packages

#6186 [TOOL-3328] Dashboard: Show error message in toast on Email submission fail in onboaridng flow
  apps/dashboard/src/app/login/onboarding/AccountForm.tsx
Labels: Dashboard

#6199 [TOOL-3346] Portal: Add Nebula icon support in dynamic OG image generation
  apps/portal/public/og/icons/nebula.svg
  apps/portal/src/app/nebula/layout.tsx
  apps/portal/src/components/Document/metadata.ts
Labels: Portal

#6200 Docs up to .NET 2.17.1 / Unity 5.17.1
  apps/portal/src/app/dotnet/client/page.mdx
  apps/portal/src/app/dotnet/nebula/quickstart/page.mdx
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/wallets/providers/ecosystem-wallet/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/in-app-wallet/page.mdx
  apps/portal/src/app/unity/v5/sidebar.tsx
  apps/portal/src/app/unity/v5/thirdwebmanager/page.mdx
  apps/portal/src/app/unity/v5/thirdwebmanager/thirdwebmanager_misc.png
  apps/portal/src/app/unity/v5/thirdwebmanager/thirdwebmanager_preferences.png
  apps/portal/src/app/unity/v5/wallets/ecosystem-wallet/page.mdx
  apps/portal/src/app/unity/v5/wallets/in-app-wallet/page.mdx
Labels: merge-queue, Portal

#6184 Version Packages
  .changeset/chatty-geese-burn.md
  .changeset/healthy-cups-refuse.md
  .changeset/nice-seas-march.md
  .changeset/nine-seahorses-judge.md
  .changeset/silent-comics-carry.md
  .changeset/stupid-experts-shake.md
  .changeset/tender-dolls-tan.md
  .changeset/wicked-chairs-own.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6204 [SDK] chore: Update coinbase/wallet-sdk
  .changeset/gold-cobras-switch.md
  packages/thirdweb/package.json
  pnpm-lock.yaml
Labels: packages, SDK

#6206 chore: Export sources array
  .changeset/short-insects-fry.md
  packages/service-utils/src/core/usageV2.ts
Labels: packages

#6205 Version Packages
  .changeset/gold-cobras-switch.md
  .changeset/short-insects-fry.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6207 [service-utils] Allow sending client-side usageV2 events
  .changeset/metal-crabs-beg.md
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

#6202 [dashboard-engine] updates for circle and wallet credentials
  apps/dashboard/src/@3rdweb-sdk/react/cache-keys.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/_components/EnginePageLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/circle-config.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/engine-wallet-config.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/create-backend-wallet-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/engine-overview.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/create-wallet-credential-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/credential-form.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/credential-type-fields/circle.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/edit-wallet-credential-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/types.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/wallet-credentials-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/wallet-credentials.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/page.tsx
  apps/dashboard/src/lib/engine.ts
  apps/portal/src/app/engine/features/backend-wallets/page.mdx
  apps/portal/src/app/engine/features/wallet-credentials/page.mdx
  apps/portal/src/app/engine/sidebar.tsx
Labels: merge-queue, Dashboard, Portal

#6209 [SDK] feat: Batch approvals and swaps for smart wallets
  .changeset/dull-lamps-share.md
  packages/thirdweb/src/pay/buyWithCrypto/getStatus.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/SwapDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/useBuyTransactionsToShow.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/pendingSwapTx.ts
Labels: Playground, packages, SDK

#6212 [service-utils]H elper to call client usageV2 reporting endpoint
  .changeset/breezy-balloons-ring.md
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

#6213 [service-utils] Omit team_id for client usageV2 events
  .changeset/fresh-weeks-deliver.md
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/service-utils/src/core/usageV2.ts
Labels: packages

#6214 [TOOL-3368] Dashboard: Improve page load perf of explore page and other few others
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/getModuleInstalledParams.ts
  apps/dashboard/src/app/(dashboard)/contracts/publish/[publish_uri]/page.tsx
  apps/dashboard/src/app/(dashboard)/explore/[category]/page.tsx
  apps/dashboard/src/app/(dashboard)/explore/page.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/layout.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/opengraph-image.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/[publisher]/[contract_id]/utils/getPublishedContractsWithPublisherMapping.ts
  apps/dashboard/src/components/contract-components/fetch-contracts-with-versions.ts
  apps/dashboard/src/components/explore/contract-card/index.tsx
Labels: Dashboard

#6211 [TOOL-3366] Dashboard: Contract Deployment UI improvements, Reduce Chakra Usage
  apps/dashboard/src/@/components/blocks/FormFieldSetup.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/platform-fees.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/primary-sale.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/components/royalties.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/contract-actions-deploy.client.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/contract-actions-published.client.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/contract-info.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/publish-based-deploy.tsx
  apps/dashboard/src/app/(dashboard)/published-contract/components/version-selector.tsx
  apps/dashboard/src/app/(landing)/ThemeProvider.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/common.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/contract-metadata-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/modular-contract-default-modules-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/param.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/primary-sale-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/royalty-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/sequential-token-id-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/split-fieldset.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/trusted-forwarders-fieldset.tsx
  apps/dashboard/src/components/contract-components/published-contract/index.tsx
  apps/dashboard/src/components/contract-components/publisher/publisher-header.tsx
  apps/dashboard/src/components/inputs/BasisPointsInput.tsx
  apps/dashboard/src/components/selects/NetworkSelectorButton.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/address-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/bytes-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/index.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/int-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/raw-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/string-input.tsx
  apps/dashboard/src/contract-ui/components/solidity-inputs/tuple-input.tsx
Labels: Dashboard

#6219 [service-utils] fix auth cache for cf workers
  .changeset/hungry-books-jump.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/authorize/index.ts
Labels: packages

#6201 [Portal] Nebula documentation update
  apps/portal/src/app/nebula/api-reference/chat/page.mdx
  apps/portal/src/app/nebula/api-reference/page.mdx
  apps/portal/src/app/nebula/assets/streamed-response.png
  apps/portal/src/app/nebula/faqs/page.mdx
  apps/portal/src/app/nebula/get-started/page.mdx
  apps/portal/src/app/nebula/key-concepts/chat-execute/page.mdx
  apps/portal/src/app/nebula/key-concepts/context-filters/page.mdx
  apps/portal/src/app/nebula/key-concepts/execute-configuration/page.mdx
  apps/portal/src/app/nebula/key-concepts/response-handling/page.mdx
  apps/portal/src/app/nebula/key-concepts/sessions/page.mdx
  apps/portal/src/app/nebula/page.mdx
  apps/portal/src/app/nebula/plugins/eliza/page.mdx
  apps/portal/src/app/nebula/plugins/openai/page.mdx
  apps/portal/src/app/nebula/plugins/page.mdx
  apps/portal/src/app/nebula/prompt-guide/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
Labels: merge-queue, Portal

#6215 fix: typos in documentation files
  packages/thirdweb/src/storage/upload/helpers.ts
Labels: packages, SDK

#6227 [TOOL-3379] Dashboard: Add team selector in support form
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.client.tsx
  apps/dashboard/src/app/(dashboard)/support/create-ticket/page.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_SelectInput.tsx
  apps/dashboard/src/components/help/contact-forms/shared/SupportForm_TeamSelection.tsx
Labels: Dashboard

#6222 [TOOL-3377] Portal: Remove v4 SDK links, setup missing redirects
  apps/dashboard/src/app/(landing)/in-app-wallets/page.tsx
  apps/dashboard/src/contract-ui/tabs/code/components/code-overview.tsx
  apps/portal/redirects.mjs
  apps/portal/src/app/cli/login/page.mdx
  apps/portal/src/app/connect/account-abstraction/how-it-works/page.mdx
  apps/portal/src/app/engine/features/backend-wallets/page.mdx
  apps/portal/src/app/glossary/smart-wallet/page.mdx
Labels: Dashboard, Portal

#6220 Docs remove legacy enc key arg
  apps/portal/src/app/unity/v5/wallets/in-app-wallet/page.mdx
Labels: Portal

#6210 [SDK] fix: Disable quote retries and show fiat values
  .changeset/cool-pumpkins-punch.md
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithCryptoQuote.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatQuote.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
Labels: packages, SDK

#6191 [SDK] Feature: add treasure and treasure topaz
  .changeset/many-cameras-cover.md
  packages/thirdweb/src/chains/chain-definitions/treasure.ts
  packages/thirdweb/src/chains/chain-definitions/treasureTopaz.ts
  packages/thirdweb/src/exports/chains.ts
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
Labels: packages, SDK

#6228 use supportPlan instead of billingPlan for support tickets
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/(dashboard)/support/create-ticket/components/create-ticket.action.ts
  apps/dashboard/src/stories/stubs.ts
Labels: DO NOT MERGE, Dashboard

#6229 [SDK/Dashboard/Portal] Feature/Fix: fix typo in docs
  apps/portal/src/app/react/v5/connecting-wallets/hooks/page.mdx
Labels: Portal

#6159 [Dashboard] Deploy config updates
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/ContractSettingsPage.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/ContractSettingsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/settings/page.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  apps/dashboard/src/components/contract-functions/contract-function.tsx
  apps/dashboard/src/constants/addresses.ts
Labels: DO NOT MERGE, merge-queue, Dashboard

#6237 [SDK] fix: Polish PayEmbed UI and balance display
  .changeset/kind-pets-mate.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/WalletSelectorButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PaymentSelectionScreen.tsx
  packages/thirdweb/src/react/web/utils/errors.ts
Labels: packages, SDK

#6235 Update page.mdx
  apps/portal/src/app/connect/pay/testing-pay/page.mdx
Labels: Portal

#6208 Version Packages
  .changeset/breezy-balloons-ring.md
  .changeset/cool-pumpkins-punch.md
  .changeset/dull-lamps-share.md
  .changeset/fresh-weeks-deliver.md
  .changeset/good-carpets-dream.md
  .changeset/hungry-books-jump.md
  .changeset/kind-pets-mate.md
  .changeset/many-cameras-cover.md
  .changeset/metal-crabs-beg.md
  .changeset/orange-ravens-remain.md
  .changeset/real-timers-rhyme.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6238 [TOOL-3396] Dashboard: Fix inputMode for OTP input, Use text instead of default numeric
  apps/dashboard/src/app/account/settings/AccountSettingsPageUI.tsx
  apps/dashboard/src/app/login/onboarding/ConfirmEmail.tsx
Labels: hotfix, Dashboard

#6239 [TOOL-3398] Dashboard: Fix DialogOverlay and DialogContent missing default shadcn z-index
  apps/dashboard/src/@/components/ui/dialog.tsx
Labels: hotfix, Dashboard

#6240 [SDK] fix: show token + dollar values for wallet balances
  .changeset/gentle-boats-grin.md
  packages/thirdweb/src/extensions/erc1155/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc20/drops/read/canClaim.ts
  packages/thirdweb/src/extensions/erc721/drops/read/canClaim.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/WalletSelectorButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/BuyTokenInput.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
Labels: packages, SDK

#6241 Version Packages
  .changeset/gentle-boats-grin.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6246 [SDK] fix: Prevent popup when using auth redirect mode
  .changeset/gold-meals-prove.md
  apps/playground-web/src/app/connect/in-app-wallet/page.tsx
  apps/playground-web/src/components/in-app-wallet/custom-login-form.tsx
  packages/thirdweb/src/wallets/in-app/core/interfaces/connector.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/index.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/oauth.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
Labels: Playground, packages, SDK

#6247 Version Packages
  .changeset/gold-meals-prove.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6245 add projectId parameter to pay analytics components
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/webhooks/page.tsx
  apps/dashboard/src/components/pay/PayAnalytics/PayAnalytics.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PayNewCustomers.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentHistory.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalPayVolume.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalVolumePieChart.tsx
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayNewCustomers.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayPurchases.ts
  apps/dashboard/src/components/pay/PayAnalytics/hooks/usePayVolume.ts
Labels: Dashboard

#6250 [TOOL-3415] Dashboard: Fix Explore page header showing logged out state
  apps/dashboard/src/app/(dashboard)/explore/[category]/page.tsx
  apps/dashboard/src/app/(dashboard)/explore/page.tsx
Labels: hotfix, Dashboard

#6248 [NEB-95] Dashboard: Nebula Analytics UI updates
  apps/dashboard/src/@/components/blocks/charts/area-chart.tsx
  apps/dashboard/src/@/components/blocks/charts/bar-chart.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/components/Analytics.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/transactions-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-ui.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-ui.tsx
Labels: Dashboard

#6252 [NEB-95] Dashboard: Fix Nebula analytics crash, add missing use client directive
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-ui.tsx
Labels: Dashboard

#6254 [TOOL-3243] Dashboard: Add redirect for support old engine import link
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/page.tsx
Labels: Dashboard

#6255 [Portal] Docs: Get Users Docs
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/get-users/page.mdx
  apps/portal/src/app/connect/wallet/pregenerate-wallets/page.mdx
Labels: merge-queue, Portal

#6256 fetch gas sponsored chains from API instead of hardcoding
  apps/dashboard/src/@/api/chain.ts
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/app/login/auth-actions.ts
Labels: Dashboard

#6242 Handle single unnamed param
  packages/thirdweb/src/utils/abi/normalizeFunctionParams.test.ts
  packages/thirdweb/src/utils/abi/normalizeFunctionParams.ts
Labels: packages, SDK

#6260 add teamId parameter to webhook endpoints
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/webhooks/components/webhooks.client.tsx
Labels: Dashboard

#5399 [Dashboard] Feature: UI for crosschain modules
  apps/dashboard/next-env.d.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageSidebarLinks.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/data-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/no-crosschain-prompt.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/single-network-selector.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  packages/thirdweb/scripts/generate/abis/thirdweb/IContractFactory.json
  packages/thirdweb/src/contract/deployment/deploy-via-autofactory.test.ts
  packages/thirdweb/src/contract/deployment/deploy-via-autofactory.ts
  packages/thirdweb/src/exports/contract.ts
  packages/thirdweb/src/exports/modules.ts
  packages/thirdweb/src/extensions/modules/common/installPublishedModule.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/thirdweb/__generated__/IContractFactory/events/ProxyDeployedV2.ts
  packages/thirdweb/src/extensions/thirdweb/__generated__/IContractFactory/write/deployProxyByImplementationV2.ts
  packages/thirdweb/src/utils/ens/namehash.ts
Labels: merge-queue, Dashboard, packages, SDK

#6264 [Dashboard] Crosschain tab UI fixes
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/data-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/no-crosschain-prompt.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/single-network-selector.tsx
Labels: merge-queue, hotfix, Dashboard

#6263 [TOOL-3431] Dashboard: Add toggle theme button on logged out page header and other UI tweaks
  apps/dashboard/src/@/components/color-mode-toggle.tsx
  apps/dashboard/src/app/account/components/AccountHeaderUI.stories.tsx
  apps/dashboard/src/app/components/MobileBurgerMenuButton.tsx
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
  apps/dashboard/src/app/team/components/HeaderLoggedOut/HeaderLoggedOut.stories.tsx
  apps/dashboard/src/app/team/components/HeaderLoggedOut/HeaderLoggedOut.tsx
  apps/dashboard/src/app/team/components/TeamHeader/TeamHeaderUI.stories.tsx
  apps/dashboard/src/app/team/components/TeamHeader/team-header.tsx
Labels: Dashboard

#6261 [TOOL-3429] Dashboard: Delete Insight playground, Add Playground Link
  apps/dashboard/package.json
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/[blueprint_slug]/blueprint-playground.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/[blueprint_slug]/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/utils.ts
  pnpm-lock.yaml
Labels: Dashboard

#6262 [TOOL-3430] SDK: Fix ConnectEmbed showing a flash of Sign In prompt screen even if user is already signed in
  .changeset/warm-eggs-relate.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.tsx
Labels: packages, SDK

#6265 [SDK] feat: Redesign payment method selector UI
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayWIthCreditCard.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/currencies.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PayWithCrypto.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PaymentSelectionScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/components/token/TokenRow.tsx
Labels: packages, SDK

#6243 [Pay] Fix: fix fiat value to 2 decimals
  .changeset/tender-frogs-change.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/FiatValue.tsx
Labels: packages, SDK

#6269 [SDK] feat: Enable chain switching for EIP1193 provider
  .changeset/dirty-scissors-shake.md
  apps/portal/src/app/react/v5/adapters/page.mdx
  packages/thirdweb/src/adapters/eip1193/to-eip1193.ts
Labels: Portal, packages, SDK

#6270 Update page.mdx
  apps/portal/src/app/react/v5/migrate/contracts/page.mdx
Labels: merge-queue, Portal

#6268 [SDK] feat: Redesign token selection flow in PayEmbed
  apps/playground-web/src/app/insight/utils.ts
  apps/playground-web/src/components/pay/direct-payment.tsx
  apps/playground-web/src/components/pay/transaction-button.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatTxDetailsTable.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useUISelectionStates.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/PayWithCrypto.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapSummary.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TransferConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/TokenSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/nativeToken.ts
  packages/thirdweb/src/react/web/ui/components/token/TokenRow.tsx
Labels: Playground, packages, SDK

#6272 [SDK] fix: Adjust swap summary border styling
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapSummary.tsx
Labels: packages, SDK

#6273 [wagmi-adapter] fix: Improve autoconnect handling and storage
  .changeset/red-eagles-end.md
  packages/thirdweb/src/wallets/connection/autoConnect.ts
  packages/wagmi-adapter/src/connector.ts
Labels: packages, SDK

#6274 [SDK] bytes32 salt for deterministic deployment
  .changeset/popular-ligers-taste.md
  packages/thirdweb/src/contract/deployment/deploy-deterministic.test.ts
  packages/thirdweb/src/contract/deployment/zksync/zkDeployDeterministic.ts
  packages/thirdweb/src/utils/any-evm/compute-deployment-address.ts
  packages/thirdweb/src/utils/any-evm/compute-published-contract-deploy-info.ts
  packages/thirdweb/src/utils/any-evm/get-init-bytecode-with-salt.ts
  packages/thirdweb/src/utils/any-evm/zksync/computeDeploymentAddress.ts
Labels: packages, SDK

#6281 [SDK] fix: Text wrapping and balance display in token selector
  .changeset/tall-buckets-build.md
  packages/thirdweb/src/chains/chain-definitions/arbitrum-nova.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
Labels: packages, SDK

#6284 add abstract chain to supported networks
  apps/playground-web/src/components/styled-connect-button.tsx
Labels: Playground

#6283 [thirdweb] fix: Respect supportedTokens override in PayEmbed
  .changeset/sweet-items-compare.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, SDK

#6280 Version Packages
  .changeset/popular-ligers-taste.md
  .changeset/sweet-items-compare.md
  .changeset/tall-buckets-build.md
  .changeset/weak-kids-love.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6289 [thirdweb] fix: Respect buyWithFiat setting in PayEmbed
  .changeset/eight-pandas-serve.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/TokenSelectorScreen.tsx
Labels: Playground, packages, SDK

#6288 [TOOL-3453] Dashboard: Fix NFT Metadata issues when adding media URLs instead of uploading
  apps/dashboard/next-env.d.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/BatchMetadata.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/Mintable.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/nft/AdvancedNFTMetadataFormGroup.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/update-metadata-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/components/update-metadata-tab.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/lazy-mint-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/mint-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/shared-metadata-form.tsx
  apps/dashboard/src/components/shared/FileInput.tsx
Labels: Dashboard

#6290 Version Packages
  .changeset/eight-pandas-serve.md
  apps/login/CHANGELOG.md
  apps/login/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6286 [SDK] fix: Custom create2 gas config update
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
Labels: merge-queue, packages, SDK

#6293 [TOOL-3447] Dashboard: Remove /v1/keys usage
  .changeset/funny-dragons-thank.md
  apps/dashboard/src/@/api/projects.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/@3rdweb-sdk/react/cache-keys.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/account/components/AccountHeader.tsx
  apps/dashboard/src/app/account/overview/AccountTeamsUI.tsx
  apps/dashboard/src/app/api/lib/getAPIKeys.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/credits/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/general/TeamGeneralSettingsPageUI.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/users/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/webhooks/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPageForTeams.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/page.tsx
  apps/dashboard/src/app/team/components/TeamHeader/team-header-logged-in.client.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/InAppWalletSettingsUI.stories.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/components/pay/PayConfig.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/CreateApiKeyModal.stories.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/LazyCreateAPIKeyDialog.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
  apps/dashboard/src/stories/stubs.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/index.ts
  packages/service-utils/src/mocks.ts
Labels: Dashboard, packages

#6287 [Docs] Improve Unity Build Instructions
  apps/portal/src/app/connect/blockchain-api/page.mdx
  apps/portal/src/app/unity/v5/build-instructions/page.mdx
Labels: merge-queue, Portal

#6297 [TOOL-3470] Playground: Fix eslint image warnings
  apps/playground-web/src/components/engine/airdrop/TransactionResults.tsx
  apps/playground-web/src/components/engine/minting/TransactionResults.tsx
  apps/playground-web/src/components/engine/minting/erc1155-mint-to.tsx
Labels: Playground

#6298 [TOOL-3419] Nebula: Add hardcoded reply for Nebula Capabilities
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/EmptyStateChatPageContent.tsx
  apps/dashboard/src/app/nebula-app/(app)/data/examplePrompts.ts
  apps/dashboard/src/components/contract-components/published-contract/markdown-renderer.tsx
  apps/portal/src/components/others/Sidebar.tsx
Labels: Dashboard, Portal

#6302 Update page.mdx
  apps/portal/src/app/contracts/modular-contracts/overview/page.mdx
Labels: Portal

#6304 [TOOL-3485] Dashboard: Improve USD currency formatting
  apps/dashboard/src/components/pay/PayAnalytics/components/PayCustomersTable.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/PaymentsSuccessRate.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/Payouts.tsx
  apps/dashboard/src/components/pay/PayAnalytics/components/TotalVolumePieChart.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/TotalSponsoredChartCard.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/storyUtils.ts
  apps/dashboard/src/lib/format-utils.ts
  apps/dashboard/src/utils/number.ts
Labels: Dashboard

#6295 [Apps] login
  .changeset/config.json
  README.md
  apps/login/CHANGELOG.md
  apps/login/components.json
  apps/login/eslint.config.mjs
  apps/login/knip.json
  apps/login/next.config.ts
  apps/login/package.json
  apps/login/public/logo.svg
  apps/login/public/placeholder.svg
  apps/login/public/twl.js
  apps/login/public/twl.min.js
  apps/login/src/actions/create-code.ts
  apps/login/src/actions/siwe.ts
  apps/login/src/api/login/config.ts
  apps/login/src/app/api/jwks/route.ts
  apps/login/src/app/api/token/route.ts
  apps/login/src/app/api/user/route.ts
  apps/login/src/app/authorization/jwt.ts
  apps/login/src/app/authorize/page.tsx
  apps/login/src/app/components/LoginPageInner.tsx
  apps/login/src/app/globals.css
  apps/login/src/app/layout.tsx
  apps/login/src/app/page.tsx
  apps/login/src/app/providers.tsx
  apps/login/src/components/login-form.tsx
  apps/login/src/components/permission-card.tsx
  apps/login/src/components/theme-toggle.tsx
  apps/login/src/components/ui/button.tsx
  apps/login/src/components/ui/card.tsx
  apps/login/src/components/ui/dropdown-menu.tsx
  apps/login/src/components/ui/input.tsx
  apps/login/src/components/ui/label.tsx
  apps/login/src/components/ui/select.tsx
  apps/login/src/components/ui/separator.tsx
  apps/login/src/components/ui/sonner.tsx
  apps/login/src/components/ui/switch.tsx
  apps/login/src/components/ui/tooltip.tsx
  apps/login/src/lib/dev-mode.ts
  apps/login/src/lib/keys.ts
  apps/login/src/lib/oauth.ts
  apps/login/src/lib/siwe-server.ts
  apps/login/src/lib/thirdweb-client.ts
  apps/login/src/lib/urls.ts
  apps/login/src/lib/utils.ts
  apps/login/src/lib/vercel.ts
  apps/login/src/providers/theme-provider.tsx
  apps/login/src/providers/thirdweb-provider.tsx
  apps/login/tailwind.config.ts
  apps/login/test/script-test.html
  apps/playground-web/package.json
  apps/playground-web/src/app/login/_sdk_.ts
  apps/playground-web/src/app/login/layout.tsx
  apps/playground-web/src/app/login/page.tsx
  pnpm-lock.yaml
Labels: DO NOT MERGE, Playground

#6303 [TOOL-3483] Dashboard: Fix Nebula subdomain rewrite for Vercel preview links
  apps/dashboard/src/middleware.ts
Labels: Dashboard

#6308 [TOOL-3488] Dashboard: Add disclaimer for starter plan about verification hold on pricing card
  apps/dashboard/src/@/components/blocks/pricing-card.tsx
Labels: Dashboard

#6309 [TOOL-3493] Dashboard: Fix search in team members page, minor ui tweaks
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/_components/sidebar/TeamSettingsSidebar.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/ManageInvitesSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/ManageMembersSection.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/_common.tsx
Labels: Dashboard

#6310 add Turnstile captcha to login flow
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/auth-actions.ts
Labels: Dashboard

#6312 enable team invites for starter and growth plans
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/InviteSection.tsx
Labels: Dashboard

#6314 only validate Turnstile captcha on Vercel environments
  apps/dashboard/src/app/login/auth-actions.ts
  apps/dashboard/src/lib/vercel-utils.ts
Labels: Dashboard

#6313 [TOOL-3497] Dashboard: Add Linked Wallets page in account layout, minor UI tweaks in account layout
  apps/dashboard/src/@/api/linked-wallets.ts
  apps/dashboard/src/app/account/devices/AccountDevicesPage.tsx
  apps/dashboard/src/app/account/devices/page.tsx
  apps/dashboard/src/app/account/layout.tsx
  apps/dashboard/src/app/account/overview/AccountTeamsUI.tsx
  apps/dashboard/src/app/account/page.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPage.tsx
  apps/dashboard/src/app/account/wallets/LinkWalletUI.tsx
  apps/dashboard/src/app/account/wallets/LinkWalletsUI.stories.tsx
  apps/dashboard/src/app/account/wallets/page.tsx
Labels: Dashboard

#6315 improve Turnstile captcha error messages
  apps/dashboard/src/app/login/auth-actions.ts
Labels: Dashboard

#6311 [TOOL-3496] Dashboard: Ecosystem pages UI improvements
  apps/dashboard/src/@/components/blocks/skeletons/GenericLoadingPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/EcosystemCreatePage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/components/client/create-ecosystem-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/components/pricing-card.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/page.tsx
  apps/dashboard/src/data/analytics/fetch-api-server.ts
  apps/dashboard/src/utils/error.ts
Labels: Dashboard

#6316 [TOOL-3476] Dashboard: Add Transfer Project in Project settings page
  apps/dashboard/src/@/api/team-members.ts
  apps/dashboard/src/@/components/blocks/DangerSettingCard.tsx
  apps/dashboard/src/app/account/overview/AccountTeamsUI.tsx
  apps/dashboard/src/app/account/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/page.tsx
Labels: Dashboard

#6320 [Portal] Minor docs updates for Nebula
  apps/portal/src/app/insight/page.mdx
  apps/portal/src/app/insight/sidebar.tsx
  apps/portal/src/app/nebula/faqs/page.mdx
  apps/portal/src/app/nebula/page.mdx
Labels: Portal

#6300 [SDK] Fix: Upload storage timeout
  .changeset/twelve-walls-teach.md
  packages/thirdweb/src/storage/upload/mobile.ts
  packages/thirdweb/src/storage/upload/web-node.ts
Labels: packages, SDK

#6321 fix: typos in documentation files
  packages/thirdweb/src/rpc/rpc.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/lib/iframe-wallet.ts
Labels: packages, SDK

#6326 migrate analytics endpoints from v1 to v2
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/nebula/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/index.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/fetch-nebula-analytics.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/data/analytics/fetch-analytics.ts
  apps/dashboard/src/data/analytics/wallets/ecosystem.ts
  apps/dashboard/src/types/analytics.ts
  turbo.json
Labels: Dashboard

#6323 [SDK] feat: Enhance fiat onramp with multi-step flow and currency support
  .changeset/shaggy-flowers-argue.md
  apps/playground-web/src/app/connect/pay/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/pay/buyWithFiat/getQuote.ts
  packages/thirdweb/src/pay/buyWithFiat/isSwapRequiredPostOnramp.ts
  packages/thirdweb/src/pay/convert/type.ts
  packages/thirdweb/src/react/core/hooks/connection/ConnectButtonProps.ts
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithFiatStatus.ts
  packages/thirdweb/src/react/core/hooks/wallets/useSendToken.ts
  packages/thirdweb/src/react/core/providers/invalidateWalletBalance.ts
  packages/thirdweb/src/react/core/utils/account.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/NetworkSelector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/icons/currencies/JPYIcon.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/PayWIthCreditCard.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/CurrencySelection.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatFlow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatScreenContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatStatusScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatSteps.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/FiatTxDetailsTable.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/currencies.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useUISelectionStates.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/StepConnector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapSummary.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
Labels: Playground, packages, SDK

#6328 migrate user op analytics to server components
  apps/dashboard/package.json
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/@/api/chain.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/(dashboard)/(chain)/chainlist/components/server/chain-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
  apps/dashboard/src/app/providers.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/search-params.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/index.tsx
  pnpm-lock.yaml
Labels: Dashboard

#6329 chore: allow passing teamId to service-utils auth
  .changeset/cuddly-plants-wait.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/authorize/index.ts
  packages/service-utils/src/core/types.ts
  packages/service-utils/src/node/index.ts
Labels: packages

#6331 migrate analytics params from clientId/accountId to teamId/projectId
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/components/EcosystemAnalyticsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/index.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/header.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/components/embedded-wallets/Analytics/index.tsx
  apps/dashboard/src/data/analytics/fetch-analytics.ts
  apps/dashboard/src/data/analytics/wallets/ecosystem.ts
  apps/dashboard/src/data/analytics/wallets/in-app.ts
  apps/dashboard/src/types/analytics.ts
Labels: Dashboard

#6259 removed discord cta
  .github/contributing.md
  README.md
  apps/dashboard/src/@/components/blocks/app-footer.tsx
  apps/dashboard/src/app/(dashboard)/support/page.tsx
  apps/dashboard/src/components/footer/socialLinks.tsx
  packages/thirdweb/README.md
Labels: merge-queue, Dashboard, packages, SDK

#6258 Update billing management text
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
Labels: Dashboard

#6318 Feature: Routes page
  apps/dashboard/.env.example
  apps/dashboard/src/@/constants/env.ts
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/pagination.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/search.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/type.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/client/view.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/opengraph-image.png
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/types/route.ts
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
  apps/dashboard/src/components/icons/brand-icons/DiscordIcon.tsx
  apps/dashboard/tests/chain-page.spec.ts
  apps/dashboard/tests/contract-page.spec.ts
  apps/dashboard/tests/homepage.spec.ts
  apps/dashboard/tests/publisher-page.spec.ts
  apps/dashboard/tests/setup.ts
Labels: Dashboard

#6332 [SDK] fix: Force pre-EIP1559 transactions on Homeverse chains
  .changeset/violet-planets-remember.md
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/login/src/api/login/config.ts
  packages/thirdweb/src/auth/verify-hash.ts
  packages/thirdweb/src/gas/fee-data.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/currencies.test.tsx
  packages/thirdweb/src/transaction/actions/estimate-gas-cost.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: Dashboard, packages, SDK

#6333 [Dashboard] Fix: Use Secret Key to Fetch Routes on Server
  apps/dashboard/src/app/(dashboard)/(bridge)/utils.ts
Labels: Dashboard

#6317 [SDK] Feature: Add SiweOptions for useConnectModal
  .changeset/tasty-pumpkins-relax.md
  apps/playground-web/src/app/connect/auth/page.tsx
  apps/playground-web/src/components/auth/auth-hook.tsx
  apps/playground-web/src/components/auth/basic-auth-hook.tsx
  apps/playground-web/src/components/sign-in/modal.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectModalContent.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/SignatureScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/useConnectModal.tsx
Labels: Playground, packages, SDK

#6334 [thirdweb] fix: Remove icon property check in currency tests
  .changeset/shaggy-flowers-argue.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/currencies.test.tsx
Labels: packages, SDK

#6294 Version Packages
  .changeset/cuddly-plants-wait.md
  .changeset/fifty-pandas-trade.md
  .changeset/funny-dragons-thank.md
  .changeset/shaggy-flowers-argue.md
  .changeset/tasty-pumpkins-relax.md
  .changeset/twelve-walls-teach.md
  .changeset/violet-planets-remember.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6338 add pastDue to valid billing statuses
  .changeset/wise-boxes-fail.md
  apps/dashboard/knip.json
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/layout.tsx
  apps/dashboard/src/app/team/components/TeamHeader/getValidTeamPlan.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
  apps/portal/knip.json
  packages/service-utils/src/core/api.ts
  packages/thirdweb/src/auth/verify-typed-data.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-modular.test.ts
Labels: Dashboard, Portal, packages, SDK

#6341 [TOOL-3526] Dashboard: Add billing status alert banners
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/BillingAlertBanner.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/BillingAlertBanners.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/BillingAlertBannersUI.tsx
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
Labels: Dashboard

#6342 [TOOL-3528] Dasboard: Fix in-app users CSV downloads empty file
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEmbeddedWallets.ts
  apps/dashboard/src/components/embedded-wallets/Users/index.tsx
  apps/dashboard/src/components/shared/TWTable.tsx
Labels: Dashboard

#6340 update dependencies
  apps/dashboard/next.config.ts
  apps/dashboard/package.json
  apps/login/package.json
  apps/login/src/lib/keys.ts
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#6344 [TOOL-3515] Handle token by index
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/ContractNFTPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/[tokenId]/token-id.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/nfts/components/table.tsx
  packages/thirdweb/src/exports/extensions/erc721.ts
  packages/thirdweb/src/extensions/erc721/read/getNFT.ts
  packages/thirdweb/src/extensions/erc721/read/getNFTs.ts
Labels: hotfix, Dashboard, packages, SDK

#6345 [service-utils] switch to @confluentinc/kafka-javascript
  .changeset/pink-states-tell.md
  packages/service-utils/package.json
  packages/service-utils/src/core/usageV2.ts
  packages/service-utils/src/node/kafka.ts
  packages/service-utils/src/node/usageV2.ts
  pnpm-lock.yaml
Labels: packages

#6346 [service-utils] fix usageV2 caller
  .changeset/social-icons-mix.md
  packages/service-utils/src/cf-worker/usageV2.ts
  packages/service-utils/src/node/usageV2.ts
Labels: packages

#6351 monad-faucet-starter+-only
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/FaucetButton.tsx
  apps/dashboard/src/app/api/testnet-faucet/can-claim/CanClaimResponseType.ts
  apps/dashboard/src/app/api/testnet-faucet/can-claim/route.ts
  apps/dashboard/src/app/api/testnet-faucet/claim/route.ts
Labels: Dashboard

#6352 [Dashboard] Fix explorer functions
  apps/dashboard/src/components/contract-functions/contract-function.tsx
Labels: Dashboard

#6180 [SDK] Feature: Add support for forcing legacy transactions in chain configuration
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/chains/types.ts
  packages/thirdweb/src/gas/fee-data.ts
  packages/thirdweb/src/transaction/actions/to-serializable-transaction.ts
  packages/thirdweb/src/transaction/prepare-transaction.ts
Labels: packages, SDK

#6348 use shouldUpdateSessionKey in login flow
  apps/login/src/api/login/config.ts
  apps/login/src/components/login-form.tsx
Labels: packages, SDK

#6362 fix: remove /storage redirect
  apps/dashboard/redirects.js
  apps/portal/redirects.mjs
Labels: merge-queue, Dashboard, Portal

#6356 [SDK] fix: Update contract ABI caching strategy
  .changeset/thick-bees-deny.md
  .github/workflows/CI.yml
  packages/thirdweb/src/contract/actions/resolve-abi.ts
Labels: packages, SDK

#6363 add /learn routes to framer rewrites
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#6361 [SDK] Feature: Allow forcing deploy/skip_deploy behaviour
  packages/thirdweb/src/wallets/smart/lib/calls.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages, SDK

#6343 Version Packages
  .changeset/pink-states-tell.md
  .changeset/social-icons-mix.md
  .changeset/thick-bees-deny.md
  .changeset/wise-boxes-fail.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6365 upgrade Next.js to 15.2.0
  apps/dashboard/package.json
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, Ecosystem Portal
