Repository thirdweb-dev/js, pull requests merged in 2025-10, with the labels that each got.

#8167 [Multi] Update dependencies, improve wagmi adapter
  .changeset/grumpy-toes-switch.md
  .changeset/quiet-gifts-lead.md
  apps/wagmi-demo/.env.example
  apps/wagmi-demo/.gitignore
  apps/wagmi-demo/.npmrc
  apps/wagmi-demo/README.md
  apps/wagmi-demo/biome.json
  apps/wagmi-demo/index.html
  apps/wagmi-demo/package.json
  apps/wagmi-demo/src/App.tsx
  apps/wagmi-demo/src/index.css
  apps/wagmi-demo/src/main.tsx
  apps/wagmi-demo/src/vite-env.d.ts
  apps/wagmi-demo/src/wagmi.ts
  apps/wagmi-demo/tsconfig.base.json
  apps/wagmi-demo/tsconfig.json
  apps/wagmi-demo/vite.config.ts
  package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem.ts
  packages/thirdweb/src/event/actions/get-events.ts
  packages/thirdweb/src/exports/react.native.ts
  packages/thirdweb/src/exports/react.ts
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
  packages/wagmi-adapter/package.json
  packages/wagmi-adapter/src/connector.ts
  packages/wagmi-adapter/src/exports/thirdweb.ts
  pnpm-lock.yaml
Labels: packages, SDK

#8170 Version Packages
  .changeset/grumpy-toes-switch.md
  .changeset/quiet-gifts-lead.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#8174 [Dashboard] Move server wallet sections to wallets tab
  apps/dashboard/src/@/components/in-app-wallet-users-content/AdvancedSearchInput.tsx
  apps/dashboard/src/@/components/in-app-wallet-users-content/in-app-wallet-users-content.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/transactions/server-wallets/wallet-table/wallet-table-ui.client.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/wallets/page.tsx
Labels: Dashboard

#8175 Fix invoice status logic and refactor billing components
  apps/dashboard/src/app/(app)/team/[team_slug]/(team)/~/billing/invoices/components/billing-history.tsx
Labels: Dashboard

#8177 [SDK] Deprecate payTo parameter and simplify facilitator implementation
  .github/workflows/auto-assign.yml
  apps/playground-web/src/app/payments/x402/components/X402LeftSection.tsx
  apps/playground-web/src/middleware.ts
  packages/thirdweb/src/x402/common.ts
  packages/thirdweb/src/x402/facilitator.ts
  packages/thirdweb/src/x402/schemas.ts
  packages/thirdweb/src/x402/settle-payment.ts
  packages/thirdweb/src/x402/sign.ts
  packages/thirdweb/src/x402/types.ts
  packages/thirdweb/src/x402/verify-payment.ts
Labels: Playground, packages, SDK

#8181 [MNY-192] SDK: BuyWidget Improvements
  .changeset/slow-crews-thank.md
  apps/playground-web/src/app/payments/commerce/CheckoutPlayground.tsx
  apps/playground-web/src/app/payments/components/CodeGen.tsx
  apps/playground-web/src/app/payments/components/LeftSection.tsx
  apps/playground-web/src/app/payments/components/RightSection.tsx
  apps/playground-web/src/app/payments/components/types.ts
  apps/playground-web/src/app/payments/fund-wallet/BuyPlayground.tsx
  apps/playground-web/src/app/payments/transactions/TransactionPlayground.tsx
  packages/thirdweb/src/react/web/ui/Bridge/BuyWidget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/bridge-widget/bridge-widget.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/WithHeader.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/active-wallet-details.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/decimal-input.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/selected-token-button.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/token-balance.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/token-query.ts
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
  packages/thirdweb/src/react/web/ui/Bridge/types.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/Details.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/WalletRow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/formatTokenBalance.ts
  packages/thirdweb/src/react/web/ui/components/CopyIcon.tsx
  packages/thirdweb/src/script-exports/bridge-widget-script.tsx
  packages/thirdweb/src/script-exports/readme.md
  packages/thirdweb/src/stories/BuyWidget.stories.tsx
Labels: Playground, packages, SDK

#8182 Version Packages
  .changeset/slow-crews-thank.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#8184 [SDK] Fix waitUntil facilitator parameter not being respected
  .changeset/ten-donuts-fail.md
  .github/workflows/auto-assign.yml
  apps/playground-web/src/app/api/paywall/route.ts
  apps/playground-web/src/middleware.ts
  packages/thirdweb/src/x402/facilitator.ts
Labels: Playground, packages, SDK

#8188 [Docs] Add MCP tool filtering, agent examples, and available tools list
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/payments/sidebar.tsx
  apps/portal/src/app/payments/x402/agents/page.mdx
Labels: Portal

#8189 [Docs] Update MCP tool filtering to use comma-separated list
  apps/portal/src/app/ai/mcp/page.mdx
  apps/portal/src/app/payments/x402/agents/page.mdx
Labels: Portal

#8190 [Docs] Add metadata to x402 documentation pages
  apps/portal/src/app/payments/x402/agents/page.mdx
  apps/portal/src/app/payments/x402/client/page.mdx
  apps/portal/src/app/payments/x402/facilitator/page.mdx
  apps/portal/src/app/payments/x402/page.mdx
  apps/portal/src/app/payments/x402/server/page.mdx
Labels: Portal

#8198 [MNY-211] Dashboard: Add chainId and is_tesnet properties in reported events
  apps/dashboard/src/@/analytics/report.ts
  apps/dashboard/src/@/components/blocks/BuyAndSwapEmbed.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/BuyFundsSection.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/components/client/chain-pageview.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/(chainPage)/layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/_components/asset-page-view.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/_components/claim-tokens/claim-tokens-ui.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/erc20/erc20.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/nft-page-layout.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-edition-drop/buy-edition-drop.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/(chain)/[chain_id]/[contractAddress]/public-pages/nft/overview/buy-nft-drop/buy-nft-drop.client.tsx
  apps/dashboard/src/app/(app)/(dashboard)/published-contract/components/custom-contract.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/create-nft-page.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/nft/launch/launch-nft.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/create-token-page-impl.tsx
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/tokens/create/token/launch/launch-token.tsx
  apps/dashboard/src/app/bridge/components/client/UniversalBridgeEmbed.tsx
Labels: Dashboard

#8199 [MNY-235] Dashboard: Fix payment page theme issues
  apps/dashboard/src/app/pay/[id]/page.tsx
  apps/dashboard/src/app/pay/components/client/PayPageWidget.client.tsx
  apps/dashboard/src/app/pay/layout.tsx
  apps/dashboard/src/app/pay/page.tsx
Labels: Dashboard

#8193 [MNY-232] SDK: Fix ExecutingTxScreen missing back button in TransactionWidget
  packages/thirdweb/src/react/web/ui/Bridge/TransactionWidget.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/ExecutingScreen.tsx
  packages/thirdweb/src/react/web/ui/TransactionButton/TransactionModal.tsx
Labels: packages, SDK

#8202 Version Packages
  .changeset/eleven-kings-fix.md
  .changeset/rich-pens-hug.md
  apps/wagmi-demo/CHANGELOG.md
  apps/wagmi-demo/package.json
  packages/ai-sdk-provider/CHANGELOG.md
  packages/ai-sdk-provider/package.json
  packages/nebula/CHANGELOG.md
  packages/nebula/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#8201 Portal: Add missing redirects for bridge pages
  apps/portal/redirects.mjs
Labels: Portal

#8216 [Dashboard] Add engineCloud to ActiveStatus and reduce revalidation time to 30 seconds
  apps/dashboard/src/@/api/analytics.ts
  apps/dashboard/src/app/(app)/team/[team_slug]/[project_slug]/(sidebar)/page.tsx
Labels: Dashboard

#8215 SDK: Show error in BuyWidget and SwapWidget UI if fetching token details fails
  .changeset/rare-buckets-fly.md
  packages/thirdweb/src/react/web/ui/Bridge/FundWallet.tsx
  packages/thirdweb/src/react/web/ui/Bridge/common/selected-token-button.tsx
  packages/thirdweb/src/react/web/ui/Bridge/swap-widget/swap-ui.tsx
Labels: packages, SDK
