Repository thirdweb-dev/js, pull requests merged in 2025-03, with the labels that each got.

#6380 [TOOL-3571] Dashboard: Remove custom high z-indices
  apps/dashboard/src/@/components/blocks/DangerSettingCard.tsx
  apps/dashboard/src/@/components/blocks/multi-select.tsx
  apps/dashboard/src/@/components/blocks/select-with-search.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/modules/components/module-card.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/proposals/components/proposal-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/burn-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/claim-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/mint-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/tokens/components/transfer-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-modal.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/_components/version.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/components/EngineAlertDialogForm.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/create-backend-wallet-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/overview/components/import-backend-wallet-button.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/credential-form.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/pay/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  apps/dashboard/src/components/cmd-k-search/index.tsx
  apps/dashboard/src/components/configure-networks/ConfigureNetworkModal.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/deploy-context-modal.tsx
  apps/dashboard/src/components/contract-components/import-contract/modal.tsx
  apps/dashboard/src/components/settings/Account/Billing/share-free-wallets-modal.client.tsx
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
  apps/dashboard/src/contexts/error-handler.tsx
Labels: hotfix, Dashboard

#6381 Portal Changes
  apps/portal/src/app/contracts/page.mdx
  apps/portal/src/app/infrastructure/rpc-edge/overview/page.mdx
  apps/portal/src/app/nebula/faqs/page.mdx
  apps/portal/src/app/nebula/page.mdx
Labels: merge-queue, Portal

#6382 [service-utils] trim project ID prefix
  .changeset/brown-onions-tickle.md
  packages/service-utils/src/node/usageV2.ts
Labels: packages

#6384 chore: forward origin header to usage tracker
  .changeset/rich-planes-drive.md
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

#6385 fix: relative path import for usageV2
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

#6387 [service-utils] fix: crash if Kafka connects more than once
  .changeset/gentle-readers-bet.md
  packages/service-utils/src/node/kafka.ts
Labels: packages

#6389 [TOOL-3572] Dashboard:Fix theming issue in engine pages
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/layout.tsx
Labels: hotfix, Dashboard

#6386 [SDK] fix: Handle comma decimal input in PayEmbed
  .changeset/mean-animals-eat.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/BuyTokenInput.tsx
Labels: packages, SDK

#6390 [SDK] Fix: add gpt protocol to legacy tx chains
  .changeset/every-bees-exist.md
  packages/thirdweb/src/gas/fee-data.ts
Labels: merge-queue, packages, SDK

#6392 [TOOL-3581] Dashboard: Fix project overview page crashing because of ContractDistributionCard
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/Transactions/TransactionCharts.tsx
Labels: Dashboard

#6393 [TOOL-3575] Dashboard: Fix /home link 404 after upgrading to nextjs 15.2
  apps/dashboard/next.config.ts
  apps/dashboard/src/app/components/MobileBurgerMenuButton.tsx
Labels: Dashboard

#6394 [TOOL-3584] Dashboad: Move turnstile widget above connect embed in login page
  apps/dashboard/src/app/login/LoginPage.tsx
Labels: Dashboard

#6400 [TOOl-3587] Dashboard: Add in-app-wallet login mode
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/page.tsx
  apps/dashboard/src/app/nebula-app/login/NebulaLoginPage.tsx
Labels: Dashboard

#6401 remove secretHash from rotate key response
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useApi.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.stories.tsx
  packages/thirdweb/src/utils/bytecode/resolveImplementation.test.ts
Labels: Dashboard, packages, SDK

#6403 skip smart wallet tests without TW_SECRET_KEY
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-modular.test.ts
Labels: packages, SDK

#6299 Update deploy configs
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/platform-fee-fieldset.tsx
  apps/dashboard/src/components/contract-functions/contract-function.tsx
  apps/dashboard/src/constants/addresses.ts
Labels: merge-queue, Dashboard

#6391 playground: fix pay example imports
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
Labels: Playground

#6405 Update implementations
  packages/thirdweb/src/contract/deployment/zksync/implementations.ts
Labels: merge-queue, packages, SDK

#6406 [TOOl-3590] Dashboard: Remove unused components and stories
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/ConnectAnalyticsDashboardUI.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/ConnectAnalyticsDashboard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/DailyConnectionsChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletConnectorsChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/WalletDistributionChartCard.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/analytics/_components/storyUtils.ts
  apps/dashboard/src/components/settings/Account/Billing/CouponCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/share-free-wallets-modal.client.tsx
  apps/dashboard/src/components/settings/Account/Billing/share-free-wallets-modal.stories.tsx
  apps/dashboard/src/lib/format-utils.ts
Labels: Dashboard

#6404 updated dependencies
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/utils/promise/resolve-promised-value.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#6408 [SDK] feat: update zksync chain checks
  packages/thirdweb/src/utils/any-evm/zksync/isZkSyncChain.ts
Labels: packages, SDK

#6409 [service-utils] remove unneeded cf worker imports
  .changeset/short-breads-teach.md
  packages/service-utils/src/cf-worker/index.ts
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

#6411 [TOOL-3598] Dashboard: Add error message in create ecosystem form for image size
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/create/components/client/create-ecosystem-form.client.tsx
Labels: Dashboard

#6412 [SDK] fix: Allow resending OTP on failures
  .changeset/silent-jobs-report.md
  packages/thirdweb/src/extensions/erc1155/drop1155.test.ts
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
  packages/thirdweb/src/transaction/actions/gasless/providers/engine.test.ts
  packages/thirdweb/src/transaction/actions/gasless/providers/openzeppelin.test.ts
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: packages, SDK

#6414 add /faucets to framer rewrites
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#6413 [TOOL-3606] playground: Remove Ethereum as default selected chain in insight playground
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
Labels: Playground

#6407 update engine API routes to include team slug
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useEngine.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/import/EngineImportPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-instances-table.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/overview/engine-list.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(general)/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/components/EngineAlertsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/components/ManageEngineAlerts.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/components/RecentEngineAlerts.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/alerts/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/engine-configuration.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/system.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/metrics/components/EngineSystemMetrics.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineInstance.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineInstancePageMeta.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/_utils/getEngineInstances.ts
Labels: Dashboard

#6416 [service-utils] Add pay as a usage source
  .changeset/slick-eyes-reply.md
  packages/service-utils/src/core/usageV2.ts
Labels: packages

#6418 [TOOL-3610] Dashboard: Fix z-index issue with network selector on chakra modal
  apps/dashboard/src/@/styles/globals.css
Labels: Dashboard

#6421 [Portal] Universal Bridge Docs
  apps/portal/src/app/connect/pay/faqs/page.mdx
  apps/portal/src/app/connect/pay/get-started/page.mdx
  apps/portal/src/app/connect/pay/overview/page.mdx
  apps/portal/src/app/connect/pay/testing-pay/page.mdx
  apps/portal/src/app/connect/pay/webhooks/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
Labels: Portal

#6422 update ecosystem API routes to include team slug
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/EcosystemSlugLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/components/ecosystem-header.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/EcosystemPermissionsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/hooks/use-ecosystem.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/hooks/use-ecosystem-list.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/utils/fetchEcosystem.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/utils/fetchEcosystemList.ts
Labels: Dashboard

#6424 [SDK] expose getUserOpHash utility function
  .changeset/proud-rockets-play.md
  packages/thirdweb/src/exports/wallets/smart.ts
  packages/thirdweb/src/wallets/in-app/core/actions/sign-message.enclave.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
  packages/thirdweb/src/wallets/interfaces/wallet.ts
  packages/thirdweb/src/wallets/smart/lib/userop.ts
Labels: packages, SDK

#6417 Version Packages
  .changeset/proud-rockets-play.md
  .changeset/slick-eyes-reply.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6427 chore: update mainnet AA message
  apps/dashboard/src/components/settings/ApiKeys/Alerts.tsx
Labels: merge-queue, Dashboard

#6429 [TOOL-3630] Dashboard: Add cancel subscriptions option in delete account flow
  apps/dashboard/src/app/account/settings/AccountSettingsPage.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPageUI.stories.tsx
  apps/dashboard/src/app/account/settings/AccountSettingsPageUI.tsx
Labels: Dashboard

#6428 [TOOL-3635] Dashboard: Fix AA factories page crash
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/factories/page.tsx
Labels: Dashboard

#6432 [SDK] feat: Allow custom storage for inApp and ecosystem wallets
  .changeset/gentle-books-begin.md
  packages/thirdweb/src/exports/storage.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/ConnectButton.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/Modal/ConnectEmbed.tsx
  packages/thirdweb/src/react/web/utils/usePreloadWalletProviders.ts
  packages/thirdweb/src/wallets/ecosystem/types.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/types.ts
  packages/thirdweb/src/wallets/in-app/native/auth/passkeys.ts
  packages/thirdweb/src/wallets/in-app/native/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/native/in-app.ts
  packages/thirdweb/src/wallets/in-app/native/native-connector.ts
  packages/thirdweb/src/wallets/in-app/web/ecosystem.ts
  packages/thirdweb/src/wallets/in-app/web/in-app.ts
  packages/thirdweb/src/wallets/in-app/web/lib/auth/passkeys.ts
  packages/thirdweb/src/wallets/in-app/web/lib/web-connector.ts
  packages/thirdweb/src/wallets/in-app/web/types.ts
Labels: packages, SDK

#6433 Version Packages
  .changeset/gentle-books-begin.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6325 Interop module support
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/data-table.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/modular-contract-default-modules-fieldset.tsx
  apps/dashboard/src/components/explore/contract-card/index.tsx
  apps/dashboard/src/data/explore.ts
  packages/thirdweb/src/contract/deployment/utils/create-2-factory.ts
Labels: Dashboard, packages, SDK

#6436 [SDK] test: Update smart wallet tests to use Arbitrum Sepolia
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: packages, SDK

#6437 fix: onramp improvements
  .changeset/puny-breads-return.md
  packages/thirdweb/src/react/core/hooks/pay/useBuyWithCryptoQuote.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
Labels: merge-queue, Playground, packages, SDK

#6435 Version Packages
  .changeset/chilly-trams-wash.md
  .changeset/puny-breads-return.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6438 Improve .NET/Unity Documentation
  apps/portal/src/app/dotnet/insight/quickstart/page.mdx
  apps/portal/src/app/dotnet/nebula/quickstart/page.mdx
  apps/portal/src/app/dotnet/sidebar.tsx
  apps/portal/src/app/dotnet/utils/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/engine-wallet/page.mdx
  apps/portal/src/app/dotnet/wallets/providers/private-key/page.mdx
  apps/portal/src/app/unity/v5/sidebar.tsx
Labels: merge-queue, Portal

#6439 Feature: Adds OTP cooldown timer
  .changeset/deep-shirts-worry.md
  packages/thirdweb/src/react/web/wallets/shared/OTPLoginUI.tsx
Labels: merge-queue, packages, SDK

#6434 [TOOL-3640] Dashboard: Add sponsored transactions table in team usage page
  apps/dashboard/src/@/actions/proxies.ts
  apps/dashboard/src/@/components/blocks/ExportToCSVButton.tsx
  apps/dashboard/src/@/components/blocks/Img.tsx
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/@/components/blocks/wallet-address.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTable.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTableUI.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/SponsoredTransactionsTableUI.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/overview/components/Usage.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/usage/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/page.tsx
  apps/dashboard/src/components/smart-wallets/AccountAbstractionAnalytics/index.tsx
Labels: Dashboard

#6431 [TOOL-3639] Dashboard: Pay > Universal Bridge renaming
  apps/dashboard/redirects.js
  apps/dashboard/src/app/(dashboard)/(chain)/components/server/products.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/account-abstraction/AccountAbstractionPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/_components/header.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/settings/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/components/webhooks.client.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/loading.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/universal-bridge/webhooks/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  packages/service-utils/src/core/services.ts
Labels: Dashboard, packages

#6440 Version Packages
  .changeset/deep-shirts-worry.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6443 BREAKING: Removes 3D model support on MediaRenderer
  .changeset/slow-mails-ring.md
  packages/thirdweb/package.json
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.tsx
  packages/thirdweb/src/react/web/ui/MediaRenderer/ModelViewer.tsx
  pnpm-lock.yaml
Labels: merge-queue, packages, SDK

#6445 Version Packages
  .changeset/slow-mails-ring.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6446 [Dashboard] Feature: update dashboard routes page to handle more routes
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-card.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routelist-row.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/components/server/routes-table.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/opengraph-image.png
  apps/dashboard/src/app/(dashboard)/(bridge)/routes/page.tsx
  apps/dashboard/src/app/(dashboard)/(bridge)/types/route.ts
Labels: merge-queue, Dashboard

#6447 [SDK] fix: Handle authorizationList tx prop in ethers5 adapter
  .changeset/true-actors-agree.md
  packages/thirdweb/src/adapters/ethers5.test.ts
  packages/thirdweb/src/adapters/ethers5.ts
  packages/thirdweb/src/adapters/ethers6.test.ts
Labels: packages, SDK

#6449 [SDK] fix: EIP1193 provider value filtering in transactions
  .changeset/small-taxis-jog.md
  packages/thirdweb/src/adapters/eip1193/to-eip1193.test.ts
  packages/thirdweb/src/wallets/in-app/core/wallet/enclave-wallet.ts
Labels: packages, SDK

#6450 [SDK] test: Add factory address to smart wallet test
  packages/thirdweb/src/wallets/smart/smart-wallet-integration-v07.test.ts
Labels: packages, SDK

#6448 Version Packages
  .changeset/small-taxis-jog.md
  .changeset/true-actors-agree.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6453 [TOOL-3673] Dashboard: change Turnstile widget appearance on missing turnstile token
  apps/dashboard/src/app/login/LoginPage.tsx
  apps/dashboard/src/app/login/auth-actions.ts
Labels: Dashboard

#6461 [TOOL-3681] Portal: Fix code identation in reference pages
  apps/portal/src/components/Document/Code.tsx
  packages/thirdweb/src/react/core/utils/wallet.ts
Labels: Portal, packages, SDK

#6463 add copy invite link feature to team invites
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/ManageInvitesSection.tsx
Labels: Dashboard

#6465 Fix cross chain tab event queries
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/cross-chain/page.tsx
Labels: merge-queue, Dashboard

#6468 Portal: Fix knip lint error - Delete AAChainList
  apps/portal/src/components/Document/AAChainList.tsx
  apps/portal/src/components/Document/index.ts
Labels: Portal

#6466 [TOOL-3684] Dashboard: Add FTUX in project overview page
  apps/dashboard/.storybook/main.ts
  apps/dashboard/src/@/components/blocks/code-segment.client.tsx
  apps/dashboard/src/@/components/ui/DatePickerWithRange.tsx
  apps/dashboard/src/@/components/ui/tabs.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/account/contracts/_components/GetStartedWithContractsDeploy.tsx
  apps/dashboard/src/app/login/onboarding/LoginOrSignup/LoginOrSignup.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/InviteTeamMembers.tsx
  apps/dashboard/src/app/login/onboarding/team-onboarding/team-onboarding.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/analytics/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/configuration/components/engine-wallet-config.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/members/TeamMembersSettingsPage.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/IntegrateAPIKeyCodeTabs.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/ProjectFTUX.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/ProjectFTUX.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectFTUX/SecretKeySection.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/nebula/components/analytics/nebula-analytics-ui.stories.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
  apps/dashboard/src/app/team/components/Analytics/AnalyticsHeader.stories.tsx
  apps/dashboard/src/app/team/components/Analytics/AnalyticsHeader.tsx
  apps/dashboard/src/app/team/components/NotificationButton/NotificationButton.tsx
Labels: Dashboard

#6470 [Docs] Fix: Typo in react/getting-started guide
  apps/portal/src/app/react/v5/getting-started/page.mdx
Labels: Portal

#6471 update dependencies
  .changeset/thin-lines-cover.md
  apps/dashboard/package.json
  apps/login/package.json
  apps/playground-web/package.json
  apps/portal/package.json
  apps/wallet-ui/package.json
  package.json
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/adapters/viem-legacy.test.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#6467 [TOOL-3691] Dashbaord: Keep project settings submit button always enabled
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/ProjectGeneralSettingsPage.tsx
Labels: Dashboard

#6473 [Dashboard] feat: Add access control and server verifier to partner configuration
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/add-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/components/client/update-partner-form.client.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/constants.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-add-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/configuration/hooks/use-update-partner.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/[slug]/(active)/hooks/use-partners.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/~/ecosystem/types.ts
Labels: Dashboard

#6154 [Dashboard] Feature: Adding custom chain info to Hemi Sepolia
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/HemiBanner.png
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/HemiCTA.png
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: Dashboard

#6475 add Stripe integration for team invoices
  apps/dashboard/.env.example
  apps/dashboard/package.json
  apps/dashboard/src/@/actions/billing.ts
  apps/dashboard/src/@/actions/stripe-actions.ts
  apps/dashboard/src/@/api/team.ts
  apps/dashboard/src/app/team/[team_slug]/(team)/_components/BillingAlertBannersUI.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/SettingsLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/_components/sidebar/getTeamSettingsLinks.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/billing/components/PlanInfoCard.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/invoices/components/billing-history.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/invoices/page.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/settings/invoices/search-params.ts
  apps/dashboard/src/stories/stubs.ts
  pnpm-lock.yaml
Labels: Dashboard

#6477 [Portal] updated billing docs
  apps/portal/src/app/account/billing/assets/invoices-settings.png
  apps/portal/src/app/account/billing/manage-billing/page.mdx
  apps/portal/src/app/account/billing/manage-team/page.mdx
Labels: Portal

#6474 updated description of using session keys with Engine
  apps/portal/src/app/engine/features/account-abstraction/page.mdx
Labels: Portal

#6482 [Portal] Update UB Docs
  .github/composite-actions/install/action.yml
  apps/portal/src/app/connect/pay/faqs/page.mdx
Labels: merge-queue, Portal

#6490 [SDK] fix: Handle serialized bigints for packing userops
  .changeset/funny-facts-beam.md
  packages/thirdweb/src/wallets/smart/lib/packUserOp.ts
Labels: packages, SDK

#6489 [Portal] redrafted insight use case page
  apps/portal/src/app/insight/use-cases/page.mdx
Labels: merge-queue, Portal

#6492 [Portal] added agglayer and erc-20 guide
  apps/portal/src/app/contracts/modular-contracts/module-contracts/cross-chain/agglayer/assets/agglayer-module.png
  apps/portal/src/app/contracts/modular-contracts/module-contracts/cross-chain/agglayer/assets/approve-function.png
  apps/portal/src/app/contracts/modular-contracts/module-contracts/cross-chain/agglayer/assets/grant-minter.png
  apps/portal/src/app/contracts/modular-contracts/module-contracts/cross-chain/agglayer/assets/mint-tokens.png
  apps/portal/src/app/contracts/modular-contracts/module-contracts/cross-chain/agglayer/assets/restrict-transfers.png
  apps/portal/src/app/contracts/modular-contracts/module-contracts/cross-chain/agglayer/page.mdx
  apps/portal/src/app/contracts/modular-contracts/tutorials/deploy-erc20-core/assets/contract-metadata.png
  apps/portal/src/app/contracts/modular-contracts/tutorials/deploy-erc20-core/assets/deployed-contract.png
  apps/portal/src/app/contracts/modular-contracts/tutorials/deploy-erc20-core/assets/erc-20-base.png
  apps/portal/src/app/contracts/modular-contracts/tutorials/deploy-erc20-core/assets/modular-contracts.png
  apps/portal/src/app/contracts/modular-contracts/tutorials/deploy-erc20-core/page.mdx
  apps/portal/src/app/contracts/modular-contracts/tutorials/deploy-erc721-core/page.mdx
  apps/portal/src/app/contracts/sidebar.tsx
Labels: Portal

#6469 .NET Docs - Synchronous EngineWallet.Create
  apps/portal/src/app/dotnet/wallets/providers/engine-wallet/page.mdx
Labels: merge-queue, Portal

#6493 [Playground] feat: Add PayEmbed component playground
  apps/playground-web/src/app/connect/pay/components/CodeGen.tsx
  apps/playground-web/src/app/connect/pay/components/types.ts
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/app/connect/pay/embed/page.tsx
  apps/playground-web/src/app/connect/pay/fund-wallet/page.tsx
  apps/playground-web/src/app/connect/pay/page.tsx
  apps/playground-web/src/app/connect/sign-in/button/LeftSection.tsx
  apps/playground-web/src/app/connect/sign-in/components/ColorFormGroup.tsx
  apps/playground-web/src/app/navLinks.ts
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/TransactionModeScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/main/useUISelectionStates.ts
Labels: Playground, packages, SDK

#6498 [SDK] feat: Add Saga Mainnet to gas-free chains
  .changeset/silver-chairs-return.md
  apps/dashboard/src/components/buttons/MismatchButton.tsx
  packages/thirdweb/src/gas/fee-data.ts
Labels: Dashboard, packages, SDK

#6496 [SDK] feat: Support account overrides in engineAccount()
  .changeset/fifty-hoops-build.md
  packages/thirdweb/src/wallets/engine/engine-account.test.ts
  packages/thirdweb/src/wallets/engine/index.ts
Labels: packages, SDK

#6491 [SDK] docs: Add example for shouldUpdateSessionKey function
  apps/dashboard/package.json
  apps/dashboard/src/@/components/ui/code/getCodeHtml.tsx
  apps/login/package.json
  apps/playground-web/package.json
  apps/playground-web/src/components/code/getCodeHtml.tsx
  apps/portal/package.json
  apps/portal/src/components/Document/Code.tsx
  apps/wallet-ui/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/extensions/erc4337/account/addSessionKey.ts
  pnpm-lock.yaml
Labels: Dashboard, Playground, Portal, packages, Ecosystem Portal, SDK

#6500 [SDK] feat: Add fixed gas limit for Saga Mainnet
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
Labels: packages, SDK

#6501 [SDK] fix: Remove fixed gas limit for Saga Mainnet
  packages/thirdweb/src/transaction/actions/estimate-gas.ts
Labels: packages, SDK

#6502 add SMS country selection for in-app wallets
  .changeset/bumpy-ducks-travel.md
  apps/dashboard/src/@/api/sms.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/in-app-wallets/settings/page.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/InAppWalletSettingsUI.stories.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/index.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/sms-country-select/country-selector.tsx
  apps/dashboard/src/components/embedded-wallets/Configure/sms-country-select/utils.ts
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/node/index.ts
Labels: Dashboard, packages

#6499 Version Packages
  .changeset/bumpy-ducks-travel.md
  .changeset/fifty-hoops-build.md
  .changeset/silver-chairs-return.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6503 [SDk] fix: Improve multistep swap UI in PayEmbed
  .changeset/bumpy-webs-crash.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/StepConnector.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapSummary.tsx
Labels: packages, SDK

#6505 [SDK] fix: Enforce requireApproval option for wallet connection
  .changeset/full-games-end.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/WalletSelector.tsx
Labels: packages, SDK

#6494 Docs Revisions: In-app & ecosystem wallet FAQs page, Pay -> Univ Bridge, Wallets Get Started
  apps/portal/src/app/connect/pay/get-started/page.mdx
  apps/portal/src/app/connect/pay/testing-pay/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/connect/wallet/ecosystem/faq/page.mdx
  apps/portal/src/app/connect/wallet/faq/page.mdx
  apps/portal/src/app/connect/wallet/get-started/page.mdx
  apps/portal/src/app/connect/wallet/in-app-wallet/faq/page.mdx
  apps/portal/src/app/dotnet/pay/quickstart/page.mdx
  apps/portal/src/app/insight/use-cases/page.mdx
Labels: Portal

#6464 [SDK] Feature: Adds Universal Bridge
  .changeset/clear-olives-know.md
  packages/thirdweb/package.json
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Routes.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.test.ts
  packages/thirdweb/src/bridge/Status.ts
  packages/thirdweb/src/bridge/constants.ts
  packages/thirdweb/src/bridge/index.ts
  packages/thirdweb/src/bridge/types/Quote.ts
  packages/thirdweb/src/bridge/types/Route.ts
  packages/thirdweb/src/bridge/types/Status.ts
  packages/thirdweb/src/exports/bridge.ts
  packages/thirdweb/src/exports/thirdweb.ts
  packages/thirdweb/tsdoc.json
Labels: packages, SDK

#6506 [SDK] fix: Pass chainId to internal 1193 provider when connecting
  .changeset/cruel-tires-cheer.md
  packages/thirdweb/src/adapters/eip1193/from-eip1193.ts
Labels: packages, SDK

#6504 Version Packages
  .changeset/bumpy-webs-crash.md
  .changeset/clear-olives-know.md
  .changeset/cruel-tires-cheer.md
  .changeset/full-games-end.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6509 [SDK] fix: Improve swap transaction details UI
  .changeset/all-windows-travel.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/SwapDetailsScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/pay-transactions/TokenInfoRow.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/SwapStatusScreen.tsx
Labels: packages, SDK

#6508 Version Packages
  .changeset/all-windows-travel.md
  .changeset/orange-rockets-reply.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6515 [SDK] fix: Fetch fresh quotes before post onramp step in PayEmbed
  .changeset/silly-times-shop.md
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
Labels: Playground, packages, SDK

#6510 [Dashboard] Fix: wrong URL
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/credential-form.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/~/engine/(instance)/[engineId]/wallet-credentials/components/wallet-credentials.tsx
Labels: Dashboard

#6516 Version Packages
  .changeset/silly-times-shop.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6451 [Portal] Neb Changes
  apps/dashboard/src/app/nebula-app/(app)/data/examplePrompts.ts
  apps/portal/src/app/nebula/prompt-guide/page.mdx
Labels: Dashboard, Portal, Stale

#6518 [SDK] fix: Handle wallet chain mismatch on post onramp flow
  .changeset/quiet-melons-jump.md
  apps/playground-web/src/components/pay/embed.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/swap/ConfirmationScreen.tsx
  packages/thirdweb/src/wallets/smart/index.ts
Labels: Playground, packages, SDK

#6519 Version Packages
  .changeset/quiet-melons-jump.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6517 [Docs] Fix: typo
  apps/portal/src/app/connect/pay/webhooks/page.mdx
Labels: Portal

#6524 chore: Add jittered retry on auth call
  packages/service-utils/src/core/api.ts
Labels: packages

#6525 quick get started docs fixes per Jem's revisions
  apps/portal/src/app/connect/wallet/get-started/page.mdx
Labels: Portal

#6527 [SDK] Update @mobile-wallet-protocol/client to 1.0.0
  .changeset/evil-cases-read.md
  packages/react-native-adapter/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/wallets/coinbase/coinbase-mobile.ts
  pnpm-lock.yaml
Labels: packages, SDK

#6526 [Service-Utils] feat: Add engine-cloud service definition
  .changeset/sour-adults-open.md
  packages/service-utils/src/core/api.ts
  packages/service-utils/src/core/services.ts
Labels: packages

#6528 Version Packages
  .changeset/evil-cases-read.md
  .changeset/sour-adults-open.md
  packages/react-native-adapter/CHANGELOG.md
  packages/react-native-adapter/package.json
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6530 [Dashboard] Disable engineCloud service by default
  apps/dashboard/src/components/settings/ApiKeys/Create/index.tsx
  apps/dashboard/src/components/settings/ApiKeys/validations.ts
Labels: Dashboard, packages

#6497 Handle default extensions
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
  packages/thirdweb/src/contract/deployment/deploy-dynamic.test.ts
  packages/thirdweb/src/contract/deployment/utils/bootstrap.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-marketplace.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.test.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
Labels: merge-queue, Dashboard, packages, SDK

#6534 [TOOL-3757] Dashboard: Prefill last used project in contract deployment page
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/SaveLastUsedProject.ts
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/components/contract-components/contract-deploy-form/custom-contract.tsx
Labels: Dashboard

#6533 [TOOL-3682] Dashboard: Change deploy contract status for in-app wallet
  apps/dashboard/src/components/contract-components/contract-deploy-form/deploy-context-modal.tsx
Labels: Dashboard

#6543 [Playground] Refactor Universal Bridge sidebar links and update order
  apps/playground-web/public/ub.png
  apps/playground-web/src/app/connect/pay/backend/layout.tsx
  apps/playground-web/src/app/connect/pay/backend/page.tsx
  apps/playground-web/src/app/connect/pay/backend/reference/page.tsx
  apps/playground-web/src/app/connect/pay/backend/utils.ts
  apps/playground-web/src/app/insight/[blueprint_slug]/blueprint-playground.client.tsx
  apps/playground-web/src/app/insight/[blueprint_slug]/page.tsx
  apps/playground-web/src/app/navLinks.ts
  apps/playground-web/src/lib/client.ts
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  packages/thirdweb/scripts/typedoc.mjs
  packages/thirdweb/src/extensions/thirdweb/write/publish.ts
  packages/thirdweb/src/react/web/ui/PayEmbed.tsx
Labels: Playground, Portal, packages, SDK

#6545 [Bridge] Skip tests without TW_SECRET_KEY environment variable
  .changeset/ready-bobcats-tan.md
  packages/service-utils/package.json
  packages/thirdweb/package.json
  packages/thirdweb/src/bridge/Buy.test.ts
  packages/thirdweb/src/bridge/Routes.test.ts
  packages/thirdweb/src/bridge/Sell.test.ts
  packages/thirdweb/src/bridge/Status.test.ts
  packages/wagmi-adapter/package.json
  pnpm-lock.yaml
Labels: packages, SDK

#6536 [Portal] AI updated docs
  apps/portal/src/app/nebula/mcp-server/get-started/page.mdx
  apps/portal/src/app/nebula/mcp-server/integrations/claude-desktop/page.mdx
  apps/portal/src/app/nebula/mcp-server/integrations/mcp-clients/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
  apps/portal/src/app/nebula/tools/page.mdx
  apps/portal/src/app/nebula/tools/python-sdk/page.mdx
  apps/portal/src/app/page.tsx
Labels: Portal

#6552 Portal: Fix lint error
  apps/portal/src/app/nebula/sidebar.tsx
Labels: Portal

#6553 fixed broken links
  apps/portal/src/app/nebula/faqs/page.mdx
  apps/portal/src/app/nebula/mcp-server/integrations/claude-desktop/page.mdx
  apps/portal/src/app/nebula/sidebar.tsx
  apps/portal/src/app/nebula/tools/python-sdk/installation/page.mdx
Labels: merge-queue, Portal

#6532 [TOOL-3786] Portal: Improve llms.txt, llms-full.txt
  apps/portal/src/app/api/search/extraction/index.ts
  apps/portal/src/app/connect/account-abstraction/batching-transactions/page.mdx
  apps/portal/src/app/connect/page.mdx
  apps/portal/src/app/react/v5/account-abstraction/batching-transactions/page.mdx
  apps/portal/src/app/typescript/v5/account-abstraction/batching-transactions/page.mdx
Labels: Portal

#6535 [TOOL-3689] Dashboard: Keep switch in disabled state if field value is empty in Sponsorship rules form
  apps/dashboard/src/components/smart-wallets/SponsorshipPolicies/index.tsx
Labels: Dashboard

#6531 [TOOL-3735] Fix minor typos
  apps/dashboard/src/components/pay/PayConfig.tsx
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/app/connect/sign-in/embed/page.tsx
  apps/playground-web/src/app/connect/sign-in/headless/page.tsx
Labels: Dashboard, Playground

#6550 [SDK] Functions to manage extensions on a dynamic contract
  .changeset/puny-planes-study.md
  packages/thirdweb/scripts/generate/abis/dynamic-contracts/IExtensionManager.json
  packages/thirdweb/src/exports/extensions/dynamic-contracts.ts
  packages/thirdweb/src/extensions/dynamic-contracts/__generated__/IExtensionManager/write/addExtension.ts
  packages/thirdweb/src/extensions/dynamic-contracts/__generated__/IExtensionManager/write/removeExtension.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/installPublishedExtension.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/installPublishedExtension.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/uninstallExtension.test.ts
  packages/thirdweb/src/extensions/dynamic-contracts/write/uninstallExtension.ts
  packages/thirdweb/src/extensions/prebuilts/get-required-transactions.ts
Labels: merge-queue, hotfix, packages, SDK

#6555 [Playground] Rename "Fund Wallet" to "Buy Crypto" across pay components
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/embed/RightSection.tsx
  apps/playground-web/src/app/connect/pay/fund-wallet/page.tsx
  apps/playground-web/src/app/navLinks.ts
Labels: Playground

#6556 chore: make req optional when calling usage from cloudflare
  packages/service-utils/src/cf-worker/usageV2.ts
Labels: packages

#6558 [Portal] Redesign documentation homepage with SDK cards and product icons
  apps/portal/src/app/page.tsx
  apps/portal/src/components/Document/SDKCard.tsx
  apps/portal/src/icons/products/BridgeIcon.tsx
  apps/portal/src/icons/products/ConnectIcon.tsx
  apps/portal/src/icons/products/ContractsIcon.tsx
  apps/portal/src/icons/products/EngineIcon.tsx
  apps/portal/src/icons/products/InsightIcon.tsx
  apps/portal/src/icons/products/NebulaIcon.tsx
  apps/portal/src/icons/products/PlaygroundIcon.tsx
Labels: Portal

#6560 chore: hide Engine projects from list
  apps/dashboard/src/app/team/[team_slug]/(team)/~/projects/TeamProjectsPage.tsx
Labels: Dashboard

#6554 [TOOL-3789] Dashboard: Replace simplehash with insight
  apps/dashboard/src/@/actions/getWalletNFTs.ts
  apps/dashboard/src/@3rdweb-sdk/react/hooks/useWalletNFTs.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-button.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/components/list-form.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/ContractDirectListingsPage.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/ContractDirectListingsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/direct-listings/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/ContractEnglishAuctionsPage.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/ContractEnglishAuctionsPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/(marketplace)/english-auctions/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageMetadata.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/getContractPageSidebarLinks.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/_utils/isAnalyticsSupportedForChain.ts
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/AccountPage.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/AccountPage.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/components/nfts-owned.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/account/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/ContractAnalyticsPage.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/analytics/page.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/overview/contract-overview-page.client.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/[contractAddress]/page.tsx
  apps/dashboard/src/app/api/nft/is-simplehash-supported/route.ts
  apps/dashboard/src/lib/wallet/nfts/simpleHash.ts
  apps/dashboard/src/lib/wallet/nfts/types.ts
Labels: Dashboard

#6562 [SDK] Fix: Account for bigint values in engine typed data
  .changeset/social-shoes-start.md
  packages/thirdweb/src/wallets/engine/index.ts
Labels: merge-queue, packages, SDK

#6546 Version Packages
  .changeset/eager-parents-drive.md
  .changeset/puny-planes-study.md
  .changeset/ready-bobcats-tan.md
  .changeset/social-shoes-start.md
  packages/service-utils/CHANGELOG.md
  packages/service-utils/package.json
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6563 new narrative
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
  apps/portal/src/app/connect/pay/overview/page.mdx
  apps/portal/src/app/connect/pay/webhooks/page.mdx
  apps/portal/src/app/layout.tsx
Labels: merge-queue, Dashboard, Portal

#6569 Fix "Cannot read properties of undefined (reading 'forwardRef')" error on certain bundler setups
  .changeset/crazy-cups-jump.md
  packages/thirdweb/src/react/web/ui/MediaRenderer/MediaRenderer.tsx
Labels: packages, SDK

#6566 [Dashboard] reactive(1597) chainlist page update
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/reactiveBanner.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/temp-assets/reactiveCTA.jpg
  apps/dashboard/src/app/(dashboard)/(chain)/utils.ts
Labels: merge-queue, Dashboard

#6551 [TOOL-3761] Dashboard: Use new sidebar layout in project pages
  apps/dashboard/src/@/components/blocks/MobileSidebar.tsx
  apps/dashboard/src/@/components/blocks/Sidebar.tsx
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
  apps/dashboard/src/@/components/ui/NavLink.tsx
  apps/dashboard/src/@/components/ui/sidebar.tsx
  apps/dashboard/src/@/hooks/use-mobile.tsx
  apps/dashboard/src/app/account/contracts/DeployedContractsPageHeader.tsx
  apps/dashboard/src/app/account/contracts/_components/DeployedContractsPage.tsx
  apps/dashboard/src/app/account/layout.tsx
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/(team)/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/components/ProjectSidebarLayout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/connect/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/insight/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/page.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/settings/layout.tsx
  apps/dashboard/src/app/team/[team_slug]/[project_slug]/tabs.tsx
  apps/dashboard/src/app/team/[team_slug]/layout.tsx
  apps/dashboard/src/components/notices/AnnouncementBanner.tsx
  apps/dashboard/src/global.css
  apps/dashboard/tailwind.config.js
Labels: Dashboard

#6565 [NEB-125] Nebula: Show popular chains at the top of the list
  apps/dashboard/src/@/components/blocks/NetworkSelectors.tsx
  apps/dashboard/src/app/(dashboard)/(chain)/[chain_id]/(chainPage)/components/server/BuyFundsSection.tsx
  apps/dashboard/src/app/nebula-app/(app)/components/ContextFilters.tsx
Labels: Dashboard

#6564 [NEB-148] Do not add active chain to nebula context by default
  apps/dashboard/src/app/nebula-app/(app)/components/ChatPageContent.tsx
Labels: Dashboard

#6571 [Portal] Add cross-chain swapping guide and add bridge submodules
  apps/portal/src/app/connect/pay/guides/build-a-custom-experience/page.mdx
  apps/portal/src/app/connect/pay/guides/cross-chain-swapping/page.mdx
  apps/portal/src/app/connect/sidebar.tsx
  apps/portal/src/app/references/components/TDoc/utils/getSidebarLinkgroups.ts
  apps/portal/src/app/references/components/TDoc/utils/slugs.ts
  packages/thirdweb/src/bridge/Buy.ts
  packages/thirdweb/src/bridge/Sell.ts
  packages/thirdweb/src/bridge/Status.ts
Labels: Portal, packages, SDK

#6573 [Portal] fee-changes
  apps/dashboard/src/components/pay/PayConfig.tsx
  apps/portal/src/app/connect/pay/faqs/page.mdx
  apps/portal/src/app/connect/pay/fee-sharing/page.mdx
Labels: Dashboard, Portal

#6567 added FAQ
  apps/portal/src/app/nebula/faqs/page.mdx
Labels: Portal

#6570 Version Packages
  .changeset/crazy-cups-jump.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6572 Update page.mdx
  apps/portal/src/app/connect/pay/overview/page.mdx
Labels: Portal

#6495 Support stylus contracts publish and deploy
  .changeset/sharp-bugs-dance.md
  packages/thirdweb/package.json
  packages/thirdweb/scripts/generate/abis/stylus/IArbWasm.json
  packages/thirdweb/src/cli/bin.ts
  packages/thirdweb/src/cli/commands/stylus/builder.ts
  packages/thirdweb/src/cli/commands/stylus/create.ts
  packages/thirdweb/src/contract/deployment/deploy-deterministic.ts
  packages/thirdweb/src/contract/deployment/deploy-with-abi.ts
  packages/thirdweb/src/contract/deployment/utils/bootstrap.ts
  packages/thirdweb/src/contract/deployment/utils/infra.ts
  packages/thirdweb/src/exports/extensions/stylus.ts
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
  packages/thirdweb/src/extensions/stylus/__generated__/IArbWasm/write/activateProgram.ts
  packages/thirdweb/src/extensions/stylus/write/activateStylusContract.ts
  packages/thirdweb/src/utils/any-evm/compute-deployment-address.ts
  packages/thirdweb/src/utils/any-evm/compute-published-contract-deploy-info.ts
  packages/thirdweb/src/utils/any-evm/deploy-metadata.ts
  packages/thirdweb/src/utils/any-evm/encode-extra-data-with-uri.ts
  pnpm-lock.yaml
Labels: packages, SDK

#6576 [TOOL-3833] Dashboard: Fix overflow scroll created by sr-only element
  apps/dashboard/src/@/components/ui/breadcrumb.tsx
  apps/dashboard/src/@/components/ui/pagination.tsx
Labels: Dashboard

#6574 insight webhooks docs
  apps/portal/src/app/insight/sidebar.tsx
  apps/portal/src/app/insight/webhooks/filtering/page.mdx
  apps/portal/src/app/insight/webhooks/managing-webhooks/page.mdx
  apps/portal/src/app/insight/webhooks/page.mdx
  apps/portal/src/app/insight/webhooks/payload/page.mdx
Labels: Portal

#6577 fix: reduce cost of playground commerce example
  apps/playground-web/src/components/pay/direct-payment.tsx
Labels: Playground

#6578 Fix: Not Found Status should show Pending
  .changeset/all-grapes-own.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/fiat/OnRampScreen.tsx
Labels: merge-queue, packages, SDK

#6579 [TOOL-3839] Fix double scrollbars in project settings page
  apps/dashboard/src/@/components/blocks/SidebarLayout.tsx
Labels: hotfix, Dashboard

#6580 [PayEmbed] Respect supportedTokens prop
  .changeset/modern-tables-sing.md
  packages/thirdweb/src/react/web/ui/ConnectWallet/screens/Buy/BuyScreen.tsx
Labels: packages, SDK

#6575 Version Packages
  .changeset/all-grapes-own.md
  .changeset/modern-tables-sing.md
  .changeset/sharp-bugs-dance.md
  packages/thirdweb/CHANGELOG.md
  packages/thirdweb/package.json
  packages/wagmi-adapter/CHANGELOG.md
  packages/wagmi-adapter/package.json
Labels: packages, SDK

#6582 Fix: Increase commerce price to avoid minimum purchase errors
  apps/playground-web/src/components/pay/direct-payment.tsx
Labels: Playground

#6568 [TOOL-3814] Dashboard: Show all active coupons in team billing page
  apps/dashboard/.storybook/preview.tsx
  apps/dashboard/src/components/settings/Account/Billing/ApplyCouponCard.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponCard.tsx
  apps/dashboard/src/components/settings/Account/Billing/CouponDetails.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/Coupons.stories.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/Coupons.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/CouponsClient.tsx
  apps/dashboard/src/components/settings/Account/Billing/SubscriptionCoupons/CouponsUI.tsx
  apps/dashboard/src/components/settings/Account/Billing/index.tsx
Labels: Dashboard

#6581 [SDK] fix: Use default contract params with optional overrides
  packages/thirdweb/src/extensions/prebuilts/deploy-published.ts
Labels: packages, SDK

#6584 [CLI] Fix secret key handling
  .changeset/neat-clowns-wish.md
  packages/thirdweb/src/cli/bin.ts
  packages/thirdweb/src/cli/commands/stylus/builder.ts
Labels: packages, SDK

#6588 [SDK] Add erc20Value for makeOffer extension function
  .changeset/wicked-kings-joke.md
  packages/thirdweb/src/extensions/marketplace/offers/write/makeOffer.ts
Labels: packages, SDK

#6592 Remove tutorial routes from framer rewrites
  apps/dashboard/framer-rewrites.js
  apps/dashboard/redirects.js
Labels: Dashboard

#6591 [TOOL-3874] Portal: Fix pl.js script CSP error
  apps/portal/next.config.mjs
Labels: Portal

#6594 Add glossary slug route to framer rewrites
  apps/dashboard/framer-rewrites.js
Labels: Dashboard

#6596 Dashboard: Fix AA page alert styles
  apps/dashboard/src/components/settings/ApiKeys/Alerts.tsx
Labels: Dashboard

#6597 [TOOL-3880] Playground: Add utm_source on links
  apps/playground-web/src/app/connect/account-abstraction/connect/page.tsx
  apps/playground-web/src/app/connect/account-abstraction/native-aa/page.tsx
  apps/playground-web/src/app/connect/account-abstraction/sponsor/page.tsx
  apps/playground-web/src/app/connect/auth/page.tsx
  apps/playground-web/src/app/connect/blockchain-api/page.tsx
  apps/playground-web/src/app/connect/in-app-wallet/layout.tsx
  apps/playground-web/src/app/connect/pay/backend/layout.tsx
  apps/playground-web/src/app/connect/pay/commerce/page.tsx
  apps/playground-web/src/app/connect/pay/embed/LeftSection.tsx
  apps/playground-web/src/app/connect/pay/fund-wallet/page.tsx
  apps/playground-web/src/app/connect/pay/page.tsx
  apps/playground-web/src/app/connect/pay/transactions/page.tsx
  apps/playground-web/src/app/connect/sign-in/button/LeftSection.tsx
  apps/playground-web/src/app/connect/sign-in/button/page.tsx
  apps/playground-web/src/app/connect/sign-in/components/InAppWalletFormGroup.tsx
  apps/playground-web/src/app/connect/sign-in/embed/page.tsx
  apps/playground-web/src/app/connect/sign-in/headless/page.tsx
  apps/playground-web/src/app/connect/social/page.tsx
  apps/playground-web/src/app/connect/ui/chain/page.tsx
  apps/playground-web/src/app/connect/ui/nft/page.tsx
  apps/playground-web/src/app/connect/ui/page.tsx
  apps/playground-web/src/app/connect/ui/token/page.tsx
  apps/playground-web/src/app/connect/ui/wallet/page.tsx
  apps/playground-web/src/app/insight/layout.tsx
  apps/playground-web/src/app/insight/page.tsx
  apps/playground-web/src/app/otherLinks.ts
  apps/playground-web/src/components/auth/gated-content.tsx
  apps/playground-web/src/components/blocks/APIHeader.tsx
  apps/playground-web/src/components/engine/minting/erc1155-mint-to.tsx
Labels: Playground
